<div class="w-100 h-100 card-padding">

  <mat-card class="mat-elevation-z0 main-mat-card mat-card card-border-radius no-bottom-border-radius">
    <div class="default-margin">
      <form [formGroup]="productPriceForm">
        <div class="all-line-input">
          <mat-form-field>
            <mat-select formControlName="priceBookId" (selectionChange)="setCurrency($event)">
              <mat-option *ngFor="let priceBook of priceBooks" [value]="priceBook.id">
                {{priceBook.name + (priceBook.currency ? ' (' + (priceBook.currency | getCurrencySymbol) + ')' : '')}}
              </mat-option>
            </mat-select>
            <mat-placeholder class="placeholder">{{'productPrice.addProductToPrice.priceBookName' | translate}}</mat-placeholder>
            <mat-error *ngIf="price.hasError('required')">
              {{'productPrice.addProductToPrice.fieldRequired' | translate}}
            </mat-error>
          </mat-form-field>
        </div>

        <div *ngIf="priceBookId.value" class="mt-3">
          <div class="price-input in-on-line">
            <mat-form-field>
              <input formControlName="price" matInput mask="separator.2" [validation]="false">
              <mat-placeholder
                class="placeholder">{{'productPrice.addProductToPrice.price' | translate}}</mat-placeholder>
              <mat-error *ngIf="price.hasError('required')">
                {{'productPrice.addProductToPrice.fieldRequired' | translate}}
              </mat-error>
              <mat-error *ngIf="price.hasError('min')">
                {{'productPrice.addProductToPrice.minValue' | translate}}
              </mat-error>
            </mat-form-field>
          </div>

          <div class="little-input in-on-line">
            <mat-form-field>
              <input formControlName="currency" matInput>
              <mat-placeholder
                class="placeholder">{{'productPrice.addProductToPrice.currency' | translate}}</mat-placeholder>
            </mat-form-field>
          </div>

          <div class="active-checkbox">
            <mat-checkbox color="primary" formControlName="active">
              {{'priceBook.form.active' | translate}}
            </mat-checkbox>
          </div>
        </div>
      </form>
    </div>
  </mat-card>

  <div class="button-container">
    <mat-card class="mat-elevation-z0 card-border-radius no-top-border-radius">
      <div class="row">
        <div class="col-md-12">
          <button (click)="submitAndAddNext()" color="primary" [disabled]="!productPriceForm.valid" type="button"
                  mat-raised-button>{{'productPrice.addProductToPrice.saveAndAddNextPriceBook' | translate}}</button>
          <span class="pull-right">
            <button (click)="closeSlider()" class="button-medium" color="primary" type="button"
                    mat-stroked-button>{{'productPrice.addProductToPrice.cancel' | translate}}</button>
            <button (click)="submit()" class="button-medium ml-2" color="primary" type="button"
                    mat-raised-button>{{'productPrice.addProductToPrice.' + (this.editedProductPrice ? 'save' : 'add') | translate}}</button>
          </span>
        </div>
      </div>
    </mat-card>
  </div>
</div>
