@import "~src/styles/slider";
@import "~src/styles/form";
@import "~src/styles/colors";
@import "~src/styles/font-weights";


.all-line-input > .mat-form-field {
  width: 100%;
  padding-right: 10px;
}

.default-margin {
  margin: 15px 10px 0 10px
}

.little-input > .mat-form-field {
  width: 90px;
}

.active-checkbox {
  margin-top: 10px;
}

.in-on-line {
  display: inline-block;
}

.price-input {
  margin-right: 10px;
}

.price-input > .mat-form-field {
  width: 120px;
}
