@import '~src/styles/colors';
@import "~src/styles/font-weights";

.sell-history-container {
  max-height: 400px;
  overflow: auto;
}

.sell-history {
  margin-bottom: 20px;

  .sell-history-header {
    text-align: left;
    font: $SemiBold 14px/24px Poppins;
    letter-spacing: 0;
    color: $text-title;
  }

  .sell-history-body {
    text-align: left;
    font: $Regular 14px/24px Poppins;
    letter-spacing: 0;
    color: $action-color;
  }
}

.no-history-primary-text {
  text-align: center;
  color: $action-color;
  font-size: 14px;
  font-weight: $Medium;
}
