<div *ngIf="sellHistories?.length; else emptyHistoryList" class="sell-history-container">
  <div class="sell-history" *ngFor="let sellHistory of sellHistories; let i = index">
    <div class="sell-history-header">{{ sellHistory.finishDate | formatDate }}</div>
    <div class="sell-history-body">
      <!-- {{ "products.sellHistory.contractNumber" | translate }}
      {{ sellHistory.contractNumber || i }}, -->
      {{ "products.sellHistory.client" | translate }}: {{ sellHistory.clientName
      }}<br />
      {{ "products.sellHistory.amount" | translate }}: {{ sellHistory.quantity }}<br />
      {{ "products.sellHistory.unit" | translate }}: {{ sellHistory.unit }}<br />
      {{ "products.sellHistory.unitPrice" | translate }}:
      {{ sellHistory.price | formatCurrency:sellHistory.currency }}<br />
      {{ "products.sellHistory.contractValue" | translate }}:
      {{ sellHistory.priceSummed | formatCurrency:sellHistory.currency }}
    </div>
  </div>
</div>

<ng-template #emptyHistoryList>
  <div  class="no-history-primary-text">
    <img alt="Empty history list" src="assets/icons/face-sad.svg">
    <div>{{"products.sellHistory.noHistory" | translate }}</div>
  </div>
</ng-template>
