<div class="phone-fields">
  <mat-form-field *ngFor="let phone of phones.controls; let i = index">
    <input
      [formControl]="phone"
      matInput
      [mask]="phoneService.getPhoneInputMask(phone.value)"
      type="tel"
      (focusout)="onBlur($event)"
      (focusin)="onFocus($event)"
    />
    <app-icon
      (click)="removePhone($event, i)"
      matSuffix
      svgIcon="trash"
      [hover]="false"
      size="16px"
    ></app-icon>
    <mat-error *ngIf="phone.hasError('required')">
      {{ "leads.details.requiredField" | translate }}
    </mat-error>
    <mat-placeholder class="placeholder">{{ types[i].name }}</mat-placeholder>
  </mat-form-field>
</div>
