@import "~src/styles/font-weights.scss";
@import "~src/styles/common.scss";
@import "~src/styles/colors.scss";


.history-tab {
  padding-left: 15px;

  .title {
    font-size: 10px;
    font-weight: $Medium;
    letter-spacing: 1.2px;
    color: $text-title;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px
  }
}

.history-element {
  display: flex;
  margin-top: 20px;

  .date {
    font-size: 12px;
    font-weight: $Medium;
    color: $text-secondary;
    width: 150px;
  }

  .element-content {
    flex: 1;
  }

  .element-title {
    font-size: 13px;
    font-weight: $Medium;
    color: $text-title;
  }

  .element-type {
    font-size: 12px;
    font-weight: $Medium;
    color: $text-title;
  }

  .element-description {
    font-size: 12px;
    font-weight: $Medium;
    color: $text-secondary;
  }
}
.history-tab-parent.big-size {
  height: calc(100vh - 398px) !important;
}
.history-tab-parent.full-height {
  height: 100% !important;
}
.history-tab-parent {
  height: calc(100vh - 623px);
  overflow-y: auto;
  padding-top: 10px;
  min-height: 300px;
}
