<div class="history-tab-parent" [ngClass]="{'big-size' : bigSize, 'full-height': fullHeight}">
  <div class="history-tab">
    <div class="title">{{('tabs.history.title.' + (type | lowercase)) | translate}}</div>
    <div class="content">
      <div class="list" *ngFor="let changeElement of (changeList | sortProperty:'modifiedTime':false)">
        <ng-container [ngTemplateOutlet]="element" [ngTemplateOutletContext]="{item: changeElement}"></ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #element let-item="item">
  <div class="history-element">
    <div class="date">{{item.modifiedTime | formatDate}} <span>{{item.modifiedTime | formatTime}}</span></div>
    <div class="element-content">
      <div class="element-title">{{userMap.get(item.email)}}</div>
      <div *ngIf="item.objectType
                  && (item.objectType !== 'LEAD' && item.objectType !== 'CUSTOMER' && item.objectType !== 'CONTACT')"
           class="element-type">{{"leads." + (item.objectType | lowercase) | translate}}</div>
      <div>
        <ng-container *ngIf="item.changes" [ngTemplateOutlet]="changes"
                      [ngTemplateOutletContext]="{changes: item.changes, objectType: item.objectType}"></ng-container>
        <ng-container *ngIf="!item.changes" [ngTemplateOutlet]="change"
                      [ngTemplateOutletContext]="{change: item, objectType: item.objectType}"></ng-container>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #change let-change="change" let-objectType="objectType">
  <div class="element-description" *ngIf="change.version === 1 && isShowValue(change, objectType)">
    {{'tabs.history.newField' | translate}}
    <b>{{('tabs.history.fieldNames.' + ((objectType ? objectType : type) | lowercase ) + '.' + change.fieldName) | translate}} </b>
    <ng-container *ngIf="isShowValue(change, objectType)">
      {{'tabs.history.newFieldValue' | translate}} <i>{{getValue(change, true, objectType)}}</i>
    </ng-container>
  </div>
  <div class="element-description" *ngIf="change.version !== 1 && isShowValue(change, objectType)">
    {{'tabs.history.changeField' | translate}}
    <b>{{('tabs.history.fieldNames.' + ((objectType ? objectType : type) | lowercase) + '.' + change.fieldName) | translate}} </b>
    <ng-container *ngIf="isShowValue(change, objectType)">
      {{'tabs.history.fromField' | translate}}
      <i> {{getValue(change, false, objectType)}}</i> {{'tabs.history.toField' | translate}}
      <i>{{getValue(change, true, objectType)}}</i>
    </ng-container>
  </div>
</ng-template>

<ng-template #changes let-changes="changes" let-objectType="objectType">
  <div>
    <ng-container
      *ngFor="let changeElement of changes"
      [ngTemplateOutlet]="change"
      [ngTemplateOutletContext]="{change: changeElement, objectType: objectType}"
    ></ng-container>
  </div>
</ng-template>
