<div *ngIf="account">
  <div class="person-header">
    <div>
    <span>
      <app-avatar-preview [imageSrc]="account?.person?.avatar" [widthPx]="65" defaultImg="assets/icons/user-logo.svg"></app-avatar-preview>
    </span>
    </div>
    <div *ngIf="'LeadDetailsComponent.mainInfo' | auth:'i':true">
      <div class="name-container">
      <span *ngIf="('PersonInfoComponent.nameLabel' | auth:'i':true)">
        {{ account.person.name ? account.person.name + ' ' : '' }}
      </span>
        <span *ngIf="('PersonInfoComponent.surnameLabel' | auth:'i':true)">
        {{ account.person.surname }}
      </span>
        <div *ngIf="('PersonInfoComponent.roleLabel' | auth:'i':true)" class="position-container">
          {{ account.role.name }}
        </div>
      </div>
    </div>

    <div *ngIf="('PersonInfoComponent.isActivatedLabel' | auth:'i':true)">
      <div class="header-field-header">{{'person.detail.info.fields.status' | translate}}</div>
      <div class="header-field">
        <span *ngIf="account.isActivated">
          <img src="assets/icons/dot-green.svg">
          <span class="ml-2">{{ 'person.detail.info.fields.active' | translate }}</span>
        </span>
        <span *ngIf="!account.isActivated">
          <img src="assets/icons/dot-green.svg">
          <span class="ml-2">{{ 'person.detail.info.fields.inactive' | translate }}</span>
        </span>
      </div>
    </div>

    <div *ngIf="('PersonInfoComponent.phoneLabel' | auth:'i':true)">
      <div class="header-field-header">{{'person.detail.info.fields.phone' | translate}}</div>
      <div
        class="header-field">{{account.person.phone !== null ? (account.person.phone | phone) : ('person.detail.info.fields.noData' | translate)}}</div>
    </div>
    <div *ngIf="('PersonInfoComponent.emailLabel' | auth:'i':true)">
      <div class="header-field-header">{{'person.detail.info.fields.email' | translate}}</div>
      <ng-container *ngIf="account.person.email !== null">
        <div class="header-field email email-correct" (click)="newMailSlider.open()">{{account.person.email}}</div>
      </ng-container>
      <ng-container *ngIf="account.person.email == null">
        <div class="header-field email">{{'leads.details.noData' | translate}}</div>
      </ng-container>
    </div>
  </div>

  <mat-card class="mat-elevation-z8 fill-screen table-container">

    <mat-tab-group class="h-100 person-info-tab-group" #tabGroup (animationDone)="setInitTab()">
      <mat-tab [label]="'person.detail.info.cards.generalInfo' | translate" class="h-100">
        <app-person-general-info [accountId]="account.id"></app-person-general-info>
      </mat-tab>
      <mat-tab [label]="'person.detail.info.cards.calendarIntegration' | translate">
        <div class="mt-25px" *ngIf="!isConnectedToGoogleOrMicrosoft">
          <button class="ml-2" mat-raised-button color="primary" (click)="redirectToGoogle()">
            {{"person.detail.info.mail.connectToGoogle" | translate}}
          </button>
          <button class="ml-2" mat-raised-button color="primary" (click)="redirectToMicrosoft()">
            {{"person.detail.info.mail.connectToMicrosoft" | translate}}
          </button>
        </div>
        <div class="mt-25px" *ngIf="isConnectedToGoogleOrMicrosoft">
          <button class="ml-2" mat-raised-button color="primary" (click)="removeCalendarConfiguration()">
            {{"person.detail.info.mail.removeCalendarConfiguration" | translate}}
          </button>
        </div>
      </mat-tab>
      <mat-tab [label]="'person.detail.info.cards.emailIntegration' | translate">
        <div class="mt-3">
          <app-mail-configuration></app-mail-configuration>
        </div>
      </mat-tab>
      <mat-tab [label]="'person.detail.info.cards.passwordChange' | translate"
               *ngIf="'PersonInfoComponent.changePasswordButton' | auth:'w'">
        <div class="mt-3">
          <app-password-change></app-password-change>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>

<app-slider #newMailSlider [title]="'mail.newMailSlider.title' | translate" key="PersonInfo.newMailSlider" width="35vw">
  <app-new-mail-slider [email]="account?.person?.email" [slider]="newMailSlider"></app-new-mail-slider>
</app-slider>
