@import "~src/styles/form";
@import "~src/styles/colors";
@import "~src/styles/font-weights";
@import "~src/styles/icons";
@import "~src/styles/table";

.person-header {
  background-color: $bg-header;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0 10px 51px;
  margin-top: 1px;
}

.person-header > div {
  margin-right: 25px;
}

.image-container {
  width: 65px;
  height: 65px;
}

.name-container {
  font-weight: $Bold;
  font-size: 16px;
  color: $text-primary;
}

.position-container {
  font-size: 13px;
  color: $text-secondary;
}

.fill-screen {
  height: calc(100vh - 206px) !important;
}

.header-field-header {
  color: $text-secondary;
  font-size: 12px;
  font-weight: $Medium;
}

.header-field {
  font-size: 13px;
  color: $text-primary;
  font-weight: $SemiBold;
}

.email {
  color: $primary;
}

.email-correct {
  cursor: pointer;
}

.email-correct:hover {
  text-decoration: underline;
}

.display-flex {
  display: flex;
}

::ng-deep .person-info-tab-group {
  .mat-tab-body-wrapper {
    height: 100%;
  }
}

.mt-25px {
  margin-top: 25px !important;
}
