@import "~src/styles/colors";
@import "~src/styles/slider";
@import "~src/styles/form";

.font-size {
  font-size: 13px !important;
}

.button-container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: $bg-secondary;
}

.default-margin {
  margin: 0 10px;
}

.all-line-input > .mat-form-field {
  width: 100%;
  padding-right: 10px;
}

.expense-form {
  height: 460px;
}
