<div class="w-100 h-100 card-padding font-size">

  <mat-card class="mat-elevation-z0 main-mat-card mat-card card-border-radius no-bottom-border-radius">

    <div class="all-line-input default-margin">
      <mat-form-field>
        <input matInput disabled [value]="creatorName">
        <mat-placeholder class="placeholder">{{'expenses.accept.createdBy' | translate}}</mat-placeholder>
      </mat-form-field>
    </div>

    <div class="all-line-input default-margin" *ngIf="leadName">
      <mat-form-field>
        <input matInput disabled [value]="leadName">
        <mat-placeholder class="placeholder">{{'expenses.accept.lead' | translate}}</mat-placeholder>
      </mat-form-field>
    </div>

    <div class="all-line-input default-margin" *ngIf="opportunityName">
      <mat-form-field>
        <input matInput disabled [value]="opportunityName">
        <mat-placeholder class="placeholder">{{'expenses.accept.opportunity' | translate}}</mat-placeholder>
      </mat-form-field>
    </div>

    <div class="expense-form">
      <app-expense-form [expense]="expense" [readOnly]="true"></app-expense-form>
    </div>

    <div class="default-margin">
      <textarea [formControl]="rejectionCause"
                placeholder="{{'expenses.accept.rejectionCause' | translate}}"
                class="form-control mt-2 mb-4 text-area-field" rows="6"></textarea>
    </div>

  </mat-card>

  <div class="button-container">
    <mat-card class="mat-elevation-z0 card-border-radius no-top-border-radius">
      <div class="row">
        <div class="col-md-12">
          <div class="pull-right">
            <button (click)="decline()" class="button-medium"
                    color="primary" type="button"
                    mat-stroked-button>{{'expenses.accept.decline' | translate}}</button>
            <button (click)="accept()" class="button-medium ml-2"
                    color="primary" mat-raised-button type="button">
              {{'expenses.accept.accept' | translate}}</button>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
