<div class="table-header-container">
  <span class="table-header-primary">{{'administration.cards.passwordPolicy' | translate}}</span>
</div>
<div>
  <mat-form-field class="param-input mr-50px">
    <mat-select [formControl]="passwordPolicy"
                [placeholder]="'administration.params.passwordPolicy.title' | translate">
      <mat-option value="true">{{'administration.params.passwordPolicy.passwordPolicyActive' | translate }}</mat-option>
      <mat-option
        value="false">{{'administration.params.passwordPolicy.passwordPolicyInactive' | translate }}</mat-option>
    </mat-select>

    <mat-error *ngIf="passwordPolicy.hasError('required')">
      {{'administration.validation.required' | translate}}
    </mat-error>
  </mat-form-field>

  <button (click)="submit()" class="button-medium ml-2 save-button" color="primary"
          mat-raised-button>{{'administration.save' | translate}}</button>
</div>
