@import "~src/styles/form";
@import "~src/styles/colors";
@import "~src/styles/font-weights";
@import "~src/styles/icons";

$min-column: 200px;

::ng-deep.primary-icon {
  .icon {
    fill: $primary !important;
    cursor: pointer;
  }
}

.lead-details-container {
  height: 100%;
  width: 100%;
  overflow: auto;
  .info-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, minmax($min-column, 1fr));
    grid-template-rows: max-content 1fr;
    grid-row-gap: 24px;
    grid-column-gap: 64px;
    &-with-task {
      grid-template-columns: repeat(3, minmax($min-column, 1fr));
    }
  }
}

.task-properties {
  grid-area: 1 / 3 / 3 / 4;
}

.checkbox-container {
  height: 55.78px;
  overflow: hidden;
  ::ng-deep .mat-checkbox-label {
    white-space: normal;
  }
}

.details-column {
  display: flex;
  flex-direction: column;
  & > * {
    max-width: 400px;
  }
  &-with-task {
    & > * {
      max-width: 350px;
    }
  }
}

.placeholder {
  color: $text-secondary;
  font-size: 13px;
  font-weight: $Medium;
}

.lead-info-container {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: ". . ." ". . ." ". . ." ". . ." ". . .";
}

.lead-info-container mat-form-field {
  width: 90%;
}

.lead-address-and-notes-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". . .";
}

.lead-address-and-notes-container mat-form-field {
  width: 90%;
}

.extension-header-text {
  margin: 15px 0;
  color: $primary;
  font-size: 13px;
  font-weight: $Medium;
  letter-spacing: 1.56px;
  text-transform: uppercase;
}

.notes-position {
  grid-area: 7 / 1 / 7 / 3;
}

.notes-text {
  font-size: 12px;
  font-weight: $Medium;
  color: $action-color;
}

.company-address {
  display: flex;
  justify-content: space-between;
}

.company-address .mat-input-element:disabled {
  color: $primary;
}

:ng-deep .category-option .mat-option-pseudo-checkbox {
  order: 2;
}

::ng-deep .category-option.mat-selected {
  @extend .category-option-selected-text;
}

.category-option-text {
  text-align: left;
  font: $Medium 13px/20px Poppins;
  letter-spacing: 0;
  color: $action-color;
  opacity: 1;
}

.category-option-selected-text {
  font: $Medium 13px/20px Poppins !important;
  color: $text-title !important;;
}

.without-category-text {
  text-align: left;
  font: $Medium 13px/20px Poppins;
  letter-spacing: 0;
  color: $text-secondary;
  opacity: 1;
}

.dropdown-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: sticky;
  bottom: 0;
  background: $bg-primary;
  height: 40px;
  padding-left: 16px;
}

.add-new-category-text {
  font-size: 12px;
  font-weight: $Medium;
  color: $primary;
}

.category-header-text {
  text-align: left;
  font: $Medium 10px/16px Poppins !important;
  letter-spacing: 1.2px;
  color: $primary;
  text-transform: uppercase;
  opacity: 1;
}

::ng-deep .category-header .mat-optgroup-label {
  display: flex;
  align-items: center;
  margin: 0;
  @extend .category-header-text;
}

.checkbox-padding-top {
  padding-top: 1.34375em;
}

.import-from-gus {
  color: $text-tertiary;
  cursor: pointer;
  float: right;
  position: absolute;
  width: max-content;
  right: 0;
  font-weight: $Medium;
  font-size: 12px;
}

.conversion-gus {
  bottom: 8px !important;
  display: flex;
  align-items: center;
  color: $primary !important;
  font-weight: 300 !important;
  .conversion-gus-icon {
    margin-right: 4px;
  }
}
