<div class="lead-details-container">
  <div class="info-container"
       [class.info-container-with-task]="isTaskProperties">
    <div>
      <ng-container [ngTemplateOutlet]="column1"></ng-container>
    </div>
    <div>
      <ng-container [ngTemplateOutlet]="column2"></ng-container>
    </div>
    <div>
      <ng-container [ngTemplateOutlet]="column3"></ng-container>
    </div>
    <div>
      <ng-container [ngTemplateOutlet]="column4"></ng-container>
    </div>
    <div *ngIf="isTaskProperties" class="task-properties">
      <ng-container [ngTemplateOutlet]="taskProperties"></ng-container>
    </div>
  </div>
</div>

<ng-template #column1>
  <div [formGroup]="leadForm"
       class="details-column"
       [class.details-column-with-task]="isTaskProperties">
    <mat-form-field *ngIf="authKey + 'companyNipField' | auth: 'i':true">
      <input
        formControlName="companyNip"
        matInput
        tabIndex="108"
        mask="000-000-00-00"
        (focusin)="formControlFocusIn('companyNip')"
        (focusout)="formControlFocusOut()"
        (keyup.escape)="formControlEsc()"/>
      <mat-placeholder class="placeholder">
        {{ "leads.form.companyNip" | translate }}
      </mat-placeholder>
      <mat-error *ngIf="companyName.hasError('maxlength')">{{ "sharedValidators.valueTooLong" | translate }}</mat-error>
      <span class="import-from-gus conversion-gus" (click)="getDataFromGUS($event)">
           <app-icon svgIcon="bottom-arrow-circle" class="conversion-gus-icon" size="20px" [primary]="true">
           </app-icon>
        {{ "customer.form.add.importFromGUS" | translate }}
      </span>
    </mat-form-field>
    <mat-form-field *ngIf="authKey + 'companyNameField' | auth: 'i':true">
      <input
        formControlName="companyName"
        matInput
        tabIndex="108"
        (focusin)="formControlFocusIn('companyName')"
        (focusout)="formControlFocusOut()"
        (keyup.escape)="formControlEsc()"/>
      <mat-placeholder class="placeholder">
        {{ "leads.form.company" | translate }}
      </mat-placeholder>
      <mat-error *ngIf="companyName.hasError('maxlength')">
        {{ "sharedValidators.valueTooLong" | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="authKey + 'positionField' | auth: 'i':true">
      <mat-select
        formControlName="position"
        tabIndex="103"
        (focusin)="formControlFocusIn('position')"
        (valueChange)="formControlFocusOutPosition($event)"
        (keyup.escape)="formControlEsc()"
        #positionSelect>
        <mat-option
          #noCategoryOption
          class="category-option without-category-text"
          [value]="undefinedCategoryId">
          {{ "leads.form.positionCategory.withoutCategory" | translate }}
        </mat-option>
        <mat-option
          *ngFor="let category of allPosition"
          #categoryOption
          class="category-option category-option-text"
          [value]="category.id">
          {{ category?.name }}
        </mat-option>
        <div
          class="dropdown-footer"
          *ngIf="'LeadShared.addPosition' | auth: 'w'">
          <app-icon svgIcon="plus" [primary]="true"></app-icon>
          <div
            class="add-new-category-text clickable"
            (click)="openAddPositionSlider(positionSelect)">
            {{ "leads.form.positionCategory.addCategory" | translate }}
          </div>
        </div>
      </mat-select>

      <mat-placeholder class="placeholder">
        {{ "leads.form.position" | translate }}
      </mat-placeholder>
      <mat-error *ngIf="position.hasError('maxlength')">
        {{ "sharedValidators.valueTooLong" | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="authKey + 'emailField' | auth: 'i':true">
      <input
        formControlName="email"
        matInput
        tabIndex="104"
        (focusin)="formControlFocusIn('email')"
        (focusout)="formControlFocusOut()"
        (keyup.escape)="formControlEsc()"/>
      <mat-placeholder class="placeholder">
        {{ "leads.form.email" | translate }}
      </mat-placeholder>
      <mat-error *ngIf="email.hasError('email')">
        {{ "leads.form.emailNotValid" | translate }}
      </mat-error>
      <mat-error *ngIf="email.hasError('maxlength')">
        {{ "sharedValidators.valueTooLong" | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="authKey + 'phoneField' | auth: 'i':true">
      <input
        formControlName="phone"
        [mask]="phoneService.getPhoneInputMask(phone.value)"
        type="tel"
        matInput
        tabIndex="105"
        (focusin)="formControlFocusIn('phone')"
        (focusout)="formControlFocusOut()"/>
      <app-icon
        [matMenuTriggerFor]="typeMenu.menu"
        matSuffix
        svgIcon="plus"
        [hover]="false"
        size="18px">
      </app-icon>
      <mat-placeholder class="placeholder">
        {{ "leads.form.phone" | translate }}
      </mat-placeholder>
      <mat-error *ngIf="phone.hasError('maxlength')">
        {{ "sharedValidators.valueTooLong" | translate }}
      </mat-error>
    </mat-form-field>

    <app-phone-type-menu #typeMenu
                         (selectType)="phoneFields.addPhone($event)">
    </app-phone-type-menu>

    <app-phone-fields #phoneFields
                      formControlName="additionalPhones"
                      (focusOut)="formControlFocusOutAdditionalPhones()"
                      (focusIn)="formControlFocusIn('additionalPhones')">
    </app-phone-fields>

    <mat-form-field *ngIf="authKey + 'companyTypeField' | auth: 'i':true">
      <mat-select
        formControlName="industry"
        #industrySelect
        tabIndex="110"
        (opened)="formControlFocusIn('industry')"
        (valueChange)="formControlFocusOut($event)">
        <mat-option
          #noCategoryOption
          class="category-option without-category-text"
          [value]="undefinedCategoryId">
          {{ "leads.form.companyTypeCategory.withoutCategory" | translate }}
        </mat-option>
        <mat-option
          *ngFor="let category of allIndustry"
          #categoryOption
          class="category-option category-option-text"
          [value]="category.id">
          {{ category?.name }}
        </mat-option>
        <div
          class="dropdown-footer"
          *ngIf="'LeadShared.addCompanyType' | auth: 'w'">
          <app-icon svgIcon="plus" [primary]="true"></app-icon>
          <div class="add-new-category-text clickable"
               (click)="openAddIndustrySlider(industrySelect)">
            {{ "leads.form.companyTypeCategory.addCategory" | translate }}
          </div>
        </div>
      </mat-select>
      <mat-placeholder class="placeholder">
        {{ "leads.form.companyType" | translate }}
      </mat-placeholder>
    </mat-form-field>
  </div>
</ng-template>

<ng-template #column2>
  <div
    [formGroup]="leadForm"
    class="details-column"
    style="padding-top: 55px"
    [class.details-column-with-task]="isTaskProperties">
    <mat-form-field *ngIf="authKey + 'streetAndNumberField' | auth: 'i':true">
      <input
        type="text"
        formControlName="streetAndNumber"
        matInput
        tabIndex="114"
        (focusin)="formControlFocusIn('streetAndNumber')"
        (focusout)="formControlFocusOut()"
        (keyup.escape)="formControlEsc()"
        #trigger="matAutocompleteTrigger"
        (keyup.arrowDown)="streetAndNumberSearching.showPanel = true"
        [matAutocomplete]="streetAndNumberSearching"/>
      <mat-autocomplete
        autoActiveFirstOption #streetAndNumberSearching="matAutocomplete"
        (optionSelected)="updateAddressInForm($event.option.value)"
        tabIndex="110">
        <mat-option
          *ngFor="let place of foundPlaces"
          [title]="place?.display_name"
          [value]="place">
          {{ place?.display_name }}
        </mat-option>
      </mat-autocomplete>
      <app-icon
        *ngIf="authKey + 'showOnMap' | auth: 'w'"
        matSuffix
        class="primary-icon"
        (click)="showOnMap($event)"
        svgIcon="gps-line"
        [hover]="false">
      </app-icon>
      <mat-placeholder class="placeholder">
        {{ "leads.form.street" | translate }}
      </mat-placeholder>
      <mat-error *ngIf="streetAndNumber.hasError('maxlength')">
        {{ "sharedValidators.valueTooLong" | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="authKey + 'cityField' | auth: 'i':true">
      <input type="text"
             aria-label="Number"
             formControlName="city"
             matInput
             tabIndex="115"
             (focusin)="formControlFocusIn('city')"
             (focusout)="formControlFocusOut()"
             (keyup.escape)="formControlEsc()"
             #trigger="matAutocompleteTrigger"
             (keyup.arrowDown)="citySearching.showPanel = true"
             [matAutocomplete]="citySearching">
      <mat-autocomplete
        autoActiveFirstOption #citySearching="matAutocomplete"
        (optionSelected)="updateAddressInForm($event.option.value)"
        tabIndex="110">
        <mat-option
          *ngFor="let place of foundPlaces"
          [title]="place?.display_name"
          [value]="place">
          {{ place?.display_name }}
        </mat-option>
      </mat-autocomplete>
      <mat-placeholder class="placeholder">
        {{ "leads.form.city" | translate }}
      </mat-placeholder>
      <mat-error *ngIf="city.hasError('maxlength')">
        {{ "sharedValidators.valueTooLong" | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="authKey + 'postalCodeField' | auth: 'i':true">
      <input
        formControlName="postalCode"
        mask="00-000"
        matInput
        tabIndex="116"
        (focusin)="formControlFocusIn('postalCode')"
        (focusout)="formControlFocusOut()"
        (keyup.escape)="formControlEsc()"/>
      <mat-placeholder class="placeholder">
        {{ "leads.form.zipCode" | translate }}
      </mat-placeholder>
      <mat-error *ngIf="postalCode.hasError('maxlength')">
        {{ "sharedValidators.valueTooLong" | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="authKey + 'provinceField' | auth: 'i':true">
      <input
        formControlName="province"
        matInput
        tabIndex="117"
        (focusin)="formControlFocusIn('province')"
        (focusout)="formControlFocusOut()"
        (keyup.escape)="formControlEsc()"/>
      <mat-placeholder class="placeholder">
        {{ "leads.form.province" | translate }}
      </mat-placeholder>
      <mat-error *ngIf="province.hasError('maxlength')">
        {{ "sharedValidators.valueTooLong" | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="authKey + 'countryField' | auth: 'i':true">
      <input type="text"
             formControlName="country"
             matInput
             tabIndex="118"
             (focusin)="formControlFocusIn('country')"
             (focusout)="formControlFocusOut()"
             (keyup.escape)="formControlEsc()"
             aria-label="Number"
             #trigger="matAutocompleteTrigger"
             (keyup.arrowDown)="countrySearching.showPanel = true"
             [matAutocomplete]="countrySearching"/>
      <mat-autocomplete
        autoActiveFirstOption #countrySearching="matAutocomplete"
        (optionSelected)="updateAddressInForm($event.option.value)">
        <mat-option
          *ngFor="let place of foundPlaces"
          [title]="place?.display_name"
          [value]="place">
          {{ place?.display_name }}
        </mat-option>
      </mat-autocomplete>
      <mat-placeholder class="placeholder">
        {{ "leads.form.country" | translate }}
      </mat-placeholder>
      <mat-error *ngIf="country.hasError('maxlength')">
        {{ "sharedValidators.valueTooLong" | translate }}
      </mat-error>
    </mat-form-field>
  </div>
</ng-template>

<ng-template #column3>
  <div [formGroup]="leadForm"
       class="details-column"
       [class.details-column-with-task]="isTaskProperties">
    <div *ngIf="authKey + 'interestedInCooperationField' | auth: 'i':true"
         class="checkbox-container">
      <mat-checkbox
        formControlName="interestedInCooperation"
        [disableRipple]="true"
        class="crm-checkbox"
        color="primary">
        <mat-placeholder>
          {{ "leads.form.interestedInCooperation" | translate }}
        </mat-placeholder>
      </mat-checkbox>
    </div>
    <mat-form-field *ngIf="authKey + 'subjectOfInterestField' | auth: 'i':true">
      <mat-select
        formControlName="subjectOfInterest"
        #subjectOfInterestSelect
        (closed)="getSubSourceOfAcquisition()"
        tabIndex="120">
        <mat-option
          #noCategoryOption
          class="category-option without-category-text"
          [value]="undefinedCategoryId">
          {{ "leads.form.subjectOfInterestCategory.withoutCategory" | translate }}
        </mat-option>
        <mat-option
          *ngFor="let category of allSubjectOfInterest"
          #categoryOption
          class="category-option category-option-text"
          [value]="category.id">
          {{ category?.name }}
        </mat-option>
        <div class="dropdown-footer"
             *ngIf="'LeadShared.addSourceOfAcquisition' | auth: 'w'">
          <app-icon svgIcon="plus" [primary]="true"></app-icon>
          <div class="add-new-category-text clickable"
               (click)="openAddSubjectOfInterestSlider(subjectOfInterestSelect)">
            {{ "leads.form.subjectOfInterestCategory.addCategory" | translate }}
          </div>
        </div>
      </mat-select>
      <mat-placeholder>
        {{ "leads.form.subjectOfInterest" | translate }}
      </mat-placeholder>
    </mat-form-field>
  </div>
</ng-template>

<ng-template #column4>
  <div [formGroup]="leadForm"
       class="details-column"
       [class.details-column-with-task]="isTaskProperties">
    <mat-form-field *ngIf="authKey + 'sourceOfAcquisitionField' | auth: 'i':true">
      <mat-select
        formControlName="sourceOfAcquisition"
        #sourceOfAcquisitionSelect
        (focusin)="formControlFocusIn('sourceOfAcquisition')"
        (valueChange)="formControlFocusOutSourceOfAcquisition($event)"
        (keyup.escape)="formControlEsc()"
        tabIndex="111">
        <mat-option #noCategoryOption
                    class="category-option without-category-text"
                    [value]="undefinedCategoryId">
          {{ "leads.form.sourceOfAcquisitionCategory.withoutCategory" | translate }}
        </mat-option>
        <mat-option
          *ngFor="let category of allSourceOfAcquisition"
          #categoryOption
          class="category-option category-option-text"
          [value]="category.id">
          {{ category?.name }}
        </mat-option>
        <div class="dropdown-footer"
             *ngIf="'LeadShared.addSourceOfAcquisition' | auth: 'w'">
          <app-icon svgIcon="plus" [primary]="true"></app-icon>
          <div class="add-new-category-text clickable"
               (click)="openAddSourceOfAcquisitionSlider(sourceOfAcquisitionSelect)">
            {{ "leads.form.sourceOfAcquisitionCategory.addCategory" | translate }}
          </div>
        </div>
      </mat-select>
      <mat-placeholder class="placeholder">
        {{ "leads.form.sourceOfAcquisitionCategory.category" | translate }}
      </mat-placeholder>
    </mat-form-field>
    <mat-form-field *ngIf="authKey + 'sourceOfAcquisitionField' | auth: 'i':true"
                    class="pl-3">
      <mat-select
        formControlName="subSourceOfAcquisition"
        #sourceOfAcquisitionSubcategorySelect
        (focusin)="formControlFocusIn('subSourceOfAcquisition')"
        (valueChange)="formControlFocusOutSubSourceOfAcquisition($event)"
        (keyup.escape)="formControlEsc()"
        tabIndex="112">
        <mat-option
          #noSubcategoryOption
          class="category-option without-category-text"
          [value]="undefinedCategoryId">
          {{ "leads.form.sourceOfAcquisitionCategory.withoutSubCategory" | translate }}
        </mat-option>
        <mat-optgroup
          class="category-header"
          *ngFor="let category of allSubSourceOfAcquisition"
          [label]="category.name">
          <ng-container *ngFor="let subcategory of category.children">
            <mat-option
              [value]="subcategory.id"
              class="category-option category-option-text">
              <div class="ml-3">{{ subcategory.name }}</div>
            </mat-option>
          </ng-container>
        </mat-optgroup>
        <div class="dropdown-footer"
             *ngIf="'LeadShared.addSourceOfAcquisition' | auth: 'w'">
          <app-icon svgIcon="plus" [primary]="true"></app-icon>
          <div class="add-new-category-text clickable"
               (click)="openAddSubSourceOfAcquisitionSlider(sourceOfAcquisitionSubcategorySelect)">
            {{ "leads.form.sourceOfAcquisitionCategory.addSubCategory" | translate }}
          </div>
        </div>
      </mat-select>
      <mat-placeholder class="placeholder">{{
        "leads.form.sourceOfAcquisitionCategory.subCategory" | translate
        }}</mat-placeholder>
    </mat-form-field>
  </div>
</ng-template>

<ng-template #taskProperties>
  <div class="details-column"
       style="padding-top: 55px"
       [class.details-column-with-task]="isTaskProperties">
    <ng-content></ng-content>
  </div>
</ng-template>

<app-slider
  #mapSlider
  width="40vw"
  [title]="'leads.form.address' | translate"
  key="LeadForm.MapSlider"
  [group]="'leadFormGroup'">
  <div class="p-2 w-100 h-100">
    <app-map-view
      #mapView
      class="w-100 h-100"
      [markers]="markers"
      [mapCenter]="center"
      [showMap]="showMap"
      [zoom]="12"
    ></app-map-view>
  </div>
</app-slider>

<app-slider
  #addSourceOfAcquisitionSlider
  [title]="'leads.form.sourceOfAcquisitionCategory.addCategory' | translate"
  [group]="'leadFormGroup'"
  [closeByCross]="false"
  key="DictionaryForm.AddDictionaryWordSlider"
  width="40vw">
  <app-dictionary-add-word
    #addSourceOfAcquisitionWord
    [parentWordId]="null"
    [dictionaryId]="dictionaryId.SOURCE_OF_ACQUISITION"
    (canceled)="onCancelAddSourceOfAcquisitionSlider()"
    (wordAdded)="onSubmitAddSourceOfAcquisitionSlider($event)">
  </app-dictionary-add-word>
</app-slider>

<app-slider
  #addSubSourceOfAcquisitionSlider
  [title]="'leads.form.sourceOfAcquisitionCategory.addSubCategory' | translate"
  [group]="'leadFormGroup'"
  [closeByCross]="false"
  key="DictionaryForm.AddDictionaryWordSlider"
  width="40vw">
  <app-dictionary-add-word
    #addSubSourceOfAcquisitionWord
    [parentWordId]="parentWordIdForCreation"
    [dictionaryId]="dictionaryId.SOURCE_OF_ACQUISITION"
    (canceled)="onCancelAddSubSourceOfAcquisitionSlider()"
    (wordAdded)="onSubmitAddSubSourceOfAcquisitionSlider($event)">
  </app-dictionary-add-word>
</app-slider>

<app-slider
  #addSubjectOfInterestSlider
  [title]="'leads.form.subjectOfInterestCategory.addCategory' | translate"
  [closeByCross]="false"
  key="DictionaryForm.AddDictionaryWordSlider"
  width="40vw"
  [group]="'leadFormGroup'">
  <app-dictionary-add-word
    #addSubjectOfInterestWord
    [parentWordId]="null"
    [dictionaryId]="dictionaryId.SUBJECT_OF_INTEREST"
    (canceled)="onCancelAddSubjectOfInterestSlider()"
    (wordAdded)="onSubmitAddSubjectOfInterestSlider($event)">
  </app-dictionary-add-word>
</app-slider>
<app-slider
  #addPositionSlider
  [title]="'leads.form.positionCategory.addCategory' | translate"
  [closeByCross]="false"
  key="DictionaryForm.AddDictionaryWordSlider"
  width="40vw"
  [group]="'leadFormGroup'">
  <app-dictionary-add-word
    #addPositionWord
    [parentWordId]="null"
    [dictionaryId]="dictionaryId.POSITION"
    (canceled)="onCancelAddPositionSlider()"
    (wordAdded)="onSubmitAddPositionSlider($event)">
  </app-dictionary-add-word>
</app-slider>

<app-slider
  #addIndustrySlider
  [title]="'leads.form.companyTypeCategory.addCategory' | translate"
  [closeByCross]="false"
  key="DictionaryForm.AddDictionaryWordSlider"
  width="40vw"
  [group]="'leadFormGroup'">
  <app-dictionary-add-word
    #addIndustryWord
    [parentWordId]="null"
    [dictionaryId]="dictionaryId.INDUSTRY"
    (canceled)="onCancelAddIndustrySlider()"
    (wordAdded)="onSubmitAddIndustrySlider($event)">
  </app-dictionary-add-word>
</app-slider>
