<div *ngIf="!previewMode">
  <div class="tab-title">
    {{ "contacts.details.relatedContactsTab.title" | translate }}
    <app-icon
      svgIcon="plus"
      [primary]="true"
      appTooltip="ADD"
      (click)="openAddLinkSlider($event)"
    ></app-icon>

    <span class="float-right mr-3 button-container">
      <app-icon
        (click)="expanded = false"
        appTooltip="REDUCE_SPACE"
        svgIcon="collapse"
        [primary]="!expanded"
      ></app-icon>
      <app-icon
        (click)="expanded = true"
        appTooltip="INCREASE_SPACE"
        svgIcon="expand"
        [primary]="expanded"
      ></app-icon>
    </span>
  </div>
  <ng-container [ngTemplateOutlet]="relatedContactList"></ng-container>
</div>
<div *ngIf="previewMode" class="preview-mode">
  <mat-accordion [multi]="true">
    <mat-expansion-panel class="extension-panel" expanded="true">
      <mat-expansion-panel-header class="panel-header">
        <mat-panel-title>
          <div class="extension-header-text">
            {{ "contacts.details.relatedContactsTab.title" | translate }}
            <button
              class="btn-transparent"
              (click)="openAddLinkSlider($event)"
              appTooltip="ADD"
            >
              <app-icon svgIcon="plus" [primary]="true"></app-icon>
            </button>
          </div>
        </mat-panel-title>

        <button
          class="btn-transparent change-tab-icon"
          (click)="changeTabToRelatedContact.emit($event)"
        >
          <img
            alt="change-tab-icon"
            src="assets/icons/change-tab-icon-blue.svg"
          />
        </button>
      </mat-expansion-panel-header>
      <ng-container [ngTemplateOutlet]="relatedContactList"></ng-container>
      <div
        appTooltip="OPEN_MORE"
        class="show-all-relations"
        *ngIf="previewTotalCount > 3"
        (click)="changeTabToRelatedContact.emit($event)"
      >
        {{
          "contacts.details.relatedContactsTab.showAll"
            | translate: { totalNumber: previewTotalCount }
        }}
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<ng-template #relatedContactList>
  <div class="h-100" [ngClass]="{ 'related-contacts-body': !previewMode }">
    <div
      class="overflow-y h-100 w-100 pr-2"
      [ngClass]="{ 'hide-list': links.length === 0 }"
    >
      <table
        [dataSource]="linksDataSource"
        class="row-collapsed mat-elevation-z8 col-md-12 mr-2"
        mat-table
        matSort
        [ngClass]="{
          'mini-row': previewMode,
          'row-collapsed': !previewMode && !expanded,
          'row-expanded': !previewMode && expanded
        }"
      >
        <ng-container matColumnDef="contact">
          <th *matHeaderCellDef mat-header-cell>
            {{ "contacts.details.relatedContactsTab.contact" | translate }}
          </th>
          <td
            *matCellDef="let link"
            mat-cell
            [title]="
              link.linkedContactName + ' ' + link.linkedContactSurname
                | lengthMoreThan: 30
            "
          >
            <b>{{ link.linkedContactName }} {{ link.linkedContactSurname }}</b>
          </td>
        </ng-container>
        <ng-container matColumnDef="customer">
          <th *matHeaderCellDef mat-header-cell>
            {{ "contacts.details.relatedContactsTab.customer" | translate }}
          </th>
          <td
            *matCellDef="let link"
            mat-cell
            [title]="link.linkedCustomerName | lengthMoreThan: 30"
          >
            {{ link.linkedCustomerName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="position">
          <th *matHeaderCellDef mat-header-cell>
            {{ "contacts.details.relatedContactsTab.position" | translate }}
          </th>
          <td
            *matCellDef="let link"
            mat-cell
            [title]="link.linkedContactPosition | lengthMoreThan: 30"
          >
            {{ link.linkedContactPosition }}
          </td>
        </ng-container>
        <ng-container matColumnDef="phone">
          <th *matHeaderCellDef mat-header-cell>
            {{ "contacts.details.relatedContactsTab.phone" | translate }}
          </th>
          <td
            *matCellDef="let link"
            mat-cell
            [title]="link.linkedContactPhone | lengthMoreThan: 30"
          >
            {{ link.linkedContactPhone | phone }}
          </td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th *matHeaderCellDef mat-header-cell>
            {{ "contacts.details.relatedContactsTab.email" | translate }}
          </th>
          <td
            *matCellDef="let link"
            mat-cell
            [title]="link.linkedContactEmail | lengthMoreThan: 30"
          >
            <div class="table-text-link">{{ link.linkedContactEmail }}</div>
          </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th *matHeaderCellDef mat-header-cell></th>
          <td *matCellDef="let link" mat-cell>
            <app-icon
              svgIcon="option-dots"
              [hover]="false"
              [matMenuTriggerFor]="menu"
              (click)="$event.stopPropagation()"
            ></app-icon>
            <mat-menu #menu="matMenu" xPosition="before">
              <button
                class="dropdown-select-item"
                mat-menu-item
                *ngIf="'ContactLinkListComponent.edit' | auth: 'w'"
                (click)="openEditLinkSlider(link.linkedContactId)"
              >
                <app-icon svgIcon="edit" [hover]="false" size="16px"></app-icon>
                {{ "contacts.details.relatedContactsTab.edit" | translate }}
              </button>
              <button
                class="dropdown-select-item"
                mat-menu-item
                *ngIf="'ContactLinkListComponent.remove' | auth: 'w'"
                (click)="tryDeleteContactLink(link)"
              >
                <app-icon
                  svgIcon="trash"
                  [hover]="false"
                  size="16px"
                ></app-icon>
                {{ "contacts.details.relatedContactsTab.remove" | translate }}
              </button>
            </mat-menu>
          </td>
        </ng-container>
        <tr
          *matHeaderRowDef="filteredColumns$ | async; sticky: true"
          mat-header-row
        ></tr>
        <tr
          *matRowDef="let rowData; columns: filteredColumns$ | async"
          mat-row
          [ngClass]="{
            'selected-contact-link':
              rowData.linkedContactId === noteContactId && !previewMode
          }"
          (click)="noteContactId = rowData.linkedContactId"
        ></tr>
      </table>
    </div>

    <div class="no-contact-links" *ngIf="links.length === 0">
      <div class="no-contact-links-primary-text">
        {{ "contacts.details.relatedContactsTab.noLinks" | translate }}
      </div>
    </div>
  </div>
</ng-template>

<app-slider
  #addLinkSlider
  group="sharedCustomerForm"
  width="33vw"
  [title]="'contacts.link.title' | translate"
  key="ContactsLinks.AddSlider"
>
  <app-contact-link
    #addContactLink
    [baseContactId]="id"
    (linkSaved)="linkAdded($event)"
    [slider]="addLinkSlider"
  ></app-contact-link>
</app-slider>
<app-slider
  #editLinkSlider
  group="sharedCustomerForm"
  width="33vw"
  [title]="'contacts.link.editTitle' | translate"
  key="ContactsLinks.AddSlider"
>
  <app-contact-link
    #editContactLink
    [baseContactId]="id"
    [linkedContactId]="linkedContactId"
    (linkSaved)="linkEdited($event)"
    [slider]="editLinkSlider"
  ></app-contact-link>
</app-slider>
