@import "~src/styles/table";
@import "~src/styles/font-weights";

.button-container {
  display: flex;
  align-items: center;
  & > * {
    padding: 0 6px;
  }
}

.tab-title {
  font-size: 24px;
  font-weight: $Regular;
  color: $action-color;
  margin-left: 31px;
  margin-top: 20px;
}

.no-contact-links-primary-text {
  color: $action-color;
  font-size: 20px;
  font-weight: $Medium;
}

.hide-list {
  visibility: hidden;
}

.no-contact-links {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.related-contacts-body {
  height: calc(100vh - 356px) !important;
}

.selected-contact-link {
  background-color: $bg-tertiary !important;
}


::ng-deep .preview-mode .mat-expansion-panel-content {
  position: relative;
}

.preview-mode {
  .extension-panel {
    box-shadow: none;
    margin: 0;
  }

  .panel-header {
    position: relative;
  }

  ::ng-deep .panel-header .mat-content {
    flex: none;
  }

  .extension-header-text {
    color: $primary;
    font-size: 13px;
    font-weight: $Medium;
    letter-spacing: 1.56px;
    text-transform: uppercase;
  }

  .show-all-relations {
    text-align: left;
    font: $Medium 10px Poppins;
    line-height: 16px;
    letter-spacing: 1.2px;
    color: $primary;
    text-transform: uppercase;
    opacity: 1;
    margin-top: 20px;
    cursor: pointer;
  }

  .change-tab-icon {
    position: absolute;
    right: 20px;
    cursor: pointer;
  }
}
