<mat-card class="mat-elevation-z8 fill-screen table-container">
  <div class="card-height">
    <div class="overflow-y card-height w-100" (scroll)="infinityScroll.onScroll($event)">
      <table [dataSource]="infinityScroll.itemPage?.content" class="row-collapsed mat-elevation-z8 col-md-12 mr-2"
             mat-table
             matSort (matSortChange)="infinityScroll.onSortChange($event)">
        <ng-container matColumnDef="selectRow">
          <th *matHeaderCellDef mat-header-cell></th>
          <td *matCellDef="let product" mat-cell class="checkbox-column-width" (click)="$event.stopPropagation()">
            <mat-checkbox class="crm-checkbox"
                          (click)="$event.stopPropagation()"
                          (change)="onProductCheckboxClick(product, $event)"
                          [checked]="isProductCheckboxChecked(product)"
                          color="primary"></mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'goal.add.addProducts.name' | translate}}</th>
          <td *matCellDef="let product" mat-cell [title]="product.name | lengthMoreThan:30"><b>{{product.name}}</b>
          </td>
        </ng-container>
        <ng-container matColumnDef="category">
          <th *matHeaderCellDef mat-header-cell>{{'goal.add.addProducts.category' | translate}}</th>
          <td *matCellDef="let product" mat-cell [title]="product.category | lengthMoreThan:30">
            <ng-container *ngIf="product.categories">
              {{product.categories}}
            </ng-container>
          </td>
        </ng-container>
        <ng-container matColumnDef="code">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'goal.add.addProducts.code' | translate}}</th>
          <td *matCellDef="let product" mat-cell [title]="product.code | lengthMoreThan:30">{{product.code}}</td>
        </ng-container>
        <ng-container matColumnDef="sellPriceNet">
          <th *matHeaderCellDef mat-header-cell mat-sort-header
              class="currency-header">{{'goal.add.addProducts.price' | translate}}</th>
          <td *matCellDef="let product" mat-cell class="currency-value"
              [title]="product.sellPriceNet | formatNumber | lengthMoreThan:30">
                  <span>  {{product.sellPriceNet | formatCurrency:product?.currency}}
                  </span>
          </td>
        </ng-container>
        <tr *matHeaderRowDef="columns; sticky: true" mat-header-row></tr>
        <tr *matRowDef="let rowData; columns: columns" mat-row></tr>
      </table>
    </div>
  </div>
</mat-card>

<div class="button-container">
  <mat-card class="mat-elevation-z0 card-border-radius no-top-border-radius">
    <div class="row">
      <div class="col-md-12">
        <div class="pull-right">
          <button class="button-medium" color="primary" (click)="cancel()"
                  mat-stroked-button>{{'goal.add.addProducts.cancel' | translate}}</button>
          <button class="button-medium ml-2" color="primary" (click)="save()"
                  mat-raised-button>{{'goal.add.addProducts.add' | translate}}</button>
        </div>
      </div>
    </div>
  </mat-card>
</div>
