@import "~src/styles/table";
@import "~src/styles/slider";

.button-container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: $bg-secondary;
}

.card-height {
  height: 98% !important;
}
