<div class="container-fluid">
  <div class="row">
    <div class="col-12 p-0">
      <div class="min-vh-100 m-0 d-flex flex-column justify-content-center">

        <mat-spinner *ngIf="!formData" class="token-spinner" color="primary"></mat-spinner>

        <mat-card *ngIf="formData" class="mat-elevation-z0 token-card">
          <div class="content">
            <div *ngFor="let part of formParts">
              <span *ngIf="part.isText" [innerHTML]="part.text | safeHtml"></span>
              <ng-container *ngIf="!part.isText" [ngTemplateOutlet]="approvalList"></ng-container>
            </div>
          </div>
          <div class="button-div">
            <button class="button-medium float-right" color="primary" mat-raised-button
                    (click)="saveAndSend()">{{'gdprToken.saveAndSend' | translate}}</button>
          </div>
        </mat-card>

      </div>
    </div>
  </div>
</div>


<ng-template #approvalList>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let type of formData.types" class="gdpr-item" #expansionPanel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="checkbox">
            <mat-checkbox [(ngModel)]="type.checked" color="primary" (click)="$event.stopPropagation()"></mat-checkbox>
          </span>
          <span class="title">{{type.name}}</span>
        </mat-panel-title>
        <span class="show-more" *ngIf="!expansionPanel.expanded">{{'gdprToken.expand' | translate}}</span>
        <span class="show-more" *ngIf="expansionPanel.expanded">{{'gdprToken.collapse' | translate}}</span>
      </mat-expansion-panel-header>
      {{type.description}}
    </mat-expansion-panel>
  </mat-accordion>
</ng-template>

