@import "~src/styles/font-weights";
@import "~src/styles/colors";

.token-card {
  width: 50%;
  position: absolute;
  height: 75%;
  left: 25%;
  padding: 40px 40px 80px;
  border-radius: 8px !important;

  .content {
    overflow-y: auto;
    height: 100%;
  }

  .button-div {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 1000px) {
  .token-card {
    width: calc(100% - 32px) !important;
    left: 16px !important;
    top: 16px !important;
    height: calc(100% - 32px) !important;
  }
}

.gdpr-item {
  box-shadow: none !important;

  .title {
    font-weight: $Bold;
    color: $text-primary;
    margin-left: 1em;
    font-size: 13px;
  }

  .show-more {
    float: right;
    color: $primary;
    cursor: pointer;
    margin-right: 1em;
    font-size: 13px;
  }

  ::ng-deep .mat-checkbox-layout {
    margin-top: 2px;
  }

  ::ng-deep .mat-expansion-indicator {
    height: 26px;
    margin-top: -6px;
  }

  ::ng-deep .mat-expansion-panel-body {
    font-size: 13px;
  }
}
