@import '~src/styles/colors';
@import "~src/styles/table";
@import "~src/styles/form";

$upper-bar-height: 64px;
$mail-list-header: 40px;
$card-padding: 32px;
$dividing-line-color: $border-tertiary;
$dividing-line: 1px solid $dividing-line-color;

mat-card {
  padding: 0;
}

.mail-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: $upper-bar-height 1fr;
  overflow: hidden;

  &-header {
    grid-area: 1 / 1 / 2 / 6;
    display: flex;
    align-items: center;
    padding: 0 $card-padding;
    border-bottom: $dividing-line
  }

  &-side {
    grid-area: 2 / 1 / 3 / 2;
    border-right: 2px solid $dividing-line-color;
    padding: 0 0 $card-padding 0;
    background: $bg-primary;

    & > mat-drawer {
      width: 50%;
      border-right: $dividing-line;
    }
  }

  &-main {
    grid-area: 2 / 2 / 3 / 3;
    height: 100%;
    overflow: hidden;
    position: relative;

    &-content {
      margin: 10px;
      overflow-y: auto;
      overflow-x: hidden;
      height: calc(100% - 20px);
    }
  }
}

.attach-pin-icon {
  width: 15px;
  margin-right: 5px;
}

.attach-arrow-down {
  width: 20px;
  margin-left: 5px;
}

::ng-deep.attach-mail-menu .mat-menu-item {
  color: $primary !important;
  height: 36px;
  line-height: 36px;
}

::ng-deep.attach-mail-container .mat-dialog-container {
  border-radius: 8px;
  padding: 0;
}

.header-text {
  color: $primary;
  font-size: 16px;
  font-weight: $Medium;
}

.mail-box {
  &-header {
    height: 52px;
    line-height: 52px;
    color: $text-title;
    font-size: 14px;
    font-weight: $Medium;
    padding-left: $card-padding;
    padding-right: 20px;
    border-bottom: $dividing-line;

  }

  &-item {
    height: 32px;
    line-height: 32px;
    padding-left: $card-padding;
    padding-right: 20px;
    color: $text-title;
    font-size: 13px;
    font-weight: $Medium;
    cursor: pointer;
    text-transform: lowercase;

    & img {
      width: 16px;
      height: 16px;
      margin-right: 10px;
    }

    &:hover, &-selected {
      background-color: rgba($primary-rgb, .1);
    }
  }
}

.list {
  height: 100%;

  &-header {
    height: $mail-list-header;
    line-height: $mail-list-header;
    border-bottom: $dividing-line;
    text-align: right;

    color: $primary;
    font-size: 13px;
    font-weight: $Medium;
  }

  &-item {
    padding: 10px;
    border-bottom: $dividing-line;

    &-header {
      color: $text-title;
      font-size: 13px;
      font-weight: $Bold;
    }

    &-subject {
      color: $text-title;
      font-size: 13px;
      font-weight: $Medium;
    }

    &-time {
      color: $text-title;
      font-size: 12px;
      font-weight: $Regular;
    }

    &:hover, &-selected {
      background-color: rgba($primary-rgb, .1);
    }
  }

  &-content {
    height: calc(100% - #{$mail-list-header});
    overflow-y: auto;
  }


}

.card-padding-left {
  padding-left: $card-padding;
}

.light * {
  color: $text-secondary;
}


@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotating {
  &::ng-deep.icon {
    -webkit-animation: rotating 1s linear infinite;
    -moz-animation: rotating 1s linear infinite;
    -ms-animation: rotating 1s linear infinite;
    -o-animation: rotating 1s linear infinite;
    animation: rotating 1s linear infinite;
  }
}

.position-relative {
  position: relative;
}

.error-msg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .title {
    color: $action-color;
    font-size: 20px;
    font-weight: $Medium;
  }

  .description {
    color: $text-secondary;
    font-size: 13px;
    font-weight: $Medium;
    text-align: center;

    .blue-text {
      color: $primary;
      cursor: pointer;
    }
  }
}

.display-flex {
  display: flex;
}

::ng-deep .select-mail-configuration .mat-form-field-underline {
  display: none !important;
}
