<mat-card class="fill-screen mail-card" *ngIf="!downloadMailsError">
  <div class="mail-card-header">
    <button class="btn-transparent mr-3" (click)="drawer.toggle()">
      <app-icon svgIcon="menu" [primary]="true" size="26px"></app-icon>
    </button>
    <div class="d-flex flex-grow-1">
      <span class="display-flex align-items-center">
        <app-icon svgIcon="plus" [primary]="true" size="26px"></app-icon>
        <span class="header-text cursor-pointer" (click)="newMessage = true">{{
          "mail.newMessage" | translate
        }}</span>
      </span>
      <span
        class="ml-4 display-flex align-items-center"
        *ngIf="selectedMessage"
      >
        <app-icon svgIcon="trash" [primary]="true" size="18px"></app-icon>
        <span
          class="header-text cursor-pointer ml-1"
          (click)="removeCurrentMessage()"
          >{{ "mail.removeMessage" | translate }}</span
        >
        <mat-spinner
          *ngIf="removingInProgress"
          [diameter]="16"
          class="ml-1 mt-1"
        ></mat-spinner>
      </span>
      <span
        [matMenuTriggerFor]="attachToList"
        class="ml-4 display-flex align-items-center cursor-pointer"
        *ngIf="selectedMessage"
      >
        <app-icon
          svgIcon="pin"
          size="16px"
          [stroke]="true"
          [primary]="true"
        ></app-icon>
        <span class="header-text ml-1">{{ "mail.attach" | translate }}</span>
        <app-icon svgIcon="expand-more" [primary]="true"></app-icon>
      </span>
      <mat-menu #attachToList="matMenu" class="attach-mail-menu">
        <button mat-menu-item (click)="attachMailTo('lead')">
          {{ "mail.attachToLead" | translate }}
        </button>
        <button mat-menu-item (click)="attachMailTo('opportunity')">
          {{ "mail.attachToOpportunity" | translate }}
        </button>
        <button mat-menu-item (click)="attachMailTo('contact')">
          {{ "mail.attachToContact" | translate }}
        </button>
      </mat-menu>
    </div>
    <button class="btn-transparent" (click)="refresh()">
      <app-icon
        svgIcon="refresh"
        [class.rotating]="refreshInProgress"
        [primary]="true"
      ></app-icon>
    </button>
  </div>

  <mat-drawer-container class="mail-card-side">
    <mat-drawer #drawer mode="side" opened>
      <div class="mail-box">
        <div class="mail-box-header text-trim">
          <mat-form-field class="w-100 select-mail-configuration">
            <mat-select
              (valueChange)="changeActiveConfiguration($event)"
              [(ngModel)]="activeConfiguration"
            >
              <mat-option
                class="input-text"
                *ngFor="let configuration of mailConfigurations"
                [value]="configuration?.id"
                [id]="configuration.id"
                >{{ configuration?.username }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>

        <div
          *ngFor="let folder of mailFolders?.folders"
          class="mail-box-item"
          (click)="selectFolder(folder?.folderName)"
          [class.mail-box-item-selected]="isFolderSelected(folder?.folderName)"
        >
          <div class="d-flex">
            <div class="flex-grow-1 text-trim">
              <img src="{{ folder?.folderName | mailBoxIcon }}" />
              {{ translateFolderName(folder?.folderName) }}
            </div>
            <div *ngIf="folder?.unreadMessages > 0">
              {{ folder.unreadMessages }}
            </div>
          </div>
        </div>
        <div
          *ngIf="!!openedObject"
          class="mail-box-item"
          (click)="selectFolder('attachedObject')"
          [class.mail-box-item-selected]="isFolderSelected('attachedObject')"
        >
          <div class="d-flex">
            <div class="flex-grow-1 text-trim" [style.text-transform]="'none'">
              <app-icon
                [svgIcon]="iconByObjectTypes[openedObject.type]"
                size="16px"
                [primary]="true"
                [stroke]="true"
                [style.margin-right]="'10px'"
              ></app-icon>
              {{ openedObject.label }}
            </div>
          </div>
        </div>
      </div>
    </mat-drawer>

    <div class="list">
      <div class="list-header">
        <span>{{ "mail.list.sort.title" | translate }}: </span>
        <span [matMenuTriggerFor]="sortBy" class="clickable">
          <span class="ml-2">{{
            "mail.list.sort." + selectedSort | translate
          }}</span>
          <app-icon svgIcon="expand-more" [primary]="true"></app-icon>
        </span>

        <mat-menu #sortBy="matMenu" xPosition="before">
          <button
            (click)="sort(sortSelection.unread)"
            [class.active]="isSelected(sortSelection.unread)"
            class="dropdown-select-item"
            mat-menu-item
          >
            {{ "mail.list.sort.unread" | translate }}
          </button>
          <button
            (click)="sort(sortSelection.receivedDate)"
            [class.active]="isSelected(sortSelection.receivedDate)"
            class="dropdown-select-item"
            mat-menu-item
          >
            {{ "mail.list.sort.receivedDate" | translate }}
          </button>
          <button
            (click)="sort(sortSelection.subject)"
            [class.active]="isSelected(sortSelection.subject)"
            class="dropdown-select-item"
            mat-menu-item
          >
            {{ "mail.list.sort.subject" | translate }}
          </button>
        </mat-menu>
      </div>

      <div class="list-content" (scroll)="infinityScroll.onScroll($event)">
        <ng-container *ngFor="let item of infinityScroll?.itemPage?.content">
          <div
            class="list-item clickable"
            [ngClass]="{
              'card-padding-left': !drawer.opened,
              light: item?.seen,
              'list-item-selected': isHeaderSelected(item)
            }"
            (click)="getMessage(item)"
          >
            <div class="list-item-header text-trim">
              {{ getMailHeader(item) }}
            </div>
            <div class="list-item-subject text-trim">{{ item?.subject }}</div>
            <div class="list-item-time">
              {{ item?.receivedDate | formatDate: true }}
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </mat-drawer-container>

  <div class="mail-card-main">
    <div class="mail-card-main-content">
      <app-message-details
        *ngIf="!newMessage"
        [selectedFolder]="selectedFolder"
        [message]="selectedMessage"
        [messageId]="selectedMessageId"
      ></app-message-details>
      <app-new-mail
        *ngIf="newMessage"
        (closeNewMessage)="newMessage = false"
      ></app-new-mail>
    </div>
  </div>
</mat-card>

<mat-card class="fill-screen mail-card no-mails" *ngIf="downloadMailsError">
  <div class="mail-card-header"></div>
  <div class="mail-card-side"></div>
  <div class="mail-card-main">
    <div class="mail-card-main-content position-relative">
      <div class="error-msg">
        <div class="title">{{ "mail.emailNotConfigured" | translate }}</div>
        <div class="description">
          {{ "mail.clickToConfigureMail" | translate }}
          <span class="blue-text" (click)="openMailConfiguration()">{{
            "mail.userPreferences" | translate
          }}</span>
        </div>
      </div>
    </div>
  </div>
</mat-card>
