@import "~src/styles/theme";
@import "~src/styles/font-weights";

.login-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.login-background-image {
  height: 100vh;
  right: 0;
  max-width: 50vw;
  position: fixed;
  object-fit: cover;
}

.login-logo-image {
  position: fixed;
  top: 4em;
  left: 4em;
  width: 200px;
}

.login-title {
  font-size: 34px;
  color: #0A1F44;
  letter-spacing: 0;
  line-height: 48px;
  font-weight: $SemiBold;
}

.login-form {
  margin-top: 30px;
  margin-bottom: 30px;
}

.login-values {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  min-width: 20%;
}

.login-button {
  width: 100%;
  height: 48px;
  margin-top: 10px;
}
