<div class="login-container">
  <img src="assets/icons/shared/crm-logo.svg" class="login-logo-image"/>

  <div class="login-values">
    <div class="login-title">{{'login.form.title' | translate}}</div>
    <div class="login-form">
      <form [formGroup]="loginForm" (keyup.enter)="login()">
        <mat-form-field class="w-100">
          <input matInput
                 [placeholder]="'login.form.username' | translate"
                 formControlName="username"
                 (keyup.enter)="login()"
                 (ngModelChange)="credentials.username = $event"
                 required>
          <mat-error
            *ngIf="loginForm.get('username').hasError('required')">{{'login.form.usernameRequired' | translate}}</mat-error>
        </mat-form-field>
        <mat-form-field class="w-100">
          <input matInput
                 type="password"
                 [placeholder]="'login.form.password' | translate"
                 (ngModelChange)="credentials.password = $event"
                 formControlName="password"
                 (keyup.enter)="login()"
                 required>
          <mat-error
            *ngIf="loginForm.get('password').hasError('required')">{{'login.form.passwordRequired' | translate}}</mat-error>
        </mat-form-field>
      </form>
    </div>
    <button mat-raised-button color="primary" (click)="login()" class="login-button">{{'login.form.login' | translate}}</button>
  </div>
  <img src="assets/icons/login/background-login.png" class="login-background-image"/>
</div>
