<form [formGroup]="productForm">
  <div class="form-container">
    <div class="left-side-of-form">
      <div class="all-line-input default-margin">
        <mat-form-field *ngIf="authKey + 'name' | auth: 'i':true">
          <input formControlName="name" matInput />
          <mat-placeholder class="placeholder">{{
            "products.form.name" | translate
          }}</mat-placeholder>
          <mat-error *ngIf="name.hasError('required')">
            {{ "products.form.fieldRequired" | translate }}
          </mat-error>
          <mat-error *ngIf="name.hasError('whitespace')">
            {{ "sharedValidators.whitespace" | translate }}
          </mat-error>
          <mat-error *ngIf="name.hasError('maxlength')">
            {{ "sharedValidators.valueTooLong" | translate }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="line-for-two-inputs">
        <div>
          <mat-form-field *ngIf="authKey + 'code' | auth: 'i':true">
            <input formControlName="code" matInput />
            <mat-placeholder class="placeholder">{{
              "products.form.code" | translate
            }}</mat-placeholder>
            <mat-error *ngIf="code.hasError('required')">
              {{ "products.form.fieldRequired" | translate }}
            </mat-error>
            <mat-error *ngIf="code.hasError('whitespace')">
              {{ "sharedValidators.whitespace" | translate }}
            </mat-error>
            <mat-error *ngIf="code.hasError('maxlength')">
              {{ "sharedValidators.valueTooLong" | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="second-input-in-line">
          <mat-form-field *ngIf="authKey + 'skuCode' | auth: 'i':true">
            <input formControlName="skuCode" matInput />
            <mat-placeholder class="placeholder">{{
              "products.form.skuCode" | translate
            }}</mat-placeholder>
            <mat-error *ngIf="skuCode.hasError('required')">
              {{ "products.form.fieldRequired" | translate }}
            </mat-error>
            <mat-error *ngIf="skuCode.hasError('whitespace')">
              {{ "sharedValidators.whitespace" | translate }}
            </mat-error>
            <mat-error *ngIf="skuCode.hasError('maxlength')">
              {{ "sharedValidators.valueTooLong" | translate }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="category-label default-margin">
        {{ "products.form.category" | translate }}
      </div>
      <div class="all-line-input default-margin">
        <mat-form-field *ngIf="authKey + 'category' | auth: 'i':true">
          <mat-select
            formControlName="categoryIds"
            multiple
            #categorySelect
            (closed)="getSubcategories()"
          >
            <mat-option
              #noCategoryOption
              class="category-option without-category-text"
              [value]="undefinedCategoryId"
              (onSelectionChange)="onNoCategorySelect(noCategoryOption)"
            >
              {{ "products.form.withoutCategory" | translate }}
            </mat-option>
            <mat-option
              *ngFor="let category of allProductCategories"
              #categoryOption
              class="category-option category-option-text"
              [value]="category.id"
            >
              {{ category?.name }}
            </mat-option>
            <div
              class="dropdown-footer"
              *ngIf="'ProductListComponent.editCategory' | auth: 'w'"
            >
              <img src="assets/icons/plus-blue.svg" />
              <div
                class="add-new-category-text clickable"
                (click)="addCategory(categorySelect)"
              >
                {{ "products.form.addNewCategory" | translate }}
              </div>
            </div>
          </mat-select>
          <mat-placeholder class="placeholder">{{
            "products.form.category" | translate
          }}</mat-placeholder>
        </mat-form-field>
      </div>

      <div class="all-line-input default-margin pl-5">
        <mat-form-field *ngIf="authKey + 'subcategory' | auth: 'i':true">
          <mat-select
            formControlName="subcategoryIds"
            multiple
            #subcategorySelect
          >
            <mat-option
              #noSubcategoryOption
              class="category-option without-category-text"
              [value]="undefinedCategoryId"
              (onSelectionChange)="onNoSubcategorySelect(noSubcategoryOption)"
            >
              {{ "products.form.withoutSubcategory" | translate }}</mat-option
            >
            <mat-optgroup
              class="category-header"
              *ngFor="let category of productCategoriesWithSubcategories"
              [label]="category.name"
            >
              <ng-container *ngFor="let subcategory of category.subcategories">
                <mat-option
                  *ngIf="!subcategory.initial"
                  [value]="subcategory.id"
                  class="category-option category-option-text"
                >
                  <div class="ml-3">{{ subcategory.name }}</div>
                </mat-option>
              </ng-container>
            </mat-optgroup>

            <div
              class="dropdown-footer"
              *ngIf="'ProductListComponent.editCategory' | auth: 'w'"
            >
              <img src="assets/icons/plus-blue.svg" />
              <div
                class="add-new-category-text clickable"
                (click)="addSubcategory(subcategorySelect)"
              >
                {{ "products.form.addNewSubcategory" | translate }}
              </div>
            </div>
          </mat-select>
          <mat-placeholder class="placeholder">{{
            "products.form.category" | translate
          }}</mat-placeholder>
        </mat-form-field>
      </div>

      <div class="all-line-input default-margin mt-4">
        <mat-form-field *ngIf="authKey + 'manufacturer' | auth: 'i':true">
          <mat-label>{{ "products.form.manufacturer" | translate }}</mat-label>
          <span class="inline">
            <input
              matInput
              [placeholder]="'products.form.writeCharToSearch' | translate"
              (keyup.arrowDown)="manufacturerSearch.showPanel = true"
              formControlName="manufacturerSearch"
              [matAutocomplete]="manufacturerSearch"
            />
            <app-icon svgIcon="search" [hover]="false" [pointer]="false" size="16px"></app-icon>
          </span>
          <mat-autocomplete
            #manufacturerSearch="matAutocomplete"
            (optionSelected)="manufacturerSelect($event.option.value)"
          >
            <mat-option
              *ngFor="let object of filteredManufacturers"
              [value]="object"
              class="single-line-option"
            >
              <div class="search-result-text">{{ object.label }}</div>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="all-line-input default-margin">
        <mat-form-field *ngIf="authKey + 'supplier' | auth: 'i':true">
          <mat-label>{{ "products.form.supplier" | translate }}</mat-label>
          <span class="inline">
            <input
              matInput
              [placeholder]="'products.form.writeCharToSearch' | translate"
              (keyup.arrowDown)="supplierSearch.showPanel = true"
              formControlName="supplierSearch"
              [matAutocomplete]="supplierSearch"
            />
            <app-icon svgIcon="search" [hover]="false" [pointer]="false" size="16px"></app-icon>
          </span>
          <mat-autocomplete
            #supplierSearch="matAutocomplete"
            (optionSelected)="supplierSelect($event.option.value)"
          >
            <mat-option
              *ngFor="let object of filteredSuppliers"
              [value]="object"
              class="single-line-option"
            >
              <div class="search-result-text">{{ object.label }}</div>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="all-line-input default-margin">
        <mat-form-field *ngIf="authKey + 'brand' | auth: 'i':true">
          <input formControlName="brand" matInput />
          <mat-placeholder class="placeholder">{{
            "products.form.brand" | translate
          }}</mat-placeholder>
          <mat-error *ngIf="brand.hasError('maxlength')">
            {{ "sharedValidators.valueTooLong" | translate }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="default-margin row">
        <div class="col col-sm-5">
          <mat-form-field *ngIf="authKey + 'unit' | auth: 'i':true">
            <mat-select formControlName="unit">
              <mat-option *ngFor="let unit of units" [value]="unit.id">{{
                unit.name
              }}</mat-option>
            </mat-select>
            <mat-placeholder class="placeholder">{{
              "products.form.unit" | translate
            }}</mat-placeholder>
            <mat-error *ngIf="unit.hasError('required')">
              {{ "products.form.fieldRequired" | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col col-sm-4">
          <mat-form-field *ngIf="authKey + 'purchasePrice' | auth: 'i':true">
            <input
              formControlName="purchasePrice"
              matInput
              type="text"
              mask="separator.2"
              [validation]="false"
            />
            <mat-placeholder class="placeholder">{{
              "products.form.purchasePrice" | translate
            }}</mat-placeholder>
            <mat-error *ngIf="purchasePrice.hasError('required')">
              {{ "products.form.fieldRequired" | translate }}
            </mat-error>
            <mat-error *ngIf="purchasePrice.hasError('min')">
              {{ "products.form.minValue" | translate }}
            </mat-error>
            <mat-error *ngIf="purchasePrice.hasError('max')">
              {{ "sharedValidators.valueTooLong" | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col col-sm-3">
          <mat-form-field *ngIf="authKey + 'currency' | auth: 'i':true">
            <mat-select formControlName="currency">
              <mat-option
                *ngFor="let currency of currencies"
                [value]="currency"
                >{{ currency | getCurrencySymbol }}</mat-option
              >
            </mat-select>
            <mat-placeholder class="placeholder">{{
              "products.form.currency" | translate
            }}</mat-placeholder>
            <mat-error *ngIf="currency.hasError('required')">
              {{ "products.form.fieldRequired" | translate }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="default-margin row">
        <div class="col col-sm-5"></div>
        <div class="col col-sm-4">
          <mat-form-field
            class="sell-price-net-input"
            *ngIf="authKey + 'sellPriceNet' | auth: 'i':true"
          >
            <input
              formControlName="sellPriceNet"
              matInput
              type="text"
              mask="separator.2"
              [validation]="false"
            />
            <mat-placeholder class="placeholder">{{
              "products.form.sellPriceNet" | translate
            }}</mat-placeholder>
            <mat-error *ngIf="sellPriceNet.hasError('required')">
              {{ "products.form.fieldRequired" | translate }}
            </mat-error>
            <mat-error *ngIf="sellPriceNet.hasError('min')">
              {{ "products.form.minValue" | translate }}
            </mat-error>
            <mat-error *ngIf="sellPriceNet.hasError('max')">
              {{ "sharedValidators.valueTooLong" | translate }}
            </mat-error>
          </mat-form-field>
        </div>

        <!--        <div class="currency-little-input mr-3">-->
        <!--          <mat-form-field *ngIf="(authKey + 'currency' | auth:'i':true)">-->
        <!--            <mat-select formControlName="currency">-->
        <!--              <mat-option *ngFor="let currency of currencies" [value]="currency">{{currency | getCurrencySymbol}}</mat-option>-->
        <!--            </mat-select>-->
        <!--            <mat-placeholder class="placeholder">{{'products.form.currency' | translate}}</mat-placeholder>-->
        <!--            <mat-error *ngIf="currency.hasError('required')">-->
        <!--              {{'products.form.fieldRequired' | translate}}-->
        <!--            </mat-error>-->
        <!--          </mat-form-field>-->
        <!--        </div>-->

        <div class="col col-sm-3">
          <mat-form-field *ngIf="authKey + 'vat' | auth: 'i':true">
            <input
              formControlName="vat"
              matInput
              mask="separator"
              [validation]="false"
              class="input-with-suffix"
            />
            <div matSuffix>%</div>
            <mat-placeholder class="placeholder">{{
              "products.form.vat" | translate
            }}</mat-placeholder>
            <mat-error *ngIf="vat.hasError('required')">
              {{ "products.form.fieldRequired" | translate }}
            </mat-error>
            <mat-error *ngIf="vat.hasError('min')">
              {{ "products.form.minValue" | translate }}
            </mat-error>
            <mat-error *ngIf="vat.hasError('max')">
              {{ "sharedValidators.valueTooLong" | translate }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="active-checkbox" *ngIf="authKey + 'active' | auth: 'i':true">
        <mat-checkbox color="primary" formControlName="active">
          {{ "products.form.active" | translate }}
        </mat-checkbox>
      </div>
    </div>

    <div class="right-side-of-form">
      <mat-accordion [multi]="true">
        <mat-expansion-panel expanded="false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="extension-header-text">
                {{ "products.form.sections.priceList" | translate }}
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-product-price
            #productPrice
            [product]="editedProduct"
          ></app-product-price>
        </mat-expansion-panel>
        <mat-expansion-panel #photoEditExpansionPanel expanded="false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="extension-header-text w-100">
                {{ "products.form.sections.descriptionAndPhotos" | translate }}
              </div>
              <app-icon
                (click)="$event.stopPropagation()"
                [matMenuTriggerFor]="photoList"
                svgIcon="option-dots"
                [hover]="false"
              ></app-icon>
              <mat-menu #photoList="matMenu" xPosition="before">
                <button
                  (click)="photoUploader.turnOnEditMode()"
                  mat-menu-item
                  *ngIf="authKey + 'photos' | auth: 'w'"
                >
                  <app-icon
                    svgIcon="edit"
                    [hover]="false"
                    size="16px"
                  ></app-icon>
                  {{ "products.form.editPhoto" | translate }}
                </button>
              </mat-menu>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div>
            <div
              class="files-zone"
              *ngIf="
                editedProduct
                  ? (authKey + 'photos' | auth: 'i':true)
                  : (authKey + 'photos' | auth: 'w')
              "
            >
              <app-photo-uploader
                #photoUploader
                [component-destroyed]="componentDestroyed"
                [auth-key]="authKey"
                (open-expansion-panel)="photoEditExpansionPanel.open()"
              >
              </app-photo-uploader>

              <div class="product-tabs">
                <mat-tab-group>
                  <mat-tab
                    [label]="'products.form.tabs.description' | translate"
                    *ngIf="authKey + 'description' | auth: 'i':true"
                  >
                    <textarea
                      [formControl]="description"
                      placeholder="{{
                        'products.form.addDescription' | translate
                      }}"
                      class="form-control mt-2 mb-4 text-area-field"
                      rows="6"
                    ></textarea>
                  </mat-tab>
                  <mat-tab
                    [label]="'products.form.tabs.specification' | translate"
                    *ngIf="authKey + 'specification' | auth: 'i':true"
                  >
                    <textarea
                      [formControl]="specification"
                      placeholder="{{
                        'products.form.addSpecification' | translate
                      }}"
                      class="form-control mt-2 mb-4 text-area-field"
                      rows="6"
                    ></textarea>
                  </mat-tab>
                </mat-tab-group>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel expanded="false" *ngIf="editedProduct">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="extension-header-text">
                {{ "products.form.sections.files" | translate }}
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-card class="mat-elevation-z0 files">
            <app-file
              objectType="product"
              [objectId]="editedProduct.id"
              [open-full-view-button]="false"
              (fullView)="openFullDocumentView()"
            >
            </app-file>
          </mat-card>
        </mat-expansion-panel>
        <mat-expansion-panel expanded="false" *ngIf="editedProduct">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="extension-header-text">
                {{ "products.form.sections.sellHistory" | translate }}
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-sell-history [productId]="editedProduct?.id"></app-sell-history>
        </mat-expansion-panel>
        <mat-expansion-panel
          expanded="false"
          *ngIf="authKey + 'notes' | auth: 'i':true"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="extension-header-text">
                {{ "products.form.sections.notes" | translate }}
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <textarea
            [formControl]="notes"
            placeholder="{{ 'products.form.notes' | translate }}"
            class="form-control mt-2 mb-4 text-area-field"
            rows="6"
          ></textarea>
          <mat-error *ngIf="notes.hasError('maxlength')">
            {{ "sharedValidators.valueTooLong" | translate }}
          </mat-error>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</form>

<app-slider
  #addProductCategorySlider
  [title]="'products.form.addCategory.title' | translate"
  [closeByCross]="false"
  key="ProductForm.AddCategorySlider"
  width="30vw"
>
  <app-add-product-category
    [selectedCategoriesIds]="getSelectedCategoryIds()"
    (onSubmitClick)="onSubmitAddCategorySlider($event)"
    (onCancelClick)="onCancelAddCategorySlider()"
  ></app-add-product-category>
</app-slider>

<app-slider
  #addProductSubcategorySlider
  [title]="'products.form.addSubcategory.title' | translate"
  [closeByCross]="false"
  key="ProductForm.AddSubcategorySlider"
  width="30vw"
>
  <app-add-product-subcategory
    [categoryIds]="getSelectedCategoryIds()"
    [subcategoryIds]="getSelectedSubcategoriesIds()"
    (onSubmitClick)="onSubmitAddSubcategorySlider($event)"
    (onCancelClick)="onCancelAddSubcategorySlider()"
  ></app-add-product-subcategory>
</app-slider>
