@import "~src/styles/form";
@import "~src/styles/colors";
@import "~src/styles/font-weights";
@import "~src/styles/table";

.form-container {
  color: $action-color !important;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". .";
}

.left-side-of-form {
  margin-top: 10px;
  padding-right: 20px;
  border-right: 1px solid rgba($border-color-rgb, 0.5);
}

.right-side-of-form {
  margin-top: 10px;
}

::ng-deep.left-side-of-form
  .mat-form-field-label-wrapper
  .mat-form-field-label {
  font-size: 12px;
  font-weight: $Regular;
}

.all-line-input > .mat-form-field {
  width: 100%;
  padding-right: 10px;
}

.default-margin {
  margin: 0 10px;
}

.active-checkbox {
  margin: 100px 0 0 10px;
  font-size: 12px;
}

.line-for-two-inputs {
  width: 100%;
  @extend .default-margin;
}

.line-for-two-inputs > div {
  display: inline-block;
  width: 50%;
}

.line-for-two-inputs > div > .mat-form-field {
  width: 80%;
}

.second-input-in-line > .mat-form-field {
  margin-left: 8%;
}

.drop-zone {
  background: $bg-primary 0 0 no-repeat padding-box;
  border: 1px dashed $border-quaternary;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 98px;
  background-size: cover;
  position: relative;

  img {
    width: 20px;
    height: 20px;
  }
}

.drop-zone.selected {
  border: 2px solid $primary !important;
}

.blue-text {
  color: $primary;
}

.main-drop-zone {
  @extend .drop-zone;
  height: 266px;
  width: 400px;
  flex-direction: column;
}

.edit-mode-bg {
  background-color: $bg-primary;
  width: 100%;
  opacity: 0.85;
  height: 100%;
  border-radius: 8px;
  position: absolute;
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

.photo-button {
  height: 32px;
}

::ng-deep .photo-button .mat-button-wrapper {
  margin-top: -2px;
  display: flex;
}

.photo-buttons-group {
  width: 400px !important;
  margin-top: 10px;
}

.small-drop-zone {
  margin-top: 5px;
  width: 404px;
  display: flex;
}

.solid-border {
  border-style: solid !important;
}

.small-drop-zone > div {
  margin-right: 3px;
}

.small-drop-zone:last-child {
  margin-right: 0 !important;
}

.drop-zone-text {
  font: $Medium 13px/21px Poppins;
  letter-spacing: 0;
  color: $action-color;
}

.files-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.files {
  height: 200px;
}

.product-tabs {
  margin: 20px 20px 0 20px;
}

::ng-deep.product-tabs .mat-tab-label {
  min-width: 123px;
  font-size: 13px;
}

.category-label {
  margin-top: 30px !important;
  margin-bottom: 10px !important;
  font: $Medium 16px/25px Poppins;
  letter-spacing: 0;
  color: $text-title;
  opacity: 1;
}

.sell-price-net-input.mat-form-field {
  color: $primary;
}

.sell-price-net-input.mat-form-field .mat-input-element {
  color: $primary !important;
}
//
//::ng-deep.currency-little-input > .mat-form-field {
//  width: 90px;
//  .mat-form-field-underline {
//    background-repeat: no-repeat;
//    background-position: -1px;
//  }
//}

.default-margin.row {
  margin-left: -5px;
  margin-right: 5px;
}

.default-margin.row .col,
.default-margin.row .col {
  //padding: 0 20px 0 10px;
}

.default-margin.row .col .mat-form-field,
.default-margin.row .col .mat-form-select {
  width: 100%;
}

.extension-header-text {
  color: $primary;
  font-size: 13px;
  font-weight: $Medium;
  letter-spacing: 1.2px;
}

.right-side-of-form .mat-expansion-panel {
  box-shadow: 0 0 0 0 !important;
  border-bottom: 1px solid rgba($border-color-rgb, 0.5);
}

.photo-upload-progress {
  position: absolute;
  width: 48px;
  height: 4px !important;
  bottom: 4px;
}

// category dropdown

::ng-deep .category-option .mat-option-pseudo-checkbox {
  order: 2;
}

::ng-deep .category-option.mat-selected {
  @extend .category-option-selected-text;
}

.category-option-text {
  text-align: left;
  font: $Medium 13px/20px Poppins;
  letter-spacing: 0;
  color: $action-color;
  opacity: 1;
}

.category-option-selected-text {
  font: $Medium 13px/20px Poppins !important;
  color: $text-title !important;
}

.dropdown-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: sticky;
  bottom: 0;
  background: $bg-primary;
  height: 40px;
  padding-left: 16px;
}

.add-new-category-text {
  font-size: 12px;
  font-weight: $Medium;
  color: $primary;
}

.category-header-text {
  text-align: left;
  font: $Medium 10px/16px Poppins !important;
  letter-spacing: 1.2px;
  color: $primary;
  text-transform: uppercase;
  opacity: 1;
}

::ng-deep .category-header .mat-optgroup-label {
  display: flex;
  align-items: center;
  margin: 0;
  @extend .category-header-text;
}

.without-category-text {
  text-align: left;
  font: $Medium 13px/20px Poppins;
  letter-spacing: 0;
  color: $text-secondary;
  opacity: 1;
}

.input-with-suffix {
  vertical-align: text-top;
}

.search-icon {
  position: absolute;
  right: 5px;
}

.search-result-text {
  font-size: 13px;
  font: $Medium;
}
