<form [formGroup]="goalForm">
  <div class="form-width">

    <div class="row">
      <div class="col-md-12">
        <mat-form-field class="w-100">
          <mat-select formControlName="category" required>
            <mat-option *ngFor="let category of (goalCategoryEnum | enumToList)"
                        [value]="category">{{('goal.shared.category.' + (category | lowercase)) | translate}}</mat-option>
          </mat-select>
          <mat-placeholder class="placeholder">{{'goal.form.category' | translate}}</mat-placeholder>
          <mat-error *ngIf="category.hasError('required')">
            {{'goal.form.fieldRequired' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <mat-form-field class="w-100">
          <mat-select formControlName="type" required>
            <mat-option *ngFor="let type of goalAvailableTypes"
                        [value]="type">{{('goal.shared.type.' + (type | lowercase)) | translate}}</mat-option>
          </mat-select>
          <mat-placeholder class="placeholder">{{'goal.form.type' | translate}}</mat-placeholder>
          <mat-error *ngIf="type.hasError('required')">
            {{'goal.form.fieldRequired' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <mat-select formControlName="interval" required>
            <mat-option *ngFor="let interval of (goalIntervalEnum | enumToList)"
                        [value]="interval">{{('goal.shared.interval.' +(interval | lowercase)) | translate}}</mat-option>
          </mat-select>
          <mat-placeholder class="placeholder">{{'goal.form.interval' | translate}}</mat-placeholder>
          <mat-error *ngIf="interval.hasError('required')">
            {{'goal.form.fieldRequired' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <mat-select formControlName="intervalNumber" required>
            <mat-option *ngFor="let number of goalAvailableIntervalNumbers"
                        [value]="number">{{number}}</mat-option>
          </mat-select>
          <mat-placeholder class="placeholder">{{'goal.form.intervalNumber' | translate}}</mat-placeholder>
          <mat-error *ngIf="intervalNumber.hasError('required')">
            {{'goal.form.fieldRequired' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row" *ngIf="interval && interval.value !== goalIntervalEnum.YEAR">
      <div class="col-md-12">
        <mat-form-field class="w-100">
          <mat-select formControlName="startIndex" required>
            <mat-option *ngFor="let intervalValue of currentAvailableIntervals"
                        [value]="intervalValue.index">{{intervalValue.label}}</mat-option>
          </mat-select>
          <mat-placeholder class="placeholder">{{'goal.form.startIndex' | translate}}</mat-placeholder>
          <mat-error *ngIf="startIndex.hasError('required')">
            {{'goal.form.fieldRequired' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <mat-select formControlName="startYear" required>
            <mat-option *ngFor="let year of yearList"
                        [value]="year">{{year}}</mat-option>
          </mat-select>
          <mat-placeholder class="placeholder">{{'goal.form.startYear' | translate}}</mat-placeholder>
          <mat-error *ngIf="startYear.hasError('required')">
            {{'goal.form.fieldRequired' | translate}}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-6" [class.d-none]="!isAmountGoal()">
        <mat-form-field>
          <mat-select formControlName="currency" [value]="currencies[0]">
            <mat-option *ngFor="let currency of currencies" [value]="currency">{{currency | getCurrencySymbol}}</mat-option>
          </mat-select>
          <mat-placeholder class="placeholder">{{'goal.form.currency' | translate}}</mat-placeholder>
        </mat-form-field>
      </div>
    </div>
  </div>
</form>

