<div class="title-bar">
  <div class="mt-2 inner-title-bar">
    <img class="mt-3 ml-3" src="assets/icons/shared/crm-logo.svg" (click)="goToMainPage()" class="crm-logo"/>
    <span class="form-inline float-right">
      <button mat-button [matMenuTriggerFor]="menu">
        <span class="nav-icon fa fa-angle-down"></span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">{{'login.logout' | translate}}
          <span class="fa fa-sign-out"></span>
        </button>
      </mat-menu>
    </span>
  </div>
</div>
