@import "~src/styles/table";
@import "~src/styles/colors";

.title-bar {
  padding-left: 1em;
  color: $color-secondary;
}

.crm-logo {
  width: 200px;
}

.inner-title-bar {
  display: flex;
  justify-content: space-between;
}

.nav-icon {
  color: $nav-icon-color;
  background-color: $nav-item-background;
  height: 1em;
  font-size: 30px;
}
.nav-button {
  padding: 0;
  margin-left: -10px;
  margin-right: -10px;
}
