<span *ngIf="hourFormatterData" class="hour-formatter">
  <span
    [ngClass]="{'normal-time-format': !hourFormatterData.britishTimeFormat, 'british-time-format': hourFormatterData.britishTimeFormat}">
    {{textToShow}}
  </span>
  <span class="second-part">{{secondPartToShow}}</span>
</span>
