.hour-formatter {
  display: flex;
  .british-time-format,
  .normal-time-format {
    width: 35px;
    display: block;
    text-align-last: justify;
    text-align: justify;
    letter-spacing: -2px;
  }
  .second-part {
    margin-left: 7px;
  }
}
