@import "~src/styles/colors";
@import "~src/styles/table";
@import "~src/styles/font-weights.scss";


::ng-deep .app-notifications-panel {
  width: 100%;
  height: 99%;
}

.notifications-panel-container {
  width: 100%;
  height: 99%;
}

.notifications-panel-container .title {
  color: $text-primary;
  font-family: Poppins, serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: $Medium;
  margin-top: 1px;
  margin-left: 9px;
  margin-bottom: 25px;
}

::ng-deep .notifications-panel-container .notification-types {
  padding: 0 84px;
  margin-bottom: 17px;
}

::ng-deep .notifications-panel-container .notification-tabs {
  padding: 0 9px;
}

::ng-deep .notifications-panel-container .notification-tabs .tab {
  padding: 0 0 5px 0;
}

::ng-deep .notifications-panel-container .notifications-container {
  margin: 20px 0;
  padding: 0 9px;
  height: calc(100% - 165px);
  overflow-y: auto;
  display: block;
}

::ng-deep .notifications-panel-container .notification-element {
  width: 100%;
}
