@import "~src/styles/colors";
@import "~src/styles/form";
@import "~src/styles/slider";
@import "~src/styles/font-weights";

.fill-parent {
  overflow-y: auto;
  height: 100%;
}

mat-form-field {
  width: 100% !important;
  border-radius: 4px;
  font-size: 15px;
}

.title {
  color: $primary;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 1.2px;
  font-weight: $SemiBold;
  text-transform: uppercase;
}

.customer-logo-icon {
  width: 85%
}

.import-from-gus {
  color: $text-tertiary;
  cursor: pointer;
  float: right;
  position: absolute;
  width: max-content;
  right: 0;
  font-weight: $Medium;
  font-size: 12px;
}

.form-icon {
  position: absolute;
  margin-left: 1em;
  margin-top: 1em;
  cursor: pointer;
  z-index: 2;
}
.text-area-field:focus {
  background-color: $bg-primary;
  border-color: $border-primary;
  color: $text-title;
}
.text-area-field {
  background-color: $bg-primary;
  border-color: $border-secondary;
  font-size: 13px;
  line-height: 24px;
}
.field-text {
  font-weight: $Regular;
  font-size: 10px;
  color: $action-color;
}

.owner-panel-height {
  height: calc(20% - 3px);
  margin-bottom: 1px !important;
  .fill-parent {
    display: flex;
    align-items: center;
  }
}
.owner-field {
  margin-left: 25px;
  max-width: 320px;
  width: 100%;
  height: auto;
}
.first-to-contact-field {
  width: 100%;
  height: auto;
}
::ng-deep .dropdown-w-100 mat-option.new-first-to-contact-option > .mat-option-text {
  color: $text-tertiary !important;
  img {
    width: 24px !important;
    height: 24px !important;
    margin-left: -4px;
  }
}

.contact-panel-height {
  height: 80%;
  margin-bottom: 3px !important;
}

.left-card {
  padding: 10px !important;
  margin-bottom: 3px !important;
  height: 80%;
}
.card-height {
  height: calc(100% - 153px);
  margin-bottom: 1px;
}
.new-contact {
  font-weight: $Medium;
  font-size: 12px;
  color: $primary;
  margin-left: 3em;
  cursor: pointer;

  img {
    width: 16px;
    height: 16px;
  }
}

.field-margin {
  margin-left: .1em;
  margin-right: .1em;
}

.customer-icon {
  margin-top: 30px !important;
  img {
    width: 110px !important;
    border-radius: 50%;
  }
}
