<form [formGroup]="customerForm" class="h-100">
  <div class="row card-height pl-0 pr-0 m-0 card-padding">
    <div class="col-md-2 customer-icon m-0 p-0">
      <app-avatar-preview [rounded]="false" class="header-photo" [imageSrc]="avatar" [widthPx]="65"
                          defaultImg="assets/icons/customer-details.svg"></app-avatar-preview>
    </div>
    <div class="col-md-9 p-0 m-0 h-100 ml-4">
      <mat-card-content class="fill-parent crm-form p-3">
        <div class="row mt-3 ml-0 mr-0">
          <div class="col-md-5">
            <h5 class="title">{{'contacts.contactInfo.customerInfo.customer' | translate}}</h5>
          </div>
        </div>

        <div class="row field-margin">
          <div class="col-md-12">
            <mat-form-field *ngIf="(authKey + 'nameField' | auth:'i':true)">
              <input matInput required
                     [placeholder]="'contacts.contactInfo.customerInfo.name' | translate"
                     formControlName="name">
              <mat-error *ngIf="name.hasError('required')">
                {{'contacts.contactInfo.customerInfo.nameRequired' | translate}}
              </mat-error>
              <mat-error *ngIf="name.hasError('whitespace')">
                {{'sharedValidators.whitespace' | translate}}
              </mat-error>
              <mat-error *ngIf="website.hasError('maxlength')">
                {{'sharedValidators.valueTooLong' | translate}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row field-margin">
          <div class="col-md-6">
            <mat-form-field *ngIf="(authKey + 'nipField' | auth:'i':true)">
              <input matInput required
                     (ngModelChange)="checkIfNipExistsInDb($event)"
                     [placeholder]="'contacts.contactInfo.customerInfo.nip' | translate"
                     formControlName="nip"
                     mask="000-000-00-00"
                     [validation]="true">
              <mat-error *ngIf="nip.hasError('required')">
                {{'contacts.contactInfo.customerInfo.nipRequired' | translate}}
              </mat-error>
              <mat-error *ngIf="nip.hasError('whitespace')">
                {{'sharedValidators.whitespace' | translate}}
              </mat-error>
              <mat-error *ngIf="nip.hasError('minlength')">
                {{'contacts.contactInfo.customerInfo.nipMinLength' | translate}}
              </mat-error>
              <mat-error *ngIf="nip.hasError('nipExists')">
                {{'customer.form.nipExists' | translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field *ngIf="(authKey + 'regonField' | auth:'i':true)">
              <input matInput
                     [placeholder]="'contacts.contactInfo.customerInfo.regon' | translate"
                     type="text"
                     formControlName="regon">
              <mat-error *ngIf="regon.hasError('pattern')">
                {{'contacts.contactInfo.customerInfo.regonPattern' | translate}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="mt-3 ml-0 mr-0">
          <div class="row field-margin">
            <div class="col-md-12">
              <h5 class="title">{{'contacts.contactInfo.customerInfo.address' | translate}}</h5>

              <mat-form-field *ngIf="(authKey + 'streetField' | auth:'i':true)">
                <input matInput
                       [placeholder]="'contacts.contactInfo.customerInfo.street' | translate"
                       formControlName="street">
                <mat-error *ngIf="street.hasError('maxlength')">
                  {{'sharedValidators.valueTooLong' | translate}}
                </mat-error>
              </mat-form-field>

              <div class="row">
                <div class="col-md-6">
                  <mat-form-field *ngIf="(authKey + 'cityField' | auth:'i':true)"
                                  class="w-100">
                    <input matInput
                           [placeholder]="'contacts.contactInfo.customerInfo.city' | translate"
                           formControlName="city">
                    <mat-error *ngIf="city.hasError('maxlength')">
                      {{'sharedValidators.valueTooLong' | translate}}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field *ngIf="(authKey + 'zipField' | auth:'i':true)"
                                  class="w-100">
                    <input matInput
                           [placeholder]="'contacts.contactInfo.customerInfo.zipCode' | translate"
                           mask="00-000"
                           [validation]="true"
                           formControlName="zipCode">
                    <mat-error *ngIf="zipCode.hasError('minlength')">
                      {{'contacts.contactInfo.customerInfo.zipCodeMinLength' | translate}}
                    </mat-error>
                    <mat-error *ngIf="zipCode.hasError('maxlength')">
                      {{'sharedValidators.valueTooLong' | translate}}
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <mat-form-field *ngIf="(authKey + 'countryField' | auth:'i':true)">
                <input matInput
                       [placeholder]="'contacts.contactInfo.customerInfo.country' | translate"
                       formControlName="country">
                <mat-error *ngIf="country.hasError('maxlength')">
                  {{'sharedValidators.valueTooLong' | translate}}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="row field-margin mt-3">
          <div class="col-md-12">
            <mat-form-field *ngIf="(authKey + 'phoneField' | auth:'i':true)">
              <input matInput
                     [placeholder]="'contacts.contactInfo.customerInfo.phone' | translate"
                     formControlName="phone"
                     [mask]="phoneService.getPhoneInputMask(phone.value)"
                     type="tel"
                     [validation]="true">
              <mat-error *ngIf="phone.hasError('minlength')">
                {{'contacts.contactInfo.customerInfo.phoneMinLength' | translate}}
              </mat-error>
              <mat-error *ngIf="phone.hasError('maxlength')">
                {{'sharedValidators.valueTooLong' | translate}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row field-margin">
          <div class="col-md-12">
            <mat-form-field *ngIf="(authKey + 'websiteField' | auth:'i':true)">
              <input matInput
                     [placeholder]="'contacts.contactInfo.customerInfo.website' | translate"
                     type="text"
                     formControlName="website">
              <mat-error *ngIf="website.hasError('maxlength')">
                {{'sharedValidators.valueTooLong' | translate}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="display-grid">
          <div class="w-100">
            <app-additional-data-form #additionalDataFormComponent
                                      [showPlusButton]="true"
                                      [additionalDataString]="additionalData"></app-additional-data-form>
          </div>
        </div>


      </mat-card-content>
    </div>
  </div>
</form>
