<mat-tab-group
  class="board-tab-group h-100 lead-tabs"
  [(selectedIndex)]="selectedTabIndex"
>
  <mat-tab
    [label]="'leads.details.tabs.activity' | translate"
    *ngIf="'LeadDetailsComponent.activity' | auth: 'i':true"
  >
    <app-activity-tab
      class="overflow-hidden"
      objectType="lead"
      [objectId]="leadId"
      [readonly]="lead?.convertedToOpportunity"
    ></app-activity-tab>
  </mat-tab>
  <mat-tab
    [label]="'leads.details.tabs.expenses' | translate"
    *ngIf="'LeadDetailsComponent.expenses' | auth: 'i':true"
  >
    <app-expense-list
      *matTabContent
      [crmObject]="{ type: objectType.lead, id: leadId }"
    ></app-expense-list>
  </mat-tab>
  <mat-tab
    [label]="'leads.details.tabs.emails' | translate"
    *ngIf="'LeadDetailsComponent.attachedEmails' | auth: 'i':true"
  >
    <app-email-extend-tab
      [crmObject]="{ type: objectType.lead, id: leadId }"
      [emailExpandLabel]="lead?.firstName || '' + ' ' + lead?.lastName || ''"
    >
    </app-email-extend-tab>
    <!--    <app-attached-emails-->
    <!--      [fullHeight]="true"-->
    <!--      [crmObject]="{ type: objectType.lead, id: leadId }"-->
    <!--    ></app-attached-emails>-->
  </mat-tab>
  <mat-tab
    [label]="'leads.details.tabs.history' | translate"
    *ngIf="'LeadDetailsComponent.history' | auth: 'i':true"
  >
    <app-history-tab
      historyType="LEAD"
      [objectId]="leadId"
      [changedSubscription]="leadChangedSubscription"
      [customerFields]="['convertedToCustomerId']"
      [contactFields]="['convertedToContactId']"
      [fullHeight]="true"
    ></app-history-tab>
  </mat-tab>
</mat-tab-group>
