@import "~src/styles/colors";
@import "~src/styles/table";

.button-container {
  display: flex;
  align-items: center;
  & > * {
    padding: 0 6px;
  }
  &::ng-deep.expanded {
    .icon {
      fill: $primary !important;
    }
  }
}

.lead-list-icon-button {
  padding-bottom: 2.25px !important;
}

.canban {
  width: 100%;
  margin-left: -8px;
}

.progress-bar-parent-element {
  position: relative;
  min-width: 120px;

  .acceptance-required {
    top: 6px;
    position: absolute;
    left: 111px;

    &__icon {
      width: 20px;
    }
  }
}

.loading-shade {
  position: absolute;
  width: 100%;
  min-height: 64px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 101;
  background: radial-gradient(rgba($bg-primary-rgb, 0.6) 50%, transparent 100%);
}

.no-scroll {
  overflow: hidden !important;
}

::ng-deep .lead-list .mat-column-status {
  overflow: inherit !important;

  .bs-tooltip-top {
    top: 0 !important;
    left: 0 !important;
    min-width: 150px !important;

    .tooltip-inner {
      padding: 7px 12px !important;
      box-shadow: 0 6px 12px rgba(10, 30, 68, 0.25);
      background-color: $bg-primary;
      border-color: $border-primary !important;
      font-size: 13px;
      color: $primary-contrast !important;
      line-height: 24px;
    }

    .tooltip-arrow::before {
      border-top-color: #fafafa !important;
    }
  }
}

.flex-table-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  .flex-table-content {
    position: relative;
    flex: 1;
    width: 100%;
    overflow: hidden;

    .scroll-table {
      overflow: auto;
      height: 100%;
      width: 100%;
    }
  }
}

.priority-column {
  
  display: flex;
  align-items: center;
  .priority-marker {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $text-primary;
    margin-right: 4px;
    &.low-color {
      background-color: $priority-low;
    }
    &.medium-color {
      background-color: $priority-medium;
    }
    &.high-color {
      background-color: $priority-high;
    }
  }
}
