<mat-card class="mat-elevation-z8 fill-screen table-container">
  <div class="table-header-container">
    <div>
      <span>
        <span class="table-header-primary">{{
          "leads.list.title" | translate
        }}</span>
        <span class="table-header-note">({{ leadsPage?.totalElements }})</span>
      </span>
      <span class="ml-5" *ngIf="!kanbanVisible">
        <span class="filter-by-text"
          >{{ "leads.list.filterBy.filter" | translate }}:
        </span>
        <span class="filter-by-value ml-2">{{
          "leads.list.filterBy." + selectedFilter | translate
        }}</span>
        <app-icon
          [matMenuTriggerFor]="filterBy"
          [hover]="false"
          svgIcon="expand-more"
        ></app-icon>
        <mat-menu #filterBy="matMenu" xPosition="before">
          <div class="dropdown-select-title">
            {{ "leads.list.filterBy.showOnly" | translate }}
          </div>
          <button
            (click)="filter(filterSelection.OPENED)"
            [class.active]="isSelected(filterSelection.OPENED)"
            class="dropdown-select-item"
            mat-menu-item
          >
            {{ "leads.list.filterBy.opened" | translate }}
          </button>
          <button
            (click)="filter(filterSelection.CREATED_TODAY)"
            [class.active]="isSelected(filterSelection.CREATED_TODAY)"
            class="dropdown-select-item"
            mat-menu-item
          >
            {{ "leads.list.filterBy.createdToday" | translate }}
          </button>
          <button
            (click)="filter(filterSelection.VIEWED_LASTLY)"
            [class.active]="isSelected(filterSelection.VIEWED_LASTLY)"
            class="dropdown-select-item"
            mat-menu-item
          >
            {{ "leads.list.filterBy.viewedLastly" | translate }}
          </button>
          <button
            (click)="filter(filterSelection.FOR_APPROVING)"
            [class.active]="isSelected(filterSelection.FOR_APPROVING)"
            class="dropdown-select-item"
            mat-menu-item
          >
            {{ "leads.list.filterBy.forApproving" | translate }}
          </button>
          <button
            (click)="filter(filterSelection.CLOSED_CLOSED)"
            [class.active]="isSelected(filterSelection.CLOSED_CLOSED)"
            class="dropdown-select-item"
            mat-menu-item
          >
            {{ "leads.list.filterBy.closedClosed" | translate }}
          </button>
          <button
            (click)="filter(filterSelection.CLOSED_ARCHIVED)"
            [class.active]="isSelected(filterSelection.CLOSED_ARCHIVED)"
            class="dropdown-select-item"
            mat-menu-item
          >
            {{ "leads.list.filterBy.closedArchived" | translate }}
          </button>
          <button
            (click)="filter(filterSelection.CONVERTED)"
            [class.active]="isSelected(filterSelection.CONVERTED)"
            class="dropdown-select-item"
            mat-menu-item
          >
            {{ "leads.list.filterBy.converted" | translate }}
          </button>
          <button
            (click)="filter(filterSelection.ALL)"
            [class.active]="isSelected(filterSelection.ALL)"
            class="dropdown-select-item"
            mat-menu-item
          >
            {{ "leads.list.filterBy.all" | translate }}
          </button>
        </mat-menu>
      </span>
    </div>
    <div class="button-container">
      <app-lead-search (searchEvent)="setSelectedSearch($event)">
      </app-lead-search>
      <app-icon
        class="lead-list-icon-button"
        *ngIf="'LeadCreateComponent.save' | auth: 'w'"
        svgIcon="add"
        appTooltip="ADD"
        (click)="addSlider.toggle()"
      ></app-icon>
      <app-icon
        class="lead-list-icon-button"
        *ngIf="'LeadShared.export' | auth: 'w'"
        svgIcon="export"
        appTooltip="EXPORT"
        (click)="export()"
      ></app-icon>
      <app-icon
        class="lead-list-icon-button"
        *ngIf="'LeadShared.import' | auth: 'w'"
        svgIcon="import"
        appTooltip="IMPORT"
        (click)="importLeads.openDialog(leadImportDialogData)"
      ></app-icon>
      <app-lead-import #importLeads></app-lead-import>
      <app-icon
        class="lead-list-icon-button"
        svgIcon="collapse"
        appTooltip="INCREASE_SPACE"
        (click)="collapse()"
        [class.expanded]="!expanded && !kanbanVisible"
      ></app-icon>
      <app-icon
        class="lead-list-icon-button"
        svgIcon="expand"
        appTooltip="REDUCE_SPACE"
        (click)="expand()"
        [class.expanded]="expanded && !kanbanVisible"
      ></app-icon>
      <app-icon
        class="lead-list-icon-button"
        svgIcon="block-list"
        appTooltip="KANBAN"
        (click)="showCanban()"
        [class.expanded]="kanbanVisible"
      ></app-icon>
      <app-icon
        class="lead-list-icon-button"
        svgIcon="option-dots"
        appTooltip="MORE"
        [matMenuTriggerFor]="upperMenu"
      ></app-icon>
      <mat-menu #upperMenu="matMenu" xPosition="before">
        <button mat-menu-item [disabled]="!selectedLeads.length">
          <app-icon
            svgIcon="tick"
            size="18px"
            [hover]="false"
            [disabled]="!selectedLeads.length"
          ></app-icon>
          {{ "leads.list.groupDropdown.changeStatus" | translate }}
        </button>
        <button
          *ngIf="'LeadShared.changeKeeper' | auth: 'w'"
          (click)="transferSelectedCustomers()"
          [disabled]="!isAnyCustomerChecked()"
          mat-menu-item
        >
          <app-icon
            svgIcon="transfer"
            size="18px"
            [hover]="false"
            [disabled]="!isAnyCustomerChecked()"
          ></app-icon>
          {{ "leads.list.groupDropdown.changeOwner" | translate }}
        </button>
        <button
          *ngIf="'LeadShared.delete' | auth: 'w'"
          (click)="tryDeleteSelectedLeads()"
          mat-menu-item
          [disabled]="!selectedLeads.length"
        >
          <app-icon
            svgIcon="trash"
            size="18px"
            [hover]="false"
            [disabled]="!selectedLeads.length"
          ></app-icon>
          {{ "leads.list.groupDropdown.delete" | translate }}
        </button>
        <button mat-menu-item [disabled]="!selectedLeads.length">
          <app-icon
            svgIcon="ring"
            size="18px"
            [hover]="false"
            [disabled]="!selectedLeads.length"
          ></app-icon>
          {{ "leads.list.groupDropdown.setAlert" | translate }}
        </button>
      </mat-menu>
    </div>
  </div>
  <div class="row overflow-y with-title flex-table-container">
    <ng-container *ngIf="!kanbanVisible">
      <div class="flex-table-content">
        <div class="loading-shade" *ngIf="!loadingFinished">
          <mat-spinner></mat-spinner>
        </div>
        <div class="scroll-table">
          <table
            [dataSource]="leadsPage?.content"
            class="col-md-12"
            mat-table
            matSort
            (matSortChange)="onSortChange($event)"
            [ngClass]="{ 'row-collapsed': !expanded, 'row-expanded': expanded }"
          >
            <ng-container matColumnDef="selectRow">
              <th *matHeaderCellDef mat-header-cell>
                <mat-checkbox
                  [checked]="isChecked()"
                  [indeterminate]="isIndeterminate()"
                  (change)="$event ? toggleAll($event) : null"
                  class="crm-checkbox"
                  color="primary"
                ></mat-checkbox>
              </th>
              <td *matCellDef="let lead" class="checkbox-column-width" mat-cell>
                <mat-checkbox
                  (click)="$event.stopPropagation()"
                  (change)="toggleLead($event, lead)"
                  [checked]="exists(lead)"
                  class="crm-checkbox"
                  color="primary"
                ></mat-checkbox>
              </td>
            </ng-container>
            <ng-container matColumnDef="avatar">
              <th *matHeaderCellDef mat-header-cell></th>
              <td *matCellDef="let lead" mat-cell class="avatar-column-width">
                <app-avatar-icon
                  [text]="
                    (
                      (lead?.firstName || '') +
                      ' ' +
                      (lead?.lastName || '')
                    ).trim()
                  "
                  [imageSrc]="lead?.avatar"
                  color="#f27b9f"
                  widthPx="40"
                ></app-avatar-icon>
              </td>
            </ng-container>
            <ng-container matColumnDef="firstName">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>
                {{ "leads.list.name" | translate }}
              </th>
              <td *matCellDef="let lead" mat-cell>
                <div
                  class="table-text-primary"
                  [title]="
                    lead.firstName + ' ' + lead.lastName | lengthMoreThan: 30
                  "
                >
                  {{ lead.firstName }} {{ lead.lastName }}
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="external">
              <th *matHeaderCellDef mat-header-cell></th>
              <td *matCellDef="let lead" class="external-column-width" mat-cell>
                <app-icon
                  svgIcon="external"
                  size="18px"
                  (click)="
                    $event.stopPropagation(); goToLeadDetailsNewTab(lead.id)
                  "
                  [primary]="true"
                ></app-icon>
              </td>
            </ng-container>
            <ng-container matColumnDef="position">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>
                {{ "leads.list.position" | translate }}
              </th>
              <td
                *matCellDef="let lead"
                mat-cell
                [title]="lead.position | lengthMoreThan: 30"
              >
                {{ lead.position }}
              </td>
            </ng-container>
            <ng-container matColumnDef="company.companyName">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>
                {{ "leads.list.company" | translate }}
              </th>
              <td
                *matCellDef="let lead"
                mat-cell
                [title]="lead.company | lengthMoreThan: 30"
              >
                {{ lead.company }}
              </td>
            </ng-container>
            <ng-container matColumnDef="company.city">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>
                {{ "leads.list.city" | translate }}
              </th>
              <td
                *matCellDef="let lead"
                mat-cell
                [title]="lead.city | lengthMoreThan: 30"
              >
                {{ lead.city }}
              </td>
            </ng-container>
            <ng-container matColumnDef="phone">
              <th *matHeaderCellDef mat-header-cell>
                {{ "leads.list.phone" | translate }}
              </th>
              <td *matCellDef="let lead" mat-cell>{{ lead.phone | phone }}</td>
            </ng-container>
            <ng-container matColumnDef="email">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>
                {{ "leads.list.email" | translate }}
              </th>
              <td *matCellDef="let lead" mat-cell>
                <div
                  class="table-text-link"
                  [title]="lead.email | lengthMoreThan: 30"
                >
                  {{ lead.email }}
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="created">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>
                {{ "leads.list.creationDate" | translate }}
              </th>
              <td *matCellDef="let lead" mat-cell>
                <div>{{ lead.creationDate | formatDate: true }}</div>
              </td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th *matHeaderCellDef mat-header-cell>
                {{ "leads.list.status" | translate }}
              </th>
              <td *matCellDef="let lead" mat-cell>
                <div class="progress-bar-parent-element">
                  <span>
                    <mat-progress-bar
                      [value]="getLeadProgress(lead)"
                      class="progress-bar-element"
                      mode="determinate"
                    >
                    </mat-progress-bar>
                    <span class="progress-bar-text">
                      {{ "leads.list.stage" | translate }} {{ lead.status }}
                    </span>
                  </span>

                  <span class="acceptance-required">
                    <div
                      class="placeholder-for-tooltip"
                      [tooltip]="'leads.list.acceptanceRequired' | translate"
                      #leadAlertSolidTooltip="bs-tooltip"
                      placement="top"
                      triggers=""
                      [delay]="500"
                    ></div>
                    <img
                      class="acceptance-required__icon"
                      *ngIf="
                        currentAccountId &&
                        currentAccountId === lead.acceptanceUserId
                      "
                      (mouseover)="leadAlertSolidTooltip.show()"
                      (mouseout)="leadAlertSolidTooltip.hide()"
                      src="assets/icons/alert-solid.svg"
                    />
                  </span>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="process">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>
                {{ "leads.list.process" | translate }}
              </th>
              <td
                *matCellDef="let lead"
                mat-cell
                [title]="lead?.processInstanceName | lengthMoreThan: 30"
              >
                {{ lead?.processInstanceName }}
                <span *ngIf="lead?.processInstanceVersion !== 1">
                  ({{ "leads.form.processVersion" | translate }}
                  {{ lead?.processInstanceVersion }})
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="priority">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>
                {{ "leads.list.priority" | translate }}
              </th>
              <td *matCellDef="let lead" mat-cell>
                <div class="priority-column" *ngIf="lead?.priority">
                  <span
                    [class]="
                      'priority-marker ' +
                      lead.priority?.toLowerCase() +
                      '-color'
                    "
                  ></span>
                  <span>{{
                    "leads.form.leadPriority." + lead.priority?.toLowerCase()
                      | translate
                  }}</span>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="leedKeeper">
              <th *matHeaderCellDef mat-header-cell>
                {{ "leads.list.protector" | translate }}
              </th>
              <td
                *matCellDef="let lead"
                mat-cell
                [title]="userMap?.get(lead?.leadKeeper) | lengthMoreThan: 30"
              >
                {{ userMap?.get(lead?.leadKeeper) }}
              </td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th *matHeaderCellDef mat-header-cell></th>
              <td *matCellDef="let lead" mat-cell>
                <app-icon
                  [matMenuTriggerFor]="menu"
                  (click)="$event.stopPropagation()"
                  appTooltip="MORE"
                  svgIcon="option-dots"
                  [hover]="false"
                ></app-icon>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button
                    *ngIf="'LeadShared.edit' | auth: 'w'"
                    (click)="edit(lead.id)"
                    class="dropdown-select-item"
                    mat-menu-item
                  >
                    <app-icon
                      svgIcon="edit"
                      size="18px"
                      [hover]="false"
                    ></app-icon>
                    {{ "leads.list.singleDropdown.edit" | translate }}
                  </button>
                  <button
                    *ngIf="'LeadShared.delete' | auth: 'w'"
                    (click)="tryDeleteLead(lead.id)"
                    class="dropdown-select-item"
                    mat-menu-item
                  >
                    <app-icon
                      svgIcon="trash"
                      size="18px"
                      [hover]="false"
                    ></app-icon>
                    {{ "leads.list.singleDropdown.delete" | translate }}
                  </button>
                  <button class="dropdown-select-item" mat-menu-item>
                    <app-icon
                      svgIcon="ring"
                      size="18px"
                      [hover]="false"
                    ></app-icon>
                    {{ "leads.list.singleDropdown.setAlert" | translate }}
                  </button>
                  <button class="dropdown-select-item" mat-menu-item>
                    <app-icon
                      svgIcon="tick"
                      size="18px"
                      [hover]="false"
                    ></app-icon>
                    {{ "leads.list.singleDropdown.changeStatus" | translate }}
                  </button>
                  <button class="dropdown-select-item" mat-menu-item>
                    <app-icon
                      svgIcon="envelope"
                      size="18px"
                      [hover]="false"
                    ></app-icon>
                    {{ "leads.list.singleDropdown.sendEmail" | translate }}
                  </button>
                </mat-menu>
              </td>
            </ng-container>
            <tr
              *matHeaderRowDef="filteredColumns$ | async; sticky: true"
              mat-header-row
            ></tr>
            <tr
              *matRowDef="let myRowData; columns: filteredColumns$ | async"
              mat-row
              (click)="goToLeadDetails(myRowData.id)"
              class="clickable"
            ></tr>
          </table>
        </div>
      </div>

      <div
        *ngIf="loadingFinished && !leadsPage?.content?.length; else pagination"
        class="center"
        style="padding: 32px 0"
      >
        <div class="center-horizontally">
          <img src="assets/icons/empty-contact-list.svg" />
          <div class="mt-4 empty-list-text-primary">
            {{ "leads.list.empty" | translate }}
          </div>
          <div class="empty-list-text-secondary center">
            {{ "leads.list.add" | translate }}
            <app-icon
              *ngIf="'LeadCreateComponent.save' | auth: 'w'"
              (click)="addSlider.toggle()"
              svgIcon="add"
              class="px-1"
            ></app-icon>
            {{ "leads.list.orImportList" | translate }}
            <app-icon svgIcon="import" class="px-1"></app-icon>
          </div>
        </div>
      </div>

      <ng-template #pagination>
        <app-paginator
          [length]="totalElements"
          (page)="changePagination($event)"
          style="width: 100%"
        ></app-paginator>
      </ng-template>
    </ng-container>
    <ng-container *ngIf="kanbanVisible">
      <app-leads-canban
        class="canban"
        (onLeadEdit)="edit($event)"
      ></app-leads-canban>
    </ng-container>
  </div>
</mat-card>

<app-slider
  #addSlider
  [title]="'leads.form.addTitle' | translate"
  key="LeadList.AddSlider"
  width="65vw"
  [group]="'leadFormGroup'"
>
  <app-lead-add (leadAdded)="handleLeadAdded()"></app-lead-add>
</app-slider>

<app-slider
  #editSlider
  [title]="'leads.form.editTitle' | translate"
  key="LeadList.EditSlider"
  width="65vw"
  [group]="'leadFormGroup'"
>
  <app-lead-edit
    [lead]="selectedLead"
    (leadEdited)="handleLeadEdited()"
  ></app-lead-edit>
</app-slider>

<app-slider
  #changeOwnerSlider
  [title]="'leads.form.changeLeadKeeper' | translate"
  key="CustomerList.transferSelectedCustomers"
  width="35vw"
>
  <app-lead-change-owner
    (ownerChanged)="getLeads(selectedFilter)"
    [selectedLeads]="selectedLeads"
  ></app-lead-change-owner>
</app-slider>
