<ng-template
  cdkConnectedOverlay
  (detach)="close()"
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="open"
  [cdkConnectedOverlayHeight]="400"
  [cdkConnectedOverlayWidth]="400"
>
  <mat-card class="menu mat-elevation-z4">
    <div class="menu-header">
      <span
        >{{ "calendar.form.addMembersTitle" | translate }} ({{
          selectedMembers.length
        }})</span
      >
      <button mat-icon-button aria-label="close" (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div class="menu-search">
      <mat-form-field class="menu-search-input">
        <input matInput [formControl]="searchControl" />
      </mat-form-field>
      <button mat-flat-button color="primary" [disabled]="!selectedMembers.length" (click)="addSelectedAssignees()">
        {{ "calendar.form.addMembers" | translate }}
      </button>
    </div>
    <div class="menu-tabs">
      <div class="btn-group">
        <div
          *ngFor="let button of selectButtons"
          class="btn btn-outline-secondary clickable"
          (click)="changeType(button.type)"
          [class.active]="selectType === button.type"
        >
          {{ button.name | translate }}
        </div>
      </div>
    </div>
    <div class="menu-list" (scroll)="onScroll($event)">
      <mat-selection-list (selectionChange)="selectUser($event)">
        <mat-list-option
          *ngFor="let member of members"
          [value]="member"
          [selected]="isSelected(member)"
          color="primary"
        >
          <app-avatar-icon
            mat-list-icon
            [style.width]="'36px'"
            [style.height]="'36px'"
            [imageSrc]="member.avatar"
            [text]="member.name || member.email"
            [widthPx]="36"
          ></app-avatar-icon>
          <div mat-line>{{ member.name }}</div>
          <div mat-line>{{ member.email }}</div>
        </mat-list-option>
      </mat-selection-list>
    </div>
  </mat-card>
</ng-template>
