@import "~src/styles/colors";

.menu {
  width: 400px;
  height: 400px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px 0 16px;
  }
  &-search {
    display: flex;
    align-items: baseline;
    height: 52px;
    padding: 0 8px;
    &-input {
      flex: 1;
      margin-right: 16px;
    }
  }
  &-tabs {
    padding: 8px;
    .btn-group {
        width: 100%;
      .btn:hover,
      .btn.active {
        background-color: $primary;
        color:  $primary-contrast !important;
      }
      .btn {
        height: 32px;
        font-size: 12px;
        border-color: $primary;
        color: $primary;
      }
    }
  }
  &-list {
    flex: 1;
    overflow-y: auto;
    ::ng-deep.mat-list-item {
      height: 56px !important;
      .mat-list-item-content {
        padding: 0 8px;
        .mat-line {
          font-size: 14px;
          &:nth-child(n + 2) {
            font-size: 12px;
            color: $text-secondary;
          }
        }
      }
    }
  }
}
