<div mat-dialog-title class="header">
  <div class="header-text" mat-dialog-title>{{data.title | translate}}</div>
  <button class="btn-transparent" [mat-dialog-close]="true">
    <app-icon svgIcon="cross"[hover]="false"></app-icon>
  </button>
</div>

<div class="pl-4 pt-4 pr-4 content">
  <form [formGroup]="form">
    <quill-editor
      #editor
      class="note-editor-container"
      style="height: auto"
      format="html"
      [modules]="editorConfig"
      [formControl]="form.controls['editor']"
      [maxLength]="maxLenght">
    </quill-editor>
    <mat-error *ngIf="text?.length >= maxLenght">
      Tekst jest zbyt długi (Limit: {{maxLenght}} znaków)
    </mat-error>
  </form>
</div>


<mat-dialog-actions align="end" class="footer pull-right">
  <button class="confirm-button" (click)="confirm()" [disabled]="text?.length >= maxLenght" color="primary"
          mat-raised-button>{{data.confirmButton | translate}}</button>
  <button class="cancel-button" [mat-dialog-close]="true" (click)="cancel()"
          mat-raised-button>{{data.cancelButton | translate}}</button>
</mat-dialog-actions>
