<div class="card-container">
  <mat-card class="main-card card-border-radius no-bottom-left-border-radius no-bottom-right-border-radius">
    <div class="inner-container">
      <div class="details-section">
        <div class="header header-truncate">
          <img class="header-icon " src="{{_file?.format | fileFormatToIcon}}"/>
          <div class="file-name-header-text">{{_file?.name}}</div>
        </div>

        <div class="d-flex mb-5" *ngIf="(permissionUtil.getHistoryKey(forType) + 'changeAuthor' | auth:'i':true)">
          <div class="added-by-label mr-2">{{'files.details.addedBy' | translate}}</div>
          <div
            class="added-by-text"> {{userMap?.get(_file?.author)}}
            , {{_file?.created | formatDate: true}}</div>
        </div>

        <div class="all-updates-text mb-3">{{'files.history.allUpdates' | translate}}</div>

        <div class="history-event" *ngFor="let event of filteredHistory; let i = index">
          <div
            *ngIf="(permissionUtil.getHistoryKey(forType) + 'changeDate' | auth:'i':true)"
            class="date-column event-date-text">{{event?.created | formatDate}}</div>
          <div
            *ngIf="(permissionUtil.getNormalKey(forType) + 'download' | auth:'w')"
            class="name-column file-name-text clickable" (click)="downloadFileVersion(i)">{{_file?.name}}</div>
          <div class="icon-column">
            <button
              *ngIf="event?.eventType !== 'NEW_VERSION_UPLOADED' && event?.eventType !== 'FILE_CREATED'"
              class="btn-transparent trash-icon" (click)="showDetails(event)">
              <img src="/assets/icons/info-light.svg">
            </button>
          </div>
          <div
            *ngIf="(permissionUtil.getHistoryKey(forType) + 'changeAuthor' | auth:'i':true)"
            class="author-column author-text">{{userMap?.get(_file?.author)}}</div>
        </div>

      </div>
    </div>
  </mat-card>

  <mat-card class="buttons-bar card-border-radius no-top-left-border-radius no-top-right-border-radius">
    <button mat-raised-button class="button-medium ml-2" color="primary"
            *ngIf="(authKey + 'save' | auth:'w')"
            (click)="closeSlider()">{{'files.history.ok' | translate}}</button>
  </mat-card>
</div>

