@import "../../../styles/slider";
@import "../../../styles/font-weights";
@import "../../../styles/form";
@import "file-history-fonts.component";

$card-padding: 30px;
$inner-padding: $card-padding * 0.66;
$outer-padding: $card-padding * 0.33;

mat-card {
  padding: 0;
}

.card-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  height: calc(100vh - 68px)
}

.fill-space {
  flex-grow: 1;
}

.buttons-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: $card-padding;
  height: 86px;
}

.main-card {
  flex-grow: 1;
  height: 100%;
  padding: $outer-padding;

}

.inner-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
  position: relative;
  padding: $inner-padding;
}

.details-section {
  flex-grow: 1;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.header-icon {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.header-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 20vw;
}

.history-event {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba($border-color-rgb, 0.5);
  height: 26px;
}

.history-event > div {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  min-width: 0;
}

.date-column {
  flex: 1;
}
.name-column {
  flex: 1;
}
.icon-column {
  flex: 1;
}
.author-column {
  flex: 1;
}
