@import "../../../styles/font-weights";


.all-updates-text {
  font-size: 10px;
  font-weight: $Medium;
  color: $text-title;
  text-space: 1.2;
}

.event-date-text {
   font-size: 12px;
   font-weight: $Regular;
   color: $text-secondary;
 }

.file-name-text {
  font-size: 12px;
  font-weight: $Medium;
  color: $primary;
}

.author-text {
  font-size: 12px;
  font-weight: $Medium;
  color: $action-color;
}

.added-by-label {
  font-size: 12px;
  font-weight: $Medium;
  color: $text-secondary;
}

.added-by-text {
  font-size: 12px;
  font-weight: $Medium;
  color: $action-color;
}

.file-name-header-text {
  font-size: 13px;
  font-weight: $Medium;
  color: $text-title;
}
