<div class="preview-mode">
  <mat-accordion [multi]="true">
    <mat-expansion-panel class="extension-panel" expanded="true">
      <mat-expansion-panel-header class="panel-header">
        <mat-panel-title>
          <div class="extension-header-text">
            {{ "customer.relatedContacts.title" | translate }}

            <button
              class="btn-transparent"
              [matMenuTriggerFor]="menu"
              (click)="$event.stopPropagation()"
            >
              <app-icon svgIcon="plus" [primary]="true"></app-icon>
            </button>
            <mat-menu
              #menu="matMenu"
              xPosition="before"
              class="customer-related-contact-mat-panel"
            >
              <button
                (click)="addDirectContact()"
                mat-menu-item
                class="dropdown-select-item"
              >
                {{ "customer.relatedContacts.directContact" | translate }}
              </button>
              <button
                (click)="addIndirectContact()"
                mat-menu-item
                class="dropdown-select-item"
              >
                {{ "customer.relatedContacts.indirectContact" | translate }}
              </button>
            </mat-menu>
          </div>
        </mat-panel-title>

        <button
          class="btn-transparent change-tab-icon"
          (click)="changeTab.emit($event)"
        >
          <img
            alt="change-tab-icon"
            src="assets/icons/change-tab-icon-blue.svg"
          />
        </button>
      </mat-expansion-panel-header>
      <ng-container [ngTemplateOutlet]="relatedContactList"></ng-container>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<ng-template #relatedContactList>
  <div class="h-100">
    <div
      class="overflow-y h-100 w-100 pr-2"
      [ngClass]="{ 'hide-list': relatedCustomers?.length === 0 }"
    >
      <table
        [dataSource]="relatedCustomers"
        class="row-collapsed mat-elevation-z8 col-md-12 mr-2"
        mat-table
        matSort
        [ngClass]="{ 'mini-row': true }"
      >
        <ng-container matColumnDef="contact">
          <th *matHeaderCellDef mat-header-cell>
            {{ "customer.relatedContacts.contact" | translate }}
          </th>
          <td
            *matCellDef="let link"
            mat-cell
            [title]="link.contactName | lengthMoreThan: 30"
          >
            <b>{{ link.contactName }}</b>
          </td>
        </ng-container>
        <ng-container matColumnDef="relationType">
          <th *matHeaderCellDef mat-header-cell>
            {{ "customer.relatedContacts.relationType" | translate }}
          </th>
          <td
            *matCellDef="let link"
            mat-cell
            [title]="link.position | lengthMoreThan: 30"
          >
            {{ getRelationTypeTranslation(link.relationType) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="position">
          <th *matHeaderCellDef mat-header-cell>
            {{ "customer.relatedContacts.position" | translate }}
          </th>
          <td
            *matCellDef="let link"
            mat-cell
            [title]="link.position | lengthMoreThan: 30"
          >
            {{ link.position }}
          </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th *matHeaderCellDef mat-header-cell></th>
          <td *matCellDef="let link" mat-cell>
            <app-icon
              svgIcon="option-dots"
              [hover]="false"
              [matMenuTriggerFor]="menu"
              (click)="$event.stopPropagation()"
            ></app-icon>

            <mat-menu #menu="matMenu" xPosition="before">
              <button
                class="dropdown-select-item"
                mat-menu-item
                (click)="showDetails(link?.contactId)"
              >
                <app-icon svgIcon="info" [hover]="false" size="16px"></app-icon>
                {{ "customer.relatedContacts.detalis" | translate }}
              </button>
              <button
                *ngIf="!link?.active"
                class="dropdown-select-item"
                mat-menu-item
                (click)="tryDelete(link?.customerId)"
              >
                <app-icon
                  svgIcon="trash"
                  [hover]="false"
                  size="16px"
                ></app-icon>

                {{ "customer.relatedContacts.delete" | translate }}
              </button>
            </mat-menu>
          </td>
        </ng-container>
        <tr *matHeaderRowDef="columns; sticky: true" mat-header-row></tr>
        <tr
          *matRowDef="let rowData; columns: columns"
          mat-row
          (click)="$event.stopPropagation(); showDetails(rowData?.contactId)"
        ></tr>
      </table>
    </div>

    <div class="no-contact-links" *ngIf="relatedCustomers?.length === 0">
      <div class="no-contact-links-primary-text">
        {{ "customer.relatedContacts.noRelatedContacts" | translate }}
      </div>
    </div>
  </div>
</ng-template>

<app-slider
  #addDirectContactLinkSlider
  width="33vw"
  group="sharedCustomerForm"
  [title]="'customer.relatedContacts.addDirectContact.title' | translate"
>
  <app-add-direct-contact
    [customerId]="_customerId"
    [slider]="addDirectContactLinkSlider"
    (newContactAdded)="getRelatedContacts()"
  ></app-add-direct-contact>
</app-slider>

<app-slider
  #addIndirectContactLinkSlider
  width="33vw"
  group="sharedCustomerForm"
  [title]="'customer.relatedContacts.addIndirectContact.title' | translate"
>
  <app-add-indirect-contact
    [customerId]="_customerId"
    [slider]="addIndirectContactLinkSlider"
    (newRelationAdded)="getRelatedContacts()"
  ></app-add-indirect-contact>
</app-slider>
