<div class="base display-table">
  <span class="outside display-table-cell h-100" [ngClass]="{'switch-disabled': readonly}">
    <div class="parent-element" [ngStyle]="{width: (width + 'px'), backgroundColor: selected.bgColor}">
      <div class="selected" [ngStyle]="{marginLeft: (marginLeft + 'px'), backgroundColor: selected.color}"></div>
    </div>
  </span>
  <span class="ml-1 display-table-cell text align-middle">{{title | translate}}</span>
</div>
