@import "~src/styles/colors";

.parent-element {
  margin-top: 2px;
  border-radius: 50px;
  width: 52px;
  height: 14px;
  background-color: $border-primary;
}

.selected {
  margin-top: -2px;
  position: absolute;
  background-color: $primary;
  border-radius: 50%;
  width: 18px;
  height: 18px;
}
.parent-element:hover {
  .selected {
    margin-top: -3px;
    position: absolute;
    background-color: $primary;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }
}

.outside {
  padding: 15px;
}

.text {
  white-space: normal;
}

.display-table-cell {
  display: table-cell;
}

.display-table {
  display: table;
}

.switch-disabled > .parent-element {
    filter: brightness(85%);
}
