@import '~src/styles/colors';
@import '~src/styles/table';

.table-header-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.expenses-and-currencies-container {
  display: flex;
}

.expenses-and-currencies-container > div {
  width: 50%;
}

.part-container {
  font: $Medium 10px/16px Poppins;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.param-input {
  width: 360px;
}

.currency-field {
  width: 90px;
  margin-right: 50px;
}

.params-container {
  margin-top: 40px;
}

.button-medium {
  width: 105px;
}

.mr-50px {
  margin-right: 50px !important;
}

::ng-deep.administration-panel-currency-field .mat-form-field-infix {
  line-height: 17px;
}
