<div class="table-header-container">
  <span class="table-header-primary">{{'administration.cards.expensesAndCurrencies' | translate}}</span>
</div>
<div class="expenses-and-currencies-container">
  <div>
    <div class="part-container">{{'administration.expensesAndCurrencies.expenses' | translate}}</div>
    <mat-form-field class="param-input mr-50px">
      <input matInput required type="number"
             [placeholder]="'administration.params.expenseAcceptanceThreshold' | translate"
             [formControl]="expenseAcceptanceThreshold">
      <mat-error *ngIf="expenseAcceptanceThreshold.hasError('required')">
        {{'administration.validation.required' | translate}}
      </mat-error>
      <mat-error *ngIf="expenseAcceptanceThreshold.hasError('min')">
        {{'administration.validation.minValue' | translate}}
      </mat-error>
    </mat-form-field>

    <button (click)="submit('expenseAcceptanceThreshold')" class="button-medium ml-2" color="primary"
            mat-raised-button>{{'administration.save' | translate}}</button>
  </div>
  <div>
    <div class="part-container">{{'administration.expensesAndCurrencies.systemCurrency' | translate}}</div>
    <div>
      <mat-form-field class="currency-field administration-panel-currency-field">
        <mat-select [formControl]="systemCurrency">
          <mat-option *ngFor="let currency of currencies" [value]="currency">
            {{currency | getCurrencySymbol}}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="systemCurrency.hasError('required')">
          {{'administration.validation.required' | translate}}
        </mat-error>
      </mat-form-field>

      <button (click)="submit('systemCurrency')" class="button-medium ml-2" color="primary"
              mat-raised-button>{{'administration.save' | translate}}</button>
    </div>
    <div class="mt-4">
      <div class="part-container">{{'administration.expensesAndCurrencies.currencies' | translate}}</div>
      <div *ngFor="let paramName of exchangeRateControlsMapKeys">
        <div *ngIf="paramName.substr(paramName.length - 3) !== systemCurrency.value">
          <mat-form-field class="currency-field">
            <input matInput required type="number"
                   [placeholder]="(paramName.substr(paramName.length - 3) | getCurrencySymbol) + ' ' +
                  ('administration.expensesAndCurrencies.to' | translate)  + ' ' + (systemCurrency.value | getCurrencySymbol)"
                   [formControl]="getFormControlBasedOnParamName(paramName)">
            <mat-error *ngIf="getFormControlBasedOnParamName(paramName).hasError('required')">
              {{'administration.validation.required' | translate}}
            </mat-error>
            <mat-error *ngIf="getFormControlBasedOnParamName(paramName).hasError('min')">
              {{'administration.validation.minValue' | translate}}
            </mat-error>
          </mat-form-field>

          <button (click)="submit(paramName)" class="button-medium ml-2" color="primary"
                  mat-raised-button>{{'administration.save' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
