<div class="login-container">
  <app-icon
    svgIcon="logo"
    [hover]="false"
    [pointer]="false"
    class="login-logo-image"
    size="100%"
  ></app-icon>
  <div class="login-values">
    <div class="login-title">{{ "passwordReset.reset" | translate }}</div>
    <div class="login-form">
      <form [formGroup]="emailForm">
        <mat-form-field class="w-100">
          <input matInput
                 [placeholder]="'passwordReset.email' | translate"
                 formControlName="email"
                 (ngModelChange)="person.email = $event"
                 required>
          <mat-error
            *ngIf="emailForm.get('email').hasError('email')">{{'passwordReset.emailNotValid' | translate}}</mat-error>
        </mat-form-field>
      </form>
    </div>

    <div>
      <div class="pull-right mt-2">
        <button class="mr-2 action-button " mat-stroked-button (click)="backToLogin()" color="primary">
          {{'passwordReset.cancel' | translate}}
        </button>
        <button class="mr-2 action-button " mat-raised-button (click)="resetPassword()" color="primary">
          <span>{{buttonText}}</span>
        </button>
      </div>
    </div>
  </div>
  <img src="assets/icons/background-login.png" class="login-background-image"/>
</div>
