<div class="content-select">
  <form [formGroup]="selectItemForm" class="select-form">
    <mat-form-field class="select-field">
      <mat-select
        formControlName="selectItem"
        (selectionChange)="selectionChange()"
      >
        <mat-option *ngFor="let item of content.items" [value]="item">
          {{
            (content.translateField ? item[content.translateField] : item)
              | translate
          }}
        </mat-option>
      </mat-select>
      <mat-placeholder>{{ content.placeholder | translate }}</mat-placeholder>
      <mat-error *ngIf="selectItem.hasError('required')">
        {{ "selectItemDialog.fieldRequired" | translate }}
      </mat-error>
    </mat-form-field>
  </form>
</div>
