<!-- (click)="openAddSlider($event, activityTypeEnum.PHONE)" -->
<div class="add-activity">
  <div class="add-button" mat-button [matMenuTriggerFor]="activitiesMenu">
    <app-icon svgIcon="add" [primary]="true"></app-icon>
  </div>
</div>

<mat-menu #activitiesMenu="matMenu" yPosition="above" xPosition="before">
  <div class="activity-buttons">
    <app-icon
      *ngFor="let activity of activities"
      [svgIcon]="activity"
      [hover]="false"
      size="36px"
      (click)="openAddSlider(activity)"
    ></app-icon>
  </div>
</mat-menu>

<app-slider
  #addTask
  width="35vw"
  [title]="'calendar.task.form.addTitle' | translate"
  key="Calendar.AddSlider"
  [group]="'taskFormGroup'"
>
  <app-task-add
    (eventAdded)="addActivity()"
    [slider]="addTask"
    [eventInfo]="newEvent"
    [activityType]="selectedActivityType"
  ></app-task-add>
</app-slider>
