.add-activity {
  display: flex;
  justify-content: flex-end;
  .add-button {
      padding-top:  8px;
  }
}

.activity-buttons {
  display: flex;
  padding: 0 8px;
  & > * {
    margin-right: 12px;
    &:last-child {
      margin-right: 0;
    }
  }
}
