<div class="w-100 h-100 card-padding">

  <mat-card class="mat-elevation-z0 main-mat-card mat-card card-border-radius no-bottom-border-radius">
    <app-opportunity-form #opportunityForm
                          [opportunity]="opportunity"
                          [initOpportunityDefaultValues]="initOpportunityDefaultValues">

    </app-opportunity-form>
  </mat-card>

  <div class="button-container">
    <mat-card class="mat-elevation-z0 card-border-radius no-top-border-radius">
      <div class="row">
        <div class="col-md-12">
          <div class="pull-right">
            <button (click)="closeSlider()" class="button-medium" color="primary"
                    mat-stroked-button>{{'opportunity.form.cancel' | translate}}</button>
            <button (click)="submit()" class="button-medium ml-2 form-inline" color="primary"
                    mat-raised-button
                    *ngIf="'OpportunityCreateComponent.save' | auth:'w'">
              <span class="button-with-progress-bar">
                {{'opportunity.form.add' | translate}}
                <mat-spinner [diameter]="20" *ngIf="saveInProgress" color="accent" class="ml-2 mt-2"></mat-spinner>
              </span>
            </button>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
