@import "~src/styles/slider";

.button-container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: $bg-secondary;
}

.button-with-progress-bar {
  display: flex;
  width: fit-content;
  margin: auto;
}
