<div class="calendar-widget">
  <div class="padding">
    <app-title-today class="title"></app-title-today>
    <app-calendar
      class="calendar"
      (changedDate)="changeDate($event)"
    ></app-calendar>
    <app-add-activity (addActivityEvent)="getData()"></app-add-activity>
    <div class="title-list">
      {{ "dashboard.widgets.calendar.title" | translate }}
    </div>
    <app-activity-filter
      class="filter"
      (changedFilter)="changeFliter($event)"
      [numberActivities]="typesCount"
    ></app-activity-filter>
  </div>
  <app-activities-list
    class="list"
    (changedTimeCategory)="changeTimeCategory($event)"
    [data]="filteredData"
    [loading]="loading"
  ></app-activities-list>
</div>
