@import "~src/styles/colors";
@import "~src/styles/font-weights";
@import "~src/styles/icons";

.calendar-widget {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .padding {
    padding: 16px;
    .title {
      display: block;
      margin-bottom: 8px;
    }
    .calendar {
      display: block;
    }
    .title-list {
      display: block;
      font-size: 20px;
      color: $text-primary;
      font-weight: $Medium;
      margin-bottom: 16px;
    }
  }

  .list {
    flex: 1;
    min-height: 200px;
  }
}

.calendar-wrapper {
  width: 300px;
  text-align: center;
}
