<div class="goal-table">
  <div class="goal-header">{{ goalTitle | translate }}</div>

  <div
    class="row overflow-y goal-table-content row-collapsed"
    (scroll)="infinityScroll.onScroll($event)"
  >
    <table
      [dataSource]="infinityScroll.itemPage?.content"
      class="col-md-12"
      mat-table
      matSort
      (matSortChange)="infinityScroll.onSortChange($event)"
    >
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{ "goal.list.name" | translate }}
        </th>
        <td *matCellDef="let goal" mat-cell>
          <div
            class="table-text-primary"
            [title]="goal.name | lengthMoreThan: 30"
          >
            {{ goal.name }}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th *matHeaderCellDef mat-header-cell>
          {{ "goal.list.category" | translate }}
        </th>
        <td *matCellDef="let goal" mat-cell>
          <div class="table-text">
            {{
              "goal.shared.category." + (goal.category | lowercase) | translate
            }}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{ "goal.list.type" | translate }}
        </th>
        <td *matCellDef="let goal" mat-cell>
          <div class="table-text">
            {{ "goal.shared.type." + (goal.type | lowercase) | translate }}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="interval">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{ "goal.list.interval" | translate }}
        </th>
        <td *matCellDef="let goal" mat-cell>
          <div class="table-text">
            {{
              "goal.shared.interval." + (goal.interval | lowercase) | translate
            }}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="intervalNumber">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{ "goal.list.intervalNumber" | translate }}
        </th>
        <td *matCellDef="let goal" mat-cell>
          <div
            class="table-text"
            [title]="goal.intervalNumber | lengthMoreThan: 30"
          >
            {{ goal.intervalNumber }}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="startIndex">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{ "goal.list.startIndex" | translate }}
        </th>
        <td *matCellDef="let goal" mat-cell>
          <div class="table-text">
            {{ getIntervalTranslation(goal.startIndex, goal.interval) }}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="startYear">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{ "goal.list.startYear" | translate }}
        </th>
        <td *matCellDef="let goal" mat-cell>
          <div class="table-text" [title]="goal.startYear | lengthMoreThan: 30">
            {{ goal.startYear }}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="goalCompleted">
        <th *matHeaderCellDef mat-header-cell>
          {{ "goal.list.goalCompleted" | translate }}
        </th>
        <td *matCellDef="let goal" mat-cell>
          <div
            class="table-text text-center"
            [title]="goal.goalCompleted | lengthMoreThan: 30"
          >
            {{ goal.goalCompleted }}%
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="deficitOrExcess">
        <th *matHeaderCellDef mat-header-cell>
          {{ "goal.list.deficitOrExcess" | translate }}
        </th>
        <td *matCellDef="let goal" mat-cell>
          <div
            class="table-text deficit-or-excess text-center"
            [ngClass]="{
              green: goal.deficitOrExcess > 0,
              red: goal.deficitOrExcess < 0
            }"
            [title]="goal.deficitOrExcess | lengthMoreThan: 30"
          >
            {{ goal.deficitOrExcess > 0 ? "+" : "" }}{{ goal.deficitOrExcess }}%
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th *matHeaderCellDef mat-header-cell></th>
        <td *matCellDef="let goal" mat-cell>
          <app-icon
            *ngIf="
              ('GoalTableComponent.editGoal' | auth: 'w') ||
              ('GoalTableComponent.deleteGoal' | auth: 'w')
            "
            appTooltip="MORE"
            [matMenuTriggerFor]="menu"
            (click)="$event.stopPropagation()"
            svgIcon="option-dots"
            [hover]="false"
          ></app-icon>
          <mat-menu #menu="matMenu" xPosition="before">
            <button
              class="dropdown-select-item"
              mat-menu-item
              (click)="edit(goal.id)"
              *ngIf="'GoalTableComponent.editGoal' | auth: 'w'"
            >
              <app-icon svgIcon="edit" size="18px" [hover]="false"></app-icon>
              {{ "goal.list.edit" | translate }}
            </button>
            <button
              class="dropdown-select-item"
              mat-menu-item
              *ngIf="
                _createdByMe && 'GoalTableComponent.deleteGoal' | auth: 'w'
              "
              (click)="tryDeleteGoal(goal.id)"
            >
              <app-icon svgIcon="trash" size="18px" [hover]="false"></app-icon>
              {{ "goal.list.delete" | translate }}
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr
        *matHeaderRowDef="filteredColumns$ | async; sticky: true"
        mat-header-row
      ></tr>

      <ng-container
        *ngIf="'GoalTableComponent.editGoal' | auth: 'w'; else notClickableRow"
      >
        <tr
          *matRowDef="let goal; columns: filteredColumns$ | async"
          mat-row
          class="clickable"
          (click)="edit(goal.id)"
        ></tr>
      </ng-container>
      <ng-template #notClickableRow>
        <tr
          *matRowDef="let goal; columns: filteredColumns$ | async"
          mat-row
        ></tr>
      </ng-template>
    </table>
  </div>
</div>
