@import '~src/styles/colors';
@import '~src/styles/table';
@import '~src/styles/font-weights';

.goal-table {
  height: 40%;
}

.goal-header {
  text-align: left;
  font: $Medium 20px/30px Poppins;
  letter-spacing: 0;
  color: $text-title;
  opacity: 1;
  margin-top: 40px;
}

.goal-table-content {
  height: 82%;
}

.deficit-or-excess {
  &.red {
    color: $red-color;
  }

  &.green {
    color: $green-color;
  }
}
