<div class="w-100 h-100 card-padding">

  <mat-card
    class="mat-elevation-z0 main-mat-card mat-card card-border-radius no-bottom-border-radius pt-2 pb-0 pr-4 pl-4">
    <div class="row with-title">

      <div class="h-100 product-all-list">

        <div class="overflow-y h-100 w-100 pr-2" (scroll)="infinityScroll.onScroll($event)">
          <table [dataSource]="infinityScroll.itemPage?.content" class="row-collapsed mat-elevation-z8 col-md-12 mr-2"
                 mat-table
                 matSort (matSortChange)="infinityScroll.onSortChange($event)">
            <ng-container matColumnDef="selectRow">
              <th *matHeaderCellDef mat-header-cell></th>
              <td *matCellDef="let product" mat-cell class="checkbox-column-width" (click)="$event.stopPropagation()">
                <mat-checkbox class="crm-checkbox" [(ngModel)]="product.checked" (ngModelChange)="productChecked(product, $event)" color="primary"></mat-checkbox>
              </td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'opportunity.details.products.addProductFromPriceBook.productList.name' | translate}}</th>
              <td *matCellDef="let product" mat-cell [title]="product.name | lengthMoreThan:30"><b>{{product.name}}</b>
              </td>
            </ng-container>
            <ng-container matColumnDef="category">
              <th *matHeaderCellDef mat-header-cell>{{'opportunity.details.products.addProductFromPriceBook.productList.category' | translate}}</th>
              <td *matCellDef="let product" mat-cell [title]="product.category | lengthMoreThan:30">
                <ng-container *ngIf="product.categories; else noCategory">
                  {{product.categories}}
                </ng-container>
              </td>
            </ng-container>
            <ng-container matColumnDef="subcategory">
              <th *matHeaderCellDef mat-header-cell>{{'opportunity.details.products.addProductFromPriceBook.productList.subcategory' | translate}}</th>
              <td *matCellDef="let product" mat-cell [title]="product.subcategory | lengthMoreThan:30">
                <ng-container *ngIf="product.subcategories; else noSubcategory">
                  {{product.subcategories}}
                </ng-container>
              </td>
            </ng-container>
            <ng-container matColumnDef="code">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'opportunity.details.products.addProductFromPriceBook.productList.code' | translate}}</th>
              <td *matCellDef="let product" mat-cell [title]="product.code | lengthMoreThan:30">{{product.code}}</td>
            </ng-container>
            <ng-container matColumnDef="sellPriceNet">
              <th *matHeaderCellDef mat-header-cell mat-sort-header class="currency-header">{{'opportunity.details.products.addProductFromPriceBook.productList.price' | translate}}</th>
              <td *matCellDef="let product" mat-cell class="currency-value" [title]="product.sellPriceNet | formatNumber | lengthMoreThan:30">
                <span>  {{product.sellPriceNet | formatCurrency:product?.currency}}
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="unit">
              <th *matHeaderCellDef mat-header-cell mat-sort-header="product.unit.name">{{'opportunity.details.products.addProductFromPriceBook.productList.unit' | translate}}</th>
              <td *matCellDef="let product" mat-cell [title]="product.unitName | lengthMoreThan:30">{{product.unitName}}</td>
            </ng-container>
            <tr *matHeaderRowDef="filteredColumns$ | async; sticky: true" mat-header-row></tr>
            <tr *matRowDef="let rowData; columns: filteredColumns$ | async" mat-row></tr>
          </table>

          <div class="no-products" *ngIf="infinityScroll.itemPage?.totalElements === 0">
            <div class="no-products-primary-text">{{'opportunity.details.products.addProductFromPriceBook.productList.noProducts' | translate}}</div>
          </div>
        </div>
      </div>
      <div class="h-100 product-selected-list">
        <div>
          <h5 class="title ml-3">{{'opportunity.details.products.addProductFromPriceBook.selectedProducts' | translate}}</h5>
        </div>

        <div class="overflow-y product-table w-100 pl-2 pr-2">

          <table [dataSource]="selectedProductsDataSource" class="row-mini mat-elevation-z8 col-md-12"
                 mat-table
                 matSort>
            <ng-container matColumnDef="name">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'opportunity.details.products.addProductFromPriceBook.selectedProductsList.name' | translate}}</th>
              <td *matCellDef="let product" mat-cell [title]="product.name | lengthMoreThan:30"><b>{{product?.name}}</b>
              </td>
            </ng-container>
            <ng-container matColumnDef="sellPrice">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'opportunity.details.products.addProductFromPriceBook.selectedProductsList.sellPrice' | translate}}</th>
              <td *matCellDef="let product" mat-cell class="with-form">
                <mat-form-field>
                  <input type='text' mask="separator.2" [validation]="false" [formControl]="product.formGroup.get('sellPrice')" (ngModelChange)="priceChange(product.id)" matInput>
                  <mat-placeholder class="placeholder"></mat-placeholder>
                </mat-form-field>
              </td>
            </ng-container>
            <ng-container matColumnDef="quantity">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'opportunity.details.products.addProductFromPriceBook.selectedProductsList.quantity' | translate}}</th>
              <td *matCellDef="let product" mat-cell class="with-form">
                <mat-form-field>
                  <input [formControl]="product.formGroup.get('quantity')" (ngModelChange)="priceChange(product.id)" type="number" matInput>
                  <mat-placeholder class="placeholder"></mat-placeholder>
                </mat-form-field>
              </td>
            </ng-container>
            <ng-container matColumnDef="unit">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'opportunity.details.products.addProductFromPriceBook.selectedProductsList.unit' | translate}}</th>
              <td *matCellDef="let product" mat-cell [title]="product.unitName | lengthMoreThan:30"><b>{{product?.unitName}}</b>
              </td>
            </ng-container>
            <ng-container matColumnDef="fullPrice">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'opportunity.details.products.addProductFromPriceBook.selectedProductsList.fullPrice' | translate}}</th>
              <td *matCellDef="let product" mat-cell class="with-form">
                <mat-form-field>
                  <input [formControl]="product.formGroup.get('fullPrice')" matInput class="text-right">
                  <mat-placeholder class="placeholder"></mat-placeholder>
                </mat-form-field>
              </td>
            </ng-container>
            <tr *matHeaderRowDef="selectedProductColumns; sticky: true" mat-header-row></tr>
            <tr *matRowDef="let rowData; columns: selectedProductColumns" mat-row></tr>
          </table>

          <div class="no-selected-products" *ngIf="selectedProducts.length === 0">
            <div class="no-products-primary-text">{{'opportunity.details.products.addProductFromPriceBook.selectedProductsList.noProducts' | translate}}</div>
          </div>
        </div>
      </div>
    </div>

    <ng-template #noCategory>
      {{'opportunity.details.products.addProductFromPriceBook.withoutCategory' | translate}}
    </ng-template>
    <ng-template #noSubcategory>
      {{'opportunity.details.products.addProductFromPriceBook.withoutSubcategory' | translate}}
    </ng-template>
  </mat-card>

  <div class="button-container">
    <mat-card class="mat-elevation-z0 card-border-radius no-top-border-radius">
      <div class="row">
        <div class="col-md-12">
          <div class="pull-right">
            <button class="button-medium" color="primary" (click)="cancel()"
                    mat-stroked-button>{{'opportunity.details.products.addProductFromPriceBook.cancel' | translate}}</button>
            <button class="button-medium ml-2" color="primary" (click)="save()"
                    mat-raised-button>{{'opportunity.details.products.addProductFromPriceBook.add' | translate}}</button>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
