@import "~src/styles/table";
@import "~src/styles/slider";

.button-container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: $bg-secondary;
}
.product-all-list {
  width: 67%;
  padding-right: 8px;
  border-right: 2px solid $border-tertiary;
}
.product-selected-list {
  width: 33%;
  .product-table {
    height: calc(100% - 60px);
  }
}
.no-products {
  position: absolute;
  left: 33%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.no-selected-products {
  position: absolute;
  left: 84%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.no-products-icon-size {
  height: 24px;
  width: 24px;
  margin: 0 5px;
}

.no-products-primary-text {
  color: $action-color;
  font-size: 20px;
  font-weight: $Medium;
}
.no-products-normal-text {
  color: $text-secondary;
  font-size: 13px;
  font-weight: $Medium;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flag-icon {
  width: 13px;
  height: 18px;
}

.checkbox-column-width {
  text-align: center;
}
.title {
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1.2px;
  color: $text-title;
  width: 200px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
}
.row-mini {
  height: 20px;
}
::ng-deep.row-mini tr {
  height: 20px !important;
}
::ng-deep.row-mini .mat-form-field {
  height: 20px;
  margin-top: -5px;
  width: 100px;
}
::ng-deep.row-mini .with-form {
  padding-bottom: 10px;
  padding-top: 0px;
}
