<div class="note-widget">
  <div class="header">
    <div class="title mr-2">
      {{ "dashboard.widgets.notes.title" | translate }}
    </div>
    <div class="action-icons">
      <input
        class="search"
        *ngIf="searchView"
        [(ngModel)]="searchInput"
        matInput
        placeholder="{{ 'widgets.notes.sort.placeholder.search' | translate }}"
      />
      <div class="icons">
        <app-icon
          class="ml-2"
          svgIcon="search"
          appTooltip="SEARCH"
          size="16px"
          (click)="toggleSearchView()"
          [primary]="true"
        ></app-icon>
        <app-icon
          class="ml-3"
          svgIcon="plus-circle"
          appTooltip="ADD"
          size="20px"
          (click)="openAddDialog($event)"
          [primary]="true"
        ></app-icon>
      </div>
    </div>
  </div>

  <div class="notes-list">
    <mat-accordion>
      <mat-expansion-panel
        *ngFor="let note of notes | noteSearch: searchInput"
        class="note"
        (opened)="open(note.id)"
        (closed)="close(note.id)"
        hideToggle
      >
        <mat-expansion-panel-header class="header">
          <div class="header-content">
            <span class="date">
              {{ note.created | formatDate }}
              {{ note.created | formatTime }}
            </span>
            <span class="content">
              {{ note.content }}
            </span>
            <span *ngIf="note.id === panelOpenId" class="action">
              <app-icon
                svgIcon="edit"
                size="18px"
                class="mr-1"
                (click)="openEditDialog($event, note)"
              ></app-icon>
              <app-icon
                svgIcon="trash"
                size="18px"
                (click)="tryDeleteNote($event, note)"
              ></app-icon>
            </span>
          </div>
        </mat-expansion-panel-header>
        <mat-card
          class="format-card"
          [innerHTML]="note.formattedContent | safeHtml"
        ></mat-card>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
