@import "~src/styles/colors";
@import "~src/styles/font-weights";
@import "~src/styles/icons";

.note-widget {
  display: flex;
  flex-direction: column;
  height: 100%;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      color: $text-primary;
      white-space: nowrap;
      font-size: 16px;
      font-weight: $Medium;
      display: flex;
      justify-content: space-between;
    }
    .search {
      flex: 1;
    }
    .action-icons {
      display: flex;
      .icons {
        display: flex;
      }
    }
  }
  .notes-list {
    margin-top: 16px;
    flex: 1;
    overflow-y: auto;
    .header {
      height: 32px;
      display: flex;
      .header-content {
        display: flex;
        width: 100%;
        .date {
          font-size: 12px;
          font-weight: 400;
          color: $text-secondary;
          min-width: 120px;
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
        }
        .content {
          padding-left: 16px;
          flex: 1;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .action {
          padding-left: 8px;
        }
      }
    }
    .format-card {
      padding: 8px;
    }
    &::ng-deep {
      .mat-expansion-panel {
        border: 0;
        box-shadow: none;
      }
      .mat-expansion-panel-header {
        padding: 0;
        height: 32px !important;
      }
      .mat-expansion-panel-spacing {
        margin: 0;
      }
      .mat-expansion-panel-body {
        padding: 0 4px 4px;
      }
    }
  }
}
