<div class="person-container">
  <div class="table-header-container mt-3">
    <div class="ml-1">
      <span>
        <span class="table-header-primary"
          >{{ "person.list.title" | translate }}
        </span>
        <span class="table-header-note"
          >({{ accountsPage?.totalElements }})</span
        >
      </span>
    </div>
    <div>
      <div class="button-container">
        <app-icon
          svgIcon="add"
          appTooltip="ADD"
          (click)="addAccountSlider.toggle()"
        ></app-icon>
        <app-icon
          svgIcon="collapse"
          appTooltip="REDUCE_SPACE"
          (click)="collapsed = true"
          [primary]="collapsed"
        ></app-icon>
        <app-icon
          svgIcon="expand"
          appTooltip="INCREASE_SPACE"
          (click)="collapsed = false"
          [primary]="!collapsed"
        ></app-icon>
      </div>
    </div>
  </div>
  <div
    class="row overflow-y with-title person-list-height"
    (scroll)="onScroll($event)"
  >
    <table
      [dataSource]="accountsPage?.content"
      class="mat-elevation-z8 col-md-12"
      mat-table
      matSort
      (matSortChange)="onSortChange($event)"
      [ngClass]="{ 'row-collapsed': collapsed, 'row-expanded': !collapsed }"
    >
      <ng-container matColumnDef="person.name">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{ "person.list.name" | translate }}
        </th>
        <td
          *matCellDef="let personList"
          mat-cell
          [title]="personList?.name | lengthMoreThan: 30"
        >
          {{ personList.name }}
        </td>
      </ng-container>
      <ng-container matColumnDef="person.surname">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{ "person.list.surname" | translate }}
        </th>
        <td
          *matCellDef="let personList"
          mat-cell
          [title]="personList?.surname | lengthMoreThan: 30"
        >
          {{ personList.surname }}
        </td>
      </ng-container>
      <ng-container matColumnDef="role.name">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{ "person.list.role" | translate }}
        </th>
        <td
          *matCellDef="let personList"
          mat-cell
          [title]="personList?.roleName | lengthMoreThan: 30"
        >
          {{ personList?.roleName }}
        </td>
      </ng-container>
      <ng-container matColumnDef="role.profiles.name">
        <th *matHeaderCellDef mat-header-cell>
          {{ "person.list.profile" | translate }}
        </th>
        <td
          *matCellDef="let personList"
          mat-cell
          [title]="personList?.profileName | lengthMoreThan: 30"
        >
          {{ personList?.profileName }}
        </td>
      </ng-container>
      <ng-container matColumnDef="person.description">
        <th *matHeaderCellDef mat-header-cell>
          {{ "person.list.description" | translate }}
        </th>
        <td
          *matCellDef="let personList"
          mat-cell
          [title]="personList?.description | lengthMoreThan: 30"
        >
          {{ personList.description }}
        </td>
      </ng-container>
      <ng-container matColumnDef="person.phone">
        <th *matHeaderCellDef mat-header-cell>
          {{ "person.list.phone" | translate }}
        </th>
        <td *matCellDef="let personList" mat-cell>
          {{ personList.phone | phone }}
        </td>
      </ng-container>
      <ng-container matColumnDef="person.email">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{ "person.list.email" | translate }}
        </th>
        <td
          *matCellDef="let personList"
          mat-cell
          [title]="personList?.email | lengthMoreThan: 30"
          class="table-text-link"
        >
          {{ personList.email }}
        </td>
      </ng-container>
      <ng-container matColumnDef="activated">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{ "person.list.active" | translate }}
        </th>
        <td *matCellDef="let personList" mat-cell>
          <mat-checkbox
            [checked]="personList.isActivated"
            disabled="true"
          ></mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th *matHeaderCellDef mat-header-cell></th>
        <td *matCellDef="let personList" mat-cell>
          <app-icon
            [matMenuTriggerFor]="menu"
            (click)="$event.stopPropagation()"
            appTooltip="MORE"
            svgIcon="option-dots"
            [hover]="false"
          ></app-icon>
          <mat-menu #menu="matMenu">
            <button
              (click)="editAccount(personList.id)"
              mat-menu-item
              *ngIf="'PersonDetailComponent.submitForm' | auth: 'w'"
            >
              {{ "person.list.edit" | translate }}
              <span class="fa fa-pencil ml-3"></span>
            </button>
            <button
              *ngIf="'PersonDetailComponent.deleteUser' | auth: 'w'"
              (click)="tryDeleteAccount(personList.id)"
              mat-menu-item
            >
              {{ "person.detail.buttons.delete" | translate }}
              <span class="fa fa-trash ml-4 contrast-color"></span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr
        *matHeaderRowDef="filteredColumns$ | async; sticky: true"
        mat-header-row
      ></tr>
      <tr
        *matRowDef="let rowData; columns: filteredColumns$ | async"
        mat-row
        (click)="$event.stopPropagation(); editAccount(rowData.id)"
      ></tr>
    </table>
  </div>
</div>
<app-slider [title]="'person.form.formTitle' | translate" #addAccountSlider>
  <app-person-add (accountAdded)="handleAddAccount()"></app-person-add>
</app-slider>

<app-slider [title]="'person.form.formTitle' | translate" #editAccountSlider>
  <app-person-detail
    [accountId]="selectedAccountId"
    (accountUpdated)="handleAccountUpdate()"
  ></app-person-detail>
</app-slider>
