@import "~src/styles/table";

.button-container {
  display: flex;
  align-items: center;
  & > * {
    padding: 0 6px;
  }
}


.person-container {
  width: 98%;
}

.person-list-height {
  height: calc(100vh - 280px) !important
}
