@import "~src/styles/colors.scss";
@import "~src/styles/font-weights";

.header {
  color: $text-primary;
  font-weight: $Medium;
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
}
.title {
  font-size: 20px;
}
.event {
  margin-top: 10px;
  padding-right: 20px;
}

.event-time {
  display: inline-block;
  opacity: 0.5;
  min-width: 140px;
}

.cross-icon {
  background-image: url('../../../../assets/icons/crossicon.svg');
  content: ' ';
  display: inline-block;
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
  margin-bottom: -4px;
}

.simple-icon {
  display: inline-block;
  content: ' ';
  background-size: 18px 18px;
  width: 18px;
  height: 18px;
  margin-bottom: -2px;
}

.no-outline-button {
  outline: none !important;
}
.time-column {
  font-size: 13px;
  font-weight: $Medium;
  color: $text-secondary;
}
.event-name-column {
  font-size: 13px;
  font-weight: $Medium;
  cursor: pointer;
  color: $primary;
}
