<div mat-dialog-title>
  <div class="header">
    <div class="title">{{'calendar.events.all' | translate}}</div>
    <button class="no-outline-button btn-transparent" (click)="close()">
      <span class="cross-icon"></span>
    </button>
  </div>
</div>
<div mat-dialog-content>
  <div class="event" *ngFor="let event of data" (click)="eventClicked(event)">
    <span class="event-time time-column" *ngIf="!event.allDay">{{parseTime(event.start, event.end)}}</span>
    <span class="event-time time-column" *ngIf="event.allDay">{{'calendar.events.allDay' | translate}}</span>
    <span class="event-name-column">{{event.title}}</span>
  </div>
</div>
