@import "~src/styles/form";
@import "~src/styles/colors";
@import "~src/styles/slider";
@import "~src/styles/font-weights";

.button-container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: $bg-secondary;
}
