<div class="w-100 h-100 card-padding">

  <mat-card class="mat-elevation-z0 main-mat-card mat-card card-border-radius no-bottom-border-radius p-4">
    <mat-form-field class="w-100">
      <mat-select [(value)]="selectedWidgetType"
                  [placeholder]="'widgetConfigurator.widgetType' | translate">
        <mat-option [value]="widgetType.GOAL">{{ 'widgetConfigurator.goals' | translate }}</mat-option>
        <mat-option [value]="widgetType.REPORT">{{ 'widgetConfigurator.report' | translate }}</mat-option>
        <mat-option [value]="widgetType.CALENDAR">{{ 'widgetConfigurator.calendar' | translate }}</mat-option>
        <mat-option [value]="widgetType.TOTAL_SALES_OPPORTUNITY">{{ 'widgetConfigurator.totalSalesOpportunity' | translate }}</mat-option>
        <mat-option [value]="widgetType.NOTIFICATIONS">{{ 'widgetConfigurator.notifications' | translate }}</mat-option>
        <mat-option [value]="widgetType.NOTE">{{ 'widgetConfigurator.notes' | translate }}</mat-option>
        <mat-option [value]="widgetType.OPENED_SALES_OPPORTUNITY">{{ 'widgetConfigurator.openedSalesOpportunity' | translate }}</mat-option>
        <mat-option [value]="widgetType.LEAD_SOURCES">{{ 'widgetConfigurator.sourceOfLeads' | translate }}</mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="selectedWidgetType == widgetType.GOAL">
      <app-goal-widget-configurator #goalWidgetConfigurator [userMap]="userMap"></app-goal-widget-configurator>
    </div>

    <div *ngIf="selectedWidgetType == widgetType.REPORT">
      <app-report-widget-configurator #reportWidgetConfigurator></app-report-widget-configurator>
    </div>
  </mat-card>

  <div class="button-container">
    <mat-card class="mat-elevation-z0 card-border-radius no-top-border-radius">
      <div class="row">
        <div class="col-md-12">
          <div class="pull-right">
            <button (click)="closeSlider()" class="button-medium" color="primary" mat-stroked-button>
              {{'widgetConfigurator.cancel' | translate}}
            </button>
            <button (click)="submit()" class="button-medium ml-2" color="primary" mat-raised-button>
              {{'widgetConfigurator.save' | translate}}
            </button>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
