<div class="activities-panel-container">
  <div class="activities-header">
    <span class="add-activity-text">{{'dashboard.panels.calendar.addActivity' | translate}}:</span>
    <div class="btn-group ml-4 activity-img" *ngIf="'CalendarComponent.addTask' | auth:'w'">
      <div class="ml-2 clickable" appTooltip="ADD_PHONE_ACTIVITY">
        <img (click)="openAddSlider($event, activityTypeEnum.PHONE)" alt="phone"
             src="assets/icons/calendar/phone-activity.svg"/>
      </div>
      <div class="ml-2 clickable" appTooltip="ADD_TASK_ACTIVITY">
        <img (click)="openAddSlider($event, activityTypeEnum.TASK)" alt="task"
             src="assets/icons/calendar/task-activity.svg"/>
      </div>
      <div class="ml-2 clickable" appTooltip="ADD_MEETING_ACTIVITY">
        <img (click)="openAddSlider($event, activityTypeEnum.MEETING)" alt="meeting"
             src="assets/icons/calendar/meeting-activity.svg"/>
      </div>
      <div class="ml-2 clickable" appTooltip="ADD_MAIL_ACTIVITY">
        <img (click)="openAddSlider($event, activityTypeEnum.MAIL)" alt="mail"
             src="assets/icons/calendar/mail-activity.svg"/>
      </div>
    </div>
  </div>

  <div class="activities-tabs">
    <mat-tab-group>
      <mat-tab>
        <ng-template matTabLabel>
        <span>
          {{'dashboard.panels.activities.all' | translate | titlecase}}
        </span>
        </ng-template>
        <ng-container [ngTemplateOutlet]="activitiesTable"
                      [ngTemplateOutletContext]="{activities: allActivities}">
        </ng-container>
      </mat-tab>

      <mat-tab>
        <ng-template matTabLabel>
        <span>
          {{'calendar.event.states.created' | translate | titlecase}}
        </span>
        </ng-template>
        <ng-container [ngTemplateOutlet]="activitiesTable"
                      [ngTemplateOutletContext]="{activities: createdTasks}">
        </ng-container>
      </mat-tab>

      <mat-tab>
        <ng-template matTabLabel>
        <span>
          {{'calendar.event.states.in_progress' | translate | titlecase}}
        </span>
        </ng-template>
        <ng-container [ngTemplateOutlet]="activitiesTable"
                      [ngTemplateOutletContext]="{activities: inProgressTasks}">
        </ng-container>
      </mat-tab>

      <mat-tab>
        <ng-template matTabLabel>
        <span>
          {{'calendar.event.states.suspended' | translate | titlecase}}
        </span>
        </ng-template>
        <ng-container [ngTemplateOutlet]="activitiesTable"
                      [ngTemplateOutletContext]="{activities: suspendedTasks}">
        </ng-container>
      </mat-tab>

      <mat-tab>
        <ng-template matTabLabel>
        <span>
          {{'calendar.event.states.finished' | translate | titlecase}}
        </span>
        </ng-template>
        <ng-container [ngTemplateOutlet]="activitiesTable"
                      [ngTemplateOutletContext]="{activities: finishedTasks}">
        </ng-container>
      </mat-tab>
    </mat-tab-group>
  </div>

  <ng-template #activitiesTable let-activities="activities" class="activities-container">
    <div>
      <mat-accordion [multi]="true" class="category-content">
        <ng-container *ngFor="let activity of activities">
          <mat-expansion-panel expanded="false" #expandedPanel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="form-inline w-100">
                  <div class="category-element">
                    <span *ngIf="activity.timeZone !== currentTimezone" class="other-timezone">
                      <img src="assets/icons/calendar/alert.svg"
                           [title]="getTimezoneTooltip(activity, ('calendar.createdInTimezone' | translate))"/>
                    </span>
                    <span class="activity-time gray-text">{{getCalendarTime(activity.dateTimeFrom)}}</span>
                    <img class="new-activity-icon"
                         src="assets/icons/calendar/{{(activity.activityType!=null ? activity.activityType : 'calendar-event') | lowercase}}-activity.svg"/>
                  </div>
                  <div class="category-text"
                       [ngClass]="{'one-line': !activity.description || activity.description.length === 0}">
                    <div class="category-subject">{{activity.subject}}</div>
                    <div class="gray-text">{{activity.description}}</div>
                  </div>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="activity-body"
                 [ngClass]="('border-' + (activity.activityType ? activity.activityType : 'calendar-event')) | lowercase">
              <div class="body-content">
                <div class="form-inline mb-3">
                  <div class="mr-3" *ngIf="activity.place || (activity.latitude && activity.longitude)">
                    <div class="title-text">{{'tabs.activity.location' | translate}}</div>
                    <div class="blue-text">{{activity.place}}</div>
                  </div>
                  <div class="mr-3">
                    <div class="title-text">{{'tabs.activity.beginning' | translate}}</div>
                    <div class="blue-text">{{getTime(activity.dateTimeFrom)}}</div>
                  </div>
                  <div class="mr-3">
                    <div class="title-text">{{'tabs.activity.finish' | translate}}</div>
                    <div class="blue-text">{{getEndTime(activity.dateTimeFrom, activity.dateTimeTo)}}</div>
                  </div>
                </div>
                {{activity.description}}
              </div>
            </div>
          </mat-expansion-panel>
          <span class="category-img-line"
                [ngClass]="{'expanded': expandedPanel.expanded,
                        'color-meeting': activity.activityType === 'MEETING',
                        'color-mail': activity.activityType === 'MAIL',
                        'color-task': activity.activityType === 'TASK',
                        'color-phone': activity.activityType === 'PHONE',
                        'calendar-event' : activity.activityType === null}">
      </span>
        </ng-container>
      </mat-accordion>
    </div>
  </ng-template>
</div>


<app-slider #addActivitySlider width="33vw" [title]="'calendar.task.form.addTitle' | translate"
            key="Activities.AddSlider">
  <app-task-add [slider]="addSlider" [eventInfo]="updatedEventInfo" (eventAdded)="init()"
                [activityType]="selectedActivityType"></app-task-add>
</app-slider>
