@import "~src/styles/colors";
@import "~src/styles/table";
@import "~src/styles/font-weights.scss";

.activity-img img {
  height: 36px;
  width: 36px;
}

.activities-header {
  padding: 0 0 20px 40px;
}

.add-activity-text {
  font-size: 14px;
  color: $text-primary;
}

::ng-deep .activities-tabs .mat-tab-header {
  background-color: $bg-primary;
}

::ng-deep .activities-tabs .mat-tab-label {
  width: 33.333%;
  font: $Medium 13px/20px Poppins;
  color: $text-secondary;
}

::ng-deep .activities-tabs .mat-tab-label-active {
  color: $text-title;
}

::ng-deep .activities-tabs .mat-tab-label.mat-tab-label-active:not(.mat-tab-disabled),
::ng-deep .activities-tabs .mat-tab-label.mat-tab-label-active.cdk-keyboard-focused:not(.mat-tab-disabled) {
  color: $text-title;
  opacity: 1;
}

::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active {
  min-width: 0 !important;
  padding: 3px !important;
  margin: 3px !important;
}

.activities-container > div {
  position: relative;
}

.category-content {
  .category-element {
    width: 190px;
    text-align: right;

    .activity-time {
      margin-right: 15px;
    }
  }

  .category-text {
    margin-left: 25px;
    flex: 1;
    position: relative;
    height: 37px;
    width: 100%;

    .category-subject {
      overflow: hidden;
      flex-wrap: nowrap;
      text-overflow: ellipsis;
      white-space: nowrap;
      position: absolute;
      top: 0;
      width: 100%;
    }

    .gray-text {
      bottom: 0;
      position: absolute;
      width: 100% !important;
    }
  }

  .category-text.one-line {
    height: 22px;
  }

  .mat-expansion-panel {
    box-shadow: none;
    min-height: 55px !important;
  }

  .activity-body {
    margin-left: 196px;
    padding-left: 40px;
    padding-top: 10px;
    margin-top: 20px;

    .body-content {
      background-color: $bg-secondary;
      margin-right: 18px;
      padding: 15px;
      border-radius: 8px;
      font-weight: $Regular;

      .title-text {
        font-size: 10px;
        font-weight: $Medium;
        letter-spacing: 1.2px;
        color: $text-title;
        text-transform: uppercase;
        height: 18px;
      }

      .blue-text {
        color: $primary;
        font-weight: $SemiBold;
        height: 18px;
      }
    }
  }
}

::ng-deep.activities .category-content .mat-expansion-panel-body {
  padding: 0;
  margin-top: -10px;
}

.gray-text {
  font-size: 12px;
  font-weight: $Medium;
  color: $text-secondary;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 250px;
}

::ng-deep .mat-expansion-panel-header-title {
  position: relative;
}

.activity-dots {
  position: absolute;
  right: 8px;
  top: 8px;
}

.new-activity-icon {
  width: 36px;
}

.other-timezone {
  margin-right: 12px;

  img {
    width: 24px;
  }
}

.category-img-line.expanded {
  margin-top: -16px !important;
  height: 20px !important;
}

.category-img-line {
  width: 2px;
  height: 15px;
  margin-left: 196px;
  margin-top: -11px;
  position: absolute;
}

.color-meeting {
  background-color: $meeting-color;
}

.color-mail {
  background-color: $mail-color;
}

.color-task {
  background-color: $task-color;
}

.color-phone {
  background-color: $phone-color;
}

.calendar-event {
  background-color: $calendar-color;
}

.border-meeting {
  border-left: 2px solid $meeting-color;
}

.border-mail {
  border-left: 2px solid $mail-color;
}

.border-task {
  border-left: 2px solid $task-color;
}

.border-phone {
  border-left: 2px solid $phone-color;
}

.border-calendar-event {
  border-left: 2px solid $calendar-color;
}

.activities-panel-container {
  height: 100%;
}

::ng-deep .activities-panel-container .mat-tab-body.mat-tab-body-active {
  height: 1200px;
}

::ng-deep .activities-panel-container .mat-tab-body-content {
  height: auto;
}
