<div class="crm-card preview-card">
  <div class="notes-header">{{'notes.preview.title' | translate}}</div>
  <textarea [formControl]="noteControl" class="form-control text-area" rows="10"></textarea>
  <div class="buttons-bar" *ngIf="('edit' | noteAuthKey: crmObject?.type | auth:'w') && !_preview">
    <button class="cancel-btn" (click)="cancel()" [disabled]="originalNote == null">
      {{'notes.preview.cancel' | translate}}
    </button>
    <button class="ok-btn" (click)="updateNote()" [disabled]="originalNote == null">
      {{'notes.preview.update' | translate}}
    </button>
  </div>

  <div class="navigation-buttons">
    <button class="cancel-btn" (click)="previousNote()" [disabled]="previousDisabled">
      {{'notes.preview.previous' | translate}}
    </button>
    <button class="ok-btn" (click)="nextNote()" [disabled]="nextDisabled">
      {{'notes.preview.next' | translate}}
    </button>
  </div>


</div>
