@import '~src/styles/colors';
@import "~src/styles/font-weights";

@mixin preview-btn {
  font: 400 14px/21px Poppins;
  width: 100px;
  height: 32px;
  border: none;
  border-radius: 5px;
}

.preview-card {
  height: 100%;
  box-shadow: none !important;
  display: flex;
  flex-direction: column;
}
.notes-header {
  font: $Medium 16px/25px Poppins;
  color: $text-title;
  margin-bottom: 20px;
}




.buttons-bar {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;

  & > button:not(:last-child){
    margin-right: 12px;
  }
}



.navigation-buttons {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;

  & > button:not(:last-child){
    margin-right: 12px;
  }

}



.ok-btn {
  @include preview-btn;
  color:  $primary-contrast;
  background-color: $primary
}

.cancel-btn {
  @include preview-btn;
  color: $text-secondary;
  background-color: transparent;
}

.next-btn {
  @include preview-btn;
  color:  $primary-contrast;
  background-color: $action-color;
}

.previous-btn {
  @include preview-btn;
  color: $action-color;
  background-color: $bg-secondary;
}
