<div
  class="product-price-table"
  *ngIf="authKey + 'productPrices' | auth: 'i':true"
>
  <table
    [dataSource]="productPrices"
    class="mat-elevation-z8 col-md-12"
    mat-table
    matSort
  >
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell>
        {{ "productPrice.name" | translate }}
      </th>
      <td
        *matCellDef="let productPrice"
        mat-cell
        [title]="productPrice?.priceBook?.name | lengthMoreThan: 30"
      >
        {{ productPrice?.priceBook?.name }}
        <img
          *ngIf="productPrice?.priceBook?.isDefault"
          class="flag-icon"
          src="assets/icons/products/flag-green.svg"
        />
      </td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th *matHeaderCellDef mat-header-cell class="currency-header-not-sort">
        {{ "productPrice.price" | translate }}
      </th>
      <td
        *matCellDef="let productPrice"
        mat-cell
        [title]="productPrice?.price | lengthMoreThan: 30"
        class="currency-value"
      >
        {{
          productPrice?.price
            | formatCurrency: productPrice?.priceBook?.currency
        }}
      </td>
    </ng-container>
    <ng-container matColumnDef="activity">
      <th *matHeaderCellDef mat-header-cell>
        {{ "productPrice.active" | translate }}
      </th>
      <td *matCellDef="let productPrice" mat-cell>
        <mat-checkbox
          class="crm-checkbox"
          [(ngModel)]="productPrice.active"
          color="primary"
          [disabled]="productPrice?.priceBook?.isDefault"
        ></mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th *matHeaderCellDef mat-header-cell></th>
      <td *matCellDef="let productPrice" mat-cell>
        <app-icon
          *ngIf="
            (authKey + 'productPrices' | auth: 'w') &&
            !productPrice?.priceBook?.isDefault
          "
          [matMenuTriggerFor]="menu"
          svgIcon="option-dots"
          (click)="$event.stopPropagation()"
          [hover]="false"
        ></app-icon>
        <mat-menu #menu="matMenu" xPosition="before">
          <button (click)="editPrice(productPrice)" mat-menu-item type="button">
            <app-icon svgIcon="edit" [hover]="false" size="16px"></app-icon>

            {{ "productPrice.editPrice" | translate }}
          </button>
          <button
            (click)="removeFromPriceBook(productPrice)"
            mat-menu-item
            type="button"
          >
            <app-icon svgIcon="trash" [hover]="false" size="16px"></app-icon>
            {{ "productPrice.removeFromPriceBook" | translate }}
          </button>
        </mat-menu>
      </td>
    </ng-container>
    <tr
      *matHeaderRowDef="['name', 'price', 'activity', 'action']; sticky: true"
      mat-header-row
    ></tr>
    <tr
      *matRowDef="let rowData; columns: ['name', 'price', 'activity', 'action']"
      mat-row
    ></tr>
  </table>
  <div
    class="add-product-to-price-book"
    (click)="addSlider.open()"
    *ngIf="authKey + 'productPrices' | auth: 'w'"
  >
    <img src="assets/icons/add-active.svg" />
    {{ "productPrice.addProductToPriceBook" | translate }}
  </div>
</div>

<app-slider
  #addSlider
  [title]="'productPrice.addProductToPriceBookTitle' | translate"
  key="ProductPrice.AddProductToPriceBookTitle"
  width="35vw"
>
  <app-add-product-to-price-book-form
    (addProductPrice)="addProductPrice($event)"
    [slider]="addSlider"
    [existingProductPrices]="productPrices"
  ></app-add-product-to-price-book-form>
</app-slider>

<app-slider
  #editSlider
  [title]="'productPrice.editProductToPriceBookTitle' | translate"
  key="ProductPrice.EditProductToPriceBookTitle"
  width="35vw"
>
  <app-add-product-to-price-book-form
    (addProductPrice)="addProductPrice($event)"
    [slider]="editSlider"
    [productPrice]="productPriceToEdit"
    [existingProductPrices]="productPrices"
  ></app-add-product-to-price-book-form>
</app-slider>
