@import "~src/styles/table";
@import "~src/styles/font-weights";

::ng-deep .product-price-table {
  tr {
    height: 32px !important;
  }
  .mat-column-activity {
    text-align: center;
  }
  th.mat-header-cell {
    border-top-width: 1px;
    border-top-color: rgba($contrast-rgb, 0.12);
    border-top-style: solid;
  }
  .flag-icon {
    width: 13px;
    height: 18px;
  }
  .add-product-to-price-book {
    font-size: 13px;
    font-weight: $Regular;
    color: $primary;
    text-align: right;
    margin-top: 15px;
    cursor: pointer;
    img {
      width: 20px;
      height: 20px;
    }
  }
}
