<div class="w-100 h-100 card-padding">
  <mat-card
    class="mat-elevation-z0 main-mat-card mat-card card-border-radius no-bottom-border-radius"
  >
    <div class="title ml-3 mb-4">
      {{ "contacts.link.basicInfo" | translate }}
    </div>
    <div>
      <form [formGroup]="contactLinkForm">
        <div>
          <mat-form-field
            class="pl-3 pr-3 w-100"
            *ngIf="'ContactLinkAddComponent.contact' | auth: 'i':true"
          >
            <mat-label>{{
              "contacts.link.nameAndSurname" | translate
            }}</mat-label>
            <span class="inline">
              <input
                matInput
                [placeholder]="'contacts.link.write3CharToSearch' | translate"
                formControlName="contactSearch"
                [matAutocomplete]="customerSearch"
              />
              <app-icon
                svgIcon="search"
                [hover]="false"
                [primary]="false"
                class="pr-1"
                size="16px"
              ></app-icon>
            </span>
            <mat-autocomplete
              #customerSearch="matAutocomplete"
              (optionSelected)="contactSelect($event.option.value)"
            >
              <mat-option
                *ngFor="let object of filteredContacts"
                [value]="object"
                class="single-line-option"
              >
                <div class="search-text">
                  {{ object.contactName }}
                  <div class="search-customer-text" *ngIf="object.customerName">
                    {{ object.customerName }}
                  </div>
                  <div
                    class="search-customer-text"
                    *ngIf="!object.customerName"
                  >
                    {{ "contacts.link.noCustomer" | translate }}
                  </div>
                </div>
              </mat-option>
              <mat-option
                [value]="undefined"
                class="single-line-option search-text"
                appTooltip="ADD"
                (click)="newContact.open()"
              >
                <app-icon
                  svgIcon="plus"
                  [hover]="false"
                ></app-icon>
                {{ "contacts.link.newContact" | translate }}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="contactId.hasError('required')">
              {{ "contacts.link.fieldRequired" | translate }}
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field
            class="pl-3 pr-3 w-100"
            *ngIf="'ContactLinkAddComponent.customer' | auth: 'i':true"
          >
            <span class="inline">
              <input
                matInput
                [placeholder]="'contacts.link.customer' | translate"
                formControlName="customer"
              />
            </span>
          </mat-form-field>
        </div>

        <div>
          <div
            class="pl-3 pr-3 mt-5 w-100"
            *ngIf="'ContactLinkAddComponent.note' | auth: 'i':true"
          >
            <div class="note-title">{{ "contacts.link.note" | translate }}</div>
            <textarea
              formControlName="note"
              [placeholder]="'contacts.link.note' | translate"
              class="form-control w-100 text-area-field"
              rows="5"
              >{{ note.value }}</textarea
            >
          </div>
        </div>

        <div class="owner pl-3 pr-3" *ngIf="linkedContactOwner">
          <div class="owner-content">
            <div class="owner-title">
              {{ "contacts.link.contactOwner" | translate }}:
            </div>
            <div class="owner-value">
              {{ linkedContactOwner }}
            </div>
          </div>
        </div>
      </form>
    </div>
  </mat-card>

  <div class="button-container">
    <mat-card class="mat-elevation-z0 card-border-radius no-top-border-radius">
      <div class="row">
        <div class="col-md-12">
          <div class="pull-right">
            <button
              class="button-medium"
              color="primary"
              (click)="closeSlider()"
              mat-stroked-button
            >
              {{ "contacts.link.cancel" | translate }}
            </button>
            <button
              class="button-medium ml-2"
              color="primary"
              *ngIf="'ContactLinkAddComponent.add' | auth: 'w'"
              (click)="submit()"
              mat-raised-button
            >
              <ng-container *ngIf="!storedLinkedContactId">{{
                "contacts.link.add" | translate
              }}</ng-container>
              <ng-container *ngIf="storedLinkedContactId">{{
                "contacts.link.save" | translate
              }}</ng-container>
            </button>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>

<app-slider
  #newContact
  width="34vw"
  group="sharedCustomerForm"
  [title]="'contacts.link.newContactSliderTitle' | translate"
  key="AddContactLink.NewContactSlider"
>
  <app-contact-add
    (contactAdded)="newContactAdded($event)"
    [slider]="newContact"
  ></app-contact-add>
</app-slider>
