@import "~src/styles/slider";
@import "~src/styles/font-weights";

.button-container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: $bg-secondary;
}

.title {
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1.2px;
  color: $text-title;
  width: 200px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
}

.text-area-field:focus {
  background-color: $bg-primary;
  border-color: $border-primary;
  color: $text-title;
}
.text-area-field {
  background-color: $bg-primary;
  border-color: $border-secondary;
}
.note-title {
  font-size: 12px;
  font-weight: $Medium;
  color: $action-color;
  margin-left: 5px;
  margin-bottom: 5px;
}
.owner {
  position: absolute;
  bottom: 15px;
  .owner-content {
    font-weight: $Medium;
    display: flex;
    .owner-title {
      font-size: 12px;
      color: $text-secondary;
    }
    .owner-value {
      font-size: 13px;
      color: $text-title;
      margin-left: 5px;
    }
  }
}
.search-text {
  text-align: left;
  font-size: 13px;
  font-weight: $Medium;
  letter-spacing: 0;
  color: $text-title;
  opacity: 1;
}
.search-customer-text {
  color: $text-secondary;
  font-size: 12px;
  font-weight: $Regular;
  margin-top: -30px;
}
