<div class="add-related-customer-container">
  <div class="card-container">
    <mat-card class="main-card card-border-radius no-bottom-left-border-radius no-bottom-right-border-radius">
      <div class="inner-container">

            <div class="notes-header">{{'notes.add.note' | translate}}</div>
            <textarea [formControl]="noteControl" class="form-control text-area" rows="10"></textarea>

      </div>
    </mat-card>

    <mat-card class="buttons-bar card-border-radius no-top-left-border-radius no-top-right-border-radius">
      <button type="button" mat-stroked-button color="primary"
              (click)="cancel()">{{'contacts.details.newRelatedCustomer.cancel' | translate}}</button>
      <button type="button" mat-raised-button class="ml-2" color="primary"
              (click)="save()">{{'contacts.details.newRelatedCustomer.save' | translate}}</button>
    </mat-card>
  </div>
</div>
