@import "~src/styles/colors.scss";
@import "~src/styles/font-weights";

.header {
  background-color: $bg-header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px;
  border-bottom: solid 1px $border-tertiary;
  margin: 0;

  .header-text {
    font-size: 13px !important;
    font-weight: $Medium !important;
    color: $action-color;
    margin: 0;
  }
}

.content {
  padding: 16px 24px;
  margin: 0;
}

.footer {
  margin: 0;
  padding: 16px;

  .action-button-group {
    & > * {
      margin: 0 4px;
      &:last-child {
        margin-right: 0;
      }
      &:first-child {
        margin-left: 0;
      }
    }
    .basic-button {
      background-color: $bg-tertiary;
      color: $text-primary;
    }
    .primary-button {
      background-color: $primary;
      color: $primary-contrast;
    }
    .alert-button {
      background-color: $confirm-color;
      color: $primary-contrast;
    }
    .success-button {
      background-color: $green-color;
      color: $primary-contrast;
    }
    .action-button {
      font-size: 13px;
      line-height: 30px;
      min-width: 80px;
      font-weight: $Medium;
    }
  }
}


