<div mat-dialog-title class="header">
  <div></div>
  <div class="header-text" mat-dialog-title>{{ data.title | translate }}</div>
  <button class="btn-transparent" [mat-dialog-close]="true">
    <app-icon svgIcon="cross" [hover]="false" size="20px"></app-icon>
  </button>
</div>

<mat-dialog-content class="content">
  <ng-container [ngSwitch]="data.contentType">
    <app-html-content
      *ngSwitchCase="contentTypes.HTML"
      [content]="data.content"
    ></app-html-content>
    <app-select-content
      *ngSwitchCase="contentTypes.SELECT"
      [content]="data.content"
      (changeContentData)="setContentData($event)"
    ></app-select-content>
  </ng-container>
</mat-dialog-content>

<mat-dialog-actions *ngIf="data.actions" align="end" class="footer">
  <div class="action-button-group">
    <button
      *ngFor="let action of data.actions"
      mat-flat-button
      class="action-button"
      [mat-dialog-close]="true"
      [ngClass]="{
        'primary-button': action.color === colors.PRIMARY,
        'alert-button': action.color === colors.ALERT,
        'success-button': action.color === colors.SUCCESS,
        'basic-button': !action.color
      }"
      (click)="action.func && action.func(contentData)"
    >
      {{ action.text | translate }}
    </button>
  </div>
</mat-dialog-actions>
