<div class="group-title">{{'manufacturersAndSuppliers.list.manufacturers' | translate}}</div>

<div class="manufacturers-list" (scroll)="infinityScroll.onScroll($event)">
  <div *ngFor="let manufacturer of infinityScroll.itemPage?.content">
    <div class="single-manufacturer">
      <div>{{manufacturer.name}}</div>
      <div class="clickable" appTooltip="DELETE" (click)="tryDelete(manufacturer.id)">
        <app-icon
          svgIcon="trash"
          size="18px"
          [hover]="false"
        ></app-icon> 
      </div>
    </div>
  </div>
</div>

<div class="group-tail" [ngClass]="{'right': infinityScroll.itemPage?.numberOfElements !== 0}" (click)="addSlider.open()">
  <app-icon
    svgIcon="add"
    size="18px"
    [primary]="true"
  ></app-icon> 
  {{'manufacturersAndSuppliers.list.addManufacturer' | translate}}
</div>

<app-slider #addSlider [title]="'manufacturersAndSuppliers.add.addManufacturer' | translate" key="ManufacturersList.AddSlider" width="30vw">
  <app-manufacturers-add (added)="infinityScroll.initData()" [slider]="addSlider"></app-manufacturers-add>
</app-slider>
