@import "~src/styles/colors";
@import "~src/styles/table";
@import "~src/styles/font-weights";
@import "~src/styles/form";

.icon {
  cursor: pointer;
  fill: $action-color;
  &.icon-stroke {
    stroke: $action-color;
  }
  &-primary {
    fill: $primary;
    &.icon-stroke {
      stroke: $primary;
    }
  }
  &-disabled {
    fill: #999;
    &.icon-stroke {
      stroke: #999;
    }
  }
  &-hover {
    &:hover {
      fill: $primary;
    }
    &.icon-stroke {
      &:hover {
        stroke: $primary;
      }
    }
  }
  &-no-pointer {
    cursor: auto;
  }
}
