@import "~src/styles/table";

.button-container {
  display: flex;
  align-items: center;
  & > * {
    padding: 0 6px;
  }
  &::ng-deep.expanded {
    .icon {
      fill: $primary !important;
    }
  }
}

.no-price-books {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.no-price-books-icon-size {
  height: 24px;
  width: 24px;
  margin: 0 5px;
}

.no-price-books-primary-text {
  color: $action-color;
  font-size: 20px;
  font-weight: $Medium;
}
.no-price-books-normal-text {
  color: $text-secondary;
  font-size: 13px;
  font-weight: $Medium;
  display: flex;
  align-items: center;
  justify-content: center;
}
