<mat-card class="mat-elevation-z8 fill-screen table-container">
  <div class="table-header-container">
    <div>
      <span>
        <span class="table-header-primary">{{
          "priceBook.list.title" | translate
        }}</span>
        <span class="table-header-note"
          >({{ priceBookPage?.totalElements || "0" }})</span
        >
      </span>
      <span class="ml-5">
        <span class="filter-by-text"
          >{{ "priceBook.list.filterBy.filter" | translate }}:
        </span>
        <span class="filter-by-value ml-2">{{
          "priceBook.list.filterBy." + selectedFilter | translate
        }}</span>
        <app-icon
          [matMenuTriggerFor]="filterBy"
          [hover]="false"
          svgIcon="expand-more"
        ></app-icon>
        <mat-menu #filterBy="matMenu" xPosition="before">
          <div class="dropdown-select-title">
            {{ "priceBook.list.filterBy.showOnly" | translate }}
          </div>
          <button
            (click)="filter(filterSelection.ALL)"
            [class.active]="isSelected(filterSelection.ALL)"
            class="dropdown-select-item"
            mat-menu-item
          >
            {{ "priceBook.list.filterBy.all" | translate }}
          </button>
          <button
            (click)="filter(filterSelection.CREATED_TODAY)"
            [class.active]="isSelected(filterSelection.CREATED_TODAY)"
            class="dropdown-select-item"
            mat-menu-item
          >
            {{ "priceBook.list.filterBy.createdToday" | translate }}
          </button>
          <button
            (click)="filter(filterSelection.VIEWED_LASTLY)"
            [class.active]="isSelected(filterSelection.VIEWED_LASTLY)"
            class="dropdown-select-item"
            mat-menu-item
          >
            {{ "priceBook.list.filterBy.viewedLastly" | translate }}
          </button>
          <button
            (click)="filter(filterSelection.EDITED_LASTLY)"
            [class.active]="isSelected(filterSelection.EDITED_LASTLY)"
            class="dropdown-select-item"
            mat-menu-item
          >
            {{ "priceBook.list.filterBy.editedLastly" | translate }}
          </button>
        </mat-menu>
      </span>
    </div>
    <div class="button-container">
      <app-icon
        *ngIf="'PriceBookListComponent.savePriceBook' | auth: 'w'"
        svgIcon="add"
        appTooltip="ADD"
        (click)="addSlider.open()"
      ></app-icon>
      <app-icon
        svgIcon="collapse"
        appTooltip="REDUCE_SPACE"
        (click)="expanded = false"
        [class.expanded]="!expanded"
      ></app-icon>
      <app-icon
        svgIcon="expand"
        appTooltip="INCREASE_SPACE"
        (click)="expanded = true"
        [class.expanded]="expanded"
      ></app-icon>
      <app-icon
        svgIcon="option-dots"
        appTooltip="MORE"
        [matMenuTriggerFor]="groupMenu"
      ></app-icon>
      <mat-menu #groupMenu="matMenu" xPosition="before">
        <button
          mat-menu-item
          (click)="tryDeleteSelectedProducts()"
          *ngIf="'PriceBookListComponent.deletePriceBook' | auth: 'w'"
          [disabled]="!isAnyChecked()"
        >
          <app-icon
            svgIcon="trash"
            size="18px"
            [hover]="false"
            [disabled]="!isAnyChecked()"
          ></app-icon>
          {{ "priceBook.list.delete" | translate }}
        </button>
      </mat-menu>
    </div>
  </div>
  <div class="row overflow-y with-title" (scroll)="onScroll($event)">
    <table
      [dataSource]="priceBookPage?.content"
      class="mat-elevation-z8 col-md-12"
      mat-table
      matSort
      (matSortChange)="onSortChange($event)"
      [ngClass]="{ 'row-collapsed': !expanded, 'row-expanded': expanded }"
    >
      <ng-container matColumnDef="selectRow">
        <th *matHeaderCellDef mat-header-cell></th>
        <td
          *matCellDef="let priceBook"
          mat-cell
          class="checkbox-column-width"
          (click)="$event.stopPropagation()"
        >
          <mat-checkbox
            class="crm-checkbox"
            [(ngModel)]="priceBook.checked"
            color="primary"
            [disabled]="priceBook.isDefault"
            (click)="$event.stopPropagation()"
          ></mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{ "priceBook.list.name" | translate }}
        </th>
        <td
          *matCellDef="let priceBook"
          mat-cell
          [title]="priceBook.name | lengthMoreThan: 30"
        >
          {{ priceBook.name }}
        </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{ "priceBook.list.description" | translate }}
        </th>
        <td
          *matCellDef="let priceBook"
          mat-cell
          [title]="priceBook.description | lengthMoreThan: 30"
        >
          {{ priceBook.description }}
        </td>
      </ng-container>
      <ng-container matColumnDef="currency">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{ "priceBook.list.currency" | translate }}
        </th>
        <td *matCellDef="let priceBook" mat-cell>
          {{ priceBook.currency | getCurrencySymbol }}
        </td>
      </ng-container>
      <ng-container matColumnDef="updated">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{ "priceBook.list.lastModificationDate" | translate }}
        </th>
        <td *matCellDef="let priceBook" mat-cell>
          {{ priceBook.updated | formatDate: true }}
        </td>
      </ng-container>
      <ng-container matColumnDef="active">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{ "priceBook.list.active" | translate }}
        </th>
        <td
          *matCellDef="let priceBook"
          class="table-text-primary"
          mat-cell
          [title]="priceBook.active | lengthMoreThan: 30"
        >
          <img *ngIf="priceBook.active" src="assets/icons/dot-green.svg" />
          <img *ngIf="!priceBook.active" src="assets/icons/dot-grey.svg" />
        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th *matHeaderCellDef mat-header-cell></th>
        <td *matCellDef="let priceBook" mat-cell>
          <app-icon
            *ngIf="!priceBook?.isDefault"
            appTooltip="MORE"
            [matMenuTriggerFor]="menu"
            (click)="$event.stopPropagation()"
            svgIcon="option-dots"
            [hover]="false"
          ></app-icon>
          <mat-menu #menu="matMenu" xPosition="before">
            <button
              mat-menu-item
              (click)="edit(priceBook.id)"
              *ngIf="'PriceBookListComponent.editPriceBook' | auth: 'w'"
            >
              <app-icon svgIcon="edit" size="18px" [hover]="false"></app-icon>
              {{ "priceBook.list.edit" | translate }}
            </button>
            <button
              mat-menu-item
              (click)="tryDelete(priceBook.id)"
              *ngIf="'PriceBookListComponent.deletePriceBook' | auth: 'w'"
            >
              <app-icon svgIcon="trash" size="18px" [hover]="false"></app-icon>
              {{ "priceBook.list.delete" | translate }}
            </button>
          </mat-menu>
        </td>
      </ng-container>
      <tr
        *matHeaderRowDef="filteredColumns$ | async; sticky: true"
        mat-header-row
      ></tr>
      <tr
        *matRowDef="let rowData; columns: filteredColumns$ | async"
        mat-row
        (click)="openProductList(rowData.id)"
      ></tr>
    </table>

    <div class="no-price-books" *ngIf="priceBookPage?.totalElements === 0">
      <div class="no-price-books-primary-text">
        {{ "priceBook.list.noPriceBooks" | translate }}
      </div>
      <div class="no-price-books-normal-text">
        {{ "priceBook.list.add" | translate }}
        <app-icon
          *ngIf="'PriceBookListComponent.savePriceBook' | auth: 'w'"
          (click)="addSlider.open()"
          svgIcon="add"
          class="px-1"
        ></app-icon>

        {{ "priceBook.list.orImportList" | translate }}
        <button class="import-icon no-price-books-icon-size"></button>
      </div>
    </div>
  </div>
</mat-card>

<app-slider
  #addSlider
  [title]="'priceBook.form.addTitle' | translate"
  key="PriceBookList.AddSlider"
  width="33vw"
>
  <app-price-book-add
    (priceBookAdded)="handlePriceBookAdded()"
  ></app-price-book-add>
</app-slider>

<app-slider
  #editSlider
  [title]="'priceBook.form.editTitle' | translate"
  key="PriceBookList.EditSlider"
  width="33vw"
>
  <app-price-book-edit
    (priceBookEdited)="handlePriceBookAdded()"
    [priceBook]="priceBookForEdit"
  ></app-price-book-edit>
</app-slider>
