@import "~src/styles/slider";
@import "~src/styles/font-weights";

.title {
  font-size: 10px;
  font-weight: $Medium;
  letter-spacing: 1.2px;
  color: $text-title;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
}

.refresh-button {
  color: $yellow-refresh;
  margin-top: 15px;
  cursor: pointer;
  img {
    margin-right: 10px;
  }
}

.row-segment {
  padding-left: 15px;
}

::ng-deep .whitelist-field * .mat-form-field-underline {
  display: none;
}
