<div *ngIf="'WhitelistStatusInCustomer.view' | auth: 'i':true">
  <div class="title" *ngIf="!hideTitle">
    {{ "customer.whitelist.title" | translate }}
  </div>
  <div class="row row-segment">
    <div class="col-md-4">
      <mat-form-field class="w-100 whitelist-field">
        <input
          matInput
          disabled="true"
          [value]="whitelist?.status"
          [title]="
            whitelist?.status
              ? whitelist.status
              : ('customer.whitelist.placeholder.statusVat' | translate)
          "
          [placeholder]="'customer.whitelist.field.statusVat' | translate"
        />
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="w-100 whitelist-field">
        <input
          matInput
          disabled="true"
          [value]="whitelist?.updated | formatDate: false"
          [title]="
            whitelist?.updated
              ? whitelist.updated
              : ('customer.whitelist.placeholder.updated' | translate)
          "
          [placeholder]="'customer.whitelist.field.updated' | translate"
        />
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="w-100 whitelist-field">
        <input
          matInput
          disabled="true"
          [value]="whitelist?.registered | formatDate: false"
          [title]="
            whitelist?.registered
              ? whitelist.registered
              : ('customer.whitelist.placeholder.registered' | translate)
          "
          [placeholder]="'customer.whitelist.field.registered' | translate"
        />
      </mat-form-field>
    </div>
  </div>
  <div
    class="row row-segment"
    *ngFor="let accountNumber of whitelist?.bankAccountNumbers"
  >
    <div class="col-md-12">
      <mat-form-field class="w-100 whitelist-field">
        <input
          matInput
          disabled="true"
          [value]="accountNumber.number"
          [title]="
            accountNumber?.number
              ? accountNumber.number
              : ('customer.whitelist.placeholder.bankAccountNumber' | translate)
          "
          [placeholder]="
            'customer.whitelist.field.bankAccountNumber' | translate
          "
        />
      </mat-form-field>
    </div>
  </div>
  <div class="row row-segment">
    <div class="col-md-5">
      <mat-form-field class="w-100 whitelist-field">
        <input
          matInput
          disabled="true"
          [value]="whitelist?.refreshed | formatDate: true"
          [title]="
            whitelist?.refreshed
              ? (whitelist.refreshed | formatDate: true)
              : ('customer.whitelist.placeholder.refreshed' | translate)
          "
          [placeholder]="'customer.whitelist.field.refreshed' | translate"
        />
      </mat-form-field>
    </div>
    <div class="col-md-7">
      <div
        *ngIf="'WhitelistStatusInCustomer.refresh' | auth: 'w'"
        class="refresh-button"
        [title]="'customer.whitelist.refresh' | translate"
        (click)="refreshWhitelistStatus()"
      >
        <img src="assets/icons/refresh-orange.svg" />{{
          "customer.whitelist.refresh" | translate
        }}
      </div>
    </div>
  </div>
</div>
