
.additional-data-form {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-right: 1rem;
}

.box-1 {
  width: 120px;
  margin-right: 10px;
}

.box-2 {
  flex: 1;
  margin-right: 10px;
}

.remove-button {
  width: 30px;
  text-align: right;
}

.icon-plus {
  margin-right: 19px;
}
