<form *ngIf="inputForm" [formGroup]="inputForm">
  <ng-container
    [formArrayName]="fieldName"
    *ngFor="let item of phones['controls']; let i = index"
  >
    <div [formGroupName]="i" class="additional-data-form">
      <ng-container formGroupName="type">
        <mat-form-field class="box-1">
          <mat-select
            tabIndex="100"
            formControlName="name"
            (openedChange)="changeSelect($event)"
          >
            <ng-container *ngFor="let type of phoneTypes">
              <mat-option [value]="type['name']">
                {{ type["name"] }}
              </mat-option>
            </ng-container>
          </mat-select>
          <mat-placeholder class="placeholder">{{
            "leads.form.phoneTypes.placeholder" | translate
          }}</mat-placeholder>
        </mat-form-field>
      </ng-container>

      <mat-form-field class="box-2">
        <input
          matInput
          formControlName="phone"
          [mask]="phoneService.getPhoneInputMask(phone(i).value.phone)"
          type="tel"
          (focusin)="isFocusIn()"
          (focusout)="isFocusOut()"
        />
        <mat-error *ngIf="phones.get(i + '.phone')">
          {{ "person.form.fieldRequired" | translate }}
        </mat-error>
        <mat-error *ngIf="phones.get(i + '.phone').hasError('whitespace')">
          {{ "sharedValidators.whitespace" | translate }}
        </mat-error>
      </mat-form-field>

      <button
        class="btn-transparent remove-button"
        (click)="removeField($event, i)"
      >
        <app-icon svgIcon="trash" size="18px" [hover]="false"></app-icon>
      </button>
    </div>
  </ng-container>
  <div *ngIf="showPlusButton">
    <app-icon
      svgIcon="plus"
      [hover]="false"
      class="float-right icon-plus"
      appTooltip="ADD"
      (click)="addField()"
    ></app-icon>
  </div>
</form>
