@import "~src/styles/font-weights.scss";
@import '~src/styles/colors';
@import "~src/styles/table";

.button-container {
  display: flex;
  align-items: center;
  & > * {
    padding: 0 6px;
  }
}

.text-area:focus {
  background-color: $bg-primary;
  border-color: $border-primary;
  color: $text-title;
}

.text-area {
  background-color: $bg-primary;
  border-color: $border-secondary;
  width: 32%;
  box-shadow: none;
}

.notes-text {
  color: $text-title;
  font-size: 13px;
  font-weight: $Medium;
  letter-spacing: 0;
  line-height: 28px;
}

.notes-header {
  color: $action-color;
  font-size: 12px;
  font-weight: $Medium;
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: 5px;
}

.star-mark {
  cursor: pointer;
}

.display-none {
  display: none;
}

.add-contact-box {
  width: 100%;
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.add-contact-box > img {
  margin-right: 10px;
}

.note-widget {
  width: 100%;
}

.center-in-table {
  display: flex !important;
  justify-content: center;
  width: 100%;
}


.customer-contacts.image-container {
  display: block;
}

::ng-deep.customer-contacts.image-container .avatar-part {
  transition: width ease-in-out 0.25s, height ease-in-out 0.25s;
}
