<app-load-svg-on-init
  [svgList]="['small-cross', 'alert']"
></app-load-svg-on-init>
<div class="table-container h-100">
  <div class="table-header-container">
    <div>
      <span>
        <span class="table-header-primary">{{
          "customer.dashboard.contacts.title" | translate
        }}</span>
      </span>
    </div>
    <div class="button-container">
      <app-icon
        *ngIf="'RelatedContactsInCustomerDetail.addDirect' | auth: 'w'"
        svgIcon="add"
        appTooltip="ADD"
        (click)="addDirectContactLinkSlider.open()"
      ></app-icon>
      <app-icon
        svgIcon="collapse"
        appTooltip="REDUCE_SPACE"
        (click)="collapsed = true"
        [primary]="collapsed"
      ></app-icon>
      <app-icon
        svgIcon="expand"
        appTooltip="INCREASE_SPACE"
        (click)="collapsed = false"
        [primary]="!collapsed"
      ></app-icon>
    </div>
  </div>
  <div class="row overflow-y with-title">
    <table
      #table
      [dataSource]="customer?.contacts"
      class="mat-elevation-z8 col-md-12"
      mat-table
      [ngClass]="{ 'row-collapsed': collapsed, 'row-expanded': !collapsed }"
    >
      <ng-container matColumnDef="markMainContact">
        <th *matHeaderCellDef mat-header-cell></th>
        <td
          *matCellDef="let contact"
          mat-cell
          class="star-mark icon-column-width"
          (click)="markContact(contact)"
        >
          <div [class.display-none]="contact !== selectedContact">
            <img src="assets/icons/yellow-star.svg" />
          </div>
          <div [class.display-none]="contact === selectedContact">
            <img src="assets/icons/grey-star.svg" />
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="avatar">
        <th *matHeaderCellDef mat-header-cell></th>
        <td *matCellDef="let contact" mat-cell class="avatar-column-width pr-2">
          <app-avatar-preview
            class="customer-contacts image-container"
            [imageSrc]="contact.avatar"
            [widthPx]="collapsed ? 30 : 52"
            defaultImg="assets/icons/user-logo.svg"
          ></app-avatar-preview>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell>
          {{ "customer.dashboard.contacts.list.name" | translate }}
        </th>
        <td *matCellDef="let contact" mat-cell class="table-text-primary">
          <div
            class="table-text-primary"
            [title]="contact.name + ' ' + contact.name | lengthMoreThan: 30"
          >
            {{ contact.name }} {{ contact.surname }}
          </div>
          <div
            class="table-text-secondary"
            [title]="contact.position | lengthMoreThan: 30"
          >
            {{ contact.position }}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th *matHeaderCellDef mat-header-cell>
          {{ "customer.dashboard.contacts.list.role" | translate }}
        </th>
        <td
          *matCellDef="let contact"
          mat-cell
          class="table-text"
          [title]="contact.role | lengthMoreThan: 30"
        >
          {{ contact?.role }}
        </td>
      </ng-container>

      <ng-container matColumnDef="department">
        <th *matHeaderCellDef mat-header-cell>
          {{ "customer.dashboard.contacts.list.department" | translate }}
        </th>
        <td
          *matCellDef="let contact"
          mat-cell
          class="table-text"
          [title]="contact.department | lengthMoreThan: 30"
        >
          {{ contact?.department }}
        </td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th *matHeaderCellDef mat-header-cell>
          {{ "customer.dashboard.contacts.list.phone" | translate }}
        </th>
        <td *matCellDef="let contact" mat-cell class="table-text">
          {{ contact.phone | phone }}
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th *matHeaderCellDef mat-header-cell>
          {{ "customer.dashboard.contacts.list.email" | translate }}
        </th>
        <td
          *matCellDef="let contact"
          mat-cell
          class="table-text-link"
          [title]="contact.email | lengthMoreThan: 30"
        >
          {{ contact.email }}
        </td>
      </ng-container>

      <ng-container matColumnDef="owner">
        <th *matHeaderCellDef mat-header-cell>
          {{ "customer.dashboard.contacts.list.owner" | translate }}
        </th>
        <td
          *matCellDef="let contact"
          mat-cell
          class="table-text"
          [title]="userMap?.get(contact.owner) | lengthMoreThan: 30"
        >
          {{ userMap?.get(contact.owner) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th *matHeaderCellDef mat-header-cell></th>
        <td *matCellDef="let contact" mat-cell>
          <app-icon
            svgIcon="option-dots"
            [hover]="false"
            [matMenuTriggerFor]="menu"
            (click)="$event.stopPropagation()"
          ></app-icon>
          <mat-menu #menu="matMenu" xPosition="before">
            <button
              *ngIf="'CustomerContactsComponent.edit' | auth: 'w'"
              (click)="edit(contact.id); editDirectContactLinkSlider.open()"
              class="dropdown-select-item"
              mat-menu-item
            >
              <app-icon svgIcon="edit" [hover]="false" size="16px"></app-icon>
              {{ "leads.list.singleDropdown.edit" | translate }}
            </button>
            <button
              *ngIf="'CustomerContactsComponent.delete' | auth: 'w'"
              (click)="tryDelete(contact)"
              class="dropdown-select-item"
              mat-menu-item
            >
              <app-icon svgIcon="trash" [hover]="false" size="16px"></app-icon>
              {{ "leads.list.singleDropdown.delete" | translate }}
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="filteredColumns$ | async" mat-header-row></tr>
      <tr
        *matRowDef="let rowData; columns: filteredColumns$ | async"
        mat-row
        (click)="$event.stopPropagation(); goToContactDetails(rowData.id)"
      ></tr>
    </table>

    <div *ngIf="!customer?.contacts?.length" class="center-in-table">
      <div class="center-horizontally">
        <img src="assets/icons/empty-contact-list.svg" />
        <div class="mt-4 empty-list-text-primary">
          {{ "customer.dashboard.contacts.list.empty" | translate }}
        </div>
        <div class="empty-list-text-secondary center">
          {{ "customer.dashboard.contacts.list.add" | translate }}
          <app-icon
            *ngIf="'RelatedContactsInCustomerDetail.addDirect' | auth: 'w'"
            (click)="addDirectContactLinkSlider.open()"
            svgIcon="add"
            class="px-1"
          ></app-icon>

          {{ "customer.dashboard.contacts.list.orImport" | translate }}
          <app-icon svgIcon="import" class="px-1"></app-icon>
        </div>
      </div>
    </div>

    <div class="ml-3 w-100">
      <div class="add-contact-box" *ngIf="customer?.contacts?.length">
        <button
          *ngIf="'RelatedContactsInCustomerDetail.addDirect' | auth: 'w'"
          class="btn-transparent"
          (click)="addDirectContactLinkSlider.open()"
        >
          <app-icon svgIcon="add" [primary]="true" class="pr-1"></app-icon>
          <span class="table-text-link">{{
            "customer.dashboard.contacts.addNew" | translate
          }}</span>
        </button>
      </div>

      <div
        class="notes-box"
        *ngIf="!('CustomerContactsComponent.notes' | auth: 'i')"
      >
        <div class="notes-header">
          {{ "customer.dashboard.contacts.notes" | translate }}
        </div>
        <textarea
          #notesArea
          [(ngModel)]="notes"
          [disabled]="'CustomerContactsComponent.notes' | auth: 'r'"
          class="form-control text-area notes-text"
          rows="6"
        >
        </textarea>
      </div>
    </div>
  </div>
</div>

<app-slider
  #addDirectContactLinkSlider
  width="33vw"
  group="sharedCustomerForm"
  [title]="'customer.relatedContacts.addDirectContact.title' | translate"
>
  <app-add-direct-contact
    [customerId]="customer?.id"
    [slider]="addDirectContactLinkSlider"
    (newContactAdded)="refreshContactList()"
  ></app-add-direct-contact>
</app-slider>

<app-slider
  #editDirectContactLinkSlider
  width="33vw"
  group="sharedCustomerForm"
  [title]="'customer.relatedContacts.updateDirectContact.title' | translate"
>
  <app-edit-direct-contact
    [customerId]="customer?.id"
    [contactId]="selectedContactId"
    [slider]="editDirectContactLinkSlider"
    (newContactAdded)="refreshContactList()"
  ></app-edit-direct-contact>
</app-slider>
