<app-load-svg-on-init [svgList]="['list_icon_remove', 'list_icon_add', 'bpmn/checkbox_panel_icon', 'bpmn/list_panel_icon', 'bpmn/123_panel_icon', 'bpmn/tt_panel_icon', 'bpmn/tt_grey_icon', 'bpmn/123_grey_icon', 'bpmn/checkbox_grey_icon', 'bpmn/list_grey_icon']"></app-load-svg-on-init>
<div class="grid-process-container ">
  <div class="process-content">
    <mat-card
      class="mat-elevation-z0 main-mat-card left-panel mat-card no-bottom-left-border-radius no-bottom-right-border-radius no-top-right-border-radius">
      <div class="task-form-header" (click)="openPanel({type: selectedPanelTypeEnum.PROCESS})">
        <div class="header-label">{{'bpmn.processForm.processName' | translate}}</div>
        <div class="header-text">{{process?.name}}</div>
        <img src="assets/icons/bpmn/icon-right-arrow.svg"/>
        <div class="placeholder-for-tooltip" [tooltip]="tooltipText" #mainTooltip="bs-tooltip" placement="left" triggers=""
             [delay]="500"></div>
      </div>
      <div class="task-form-content">
        <app-task-form
          [selectedPanel]="selectedPanel"
          (openPanel)="openPanel($event)"
          [process]="process"
          [currentPanelValid]="currentPanelValid"
          (processChange)="process = $event"></app-task-form>
      </div>
    </mat-card>


    <div class="button-container">
      <mat-card
        class="mat-elevation-z0 no-top-left-border-radius button-panel no-top-right-border-radius no-bottom-right-border-radius">
        <div class="row">
          <div class="col-md-12">
            <div class="pull-right">
              <button mat-stroked-button color="primary"
                      (click)="closeSlider()" class="mr-2">
                {{'bpmn.processForm.cancel' | translate}}
              </button>
              <button mat-raised-button
                      (click)="saveProcess()" class="mr-2"
                      color="primary">
                {{'bpmn.processForm.save' | translate}}
              </button>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="process-panel">
    <mat-card
      class="mat-elevation-z0 right-panel p-0 right-panel-mat-card mat-card no-top-left-border-radius no-bottom-left-border-radius">
      <app-process-panel (formValidChange)="currentPanelValid = $event" *ngIf="isPanelActive(selectedPanelTypeEnum.PROCESS)" [process]="process"
                         (processChanged)="updateProcess($event)"></app-process-panel>
      <app-task-panel (formValidChange)="currentPanelValid = $event" *ngIf="isPanelActive(selectedPanelTypeEnum.TASK)" [process]="process"
                      (processChanged)="updateProcess($event)" [selectedPanel]="selectedPanel" (openPanel)="openPanel($event)"
                      [accountEmailList]="accountEmailList"></app-task-panel>
      <app-property-panel (formValidChange)="currentPanelValid = $event" *ngIf="isPanelActive(selectedPanelTypeEnum.PROPERTY)" [process]="process"
                          (processChanged)="updateProcess($event)" [selectedPanel]="selectedPanel"></app-property-panel>
    </mat-card>
  </div>
</div>
