@import "~src/styles/colors";
@import "~src/styles/form";
@import "~src/styles/font-weights";

.header {
  font-weight: $Regular;
  font-size: 24px;
  color: $text-primary;
  letter-spacing: 0;
  line-height: 36px;
  margin: 5px;
}

mat-card {
  box-shadow: 0 0 1px 0 rgba($shadow-color-rgb, 0.06), 0 1px 1px 0 rgba($shadow-color-rgb, 0.1) !important;
}

.main-mat-card {
  overflow-y: auto;
  height: calc(100vh - 169px);
  margin-bottom: 1px;
}

.right-panel-mat-card {
  overflow-y: auto;
  margin-left: 3px;
  height: calc(100vh - 100px);
}

.button-medium {
  width: 105px;
}

.button-container {
  width: 100%;
  background-color: $bg-secondary;
}

.task-form-header {
  background-color: $task-header;
  height: 105px;
  padding-left: 32px;
  padding-top: 24px;
  cursor: pointer;
  .header-text {
    font-weight: $Medium;
    font-size: 20px;
    margin-top: 6px;
    color:  $primary-contrast;
  }
  .header-label {
    font-weight: $Medium;
    font-size: 12px;
    color: $text-secondary;
  }
  img {
    float: right;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 22px;
    top: 41px;
  }
}

.grid-process-container {
  width: 100vw;
  padding-top: 16px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.process-content {
  width: calc(100vw - 385px);
}

.process-panel {
  width: 385px;
}

.title-field {
  margin-top: 22px;
  font-size: 20px;
  margin-bottom: 8px;
}

.left-panel {
  padding: 0;
}
.task-form-content {
  padding: 16px 22px;
}

.left-panel,
.button-panel {
  margin-left: 16px;
}
.right-panel {
  margin-right: 16px;
}

.left-panel,
.button-panel,
.right-panel {
  border-radius: 8px;
}

.placeholder-for-tooltip {
  float: right;
  width: 1px;
  height: 24px;
  position: absolute;
  right: 5px;
  top: 43px;
}

.process-content * ::ng-deep.tooltip-inner {
  background-color: $yellow-lighten;
  border: 2px solid $yellow-border;
  color: #000;
  font-size: 13px;
  font-weight: $Medium;
}

.process-content * ::ng-deep.tooltip.left .tooltip-arrow:before,
 ::ng-deep.tooltip.left .tooltip-arrow {
   border-left-color: $yellow-border;
 }

.process-content * ::ng-deep.tooltip.right .tooltip-arrow:before,
::ng-deep.tooltip.right .tooltip-arrow {
  border-right-color: $yellow-border;
}
