<div *ngIf="avatar" (click)="urlField.click()">
  <div class="logo-preview avatar-part" *ngIf="!correctLogo" [style.width]="widthPx + 'px'" [style.height]="widthPx + 'px'">
    <img alt="logo-preview" class="add-image" src="{{defaultImg}}" [ngStyle]="{'border-radius' : rounded? '50%' : '10%'}"  [ngClass]="{'hide-logo' : correctLogo}"/>
    <mat-form-field class="w-100 only-field-error">
      <input matInput class="hide-logo"
             placeholder="{{'avatar.avatar' | translate}}"
             [formControl]="avatar">
      <mat-error class="error-center" *ngIf="avatar.hasError('required')">
        {{'avatar.fieldRequired' | translate}}
      </mat-error>
    </mat-form-field>
  </div>
  <div class="logo-preview avatar-part" (click)="urlField.click()" [ngClass]="{'hide-logo' : !correctLogo}" [style.width]="widthPx + 'px'" [style.height]="widthPx + 'px'">
    <img alt="logo-preview" class="add-image" src="{{imageSrc}}" [ngStyle]="{'border-radius' : rounded? '50%' : '10%'}"
         (load)="logoLoaded(false)" (error)="logoLoaded(true)"/>

  </div>
  <input #urlField class="hide-logo"
         type="file" accept="image/*" (change)="handleInputChange($event)">
  <div class="add-image-title mt-0 text-center cursor-pointer">{{text | translate}}</div>
</div>
