@import "~src/styles/colors";
@import "~src/styles/font-weights";

.header {
  background-color: $bg-primary;
  margin: 0;

  &-first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 20px;


    &-text {
      font-size: 13px !important;
      font-weight: $Medium !important;
      color: $action-color;
      margin: 0;
    }
  }

  &-second {
    font-size: 16px !important;
    font-weight: $SemiBold !important;
    color: $primary;
    height: 50px;
    line-height: 35px;
    padding: 4px 20px;
    background-color: $bg-primary;
    border-bottom: 1px solid $border-tertiary;
    margin-bottom: 20px;
    position: relative;

    .search-form {
      position: absolute;
      right: 0;
      top: 0;
      min-width: 340px;
    }
  }
}

.confirm-button {
  font-size: 13px;
  font-weight: $Medium;
  color:  $primary-contrast;
  box-shadow: none;
}

.cancel-button {
  background-color: $bg-tertiary;
  font-size: 13px;
  font-weight: $Medium;
  color: $action-color;
  box-shadow: none;
}

.footer {
  padding: 20px;
}

.content {
  background-color: $bg-primary;
  padding-left: 40px;
  padding-right: 40px;
  height: calc(100% - 188px);


  &-inner {
    overflow: auto;
    max-height: 100%;
    min-height: 90%;
  }

  &-item {
    display: flex;
    align-items: center;
    height: 40px;
  }

  &-checkbox {
    margin-right: 34px;
    margin-left: 10px;
  }

  &-img {
    margin-right: 16px;
  }

  &-name {
    width: 400px;
    margin-right: 20px;
    font-size: 14px;
    font-weight: $Medium;
    color: $text-title;
  }

  &-format {
    font-size: 14px;
    font-weight: $Regular;
    color: $text-primary;
  }
}
