<div mat-dialog-title class="header">
  <div class="header-first">
    <div></div>
    <div class="header-first-text" mat-dialog-title>
      {{ "mail.selectAttachment.title" | translate }}
    </div>
    <button class="btn-transparent" [mat-dialog-close]="true">
      <app-icon svgIcon="cross" [hover]="false"></app-icon>
    </button>
  </div>
  <div class="header-second">
    {{ "mail.selectAttachment.files" | translate }}

    <mat-form-field class="search-form">
      <input
        [formControl]="searchForm"
        [placeholder]="'mail.selectAttachment.searchFile' | translate"
        matInput
      />
    </mat-form-field>
  </div>
</div>
<mat-dialog-content class="content">
  <div class="content-inner" (scroll)="infinityScroll.onScroll($event)">
    <ng-container *ngFor="let file of infinityScroll?.itemPage?.content">
      <div class="content-item">
        <mat-checkbox
          class="crm-checkbox content-checkbox"
          (click)="$event.stopPropagation()"
          (change)="toggleFile($event, file)"
          [checked]="isChecked(file)"
          color="primary"
        >
        </mat-checkbox>
        <img
          *ngIf="!('DocumentsListComponent.format' | auth: 'i')"
          class="content-img"
          src="{{ file?.format | fileFormatToIcon }}"
        />
        <div
          *ngIf="!('DocumentsListComponent.originalName' | auth: 'i')"
          class="content-name text-trim"
        >
          {{ file?.name }}
        </div>
        <div
          *ngIf="!('DocumentsListComponent.format' | auth: 'i')"
          class="content-format"
        >
          {{ file?.format }}
        </div>
      </div>
    </ng-container>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end" class="footer">
  <button
    class="cancel-button"
    [mat-dialog-close]="true"
    (click)="cancel()"
    mat-raised-button
  >
    {{ "mail.selectAttachment.cancel" | translate }}
  </button>
  <button
    class="confirm-button"
    (click)="confirm()"
    color="primary"
    mat-raised-button
  >
    {{ "mail.selectAttachment.add" | translate }}
  </button>
</mat-dialog-actions>
