<div class="widget-container">
  <div class="title-wiget">
    {{ "dashboard.widgets.openedSalesOpportunity.title" | translate }}
  </div>
  <div class="chart-widget">
    <app-rounded-bar-chart
      *ngIf="chartLenght > 0 && showCanvas; else noData"
      [data]="chartData"
      [length]="chartLenght"
      [xLabel]="
        'dashboard.widgets.openedSalesOpportunity.xLabel'
          | translate
          | uppercase
      "
      [yLabel]="
        'dashboard.widgets.openedSalesOpportunity.yLabel'
          | translate
          | uppercase
      "
    ></app-rounded-bar-chart>
    <div class="select-opportunity">
      <mat-form-field>
        <mat-select
          [(ngModel)]="selectedProcessDefinitionId"
          (selectionChange)="changeProcess()"
        >
          <mat-option
            *ngFor="let process of processDefinitions"
            [value]="process?.id"
          >
            {{ process?.name }}
            <span *ngIf="process?.version !== 1"
              >({{ "opportunity.form.processVersion" | translate }}
              {{ process?.version }} )</span
            >
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="spinner" *ngIf="loading">
      <mat-spinner diameter="60"></mat-spinner>
    </div>
  </div>
</div>

<ng-template #noData>
  <div class="no-data">
    {{ "dashboard.widgets.openedSalesOpportunity.noData" | translate }}
  </div>
</ng-template>
