@import "~src/styles/colors";
@import "~src/styles/font-weights";
@import "~src/styles/icons";

.widget-container {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  height: 100%;
  width: 100%;
  .title-wiget {
    font-size: 20px;
    color: $text-primary;
    text-align: right;
  }

  .chart-widget {
    overflow: hidden;
    flex: 1;
    position: relative;
    .select-opportunity {
      position: absolute;
      right: 0;
      top: 0;
    }
    .spinner {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: radial-gradient(
        rgba($bg-primary-rgb, 0.6) 50%,
        transparent 100%
      );
    }
  }
}
.no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 18px;
}
