<form [formGroup]="propertyForm" novalidate>
  <div *ngFor="let property of taskOnScreen.properties; let i = index" class="custom-field">
    <mat-form-field
      *ngIf="property.type === 'DOUBLE' || property.type === 'STRING'"
    >
      <input
        matInput
        (keydown.escape)="cancelChange(property.id)"
        (focusout)="onSubmit()"
        [required]="property.required"
        [value]="property.value"
        step="any"
        [formControlName]="property.id"
        [id]="'property-input-index-' + i"
        [type]="property.type === 'DOUBLE' ? 'number' : 'text'"
        [readonly]="activeTaskId !== taskOnScreen.id"
      />
      <mat-placeholder class="placeholder">{{ property.id }}</mat-placeholder>
      <mat-error
        *ngIf="
          propertyForm.get([property.id])?.touched &&
          !propertyForm.get([property.id])?.valid
        "
      >
        {{ "leads.details.requiredField" | translate }}
      </mat-error>
    </mat-form-field>

    <div class="checkbox-container" *ngIf="property.type === 'BOOLEAN'">
      <mat-checkbox
        appFocusNextElement
        [value]="property.value"
        (change)="onSubmit()"
        [indeterminate]="property.value === null"
        [formControlName]="property.id"
        [id]="'property-input-index-' + i"
        color="primary"
      >{{ property.id }}</mat-checkbox
      >
    </div>

    <mat-form-field *ngIf="property.type === 'ENUM'">
      <mat-label>{{ property.id }}</mat-label>
      <mat-select
        appFocusNextElement
        [value]="property.value"
        [id]="'property-input-index-' + i"
        (selectionChange)="onSubmit()"
        [formControlName]="property.id"
        (keydown)="$event.stopPropagation()"
        [required]="property.required"
      >
        <mat-option>-</mat-option>
        <mat-option
          *ngFor="let possibleValue of property.possibleValues"
          [value]="possibleValue.id"
        >{{ possibleValue.name }}</mat-option
        >
      </mat-select>
      <mat-error
        *ngIf="
          propertyForm.get(property.id).touched &&
          !propertyForm.get(property.id).valid
        "
      >
        {{ "leads.details.requiredField" | translate }}
      </mat-error>
    </mat-form-field>
  </div>
</form>
