<ng-container [ngTemplateOutlet]="bigPhotoUpload"></ng-container>
<div class="small-drop-zone">
  <ng-container
    *ngFor="let i of [1, 2, 3, 4]"
    [ngTemplateOutlet]="smallPhotoUpload"
    [ngTemplateOutletContext]="{order: i}"
  ></ng-container>
</div>


<div
  class="mat-error mt-2"
  *ngIf="uploadingError"
>
  {{'product.form.filesNotUploaded' | translate}}
</div>

<div
  class="photo-buttons-group"
  *ngIf="editMode"
>
  <span class="pull-right">
    <button
      mat-stroked-button
      class="button-medium photo-button"
      (click)="restoreEditedPhotos()"
    >
      {{'products.form.cancel' | translate}}
    </button>
    <button
      mat-stroked-button
      class="button-medium photo-button ml-1"
      (click)="editMode = false"
      color="primary"
    >
      {{'products.form.save' | translate}}
    </button>
  </span>
</div>

<ng-template
  #smallPhotoUpload
  let-order="order"
>
  <div
    ng2FileDrop
    class="drop-zone clicable"
    (click)="selectedFileIndex = order"
    (fileOver)="onFileOver($event, order)"
    [style.background-image]="getBackgroundImage(order)"
    [ngClass]="{
      'file-over-drop-zone': hasBaseDropZoneOver[order],
      'selected': selectedFileIndex === order,
      'solid-border': !editMode && photosMap.get(order).photo
    }"
    [uploader]="photosMap.get(order).service"
  >
    <span
      class="edit-mode-bg"
      *ngIf="editMode"
    ></span>
    <div
      *ngIf="(editMode || !photosMap.get(order).photo) && (authKey + 'photos' | auth:'w')"
      class="z-index-2"
    >
      <img
        src="assets/icons/products/plus.svg"
        class="clickable"
        (click)="fileInput.click()"
      />
      <img
        *ngIf="photosMap.get(order).photo"
        class="ml-2 clickable"
        src="assets/icons/products/minus.svg"
        (click)="removePhoto(order)"
      />
      <img
        *ngIf="!photosMap.get(order).photo"
        class="ml-2"
        src="assets/icons/products/minus-gray.svg"
        (click)="removePhoto(order)"
      />
      <mat-progress-bar
        *ngIf="photosMap.get(order).file"
        [value]="photosMap.get(order).file?.progress"
        mode="determinate"
        class="photo-upload-progress"
      ></mat-progress-bar>
    </div>
  </div>
  <input
    #fileInput
    ng2FileSelect
    hidden
    type="file"
    accept="image/*"
    [uploader]="photosMap.get(order).service"
  />
</ng-template>

<ng-template #bigPhotoUpload>
  <div
    class="main-drop-zone"
    (fileOver)="onFileOver($event, selectedFileIndex)"
    [style.background-image]="getBackgroundImage(selectedFileIndex)"
    [ngClass]="{
      'file-over-drop-zone': hasBaseDropZoneOver[selectedFileIndex],
      'solid-border': !editMode && photosMap.get(selectedFileIndex).photo
    }"
    [uploader]="photosMap.get(selectedFileIndex).service"
    ng2FileDrop
  >
    <span
      class="edit-mode-bg"
      *ngIf="editMode"
    ></span>
    <span
      class="drop-zone-text z-index-2"
      *ngIf="(editMode || !photosMap.get(selectedFileIndex).photo) &&  (authKey + 'photos' | auth:'w')"
    >
      {{'products.form.addPhoto' | translate}}
      <br />
      {{'products.form.maxPhoto1' | translate}}
      <span class="blue-text">
        4 {{'products.form.maxPhoto2' | translate}}
      </span>
    </span>
    <div
      class="mt-4 z-index-2"
      *ngIf="(editMode || !photosMap.get(selectedFileIndex).photo) && (authKey + 'photos' | auth:'w')"
    >
      <img
        src="assets/icons/products/plus.svg"
        class="clickable"
        (click)="fileInput.click()"
      />
      <img
        *ngIf="photosMap.get(selectedFileIndex).photo"
        class="ml-2 clickable"
        src="assets/icons/products/minus.svg"
        (click)="removePhoto(selectedFileIndex)"
      />
      <img
        *ngIf="!photosMap.get(selectedFileIndex).photo"
        class="ml-2"
        src="assets/icons/products/minus-gray.svg"
        (click)="removePhoto(selectedFileIndex)"
      />
    </div>
  </div>
  <input
    #fileInput
    ng2FileSelect
    hidden
    type="file"
    accept="image/*"
    [uploader]="photosMap.get(selectedFileIndex).service"
    (change)="onFileChanged($event)"
  />
</ng-template>