@import "~src/styles/form";
@import "~src/styles/colors";
@import "~src/styles/font-weights";
@import "~src/styles/table";
@import "~src/styles/files.scss";



.small-drop-zone {
  margin-top: 5px;
  width: 404px;
  display: flex;
}

.small-drop-zone > div {
  margin-right: 3px;
}

.small-drop-zone:last-child {
  margin-right: 0 !important;
}

.photo-button {
  height: 32px;
}

::ng-deep .photo-button .mat-button-wrapper {
  margin-top: -2px;
  display: flex;
}

.photo-buttons-group {
  width: 400px !important;
  margin-top: 10px;
}

.solid-border {
  border-style: solid !important;
}

.drop-zone-text {
  font: $Medium 13px/21px Poppins;
  letter-spacing: 0;
  color: $action-color;
}



.drop-zone {
  background: $bg-primary 0 0 no-repeat padding-box;
  border: 1px dashed $border-quaternary;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 98px;
  background-size: cover;
  position: relative;

  img {
    width: 20px;
    height: 20px;
  }
}

.drop-zone.selected {
  border: 2px solid $primary !important;
}

.main-drop-zone {
  @extend .drop-zone;
  height: 266px;
  width: 400px;
  flex-direction: column;
}

.file-over-main-drop-zone {
  @extend .main-drop-zone;
  @extend .file-over-drop-zone;
}

.file-over-small-drop-zone {
  @extend .small-drop-zone;
  @extend .file-over-drop-zone;
}
