<notification-queue class="notification-queue"></notification-queue>
<div class="parent-div">
  <div class="row h-100 w-100 m-0">
    <div class="crm-sidenav" [ngClass]="{'sidebar-hidden':sidenavHidden, 'sidebar': !sidenavHidden}" *ngIf="loggedIn && routeWithAuth">
      <app-sidenav [sidenavHidden]="sidenavHidden" (sidenavChanged)="sidenavHidden = $event"></app-sidenav>
    </div>
    <div class="p-0 content">
      <mat-toolbar *ngIf="loggedIn && routeWithAuth">
        <mat-toolbar-row>
          <app-navigation class="w-100 h-100"></app-navigation>
        </mat-toolbar-row>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
