@import "~src/styles/colors.scss";

.parent-div {
  position: fixed;
  width: 100%;
  height: 100%;
}

.crm-sidenav {
  background-color: $bg-navbar;
  position: relative;
  height: 100vh;
}

::ng-deep .mat-toolbar {
  background-color: $bg-primary !important;
}

::ng-deep .mat-toolbar-multiple-rows {
  min-height: 88px !important;
}

.content {
  background-color: $bg-secondary;
  flex: auto;
  position: relative;
  width: 0;
  font-size: 13px;
}

.sidebar-hidden {
  width: 88px;
}

.sidebar {
  width: 260px;
}
.mat-toolbar {
  position: relative;
}
