<ng-container
  *ngIf="!separatePreview"
  [ngTemplateOutlet]="!!selectedMail ? emailSelect : emailList"
></ng-container>

<ng-container *ngIf="separatePreview">
  <ng-container [ngTemplateOutlet]="emailList"></ng-container>
  <ng-container [ngTemplateOutlet]="!!selectedMail ? emailSelect : noMails"></ng-container>
</ng-container>

<ng-template #emailList>
  <div class="email-list-tab">
    <div class="email-header">
      <div class="main-header">
        <div class="email-open-page" (click)="toMailPage()">
          <app-icon
            class="mr-1"
            svgIcon="right-arrow-circle"
            [primary]="true"
          ></app-icon>
          <span>{{ "tabs.attachedEmails.openMailBox" | translate }}</span>
        </div>
      </div>
      <div class="separator"></div>
      <div class="sub-header">
        <div class="emails-sort">
          <span [matMenuTriggerFor]="sortBy" class="clickable">
            <span class="ml-2">{{
              "tabs.attachedEmails.sort." + activeSort | translate
            }}</span>
            <app-icon svgIcon="expand-more" [primary]="true"></app-icon>
          </span>
        </div>
      </div>
    </div>
    <div class="emails-container">
      <ng-container
        *ngIf="!infinityScroll?.loaded && infinityScroll?.loaded !== null"
      >
        <div class="loading">
          <mat-spinner diameter="64"></mat-spinner>
        </div>
      </ng-container>
      <div
        class="emails-list"
        (scroll)="infinityScroll.onScroll($event)"
        *ngIf="infinityScroll?.itemPage?.content?.length; else noMails"
      >
        <ng-container
          *ngFor="let email of infinityScroll?.itemPage?.content; let i = index"
        >
          <div
            class="email-container"
            [class.email-selected]="email.id === highlightedMailId"
            (click)="onClickMail(email, i)"
          >
            <div class="content-header">
              <div class="title">
                {{ email?.fromAddr[0]?.name || email?.fromAddr[0]?.email }}
              </div>

              <span class="time-text">{{
                email?.receivedDate | customFormatDate: "DD.MM.YYYY, HH:mm"
              }}</span>
              <app-icon
                class="email-pin-icon"
                svgIcon="pin-filled"
                [primary]="true"
                size="14px"
                (click)="$event.stopPropagation(); tryDetachEmail(email?.id)"
              ></app-icon>
            </div>

            <div class="forwarded">
              <span
                *ngIf="email?.relatedMails?.length"
                class="forwarded-icon"
                (click)="
                  $event.stopPropagation(); changeStateRelatedMail(email?.id)
                "
              >
                <span
                  class="arrow-icon info-close"
                  [class.info-open]="openRelatedMailIds.includes(email?.id)"
                ></span>
              </span>
              <span class="forwarded-text"> {{ email.subject }} </span>
            </div>
            <div class="text">
              {{ email.plainContent }}
            </div>
          </div>
          <div class="related-mails">
            <ng-container
              *ngIf="openRelatedMailIds.includes(email?.id)"
              [ngTemplateOutlet]="relatedMails"
              [ngTemplateOutletContext]="{
                mails: email?.relatedMails,
                parentMail: email,
                parentIndex: i
              }"
            >
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</ng-template>

<ng-template
  #relatedMails
  let-mails="mails"
  let-parentMail="parentMail"
  let-parentIndex="parentIndex"
>
  <div
    *ngFor="let email of mails; let i = index"
    class="related-mail"
    [class.selected]="email.id === highlightedChaildMailId"
    (click)="onClickMail(email, i, parentMail, parentIndex)"
  >
    <span class="related-mail-name">
      {{ email?.fromAddr[0]?.name || email?.fromAddr[0]?.email }}
    </span>
    <span class="related-mail-time">
      {{ email?.receivedDate | customFormatDate: "DD.MM.YYYY, HH:mm" }}
    </span>
  </div>
</ng-template>

<ng-template #emailSelect>
  <div class="email-select-tab">
    <div class="email-tab-header">
      <div>
        <app-icon
          class="left-arrow-icon"
          svgIcon="expand-more"
          size="36px"
          [primary]="true"
          (click)="clearSelectMail()"
        ></app-icon>
      </div>
      <div>
        <app-icon
          class="top-arrow-icon"
          svgIcon="expand-more"
          size="36px"
          [primary]="true"
          (click)="changeSelectedMail(-1)"
        ></app-icon>
        <app-icon
          svgIcon="expand-more"
          size="36px"
          [primary]="true"
          (click)="changeSelectedMail(1)"
        ></app-icon>
      </div>
    </div>
    <div class="separator"></div>
    <div class="email-container">
      <div class="email-header">
        <div>
          <app-avatar-icon
            [text]="
              selectedMail?.fromAddr[0]?.name ||
              selectedMail?.fromAddr[0]?.email
            "
            [randomColor]="true"
            widthPx="56"
          ></app-avatar-icon>
        </div>
        <div class="email-title">
          <div class="email-from-addr">
            <span class="email-marker"></span>
            <span
              *ngIf="selectedMail?.fromAddr[0]?.name"
              class="email-from-name"
              >{{ selectedMail?.fromAddr[0]?.name }}</span
            >
            <span class="email-from-email">
              <{{ selectedMail?.fromAddr[0]?.email }}>
            </span>
          </div>
          <div class="email-date">
            {{ selectedMail.receivedDate | formatDate: true }}
          </div>
          <div class="email-to-addr">
            <span class="email-marker"></span>
            <span *ngIf="selectedMail?.toAddr[0]?.name">{{
              selectedMail?.toAddr[0]?.name
            }}</span>
            <span><{{ selectedMail?.toAddr[0]?.email }}></span>
          </div>
        </div>
        <div class="email-detach">
          <app-icon
            svgIcon="pin-filled"
            [primary]="true"
            size="16px"
            (click)="$event.stopPropagation(); tryDetachEmail(selectedMail?.id)"
          ></app-icon>
        </div>
      </div>
      <div
        class="email-content email-font"
        [innerHTML]="selectedMail?.htmlContent | safeHtml"
      ></div>
    </div>
  </div>
</ng-template>

<ng-template #noMails>
  <div class="no-data-text">
    {{ "tabs.attachedEmails.noAttachedEmails" | translate }}
  </div>
</ng-template>

<mat-menu #sortBy="matMenu" xPosition="before">
  <button
    (click)="sort(sortStrategy.receivedDate)"
    [class.active]="activeSort === sortStrategy.receivedDate"
    class="dropdown-select-item"
    mat-menu-item
  >
    {{ "tabs.attachedEmails.sort.receivedDate" | translate }}
  </button>
  <button
    (click)="sort(sortStrategy.subject)"
    [class.active]="activeSort === sortStrategy.subject"
    class="dropdown-select-item"
    mat-menu-item
  >
    {{ "tabs.attachedEmails.sort.subject" | translate }}
  </button>
  <button
    (click)="sort(sortStrategy.from)"
    [class.active]="activeSort === sortStrategy.from"
    class="dropdown-select-item"
    mat-menu-item
  >
    {{ "tabs.attachedEmails.sort.from" | translate }}
  </button>
</mat-menu>
