@import "~src/styles/colors";
@import "~src/styles/table";
@import "~src/styles/font-weights";
@import "~src/styles/form";

.email-list-tab {
  height: 100%;
  display: flex;
  flex-direction: column;

  .email-header {
    .main-header {
      padding: 24px 16px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .email-open-page {
        color: $primary;
        cursor: pointer;
      }
    }

    .separator {
      background: $bg-secondary;
      height: 4px;
    }
    .sub-header {
      display: flex;
      justify-content: flex-end;
      padding: 8px 16px;
      .emails-sort {
        color: $primary;
        cursor: pointer;
      }
    }
  }

  .emails-container {
    height: 100%;
    overflow-y: hidden;
    position: relative;

    .emails-list {
      height: 100%;
      overflow-y: auto;
      .email-container {
        display: flex;
        padding: 8px 32px;
        border-bottom: 1px solid $border-primary;
        cursor: default;
        flex-direction: column;
        &.email-selected {
          background-color: rgba($primary-rgb, 0.1);
        }
        &:hover {
          background-color: rgba($primary-rgb, 0.1);
        }
        &:first-child {
          border-top: 1px solid $border-primary;
        }
        .content-header {
          display: flex;
          overflow: hidden;
          flex-wrap: nowrap;
          .title {
            color: $text-title;
            font-size: 14px;
            font-weight: $Bold;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            flex: 1;
          }
          .email-pin-icon {
            margin-bottom: 2px;
            margin-left: 16px;
          }
          .time-text {
            font-weight: $SemiBold;
            color: $text-tertiary;
          }
        }
        .forwarded {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          user-select: none;
          .arrow-icon {
            cursor: pointer;
            display: inline-block;
            border: 5px solid transparent;
            &.info-close {
              border-left: 5px solid $contrast;
            }
            &.info-open {
              border-top: 5px solid $contrast;
              border-left: 5px solid transparent;
            }
          }
          .forwarded-text {
            color: $text-title;
          }
        }
        .text {
          color: $text-primary;
          font-weight: $SemiBold;
          font-size: 12px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

.email-select-tab {
  height: 100%;
  display: flex;
  flex-direction: column;

  .email-tab-header {
    padding: 18px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left-arrow-icon {
      .icon {
        transform: rotate(90deg);
      }
    }

    .top-arrow-icon {
      .icon {
        transform: rotate(180deg);
      }
    }
  }

  .separator {
    background: $bg-secondary;
    height: 4px;
  }

  .email-container {
    padding: 48px 16px 0 36px;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    .email-header {
      display: flex;
      align-items: center;
      .email-title {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        flex: 1;
        padding: 0 16px;
        .email-marker {
          border-radius: 50%;
          background-color: $text-title;
          width: 6px;
          height: 6px;
          display: inline-block;
          margin: 2px 6px 2px 0;
        }
        .email-from-addr {
          color: $text-title;
          font-size: 14px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          .email-from-name {
            font-weight: $Bold;
          }
        }
        .email-date {
          color: $text-primary;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin-left: 12px;
        }
        .email-to-addr {
          color: $text-primary;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      .email-detach {
        height: 100%;
      }
    }
    .email-content {
      color: $text-title;
      margin-top: 24px;
      overflow: auto;
    }

  }
}

.related-mails {
  .related-mail {
    padding: 8px 24px 8px 48px;
    border-bottom: 1px solid $border-primary;
    font-weight: $Bold;
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    .related-mail-name {
      flex: 1;
      color: $text-title;
      font-size: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .related-mail-time {
      font-weight: $SemiBold;
      color: $text-tertiary;
    }

    &.selected {
      background-color: rgba($primary-rgb, 0.1);
    }
    &:hover {
      background-color: rgba($primary-rgb, 0.1);
    }
  }
}

.loading {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(rgba($bg-primary-rgb, 0.6) 50%, transparent 100%);
  overflow: hidden;
}

.no-data-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: $Medium;
  color: $action-color;
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 24px;
}
