<div mat-dialog-title class="preview-header">
  <div class="header-left">
    <img class="header-icon ml-3" src="{{data?.format | fileFormatToIcon}}"/>
    <div class="file-name-text">{{data.name}}</div>
  </div>
  <div class="header-center">
    <div
      *ngIf="('DocumentsComponent.showDetails' | auth:'w')"
      (click)="showDetails()" class="clickable d-flex">
      <img class="pr-2" src="assets/icons/info-white.svg">
      <div class="header-text pr-3">{{'documents.preview.details' | translate}}</div>
    </div>
    <div
      *ngIf="('DocumentsComponent.download' | auth:'w')"
      (click)="download()" class="clickable d-flex">
      <img class="pr-2" src="assets/icons/download-white.svg">
      <div class="header-text pr-3">{{'documents.preview.download' | translate}}</div>
    </div>
    <div class="clickable d-flex">
      <img class="pr-2" src="assets/icons/upload-white.svg">
      <div class="header-text ">{{'documents.preview.share' | translate}}</div>
    </div>
  </div>
  <div class="header-right">
    <button class="btn-transparent mr-3" [mat-dialog-close]="true">
      <img src="/assets/icons/cross-white.svg">
    </button>
  </div>
</div>

<div class="bottom-toolbar" [class.d-none]="!bottomToolbarVisible"
     [ngClass]="detailsOpened ? 'file-preview-container-with-slider' : 'file-preview-container-without-slider'">
  <div class="toolbar-box">
    <div class="toolbar-page">
      <button class="btn-transparent pl-0 ml-0" (click)="previousPage()">
        <img class="zoom-icon" src="/assets/icons/up-arrow.svg">
      </button>
      <div class="toolbar-page-label mr-2">{{'documents.preview.page' | translate}}</div>
      <span class="toolbar-page-number">
        <span class="mr-2">{{page}}</span>
        <span class="mr-2">{{'documents.preview.pageOf' | translate}}</span>
        <span>{{numberOfPages}}</span>
      </span>
      <button class="btn-transparent" (click)="nextPage()">
        <img class="zoom-icon" src="/assets/icons/down-arrow.svg">
      </button>
    </div>
    <div class="toolbar-zoom">
      <button class="btn-transparent p-0 mr-2" (click)="zoomOut()">
        <img class="zoom-icon" src="/assets/icons/zoom-out.svg">
      </button>
      <button class="btn-transparent p-0 mr-2" (click)="zoomIn()">
        <img class="zoom-icon" src="/assets/icons/zoom-in.svg">
      </button>
      <div class="percentage-text">{{zoom}}%</div>
    </div>
  </div>
</div>

<mat-dialog-content class="mat-typography preview-content">

    <ng-container *ngIf="!inProgress; else progress">
      <ng-container *ngIf="!isError; else previewError">
        <ngx-extended-pdf-viewer
          *ngIf="isPdf(blob?.type)"
          [src]="blob"
          useBrowserLocale="true"
          height="100%"
          [(page)]="page"
          [(zoom)]="zoom"
          (pagesLoaded)="onPagesLoaded($event)"
          [showFindButton]="false"
          [showPagingButtons]="false"
          [showZoomButtons]="false"
          [showPresentationModeButton]="false"
          [showOpenFileButton]="false"
          [showPrintButton]="false"
          [showDownloadButton]="false"
          [showBookmarkButton]="false"
          [showSecondaryToolbarButton]="false"
          [showRotateButton]="false"
          [showSelectToolButton]="false"
          [showHandToolButton]="false"
          [showScrollingButton]="false"
          [showSpreadButton]="false"
          [showPropertiesButton]="false"
          [showSidebarButton]="false"
          backgroundColor="transparent">
        </ngx-extended-pdf-viewer>

      <div
        *ngIf="isImage(blob?.type)"
        class="center">
        <img class="image-size" [src]="fileUrl | safe">
      </div>
        </ng-container>

    </ng-container>

</mat-dialog-content>


<ng-template #progress>
  <div class="center">
    <mat-spinner diameter="60"></mat-spinner>
  </div>
</ng-template>

<ng-template #previewError>
  <div class="center">
    <div class="center-items">
      <div class="message-text-primary">{{'documents.preview.previewUnavailable' | translate}}</div>
      <ng-container *ngIf="('DocumentsComponent.download' | auth:'w')">
        <div class="message-text-secondary">{{'documents.preview.download' | translate}}</div>
        <button class="import-icon-active" (click)="download()"></button>
      </ng-container>
    </div>
  </div>
</ng-template>

<app-slider #previewFileDetails width="30vw" [title]="'documents.preview.details' | translate" key="FilePreview.EditDetailsSlider" [moreInfoVisible]="false" class="file-preview-slider">
  <app-file-details [update]="true" [file]="selectedFileForDetails"></app-file-details>
</app-slider>
