@import '~src/styles/colors';
@import "../../../styles/icons";
@import "../../../styles/font-weights";

$preview-header-height: 80px;

.preview-header {
  height: $preview-header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  background: black;
  margin: 0;
}

.preview-header > div {
  display: flex;
  align-items: center;
  flex: 1;
}

.header-left {
  justify-content: flex-start;
  min-width: 0;
}

.header-center {
  justify-content: center;
}

.header-right {
  justify-content: flex-end;
}

.header-text {
  color: $text-tertiary;
  font-size: 16px;
  font-weight: $Medium;
  line-height: 30px;
}

.message-text-primary {
  color: $contrast;
  font-size: 20px;
}

.message-text-secondary {
  color: $contrast;
  font-size: 16px;
}

.preview-name {
  @extend .header-text;
  margin-left: 10px;
}

.text-truncate {
  width: 50vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.preview-content {
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  max-height: calc(100vh - #{$preview-header-height});
  height: calc(100vh - #{$preview-header-height});
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.center-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-size {
  max-width: 90%;
  max-height: 90%;
}

.header-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.file-name-text {
  font-size: 18px;
  font-weight: $Medium;
  color:  $primary-contrast;
  text-overflow: ellipsis;
  overflow: hidden;
}

.header-text {
  font-size: 13px;
  font-weight: $Medium;
  color:  $primary-contrast;
}

.bottom-toolbar {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0.5s ease-in-out;
}

.toolbar-box {
  background: $contrast 0 0 no-repeat padding-box;
  width: 327px;
  height: 54px;
  border-radius: 7px;
  opacity: 0.6;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.toolbar-page-label {
  font-size: 13px;
  font-weight: $Medium;
  color:  $primary-contrast;
  opacity: 0.8;
}

.toolbar-page-number {
  font-size: 13px;
  font-weight: $Medium;
  color:  $primary-contrast;
}

.toolbar-zoom {
  display: flex;
  align-items: center;
}

.toolbar-page {
  display: flex;
  align-items: center;

}

.percentage-text {
  font-size: 13px;
  font-weight: $Medium;
  color:  $primary-contrast;
}

.zoom-icon {
  width: 24px;
  height: 24px;
}

// Override

::ng-deep .toolbar {
  display: none;
}

::ng-deep .file-preview-slider.slider-background {
  top: unset
}

::ng-deep .file-preview-slider mat-card {
  height: 80px;
}
