<div class="general-info-container">
  <form [formGroup]="generalInfoForm" class="form-container">
    <div class="left-side">
      <div class="part-container ml-3">{{'person.detail.info.generalInfo.avatarSettings' | translate}}</div>
      <div class="avatar-container ml-4">
        <app-avatar-form [avatar]="avatar" [widthPx]="100"></app-avatar-form>
      </div>
    </div>

    <div class="right-side">
      <div class="part-container">{{'person.detail.info.generalInfo.languageSettings' | translate}}</div>

      <mat-form-field class="param-input">
        <mat-select formControlName="locale" [placeholder]="'person.detail.info.generalInfo.language' | translate">
          <mat-option *ngFor="let l of languages" [value]="l.key">
            {{l.value | translate}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="locale.hasError('required')">
          {{'person.detail.info.generalInfo.required' | translate}}
        </mat-error>
      </mat-form-field>


      <div class="part-container mt-3">{{'person.detail.info.generalInfo.dateAndTimePreferences' | translate}}</div>

      <mat-form-field class="param-input">
        <mat-select formControlName="dateFormat"
                    [placeholder]="'person.detail.info.generalInfo.dateFormat' | translate">
          <mat-option [value]="'DD/MM/YYYY'">
            {{'DD/MM/YYYY'}}
          </mat-option>
          <mat-option [value]="'MM/DD/YYYY'">
            {{'MM/DD/YYYY'}}
          </mat-option>
          <mat-option [value]="'YYYY/MM/DD'">
            {{'YYYY/MM/DD'}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="dateFormat.hasError('required')">
          {{'person.detail.info.generalInfo.required' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="param-input">
        <mat-select formControlName="firstDayOfWeek"
                    [placeholder]="'person.detail.info.generalInfo.firstDayOfWeek' | translate">
          <mat-option *ngFor="let wd of weekdays; let i = index" [value]="'' + i">
            {{wd}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="firstDayOfWeek.hasError('required')">
          {{'person.detail.info.generalInfo.required' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="param-input">
        <mat-select formControlName="firstHourOfDay"
                    [placeholder]="'person.detail.info.generalInfo.firstHourOfDay' | translate">
          <mat-option *ngFor="let h of hours" [value]="'' + h.hour">
            {{h.value}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="firstHourOfDay.hasError('required')">
          {{'person.detail.info.generalInfo.required' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="param-input">
        <mat-select formControlName="hourFormat"
                    [placeholder]="'person.detail.info.generalInfo.hourFormat' | translate">
          <mat-option [value]="'12'">
            {{'12'}}
          </mat-option>
          <mat-option [value]="'24'">
            {{'24'}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="hourFormat.hasError('required')">
          {{'person.detail.info.generalInfo.required' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</div>
<div class="param-input save-button">
  <button (click)="submit()" class="button-medium mt-3 float-right" color="primary" mat-raised-button>
    {{'administration.save' | translate}}
  </button>
</div>
