@import '~src/styles/colors';
@import '~src/styles/table';

.part-container {
  font: $Medium 10px/16px Poppins;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.param-input {
  width: 500px;
  display: block;
}

.general-info-container {
  margin-top: 30px;
}

.form-container {
  display: flex;
}

.left-side {
  width: 400px;
  max-width: 50%;
}

.right-side {
  width: 50%;
}

.avatar-container {
  width: 100px;
}

.save-button {
  position: absolute;
  bottom: 0;
  right: 0;
}
