<ng-template
  cdkConnectedOverlay
  (detach)="close()"
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="open"
  [cdkConnectedOverlayHeight]="400"
  [cdkConnectedOverlayWidth]="400"
>
  <mat-card class="menu mat-elevation-z4">
    <div class="menu-header">
      <span>{{ "calendar.form.addOwnerTitle" | translate }}</span>
      <button mat-icon-button aria-label="close" (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div class="menu-search">
      <mat-form-field class="menu-search-input">
        <input matInput [formControl]="searchControl"/>
      </mat-form-field>
      <button mat-flat-button color="primary"
              (click)="selectOwner()"
              [disabled]=isAcceptButtonDisabled()>
        {{ "calendar.form.addOwner" | translate }}
      </button>
    </div>
    <div class="menu-list" (scroll)="onScroll($event)">
      <mat-selection-list #matSelectionList
                          (selectionChange)="changeSelectedOwner($event)">
        <mat-list-option
          *ngFor="let owner of owners"
          [value]="owner"
          [selected]="isSelected(owner)"
          color="primary"
        >
          <app-avatar-icon
            mat-list-icon
            [style.width]="'36px'"
            [style.height]="'36px'"
            [imageSrc]="owner.avatar"
            [text]="owner.name || owner.email"
            [widthPx]="36"
          ></app-avatar-icon>
          <div mat-line>{{ owner.name }}</div>
          <div mat-line>{{ owner.email }}</div>
        </mat-list-option>
      </mat-selection-list>
    </div>
  </mat-card>
</ng-template>
