<div class="w-100 h-100 card-padding">

  <mat-card class="mat-elevation-z0 main-mat-card mat-card card-border-radius no-bottom-border-radius">
    <form [formGroup]="form">
      <div>
        <div class="main-drop-zone mb-3" appFileDragDrop
             (dragOver)="hasBaseDropZoneOver = true"
             (dragLeave)="hasBaseDropZoneOver = false"
             [ngClass]="{'file-over-drop-zone': hasBaseDropZoneOver}"
             (fileDropped)="onDragFileChange($event)">
          <img src="assets/icons/add-active.svg" class="mr-2 clickable" (click)="fileInput.click()"/>
          <span class="drop-zone-text">{{'files.drop' | translate}}</span>
        </div>
        <input #fileInput (change)="onFileChange($event)" accept=".csv" hidden type="file"/>
        <button (click)="fileInput.click()" color="primary"
                mat-flat-button>{{'products.import.selectFile' | translate}}</button>
        <span>  {{productsFile?.value?.name}}</span>
      </div>
      <mat-error *ngIf="productsFileForm.hasError('required') && productsFileForm.touched">{{'products.import.importStrategy.fileRequired' | translate}}</mat-error>
      <div class="parseStrategyType mt-4">{{'products.import.importStrategy.name' | translate}}</div>
      <div>
        <mat-form-field class="w-100">
          <mat-select
            [placeholder]="'products.import.importStrategy.placeholder' | translate"
            formControlName="importStrategy">
            <mat-option
              [value]="importStrategy.Override">{{'products.import.importStrategy.override' | translate}}</mat-option>
            <mat-option
              [value]="importStrategy.UpdateExisting">{{'products.import.importStrategy.updateExisting' | translate}}</mat-option>
            <mat-option
              [value]="importStrategy.AddAll">{{'products.import.importStrategy.addAll' | translate}}</mat-option>
            <mat-option
              [value]="importStrategy.AddOnlyNew">{{'products.import.importStrategy.addOnlyNew' | translate}}</mat-option>
          </mat-select>
          <mat-error *ngIf="importStrategyForm.hasError('required')">{{'products.import.importStrategy.fieldRequired' | translate}}</mat-error>
        </mat-form-field>
      </div>

      <div class="fileWithHeader mt-2">
        <mat-checkbox formControlName="fileWithHeader" color="primary"></mat-checkbox>
        <div class="text ml-2">{{'products.import.fileWithHeader' | translate}}</div>
      </div>
      <mat-error *ngIf="fileWithHeaderForm.hasError('required')">{{'products.import.importStrategy.fieldRequired' | translate}}</mat-error>
    </form>
  </mat-card>


  <div class="button-container">
    <mat-card class="mat-elevation-z0 card-border-radius no-top-border-radius">
      <div class="row">
        <div class="col-md-12">
          <div class="pull-right">
            <button (click)="cancel()" class="button-medium" color="primary"
                    mat-stroked-button>{{'products.import.cancel' | translate}}</button>
            <button (click)="importProducts()" class="button-medium ml-2" color="primary"
                    mat-raised-button>
              {{'products.import.confirm' | translate}}
              <mat-icon *ngIf="inProgress">
                <mat-spinner color="warn" diameter="20">
                </mat-spinner>
              </mat-icon>
            </button>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>

