@import "~src/styles/table";
@import "~src/styles/slider";
@import "~src/styles/files.scss";


.content-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-row-gap: 20px;
  align-items: center;
}

.file-over-drop-zone {
  @extend .main-drop-zone;
}
.main-drop-zone {
  @extend .drop-zone;
  width: 100%;
  height: 200px;
  flex-direction: unset;
  display: block;
  padding: 5px;
  padding-top: 86px;
  text-align: center;
}

.strategyName {
  color: $text-title;
  font-weight: $Medium;
  font-size: 13px;
}
.fileWithHeader {
  display: flex;
  .text {
    color: $text-title;
    font-weight: $Medium;
    font-size: 13px;
  }
}
