<div class="card-container">
  <mat-card class="main-card card-border-radius no-bottom-left-border-radius no-bottom-right-border-radius">
    <div class="inner-container">
      <app-dictionary-words-list #dictionaryWordList></app-dictionary-words-list>
    </div>
  </mat-card>
  <mat-card class="buttons-bar card-border-radius no-top-left-border-radius no-top-right-border-radius">
    <button type="button" mat-stroked-button class="button-medium" color="primary"
            (click)="cancel(); $event.stopPropagation()">{{'dictionaries.words.manage.cancel' | translate}}</button>
    <button type="button" mat-raised-button class="button-medium ml-2" color="primary"
            (click)="submit(); $event.stopPropagation()">{{'dictionaries.words.manage.ok' | translate}}</button>
  </mat-card>
</div>
