<ng-container>
  <div class="widget" *ngIf="datasets.length; else noData">
    <div class="widget__header">
      <div class="widget__title">
        {{ title }}
      </div>
      <div *ngIf="subTitle" class="widget__subtitle">
        {{ subTitle | uppercase }}
      </div>
    </div>

    <div class="widget__chart">
      <app-vertical-bar-chart
        [datasets]="datasets"
        [labels]="labels"
        [legends]="legends"
      >
        <ng-container x-label *ngTemplateOutlet="secondXLabel"></ng-container>
      </app-vertical-bar-chart>
    </div>
  </div>
</ng-container>

<ng-template #noData>
  <div class="no-data">
    {{ "dashboard.widgets.goal.noData" | translate }}
  </div>
</ng-template>

<ng-template #secondXLabel>
  <div class="x-label">
    <div *ngFor="let item of secondLabels" class="x-label__item">
      <div class="x-label__count">
        <span *ngIf="item">{{ item > 0 ? "+" : "-" }}</span>
        <span>{{ item | abs }}</span>
      </div>
      <span class="x-label__icon">
        <app-icon
          [svgIcon]="item ? 'growth-arrow' : 'minus'"
          [hover]="false"
          [pointer]="false"
          [class.growth-arrow]="item > 0"
          [class.fall-arrow]="item < 0"
          [class.not-change]="!item"
          size="18px"
        ></app-icon>
      </span>
    </div>
  </div>
</ng-template>
