@import "~src/styles/colors";
@import "~src/styles/font-weights";
@import "~src/styles/icons";

.widget {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  height: 100%;
  width: 100%;

  &__header {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 16px;
    font-weight: $Medium;
    color: $text-primary;
    flex: 1;
  }

  &__subtitle {
    color: $text-secondary;
    font-size: 10px;
    font-weight: $Medium;
  }

  &__chart {
    position: relative;
    overflow: hidden;
    flex: 1;
  }
}

.no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 18px;
}

.x-label {
  display: flex;
  justify-content: space-around;
  &__item {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
  }
  &__count {
    font-size: 10px;
  }
  &__icon {
    width: 12px;
    height: 16px;
    align-items: center;
    display: flex;
    justify-content: center;
    .growth-arrow {
      &::ng-deep.icon {
        fill: #24b888;
      }
    }
    .fall-arrow {
      &::ng-deep.icon {
        transform: rotate(90deg);
        fill: #ef4a68;
      }
    }
    .not-change {
      &::ng-deep.icon {
        & > * {
          transform: scale(0.6);
        }
      }
    }
  }
}
