@import "~src/styles/colors";
@import "~src/styles/font-weights";
@import "~src/styles/icons";

.full-display {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .chart {
    flex: 1;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
}

.legends {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.source-label {
  display: flex;
  align-items: center;
  margin-left: 16px;
  &:first-child {
    margin-left: 0;
  }
  .source-dot {
    border-radius: 50%;
    padding: 5px;
    margin-right: 4px;
  }
  .source-name {
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 2px;
  }
}
