<div class="full-display">
  <div class="legends" *ngIf="legends">
    <div class="source-label" *ngFor="let legend of legends; let i = index">
      <div class="source-dot" [style.backgroundColor]="colors[i]"></div>
      <span class="source-name">
        {{ legend }}
      </span>
    </div>
  </div>
  <div class="chart">
    <canvas
      baseChart
      [datasets]="chartData"
      [options]="chartOptions"
      [chartType]="chartType"
      [labels]="chartLabels"
      [legend]="false"
      [colors]="chartColors"
    >
    </canvas>
  </div>
  <div class="x-labels" [style.margin-left]="13 + widthLeftTicks + 'px'">
    <ng-content select="[x-label]"></ng-content>
  </div>
</div>
