<div class="content-html">
  <div class="icon" *ngIf="content.icon">
    <app-icon
      [ngClass]="{
        'primary-icon': content.iconColor === colors.PRIMARY,
        'alert-icon': content.iconColor === colors.ALERT,
        'success-icon': content.iconColor === colors.SUCCESS
      }"
      [svgIcon]="content.icon"
      [hover]="false"
      [pointer]="false"
      size="20px"
    ></app-icon>
  </div>
  <div
    *ngIf="content.htmlTemplate"
    class="text"
    [innerHTML]="content.htmlTemplate | safeHtml"
  ></div>
</div>
