@import "~src/styles/colors.scss";

.content-html {
  display: flex;
  .icon {
    margin-right: 8px;
  }
  .text {
    flex: 1;
    font-size: 13px;
    margin-top: 4px;
    color: $text-primary;

    ::ng-deep.primary-text {
      color: $primary;
    }
    ::ng-deep.alert-text {
      color: $confirm-color;
    }
    ::ng-deep.success-text {
      color: $green-color;
    }
  }
}

.icon {
  ::ng-deep.primary-icon {
    .icon {
      fill: $primary !important;
    }
  }
  ::ng-deep.alert-icon {
    .icon {
      fill: $confirm-color !important;
    }
  }
  ::ng-deep.success-icon {
    .icon {
      fill: $green-color !important;
    }
  }
}
