<div class="outer-container" *ngIf="lead">
  <div class="inner-container">
    <app-lead-acceptance
      [activeTask]="activeTask"
      [lead]="lead"
    ></app-lead-acceptance>
    <app-lead-tasks
      *ngIf="!documentsVisible"
      [activeTask]="activeTask"
      [taskOnScreen]="taskOnScreen"
      [lead]="lead"
      [leadId]="leadId"
      [propertyForm]="propertyForm"
      (taskClicked)="taskClicked($event)"
      (getLead)="getLead($event)"
      (openLeadConversionSlider)="openLeadConversionSlider()"
    ></app-lead-tasks>
    <div class="cards-container" *ngIf="!documentsVisible">
      <div class="cards-wrapper">
        <div class="main-area">
          <ng-container [ngTemplateOutlet]="main"></ng-container>
        </div>
        <div class="notes-area">
          <ng-container [ngTemplateOutlet]="notes"></ng-container>
        </div>
        <div class="files-area">
          <ng-container [ngTemplateOutlet]="files"></ng-container>
        </div>
        <div class="tabs-area">
          <ng-container [ngTemplateOutlet]="tabs"></ng-container>
        </div>
      </div>
    </div>
    <app-document-list
      *ngIf="documentsVisible"
      objectType="lead"
      [objectLabel]="lead.firstName + ' ' + lead.lastName"
      [objectId]="leadId"
      [forObject]="true"
    ></app-document-list>
  </div>
</div>

<ng-template #main>
  <mat-card class="main card-container">
    <div
      class="main-header"
      [class.main-header-with-task]="!!taskOnScreen.properties?.length"
    >
      <div class="main-title">
        <div>
          <span
            class="primary-title mr-5"
            *ngIf="lead?.firstName || lead?.lastName"
          >
            {{ lead.firstName }}
            {{ lead?.firstName ? " " : "" }}
            {{ lead.lastName }}
          </span>
          <span class="second-title mr-5" *ngIf="lead?.created">
            {{ "leads.list.creationDate" | translate }}:
            {{ lead.created | formatDate }}
          </span>
        </div>
        <div>
          <span class="second-title">
            {{ lead.companyName }}
            {{ lead?.companyName && lead?.position ? ", " : "" }}
            {{ lead.position ? positionMap?.get(lead.position) : "" }}
          </span>
        </div>
      </div>

      <div class="opportunity-actions">
        <div class="lead-priority-container">
          <div class="lead-priority">
            <h5 class="priority-title">
              {{ "leads.form.leadPriority.title" | translate }}
            </h5>
            <mat-radio-group
              [(ngModel)]="selectedPriority || leadPriority.LOW"
              (ngModelChange)="onPriorityChange($event)"
            >
              <mat-radio-button
                *ngFor="let priority of priorities"
                color="primary"
                [class]="priority.class"
                [value]="priority.value"
              >
                {{ priority.translation | translate }}
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <div class="lead-scoring">
            <span class="lead-scoring-label">{{
              "leads.form.scoring" | translate
            }}</span>
            <span class="lead-scoring-value">{{
              leadScoring[selectedPriority]
            }}</span>
          </div>
        </div>

        <div class="actions-section">
          <div class="main-action" *ngIf="!showActionButtons">
            <app-icon
              svgIcon="edit"
              size="20px"
              (click)="edit(lead.id)"
            ></app-icon>
            <app-icon
              svgIcon="trash"
              size="20px"
              (click)="tryDeleteLead(lead.id)"
            ></app-icon>
            <app-icon
              [class.rotating-icon]="loadingLead"
              svgIcon="refresh"
              size="20px"
              [hover]="!loadingLead"
              (click)="refresh()"
            ></app-icon>
          </div>
          <div class="main-action" *ngIf="showActionButtons">
            <app-icon
              svgIcon="check"
              size="20px"
              (click)="saveLeadDetailsChanges()"
              [disabled]="
                leadDetailsTabComponent.leadForm.invalid &&
                leadDetailsTabComponent.leadForm.touched
              "
            ></app-icon>
            <app-icon
              svgIcon="cross"
              size="20px"
              (click)="discardLeadDetailsChanges()"
            ></app-icon>
          </div>
        </div>
      </div>
    </div>
    <div class="main-content">
      <app-lead-details-tab
        #leadDetailsTabComponent
        [leadId]="leadId"
        [canSave]="canSave"
        [isTaskProperties]="!!taskOnScreen.properties?.length"
        (leadChanged)="handleDetailsChanged($event)"
        (leadEdited)="handleLeadChangedSubscription()"
        (refresh)="refresh()"
      >
        <app-lead-details-properties
          [taskOnScreen]="taskOnScreen"
          [acceptanceUserId]="lead?.acceptanceUserId"
          [activeTaskId]="activeTask?.id"
          [propertyForm]="propertyForm"
          (submit)="submit()"
        ></app-lead-details-properties>
      </app-lead-details-tab>
    </div>
  </mat-card>
</ng-template>

<ng-template #notes>
  <mat-card class="notes card-container">
    <app-notes
      [objectTypeAndId]="{
        objectId: leadId,
        objectType: objectType.lead}"
      [userMap]="userMap"
      [readonly]="lead?.convertedToOpportunity">
    </app-notes>
  </mat-card>
</ng-template>

<ng-template #files>
  <mat-card class="files card-container">
    <app-file
      objectType="lead"
      [objectId]="leadId"
      (fullView)="openLeadDocumentsView()"
      [readonly]="lead?.convertedToOpportunity"
    ></app-file>
  </mat-card>
</ng-template>

<ng-template #tabs>
  <mat-card class="tabs card-container">
    <app-lead-tabs
      [lead]="lead"
      [leadId]="leadId"
      [leadChangedSubscription]="leadChangedSubscription"
      [objectType]="objectType"
    ></app-lead-tabs>
  </mat-card>
</ng-template>

<app-slider
  #editSlider
  [title]="'leads.form.editTitle' | translate"
  key="LeadList.EditSlider"
  width="65vw"
  [group]="'leadFormGroup'"
>
  <app-lead-edit
    [lead]="leadToEdit"
    (leadEdited)="handleLeadEdited()"
  ></app-lead-edit>
</app-slider>

<app-slider
  #leadToOpportunitySlider
  [title]="leadConversionSliderTitle | translate"
  key="LeadDetails.LeadToOpportunitySlider"
  width="30vw"
>
  <app-lead-to-opportunity
    [lead]="lead"
    (leadConverted)="onLeadConverted()"
  ></app-lead-to-opportunity>
</app-slider>

<app-slider
  #newMailSlider
  [title]="'mail.newMailSlider.title' | translate"
  key="LeadDetails.newMailSlider"
  width="35vw"
>
  <app-new-mail-slider
    [email]="lead?.email"
    [slider]="newMailSlider"
  ></app-new-mail-slider>
</app-slider>
