<mat-tab-group class="board-tab-group h-100 customer-tabs" [(selectedIndex)]="selectedTabIndex">
  <mat-tab [label]="'customer.tabs.activity' | translate">
    <app-activity-tab
      class="overflow-hidden"
      objectType="customer"
      [objectId]="customerId">
    </app-activity-tab>
  </mat-tab>
  <mat-tab [label]="'customer.tabs.history' | translate">
    <app-history-tab
      historyType="CUSTOMER"
      [objectId]="customerId"
      [changedSubscription]="customerChangedSubscription"
      [fullHeight]="true">
    </app-history-tab>
  </mat-tab>
  <mat-tab [label]="'customer.tabs.relatedOpportunities' | translate">
    <app-related-opportunities-tab
      filterStrategy="CUSTOMER"
      [objectId]="customerId">
    </app-related-opportunities-tab>
  </mat-tab>
</mat-tab-group>
