<form [formGroup]="offerInfoGroup">
  <div class="row">
    <div class="col-md-6">
      <mat-form-field class="w-100">
        <mat-select formControlName="offerType"
                    [disableRipple]="true"
                    [disableOptionCentering]="true"
                    panelClass="dropdown-w-100" required>
          <mat-option *ngFor="let offerType of allOfferTypes"
                      [value]="offerType">{{('offer.generator.stepOfferInfo.types.' + offerType.toLowerCase()) | translate}}</mat-option>
        </mat-select>
        <mat-placeholder
          class="placeholder">{{'offer.generator.stepOfferInfo.type' | translate}}</mat-placeholder>
        <mat-error *ngIf="offerType.hasError('required')">{{'offer.generator.fieldRequired' | translate}}</mat-error>
      </mat-form-field>

      <mat-form-field class="w-50 calendar-form-field">
        <input matInput [matDatepicker]="datePicker"
               [placeholder]="'offer.generator.stepOfferInfo.offerDate' | translate"
               formControlName="offerDate">
        <mat-datepicker-toggle matSuffix [for]="datePicker"
                               class="custom-calendar-icon"></mat-datepicker-toggle>
        <mat-datepicker #datePicker></mat-datepicker>
        <mat-error *ngIf="offerDate.hasError('required')">
          {{'offer.generator.fieldRequired' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-50">
        <mat-select formControlName="expiration"
                    [disableRipple]="true"
                    [disableOptionCentering]="true"
                    panelClass="dropdown-w-100">
          <mat-option *ngFor="let expirationType of expirationTypes"
                      [value]="('offer.generator.stepOfferInfo.expirationOption.expirationType' + expirationType) | translate">
            {{('offer.generator.stepOfferInfo.expirationOption.expirationType' + expirationType) | translate}}
          </mat-option>
        </mat-select>
        <mat-placeholder
          class="placeholder">{{'offer.generator.stepOfferInfo.expiration' | translate}}</mat-placeholder>
        <mat-error *ngIf="expiration.hasError('required')">{{'offer.generator.fieldRequired' | translate}}</mat-error>
      </mat-form-field>

      <mat-form-field class="w-100">
        <input matInput
               [placeholder]="'offer.generator.stepOfferInfo.signatureTitle' | translate"
               formControlName="signatureTitle">
        <mat-error *ngIf="signatureTitle.hasError('required')">{{'offer.generator.fieldRequired' | translate}}</mat-error>
      </mat-form-field>

      <div class="logo-preview" (click)="urlField.click()" *ngIf="!correctLogo">
        <img alt="logo-preview" src="assets/icons/select-company-logo.svg"/>

        <mat-form-field class="w-100 only-field-error">
          <input matInput class="hide-logo"
                 placeholder="{{'offer.generator.stepOfferInfo.logo' | translate}}"
                 formControlName="logo">
          <mat-error class="error-center" *ngIf="logo.hasError('required')">
            {{'offer.generator.fieldRequired' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="logo-preview" (click)="urlField.click()" [ngClass]="{'hide-logo' : !correctLogo}">
        <img alt="logo-preview" src="{{imageSrc}}"
             (load)="logoLoaded(false)" (error)="logoLoaded(true)"/>
      </div>
      <input #urlField class="hide-logo"
             type="file" accept="image/*" (change)="handleInputChange($event)"
             placeholder="{{'offer.generator.stepOfferInfo.logo' | translate}}">
    </div>
    <div class="col-md-6">
      <img *ngIf="offerType.value === offerTypeEnum.OFFER_1" class="w-50"
           src="assets/icons/offer_type/type1.png"/>
      <img *ngIf="offerType.value === offerTypeEnum.OFFER_2" class="w-50"
           src="assets/icons/offer_type/type2.png"/>
      <img *ngIf="offerType.value === offerTypeEnum.OFFER_3" class="w-50"
           src="assets/icons/offer_type/type3.png"/>
    </div>
  </div>
</form>
