@import "~src/styles/colors";
@import "~src/styles/form";

.logo-preview {
  text-align: center;
  display: flow-root;
  width: 100% !important;
  img {
    width: 25%;
    height: 25%;
    -o-object-fit: contain;
    object-fit: contain;
    margin-top: 12%;
  }
}

.calendar-form-field {
  width: 45% !important;
  margin-right: 5%;
}

.hide-logo {
  display: none;
}
::ng-deep.only-field-error {
  .mat-form-field-flex,
  .mat-form-field-underline {
    display: none;
  }
}
.error-center {
  text-align: center;
  margin-top: 5px;
}
