@import "~src/styles/colors.scss";
@import "~src/styles/font-weights";

.crm-form {
  display: flex;
  flex-direction: column;
}

.additional-data-form {
  display: flex;
  justify-content: space-between;
}

.box-1 {
  flex: 3;
  margin-right: 10px;
}

.box-2 {
  flex: 6;
  margin-right: 10px;
}

.box-3 {
  flex: 1;
}


.basic-info-container {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: calc(100% - 150px);
  margin-left: 20px;
}

.avatar-part {
  width: 110px;
}


.add-image-title {
  height: 20px;
  color: $text-secondary;
  font-size: 12px;
  font-weight: $Regular;
  line-height: 20px;
  width: 90%;
  cursor: pointer;
}
