<form [formGroup]="accountForm" class="crm-form">

  <mat-form-field
    *ngIf="_account && (authKey + 'idField' | auth:'i':true)">
    <input matInput
           [placeholder]="'person.form.id' | translate"
           formControlName="id">
  </mat-form-field>

  <mat-form-field
    *ngIf="(authKey + 'nameField' | auth:'i':true)">
    <input matInput required
           [placeholder]="'person.form.name' | translate"
           formControlName="personName">
    <mat-error *ngIf="personName.hasError('required')">
      {{'person.form.nameRequired' | translate}}
    </mat-error>
    <mat-error *ngIf="personName.hasError('whitespace')">
      {{'sharedValidators.whitespace' | translate}}
    </mat-error>
    <mat-error *ngIf="personName.hasError('maxlength')">
      {{'sharedValidators.valueTooLong' | translate}}
    </mat-error>
  </mat-form-field>

  <mat-form-field
    *ngIf="(authKey + 'surnameField' | auth:'i':true)">
    <input matInput required
           [placeholder]="'person.form.surname' | translate"
           formControlName="personSurname">
    <mat-error *ngIf="personSurname.hasError('required')">
      {{'person.form.surnameRequired' | translate}}
    </mat-error>
    <mat-error *ngIf="personSurname.hasError('whitespace')">
      {{'sharedValidators.whitespace' | translate}}
    </mat-error>
    <mat-error *ngIf="personSurname.hasError('maxlength')">
      {{'sharedValidators.valueTooLong' | translate}}
    </mat-error>
  </mat-form-field>

  <mat-form-field
    *ngIf="(authKey + 'descriptionField' | auth:'i':true)">
    <input matInput
           [placeholder]="'person.form.description' | translate"
           formControlName="personDescription">
    <mat-error *ngIf="personDescription.hasError('maxlength')">
      {{'sharedValidators.valueTooLong' | translate}}
    </mat-error>
  </mat-form-field>

  <mat-form-field
    *ngIf="(authKey + 'phoneField' | auth:'i':true)">
    <input matInput required
           [placeholder]="'person.form.phone' | translate"
           formControlName="personPhone"
           type='text'
           mask="0*">
    <mat-error *ngIf="personPhone.hasError('required')">
      {{'person.form.phoneRequired' | translate}}
    </mat-error>
    <mat-error *ngIf="personPhone.hasError('maxlength') || personPhone.hasError('minlength')">
      {{'person.form.incorrectLengthPhone' | translate}}
    </mat-error>
  </mat-form-field>

  <mat-form-field
    *ngIf="(authKey + 'emailField' | auth:'i':true)">
    <input matInput required
           [placeholder]="'person.form.email' | translate"
           formControlName="personEmail">
    <mat-error *ngIf="personEmail.hasError('email')">
      {{'person.form.incorrectEmail' | translate}}
    </mat-error>
    <mat-error *ngIf="personEmail.hasError('required')">
      {{'person.form.emailRequired' | translate}}
    </mat-error>
    <mat-error *ngIf="personEmail.hasError('maxlength')">
      {{'sharedValidators.valueTooLong' | translate}}
    </mat-error>
  </mat-form-field>

  <mat-form-field
    *ngIf="(authKey + 'roleField' | auth:'i':true)">
    <mat-select required
                [placeholder]="'person.form.role' | translate"
                formControlName="roleId">
      <mat-option *ngFor="let role of possibleRoles" [value]="role.id">{{role.name}}</mat-option>
    </mat-select>
    <mat-error *ngIf="roleId.hasError('required')">
      {{'person.form.roleRequired' | translate}}
    </mat-error>
  </mat-form-field>

  <div formArrayName="additionalData"
       *ngFor="let item of additionalData['controls']; let i = index;">
    <div [formGroupName]="i" class="additional-data-form">

      <mat-form-field class="box-1">
        <input matInput required
               formControlName="title">
        <mat-error *ngIf="additionalData.get(i+'.title').hasError('required')">
          {{'person.form.fieldRequired' | translate}}
        </mat-error>
        <mat-error *ngIf="additionalData.get(i+'.title').hasError('whitespace')">
          {{'sharedValidators.whitespace' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="box-2">
        <input matInput
               formControlName="value">
        <mat-error *ngIf="additionalData.get(i+'.value')">
          {{'person.form.fieldRequired' | translate}}
        </mat-error>
        <mat-error *ngIf="additionalData.get(i+'.value').hasError('whitespace')">
          {{'sharedValidators.whitespace' | translate}}
        </mat-error>
      </mat-form-field>

      <button class="btn-transparent box-3"
              *ngIf="authKey + 'deleteForm' | auth:'w'"
              (click)="removeAdditionalField($event, i)">
        <span class="fa fa-trash contrast-color"></span>
      </button>
    </div>
  </div>
</form>
