<button mat-menu-item [matMenuTriggerFor]="themes" appTooltip="THEMES">
  {{'theme.title' | translate}}
</button>

<mat-menu #themes="matMenu">
  <button
    mat-menu-item
    *ngFor="let themeName of themeNames"
    (click)="changeTheme(themeName)"
  >
    {{ 'theme.' + themeName.toLowerCase() | translate }}
  </button>
</mat-menu>
