<div class="widget-container">
  <div class="title-wiget">
    {{ "dashboard.widgets.sourceOfLeads.title" | translate }}
  </div>
  <div class="select-container">
    <mat-radio-group
      (change)="changePeriod($event.value)"
      [value]="selectedPeriod"
    >
      <mat-radio-button *ngFor="let item of periods | enumToList" [value]="item"
        >{{ "dashboard.widgets.sourceOfLeads.periods." + item | translate }}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <div *ngIf="sources.length" class="chart-container">
    <div class="labels">
      <div class="source-label" *ngFor="let source of sources, let i = index">
        <div class="source-dot" [ngStyle]="{ backgroundColor: chartColors[i] }"></div>
        <span class="source-name">
          {{ labels[i] }}
        </span>
        <span class="source-count">
          {{ (source.count / totalLeads) * 100 | number: "1.0-1" }}% ({{
            source.count
          }})
        </span>
        <span *ngIf="source.percentageChange !== 0" class="source-progress">{{
          source.percentageChange > 0 ? "+" : "-"
        }}</span>
        <span class="source-percent">{{ source.percentageChange | abs }}%</span>
        <span class="source-progress-arrow">
          <app-icon
            [svgIcon]="source.percentageChange === 0 ? 'minus' : 'growth-arrow'"
            [hover]="false"
            [pointer]="false"
            [class.growth-arrow]="source.percentageChange > 0"
            [class.fall-arrow]="source.percentageChange < 0"
            [class.not-change]="source.percentageChange === 0"
          ></app-icon>
        </span>
      </div>
    </div>
    <div class="spacer"></div>
    <div class="chart">
      <app-doughnut-chart
        [data]="chartData"
        [colors]="chartColors"
        [chartLabels]="labels"
      ></app-doughnut-chart>
    </div>
    <div class="spacer"></div>
  </div>
  <div class="spinner" *ngIf="loading">
    <mat-spinner diameter="60"></mat-spinner>
  </div>
</div>
