@import "~src/styles/colors";
@import "~src/styles/font-weights";
@import "~src/styles/icons";

.widget-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  .title-wiget {
    font-size: 20px;
    text-align: center;
    color: $text-primary;
  }
  .select-container {
    margin-bottom: 16px;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    .mat-radio-button ~ .mat-radio-button {
      margin-left: 32px;
    }
  }
  .chart-container {
    display: flex;
    align-items: center;
    height: 100%;
    overflow: hidden;
    .labels {
      overflow-x: hidden;
      overflow-y: auto;
      max-height: 100%;
      margin-right: 8px;
      .source-label {
        display: flex;
        align-items: center;
        margin-bottom: 4px;
        &:last-child {
          margin-bottom: 0;
        }
        .source-dot {
          border-radius: 50%;
          padding: 5px;
          margin-right: 4px;
        }
        .source-name {
          color: $text-secondary;
          font-size: 13px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-right: 2px;
        }
        .source-count {
          color: $text-secondary;
          font-size: 13px;
          flex: 1;
          margin-right: 16px;
          white-space: nowrap;
        }
        .source-progress {
          color: $text-title;
          font-size: 13px;
          margin-right: 2px;
        }
        .source-percent {
          color: $text-title;
          font-size: 13px;
        }
        .source-progress-arrow {
          .growth-arrow {
            &::ng-deep.icon {
              fill: #24b888;
            }
          }
          .fall-arrow {
            &::ng-deep.icon {
              transform: rotate(90deg);
              fill: #ef4a68;
            }
          }
          .not-change {
            &::ng-deep.icon {
              & > * {
                transform: scale(0.6);
              }
            }
          }
        }
      }
    }
    .spacer {
      flex: 1;
    }
    .chart {
      max-width: 50%;
      height: 100%;
    }
  }
  .spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: radial-gradient(
      rgba($bg-primary-rgb, 0.6) 50%,
      transparent 100%
    );
  }
}

// cusotm radio
::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: primary !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: $primary !important; /*inner circle color change*/
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked
  .mat-radio-outer-circle {
  border-color: $primary !important; /*outer ring color change*/
}
