mat-form-field {
  width: 100%;
}


.input-text {
  text-align: left;
  font: $Medium 13px/20px Poppins;
  letter-spacing: 0;
  color: $text-title !important;
  opacity: 1;
}

.header-text {
  text-align: left;
  font: $Medium 10px/16px Poppins;
  letter-spacing: 1.2px;
  color: $primary;
  text-transform: uppercase;
  opacity: 1;
  margin-bottom: 25px;
  margin-top: 65px
}

.note-box {
  margin-top: 80px
}
