<div class="h-100">
  <form [formGroup]="mailForm" class="w-100 pb-0 pt-3 pl-3 pr-3">
    <div class="row">
      <div class="input-title">
        {{'mail.to' | translate}}
      </div>
      <div class="input-field">
        <app-mail-input #toEmails placeholder="mail.to" [required]="true"></app-mail-input>
      </div>
    </div>
    <div class="row">
      <div class="input-title">
        {{'mail.cc' | translate}}
      </div>
      <div class="input-field">
        <app-mail-input #ccEmails placeholder="mail.cc"></app-mail-input>
      </div>
    </div>
    <div class="row">
      <div class="input-title">
        {{'mail.bcc' | translate}}
      </div>
      <div class="input-field">
        <app-mail-input #bccEmails placeholder="mail.bcc"></app-mail-input>
      </div>
    </div>
    <div class="row">
      <div class="input-title">
        {{'mail.subject' | translate}}
      </div>
      <div class="input-field">
        <mat-form-field class="w-100">
          <input formControlName="subject" class="w-100" matInput required>
          <mat-placeholder class="placeholder">{{'mail.subject' | translate}}</mat-placeholder>
          <mat-error *ngIf="subject.hasError('required')">{{'mail.fieldRequired' | translate}}</mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
  <app-mail-attachments [tempUploader]="tempFileUploader" [filesFromCrm]="filesFormCrm" (removeTempFile)="removeTempFile($event)" (removeCrmFile)="removeCrmFile($event)"></app-mail-attachments>
  <div class="editor-content">
    <app-mail-text-editor (valueChanged)="content = $event" class="mail-editor-text" [ngClass]="{'with-attachment': ((tempFileUploader.queue && tempFileUploader.queue.length > 0) || (filesFormCrm && filesFormCrm.length > 0))}"></app-mail-text-editor>


    <img [matMenuTriggerFor]="attachment" class="attachment-icon" src="assets/icons/mail/attachment.svg"/>
    <mat-menu #attachment="matMenu">
      <button mat-menu-item (click)="fileInput.click()">
        {{'mail.exploreComputer' | translate}}
      </button>
      <button mat-menu-item (click)="selectFilesFromCrm()">
        {{'mail.exploreSystem' | translate}}
      </button>
    </mat-menu>
  </div>

</div>
<div class="mail-action-buttons">
    <div class="spinner-container" *ngIf="isSending">
    <mat-spinner [diameter]="20" class="sending-spinner"></mat-spinner>
    <span>{{'mail.sending' | translate}}</span>
    </div>
    <div class="pull-right" *ngIf="!fromSlider">
    <button (click)="cancel()" class="button-medium ml-2" color="primary"
            mat-stroked-button>{{'mail.discard' | translate}}</button>
    <button (click)="submit()" class="button-medium ml-2" color="primary"
            [disabled]="isSending" mat-raised-button>{{'mail.send' | translate}}</button>
    </div>
</div>
<input #fileInput [uploader]="tempFileUploader" hidden multiple ng2FileSelect type="file">
