@import '~src/styles/colors';
@import "~src/styles/font-weights";
@import "~src/styles/form";

.input-title {
  color: $text-title;
  font-size: 13px;
  font-weight: $Medium;
  text-align: right;
  width: 130px;
  padding-top: 15px;
}

.input-field {
  padding-left: 25px;
  width: calc(100% - 130px);
}

::ng-deep .mail-editor-text .mail-text-editor .ngx-editor-textarea {
  position: relative;
  height: calc(100vh - 560px) !important;
}
::ng-deep .mail-editor-text.with-attachment .mail-text-editor .ngx-editor-textarea {
  position: relative;
  height: calc(100vh - 600px) !important;
}

::ng-deep .mail-editor-text .mail-text-editor .ngx-editor {
  border-top: 1px solid $border-tertiary;
  padding-top: 10px;
  border-bottom: 1px solid $border-tertiary;
  padding-bottom: 25px;
}

::ng-deep .mail-editor-text .mail-text-editor .ngx-toolbar {
  bottom: 4px;
}

.editor-content {
  position: relative;
  padding: 0;
  margin: 0;
}

.attachment-icon {
  position: absolute;
  bottom: 4px;
  right: 0;
  cursor: pointer;
}

.sending-spinner {
  display: inline;
  margin-right: 10px;
}

.spinner-container {
  font-size: 16px;
  display: inline-flex;
  color: $primary;
  margin: 10px;
  font-weight: $Regular;
}

::ng-deep .mail-action-buttons {
  width: 100%;
  background-color: $bg-primary;
  bottom: 3px;
  right: 10px;
  z-index: 100;
  padding-bottom: 10px;
  padding-top: 10px;
}
