@import "~src/styles/font-weights";
@import "~src/styles/form";
@import "~src/styles/slider";

.nearby-tasks {
  .title {
    color: $text-title;
    font-size: 18px;
    font-weight: $SemiBold;
  }

  .nearby-footer {
    margin-top: 10px;
    font-size: 13px;
    font-weight: $Regular;

    .green {
      color: $green-color;
    }
  }

  .place {

    .title {
      margin-top: 25px;
      color: $text-title;
      font-size: 10px;
      font-weight: $Medium;
      letter-spacing: 1.2px;
      text-transform: uppercase;
    }

    .location {
      display: flex;
      margin-top: 15px;
      margin-bottom: 50px;

      .location-icon {
        width: 21px;
      }

      .content {
        font-size: 13px;
        line-height: 15px;
        margin-left: 15px;

        .name {
          color: $text-title;
          font-weight: $SemiBold;
          display: flex;
        }

        .address {
          color: $action-color;
          font-weight: $Regular;
        }
      }
    }
  }

  .scroll-content {
    overflow-y: auto;
    max-height: calc(100vh - 430px);
  }
  .content {

    .element {
      display: flex;
      margin-top: 10px;

      .avatar {

      }

      .user-info {
        padding-top: 6px;
        margin-left: 15px;
        width: 100%;

        .position {
          color: $text-secondary;
          font-size: 10px;
          font-weight: $Medium;
          letter-spacing: 1.2px;
          text-transform: uppercase;
          margin-top: 2px;
        }

        .name-and-date {
          position: relative;

          .name {
            color: $text-title;
            font-size: 13px;
            font-weight: $Bold;
          }

          .date {
            color: $action-color;
            font-size: 13px;
            font-weight: $SemiBold;
            position: absolute;
            right: 10px;
            top: 0;
          }

          .date.same-day {
            color: $green-color !important;
          }
        }
      }
    }
  }
}

.button-height {
  height: 70px;
}
