<div class="w-100 h-100 card-padding">
  <mat-card class="mat-elevation-z0 main-mat-card mat-card card-border-radius no-bottom-border-radius">
    <mat-card-content>
      <div>
        <div *ngIf="nearbyTasks && nearbyTasks.length > 0" class="nearby-tasks">
          <div class="place">
            <div class="title">{{'calendar.form.nearbyTaskLocationTitle' | translate:{date: (dateFrom | customFormatDate:'ddd. DD/MM/YYYY')} }}</div>
            <div class="location">
              <img class="location-icon" src="assets/icons/nearby-task-location.svg">
              <div class="content">
                <div class="name">{{getAssociationNames()}}</div>
                <div class="address">{{location}}</div>
              </div>
            </div>
          </div>
          <h5 class="title">{{'calendar.form.nearbyMeetings' | translate:{day: timeDifferenceInD} }}</h5>
          <div class="content scroll-content">
            <div *ngFor="let nearbyTask of nearbyTasks" class="element">
              <div class="avatar">
                <app-avatar-preview [widthPx]="50" [imageSrc]="nearbyTask?.accountInfo?.avatar"></app-avatar-preview>
              </div>
              <div class="user-info">
                <div class="name-and-date">
                  <div class="name">{{nearbyTask?.accountInfo?.name}} {{nearbyTask?.accountInfo?.surname}}</div>
                  <div class="date"
                       *ngIf="nearbyTask?.diffType === 'after'">{{nearbyTask?.daysDiff}} {{'calendar.form.daysAfter' | translate}}</div>
                  <div class="date same-day"
                       *ngIf="nearbyTask?.diffType === 'sameDay'"> {{'calendar.form.sameDay' | translate}}</div>
                  <div class="date"
                       *ngIf="nearbyTask?.diffType === 'before'">{{nearbyTask?.daysDiff}} {{'calendar.form.daysBefore' | translate}}</div>
                </div>
                <div class="position">{{nearbyTask?.accountInfo?.roleName}}</div>
              </div>
            </div>
          </div>
          <div class="nearby-footer">
            <div>{{'calendar.form.nearbyFooter1' | translate}}</div>
            <div class="green">{{'calendar.form.nearbyFooter2' | translate}}</div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <div class="button-container">
    <mat-card class="button-height mat-elevation-z0 card-border-radius no-top-border-radius"></mat-card>
  </div>
</div>
