<div class="roles-container">
  <div class="table-header-container mt-3 ml-1">
    <div>
      <span>
        <span class="table-header-primary">{{'permissions.role.list.title' | translate}}  </span>
      </span>
    </div>
  </div>
  <div class="row overflow-y with-title">
    <div class="mt-5 ml-5">
      <button mat-raised-button color="primary" (click)="addNewRole(null)">
        <span class="fa fa-floppy-o"></span> {{'permissions.role.list.addNewRole' | translate}}
      </button>
      <mat-tree class="tree-container" [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-nested-tree-node *matTreeNodeDef="let node">
          <li>
            <div class="mat-tree-node" appShowButtonsOnHover>
              <button mat-stroked-button class="checklist-leaf-node"
                         [draggable]="dragAndDropEnabled"  [title]="dragAndDropEnabled ? ('permissions.role.list.buttonHint' | translate) : ('permissions.role.list.cannotDrag' | translate)"
                         (dragstart)="handleDragStart($event, node);"
                         (dragover)="handleDragOver($event, node);"
                         (drop)="handleDrop($event, node);"
                         (dragend)="handleDragEnd();"
                         (click)="editRole(node)">
                {{node.item.name}}
              </button>
              <span class="additional-buttons">
              <button mat-stroked-button color="primary" class="additionalIcon"
                      (click)="addNewRole(node)" *ngIf="node.item.accounts.length <= 1">
                <span class="fa fa-plus"></span>
              </button>
              <button mat-stroked-button color="primary" class="additionalIcon"
                      (click)="showRemoveDialog(node)" *ngIf="(node.item.accounts.length) === 0">
                <span class="fa fa-trash contrast-color"></span>
              </button>
            </span>
            </div>
          </li>
        </mat-nested-tree-node>
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChildren">
          <li class="example-tree-container">
            <div class="mat-tree-node" appShowButtonsOnHover>
              <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename">
                <span *ngIf="!treeControl.isExpanded(node)" class="fa fa-plus-circle tree-icon"></span>
                <span *ngIf="treeControl.isExpanded(node)" class="fa fa-minus-circle tree-icon"></span>
              </button>
              <button mat-stroked-button class="ml-2"
                         [draggable]="dragAndDropEnabled" [title]="dragAndDropEnabled ? ('permissions.role.list.buttonHint' | translate) : ('permissions.role.list.cannotDrag' | translate)"
                         (dragstart)="handleDragStart($event, node);"
                         (dragover)="handleDragOver($event, node);"
                         (drop)="handleDrop($event, node);"
                         (dragend)="handleDragEnd();"
                         (click)="editRole(node)">
                {{node.item.name}}
              </button>
              <span class="additional-buttons">
              <button mat-stroked-button color="primary" class="additionalIcon"
                      (click)="addNewRole(node)" *ngIf="node.item.accounts.length <= 1">
                <span class="fa fa-plus"></span>
              </button>
              <button mat-stroked-button color="primary" class="additionalIcon"
                      (click)="showRemoveDialog(node)" *ngIf="(node.item.accounts.length) === 0">
                <span class="fa fa-trash contrast-color"></span>
              </button>
            </span>

            </div>
            <ul class="example-tree-nested-node">
              <div *ngIf="treeControl.isExpanded(node)">
                <ng-container matTreeNodeOutlet></ng-container>
              </div>
            </ul>
          </li>

        </mat-nested-tree-node>
      </mat-tree>
    </div>
  </div>
</div>

<app-slider [title]="'permissions.role.form.addTitle' | translate" #addRoleSlider>
  <app-role-add (roleAdded)="onRoleAdded()" [supervisorId]="supervisorId" [slider]="addRoleSlider"></app-role-add>
</app-slider>

<app-slider [title]="'permissions.role.form.editTitle' | translate" #editRoleSlider>
  <app-role-edit (roleAdded)="onRoleAdded()" [slider]="editRoleSlider" [roleId]="roleId"></app-role-edit>
</app-slider>

