@import "~src/styles/colors";
@import "~src/styles/table";

.roles-container {
  width: 98%;
}

.drop-above {
  border-top: 10px solid $border-primary;
  margin-top: -10px;
}


.drop-below {
  border-bottom: 10px solid $border-primary;
  margin-bottom: -10px;
}

.drop-center {
  background-color: $border-primary;
}

.tree-icon {
  color: $primary;
}
.cdk-focused:focus {
  outline: 0;
}
.example-tree-progress-bar {
  margin-left: 30px;
}

.example-tree-nested-node {
  padding-left: 30px;
}

mat-tree {
  margin-left: 40px;
}
.mat-tree-node {
  padding: 0;
  background-color: $bg-primary;
}

.mat-nested-tree-node {
  top: -24px;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

li.example-tree-container {
  border-bottom: 0;
}

ul {
  padding-left: 40px;
}

li {
  padding-left: 40px;
  border: 1px solid grey;
  border-width: 0 0 1px 1px;
  position: relative;
  top: -25px;
}

mat-nested-tree-node:last-child {
  li {
    border-left: none;
  }
  li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 49px;
    border-left: 1px solid grey;
  }
}

li.mat-tree-node,
li div {
  margin: 0;
  position: relative;
  top: 24px;
}

li ul {
  border-top: 1px solid grey;
  margin-left: -40px;
  padding-left: 47px;
}

.mat-icon-button {
  z-index: 1;
  width: 15px;
}

.tree-icon {
  background-color: $bg-primary;
}

.additional-buttons {
  display: none;
}

.show-additional-buttons {
  display: inline;
}

.tree-container {
  margin-top: 25px;
  margin-left: 50px;
}

.additionalIcon {
  min-width: 0px !important;
}
