<form [formGroup]="categoryForm" (click)="onCardClick($event)">
  <div class="card-container">
    <mat-card class="main-card card-border-radius no-bottom-left-border-radius no-bottom-right-border-radius">
      <div class="inner-container">
        <div class="categories-header">{{'products.form.addSubcategory.listHeader' | translate}}</div>

        <mat-accordion [multi]="true">

          <mat-expansion-panel formArrayName="categories" *ngFor="let category of categories;let i=index"
                               class="extension-panel" expanded="true">
            <mat-expansion-panel-header class="product-subcategory-panel-header">
              <mat-panel-title>
                <div class="category-text">{{category.name}}</div>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div [formGroupName]="i" class="subcategories-container">
              <div formArrayName="subcategories" *ngFor="let subcategory of category?.subcategories; let j=index"
                   class="category-item">
                <ng-container *ngIf="!(subcategory.initial || subcategory.toDelete)">
                  <mat-form-field class="product-category-input">
                    <span class="inline">
                    <input class="subcategory-text" #categoryInput matInput [formControlName]="j"
                           (keydown.enter)="disableEditedControl()">
                      <img class="alert-icon-size"
                           *ngIf="getSubcategoryControl(i, j).hasError('subcategoryExistError')"
                           src="assets/icons/alert.svg"/>
                    </span>
                    <mat-error *ngIf="getSubcategoryControl(i, j).hasError('subcategoryExistError')" class="float-right">
                      {{'products.categories.subcategoryExistError' | translate}}
                    </mat-error>
                  </mat-form-field>
                    <button type="button" class="btn-transparent icon-margin"
                            (click)="edit(i, j, categoryInput); $event.stopPropagation()">
                      <img class="clickable icon-size" src="assets/icons/edit_icon.svg"/>
                    </button>
                    <button type="button" class="btn-transparent icon-margin" (click)="tryDelete(i, j); $event.stopPropagation()">
                      <img class="clickable icon-size" src="assets/icons/trash-black.svg"/>
                    </button>

                    <mat-checkbox class="crm-checkbox icon-size" color="primary"
                                  [value]="[i,j]"
                                  [checked]="isCheckboxChecked(category.id, subcategory.id)">
                    </mat-checkbox>
                </ng-container>
              </div>
              <mat-form-field [class.d-none]="!addNewInputVisible[i]" class="product-category-input new-category-input">
                <span class="inline">
                <input #subcategoryInput formControlName="newSubcategoryValue" matInput (keydown.enter)="addCategory(i)"
                       (click)="$event.stopPropagation()" tabindex="-1">
                  <img class="alert-icon-size"
                       *ngIf="getNewSubcategoryControl(i).hasError('subcategoryExistError')"
                       src="assets/icons/alert.svg"/>
                </span>
                <mat-error *ngIf="getNewSubcategoryControl(i).hasError('subcategoryExistError')" class="float-right">
                  {{'products.categories.subcategoryExistError' | translate}}
                </mat-error>
              </mat-form-field>
              <div class="add-category-icon">
                <img (click)="addNewCategory($event, subcategoryInput, i)" class="clickable"
                     src="assets/icons/add-grey.svg"/>
              </div>
            </div>

          </mat-expansion-panel>
        </mat-accordion>

      </div>
    </mat-card>

    <mat-card class="buttons-bar card-border-radius no-top-left-border-radius no-top-right-border-radius">
      <button type="button" mat-stroked-button class="button-medium" color="primary"
              (click)="cancel(); $event.stopPropagation()">{{'products.categories.cancel' | translate}}</button>
      <button type="button" mat-raised-button class="button-medium ml-2" color="primary"
              (click)="submit(); $event.stopPropagation()">{{'products.categories.ok' | translate}}</button>
    </mat-card>
  </div>
</form>

