@import "../../../../styles/colors";
@import "../../../../styles/font-weights";
@import "../../../../styles/table";

.category-title {
  font-weight: $Medium;
  font-size: 16px;
  color: $action-color;
  margin-bottom: 16px;

  .plus-icon {
    cursor: pointer;
  }
}

.category-table {
  width: 100%;

  tr {
    height: 48px;
  }

  &-first-col-width {
    width: 200px;
  }
}

td.mat-cell {
  border-bottom-style: none;
}

th {
  border: none;
}

th:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  border-bottom: 1px solid rgba($contrast-rgb, 0.12);
}
