<div class="category-title">
  <ng-container *ngIf="!_update">
  {{'goal.form.productGroup.addProductGroup' | translate}}
    <img (click)="selectCategoryToGoalSlider.open()" class="plus-icon" src="assets/icons/plus-blue.svg"/>
  </ng-container>
  <ng-container *ngIf="_update">
    {{'goal.form.productGroup.selectedProductGroups' | translate}}
  </ng-container>
</div>

<div *ngIf="_subcategories.length != 0">
  <table #table [dataSource]="_subcategories" mat-table class="category-table">

    <ng-container matColumnDef="delete">
      <th *matHeaderCellDef mat-header-cell></th>
      <td *matCellDef="let item" mat-cell class="category-table-first-col-width">
        <app-icon
        (click)="removeCategory(item, table)"
        svgIcon="cross"
        [hover]="false"
      ></app-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="categoryName">
      <th *matHeaderCellDef mat-header-cell>{{'goal.form.productGroup.category' | translate}}</th>
      <td *matCellDef="let item" mat-cell [title]="item.categoryName | lengthMoreThan:30">
        {{item.categoryName}}
      </td>
    </ng-container>

    <ng-container matColumnDef="subcategoryName">
      <th *matHeaderCellDef mat-header-cell>{{'goal.form.productGroup.subcategory' | translate}}</th>
      <td *matCellDef="let item" mat-cell [title]="item.name | lengthMoreThan:30">
        {{item.initial ? ('goal.form.productGroup.withoutSubcategory' | translate) : item.name }}
      </td>
    </ng-container>

    <tr *matHeaderRowDef="columns; sticky: true" mat-header-row></tr>
    <tr *matRowDef="let rowData; columns: columns" mat-row></tr>
  </table>
</div>


<app-slider #selectCategoryToGoalSlider [title]="'goal.form.productGroup.categories' | translate" key="GoalCategoryList"
            width="33vw">
  <app-product-categories-list [slider]="selectCategoryToGoalSlider"
                               [subcategoryIds]="subcategoriesIds"
                               (categoriesSelected)="onCategoriesSelected($event)"></app-product-categories-list>
</app-slider>

