:root {
  [theme="dark"] {
    //color +
    --primary: #319df8;
    --primary-rgb: 49, 157, 248;

    --contrast: #ffffff;
    --contrast-rgb: 255, 255, 255;

    --action-color: #ffffff;
    //bg
    --bg-primary: #424242;
    --bg-primary-rgb: 60, 60, 60;

    --bg-secondary: #303030;
    --bg-tertiary: #525252;

    --bg-header: #464646;
    --bg-header-rgb: 70, 70, 70;

    //text
    --text-primary: #ffffff;
    --text-secondary: #a4a4a4;
    --text-tertiary: #9e9e9e;

    --text-title: #ffffff;
    --text-title-rgb: 255, 255, 255;

    --text-link: #006ce6;
    //border
    --border-primary: #6d6d6d;
    --border-secondary: #616161;
    --border-tertiary: #373737;
    --border-quaternary: #8e8e8e;

    --border-color-rgb: 100, 100, 100;

    //shadow
    --shadow-color-rgb: 120, 126, 150;
    //navbar
    --bg-navbar: #424242;
    --bg-navbar-main: #424242;
    --bg-navbar-active: #5a5a5a;

    --color-navbar: #ffffff;
    --color-navbar-active: #ffffff;

    //tasks
    --task-header: #616161;
    --task-blue: #319df8;
    --task-brown: #837575;
    --task-green: #3acb9c;
    --task-pink: #ff718c;
    --task-purple: #af7eff;
    --task-yellow: #ffad0c;
    --task-turquoise: #1dc9d7;
    --task-red: #ff7777;
    //calendar
    --meeting-color: #ff7171;
    --mail-color: #ffad0c;
    --task-color: #319df8;
    --phone-color: #4e5d77;
    --calendar-color: #1dc9d7;
    --calendar-color: #3ed3a3;

    --event-title: #00a14b;

    --calendar-today: #4a7c47;
    --calendar-weekend: indianred;
    //notification
    --notification-border-color: #303030;
    --notification-title-color: #FFFFFF;
    --notification-content-color: #FFFFFF;
    --notification-date-color: #FFFFFF;

    //other

    --row-hover-color: #616161;
    --scrollbar-thumb: #616161;

    --green-color: #0bb07b;
    --red-color: #ed3758;
    --ping-color: #fd718c;
    --error-color: #d31e1b;
    --confirm-color: #dd2048;

    --yellow-bg: #ffad0c;
    --yellow-border: #ffc108;
    --yellow-lighten: #ffefc1;
    --yellow-acceptance: #ffa001;
    --yellow-refresh: #ff8e00;
    --yellow-exceed: #f0ad4e;
    //--------------------


  }
}
