:root {
  //color
  --primary: #319df8;
  --primary-rgb: 49, 157, 248;

  --contrast: #000000;
  --contrast-rgb: 0, 0, 0;

  --primary-contrast: #ffffff;
  --primary-contrast-rgb: 255, 255, 255;

  --action-color: #4e5d77;
  //bg
  --bg-primary: #ffffff;
  --bg-primary-rgb: 255, 255, 255;

  --bg-secondary: #f0f1f3;
  --bg-tertiary: #f5f5f5;
  --bg-header: #fbfbfb;
  --bg-header-rgb: 251, 251, 251;

  //text
  --text-primary: #4e5d78;
  --text-secondary: #8a94a6;
  --text-tertiary: #b0b7c3;

  --text-title: #0a1e44;
  --text-title-rgb: 10, 30, 68;

  --text-link: #006ce6;
  //border
  --border-primary: #ced4da;
  --border-secondary: #e4e7ea;
  --border-tertiary: #f0f1f3;
  --border-quaternary: #b0b7c3;

  --border-color-rgb: 220, 220, 220;

  //shadow
  --shadow-color-rgb: 10, 22, 70;
  //navbar
  --bg-navbar: #ffffff;
  --bg-navbar-main: #ffffff;
  --bg-navbar-active: #e0e3e7;

  --color-navbar: #6f7c91;
  --color-navbar-active: #6f7c91;

  //tasks
  --task-header: #4e5d77;

  --task-blue: #319df8;
  --task-brown: #837575;
  --task-green: #3acb9c;
  --task-pink: #ff718c;
  --task-purple: #af7eff;
  --task-yellow: #ffad0c;
  --task-turquoise: #1dc9d7;
  --task-red: #ff7777;
  //calendar
  --meeting-color: #ff7171;
  --mail-color: #ffad0c;
  --task-color: #319df8;
  --phone-color: #4e5d77;
  --calendar-color: #1dc9d7;

  --event-title: #00a14b;

  --calendar-today: #e8fde7;
  --calendar-weekend: indianred;
  //notification
  --bg-notification-color: #8d96a8;

  --notification-success: #5cb85c;
  --notification-error: #ff7777;
  --notification-color-rgb: 255, 255, 255;

  --notification-border-color: #213c7140;
  --notification-title-color: #0a1e44;
  --notification-content-color: #4e5d77;
  --notification-date-color: #8d96a8;

  //other
  --input-color: #f0f1f3;

  --row-hover-color: #ecf5fd;
  --scrollbar-thumb: #8a94a6;

  --green-color: #0bb07b;
  --red-color: #ed3758;
  --ping-color: #fd718c;
  --error-color: #d31e1b;
  --confirm-color: #dd2048;

  --yellow-bg: #ffad0c;
  --yellow-border: #ffc108;
  --yellow-lighten: #ffefc1;
  --yellow-acceptance: #fc8e29;
  --yellow-refresh: #ff8e00;
  --yellow-exceed: #f0ad4e;
  //--------------------

  --priority-low: #0bb07b;
  --priority-medium: #ffad0c;
  --priority-high: #dd2048;
}
