:root {
  [theme="professional"] {
    //navbar
    --bg-navbar: #445471;
    --bg-navbar-main: #319df8;
    --bg-navbar-active: #273a5a;

    --color-navbar: #c9cdd6;
    --color-navbar-active: #ffffff;
  }
}
