@import '~src/styles/colors';
@import "~src/styles/extension-panel";
@import "~src/styles/form";

$input-margin: 80px;

.customers-container {
  height: 100%;
  display: flex;
  flex-direction: column;

  .content-container {
    padding: 16px;
    overflow-y: auto;
    flex: 1;
  }
}


::ng-deep .customers-container {

  .mat-form-field-underline {
    background: unset;
    background-image: unset !important;
  }

  .ongoing-text .mat-select-value-text{
    color: $green-color;
  }

  .closed-text .mat-select-value-text{
    color: $red-color;
  }


}


mat-form-field {
  width: 100%;
}

.date-container {
  position: relative;
  display: flex;
  margin-right: 60px;
}

.date-container mat-form-field:nth-of-type(1) {
  width: 130px;
  margin-right: 17px;
}

.date-container mat-form-field:nth-of-type(2) {
  width: 70px;
}

.header-container {
  display: flex;
  margin: 20px 16px;
}

.title-text {
  text-align: left;
  font: $Regular 24px/35px Poppins;
  letter-spacing: 0;
  color: $action-color;
  opacity: 1;
  margin-right: 10px;
}

.primary-input-text {
  text-align: left;
  font: $SemiBold 13px/20px Poppins;
  letter-spacing: 0;
  color: $text-title !important;
  opacity: 1;
}

.input-text {
  text-align: left;
  font: $Regular 13px/20px Poppins;
  letter-spacing: 0;
  color: $text-title !important;
  opacity: 1;
}


.placeholder-text {
  @extend .primary-input-text;
  opacity: 0.5;
}

mat-form-field input:disabled {
  text-align: left;
  font: $Medium 13px/20px Poppins;
  letter-spacing: 0;
  color: $text-secondary !important;
  opacity: 1;
}


mat-form-field input, mat-label {
  text-align: left;
  font: $Medium 13px/20px Poppins;
  letter-spacing: 0;
  color: $text-title !important;
  opacity: 1;
}

.title-header {
  display: flex;
  align-items: center;
}

.title-header > div{
  margin-right: 10px;
}

.notes-header {
  text-align: left;
  font: $Medium 12px/18px Poppins;
  letter-spacing: 0;
  color: $action-color;
  opacity: 1;
}

.text-area-size {
  height: 80%;
}

.customer-grid {
  display: grid;
  grid-template-columns: minmax(270px, 1fr) minmax(740px, 2fr) 20px;
  grid-template-rows: repeat(3, 40px);
  grid-column-gap: 40px;
  grid-row-gap: 12px;
  grid-auto-flow: column;
  margin-bottom: 65px;
}

.note-box {
  grid-area: 2 / 2 / 4 / 3;
  margin-top: 10px;
}

.relation-time-container {
  display: flex;
  height: 40px;
  align-items: baseline;
}

.hidden {
  visibility: hidden;
}

::ng-deep .date-container label:not(.mat-form-field-empty) mat-placeholder {
  display: none;
}

.date-container-label {
  font-size: 10px;
  font-weight: 400;
  color: rgba($contrast-rgb, 0.54);
  position: absolute;
  top: -3px;
}

.ongoing-text {
  color: $green-color;
}

.closed-text {
  color: $red-color;
}
