<form [formGroup]="relatedCustomersForm" class="h-100">
  <div class="customers-container">
    <div class="header-container">
      <div class="title-text">
        {{ "contacts.details.relatedCustomers.title" | translate }}
      </div>
      <button
        *ngIf="'RelatedCustomerInContactDetail.add' | auth: 'w'"
        appTooltip="ADD"
        class="btn-transparent"
        (click)="addRelatedCustomer()"
      >
        <app-icon svgIcon="plus" [primary]="true"></app-icon>
      </button>
    </div>
    <div class="content-container">
      <div
        formArrayName="customers"
        *ngFor="let customer of relatedCustomers; let i = index"
      >
        <div class="customer-grid" [formGroupName]="i">
          <div
            #nameDiv
            class="position-relative"
            (mouseover)="openPopover(customer.customerId, customer.id, nameDiv)"
            (mouseleave)="openPopover()"
          >
            <span
              class="customer-popover-element selected-as-popover"
              *ngIf="selectedPopoverId === customer.id"
            ></span>
            <span
              class="customer-popover-element selected-as-popover-without-border"
              *ngIf="selectedPopoverId === customer.id"
            ></span>
            <mat-form-field>
              <span class="inline">
                <input
                  class="primary-input-text"
                  matInput
                  formControlName="company"
                />
                <img
                  *ngIf="customer.firstToContact"
                  src="assets/icons/yellow-star.svg"
                />
              </span>
              <mat-placeholder>{{
                "contacts.details.relatedCustomers.customer" | translate
              }}</mat-placeholder>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input class="input-text" matInput formControlName="position" />
              <mat-placeholder>{{
                "contacts.details.relatedCustomers.position" | translate
              }}</mat-placeholder>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input
                class="input-text"
                matInput
                formControlName="relationType"
              />
              <mat-placeholder>{{
                "contacts.details.relatedCustomers.relationType" | translate
              }}</mat-placeholder>
            </mat-form-field>
          </div>
          <div>
            <div class="relation-time-container">
              <div class="date-container">
                <div class="date-container-label">
                  {{ "contacts.details.relatedCustomers.start" | translate }}
                </div>
                <mat-form-field>
                  <mat-placeholder>{{
                    "contacts.details.relatedCustomers.month" | translate
                  }}</mat-placeholder>
                  <mat-select formControlName="startDateMonth">
                    <mat-option [value]="null" [id]="null">
                      <div class="placeholder-text">
                        {{
                          "contacts.details.relatedCustomers.month" | translate
                        }}
                      </div>
                    </mat-option>
                    <mat-option
                      class="primary-input-text"
                      *ngFor="let month of monthList"
                      [value]="month?.number"
                      [id]="month.number"
                      >{{ month?.name }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>

                <mat-form-field>
                  <mat-placeholder>{{
                    "contacts.details.relatedCustomers.year" | translate
                  }}</mat-placeholder>
                  <mat-select formControlName="startDateYear">
                    <mat-option [value]="null">
                      <div class="placeholder-text">
                        {{
                          "contacts.details.relatedCustomers.year" | translate
                        }}
                      </div>
                    </mat-option>
                    <mat-option
                      class="primary-input-text"
                      *ngFor="let year of dateUtil.getYearsListFromNow(-50, -1)"
                      [value]="year"
                      [id]="year"
                      >{{ year }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>

              <div
                class="date-container"
                [ngClass]="{ hidden: !isClosedRelation(i) }"
              >
                <div class="date-container-label">
                  {{ "contacts.details.relatedCustomers.end" | translate }}
                </div>
                <mat-form-field>
                  <mat-placeholder>{{
                    "contacts.details.relatedCustomers.month" | translate
                  }}</mat-placeholder>
                  <mat-select formControlName="endDateMonth">
                    <mat-option [value]="null">
                      <div class="placeholder-text">
                        {{
                          "contacts.details.relatedCustomers.month" | translate
                        }}
                      </div>
                    </mat-option>
                    <mat-option
                      class="primary-input-text"
                      *ngFor="let month of monthList"
                      [value]="month?.number"
                      >{{ month?.name }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>

                <mat-form-field>
                  <mat-placeholder>{{
                    "contacts.details.relatedCustomers.year" | translate
                  }}</mat-placeholder>
                  <mat-select formControlName="endDateYear">
                    <mat-option [value]="null" [id]="null">
                      <div class="placeholder-text">
                        {{
                          "contacts.details.relatedCustomers.year" | translate
                        }}
                      </div>
                    </mat-option>
                    <mat-option
                      class="primary-input-text"
                      *ngFor="let year of dateUtil.getYearsListFromNow(-50, -1)"
                      [value]="year"
                      >{{ year }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <div *ngIf="isOpenCloseDisabled(i); else openCloseDropdown">
                <div *ngIf="!isClosedRelation(i)" class="ongoing-text">
                  {{ "customer.relatedContacts.ongoing" | translate }}
                </div>
                <div *ngIf="isClosedRelation(i)" class="closed-text">
                  {{ "customer.relatedContacts.closed" | translate }}
                </div>
              </div>
              <ng-template #openCloseDropdown>
                <mat-form-field>
                  <mat-select
                    formControlName="isClosed"
                    [className]="
                      isClosedRelation(i) ? 'closed-text' : 'ongoing-text'
                    "
                  >
                    <mat-option [value]="false">
                      <div class="primary-input-text">
                        {{
                          "contacts.details.relatedCustomers.ongoing"
                            | translate
                        }}
                      </div>
                    </mat-option>
                    <mat-option [value]="true">
                      <div class="primary-input-text">
                        {{
                          "contacts.details.relatedCustomers.closed" | translate
                        }}
                      </div>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </ng-template>
            </div>
            <mat-error
              *ngIf="customersFormArray.at(i).hasError('chronologyDateError')"
            >
              {{
                "contacts.details.newRelatedCustomer.dateChronologyError"
                  | translate
              }}
            </mat-error>
            <mat-error
              *ngIf="customersFormArray.at(i).hasError('dependentFieldError')"
            >
              {{
                "contacts.details.newRelatedCustomer.dependentFieldError"
                  | translate
              }}
            </mat-error>
          </div>
          <div class="note-box">
            <div class="notes-header">
              {{ "contacts.details.tabs.notes" | translate }}
            </div>
            <textarea
              formControlName="note"
              class="form-control text-area text-area-size"
            >
            </textarea>
          </div>
          <ng-container
            *ngIf="'RelatedCustomerInContactDetail.delete' | auth: 'w'"
          >
            <div *ngIf="!customer?.active">
              <app-icon
                [matMenuTriggerFor]="menu"
                appTooltip="MORE"
                svgIcon="option-dots"
                [hover]="false"
              ></app-icon>
              <mat-menu #menu="matMenu" xPosition="before">
                <button (click)="tryDelete(customer?.id)" mat-menu-item>
                  <app-icon
                    svgIcon="trash"
                    [hover]="false"
                    size="16px"
                  ></app-icon>
                  {{ "contacts.details.relatedCustomers.delete" | translate }}
                </button>
              </mat-menu>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</form>

<app-slider
  #addCustomerSlider
  width="33vw"
  group="contactRelatedCustomerGroup"
  [title]="'contacts.details.newRelatedCustomer.title' | translate"
  key="ContactDetails.AddRelatedCustomer"
>
  <app-add-related-customer
    [contactId]="contactId"
    [slider]="addCustomerSlider"
    (newRelationAdded)="getRelatedCustomers()"
  ></app-add-related-customer>
</app-slider>

<app-customer-popover
  (mouseover)="
    openPopover(selectedPopover, selectedPopoverId, selectedPopoverRef)
  "
  (mouseleave)="openPopover()"
  (closePopover)="clearPopover()"
  [elementRef]="selectedPopoverRef"
  [customerId]="selectedPopover"
></app-customer-popover>
