<form [formGroup]="preparedForGroup">
  <div class="row">
    <div class="col-md-6">
      <mat-form-field class="pl-3 pr-3 w-100">
        <mat-label>{{
          "offer.generator.stepPreparedFor.company" | translate
        }}</mat-label>
        <span class="inline">
          <input
            matInput
            [placeholder]="
              'offer.generator.stepPreparedFor.write3CharToSearch' | translate
            "
            formControlName="customerSearch"
            [matAutocomplete]="customerSearch"
          />
          <app-icon
            class="customer-search-icon"
            svgIcon="search"
            [hover]="false"
            [pointer]="false"
          ></app-icon>
        </span>
        <mat-autocomplete
          #customerSearch="matAutocomplete"
          (optionSelected)="customerSelect($event.option.value)"
        >
          <mat-option
            *ngFor="let object of filteredCustomers"
            [value]="object"
            class="single-line-option"
          >
            <div class="search-result-text">{{ object.label }}</div>
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="customerId.hasError('required')">
          {{ "offer.generator.fieldRequired" | translate }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field class="w-100">
        <input
          matInput
          [placeholder]="
            'offer.generator.stepPreparedFor.companyName' | translate
          "
          formControlName="companyName"
        />
        <mat-error *ngIf="companyName.hasError('required')">
          {{ "offer.generator.fieldRequired" | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-100">
        <input
          matInput
          [placeholder]="
            'offer.generator.stepPreparedFor.companyPhone' | translate
          "
          formControlName="companyPhone"
          mask="0*"
          [validation]="true"
        />
        <mat-error *ngIf="companyPhone.hasError('minlength')">
          {{ "offer.generator.stepPreparedFor.minLengthPhone" | translate }}
        </mat-error>
        <mat-error *ngIf="companyPhone.hasError('required')">
          {{ "offer.generator.fieldRequired" | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-100">
        <input
          matInput
          [placeholder]="
            'offer.generator.stepPreparedFor.companyAddress' | translate
          "
          type="text"
          formControlName="companyAddress"
        />
        <mat-error *ngIf="companyAddress.hasError('required')">
          {{ "offer.generator.fieldRequired" | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-100">
        <input
          matInput
          [placeholder]="
            'offer.generator.stepPreparedFor.companyEmail' | translate
          "
          type="text"
          formControlName="companyEmail"
        />
        <mat-error *ngIf="companyEmail.hasError('email')">
          {{ "offer.generator.stepPreparedFor.incorrectFormat" | translate }}
        </mat-error>
        <mat-error *ngIf="companyEmail.hasError('required')">
          {{ "offer.generator.fieldRequired" | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-100">
        <input
          matInput
          [placeholder]="'offer.generator.stepPreparedFor.www' | translate"
          type="text"
          formControlName="www"
        />
        <mat-error *ngIf="www.hasError('required')">
          {{ "offer.generator.fieldRequired" | translate }}
        </mat-error>
      </mat-form-field>
    </div>
  </div>
</form>
