@import "~src/styles/colors";
@import "~src/styles/font-weights";


.notification-types {
  padding: 0 111px;
  margin: 0;
}

.notification-types .type {
  margin: 0;
  padding: 0;
}

.notification-types .type .row {
  margin: 0;
  padding: 0;
}

.notification-types .type .icon {
  text-align: right;
  padding: 0 4px 0 0;
}

.notification-types .type .icon img {
  margin-top: -3px;
}

.notification-types .type .count {
  padding: 0;
  text-align: left;
  font-family: Poppins, serif;
  font-size: 14px !important;
  font-weight: $Bold !important;
}


.notification-tabs {
  padding: 0 30px;
  margin: 0px 0 0 0;
}

.notification-tabs .tab {
  position: relative;
  margin: 0;
  font-family: Poppins, serif;
  font-size: 12px !important;
  font-weight: $Regular !important;
  text-align: center;
  cursor: pointer;
}

.notification-tabs .tab .bottom-line {
  display: none;
  position: absolute;
  bottom: 0;
  left: 15%;
  width: 70%;
  height: 2px;
  background: #48A8F9;
}

.notification-tabs .tab.active  .bottom-line {
  display: block;
}


.notifications-container {
  margin: 20px 0;
  height: calc(100vh - 240px);
  overflow-y: auto;
  display: block;
  padding: 10px 46px 0;
}

.clear-notification {
  cursor: pointer;
  color: $text-primary;
  font-family: Poppins, serif;
  font-size: 12px;
  text-align: end;
  margin-bottom: 5px;
}

::ng-deep .notification-dashboard .notifications-container .notification-element {
  box-shadow: none;
  border: 1px solid $notification-border-color;
  margin-bottom: 10px;
}
