<div class="row notification-types">
  <div class="col-sm-3 type alert">
    <div class="row">
      <div class="col-sm-6 icon">
        <img class="icon icon-size" src="assets/icons/notifications/alert.svg"/>
      </div>
      <div class="col-sm-6 count">{{alertNotificationsCount}}</div>
    </div>
  </div>
  <div class="col-sm-3 type success">
    <div class="row">
      <div class="col-sm-6 icon">
        <img class="icon icon-size" src="assets/icons/notifications/success.svg"/>
      </div>
      <div class="col-sm-6 count">{{successNotificationsCount}}</div>
    </div>
  </div>
  <div class="col-sm-3 type info">
    <div class="row">
      <div class="col-sm-6 icon">
        <img class="icon icon-size" src="assets/icons/notifications/info.svg"/>
      </div>
      <div class="col-sm-6 count">{{infoNotificationsCount}}</div>
    </div>
  </div>
  <div class="col-sm-3 type warning">
    <div class="row">
      <div class="col-sm-6 icon">
        <img class="icon icon-size" src="assets/icons/notifications/warning.svg"/>
      </div>
      <div class="col-sm-6 count">{{warningNotificationsCount}}</div>
    </div>
  </div>
</div>

<div class="row notification-tabs">
  <div class="col-sm-4 tab active" (click)="getTheNewest($event)">
    Najnowsze
    <div class="bottom-line"></div>
  </div>
  <div class="col-sm-4 tab" (click)="getHighPriority($event)">
    Wysoka ważność
    <div class="bottom-line"></div>
  </div>
  <div class="col-sm-4 tab" (click)="getRead($event)">
    Przeczytane
    <div class="bottom-line"></div>
  </div>
</div>

<div class="row notifications-container">
  <ng-template #notificationsContainer></ng-template>
</div>

<div class="clear-notification" (click)="markAllUserNotificationAsRead()">
  Wyczyść powiadomienia
</div>
