@import "~src/styles/table";

.button-container {
  display: flex;
  align-items: center;
  & > * {
    padding: 0 6px;
  }
}

.profiles-container {
  width: 98%;
}

.sort-dropbox {
  margin-top: -20px;
  width: 100px;
}

.tab-icon {
  font-size: 20px;
}



