<div class="profiles-container">
  <div class="table-header-container mt-3 ml-1">
    <div>
      <span>
        <span class="table-header-primary"
          >{{ "sidenav.profiles" | translate }}
        </span>
        <span class="table-header-note"
          >({{ profilesPage?.totalElements }})</span
        >
      </span>
    </div>
    <div class="button-container">
      <app-icon
        svgIcon="add"
        appTooltip="ADD"
        (click)="addProfile()"
      ></app-icon>
      <app-icon
        svgIcon="collapse"
        appTooltip="REDUCE_SPACE"
        (click)="collapsed = true"
        [primary]="collapsed"
      ></app-icon>
      <app-icon
        svgIcon="expand"
        appTooltip="INCREASE_SPACE"
        (click)="collapsed = false"
        [primary]="!collapsed"
      ></app-icon>
    </div>
  </div>
  <div class="row overflow-y with-title" (scroll)="onScroll($event)">
    <table
      [dataSource]="profilesPage?.content"
      class="mat-elevation-z8 col-md-12"
      mat-table
      matSort
      (matSortChange)="onSortChange($event)"
      [ngClass]="{ 'row-collapsed': collapsed, 'row-expanded': !collapsed }"
    >
      <ng-container matColumnDef="id">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{ "permissions.profile.list.id" | translate }}
        </th>
        <td *matCellDef="let profile" mat-cell>{{ profile.id }}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{ "permissions.profile.list.name" | translate }}
        </th>
        <td
          *matCellDef="let profile"
          mat-cell
          [title]="profile.name | lengthMoreThan: 30"
        >
          {{ profile.name }}
        </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th *matHeaderCellDef mat-header-cell>
          {{ "permissions.profile.list.description" | translate }}
        </th>
        <td
          *matCellDef="let profile"
          mat-cell
          [title]="profile.description | lengthMoreThan: 30"
        >
          {{ profile.description }}
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th *matHeaderCellDef mat-header-cell></th>
        <td *matCellDef="let profile" mat-cell>
          <app-icon
            [matMenuTriggerFor]="menu"
            (click)="$event.stopPropagation()"
            appTooltip="MORE"
            svgIcon="option-dots"
            [hover]="false"
          ></app-icon>
          <mat-menu #menu="matMenu">
            <button
              (click)="editProfile(profile.id, profile.name)"
              mat-menu-item
            >
              {{ "permissions.profile.list.action.edit" | translate }}
              <span class="fa fa-pencil ml-3"></span>
            </button>
            <button (click)="tryDeleteProfile(profile.id)" mat-menu-item>
              {{ "permissions.profile.list.action.delete" | translate }}
              <span class="fa fa-trash ml-4 contrast-color"></span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="columns" mat-header-row></tr>
      <tr
        *matRowDef="let rowData; columns: columns"
        mat-row
        (click)="
          $event.stopPropagation(); editProfile(rowData.id, rowData.name)
        "
      ></tr>
    </table>
  </div>
</div>

<app-slider
  [width]="'100vw'"
  [title]="'permissions.profile.add.title' | translate"
  #addProfileSlider
>
  <app-profile-add
    (profileAdded)="onProfileAdded()"
    [slider]="addProfileSlider"
  ></app-profile-add>
</app-slider>

<app-slider
  [width]="'100vw'"
  [title]="'permissions.profile.edit.title' | translate: { name: profileName }"
  #editProfileSlider
>
  <app-profile-edit
    (profileAdded)="onProfileAdded()"
    [slider]="editProfileSlider"
    [profileId]="profileId"
  ></app-profile-edit>
</app-slider>
