@import "~src/styles/form";
@import "~src/styles/colors";
@import "~src/styles/font-weights";
@import "~src/styles/icons";

.no-margin {
  margin: 0;
}

.center-month-name {
  padding-top: 23px;
}

.left-arrow {
  padding-top: 15px;
  padding-left: 0;
}

.right-arrow {
  padding-top: 15px;
}

.year-form-field {
  width: 76px;
  margin-left: -10px;
  padding-top: 8px;
}

.calendar-mini-buttons {
  .btn {
    .left-arrow-icon,
    .right-arrow-icon {
      width: 18px;
      height: 18px;
      margin-top: 2px;
      cursor: pointer;
    }

    .left-arrow-icon {
      content: url("~src/assets/icons/calendar/calendar-left-arrow.svg");
    }

    .right-arrow-icon {
      content: url("~src/assets/icons/calendar/calendar-right-arrow.svg");
    }
  }
}

@mixin small-view {
  .title-container > * {
    display: none;
  }
  .dashboard-calendar-widget {
    margin-top: -40px;
  }
  .dashboard-calendar-content {
    height: calc(100% - 40px) !important;

    .tasks {
      height: calc(100% - 16px) !important;
    }
  }
}

@media (max-width: 1450px) and (min-width: 1001px) and (max-height: 540px) {
  @include small-view;
}
@media (min-width: 1451px) and (max-height: 770px) {
  @include small-view;
}
@media (max-width: 1000px) and (max-height: 320px) {
  @include small-view;
}

::ng-deep .dashboard-calendar-widget {
  width: 45%;
  height: 100%;
  .cal-day-cell,
  .cal-cell-top {
    min-height: 30px !important;
    height: 100% !important;
    border: 0 !important;
  }

  .cal-days,
  .cal-cell-row {
    border: 0 !important;
  }

  .cal-cell-row {
    border: 0 !important;
    margin-top: 5px;
  }

  .cal-day-number {
    margin-top: 0 !important;
  }

  .cal-today .cal-day-number {
    font-size: 1.2em !important;
  }

  .cal-month-view {
    margin-left: 1em;
  }

  .cal-header {
    display: none !important;
  }

  .day-number {
    border: 0 !important;
    text-align: center;
  }

  .events-container {
    display: flex;
    height: calc(100% - 18px);
  }

  .in-calendar-dot {
    width: 8px;
    height: 8px;
    margin-top: 0;
    margin-right: 0.2em;
    border-radius: 8px;
    cursor: pointer;
    z-index: 6;
  }

  .more-events-popover {
    font-size: 10px;
    display: flex;
    margin-top: 17px;
    position: ABSOLUTE;
    background-color: $bg-primary;
    height: 16px;
    padding: 4px;
    min-width: 29px;
    border: solid 1px rgba($shadow-color-rgb, 0.1);
    border-radius: 4px;
    z-index: 5;

    .arrow {
      z-index: 4;
      transform: rotate(45deg);
      margin-top: -9px;
      border-radius: 2px;
      margin-left: 5px;
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: $bg-primary;
      border-top: solid 1px rgba($shadow-color-rgb, 0.1);
      border-left: solid 1px rgba($shadow-color-rgb, 0.1);
    }
  }

  .more-events {
    font-size: 10px;
    margin-top: -3px;
  }

  .placeholder-for-tooltip {
    z-index: 10;
  }

  @keyframes bounceIn {
    0% {
      transform: scale(0.8);
    }
    60% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

  .animate-day {
    animation-duration: 1s;
    animation-name: bounceIn;
  }
}

::ng-deep.in-calendar-dot .tooltip-arrow {
  transform: rotate(3deg) !important;
  margin-top: -2px !important;
  background-color: transparent !important;
}

.calendar-header {
  .title {
    color: $text-title;
    font-size: 16px;
    font-weight: $Medium;
  }

  .description {
    color: $text-secondary;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: $Medium;
  }

  .add-task {
    float: right;
    cursor: pointer;

    img {
      margin-right: 0.5em;
    }

    span {
      color: $primary;
    }

    .dots-icon {
      height: 8px !important;
    }

    .new-task {
      display: inline-flex;
      line-height: 30px;
      margin-left: -17px;
    }
  }
}

::ng-deep.dashboard-calendar-content {
  mwl-clandar-month-view-header,
  .cal-days,
  .cal-cell-row,
  .cal-month-view {
    height: 100%;
  }

  .month-week-2 .cal-days > .ng-star-inserted {
    height: 50%;
  }

  .month-week-3 .cal-days > .ng-star-inserted {
    height: 33%;
  }

  .month-week-4 .cal-days > .ng-star-inserted {
    height: 25%;
  }

  .month-week-5 .cal-days > .ng-star-inserted {
    height: 20%;
  }

  .month-week-6 .cal-days > .ng-star-inserted {
    height: 16%;
  }

  .month-week-7 .cal-days > .ng-star-inserted {
    height: 14%;
  }
}

.dashboard-calendar-content {
  padding-right: 2em;
  height: calc(100% - 88px);
  min-height: 85px;

  .tasks {
    overflow-y: auto;
    height: calc(100% + 16px);

    .task-item {
      display: flex;
      cursor: pointer;

      .dot {
        width: 8px;
        height: 8px;
        margin-top: 0.5em;
        margin-right: 0.5em;
        border-radius: 8px;
      }

      .content {
        font-weight: $Medium;

        .task-title {
          color: $text-title;
          font-size: 13px;
        }

        .task-description {
          color: $text-secondary;
          font-size: 10px;
        }
      }
    }
  }
}

.panel-icon:hover,
.panel-icon {
  background-size: contain;
  width: 20px;
}
