<div class="calendar-header row pl-4 mt-2 mb-2 pr-4">
  <div class="col-md-7 title-container">
    <div class="title">{{ "dashboard.panels.calendar.title" | translate }}</div>
    <div class="description">
      {{ "dashboard.panels.calendar.description" | translate }}
    </div>
  </div>
  <div class="col-md-5 add-task pl-0 ml-0 pr-0">
    <span (click)="addTask.open()" class="new-task">
      <img src="assets/icons/add-active.svg" />
      <span>{{ "dashboard.panels.calendar.addTask" | translate }}</span>
    </span>
    <app-icon
      *ngIf="widget"
      svgIcon="trash"
      size="19px"
      (click)="removeWidget()"
      appTooltip="DELETE"
      class="float-right mt-2"
    ></app-icon>
  </div>
</div>
<div class="row dashboard-calendar-content">
  <div
    class="dashboard-calendar-widget col-md-7"
    [ngClass]="'month-week-' + weekCount"
  >
    <mwl-calendar-month-view
      [viewDate]="viewDate"
      [locale]="locale"
      [events]="events"
      [cellTemplate]="monthCellTemplate"
      (dayClicked)="viewDate = $event.day.date; setWeekCount()"
    >
    </mwl-calendar-month-view>
  </div>
  <div class="col-md-5 tasks pl-0">
    <div *ngFor="let task of tasks">
      <div class="task-item" (click)="taskClicked(task)">
        <div class="dot" [style.backgroundColor]="task.color"></div>
        <div class="content">
          <div class="task-title">{{ task.subject }}</div>
          <div class="task-description">
            {{ task.dateTimeFrom | formatDate: true }} -
            {{
              datesEqual(task.dateTimeFrom, task.dateTimeTo)
                ? (task.dateTimeTo | formatTime)
                : (task.dateTimeTo | formatDate: true)
            }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #monthCellTemplate let-day="day" let-locale="locale">
  <div
    class="cal-cell-top"
    [ngClass]="{ 'animate-day': isDaySelected(day.date) }"
  >
    <div class="day-number">
      {{ day.date | calendarDate: "monthViewDayNumber":locale }}
    </div>
    <div class="events-container" *ngIf="day">
      <ng-container *ngIf="day.events.length > 0 && day.events.length < 4">
        <div
          *ngFor="let event of day.events"
          class="in-calendar-dot"
          [style.backgroundColor]="event.color.primary"
          [title]="event.title"
        ></div>
      </ng-container>

      <ng-container *ngIf="day.events.length > 3">
        <div
          *ngFor="let event of day.events.slice(0, 2)"
          class="in-calendar-dot"
          [style.backgroundColor]="event.color.primary"
          (mouseover)="moreEventTooltip.show()"
          (mouseout)="moreEventTooltip.hide()"
        >
          <div
            class="placeholder-for-tooltip"
            [tooltip]="event.title"
            #moreEventTooltip="bs-tooltip"
            placement="top"
          ></div>
        </div>
        <div class="more-events-popover" *ngIf="moreEventsForDay == day.date">
          <div class="arrow"></div>
          <div
            *ngFor="let event of day.events.slice(2, day.events.length)"
            class="in-calendar-dot"
            [style.backgroundColor]="event.color.primary"
            (mouseover)="moreEventOnPopoverTooltip.show()"
            (mouseout)="moreEventOnPopoverTooltip.hide()"
          >
            <div
              class="placeholder-for-tooltip"
              [tooltip]="event.title"
              #moreEventOnPopoverTooltip="bs-tooltip"
              placement="left"
            ></div>
          </div>
        </div>
        <div
          class="clickable more-events"
          *ngIf="moreEventsForDay != day.date"
          (click)="$event.stopPropagation(); moreEventsForDay = day.date"
        >
          +{{ day.events.length - 2 }}
        </div>
      </ng-container>
    </div>
  </div>
</ng-template>

<app-slider
  #addTask
  width="35vw"
  [title]="'calendar.task.form.addTitle' | translate"
  key="Calendar.AddSlider"
  [group]="'taskFormGroup'"
>
  <app-task-add
    (eventAdded)="loadEvents()"
    [slider]="addTask"
    [eventInfo]="newEvent"
  ></app-task-add>
</app-slider>
