<form [formGroup]="customerForm" class="h-100">
  <div class="row card-height pl-0 pr-0 m-0 card-padding">
    <div class="col-md-12 p-0 m-0 h-100">
      <mat-card
        *ngIf="!customersToChangeOwnerOperation"
        class="mat-elevation-z0 left-card card-border-radius mat-card ml-0 mr-0 no-bottom-left-border-radius no-bottom-right-border-radius"
      >
        <mat-card-content class="fill-parent crm-form p-3">
          <div class="row mt-3 mb-2 ml-0 mr-0">
            <div class="col-md-5">
              <h5 class="title">{{ "customer.form.basicInfo" | translate }}</h5>
            </div>
          </div>

          <div class="row field-margin">
            <div class="col-md-12">
              <mat-form-field *ngIf="authKey + 'nipField' | auth: 'i':true">
                <input
                  matInput
                  required
                  (ngModelChange)="checkIfNipExistsInDb($event)"
                  [placeholder]="'customer.form.nip' | translate"
                  formControlName="nip"
                  mask="000-000-00-00"
                  [validation]="true"
                />
                <mat-error *ngIf="nip.hasError('required')">
                  {{ "customer.form.nipRequired" | translate }}
                </mat-error>
                <mat-error *ngIf="nip.hasError('whitespace')">
                  {{ "sharedValidators.whitespace" | translate }}
                </mat-error>
                <mat-error *ngIf="nip.hasError('minlength')">
                  {{ "customer.form.nipMinLength" | translate }}
                </mat-error>
                <mat-error *ngIf="nip.hasError('nipExists')">
                  {{ "customer.form.nipExists" | translate }}
                </mat-error>
                <span
                  class="import-from-gus"
                  (click)="getDataFromGUS($event)"
                  *ngIf="'CustomerFormComponent.getFromGus' | auth: 'w'"
                >
                  <img
                    src="assets/icons/add-light-grey.svg"
                    class="import-from-gus-icon"
                  />
                  {{ "customer.form.add.importFromGUS" | translate }}
                </span>
              </mat-form-field>
            </div>
          </div>

          <div class="row field-margin">
            <div class="col-md-12">
              <mat-form-field *ngIf="authKey + 'nameField' | auth: 'i':true">
                <input
                  matInput
                  required
                  [placeholder]="'customer.form.name' | translate"
                  formControlName="name"
                />
                <mat-error *ngIf="name.hasError('required')">
                  {{ "customer.form.nameRequired" | translate }}
                </mat-error>
                <mat-error *ngIf="name.hasError('whitespace')">
                  {{ "sharedValidators.whitespace" | translate }}
                </mat-error>
                <mat-error *ngIf="name.hasError('maxlength')">
                  {{ "sharedValidators.valueTooLong" | translate }}
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row field-margin">
            <div class="col-md-12 first-to-contact-field">
              <mat-form-field
                *ngIf="authKey + 'firstToContactField' | auth: 'i':true"
              >
                <mat-select
                  formControlName="firstToContact"
                  [disableRipple]="true"
                  [disableOptionCentering]="true"
                  panelClass="dropdown-w-100"
                >
                  <mat-option
                    *ngFor="let contact of updatedCustomer?.contacts"
                    [value]="contact.uuid"
                    >{{ contact?.name }} {{ contact?.surname }}</mat-option
                  >
                  <mat-option
                    [value]="undefined"
                    class="new-first-to-contact-option"
                    (click)="openMoreInfo()"
                  >
                    <app-icon svgIcon="plus" [hover]="false"></app-icon>
                    {{ "customer.form.addNewContact" | translate }}</mat-option
                  >
                </mat-select>
                <mat-placeholder class="placeholder">{{
                  "customer.form.firstToContact" | translate
                }}</mat-placeholder>
              </mat-form-field>
            </div>
          </div>

          <div class="row field-margin">
            <div class="col-md-12">
              <mat-form-field
                *ngIf="authKey + 'phoneField' | auth: 'i':true"
                class="add-phone-input"
              >
                <input
                  matInput
                  [placeholder]="'customer.form.phone' | translate"
                  formControlName="phone"
                  [mask]="phoneService.getPhoneInputMask(phone.value)"
                  type="tel"
                  [validation]="true"
                />
                <mat-error *ngIf="phone.hasError('minlength')">
                  {{ "customer.form.phoneMinLength" | translate }}
                </mat-error>
                <mat-error *ngIf="phone.hasError('maxlength')">
                  {{ "sharedValidators.valueTooLong" | translate }}
                </mat-error>
              </mat-form-field>
              <app-icon
                svgIcon="add"
                (click)="addAdditionalPhone($event)"
                class="add-phone"
              ></app-icon>
            </div>
          </div>

          <div class="row field-margin">
            <div class="col-md-12">
              <app-additional-phone-numbers
                *ngIf="updatedCustomer || !update"
                [addFieldSubject]="addAdditionalPhoneNumbers$"
                [form]="customerForm"
                [initial-phones]="
                  update ? updatedCustomer.additionalPhones : []
                "
                field-name="additionalPhones"
              >
              </app-additional-phone-numbers>
            </div>
          </div>

          <div class="row field-margin">
            <div class="col-md-12">
              <mat-form-field *ngIf="authKey + 'websiteField' | auth: 'i':true">
                <input
                  matInput
                  [placeholder]="'customer.form.website' | translate"
                  type="text"
                  formControlName="website"
                />
                <mat-error *ngIf="website.hasError('maxlength')">
                  {{ "sharedValidators.valueTooLong" | translate }}
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row field-margin">
            <div class="col-md-12">
              <mat-form-field *ngIf="authKey + 'linkedInField' | auth: 'i':true">
                <input
                  matInput
                  [placeholder]="'customer.form.linkedIn' | translate"
                  type="text"
                  formControlName="linkedIn"
                />
                <mat-error *ngIf="website.hasError('maxlength')">
                  {{ "sharedValidators.valueTooLong" | translate }}
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row field-margin mt-2">
            <div class="w-100">
              <app-additional-data-form
                #additionalDataFormComponent
                [addFieldSubject]="addAdditionalField$"
                [showPlusButton]="false"
                [additionalDataString]="additionalData"
              ></app-additional-data-form>
            </div>
          </div>

          <div class="row field-margin">
            <div class="col-md-12">
              <app-customer-whitelist
                [nip]="nip.value"
              ></app-customer-whitelist>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card
        class="owner-panel-height main-mat-card mat-elevation-z0 mat-card ml-0 mr-0 no-bottom-left-border-radius no-bottom-right-border-radius no-top-left-border-radius no-top-right-border-radius card-border-radius"
      >
        <div class="fill-parent w-100">
          <div class="owner-field">
            <mat-form-field *ngIf="authKey + 'ownerField' | auth: 'i':true">
              <mat-select
                #ownerSelect
                formControlName="owner"
                [disableRipple]="true"
                [disableOptionCentering]="true"
                panelClass="dropdown-w-100"
              >
                <mat-option
                  *ngFor="let user of accountEmails"
                  [value]="user?.id"
                  >{{ user?.name }} {{ user?.surname }}</mat-option
                >
              </mat-select>
              <mat-placeholder class="placeholder">{{
                "customer.form.owner" | translate
              }}</mat-placeholder>
              <mat-error *ngIf="owner.hasError('required')">
                {{ "customer.form.ownerRequired" | translate }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</form>
