@import '~src/styles/colors';

::ng-deep.role-form-assigned-accounts {
  background-color: transparent !important;

  .mat-option-pseudo-checkbox {
    display: none;
  }

  .mat-option-text {
    color: $text-title;
  }
}
