<form [formGroup]="roleFormGroup">
  <mat-form-field class="w-100">
    <input matInput required
           [placeholder]="'permissions.role.form.name' | translate"
           formControlName="name">
    <mat-error
      *ngIf="roleFormGroup.get('name').hasError('required')">{{'permissions.role.form.nameRequired' | translate}}</mat-error>
    <mat-error *ngIf="roleFormGroup.get('name').hasError('whitespace')">
      {{'sharedValidators.whitespace' | translate}}
    </mat-error>
    <mat-error *ngIf="roleFormGroup.get('name').hasError('maxlength')">
      {{'sharedValidators.valueTooLong' | translate}}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="w-100">
    <mat-label> {{ 'permissions.role.form.supervisor' | translate }}</mat-label>
    <mat-select formControlName="supervisor">
      <mat-option *ngFor="let role of roles" [value]="role.id">
          {{role.name}}
      </mat-option>
    </mat-select>
    <mat-error
      *ngIf="roleFormGroup.get('supervisor').hasError('roleComparison')">{{'permissions.role.form.roleCannotBeItsSupervisor' | translate}}</mat-error>
  </mat-form-field>

  <mat-form-field class="w-100">
    <mat-label>{{'permissions.role.form.profile' | translate}}</mat-label>
    <mat-select formControlName="profiles" multiple required>
      <mat-option *ngFor="let profile of profiles" [value]="profile.id">{{profile.name}}</mat-option>
    </mat-select>
    <mat-error
      *ngIf="roleFormGroup.get('profiles').hasError('required')">{{'permissions.role.form.profileRequired' | translate}}</mat-error>
  </mat-form-field>

  <mat-form-field class="w-100" *ngIf="role && role.hasChildren">
    <mat-label> {{ 'permissions.role.form.assignedAccount' | translate }}</mat-label>
    <mat-select formControlName="account">
      <mat-option *ngFor="let account of accounts" [value]="account.id">
        {{account.email}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-100" *ngIf="!role || !role.hasChildren">
    <mat-label>{{'permissions.role.form.assignedAccounts' | translate}}</mat-label>
    <mat-select formControlName="accounts" multiple>
      <mat-option class="role-form-assigned-accounts" *ngFor="let account of accounts" [value]="account.id"
                  [disabled]="true">{{account.email}}</mat-option>
    </mat-select>
  </mat-form-field>
</form>
