<div class="card-container">
  <mat-card class="main-card card-border-radius no-bottom-left-border-radius no-bottom-right-border-radius">
    <div class="inner-container">
      <div class="basic-info-container">
        <div class="image-box">
          <app-avatar-preview [rounded]="false" [imageSrc]="customer?.avatar" [widthPx]="100" defaultImg="assets/icons/customer-details.svg"></app-avatar-preview>
        </div>
        <div class="info-box">
          <div class="mb-3">
            <div class="info-header-text" *ngIf="!('CustomerDetailsComponent.name' | auth:'i')">{{customer?.name}}</div>
            <div class="info-highlighted-text" *ngIf="!('CustomerDetailsComponent.webpage' | auth:'i')">{{customer?.website}}</div>
          </div>
          <div class="address-box mb-3" *ngIf="!('CustomerDetailsComponent.address' | auth:'i')">
            <div class="gps-icon" *ngIf="customer?.address?.street">
              <img src="assets/icons/gps-line-grey.svg">
            </div>
            <div>
              {{customer?.address?.street}} {{customer?.address?.buildNumber}}
              <span *ngIf="customer?.address?.flatNumber as flatNumber">/{{flatNumber}}</span>
            </div>
            <div>{{customer?.address?.zipCode}} {{customer?.address?.city}}</div>
            <div>{{customer?.address?.country}}</div>
          </div>
          <div class="mb-3">
            <div class="info-text" *ngIf="!('CustomerDetailsComponent.phone' | auth:'i')">{{customer?.phone | phone}}</div>
            <div class="info-highlighted-text-second" *ngIf="!('CustomerContactsComponent.email' | auth:'i')">{{mainEmail}}</div>
          </div>
        </div>
      </div>
      <div class="contacts-container">
        <div class="contacts-header">{{'customer.basicInfo.contacts' | translate}}</div>
        <div class="contacts-item" *ngFor="let contact of customer?.contacts">
          <app-avatar-preview [imageSrc]="contact?.avatar" [widthPx]="40" defaultImg="assets/icons/user-logo.svg"></app-avatar-preview>
          <div>
            <div class="contact-name-text" *ngIf="!('CustomerContactsComponent.name' | auth:'i')">{{contact.name}} {{contact.surname}}</div>
            <div class="contact-position-text" *ngIf="!('CustomerContactsComponent.position' | auth:'i')">{{contact.position}}</div>
          </div>
          <div class="flex-grow-1">
            <div class="contact-phone-text" *ngIf="!('CustomerContactsComponent.phone' | auth:'i')">{{contact.phone | phone}}</div>
            <div class="contact-email-text" *ngIf="!('CustomerContactsComponent.email' | auth:'i')">{{contact.email}}</div>
          </div>
        </div>
        <div class="contacts-item">
        </div>
      </div>
    <div class="card-divider"></div>
    <div class="tabs-container">

      <mat-tab-group>
        <mat-tab [label]="'customer.basicInfo.plannedActivities' | translate">
          <div class="activity-container">
            <div class="activity-item">
              <div class="activity-date-text flex-5">Jutro, 15:58</div>
              <div class="activity-icon flex-2">
                <img
                  src="assets/icons/mail.svg">
              </div>
              <div class="flex-10">
                <div class="activity-text-primary">Rozmowa z Karoliną</div>
                <div class="activity-text-secondary">Kilkuliterowy skrót z opisu, jeśli taki jest…</div>
              </div>
              <div class="flex-1">
                <button class="dots-icon"></button>
              </div>
              <div class="flex-1">
                <button class="down-arrow-icon"></button>
              </div>
            </div>
            <div class="activity-item">
              <div class="activity-date-text flex-5">Śr. 21 lip, 9:29</div>
              <div class="activity-icon flex-2">
                <img
                  src="assets/icons/task.svg">
              </div>
              <div class="flex-10">
                <div class="activity-text-primary">Spotkanie z Karoliną</div>
                <div class="activity-text-secondary">Przedstawienie oferty</div>
              </div>
              <div class="flex-1">
                <button class="dots-icon"></button>
              </div>
              <div class="flex-1">
                <button class="down-arrow-icon"></button>
              </div>
            </div>
            <div class="activity-item">
              <div class="activity-date-text flex-5">Pt. 23 lip, 12:45</div>
              <div class="activity-icon flex-2">
                <img
                  src="assets/icons/meeting.svg">
              </div>
              <div class="flex-10">
                <div class="activity-text-primary">Rozpoznanie rynku branży motoryzycyjnej</div>
                <div class="activity-text-secondary">Statystyki, prognozy, liderzy rynku.</div>
              </div>
              <div class="flex-1">
                <button class="dots-icon"></button>
              </div>
              <div class="flex-1">
                <button class="down-arrow-icon"></button>
              </div>
            </div>
            <div class="add-activity-box">
              <img src="assets/icons/add-active.svg"/>
              <span class="add-activity-text">{{'customer.basicInfo.addActivity' | translate}}</span>
            </div>
          </div>
        </mat-tab>
        <mat-tab [label]="'widgets.notes.title' | translate">
          <app-notes [objectTypeAndId]="{objectId: _customerId, objectType: objectType.customer}"></app-notes>
        </mat-tab>
      </mat-tab-group>
    </div>
    </div>
  </mat-card>

  <mat-card class="buttons-bar card-border-radius no-top-left-border-radius no-top-right-border-radius">
    <button mat-stroked-button class="button-medium" color="primary"
            (click)="closeSlider()">{{'customer.basicInfo.cancel' | translate}}</button>
    <button mat-raised-button class="button-medium ml-2" color="primary"
            (click)="closeSlider()">{{'customer.basicInfo.ok' | translate}}</button>
  </mat-card>
</div>


