@import "~src/styles/slider";
@import "~src/styles/font-weights.scss";
@import "~src/styles/icons.scss";
@import "./customer-basic-info-fonts.component.scss";

$card-padding: 30px;
$inner-padding: $card-padding * 0.66;
$outer-padding: $card-padding * 0.33;

mat-card {
  padding: 0;
}

.card-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  height: calc(100vh - 68px)
}

.fill-space {
  flex-grow: 1;
}

.buttons-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: $card-padding;
  height: 86px;
}


.basic-info-container {
  display: flex;
  min-height: 20%;
  padding-left: $card-padding;
}

.contacts-container {
  display: flex;
  flex-direction: column;
  min-height: 20%;
  padding-left: $card-padding;
}

.contacts-container > div {
  margin-bottom: 20px;
}

.image-box {
  margin-right: 30px;
}

.customer-image {
  width: 100px;
  height: 100px;
}

.main-card {
  flex-grow: 1;
  height: 0;
  padding: $outer-padding $outer-padding $outer-padding 0;

}

.inner-container{
  overflow: auto;
  height: 100%;
  position: relative;
  padding: $inner-padding $inner-padding $inner-padding 0;
}

.card-divider {
  width: calc(100% - #{$inner-padding});
  height: 6px;
  background: #F1F2F4;
  position: absolute;
}

.contact-photo {
  width: 48px;
  height: 48px;
  margin-right: 20px;
}



.contacts-item {
  display: flex;
  align-items: center;
}

.gps-icon {
  position: absolute;
  right: -50px;
  width: 28px;
  height: 28px;
  background: #F7F7F9;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gps-icon > img {
  width: 18px;
  height: 18px;
}

.address-box {
  position: relative;
}

.tabs-container {
  padding-left: $card-padding;
  padding-top: 10px;
  min-height: 50%;
}

// activity

.activity-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: $card-padding;
}

.activity-container > div {
  margin-top: 20px;
}

.activity-item {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.add-activity-box {
  width: 100%;
  text-align: right;
}

.flex-5 {
  flex: 5;
}

.flex-2 {
  flex: 2;
}

.flex-10 {
  flex: 10;
}

.flex-1 {
  felx: 1;
}


// notes

