@import "~src/styles/font-weights.scss";


.info-header-text {
  color: #0A1E44;
  font-size: 20px;
  font-weight: $Regular;
  letter-spacing: 0;
  line-height: 28px;
}

.info-highlighted-text {
  color: #319DF8;
  font-size: 13px;
  font-weight: $Medium;
  letter-spacing: 0;
  line-height: 20px;
}

.info-text > div {
  color: #4E5D77;
  font-size: 13px;
  font-weight: $Regular;
  letter-spacing: 0;
  line-height: 21px;
}

.info-highlighted-text-second {
  color: #319DF8;
  font-size: 13px;
  font-weight: $Regular;
  letter-spacing: 0;
  line-height: 21px;
}


.contacts-container {
  color: #8A94A6;
  font-size: 10px;
  font-weight: $Regular;
  letter-spacing: 1.2px;
  line-height: 16px;
}

.contact-name-text {
  color: #319DF8;
  font-size: 13px;
  font-weight: $Medium;
  letter-spacing: 0;
  line-height: 20px;
}

.contact-position-text {
  color: #4E5D77;
  font-size: 12px;
  font-weight: $Medium;
  letter-spacing: 0;
  line-height: 20px;
}

.contact-phone-text {
  color: #4E5D77;
  font-size: 13px;
  font-weight: $Regular;
  letter-spacing: 0;
  line-height: 20px;
  text-align: right;
}

.contact-email-text{
  color: #319DF8;
  font-size: 13px;
  font-weight: $Regular;
  letter-spacing: 0;
  line-height: 20px;
  text-align: right;
}

.contact-header {
  color: #4E5D77;
  font-size: 13px;
  font-weight: $Regular;
  letter-spacing: 0;
  line-height: 20px;
}


// activity
.activity-date-text {
  color: #8A94A6;
  font-size: 12px;
  font-weight: $Medium;
  letter-spacing: 0;
  line-height: 18px;
  text-align: right;
  margin-right: 10px;
}

.activity-text-primary {
  color: #0A1E44;
  font-size: 13px;
  font-weight: $Medium;
  letter-spacing: 0;
  line-height: 20px;
}

.activity-text-secondary {
  color: #8A94A6;
  font-size: 12px;
  font-weight: $Medium;
  letter-spacing: 0;
  line-height: 18px;
}
