@import "~src/styles/form";
@import "~src/styles/colors";
@import "~src/styles/font-weights";


.all-line-input > .mat-form-field {
  width: 100%;
  padding-right: 10px;
}

.default-margin {
  margin: 40px 10px 0 10px
}

.little-input > .mat-form-field {
  width: 90px;
}

.description-label {
  margin: 15px 0;
  color: $action-color;
}

textarea.text-area-field {
  background-color: $bg-primary;
}

.active-checkbox {
  margin-top: 10px;
}
