<form [formGroup]="priceBookForm">
  <div class="default-margin">
    <div class="all-line-input" *ngIf="(authKey + 'name' | auth:'i':true)">
      <mat-form-field>
        <input formControlName="name" matInput>
        <mat-placeholder class="placeholder">{{'priceBook.form.name' | translate}}</mat-placeholder>
        <mat-error *ngIf="name.hasError('required')">
          {{'priceBook.form.fieldRequired' | translate}}
        </mat-error>
        <mat-error *ngIf="name.hasError('whitespace')">
          {{'sharedValidators.whitespace' | translate}}
        </mat-error>
        <mat-error *ngIf="name.hasError('maxlength')">
          {{'sharedValidators.valueTooLong' | translate}}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="all-line-input" *ngIf="(authKey + 'description' | auth:'i':true)">
      <div class="description-label">{{'priceBook.form.description' | translate}}</div>
      <textarea formControlName="description"
                class="form-control mt-2 mb-4 text-area-field" rows="6"></textarea>
      <mat-error *ngIf="description.hasError('maxlength')">
        {{'sharedValidators.valueTooLong' | translate}}
      </mat-error>
    </div>

    <div class="little-input" *ngIf="(authKey + 'currency' | auth:'i':true)">
      <mat-form-field>
        <mat-select formControlName="currency" [value]="currencies[0]">
          <mat-option *ngFor="let currency of currencies" [value]="currency">{{currency | getCurrencySymbol}}</mat-option>
        </mat-select>
        <mat-placeholder class="placeholder">{{'priceBook.form.currency' | translate}}</mat-placeholder>
      </mat-form-field>
    </div>

    <div class="active-checkbox" *ngIf="(authKey + 'active' | auth:'i':true)">
      <mat-checkbox color="primary" formControlName="active">
        {{'priceBook.form.active' | translate}}
      </mat-checkbox>
    </div>
  </div>
</form>
