
@import '~src/styles/colors';
$column-gap: 20px;

.reports {

  display: grid;
  grid-column-gap: 40px;
  grid-template-columns: 1fr 1fr;


  &__category {
    width: 100%;
    grid-column: 1 / -1;
  }

  &__with-time {
    height: 50px;
    padding-top: 15px;
  }

  &__show-as {
    grid-column: 1 / -1;
  }

  &__users {
    grid-column: 1 / -1;

    table {
      width: 100%;
      margin: 15px 0;
    }

    td, th {
      padding: 15px;
      text-align: left;
      border-bottom: 1px solid $border-primary;
    }
  }

  &__x-data {
    grid-column: 1 / -1;
  }

  &__process {
    grid-column: 1 / -1;
  }


  mat-form-field {
    width: 100%;
  }

}

::ng-deep {
  .reports__start-date,
  .reports__end-date {
    .mat-button-wrapper {
      svg {
        display: none;
      }

      &::after {
        content: url("~src/assets/icons/common/colors/dark/calendar-dark.svg");
        width: 24px;
        height: 24px;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }

}

::ng-deep[theme="dark"] {
  .reports__start-date,
  .reports__end-date {
    .mat-button-wrapper {
      &::after {
        content: url("~src/assets/icons/common/colors/light/calendar-light.svg");
      }
    }
  }
}
