<div class="reports" [formGroup]="reportWidgetForm">
  <div class="reports__category">
    <mat-form-field>
      <mat-select formControlName="type" required>
        <mat-option *ngFor="let category of (reportWidgetType | enumToList)"
                    [value]="category">{{('widgetConfigurator.reportType.' + (category | lowercase)) | translate}}
        </mat-option>
      </mat-select>
      <mat-placeholder>{{'widgetConfigurator.category' | translate}}</mat-placeholder>
      <mat-error *ngIf="typeControl.hasError('required')">
        {{'widgetConfigurator.fieldRequired' | translate}}
      </mat-error>
    </mat-form-field>
  </div>

  <div class="reports__with-time">
    <mat-checkbox class="crm-checkbox mr-2" color="primary" [formControl]="withTimeControl"></mat-checkbox>
    <span>{{'widgetConfigurator.includeHour' | translate}}</span>
  </div>
  <div></div>

  <div class="reports__start-date">
    <mat-form-field>
      <input matInput [matDatepicker]="startDatePicker" [placeholder]="'widgetConfigurator.startDate' | translate"
             formControlName="startDate">
      <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker></mat-datepicker>
      <mat-error *ngIf="startDateControl.hasError('required')">
        {{'widgetConfigurator.fieldRequired' | translate}}
      </mat-error>
    </mat-form-field>
  </div>

  <div class="reports__start-time">
    <mat-form-field class="time-picker" *ngIf="withTimeControl && withTimeControl.value">
      <mat-select panelClass="dropdown-w-100" [disableRipple]="true" [disableOptionCentering]="true"
                  [placeholder]="'widgetConfigurator.time' | translate" [value]="0" formControlName="startTime">
        <mat-option *ngFor="let taskHour of taskHourList" [value]="taskHour.id">
          {{britishTimeFormat ? moment(taskHour.value, 'HH:mm').format('hh:mm A') : taskHour.value}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="startTimeControl.hasError('noTimes')">
        {{'calendar.form.validation.noTimes' | translate}}
      </mat-error>
    </mat-form-field>
  </div>


  <div class="reports__end-date">
    <mat-form-field>
      <input matInput [matDatepicker]="endDatePicker" [placeholder]="'widgetConfigurator.endDate' | translate"
             formControlName="endDate">
      <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker></mat-datepicker>
      <mat-error *ngIf="endDateControl.hasError('required')">
        {{'widgetConfigurator.fieldRequired' | translate}}
      </mat-error>
    </mat-form-field>
  </div>

  <div class="reports__end-time">
    <mat-form-field class="time-picker" *ngIf="withTimeControl && withTimeControl.value">
      <mat-select [disableRipple]="true" [disableOptionCentering]="true"
                  [placeholder]="'widgetConfigurator.time' | translate" [value]="0" formControlName="endTime">
        <mat-option *ngFor="let taskHour of taskHourList" [value]="taskHour.id">
          {{britishTimeFormat ? moment(taskHour.value, 'HH:mm').format('hh:mm A') : taskHour.value}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="startTimeControl.hasError('noTimes')">
        {{'calendar.form.validation.noTimes' | translate}}
      </mat-error>
    </mat-form-field>
  </div>
  <mat-error *ngIf="reportWidgetForm.hasError('startDayNotBefore')">
    {{'widgetConfigurator.startDayNotBefore' | translate}}
  </mat-error>

  <div class="reports__x-data" *ngIf="getXDataValues()?.length !== 0">
    <mat-form-field>
      <mat-select formControlName="xData">
        <mat-option *ngFor="let value of getXDataValues()"
                    [value]="value">{{('widgetConfigurator.xDataType.' + (value | lowercase)) | translate}}
        </mat-option>
      </mat-select>
      <mat-placeholder>{{'widgetConfigurator.xData' | translate}}</mat-placeholder>
      <mat-error *ngIf="xDataControl?.touched && xDataControl.hasError('required')">
        {{'widgetConfigurator.fieldRequired' | translate}}
      </mat-error>
    </mat-form-field>
  </div>

  <div class="reports__process" *ngIf="isOpportunityProcessSelected()">
    <mat-form-field>
      <mat-select formControlName="additionalValue">
        <mat-option *ngFor="let process of processDefinitions"
                    [value]="process?.id">{{process?.name}}
          <span *ngIf="process?.version !== 1">
            ({{'leads.form.processVersion' | translate}} {{process?.version}})
          </span>
        </mat-option>
      </mat-select>
      <mat-placeholder class="placeholder">{{'leads.form.processDefinition' | translate}}</mat-placeholder>
      <mat-error *ngIf="additionalValueControl?.touched && additionalValueControl.hasError('required')">
        {{'widgetConfigurator.fieldRequired' | translate}}
      </mat-error>
    </mat-form-field>
  </div>

  <div class="reports__show-as">
    <app-chart-type-select [value]="chartTypeControl.value"
                           (selectionChanged)="changeChartType($event)"></app-chart-type-select>
  </div>

  <div class="reports__users">
    <table>
      <tr>
        <th>{{'widgetConfigurator.userName' | translate}}</th>
      </tr>
      <tr *ngFor="let user of users">
        <td>
          <mat-checkbox class="crm-checkbox mr-2" color="primary"
                        (change)="changeParticipants(user.id, $event)"></mat-checkbox>
          <span>{{ user?.name + ' ' + user.surname }}</span>
        </td>
      </tr>
    </table>
    <mat-error *ngIf="usersControl?.touched && usersControl.hasError('required')">
      {{'widgetConfigurator.fieldRequired' | translate}}
    </mat-error>
  </div>


</div>
