<div class="tasks">
  <div class="tasks-header">
    <div
      class="tasks-container fade-out"
      [class.fade-out-visible]="
        isScrollVisible(tasksContainer) && !scrollAtTheEnd
      "
    >
      <div
        #tasksContainer
        class="tasks-scroll"
        (scroll)="onScroll($event.target)"
      >
        <ng-container *ngFor="let task of lead.tasks; let i = index">
          <div
            *ngIf="i !== lead.tasks.length - 1"
            class="task-box"
            (click)="taskSelect(task)"
            [class.first-task-box]="i === 0"
            [class.done]="
              task.past ||
              (lead.rejectionReason &&
                (task.active || (task.past && i === lead.tasks.length - 2)))
            "
            [class.pointer]="!task.isInformationTask"
            [class.active]="task.active"
            [class.future]="!task.active && !task.past"
            [class.error]="isTaskError(task)"
            [class.touched]="task.id === taskOnScreen.id"
            [class.with-documentation]="
              task.documentation && task.active && !lead.closeResult
            "
            [ngClass]="
              'task-color-' +
              bpmnUtil.getColorNameFromLead(
                lead,
                task.active ||
                  (lead.rejectionReason &&
                    (task.active || (task.past && i === lead.tasks.length - 2)))
              ) +
              (task.id === taskOnScreen.id ? '-touched' : '')
            "
            [ngStyle]="{ color: lead.textColor }"
            taskTooltip
            [taskTooltipData]="createTaskTooltipData(task.documentation)"
            [taskTooltipShow]="
              task.documentation && task.active && !lead.closeResult
            "
          >
            <div class="task-box-content">
              <div *ngIf="isAlertTask(task)">
                <img
                  class="complete-task-icon"
                  src="assets/icons/warning.svg"
                />
              </div>
              <div
                *ngIf="
                  ('LeadDetailsComponent.goBack' | auth: 'w') &&
                  i !== 0 &&
                  (i !== 1 || !lead.tasks[0].isInformationTask) &&
                  task.active &&
                  !lead.acceptanceUserId &&
                  !lead?.convertedToOpportunity
                "
              >
                <button
                  class="btn-go-previous btn-transparent"
                  (click)="tryGoPrevious()"
                >
                  <i class="fa fa-arrow-left"></i>
                </button>
              </div>
              <div class="percentage" *ngIf="task.percentage">
                {{ task.percentage }}%
              </div>
              <div class="task-text-margin">
                <span>
                  <div
                    class="task-name"
                    matTooltip="{{ task.name | uppercase }}"
                    matTooltipPosition="above"
                    matTooltipClass="task-name-tooltip"
                    [matTooltipDisabled]="task.name.length <= 20"
                  >
                    {{ task.name | uppercase | limitToLength: 20 }}
                  </div>
                </span>
              </div>
              <span class="task-check-icon" *ngIf="task.past">
                <img src="assets/icons/check.svg" />
              </span>
              <div
                *ngIf="task.documentation && task.active && !lead.closeResult"
                class="light-bulb-container"
              >
                <div class="light-bulb light-bulb-white"></div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="end-line-buttons">
      <button
        mat-raised-button
        class="convert-button"
        [ngStyle]="
          isTaskButtonDisabled()
            ? {}
            : { color: lead.textColor, 'background-color': lead.bgColor }
        "
        (click)="completeTask()"
        [disabled]="isTaskButtonDisabled()"
        *ngIf="
          ('LeadDetailsComponent.completeTask' | auth: 'w') &&
          !isTasksCompleted()
        "
      >
        {{ "leads.details.completeTask" | translate }}
      </button>

      <button
        *ngIf="
          !isConvertedToOpportunity() &&
          ('LeadConversionComponent.convert' | auth: 'w')
        "
        class="convert-button"
        (click)="openConversionSlider()"
        mat-raised-button
        disableRipple
        [ngStyle]="{
          color: lead.textColor,
          'background-color': lead.bgColor
        }"
      >
        {{ "leads.details.convertToOpportunity" | translate }}
      </button>

      <button
        color="primary"
        mat-stroked-button
        class="convert-button"
        (click)="tryCloseLead()"
        *ngIf="lead.acceptanceUserId == undefined && !lead?.closeResult"
      >
        {{ "leads.details.closeLead" | translate }}
      </button>
    </div>
  </div>
</div>
