<form [formGroup]="opportunityForm" class="h-100">
  <div class="form-container row slider-separator">
    <div class="col-md-6">
      <div class="card-padding">
        <div>
          <h5 class="title ml-3">
            {{ "opportunity.form.basicInfo" | translate }}
          </h5>
        </div>
        <div>
          <mat-form-field
            class="pl-3 pr-3 mt-4 w-100"
            *ngIf="authKey + 'nameField' | auth: 'i':true">
            <input formControlName="name"
                   matInput
                   required/>
            <mat-placeholder class="placeholder">
              {{ "opportunity.form.name" | translate }}</mat-placeholder>
            <mat-error *ngIf="name.hasError('required')">
              {{ "opportunity.form.fieldRequired" | translate }}
            </mat-error>
            <mat-error *ngIf="name.hasError('whitespace')">
              {{ "sharedValidators.whitespace" | translate }}
            </mat-error>
            <mat-error *ngIf="name.hasError('maxlength')">
              {{ "sharedValidators.valueTooLong" | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field
            class="pl-3 pr-3 w-100"
            *ngIf="authKey + 'customerField' | auth: 'i':true">
            <mat-label>{{ "opportunity.form.customer" | translate }}</mat-label>
            <span class="inline">
              <input
                matInput
                required
                [placeholder]=" 'opportunity.form.write3CharToSearch' | translate "
                (keyup.arrowDown)="customerSearchAutocomplete.showPanel = true"
                formControlName="customerSearch"
                [matAutocomplete]="customerSearchAutocomplete"/>
              <app-icon
                svgIcon="search"
                [hover]="false"
                [pointer]="false"
                size="16px"
                class="pr-1">
              </app-icon>
            </span>
            <mat-autocomplete
              #customerSearchAutocomplete="matAutocomplete"
              (optionSelected)="customerSelect($event.option.value)">
              <mat-option
                *ngFor="let object of filteredCustomers"
                [value]="object"
                class="single-line-option">
                <div class="search-result-text">{{ object.label }}</div>
              </mat-option>
              <mat-option
                [value]="undefined"
                class="single-line-option"
                *ngIf="'CustomerAddComponent.save' | auth: 'w'"
                (click)="customerAddSlider.open()">
                <app-icon svgIcon="plus" [hover]="false"></app-icon>
                {{ "opportunity.form.addNewCustomer" | translate }}</mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="customerId.hasError('required')">
              {{ "opportunity.form.fieldRequiredSelectOrAdd" | translate }}
            </mat-error>
            <mat-error
              *ngIf=" !customerId.hasError('required') && customerSearch.hasError('valueModified')">
              {{ "opportunity.form.valueModified" | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field
            class="pl-3 pr-3 w-100"
            *ngIf="authKey + 'contactField' | auth: 'i':true">
            <mat-label>{{ "opportunity.form.contact" | translate }}</mat-label>
            <span class="inline">
              <input
                matInput
                required
                [placeholder]=" 'opportunity.form.write3CharToSearch' | translate "
                (keyup.arrowDown)="contactSearchAutocomplete.showPanel = true"
                formControlName="contactSearch"
                [matAutocomplete]="contactSearchAutocomplete"/>
            </span>
            <mat-autocomplete
              #contactSearchAutocomplete="matAutocomplete"
              (optionSelected)="contactSelect($event.option.value)">
              <mat-option
                *ngFor="let contact of filteredContacts"
                [value]="contact"
                class="single-line-option">
                <div class="search-result-text">{{ contact.label }}</div>
              </mat-option>
              <mat-option
                [value]="undefined"
                class="single-line-option search-text"
                (click)="newContact.open()">
                <app-icon svgIcon="plus" [hover]="false"></app-icon>
                {{ "contacts.link.newContact" | translate }}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="contactId.hasError('required')">
              {{ "opportunity.form.fieldRequiredSelectOrAdd" | translate }}
            </mat-error>
            <mat-error *ngIf=" !contactId.hasError('required') && contactSearch.hasError('valueModified')">
              {{ "opportunity.form.valueModified" | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <!-- TODO: update dashboard widget -->
          <mat-form-field
            class="pl-3 pr-3 w-100"
            *ngIf="authKey + 'priorityField' | auth: 'i':true">
            <mat-select
              formControlName="priority"
              [disableRipple]="true"
              [disableOptionCentering]="true"
              panelClass="dropdown-w-100">
              <mat-option
                *ngFor="let priority of availableOpportunityPriorities"
                [value]="priority">
                {{ "opportunity.form.priorities." + priority.toLowerCase() | translate }}
              </mat-option>
            </mat-select>
            <mat-placeholder class="placeholder">
              {{ "opportunity.form.priority" | translate }}</mat-placeholder>
          </mat-form-field>
        </div>

        <div class="mt-4">
          <div class="price-input pl-3 pr-3">
            <mat-form-field  *ngIf="authKey + 'amountField' | auth: 'i':true">
              <input
                formControlName="amount"
                matInput
                mask="separator.2"
                [validation]="false" />
              <mat-placeholder class="placeholder">
                {{ "opportunity.form.amount" | translate }}
              </mat-placeholder>
              <mat-error *ngIf="amount.hasError('min')">
                {{ "opportunity.form.minValue" | translate }}
              </mat-error>
              <mat-error *ngIf="amount.hasError('max')">
                {{ "sharedValidators.valueTooLong" | translate }}
              </mat-error>
            </mat-form-field>
          </div>
           <div class="little-input pl-3">
             <mat-form-field  *ngIf="authKey + 'currencyField' | auth: 'i':true">
               <mat-select required formControlName="currency">
                 <mat-option
                   *ngFor="let currency of currencies"
                   [value]="currency">
                   {{ currency | getCurrencySymbol }}
                 </mat-option>
               </mat-select>
               <mat-placeholder class="placeholder">
                 {{ "opportunity.form.currency" | translate }}
               </mat-placeholder>
               <mat-error *ngIf="currency.hasError('required')">
                 {{ "opportunity.form.fieldRequired" | translate }}
               </mat-error>
             </mat-form-field>
           </div>
          <div class="d-inline-block pr-3 float-right">
            <mat-form-field class="calendar-field"
                            *ngIf="authKey + 'createDateField' | auth: 'i':true">
              <input
                matInput
                required
                [matDatepicker]="createDatePicker"
                [placeholder]="'opportunity.form.createDate' | translate"
                [max]="finishDate.value"
                formControlName="createDate"/>
              <mat-datepicker-toggle
                matSuffix
                [for]="createDatePicker"
                class="custom-calendar-icon">
              </mat-datepicker-toggle>
              <mat-datepicker #createDatePicker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div class="mt-1">
          <div class="d-inline-block pl-3">
            <mat-form-field class="probability"
                            *ngIf="authKey + 'probabilityField' | auth: 'i':true">
              <input formControlName="probability" matInput mask="099" />
              <span matSuffix>%</span>
              <mat-placeholder class="placeholder">
                {{ "opportunity.form.probability" | translate }}</mat-placeholder>
              <mat-error *ngIf="probability.hasError('min') || probability.hasError('max')">
                {{ "opportunity.form.minMaxValue" | translate }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="d-inline-block pr-3 float-right">
            <mat-form-field class="calendar-field"
                            *ngIf="authKey + 'finishDateField' | auth: 'i':true">
              <input
                matInput
                [matDatepicker]="finishDatePicker"
                [placeholder]="'opportunity.form.finishDate' | translate"
                [min]="createDate.value"
                formControlName="finishDate"/>
              <mat-datepicker-toggle
                matSuffix
                [for]="finishDatePicker"
                class="custom-calendar-icon"></mat-datepicker-toggle>
              <mat-datepicker #finishDatePicker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div *ngIf="!update">
          <mat-form-field
            class="pl-3 pr-3 mt-4 w-100"
            *ngIf="authKey + 'processDefinitionField' | auth: 'i':true">
            <mat-select formControlName="processDefinitionId" required>
              <mat-option
                *ngFor="let process of processDefinitions"
                [value]="process?.id">
                {{ process?.name }}
                <span *ngIf="process?.version !== 1">
                  ({{ "opportunity.form.processVersion" | translate }}
                  {{ process?.version }} )</span>
              </mat-option>
            </mat-select>
            <mat-placeholder class="placeholder">
              {{ "opportunity.form.processDefinition" | translate }}
            </mat-placeholder>
            <mat-error *ngIf="processDefinitionId.hasError('required')">
              {{ "opportunity.form.fieldRequired" | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div *ngIf="!update">
          <mat-form-field class="pl-3 pr-3 w-100 input-inactive">
            <input
              matInput
              [placeholder]="'opportunity.form.task' | translate"
              [value]="getProcessFirstTask()"
              disabled/>
          </mat-form-field>
        </div>
        <div class="pl-3 pr-3 mt-4"
          *ngIf="authKey + 'descriptionField' | auth: 'i':true">
          <div class="field-text mb-1">
            {{ "opportunity.form.description" | translate }}
          </div>
          <textarea
            formControlName="description"
            [placeholder]="'opportunity.form.description' | translate"
            class="form-control w-100 text-area-field"
            rows="5">
            {{ description.value }}</textarea>
          <mat-error *ngIf="description.hasError('maxlength')">
            {{ "sharedValidators.valueTooLong" | translate }}
          </mat-error>
        </div>
      </div>
    </div>
    <span class="separator"></span>
    <div class="col-md-6">
      <div class="card-padding">
        <div>
          <h5 class="title ml-3">
            {{ "opportunity.form.additionalInfo" | translate }}
          </h5>
        </div>
        <div>
          <mat-form-field
            class="pl-3 mt-4 pr-3 w-100"
            *ngIf="authKey + 'sourceOfAcquisitionField' | auth: 'i':true">
            <mat-select
              formControlName="sourceOfAcquisition"
              #sourceOfAcquisitionSelect
              (closed)="getSubSourceOfAcquisition()">
              <mat-option
                #noCategoryOption
                class="category-option without-category-text"
                [value]="undefinedCategoryId">
                {{ "opportunity.form.withoutCategory" | translate }}
              </mat-option>
              <mat-option
                *ngFor="let category of allSourceOfAcquisition"
                #categoryOption
                class="category-option category-option-text"
                [value]="category.id">
                {{ category?.name }}
              </mat-option>
              <div class="dropdown-footer"
                *ngIf="'OpportunityShared.addSourceOfAcquisition' | auth: 'w'">
                <app-icon svgIcon="plus" [primary]="true"></app-icon>
                <div class="add-new-category-text clickable"
                  (click)="openAddSourceOfAcquisitionSlider(sourceOfAcquisitionSelect)">
                  {{ "opportunity.form.addSourceOfAcquisition" | translate }}
                </div>
              </div>
            </mat-select>
            <mat-placeholder class="placeholder">{{
              "opportunity.form.sourceOfAcquisition" | translate
            }}</mat-placeholder>
          </mat-form-field>
          <mat-form-field
            class="pl-3 pr-3 w-100"
            *ngIf="authKey + 'sourceOfAcquisitionField' | auth: 'i':true">
            <mat-select
              formControlName="subSourceOfAcquisition"
              #sourceOfAcquisitionSubcategorySelect>
              <mat-option
                #noSubcategoryOption
                class="category-option without-category-text"
                [value]="undefinedCategoryId">
                {{ "opportunity.form.withoutSubCategory" | translate }}
              </mat-option>
              <mat-optgroup
                class="category-header"
                *ngFor="let category of allSubSourceOfAcquisition"
                [label]="category.name">
                <ng-container *ngFor="let subcategory of category.children">
                  <mat-option
                    [value]="subcategory.id"
                    class="category-option category-option-text">
                    <div class="ml-3">{{ subcategory.name }}</div>
                  </mat-option>
                </ng-container>
              </mat-optgroup>
              <div
                class="dropdown-footer"
                *ngIf="'OpportunityShared.addSourceOfAcquisition' | auth: 'w'">
                <app-icon svgIcon="plus" [primary]="true"></app-icon>
                <div
                  class="add-new-category-text clickable"
                  (click)="openAddSubSourceOfAcquisitionSlider(sourceOfAcquisitionSubcategorySelect)">
                  {{ "opportunity.form.addSubSourceOfAcquisition" | translate }}
                </div>
              </div>
            </mat-select>
            <mat-placeholder class="placeholder">
              {{"opportunity.form.subSourceOfAcquisition" | translate }}</mat-placeholder>
          </mat-form-field>
          <mat-form-field
            class="pl-3 pr-3 w-100"
            *ngIf="authKey + 'subjectOfInterestField' | auth: 'i':true">
            <mat-select
              formControlName="subjectOfInterest"
              #subjectOfInterestSelect
              tabIndex="120">
              <mat-option
                #noCategoryOption
                class="category-option without-category-text"
                [value]="undefinedCategoryId">
                {{ "opportunity.form.subjectOfInterestCategory.withoutCategory" | translate }}
              </mat-option>
              <mat-option
                *ngFor="let category of allSubjectOfInterest"
                #categoryOption
                class="category-option category-option-text"
                [value]="category.id">
                {{ category?.name }}
              </mat-option>
              <div class="dropdown-footer"
                *ngIf="'OpportunityShared.addSourceOfAcquisition' | auth: 'w'">
                <app-icon svgIcon="plus" [primary]="true"></app-icon>

                <div class="add-new-category-text clickable"
                  (click)="openAddSubjectOfInterestSlider(subjectOfInterestSelect)">
                  {{ "opportunity.form.subjectOfInterestCategory.addCategory" | translate }}
                </div>
              </div>
            </mat-select>
            <mat-placeholder class="placeholder">
              {{ "opportunity.form.subjectOfInterest" | translate }}
            </mat-placeholder>
          </mat-form-field>
        </div>

        <ng-container
          *ngIf="authKey + 'ownerField' | auth: 'i':true"
          [ngTemplateOutlet]="accountSelect"
          [ngTemplateOutletContext]="{ index: 1 }">
        </ng-container>
        <ng-container
          *ngIf="authKey + 'ownerField' | auth: 'i':true"
          [ngTemplateOutlet]="accountSelect"
          [ngTemplateOutletContext]="{ index: 2 }">
        </ng-container>
        <ng-container
          *ngIf="authKey + 'ownerField' | auth: 'i':true"
          [ngTemplateOutlet]="accountSelect"
          [ngTemplateOutletContext]="{ index: 3 }">
        </ng-container>

        <div class="pl-3 mb-2"
             *ngIf="percentageSumError && (authKey + 'ownerField' | auth: 'w')">
          <mat-error>
            {{ "opportunity.form.ownerPercentSumError" | translate }}
          </mat-error>
        </div>

        <div *ngIf="ownerVisibleCount < 3 && (authKey + 'ownerField' | auth: 'w')">
          <div class="form-inline pl-3 pr-3 clickable" (click)="addNewOwner()">
            <app-icon svgIcon="add" [hover]="false"></app-icon>
            <span class="ml-2">
              {{ "opportunity.form.addNewOwner" | translate }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #accountSelect let-index="index">
    <div *ngIf="index <= ownerVisibleCount" class="position-relative">
      <mat-form-field class="pl-3 pr-3 w-75">
        <input
          matInput
          [placeholder]="'opportunity.form.owner' | translate"
          (keyup.arrowDown)="ownerSearch.showPanel = true"
          formControlName="{{ getOwnerFormControlNameByIndexAndName(index, 'Search') }}"
          [matAutocomplete]="ownerSearch"/>
        <mat-autocomplete
          #ownerSearch="matAutocomplete"
          (optionSelected)="userSelect($event.option.value, index)">
          <mat-option
            *ngFor="let account of filteredAccounts.get(index)"
            [value]="account"
            class="single-line-option">
            <div class="search-result-text">
              {{ account.name }} {{ account.surname }}
            </div>
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="getOwnerSearchByIndex(index).hasError('required')">
          {{ "opportunity.form.fieldRequired" | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="pl-2 owner-percentage">
        <mat-select formControlName="{{ getOwnerFormControlNameByIndexAndName(index, 'Percentage') }}">
          <mat-option
            *ngFor=" let percentage of [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]"
            [value]="percentage">
            {{ percentage }} %
          </mat-option>
        </mat-select>
        <mat-placeholder class="placeholder">
          {{ "opportunity.form.percentage" | translate }}
        </mat-placeholder>
        <mat-error *ngIf="getOwnerPercentageByIndex(index).hasError('min')">
          {{ "opportunity.form.minValue" | translate }}
        </mat-error>
        <mat-error *ngIf="getOwnerPercentageByIndex(index).hasError('required')">
          {{ "opportunity.form.fieldRequired" | translate }}
        </mat-error>
        <mat-error *ngIf="getOwnerPercentageByIndex(index).hasError('max')">
          {{ "opportunity.form.maxValue" | translate }}
        </mat-error>
      </mat-form-field>
      <app-icon
        *ngIf="ownerVisibleCount > 1 && (authKey + 'ownerField' | auth: 'w')"
        (click)="removeOwner(index)"
        svgIcon="trash"
        [hover]="false"
        size="20px"
        class="remove-owner"></app-icon>
    </div>
  </ng-template>
</form>

<app-slider
  #customerAddSlider
  width="40vw"
  [title]="'customer.form.addTitle' | translate"
  [key]="update ? 'CustomerList.AddSliderEdit' : 'CustomerList.AddSlider'"
  [moreInfoVisible]="true">
  <app-customer-add
    [slider]="customerAddSlider"
    (customerAdded)="
      customerSelect({
        id: $event.id,
        type: objectType.customer,
        label: $event.label
      })">
  </app-customer-add>
</app-slider>

<app-slider
  #newContact
  width="34vw"
  [title]="'contacts.link.newContactSliderTitle' | translate"
  key="AddContactLink.NewContactSlider"
  (closeEvent)="refreshSelectedCustomer()">
  <app-contact-add
    (contactAdded)="refreshCustomerContacts(); contactSelect(contactToCrmObject($event))"
    [slider]="newContact"
    [customer]="selectedCustomerForNewContact">
  </app-contact-add>
</app-slider>

<app-slider
  #addSourceOfAcquisitionSlider
  [title]="'opportunity.form.addSourceOfAcquisition' | translate"
  [closeByCross]="false"
  key="DictionaryForm.AddDictionaryWordSlider"
  width="40vw">
  <app-dictionary-add-word
    #addSourceOfAcquisitionWord
    [parentWordId]="null"
    [dictionaryId]="dictionaryId.SOURCE_OF_ACQUISITION"
    (canceled)="onCancelAddSourceOfAcquisitionSlider()"
    (wordAdded)="onSubmitAddSourceOfAcquisitionSlider($event)">
  </app-dictionary-add-word>
</app-slider>

<app-slider
  #addSubSourceOfAcquisitionSlider
  [title]="'opportunity.form.addSubSourceOfAcquisition' | translate"
  [closeByCross]="false"
  key="DictionaryForm.AddDictionaryWordSlider"
  width="40vw">
  <app-dictionary-add-word
    #addSubSourceOfAcquisitionWord
    [parentWordId]="parentWordIdForCreation"
    [dictionaryId]="dictionaryId.SOURCE_OF_ACQUISITION"
    (canceled)="onCancelAddSubSourceOfAcquisitionSlider()"
    (wordAdded)="onSubmitAddSubSourceOfAcquisitionSlider($event)">
  </app-dictionary-add-word>
</app-slider>
