@import "~src/styles/form";
@import "~src/styles/colors";
@import "~src/styles/common";
@import "~src/styles/font-weights";

.title {
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1.2px;
  color: $text-title;
  width: 200px;
  text-transform: uppercase;
  margin-top: 20px;
}
.customer-search-icon {
  position: absolute;
  right: 5px;
}
.little-input, .price-input {
  display: inline-block;
}

.little-input > .mat-form-field {
  width: 90px;
}

.price-input > .mat-form-field {
  width: 132px;
}

.probability.mat-form-field {
  width: 250px;
  color: $primary;
}

.probability.mat-form-field .mat-input-element {
  color: $primary !important;
}
.owner-percentage.mat-form-field {
  width: 15%;
  color: $primary;
}

.owner-percentage.mat-form-field .mat-input-element {
  color: $primary !important;
}
::ng-deep .custom-calendar-icon .mat-button-wrapper > svg {
  display: none;
}

::ng-deep .custom-calendar-icon .mat-button-wrapper::after {
  content: url("~src/assets/icons/common/colors/dark/calendar-dark.svg");
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: 3px !important;
  right: 0;
}

::ng-deep[theme="dark"] .custom-calendar-icon .mat-button-wrapper::after {
  content: url("~src/assets/icons/common/colors/light/calendar-light.svg");
}

::ng-deep .input-inactive .mat-form-field-underline {
  background-image: none !important;
}
::ng-deep .input-inactive .mat-input-element {
  color: rgba($contrast-rgb, 0.54) !important;
}

.text-area-field:focus {
  background-color: $bg-primary;
  border-color: $border-primary;
  color: $text-title;
}
.text-area-field {
  background-color: $bg-primary;
  border-color: $border-secondary;
}

.field-text {
  font-weight: $Medium;
  font-size: 12px;
  color: $action-color;
}
.display-flex {
  display: flex;
}
.slider-separator {
  position: relative;
  height: 100%;
  .separator {
    width: 2px;
    height: 100%;
    left: 50%;
    background-color: $bg-secondary;
    position: absolute;
  }
}
.remove-owner {
  width: 20px;
  cursor: pointer;
  position: absolute;
  right: 16px;
  top: 16px;
}
.position-relative {
  position: relative;
}

:ng-deep .category-option .mat-option-pseudo-checkbox {
  order: 2;
}

::ng-deep .category-option.mat-selected {
  @extend .category-option-selected-text;
}

.category-option-text {
  text-align: left;
  font: $Medium 13px/20px Poppins;
  letter-spacing: 0;
  color: $action-color;
  opacity: 1;
}

.category-option-selected-text {
  font: $Medium 13px/20px Poppins !important;
  color: $text-title !important;
}

.without-category-text {
  text-align: left;
  font: $Medium 13px/20px Poppins;
  letter-spacing: 0;
  color: $text-secondary;
  opacity: 1;
}

.dropdown-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: sticky;
  bottom: 0;
  background: $bg-primary;
  height: 40px;
  padding-left: 16px;
}

.add-new-category-text {
  font-size: 12px;
  font-weight: $Medium;
  color: $primary;
}

.category-header-text {
  text-align: left;
  font: $Medium 10px/16px Poppins !important;
  letter-spacing: 1.2px;
  color: $primary;
  text-transform: uppercase;
  opacity: 1;
}

::ng-deep .category-header .mat-optgroup-label {
  display: flex;
  align-items: center;
  margin: 0;
  @extend .category-header-text;
}

::ng-deep .mat-select-disabled .mat-select-value-text {
  color: rgba($contrast-rgb, 0.42);
}
