<div class="w-100 h-100 card-padding">

  <mat-card class="mat-elevation-z0 main-mat-card mat-card card-border-radius no-bottom-border-radius">
    <app-contact-form #contactFormComponent [customer]="customer" [update]="false"></app-contact-form>
  </mat-card>

  <div class="button-container">
    <mat-card class="mat-elevation-z0 card-border-radius no-top-border-radius">
      <div class="row">
        <div class="col-md-12">
          <button mat-stroked-button
                  color="primary" type="button"
                  class="button-medium"
                  (click)="addAdditionalField()">
            <span>{{'additionalDataForm.addField' | translate}}</span>
          </button>
          <div class="pull-right">
            <button mat-stroked-button class="button-medium" color="primary" type="button"
                    (click)="closeSlider()">{{'contacts.form.add.cancel' | translate}}</button>
            <button
              *ngIf="'ContactAddComponent.save' | auth:'w'" type="button"
              mat-raised-button class="button-medium ml-2" color="primary"
              (click)="addContact()">
              <span class="button-with-progress-bar">
              {{'contacts.form.add.add' | translate}}
                <mat-spinner [diameter]="20" *ngIf="saveInProgress" color="accent" class="ml-2 mt-2"></mat-spinner>
              </span>
            </button>

          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
