<div class="product-title">
  {{ "goal.form.product.addProduct" | translate }}
  <img
    (click)="openSlider()"
    class="plus-icon"
    src="assets/icons/plus-blue.svg"
  />
</div>

<div *ngIf="products.length != 0">
  <table #table [dataSource]="products" mat-table class="product-table">
    <ng-container matColumnDef="delete">
      <th *matHeaderCellDef mat-header-cell></th>
      <td
        *matCellDef="let item"
        mat-cell
        class="category-table-first-col-width"
      >
        <app-icon
          (click)="delete(item, table)"
          svgIcon="cross"
          [hover]="false"
        ></app-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell>
        {{ "goal.form.product.name" | translate }}
      </th>
      <td
        *matCellDef="let item"
        mat-cell
        [title]="item.name | lengthMoreThan: 30"
      >
        {{ item.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th *matHeaderCellDef mat-header-cell>
        {{ "goal.form.product.category" | translate }}
      </th>
      <td
        *matCellDef="let item"
        mat-cell
        [title]="item.categories | lengthMoreThan: 30"
      >
        {{ item.categories }}
      </td>
    </ng-container>

    <ng-container matColumnDef="code">
      <th *matHeaderCellDef mat-header-cell>
        {{ "goal.form.product.code" | translate }}
      </th>
      <td
        *matCellDef="let item"
        mat-cell
        [title]="item.code | lengthMoreThan: 30"
      >
        {{ item.code }}
      </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th *matHeaderCellDef mat-header-cell>
        {{ "goal.form.product.price" | translate }}
      </th>
      <td *matCellDef="let item" mat-cell>
        {{ item.sellPriceNet | formatCurrency: item.currency }}
      </td>
    </ng-container>

    <tr *matHeaderRowDef="columns; sticky: true" mat-header-row></tr>
    <tr *matRowDef="let rowData; columns: columns" mat-row></tr>
  </table>
</div>

<app-slider
  #productsForGoalSlider
  [title]="'goal.form.product.products' | translate"
  key="GoalProductsList"
  width="100vw"
>
  <app-goal-products-list-add
    [slider]="productsForGoalSlider"
    [products]="products"
    (productsSelected)="onProductsSelected($event)"
  ></app-goal-products-list-add>
</app-slider>
