<div class="container">
  <div class="w-100 basic-info">
    {{'contacts.form.basicInformation' | translate}}
  </div>
  <div class="w-100 form-inline align-end contact-info-content">
    <div class="w-50 contact-info">
      <app-contact-form *ngIf="contact" [contact]="contact" [fromContactInfoTab]="true"
                        (customerIdChanged)="customerIdChanged($event)"
                        (formChanged)="formChanged('contact')"
                        [update]="true"></app-contact-form>
    </div>

    <div class="w-50 separator-left">
      <app-customer-info *ngIf="customer"
                         (formChanged)="formChanged('customer')"
                         [customer]="customer"></app-customer-info>
    </div>
  </div>
</div>
