@import '~src/styles/colors';
@import "~src/styles/font-weights";

.align-end {
  align-items: end;
}
::ng-deep .contact-info .contact-form-title {
  color: $primary !important;
  margin-left: 115px;
  margin-top: 47px !important;
}
::ng-deep .contact-info .basic-info-container {
  width: calc(100% - 200px) !important;
}
::ng-deep .contact-info .owner {
  position: relative !important;
  margin-top: 20px !important;
}
::ng-deep .contact-info .avatar-part {
  margin-top: 0 !important;
}
::ng-deep .contact-info .avatar-part .add-image {
  width: 100px !important;
}
.contact-info-content {
  margin-top: -20px;
}
.separator-left {
  border-left: 1px solid $border-tertiary;
}
.basic-info {
  color: $action-color;
  margin-top: 10px;
  font-size: 24px;
  font-weight: $Regular;
}

.container {
  padding: 16px;
  margin: 0;
}
