<app-customer-mini-form
  *ngIf="miniForm; else full_form"
  (addNewContact)="addContact()"
  [update]="false"
  [customer]="customer">
</app-customer-mini-form>
<ng-template #full_form>
  <app-customer-form
    [addContactAndScrollToNewForm]="addContactAndScrollToNewForm"
    [update]="false"
    [customer]="customer">
  </app-customer-form>
</ng-template>

<div class="button-container">
  <mat-card class="mat-elevation-z0 no-top-left-border-radius no-top-right-border-radius card-border-radius ">
    <div class="row">
      <div class="col-md-12">
        <button mat-stroked-button
                color="primary" type="button"
                class="button-medium"
                (click)="addAdditionalField()">
          <span>{{'additionalDataForm.addField' | translate}}</span>
        </button>
        <div class="pull-right">
          <button mat-stroked-button class="button-medium" color="primary" type="button"
                  (click)="closeSlider()">{{'customer.form.add.cancel' | translate}}</button>
          <button mat-raised-button class="button-medium ml-2" color="primary" (click)="submit()" type="button">
            <span class="button-with-progress-bar">
                {{'customer.form.add.add' | translate}}
              <mat-spinner [diameter]="20" *ngIf="saveInProgress" color="accent" class="ml-2 mt-2"></mat-spinner>
              </span>
          </button>
        </div>
      </div>
    </div>
  </mat-card>
</div>
