<div class="w-100 h-100 card-padding">

  <mat-card class="mat-elevation-z0 main-mat-card mat-card card-border-radius no-bottom-border-radius">
    <form [formGroup]="form">
      <div class="server-type-header">
        {{'person.detail.info.mail.incomingServer' | translate}}
      </div>

      <div class="two-inputs-in-line">
        <div class="mail-normal-input">
          <mat-form-field>
            <input formControlName="imapServerAddress" matInput>
            <mat-placeholder
              class="placeholder">{{'person.detail.info.mail.form.serverAddress' | translate}}
            </mat-placeholder>

            <mat-error *ngIf="imapServerAddress.hasError('required')">
              {{'person.detail.info.mail.form.fieldRequired' | translate}}
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="port-input">
            <input formControlName="imapServerPort" matInput type="number">
            <mat-placeholder
              class="placeholder">{{'person.detail.info.mail.form.serverPort' | translate}}
            </mat-placeholder>

            <mat-error *ngIf="imapServerPort.hasError('required')">
              {{'person.detail.info.mail.form.fieldRequired' | translate}}
            </mat-error>

            <mat-error *ngIf="imapServerPort.hasError('min')">
              {{'person.detail.info.mail.form.minValue' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="mail-normal-input">
        <mat-form-field>
          <mat-select formControlName="imapSecurityType"
                      [placeholder]="'person.detail.info.mail.securityType' | translate">
            <mat-option *ngFor="let securityType of ['TLS', 'SSL']" [value]="securityType">{{securityType}}</mat-option>
          </mat-select>

          <mat-error *ngIf="imapSecurityType.hasError('required')">
            {{'person.detail.info.mail.form.fieldRequired' | translate}}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="server-type-header">
        {{'person.detail.info.mail.outgoingServer' | translate}}
      </div>

      <div class="two-inputs-in-line">
        <div class="mail-normal-input">
          <mat-form-field>
            <input formControlName="smtpServerAddress" matInput>
            <mat-placeholder
              class="placeholder">{{'person.detail.info.mail.form.serverAddress' | translate}}
            </mat-placeholder>

            <mat-error *ngIf="smtpServerAddress.hasError('required')">
              {{'person.detail.info.mail.form.fieldRequired' | translate}}
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="port-input">
            <input formControlName="smtpServerPort" matInput type="number">
            <mat-placeholder
              class="placeholder">{{'person.detail.info.mail.form.serverPort' | translate}}
            </mat-placeholder>

            <mat-error *ngIf="smtpServerPort.hasError('required')">
              {{'person.detail.info.mail.form.fieldRequired' | translate}}
            </mat-error>

            <mat-error *ngIf="smtpServerPort.hasError('min')">
              {{'person.detail.info.mail.form.minValue' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="mail-normal-input">
        <mat-form-field>
          <mat-select formControlName="smtpSecurityType"
                      [placeholder]="'person.detail.info.mail.securityType' | translate">
            <mat-option *ngFor="let securityType of ['TLS', 'SSL']" [value]="securityType">{{securityType}}</mat-option>
          </mat-select>

          <mat-error *ngIf="smtpSecurityType.hasError('required')">
            {{'person.detail.info.mail.form.fieldRequired' | translate}}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="server-type-header">
        {{'person.detail.info.mail.userData' | translate}}
      </div>

      <div class="mail-normal-input">
        <mat-form-field>
          <input formControlName="username" matInput>
          <mat-placeholder
            class="placeholder">{{'person.detail.info.mail.form.serverUser' | translate}}
          </mat-placeholder>

          <mat-error *ngIf="username.hasError('required')">
            {{'person.detail.info.mail.form.fieldRequired' | translate}}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="mail-normal-input">
        <mat-form-field>
          <input formControlName="password" matInput type="password">
          <mat-placeholder
            class="placeholder">{{'person.detail.info.mail.form.serverPassword' | translate}}
          </mat-placeholder>

          <mat-error *ngIf="password.hasError('required')">
            {{'person.detail.info.mail.form.fieldRequired' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </mat-card>

  <div class="button-container">
    <mat-card class="mat-elevation-z0 card-border-radius no-top-border-radius">
      <div class="row">
        <div class="col-md-12">
          <div class="pull-right">
            <button (click)="closeSlider()" class="button-medium" color="primary"
                    mat-stroked-button>{{'leads.form.cancel' | translate}}</button>
            <button (click)="submit()" class="button-medium ml-2" color="primary"
                    mat-raised-button
                    *ngIf="'LeadCreateComponent.save' | auth:'w'">
              {{'leads.form.add' | translate}}</button>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
