@import "~src/styles/theme";
@import "~src/styles/slider";
@import "~src/styles/form";
@import "~src/styles/font-weights";

.server-type-header {
  text-align: left;
  font: 400 10px/16px Poppins;
  letter-spacing: 1.2px;
  color: #319DF8;
  text-transform: uppercase;
  opacity: 1;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button-container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #F1F2F4;
}

.two-inputs-in-line {
  display: flex;
  justify-content: space-between;
}

.mail-normal-input {
  width: 60%;
}

.mail-normal-input > mat-form-field {
  width: 100%;
}

.port-input {
  padding-left: 20%;
  width: 60%;
}
