@import "~src/styles/colors";

::ng-deep .lead-search-category-header {
  height: 25px !important;
  margin-bottom: 5px !important;
  margin-top: 5px !important;
}

::ng-deep .mat-optgroup-label {
  height: 25px !important;
  margin-bottom: 5px !important;
  margin-top: 5px !important;
  background-color: $bg-tertiary !important;
}

