<div class="w-100 h-100 card-padding">

  <mat-card class="mat-elevation-z0 main-mat-card mat-card card-border-radius no-bottom-border-radius">
    <app-price-book-form [priceBook]="priceBook"></app-price-book-form>
  </mat-card>

  <div class="button-container">
    <mat-card class="mat-elevation-z0 card-border-radius no-top-border-radius">
      <div class="row">
        <div class="col-md-12">
          <div class="pull-right">
            <button (click)="closeSlider()" class="button-medium" color="primary"
                    mat-stroked-button>{{'priceBook.form.cancel' | translate}}</button>
            <button (click)="submit()" class="button-medium ml-2" color="primary"
                    mat-raised-button>{{'priceBook.form.save' | translate}}</button>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
