<form [formGroup]="passwordForm">
  <mat-form-field class="w-100 mb-4" *ngIf="oldPasswordEnabled">
    <input matInput
           type="password"
           [placeholder]="'person.detail.info.password.oldPassword' | translate"
           formControlName="oldPassword"
           (ngModelChange)="updateModel()"
           required>
    <mat-error
      *ngIf="passwordForm.get('oldPassword').hasError('required')">{{'person.detail.info.password.required' | translate}}</mat-error>
  </mat-form-field>
  <mat-form-field class="w-100 mb-4">
    <input matInput
           type="password"
           [placeholder]="'person.detail.info.password.newPassword' | translate"
           (ngModelChange)="updateModel()"
           [pattern]="passwordPolicyRegex"
           formControlName="newPassword"
           required>
    <mat-error
      *ngIf="passwordForm.get('newPassword').hasError('required')">{{'person.detail.info.password.required' | translate}}</mat-error>
    <mat-error
      *ngIf="passwordForm.get('newPassword').hasError('pattern')">{{passwordPolicyDescription}}</mat-error>
  </mat-form-field>
  <mat-form-field class="w-100">
    <input matInput
           type="password"
           [placeholder]="'person.detail.info.password.newPasswordAgain' | translate"
           (ngModelChange)="updateModel()"
           formControlName="repeatNewPassword"
           required>
    <mat-error
      *ngIf="passwordForm.get('repeatNewPassword').hasError('required')">{{'person.detail.info.password.required' | translate}}</mat-error>
    <mat-error
      *ngIf="passwordForm.get('repeatNewPassword').hasError('notEqual')">{{'person.detail.info.password.doNotMatch' | translate}}</mat-error>
  </mat-form-field>
</form>
