@import "~src/styles/colors";
@import "~src/styles/form";
@import "~src/styles/font-weights";
@import "~src/styles/slider";
@import "~src/styles/form";

.attach-mail-parent {
  position: relative;
  height: 100%;

  .attach-error {
    margin-top: -15px;
  }

  .attach-mail-header {
    color: $text-primary;
    text-align: center;
    background-color: rgba($bg-primary-rgb, 0.1);
    height: 36px;
    line-height: 36px;
    font-size: 13px;
    position: relative;

    .cross-icon {
      float: right;
      width: 20px;
      top: 8px;
      right: 14px;
      position: absolute;
      cursor: pointer;
    }
  }

  .attach-mail-content {
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 24px;
  }

  .attach-mail-buttons {
    position: absolute;
    bottom: 0;
    text-align: right;
    padding-bottom: 16px;
    width: 100%;
    padding-right: 16px;

    .attach-mail-button {
      height: 30px;
      line-height: 30px;
    }
  }
}

.main-search {
  display: flex;
  align-items: flex-end;
  font-size: 14px;
}

.search-result-text {
  text-align: left;
  font: $Medium 14px/21px Poppins;
  letter-spacing: 0;
  color: $text-secondary;
  opacity: 1;
}

.search-result-main-text {
  text-align: left;
  font: $SemiBold 16px/25px Poppins;
  letter-spacing: 0;
  color: $text-title;
  opacity: 1;
}

.search-result-note-text {
  text-align: left;
  font: $Regular 13px/21px Poppins;
  letter-spacing: 0;
  color: $text-secondary;
  opacity: 1;
}


.result-item {
  display: flex;
  align-items: center;
}

.result-icon {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  min-width: 60px;
}

::ng-deep .multi-line-option.mat-option {
  height: 72px;
  padding-left: 16px !important;
}

.inline {
  display: flex;
  justify-content: space-between;
}
