<div class="attach-mail-parent">
  <div class="attach-mail-header">
    <span *ngIf="data.destinationType === crmObjectTypeEnum.lead">{{
      "mail.attachDialog.leadTitle" | translate
    }}</span>
    <span *ngIf="data.destinationType === crmObjectTypeEnum.opportunity">{{
      "mail.attachDialog.opportunityTitle" | translate
    }}</span>
    <app-icon svgIcon="cross" [hover]="false"></app-icon>
  </div>

  <div class="attach-mail-content">
    <form [formGroup]="searchForm">
      <mat-form-field class="w-100">
        <div class="inline">
          <input
            matInput
            [placeholder]="getSearchPlaceholder() | translate"
            (keyup.arrowDown)="searchValue.showPanel = true"
            formControlName="searchText"
            [matAutocomplete]="searchValue"
          />
          <mat-spinner *ngIf="areSearchLoading" [diameter]="16"></mat-spinner>
        </div>
        <mat-autocomplete #searchValue="matAutocomplete" [panelWidth]="'350px'">
          <mat-option
            *ngFor="let object of objectList"
            [value]="object?.label"
            class="multi-line-option"
            (click)="onSelect(object)"
          >
            <div class="result-item">
              <img
                class="result-icon"
                src="{{ object.type | fileGroupToIcon }}"
              />
              <div class="flex-grow-1">
                <div class="search-result-main-text">{{ object?.label }}</div>
                <div class="search-result-note-text">
                  {{
                    "assignToGroup.singleType." + data.destinationType
                      | translate
                  }}
                </div>
              </div>
            </div>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-error class="attach-error" *ngIf="!selectedCrmObject && showError">{{
        "mail.attachDialog.itemNotSelected" | translate
      }}</mat-error>
    </form>
  </div>

  <div class="attach-mail-buttons">
    <button
      mat-stroked-button
      class="button-medium attach-mail-button"
      color="primary"
      (click)="close()"
    >
      {{ "mail.attachDialog.cancel" | translate }}
    </button>
    <button
      mat-raised-button
      class="button-medium attach-mail-button ml-2"
      color="primary"
      (click)="submit()"
    >
      {{ "mail.attachDialog.attach" | translate }}
    </button>
  </div>
</div>
