@import "~src/styles/colors.scss";
@import "src/styles/font-weights";
@import "src/styles/common";

.activity-tab {
  height: 100%;
  display: flex;
  flex-direction: column;
  .activity-types {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 32px;

    .add-activity {
      display: flex;
      align-items: center;
      .activity-buttons {
        display: flex;
        padding: 0 8px;
        & > * {
          margin-right: 12px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .open-calendar {
      display: flex;
      align-items: center;
      color: $primary;
      cursor: pointer;
    }
  }

  .separator {
    background: $bg-secondary;
    height: 4px;
  }

  .activity-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    .activities-all {
      flex: 1;
    }
    ::ng-deep .mat-tab-header {
      padding: 8px 0;
    }

    ::ng-deep .mat-tab-label {
      height: auto;
      padding: 6px 16px;
      min-width: auto;
      font-size: 12px;
    }
  }
}
