<div class="activity-tab" >
  <div *ngIf="'CalendarComponent.addTask' | auth: 'w'" class="activity-types">
    <div class="add-activity">
      <div class="mr-2">{{ "tabs.activity.add" | translate }}:</div>

      <div class="activity-buttons">
        <app-icon
          *ngFor="let activity of activitiesTypeList"
          [svgIcon]="activity.icon"
          [hover]="false"
          size="36px"
          (click)="openAddSlider($event, activity.type)"
        ></app-icon>
      </div>
    </div>
    <div class="open-calendar" (click)="toCalendarPage()">
      <app-icon
        class="mr-1"
        svgIcon="right-arrow-circle"
        [primary]="true"
      ></app-icon>
      <span>{{ "tabs.activity.openCalendar" | translate }}</span>
    </div>
  </div>
  <div class="separator"></div>

  <div class="activity-content">
    <mat-tab-group
      class="board-tab-group h-100"
      [(selectedIndex)]="selectedTabIndex"
      mat-align-tabs="center"
      *ngIf="'LeadDetailsComponent.activity' | auth: 'i':true"
    >
      <mat-tab
        *ngFor="let activityTab of activitiesTabs"
        [label]="activityTab.label | translate"
      >
        <ng-template matTabContent>
          <app-schedule-tab
            [refreshSubject]="refreshSubject"
            [taskTimeCategory]="activityTab.taskTimeCategory"
            [objectType]="type"
            [objectId]="id"
          ></app-schedule-tab>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<app-slider
  (openEvent)="setInitAssociation()"
  #addActivity
  width="35vw"
  [title]="'calendar.task.form.addTitle' | translate"
  key="Calendar.AddSlider"
  [group]="'taskFormGroup'"
>
  <app-task-add
    [initAssociation]="initAssociation"
    (eventAdded)="refreshEvent()"
    [slider]="addActivity"
    [eventInfo]="updatedEventInfo"
    [activityType]="selectedActivityType"
  >
  </app-task-add>
</app-slider>
