@import "~src/styles/colors";
@import "src/styles/font-weights";

::ng-deep .notification-element {
  position: relative;
  display: block;
  width: 446px;
  background-color: $bg-primary;
  border-radius: 8px;
  overflow: hidden;
  padding: 16px 26px;
  margin-bottom: 16px;
  line-height: normal;
  white-space: pre-line;
  font-family: Poppins, serif;

  box-shadow: 8px 8px 24px #213C7140;

  .title {
    font-size: 12px !important;
    font-weight: $Medium !important;
    color: $notification-title-color;
  }
  .content {
    font-size: 12px !important;
    font-weight: $Regular !important;
    margin-top: 3px;
    color: $notification-content-color;
  }

  .footer {
    margin-top: 9px;
  }

  .date {
    font-family: Poppins, serif;
    float: left;
    display: flex;
    font-size: 10px !important;
    font-weight: $Regular !important;
    color: $notification-date-color;
  }

  .type {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 10px;
    background: #fff;
  }

  .type.success {
    background: #9DD04B;
  }
  .type.info {
    background: #84D0FC;
  }
  .type.warning {
    background: #FDC132;
  }
  .type.error {
    background: #DD2048;
  }

  .close-buttons {
    position: absolute;
    display: flex;
    top: 6px;
    right: 7px;

    .first {
      order: 1;
    }

    .second {
      order: 2;
    }
  }

  .buttons-container {
    float: right;
    display: flex;
  }

  .notification-action-button {
    font-family: Poppins, serif;
    font-size: 10px !important;
    font-weight: $Medium !important;
    color: #319DF8;
  }



}

