<div class="type {{this.getNotificationType(notificationDto.type)}}"></div>

<div class="message">
  <div class="title">
    {{notificationDto.title | translate: notificationDto.args}}
  </div>
  <div class="content" *ngIf="notificationDto.content">
    {{notificationDto.content | translate: notificationDto.args}}
  </div>
</div>

<div class="footer">
  <div class="date">
    {{notificationDto.date | formatDate:true}}
  </div>
  <div class="buttons-container" *ngIf="!notificationDto.groupNotification && notificationDto.actions">
    <button
      class="btn-transparent notification-action-button"
      *ngFor="let action of notificationDto.actions"
      (click)="runAction(action);">
      {{ action.name | translate }}
    </button>
  </div>
</div>
<div class="close-buttons">
<!--  <app-icon-->
<!--    svgIcon="close"-->
<!--    size="16px"-->
<!--    class="icon-close"-->
<!--  ></app-icon>-->
<button type="button"
        class="btn-transparent icon-margin close first"
        *ngIf="notificationDto.closeable && notificationDto.position == 0"
        (click)="closeAll(); $event.stopPropagation()">
  <img class="clickable icon-size icon-close" src="../../../assets/icons/close.svg"/>
</button>
<button type="button"
        class="btn-transparent icon-margin close second"
        *ngIf="notificationDto.closeable"
        (click)="close(); $event.stopPropagation()">
  <img class="clickable icon-size" src="../../../assets/icons/close-red.svg"/>
</button>
</div>
