@import "~src/styles/colors";
@import "~src/styles/slider";
@import "~src/styles/form";

.button-container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: $bg-secondary;
}

.name-form-field {
  padding-bottom: 0 !important;
}

.add-button {
  float: right;
  font-weight: $Medium;
  font-size: 10px;
  color: $primary;
  margin-right: 10px;
  cursor: pointer;
}

.single-supplier {
  color: $primary;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  width: 98%;
}

.group-title {
  text-align: left;
  font: $Medium 10px/16px Poppins;
  letter-spacing: 1.2px;
  color: $text-primary;
  text-transform: uppercase;
  opacity: 1;
  margin-bottom: 20px;
  margin-top: 20px;
}
