<div class="w-100 h-100 card-padding">

  <mat-card class="mat-elevation-z0 main-mat-card mat-card card-border-radius no-bottom-border-radius">
    <mat-form-field class="w-100 p-2 name-form-field">
      <input matInput [formControl]="nameControl">
      <mat-placeholder
        class="placeholder">{{'manufacturersAndSuppliers.add.enterSupplierName' | translate}}</mat-placeholder>
      <mat-error *ngIf="nameControl.hasError('required')">
        {{'manufacturersAndSuppliers.add.valueRequired' | translate}}
      </mat-error>
      <mat-error *ngIf="nameControl.hasError('notUnique')">
        {{'manufacturersAndSuppliers.add.valueMustBeUnique' | translate}}
      </mat-error>
      <mat-error *ngIf="nameControl.hasError('whitespace')">
        {{'sharedValidators.whitespace' | translate}}
      </mat-error>
      <mat-error *ngIf="nameControl.hasError('maxlength')">
        {{'sharedValidators.valueTooLong' | translate}}
      </mat-error>
    </mat-form-field>

    <div class="add-button" (click)="addTempElement()">
      {{'manufacturersAndSuppliers.add.confirm' | translate}}
    </div>


    <div class="group-title p-2">{{'manufacturersAndSuppliers.list.suppliers' | translate}}</div>
    <div>
      <div *ngFor="let supplier of suppliers" class="p-2">
        <div class="single-supplier">
          <div>{{supplier.name}}</div>
          <div class="clickable" appTooltip="DELETE" (click)="deleteTempElement(supplier.name)">
            <app-icon svgIcon="trash" [hover]="false" size="16px"></app-icon>
          </div>
        </div>
      </div>
    </div>
  </mat-card>

  <div class="button-container">
    <mat-card class="mat-elevation-z0 card-border-radius no-top-border-radius">
      <div class="row">
        <div class="col-md-12">
          <div class="pull-right">
            <button (click)="closeSlider()" class="button-medium" color="primary"
                    mat-stroked-button>{{'manufacturersAndSuppliers.add.cancel' | translate}}</button>
            <button (click)="submit()" class="button-medium ml-2" color="primary" mat-raised-button>
              {{'manufacturersAndSuppliers.add.confirm' | translate}}</button>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
