@import "~src/styles/slider";
@import "~src/styles/form";
@import "~src/styles/colors";
@import "~src/styles/font-weights";

$card-padding: 30px;
$inner-padding: $card-padding * 0.66;
$outer-padding: $card-padding * 0.33;

.activity-buttons {
  display: flex;
  padding: 0 8px;
  & > * {
    margin-right: 12px;
    &:last-child {
      margin-right: 0;
    }
  }
}

mat-form-field {
  width: 100% !important;
  border-radius: 4px;
  font-size: 15px;
}

.title {
  color: $text-title;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 1.2px;
  font-weight: $SemiBold;
  text-transform: uppercase;
}

.dark-color {
  color: $text-title !important;
  font-size: 13px;
  font-weight: $Medium !important;
}

.grey-color {
  color: $text-secondary !important;
  font-weight: $Medium !important;
}

.width-transition {
  transition: max-width 0.5s ease-in-out, display 0.5s ease-in-out,
    width 0.5s ease-in-out;
}

.time-closed {
  visibility: hidden;
  max-width: 0;
}

::ng-deep#time-picker-wrapper.light
  #time-picker
  .time-picker-clock
  > button.active,
::ng-deep#time-picker-wrapper.light
  #time-picker
  .time-picker-clock
  .time-picker-clock-arrow,
::ng-deep#time-picker-wrapper.light
  #time-picker
  .time-picker-clock
  .time-picker-clock-origin {
  background-color: $primary !important;
}

.cetner-horizontally {
  display: flex;
  align-items: center;
}

.crm-form {
  font-size: 13px;
}

::ng-deep .custom-calendar-icon .mat-button-wrapper > svg {
  display: none;
}

::ng-deep .custom-calendar-icon .mat-button-wrapper::after {
  content: url("~src/assets/icons/common/colors/dark/calendar-dark.svg");
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: 3px !important;
  right: 0;
}

::ng-deep[theme="dark"] .custom-calendar-icon .mat-button-wrapper::after {
  content: url("~src/assets/icons/common/colors/light/calendar-light.svg");
}

.form-gps-icon {
  position: absolute;
  right: 0;
  top: 0;
}

.field-title {
  color: $text-title;
  font-size: 12px;
  letter-spacing: normal;
  margin-bottom: 0px;
}

.activity-title {
  display: flex;
  align-items: center;

  .type-icon {
    padding: 8px 0;
    cursor: pointer;
    ::ng-deep.icon {
      position: relative;
      transition: all ease 0.3s;
    }
    &:hover {
      ::ng-deep.icon {
      transform: scale(1.2);
      }
    }
  }

  .text {
    font-size: 20px;
    margin-left: 8px;
    font-weight: $Medium;
  }

  .text.meeting {
    color: $meeting-color;
  }

  .text.phone {
    color: $phone-color;
  }

  .text.task {
    color: $task-color;
  }

  .text.mail {
    color: $mail-color;
  }
}

.main-mat-card-leads {
  overflow-y: auto;
  height: 110px !important;
  margin-bottom: 1px;
  padding-right: 16px;
  padding-left: 16px;
}

.main-mat-card-with-leads {
  overflow-y: auto;
  height: calc(100% - 265px) !important;
  margin-bottom: 1px;
}

.task-association {
  .icon {
    position: absolute;
    right: 0;
    cursor: pointer;
  }

  .icon.plus {
    right: 25px;
    bottom: 1px;
  }

  .icon.trash {
    bottom: 4px;
    height: 19px;
  }
}

::ng-deep .task-association .mat-form-field-underline {
  background-image: none !important;
}

::ng-deep
  .task-association-form
  .share-type-input-field
  .mat-form-field-wrapper {
  margin-top: 3px;
}

.mat-card-content {
  overflow: auto;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  padding: 0px;
}

.main-mat-card {
  padding-right: 16px;
  padding-left: 16px;
}

.cursor-normal {
  cursor: default !important;
}

.activity-associations {
  border-top: 4px solid $border-tertiary;
}

.nearby-task-loading {
  display: flex;
}

::ng-deep.task-form-timepicker .mat-select-value-text {
  letter-spacing: -1px;
}

.nearby-task-info {
  border-radius: 7px;
  background-color: $bg-secondary;
  display: flex;
  padding: 16px;

  .nearby-task-info > span {
    font-size: 13px;
    color: $text-title;
    font-weight: $Medium;
  }

  .show-nearby-tasks > button {
    height: 32px;
    line-height: 32px;
  }
}

.display-none {
  display: none;
}

.assignee-search-container {
  padding: 4px;
  width: 100%;

  input {
    padding: 4px;
    width: 100%;
    border: solid 1px $primary;
    border-radius: 4px;
  }
}

.green-radio-button {
  ::ng-deep .mat-radio-inner-circle {
    background-color: #0bb07b !important;
  }

  ::ng-deep .mat-radio-outer-circle {
    border-color: #0bb07b !important;
  }
}

.red-radio-button {
  ::ng-deep .mat-radio-inner-circle {
    background-color: #dd2048 !important;
  }

  ::ng-deep .mat-radio-outer-circle {
    border-color: #dd2048 !important;
  }
}

.comment-editor-container {
  ::ng-deep .ql-container {
    height: 100px;
    border-radius: 4px;
    background-color: $bg-secondary !important;
    border-color: $border-secondary !important;
    border-top-style: solid !important;
    border-top-width: 1px !important;
    border-top-color: rgb(228, 231, 234) !important;
  }

  ::ng-deep .ql-toolbar {
    border: none;
    padding-top: 0px;
    padding-bottom: 4px;
  }
}

.members-container {
  ::ng-deep .container-label {
    font-weight: 500 !important;
    color: $text-title !important;
    font-size: 12px !important;
    letter-spacing: normal !important;
  }
}

.phone-type-container {
  margin-top: 22px;
}

.phone-default-title {
  color: $text-title !important;
  font-weight: $Medium !important;
}

.places-select {
  position: absolute;
  top: 40px;
}