<form [formGroup]="taskForm" class="h-100">
  <mat-card
    class="mat-elevation-z0 main-mat-card mat-card card-border-radius no-bottom-border-radius"
  >
    <mat-card-content>
      <span class="crm-form">
        <div class="row ml-2 mt-3 mb-3">
          <div class="col-md-12 activity-title form-inline">
            <app-icon
              class="type-icon"
              [svgIcon]="
                selectedActivityType
                  ? selectedActivityType.toString().toLowerCase()
                  : 'event'
              "
              [hover]="false"
              size="36px"
              [matMenuTriggerFor]="activitiesMenu"
            ></app-icon>

            <span
              class="text"
              [ngClass]="selectedActivityType?.toString().toLowerCase()"
            >
              {{
                (selectedActivityType
                  ? "calendar.form.activityTitle." +
                    selectedActivityType?.toString().toLowerCase()
                  : "calendar.form.activityTitle.default"
                ) | translate
              }}
            </span>
          </div>
        </div>

        <div
          class="row ml-2 mr-2 mb-2"
          *ngIf="selectedActivityType !== taskActivityType.PHONE"
        >
          <div class="col-md-12">
            <mat-form-field>
              <input
                matInput
                required
                [placeholder]="
                  'calendar.form.' +
                    (selectedActivityType ? 'subject' : 'title') | translate
                "
                formControlName="title"
              />
              <mat-error *ngIf="title.hasError('required')">
                {{ "calendar.form.validation.titleRequired" | translate }}
              </mat-error>
              <mat-error *ngIf="title.hasError('whitespace')">
                {{ "sharedValidators.whitespace" | translate }}
              </mat-error>
              <mat-error *ngIf="title.hasError('maxlength')">
                {{ "calendar.form.validation.titleMaxLength" | translate }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div
          class="row ml-2 mr-2 mb-2"
          *ngIf="selectedActivityType == taskActivityType.PHONE"
        >
          <div class="col-md-9">
            <mat-form-field>
              <input
                matInput
                required
                [placeholder]="
                  'calendar.form.' +
                    (selectedActivityType ? 'subject' : 'title') | translate
                "
                formControlName="title"
                (keyup)="clearDefaultTitleRadioButton()"
              />
              <mat-error *ngIf="title.hasError('required')">
                {{ "calendar.form.validation.titleRequired" | translate }}
              </mat-error>
              <mat-error *ngIf="title.hasError('whitespace')">
                {{ "sharedValidators.whitespace" | translate }}
              </mat-error>
              <mat-error *ngIf="title.hasError('maxlength')">
                {{ "calendar.form.validation.titleMaxLength" | translate }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="phone-type-container col-md-3">
            <mat-radio-group
              [(ngModel)]="currentCheckedPhoneActivityTitle"
              [ngModelOptions]="{ standalone: true }"
            >
              <mat-radio-button
                #phoneTitleButton
                color="primary"
                class="phone-default-title"
                *ngFor="let title of phoneActivityDefaultTitles"
                [value]="title"
                (click)="checkPhoneTitle($event, phoneTitleButton)"
              >
                {{ title }}
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <div class="row ml-2 mr-2 mb-2" *ngIf="!selectedActivityType">
          <div class="col-md-12">
            <mat-checkbox
              class="dark-color"
              color="primary"
              [value]="allDayView"
              (change)="onAllDayCheckboxClicked($event)"
              formControlName="allDayEvent"
            >
              {{ "calendar.form.allDay" | translate }}
            </mat-checkbox>
          </div>
        </div>

        <div class="row ml-2 mr-2">
          <div
            class="width-transition"
            [ngClass]="{ 'col-md-7': !allDayView, 'col-md-12': allDayView }"
          >
            <mat-form-field>
              <input
                matInput
                [matDatepicker]="startDatePicker"
                [placeholder]="'calendar.form.startDate' | translate"
                formControlName="startDate"
                required
                (dateChange)="onStartDateChanged($event)"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="startDatePicker"
                class="custom-calendar-icon"
              ></mat-datepicker-toggle>
              <mat-datepicker #startDatePicker></mat-datepicker>
              <mat-error *ngIf="startDate.hasError('required')">
                {{ "calendar.form.validation.startDateRequired" | translate }}
              </mat-error>
            </mat-form-field>
          </div>

          <div
            class="width-transition"
            [ngClass]="{ 'col-md-5': !allDayView, 'time-closed': allDayView }"
          >
            <mat-form-field class="time-picker task-form-timepicker">
              <mat-select
                panelClass="dropdown-w-100"
                [disableRipple]="true"
                [disableOptionCentering]="true"
                [placeholder]="'calendar.form.time' | translate"
                [value]="0"
                formControlName="startTime"
                (selectionChange)="onStartTimeChanged($event)"
              >
                <mat-option
                  *ngFor="let taskHour of taskHourList"
                  [value]="taskHour.id"
                >
                  <app-hour-formatter
                    [hour]="{
                      britishTimeFormat: britishTimeFormat,
                      hour: taskHour.value
                    }"
                  ></app-hour-formatter>
                </mat-option>
              </mat-select>
              <mat-error *ngIf="taskForm.hasError('noTimes')">
                {{ "calendar.form.validation.noTimes" | translate }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div
          class="row ml-2 mr-2"
          *ngIf="
            selectedActivityType !== taskActivityType.PHONE &&
            selectedActivityType !== taskActivityType.MAIL
          "
        >
          <div
            class="width-transition"
            [ngClass]="{ 'col-md-7': !allDayView, 'col-md-12': allDayView }"
          >
            <mat-form-field>
              <input
                matInput
                [matDatepicker]="endDatePicker"
                [placeholder]="'calendar.form.endDate' | translate"
                formControlName="endDate"
                required
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="endDatePicker"
                class="custom-calendar-icon"
              ></mat-datepicker-toggle>
              <mat-datepicker #endDatePicker></mat-datepicker>
              <mat-error *ngIf="startDate.hasError('required')">
                {{ "calendar.form.validation.endDateRequired" | translate }}
              </mat-error>
            </mat-form-field>
          </div>

          <div
            class="width-transition"
            *ngIf="
              selectedActivityType !== taskActivityType.PHONE &&
              selectedActivityType !== taskActivityType.MAIL
            "
            [ngClass]="{ 'col-md-5': !allDayView, 'time-closed': allDayView }"
          >
            <mat-form-field class="time-picker task-form-timepicker">
              <mat-select
                panelClass="dropdown-w-100"
                [disableRipple]="true"
                [disableOptionCentering]="true"
                [placeholder]="'calendar.form.time' | translate"
                [value]="0"
                formControlName="endTime"
              >
                <mat-option
                  *ngFor="let taskHour of taskHourList"
                  [value]="taskHour.id"
                >
                  <app-hour-formatter
                    [hour]="{
                      britishTimeFormat: britishTimeFormat,
                      hour: taskHour.value
                    }"
                  ></app-hour-formatter>
                </mat-option>
              </mat-select>
              <mat-error *ngIf="taskForm.hasError('noTimes')">
                {{ "calendar.form.validation.noTimes" | translate }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div
          class="row ml-2 mr-2 mb-5"
          *ngIf="taskForm.hasError('startDayNotBefore')"
        >
          <div class="col-md-12">
            <mat-error>
              {{ "calendar.form.validation.startDayNotBefore" | translate }}
            </mat-error>
          </div>
        </div>
        <div class="row ml-2 mr-2 mb-5" *ngIf="taskForm.hasError('noTimes')">
          <div class="col-md-12">
            <mat-error>
              {{ "calendar.form.validation.noTimes" | translate }}
            </mat-error>
          </div>
        </div>

        <div class="row ml-2 mr-2 mb-2">
          <div class="col-md-12">
            <app-task-owner
              formControlName="owner"
              [label]="'calendar.event.eventOwner' | translate"
            >
            </app-task-owner>
          </div>
        </div>

        <div class="row ml-2 mr-2 mb-2">
          <div class="col-md-12">
            <app-add-members
              class="members-container"
              formControlName="participants"
              [label]="'calendar.form.addMembersTitle' | translate"
            ></app-add-members>
          </div>
        </div>

        <div class="row ml-2 mr-2 mb-4" *ngIf="selectedActivityType">
          <div class="col-md-12">
            <h5 class="field-title mb-2">
              {{ "calendar.form.addComment" | translate }}
            </h5>
            <quill-editor
              #commentEditor
              class="comment-editor-container"
              style="height: auto"
              format="html"
              [placeholder]="''"
              [modules]="commentEditorConfig"
              [formControl]="description"
            >
            </quill-editor>
          </div>
        </div>

        <div class="row ml-2 mr-2 mb-4" *ngIf="selectedActivityType">
          <div class="col-md-12">
            <h5 class="field-title mb-2">
              {{ "calendar.event.priority" | translate }}
            </h5>
            <mat-radio-group class="row" formControlName="priority">
              <mat-radio-button
                color="primary"
                class="green-radio-button col-md-3 dark-color"
                [value]="taskPriority.MEDIUM"
              >
                {{ "calendar.event.priorities.medium" | translate }}
              </mat-radio-button>
              <mat-radio-button
                color="primary"
                class="red-radio-button col-md-3 dark-color"
                [value]="taskPriority.URGENT"
              >
                {{ "calendar.event.priorities.urgent" | translate }}
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <div class="row ml-2 mr-2 mb-2">
          <div class="col-md-12">
            <mat-checkbox
              class="dark-color"
              color="primary"
              formControlName="enableNotification"
            >
              {{ "calendar.form.notification" | translate }}
            </mat-checkbox>
          </div>
        </div>

        <div class="row ml-2 mr-2" *ngIf="enableNotification.value">
          <div class="width-transition col-md-7">
            <mat-form-field>
              <input
                matInput
                [matDatepicker]="notificationDatePicker"
                [placeholder]="'calendar.form.startDate' | translate"
                formControlName="notificationDate"
                required
                (dateChange)="onNotificationDateChanged($event)"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="notificationDatePicker"
                class="custom-calendar-icon"
              ></mat-datepicker-toggle>
              <mat-datepicker #notificationDatePicker></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="width-transition col-md-5">
            <mat-form-field class="time-picker task-form-timepicker">
              <mat-select
                panelClass="dropdown-w-100"
                [disableRipple]="true"
                [disableOptionCentering]="true"
                [placeholder]="'calendar.form.time' | translate"
                [value]="0"
                formControlName="notificationTime"
              >
                <mat-option
                  *ngFor="let taskHour of taskHourList"
                  [value]="taskHour.id"
                >
                  <app-hour-formatter
                    [hour]="{
                      britishTimeFormat: britishTimeFormat,
                      hour: taskHour.value
                    }"
                  ></app-hour-formatter>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div
          class="row ml-2 mr-2 mb-1"
          *ngIf="
            selectedActivityType !== taskActivityType.PHONE &&
            selectedActivityType !== taskActivityType.MAIL
          "
        >
          <div class="col-md-12">
            <mat-form-field>
              <input
                matInput
                [placeholder]="'calendar.form.place' | translate"
                formControlName="place"
              />

              <app-icon
                class="form-gps-icon"
                svgIcon="gps-line"
                [primary]="true"
                (click)="openMap($event)"
                appTooltip="OPEN_IN_MAP"
              ></app-icon>
              <mat-select #placeSelect class="places-select">
                <mat-option
                  *ngFor="let place of foundPlaces"
                  [title]="place?.display_name"
                  [value]="place"
                  (click)="showPlace(place)"
                >
                  {{ place?.display_name }}</mat-option
                >
              </mat-select>
              <mat-error *ngIf="taskForm.get('place').hasError('maxlength')">
                {{ "sharedValidators.valueTooLong" | translate }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row ml-2 mr-2 mb-1">
          <div
            class="col-md-12"
            *ngIf="selectedActivityType === taskActivityType.MEETING"
          >
            <ng-container
              *ngIf="
                !nearbyTaskLoading && nearbyTasks && nearbyTasks.length > 0
              "
            >
              <div class="nearby-task-info">
                <span>
                  {{ "calendar.form.nearbyTasksInfo" | translate }}
                </span>
                <span class="show-nearby-tasks">
                  <button
                    mat-raised-button
                    class="button-medium ml-2"
                    color="primary"
                    (click)="nearbyTaskSlider.open()"
                  >
                    {{ "calendar.form.view" | translate }}
                  </button>
                </span>
              </div>
            </ng-container>
          </div>
        </div>

        <div
          class="row ml-2 mr-2 mb-4"
          *ngIf="selectedActivityType && formType === 'EDIT'"
        >
          <div class="col-md-12">
            <h5 class="field-title mb-2">
              {{ "calendar.event.status" | translate }}
            </h5>
            <mat-radio-group class="row" formControlName="state">
              <mat-radio-button
                color="primary"
                class="col-md-3 dark-color"
                [value]="taskState.CREATED"
              >
                {{ "calendar.event.statuses.created" | translate }}
              </mat-radio-button>
              <mat-radio-button
                color="primary"
                class="col-md-3 dark-color"
                [value]="taskState.IN_PROGRESS"
                *ngIf="
                  selectedActivityType !== taskActivityType.PHONE &&
                  selectedActivityType !== taskActivityType.MAIL
                "
              >
                {{ "calendar.event.statuses.inProgress" | translate }}
              </mat-radio-button>
              <mat-radio-button
                color="primary"
                class="col-md-3 dark-color"
                [value]="taskState.SUSPENDED"
                *ngIf="
                  selectedActivityType !== taskActivityType.PHONE &&
                  selectedActivityType !== taskActivityType.MAIL
                "
              >
                {{ "calendar.event.statuses.suspended" | translate }}
              </mat-radio-button>
              <mat-radio-button
                color="primary"
                class="col-md-3 dark-color"
                [value]="taskState.FINISHED"
              >
                {{ "calendar.event.statuses.finished" | translate }}
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <div class="row ml-2 mr-2 mb-2" *ngIf="!selectedActivityType">
          <div class="col-md-12">
            <textarea
              formControlName="description"
              [placeholder]="'calendar.form.description' | translate"
              class="form-control mt-2 mb-4 text-area-field"
              rows="3"
            ></textarea>
            <mat-error *ngIf="description.hasError('maxlength')">
              {{ "sharedValidators.valueTooLong" | translate }}
            </mat-error>
          </div>
        </div>
      </span>
      <div class="row ml-2 mr-2 mt-2 pt-4 activity-associations">
        <ng-container *ngTemplateOutlet="association"></ng-container>
      </div>
    </mat-card-content>
  </mat-card>
</form>

<app-slider
  #mapSlider
  width="40vw"
  [title]="'calendar.event.location' | translate"
  key="SingleEvent.MapSlider"
  [group]="'taskFormGroup'"
  (closeEvent)="onMapClose()"
>
  <div class="p-2 w-100 h-100">
    <app-map-view
      #mapView
      class="w-100 h-100"
      [mapCenter]="mapCenter"
      [markers]="markers"
      [showMap]="showMap"
      [zoom]="12"
    ></app-map-view>
  </div>
</app-slider>

<app-slider
  #nearbyTaskSlider
  width="35vw"
  [title]="'calendar.event.nearbyTasksTitle' | translate"
  [group]="'taskFormGroup'"
  key="SingleEvent.NearbyTasksSlider"
>
  <app-nearby-tasks
    [dateFrom]="startDate?.value"
    [nearbyTasks]="nearbyTasks"
    [associations]="associations"
    [location]="place?.value"
    [slider]="nearbyTaskSlider"
  ></app-nearby-tasks>
</app-slider>

<ng-template #association>
  <div class="col-md-12">
    <div class="task-association" *ngIf="associations">
      <div *ngFor="let association of associations">
        <mat-form-field>
          <input
            matInput
            [placeholder]="
              'assignToGroup.placeholder.' + association.objectType | translate
            "
            disabled
            [value]="association.label"
          />

          <app-icon
            svgIcon="plus"
            class="icon plus"
            (click)="showAppAssignToGroup = true"
            appTooltip="ADD"
            [hover]="false"
          ></app-icon>
          <app-icon
            svgIcon="trash"
            class="icon trash"
            *ngIf="!association.disabled"
            (click)="removeAssociation(association)"
            appTooltip="DELETE"
            [hover]="false"
            size="18px"
          ></app-icon>
          <app-icon
            svgIcon="trash"
            class="icon trash cursor-normal"
            *ngIf="association.disabled"
            [disabled]="true"
            size="18px"
          ></app-icon>
        </mat-form-field>
      </div>
    </div>
    <app-assign-to-group
      [ngClass]="{
        'display-none': !(showAppAssignToGroup || associations.length === 0)
      }"
      (addNewElement)="addNewAssociation($event)"
      [filteredValues]="['task', 'activity']"
    ></app-assign-to-group>
  </div>
</ng-template>

<mat-menu #activitiesMenu="matMenu" yPosition="above" xPosition="before">
  <div class="activity-buttons">
    <app-icon
      *ngFor="let activity of activityTypes"
      [svgIcon]="activity.icon"
      [hover]="false"
      size="36px"
      (click)="changeType(activity.type)"
    ></app-icon>
  </div>
</mat-menu>
