<div class="full-display" (resized)="detectResize($event)">
  <div #canvas class="canvas">
    <canvas
      baseChart
      [chartType]="chartType"
      [options]="chartOptions"
      [datasets]="chartDatasets"
      [colors]="chartColors"
      [labels]="chartLabels"
    >
    </canvas>
  </div>
</div>
