<div class="header">
  <div class="header-left-conatiner">
    <app-avatar-preview *ngIf="!('CustomerContactsComponent.avatar' | auth:'i')" [rounded]="false" class="header-photo" [imageSrc]="customer?.avatar" [widthPx]="65" defaultImg="assets/icons/customer-details.svg"></app-avatar-preview>
    <div class="info-container">
      <div>
        <div *ngIf="!('CustomerDetailsComponent.name' | auth:'i')"
             class="header-text-primary">
          {{customer?.name}}</div>
        <div *ngIf="!('CustomerDetailsComponent.type' | auth:'i')"
             class="header-label">
          {{customer?.type?.name | translate}}</div>
      </div>
      <div *ngIf="!('CustomerDetailsComponent.address' | auth:'i')"
           class="info-box">
        <div class="header-label text-right">{{'customer.dashboard.header.address' | translate}}</div>
        <div class="header-text">
          <div>
            {{customer?.address?.street}} {{customer?.address?.buildNumber}}
            <span *ngIf="customer?.address?.flatNumber as flatNumber">/{{flatNumber}}</span>
          </div>
          <div>{{customer?.address?.zipCode}} {{customer?.address?.city}} {{customer?.address?.country}}</div>
        </div>
      </div>
      <div *ngIf="!('CustomerDetailsComponent.phone' | auth:'i')">
        <div class="header-label">{{'customer.dashboard.header.phone' | translate}}</div>
        <div class="header-text">{{customer?.phone | phone}}</div>
      </div>
      <div *ngIf="!('CustomerDetailsComponent.webpage' | auth:'i')">
        <div class="header-label">{{'customer.dashboard.header.webpage' | translate}}</div>
        <div class="header-highlighted-text">{{customer?.website}}</div>
      </div>
    </div>
  </div>

  <div class="header-right-container">

    <div *ngIf="formSaveService.formChanged$ | async; else createdAndOwner">
      <button mat-stroked-button class="cancel-button" color="primary" type="button"
              (click)="cancelCardForm()">{{'contacts.details.cancel' | translate}}</button>
      <button mat-raised-button class="save-button" color="primary" (click)="saveCardForm()" type="button">
        {{'contacts.details.save' | translate}}</button>
    </div>

    <ng-template #createdAndOwner>
      <div class="info-container">
        <div *ngIf="!('CustomerDetailsComponent.cooperationStart' | auth:'i')">
          <div class="header-label text-right">{{'customer.dashboard.header.cooperationStart' | translate}}</div>
          <div class="header-text text-right">{{customer?.created | formatDate}}</div>
        </div>
        <div *ngIf="!('CustomerDetailsComponent.owner' | auth:'i')">
          <div class="header-label text-right">{{'customer.dashboard.header.owner' | translate}}</div>
          <div class="header-text">
            <ng-container *ngIf="customerOwner?.person as person">{{person.name}} {{person.surname}}</ng-container>
          </div>
        </div>
      </div>
    </ng-template>

    <div *ngIf="'CustomerListComponent.remove' | auth:'w'">
      <button class="btn-transparent" (click)="tryDeleteCustomer()">
        <img class="header-icon" src="assets/icons/trash_icon.svg"/>
      </button>
    </div>
  </div>
</div>

<div>
  <div class="board">
    <div [className]="widgetsVisible ? 'main-container-small': 'main-container-full'">
      <mat-card class="main-crm-card">
        <mat-tab-group class="board-tab-group" (selectedTabChange)="onTabChange($event)"
                       [(selectedIndex)]="selectedTabIndex">
          <mat-tab [label]="'customer.dashboard.tabs.relations' | translate" #relatedCustomersTab>
            <app-customer-relations [crmObject]="relatedCustomersTab.isActive ? crmObject : null"
                                    [userMap]="userMap"
                                    [customerName]="customer?.name"
                                    (tabIndexChange)="selectedTabIndex = $event"></app-customer-relations>
          </mat-tab>
          <mat-tab [label]="'customer.dashboard.tabs.phoneAddressData' | translate" #customerEditTab>
            <app-customer-edit-embedded [customerId]="customerEditTab.isActive ? customerId : null"
                                        (customerChanged)="getCustomer(customerId)"></app-customer-edit-embedded>
          </mat-tab>
          <mat-tab [label]="'customer.dashboard.tabs.contacts' | translate" #customerContactsTab>
            <app-customer-contacts
              [userMap]="userMap"
              [customerId]="customerContactsTab.isActive ? customerId : null"></app-customer-contacts>
          </mat-tab>
          <mat-tab *ngIf="'RelatedContactsInCustomerDetail.view' | auth:'w'"
                   [label]="'customer.dashboard.tabs.relatedContacts' | translate" #customerRelatedContactsTab>
            <app-customer-related-contacts
              [customerId]="customerRelatedContactsTab.isActive ? customerId : null"></app-customer-related-contacts>
          </mat-tab>
          <mat-tab *ngIf="!('view' | noteAuthKey: crmObject?.type | auth:'i')"
                   [label]="'customer.dashboard.tabs.notes' | translate" #notesTab>
            <app-note-list
              [crmObject]="notesTab.isActive ? crmObject : null"
              [userMap]="userMap"
              [preview]="false"
              (noteSelected)="selectedNote = $event"></app-note-list>
          </mat-tab>
          <mat-tab #filesTab [label]="'customer.dashboard.tabs.attachments' | translate">
            <app-file-list-in-tab [crmObject]="filesTab.isActive ? crmObject : null"
                                  [objectName]="customer?.name"
                                  [preview]="false"></app-file-list-in-tab>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>
    <div class="side-container" *ngIf="isNoteTabActive()">
      <app-note-preview
        class="h-100"
        [crmObject]="crmObject"
        [note]="selectedNote"
        (noteUpdated)="refreshNotes()"
        (next)="getNextNote()"
        (previous)="getPreviousNote()"></app-note-preview>
    </div>
    <div class="side-container" *ngIf="widgetsVisible">
      <mat-card class="crm-card"></mat-card>
      <mat-card class="crm-card"></mat-card>
      <mat-card class="crm-card"></mat-card>
    </div>
  </div>
</div>

