@import "./customer-board.component-fonts.scss";
@import "~src/styles/form";


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background: #FBFBFC;
  border-top: 1px solid #EDEFF3;
  border-bottom: 1px solid #EDEFF3;
  padding-left: 30px;
  padding-right: 30px;
}

.header-icon {
  height: 24px;
  width: 24px;
}

.info-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-height: 80px;
}

.info-container > div {
  margin-right: 50px;
}

.board {
  display: flex;
  height: calc(100vh - 170px);
  padding: 16px;
}

.header-photo {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}


.main-container-small {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.main-container-full {
  flex: 1;
}

.side-container {
  display: flex;
  flex-direction: column;
  margin-left: 6px;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.side-container > .crm-card:not(:first-child) {
  margin-top: 4px;
}

.crm-card {
  border-radius: 8px;
  background: white;
  box-shadow: none !important;
  border: 1px solid #E0E3E7;
  height: 100%;
}

.main-crm-card {
  @extend .crm-card;
}

.header-left-conatiner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.header-right-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.info-box {
  display: flex;
}

.info-box > div {
  margin-left: 10px;
  white-space: nowrap;
}

.board-tab-group {
  height: 100%;
}

::ng-deep .board-tab-group .mat-tab-label {
  min-width: 0;
  padding: 20px;
}

::ng-deep .board-tab-group .mat-tab-body-wrapper{
  height: 100%;
}


.extension-panel {
  box-shadow: none;
  margin: 0;
}

.panel-header {
  position: relative;
}

::ng-deep .panel-header .mat-content {
  flex: none;
}

.header-right-container > div:not(:last-child) {
  margin-right: 0;
}

.basic-info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 60px;
  grid-row-gap: 10px;
  grid-auto-flow: column;
  padding-right: 60px;
}

.basic-info-grid input {
  color: initial;
}

::ng-deep .basic-info-grid .mat-form-field-underline {
  background: unset;
  background-image: unset !important;
}

.extension-panel-fat-border:after {
  margin-top: 20px;
  content: '';
  display: block;
  width: 95%;
  border-bottom: 6px solid #F1F2F4;
}

.extension-panel-thin-border {
  border-bottom: 1px solid rgba(220, 220, 220, 0.5)
}

.contact-panel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0;
  grid-row-gap: 30px;
  justify-items: start;
}


.contact-panel > div:not(:last-child) {
  margin-right: 50px;
}

.contact-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-item > *:not(:last-child) {
  margin-right: 25px;
}

.contact-photo {
  width: 48px;
  height: 48px;
}

.change-tab-icon {
  position: absolute;
  right: 70px;
  cursor: pointer;
}

.cancel-button {
  box-shadow: none;
  width: 100px;
  margin-right: 16px;
}

.save-button {
  box-shadow: none;
  width: 100px;
  margin-right: 16px;
}
