@import "~src/styles/font-weights.scss";

// header

.header-text-primary {
  color: #0A1E44;
  font-size: 16px;
  font-weight: $SemiBold;
}

.header-label {
  color: #8A94A6;
  font-size: 13px;
  font-weight: $Regular;
}

.header-highlighted-text {
  color: #319DF8;
  font-size: 13px;
  font-weight: $Medium;
}

.header-text {
  color: #0A1E44;
  font-size: 13px;
  font-weight: $Regular;
}


// contacts


.contact-text-primary{
  color: #4E5D78;
  font-size: 13px;
  font-weight: $Bold;
  letter-spacing: 0;
  line-height: 20px;
}

.contact-text-secondary{
  color: #8A94A6;
  font-size: 13px;
  font-weight: $Regular;
  letter-spacing: 0;
  line-height: 17px;
}

.contact-text{
  color: #4E5D78;
  font-size: 13px;
  font-weight: $SemiBold;
  letter-spacing: 0;
  line-height: 20px;
}

.contact-text-highlighted{
  color: #319DF8;
  font-size: 13px;
  font-weight: $Regular;
  letter-spacing: 0;
  line-height: 17px;
}

// misc

.extension-header-text {
  color: #319DF8;
  font-size: 13px;
  font-weight: $Medium;
  letter-spacing: 1.2px;
}

.prompt-text {
  color: #8A94A6;
  font-size: 13px;
  font-weight: $Medium;
  letter-spacing: 0;
  line-height: 18px;
}
