.table-header-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.expenses-and-currencies-container {
  display: flex;
}

.save-config-button {
  margin-top: 20px;
}

.save-button {
  position: absolute;
  bottom: 0;
  right: 0;
}
