<div class="table-header-container">
  <span class="table-header-primary">{{'administration.cards.gdpr' | translate}}</span>
</div>
<div class="gdpr-config-container">
  <mat-tab-group>
    <mat-tab [label]="'administration.gdpr.cards.agrees' | translate">
      <app-agreements></app-agreements>
    </mat-tab>
    <mat-tab [label]="'administration.gdpr.cards.statuses' | translate">
      <app-statuses></app-statuses>
    </mat-tab>
    <mat-tab [label]="'administration.gdpr.cards.agreeWay' | translate">
      <app-agree-way></app-agree-way>
    </mat-tab>
    <mat-tab [label]="'administration.gdpr.cards.mail' | translate">
      <app-mail-content></app-mail-content>
    </mat-tab>
    <mat-tab [label]="'administration.gdpr.cards.form' | translate">
      <app-form-content></app-form-content>
    </mat-tab>
  </mat-tab-group>
</div>
