<ng-container *ngIf="!_preview">
  <div class="notes-container">
    <div class="header-container">
      <div class="title-text">{{ "notes.list.title" | translate }}</div>
      <button
        *ngIf="'add' | noteAuthKey: _crmObject?.type | auth: 'w'"
        class="btn-transparent"
        (click)="addNewNote.open()"
      >
        <img src="assets/icons/plus-blue.svg" />
      </button>
    </div>
    <ng-container [ngTemplateOutlet]="notesList"></ng-container>
  </div>
</ng-container>

<ng-container *ngIf="_preview">
  <div class="preview-mode">
    <mat-accordion [multi]="true">
      <mat-expansion-panel class="extension-panel" expanded="true">
        <mat-expansion-panel-header class="panel-header">
          <mat-panel-title>
            <div class="preview-header-text">
              {{ "notes.list.title" | translate }}
              <button
                class="btn-transparent"
                *ngIf="'add' | noteAuthKey: _crmObject?.type | auth: 'w'"
                (click)="addNewNote.open(); $event.stopPropagation()"
              >
                <img src="assets/icons/plus-blue.svg" />
              </button>
            </div>
          </mat-panel-title>

          <button
            class="btn-transparent change-tab-icon"
            (click)="changeTab.emit($event); $event.stopPropagation()"
          >
            <img
              alt="change-tab-icon"
              src="assets/icons/change-tab-icon-blue.svg"
            />
          </button>
        </mat-expansion-panel-header>
        <ng-container [ngTemplateOutlet]="notesList"></ng-container>
        <div
          class="show-all"
          *ngIf="infinityScroll?.itemPage?.totalElements > 3"
          (click)="changeTab.emit($event)"
        >
          {{
            "notes.list.showAll"
              | translate
                : { totalNumber: infinityScroll?.itemPage?.totalElements }
          }}
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</ng-container>

<ng-template #notesList>
  <div class="table-container">
    <div
      class="overflow-y w-100 table-height table-padding"
      (scroll)="infinityScroll.onScroll($event)"
    >
      <table
        [dataSource]="infinityScroll?.itemPage?.content"
        class="mat-elevation-z8 w-100 h-100"
        mat-table
        matSort
        (matSortChange)="infinityScroll.onSortChange($event)"
      >
        <ng-container matColumnDef="content">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>
            {{ "notes.list.notePreview" | translate }}
          </th>
          <td
            *matCellDef="let note"
            mat-cell
            [title]="note.content | lengthMoreThan: 30"
          >
            <span class="note-text">{{ note.content }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="createdBy">
          <th *matHeaderCellDef mat-header-cell>
            {{ "notes.list.createdBy" | translate }}
          </th>
          <td
            *matCellDef="let note"
            mat-cell
            [title]="userMap?.get(note.createdBy) | lengthMoreThan: 30"
          >
            <span class="created-by-text">{{
              userMap?.get(note.createdBy)
            }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="updated">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>
            {{ "notes.list.modificationDate" | translate }}
          </th>
          <td
            *matCellDef="let note"
            mat-cell
            [title]="note.updated | lengthMoreThan: 30"
          >
            <span class="table-text">{{
              note.updated | formatDate: true
            }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="updatedBy">
          <th *matHeaderCellDef mat-header-cell>
            {{ "notes.list.modificationBy" | translate }}
          </th>
          <td
            *matCellDef="let note"
            mat-cell
            [title]="userMap?.get(note.updatedBy) | lengthMoreThan: 30"
          >
            <span class="table-text">{{ userMap?.get(note.updatedBy) }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th *matHeaderCellDef mat-header-cell></th>
          <td *matCellDef="let note" mat-cell>
            <app-icon
              [matMenuTriggerFor]="menu"
              svgIcon="option-dots"
              [hover]="false"
            ></app-icon>

            <mat-menu #menu="matMenu" xPosition="before">
              <button
                *ngIf="'remove' | noteAuthKey: _crmObject?.type | auth: 'w'"
                (click)="tryDelete(note)"
                class="dropdown-select-item"
                mat-menu-item
              >
                <app-icon
                  svgIcon="trash"
                  [hover]="false"
                  size="16px"
                ></app-icon>
                {{ "notes.add.delete" | translate }}
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="columns; sticky: true" mat-header-row></tr>
        <tr
          *matRowDef="let note; columns: columns"
          mat-row
          [ngClass]="{ 'note-row-selected': selectedNote === note }"
          (click)="selectNote(note)"
        ></tr>
      </table>

      <div
        class="preview-empty-list"
        *ngIf="infinityScroll.itemPage?.totalElements === 0 && _preview"
      >
        <div class="preview-empty-list-text">
          {{ "notes.list.empty" | translate }}
        </div>
      </div>

      <div
        class="empty-list"
        *ngIf="infinityScroll.itemPage?.totalElements === 0 && !_preview"
      >
        <div class="center">
          <div class="center-horizontally">
            <img src="assets/icons/face-sad.svg" />
            <div class="mt-4 empty-list-text-primary">
              {{ "notes.list.empty" | translate }}
            </div>
            <div class="empty-list-text-secondary center">
              {{ "notes.list.addNew" | translate }}
              <app-icon
                svgIcon="add"
                class="px-1"
                (click)="addNewNote.open()"
              ></app-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<app-slider
  [width]="'30vw'"
  [title]="'notes.add.title' | translate"
  key="addNewNote"
  #addNewNote
  group="expenseSliderGroup"
>
  <app-add-note-slider
    [crmObject]="_crmObject"
    [slider]="addNewNote"
    (noteAdded)="getNotes()"
  ></app-add-note-slider>
</app-slider>
