@import "../../../../../styles/table";
@import '../../../../../styles/colors';
@import '~src/styles/list-preview';

tr.mat-footer-row, tr.mat-row {
  height: 32px;
  cursor: pointer;
}

.table-container {
  overflow: auto;
  height: 100%;
  padding: 0;
}

.table-padding {
  padding: 0 16px;
}

th {
  border: none !important;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid rgba($contrast-rgb, 0.12);
  }
}

td {
  text-align: left;
  font: Regular 12px/17px Poppins;
  letter-spacing: 0;
  color: $action-color;
  opacity: 1;
}
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
  padding-left: 4px;
}

.notes-container {
  overflow: hidden;
  height: 100%;
}

.date-text {
  text-align: right;
  font: $Medium 12px/17px Poppins;
  letter-spacing: 0;
  color: $text-title;
  opacity: 1;
}

.table-height {
  max-height: calc(100% - 67px);
}

.empty-list {
  height: calc(100vh - 520px);
}

.empty-list-preview {
  height: calc(100vh - 520px);
}

.header-container {
  display: flex;
  margin: 20px 16px 12px;
}

.title-text {
  text-align: left;
  font: $Regular 24px/35px Poppins;
  letter-spacing: 0;
  color: $action-color;
  opacity: 1;
  margin-right: 10px;
}

.note-row-selected {
  background-color: rgba($primary-rgb, .1);
}

.preview-mode {
  .table-padding {
    padding: 0;
  }
}


.note-text {
  font: $Medium 13px/20px Poppins;
  color: $text-title;
  opacity: 1;
}

.created-by-text {
  font: $Regular 13px/20px Poppins;
  color: $text-title;
}

.table-text {
  font: $Regular 13px/20px Poppins;
  color: $action-color;
}
