@import '~src/styles/colors';
@import "~src/styles/table";

.sales-opportunity-list-header {
  text-align: left;
  font: $Regular 24px/35px Poppins;
  letter-spacing: 0;
  color: $action-color;
  opacity: 1;
  margin: 30px 0 5px 23px;
}
