<div>
  <div class="sales-opportunity-list-header">
    {{ "contacts.tabs.salesOpportunities.title" | translate }}
    <button
      class="btn-transparent"
      (click)="addOpportunity()"
      *ngIf="'OpportunityCreateComponent.save' | auth: 'w'"
      appTooltip="ADD"
    >
      <app-icon svgIcon="plus" [primary]="true"></app-icon>
    </button>
  </div>
</div>

<table
  [dataSource]="contactOpportunities"
  class="col-md-12 row-collapsed"
  mat-table
>
  <ng-container matColumnDef="name">
    <th *matHeaderCellDef mat-header-cell>
      {{ "contacts.tabs.salesOpportunities.name" | translate }}
    </th>
    <td *matCellDef="let opportunity" mat-cell>
      <div
        class="table-text-primary"
        [title]="opportunity.name | lengthMoreThan: 30"
      >
        {{ opportunity.name }}
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th *matHeaderCellDef mat-header-cell>
      {{ "contacts.tabs.salesOpportunities.status" | translate }}
    </th>
    <td *matCellDef="let opportunity" mat-cell>
      <mat-progress-bar
        [value]="getOpportunityProgress(opportunity)"
        class="progress-bar-element"
        mode="determinate"
      >
      </mat-progress-bar>
      <span class="progress-bar-text">
        {{ "opportunity.list.stage" | translate }} {{ opportunity.status }}
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="amount">
    <th *matHeaderCellDef mat-header-cell class="currency-header-not-sort">
      {{ "contacts.tabs.salesOpportunities.amount" | translate }}
    </th>
    <td *matCellDef="let opportunity" mat-cell class="currency-value">
      <div [title]="opportunity.amount | lengthMoreThan: 30">
        {{ opportunity.amount | formatCurrency: opportunity.currency }}
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="finishDate">
    <th *matHeaderCellDef mat-header-cell>
      {{ "contacts.tabs.salesOpportunities.finishDate" | translate }}
    </th>
    <td *matCellDef="let opportunity" mat-cell>
      <div>{{ opportunity.finishDate | formatDate }}</div>
    </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th *matHeaderCellDef mat-header-cell></th>
    <td *matCellDef="let opportunity" mat-cell>
      <app-icon
        svgIcon="option-dots"
        [hover]="false"
        [matMenuTriggerFor]="menu"
        (click)="$event.stopPropagation()"
      ></app-icon>
      <mat-menu #menu="matMenu" xPosition="before">
        <button
          *ngIf="'OpportunityShared.edit' | auth: 'w'"
          (click)="edit(opportunity.id)"
          class="dropdown-select-item"
          mat-menu-item
        >
          <app-icon svgIcon="edit" [hover]="false" size="16px"></app-icon>
          {{ "opportunity.list.dropdown.edit" | translate }}
        </button>
        <button
          *ngIf="'OpportunityShared.delete' | auth: 'w'"
          (click)="tryDeleteOpportunity(opportunity.id)"
          class="dropdown-select-item"
          mat-menu-item
        >
          <app-icon svgIcon="trash" [hover]="false" size="16px"></app-icon>
          {{ "opportunity.list.dropdown.delete" | translate }}
        </button>
      </mat-menu>
    </td>
  </ng-container>
  <tr
    *matHeaderRowDef="filteredColumns$ | async; sticky: true"
    mat-header-row
  ></tr>
  <tr
    *matRowDef="let myRowData; columns: filteredColumns$ | async"
    mat-row
    class="clickable"
    (click)="goToOpportunityDetails(myRowData.id)"
  ></tr>
</table>

<app-slider
  #addSlider
  [title]="'opportunity.list.addTitle' | translate"
  key="ContactSalesOpportunityCard.AddSlider"
  width="65vw"
>
  <app-opportunity-add
    [opportunity]="opportunityWithContact"
    (opportunityAdded)="handleOpportunityAdded()"
  ></app-opportunity-add>
</app-slider>

<app-slider
  #editSlider
  [title]="'opportunity.list.editTitle' | translate"
  key="ContactSalesOpportunityCard.EditSlider"
  width="65vw"
>
  <app-opportunity-edit
    [opportunity]="selectedOpportunity"
    (opportunityEdited)="handleOpportunityAdded()"
  ></app-opportunity-edit>
</app-slider>
