<button
  (click)="addSlider.open()"
  class="button-medium ml-2 tab-add-button"
  color="primary"
  mat-raised-button
>
  {{ "administration.gdpr.status.add" | translate }}
</button>

<table [dataSource]="statuses" class="mat-elevation-z8 col-md-12" mat-table>
  <ng-container matColumnDef="name">
    <th *matHeaderCellDef mat-header-cell>
      {{ "administration.gdpr.status.name" | translate }}
    </th>
    <td *matCellDef="let status" mat-cell>{{ status.name }}</td>
  </ng-container>
  <ng-container matColumnDef="defaultStatus">
    <th *matHeaderCellDef mat-header-cell>
      {{ "administration.gdpr.status.defaultStatus" | translate }}
    </th>
    <td *matCellDef="let status" mat-cell>
      {{ translateDefaultStatus(status.defaultStatus) | translate }}
    </td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th *matHeaderCellDef mat-header-cell></th>
    <td *matCellDef="let status" mat-cell>
      <app-icon
        *ngIf="status.modifiable"
        [matMenuTriggerFor]="menu"
        (click)="$event.stopPropagation()"
        appTooltip="MORE"
        svgIcon="option-dots"
        [hover]="false"
      ></app-icon>
      <mat-menu #menu="matMenu">
        <button (click)="editStatus(status)" mat-menu-item>
          {{ "administration.gdpr.edit" | translate }}
          <span class="fa fa-pencil ml-3"></span>
        </button>
        <button (click)="tryDeleteStatus(status.id)" mat-menu-item>
          {{ "administration.gdpr.delete" | translate }}
          <span class="fa fa-trash ml-4 contrast-color"></span>
        </button>
      </mat-menu>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="filteredColumns; sticky: true" mat-header-row></tr>
  <tr
    *matRowDef="let rowData; columns: filteredColumns"
    mat-row
    (click)="$event.stopPropagation()"
  ></tr>
</table>

<app-slider
  #addSlider
  [title]="'administration.gdpr.status.addTitle' | translate"
  key="Statuses.AddSlider"
  width="45vw"
>
  <app-add-form
    [operationType]="'STATUSES'"
    (onSave)="saveStatus($event)"
  ></app-add-form>
</app-slider>

<app-slider
  #editSlider
  [title]="'administration.gdpr.status.editTitle' | translate"
  key="Statuses.AddSlider"
  width="45vw"
>
  <app-add-form
    #editForm
    [operationType]="'STATUSES'"
    (onSave)="updateStatus($event)"
  ></app-add-form>
</app-slider>
