<div class="w-100 h-100 card-padding">

  <mat-card class="mat-elevation-z0 main-mat-card mat-card card-border-radius no-bottom-border-radius">
    <form [formGroup]="form">
      <ng-container *ngIf="!autoConfigure">
        <div class="server-type-header">
          {{'person.detail.info.mail.incomingServer' | translate}}
        </div>

        <div class="two-inputs-in-line">
          <div class="mail-normal-input">
            <mat-form-field>
              <input formControlName="imapServerAddress" matInput>
              <mat-placeholder
                class="placeholder">{{'person.detail.info.mail.form.serverAddress' | translate}}
              </mat-placeholder>

              <mat-error *ngIf="imapServerAddress.hasError('required')">
                {{'person.detail.info.mail.form.fieldRequired' | translate}}
              </mat-error>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field class="port-input">
              <input formControlName="imapServerPort" matInput type="number">
              <mat-placeholder
                class="placeholder">{{'person.detail.info.mail.form.serverPort' | translate}}
              </mat-placeholder>

              <mat-error *ngIf="imapServerPort.hasError('required')">
                {{'person.detail.info.mail.form.fieldRequired' | translate}}
              </mat-error>

              <mat-error *ngIf="imapServerPort.hasError('min')">
                {{'person.detail.info.mail.form.minValue' | translate}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="mail-normal-input">
          <mat-form-field>
            <mat-select formControlName="imapSecurityType"
                        [placeholder]="'person.detail.info.mail.securityType' | translate">
              <mat-option *ngFor="let securityType of ['TLS', 'SSL']"
                          [value]="securityType">{{securityType}}</mat-option>
            </mat-select>

            <mat-error *ngIf="imapSecurityType.hasError('required')">
              {{'person.detail.info.mail.form.fieldRequired' | translate}}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="server-type-header">
          {{'person.detail.info.mail.outgoingServer' | translate}}
        </div>

        <div class="two-inputs-in-line">
          <div class="mail-normal-input">
            <mat-form-field>
              <input formControlName="smtpServerAddress" matInput>
              <mat-placeholder
                class="placeholder">{{'person.detail.info.mail.form.serverAddress' | translate}}
              </mat-placeholder>

              <mat-error *ngIf="smtpServerAddress.hasError('required')">
                {{'person.detail.info.mail.form.fieldRequired' | translate}}
              </mat-error>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field class="port-input">
              <input formControlName="smtpServerPort" matInput type="number">
              <mat-placeholder
                class="placeholder">{{'person.detail.info.mail.form.serverPort' | translate}}
              </mat-placeholder>

              <mat-error *ngIf="smtpServerPort.hasError('required')">
                {{'person.detail.info.mail.form.fieldRequired' | translate}}
              </mat-error>

              <mat-error *ngIf="smtpServerPort.hasError('min')">
                {{'person.detail.info.mail.form.minValue' | translate}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="mail-normal-input">
          <mat-form-field>
            <mat-select formControlName="smtpSecurityType"
                        [placeholder]="'person.detail.info.mail.securityType' | translate">
              <mat-option *ngFor="let securityType of ['TLS', 'SSL']"
                          [value]="securityType">{{securityType}}</mat-option>
            </mat-select>

            <mat-error *ngIf="smtpSecurityType.hasError('required')">
              {{'person.detail.info.mail.form.fieldRequired' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
      </ng-container>

      <div class="server-type-header">
        {{'person.detail.info.mail.userData' | translate}}
      </div>

      <div class="mail-normal-input">
        <mat-form-field>
          <input formControlName="username" matInput (ngModelChange)="updateDomain($event)">
          <mat-placeholder
            class="placeholder">{{'person.detail.info.mail.form.serverUser' | translate}}
          </mat-placeholder>

          <mat-error *ngIf="username.hasError('required')">
            {{'person.detail.info.mail.form.fieldRequired' | translate}}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="mail-normal-input">
        <mat-form-field>
          <input formControlName="password" matInput type="password">
          <mat-placeholder
            class="placeholder">{{'person.detail.info.mail.form.serverPassword' | translate}}
          </mat-placeholder>

          <mat-error *ngIf="password.hasError('required')">
            {{'person.detail.info.mail.form.fieldRequired' | translate}}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="mail-normal-input mt-2">
        <mat-checkbox color="primary" [checked]="autoConfigure"
                      (change)="autoConfigureCheckboxClicked($event)"></mat-checkbox>
        <span class="checkbox-text">
          {{'person.detail.info.mail.form.autoconfigureEmail' | translate}}
        </span>
      </div>
    </form>

    <ng-container *ngIf="showHelp && domainName && domainName.length > 0">
      <div class="server-type-header mt-5 mb-3">
        {{'person.detail.info.mail.form.link.serverConfigurationHelp' | translate}}
      </div>

      <div class="manual-configuration-help">
        <div class="imap-connection">
          <a target="_blank"
             href="http://www.google.com/search?q={{'person.detail.info.mail.form.link.imapGoogleText' | translate}}{{domainName}}">
            {{'person.detail.info.mail.form.link.imapText' | translate}}
          </a>
        </div>
        <div class="smtp-connection mt-2">
          <a target="_blank"
             href="http://www.google.com/search?q={{'person.detail.info.mail.form.link.smtpGoogleText' | translate}}{{domainName}}">
            {{'person.detail.info.mail.form.link.smtpText' | translate}}
          </a>
        </div>
        <div class="gmail-info mt-2" *ngIf="domainName === 'gmail.com'">
          <span>
            {{'person.detail.info.mail.form.gmail.title' | translate}}
            <ul>
              <li [innerHTML]="'person.detail.info.mail.form.gmail.point1' | translate"></li>
              <li>{{'person.detail.info.mail.form.gmail.point2' | translate}}</li>
            </ul>
          </span>
        </div>
      </div>
    </ng-container>
  </mat-card>

  <div class="button-container">
    <mat-card class="mat-elevation-z0 card-border-radius no-top-border-radius">
      <div class="row">
        <div class="col-md-12">
          <div class="pull-right">
            <button (click)="closeSlider()" class="button-medium" color="primary"
                    mat-stroked-button>{{'leads.form.cancel' | translate}}</button>
            <button *ngIf="_id == null" (click)="add()" class="button-medium ml-2" color="primary"
                    mat-raised-button>
              <span class="button-with-progress-bar">
                {{'mail.configuration.add' | translate}}
                <mat-spinner *ngIf="saving" [diameter]="20" color="accent" class="ml-2 mt-2"></mat-spinner>
              </span>
            </button>
            <button *ngIf="_id != null" (click)="edit()" class="button-medium ml-2" color="primary"
                    mat-raised-button>
              <span class="button-with-progress-bar">
                {{'mail.configuration.save' | translate}}
                <mat-spinner *ngIf="saving" [diameter]="20" color="accent" class="ml-2 mt-2"></mat-spinner>
              </span>
            </button>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
