@import "~src/styles/slider";
@import "~src/styles/form";
@import "~src/styles/font-weights";

.server-type-header {
  text-align: left;
  font: 400 10px/16px Poppins;
  letter-spacing: 1.2px;
  color: $primary;
  text-transform: uppercase;
  opacity: 1;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button-container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: $bg-secondary;
}

.two-inputs-in-line {
  display: flex;
  justify-content: space-between;
}

.mail-normal-input {
  width: 60%;
  position: relative;
}

.mail-normal-input > mat-form-field {
  width: 100%;
}

.mail-normal-input .checkbox-text {
  line-height: 16px;
  position: absolute;
  top: 0;
  margin-left: 10px;
  color: $text-secondary;
}

.port-input {
  padding-left: 20%;
  width: 60%;
}

.button-with-progress-bar {
  display: flex;
  width: fit-content;
  margin: auto;
}

.gmail-info {
  font-size: 11px;
}
