<div class="title-bar">
  <div class="mt-2 inner-title-bar">
    <app-icon
      svgIcon="logo"
      (click)="goToMainPage()"
      class="crm-logo"
      size="100%"
      [hover]="false"
    ></app-icon>
    <span class="form-inline float-right">
      <div *ngIf="search">
        <app-main-search
          [textPlaceholder]="'assignToGroup.search'"
          (itemSelected)="handleSearchResultSelected($event)"
        ></app-main-search>
      </div>
      <app-icon
        class="icon"
        svgIcon="search"
        (click)="showSearchForm($event)"
        appTooltip="SEARCH"
        size="18px"
      ></app-icon>
      <app-icon
        class="icon"
        svgIcon="ring"
        (click)="toggleNotifications();"
        [matBadge]="'' + numberOfAllUserNotifications"
        matBadgeColor="warn"
        appTooltip="NOTIFICATIONS"
        size="23px"
      ></app-icon>
      <app-icon
        class="icon"
        svgIcon="gear"
        [matMenuTriggerFor]="cogMenu"
        appTooltip="PREFERENCES"
        size="20px"
      ></app-icon>
      <mat-menu #cogMenu="matMenu">
        <app-theme class="button-icon"></app-theme>
        <button
          *ngIf="'NavigationComponent.settingItem.info' | auth: 'w'"
          mat-menu-item
          (click)="settingItemClick('info')"
        >
          {{ "settingIcon.info" | translate }}
        </button>
      </mat-menu>

      <div class="ml-4">
        <div class="nav-user-title">{{ navUserName }}</div>
        <div class="nav-user-position">{{ navUserRole }}</div>
      </div>

      <span class="ml-4">
        <app-avatar-preview
          [imageSrc]="navUserAvatar"
          [widthPx]="45"
          defaultImg="assets/icons/user-logo.svg"
        ></app-avatar-preview>
      </span>
      <button mat-button [matMenuTriggerFor]="menu">
        <span class="nav-icon fa fa-angle-down"></span>
      </button>
      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          (click)="goToAdministration()"
          *ngIf="'NavigationComponent.settingItem.administration' | auth: 'w'"
        >
          {{ "settingIcon.administration" | translate }}
        </button>
        <button mat-menu-item (click)="logout()">
          {{ "settingIcon.logout" | translate }}
          <span class="fa fa-sign-out"></span>
        </button>
      </mat-menu>
    </span>
  </div>
</div>

<notification-popup #notificationsPopup
                    (onCloseClick)="closeSlider()">
</notification-popup>
