@import "~src/styles/table";
@import "~src/styles/colors";

.title {
  color: $text-title;
}

.title-bar {
  padding-left: 1em;
  color: $primary;
}

.crm-logo {
  width: 200px;
  &::ng-deep.icon {
    fill: $contrast;
    stroke: $contrast;
  }
}

.inner-title-bar {
  display: flex;
  justify-content: space-between;
}

.nav-bar {
  border-bottom: 0.1px solid $border-primary;
  border-top: 0.1px solid $border-primary;
  color: $primary-contrast;
  padding-bottom: 1px;
  padding-top: 1px;

  ::ng-deep .dx-menu-item-selected {
    background-color: $bg-primary !important;
    color: $primary !important;
  }

  ::ng-deep .dx-menu-item {
    background-color: $bg-primary;
    color: $contrast;
  }

  ::ng-deep .dx-menu-items-container {
    padding-left: 8px;
  }
}

.nav-icon {
  color: $action-color;
  background-color: $bg-primary;
  height: 1em;
  font-size: 30px;
}
.nav-button {
  padding: 0;
  margin-left: -10px;
  margin-right: -10px;
}
::ng-deep .mat-button-focus-overlay {
  background: transparent;
}

.nav-icon.fa-cog {
  font-size: 32px;
}

.nav-image-container {
  margin-top: 10px;
  margin-left: .5em;
}

::ng-deep .nav-button.dx-state-focused,
::ng-deep .nav-button.dx-state-hover {
  background-color: $bg-primary !important;
}
.nav-icon:hover {
  color: $primary;
}
.notification-bubble {
  background: #e02424;
  top: -11px;
  position: relative;
  margin-left: -13px;
  padding: 2px 5px;
  font-size: -6px;
  color:  $primary-contrast;
  font: bold 0.4em Arial;
  border-radius: 50%;
}

::ng-deep .setting-dropdown {
  visibility: hidden;
  width: 150px;
  margin-left: -150px;
}

.clickable {
  cursor: pointer;
}
.nav-user-title {
  color: $contrast;
  font-weight: bold;
  font-size: 16px;
  margin-top: 6px;
  margin-bottom: -10px;
}

.nav-user-position {
  color: $contrast;
  font-size: 13px;
  padding-bottom: 10px;
  display: block;
}

.icon {
  margin: 0 12px;
}

.button-icon {
  border: none;
  width: 50px;
  height: 50px;
}
.loupe-icon {
  @extend .button-icon;
  background: url('~src/assets/icons/loupe.svg') no-repeat center;
}
.loupe-icon:hover {
  background: url('~src/assets/icons/loupe-active.svg') no-repeat center;
}

.bell-icon {
  @extend .button-icon;
  background: url('~src/assets/icons/bell.svg') no-repeat center;
  .mat-badge-content {
    right: 0.2em !important;
    top: 0.2em !important;
  }
}
.bell-icon:hover {
  background: url('~src/assets/icons/bell-active.svg') no-repeat center;
  .mat-badge-content {
    width: 23px !important;
    height: 23px !important;
  }
}

::ng-deep .search-popover {
  max-width: 450px !important;
  width: 450px
}

.gear-icon {
  @extend .button-icon;
  background: url('~src/assets/icons/gear.svg') no-repeat center;
}
.gear-icon:hover {
  background: url('~src/assets/icons/gear-active.svg') no-repeat center;
}
