@import "~src/styles/form";
@import "~src/styles/table";
@import "~src/styles/font-weights";

.task-bg {
  height: 32px;
  margin-top: -2px;
}

.task-text {
  font-size: 10px;
  color:  $primary-contrast;
  font-weight: $Medium;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  padding-top: 7px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 31px;
  max-width: 270px;
  min-height: 22px;
}

.task-add {
  height: 26px;
  cursor: pointer;
  margin-right: -30px;
  margin-left: 7px;
  margin-top: -29px;
  display: table;
}

.task-short-add {
  margin-left: 114px;
  margin-top: -26px;
  z-index: 2;
  position: absolute;
}

.task-short-add > img {
  cursor: pointer;
}

.task {
  min-width: 300px;
  display: inline-block;
  background-repeat: no-repeat;
  height: 32px;
  text-align: center;
  padding-top: 2px;
  margin-top: 17px;
}

@each $color in 'white' 'blue' 'purple' 'yellow' 'pink' 'green' 'brown' 'turquoise'  {
  .task-color-#{$color} {
    background-image: url('~src/assets/icons/task/task_#{$color}.svg');
  }
}

.task-property > span > img {
  margin-left: 10px;
  margin-right: 10px;
}

.task-property {
  width: 285px;
  border: 1px solid $border-secondary;
  border-radius: 8px;
  background-repeat: no-repeat;
  height: 48px;
  margin-top: 5px;
  text-align: center;
  color: $action-color;
  font-size: 13px;
  font-weight: $Medium;
  display: flex;
  text-overflow: ellipsis;
  align-items: center;
  background-color: $bg-primary;
}

.task-property.selected {
  border-width: 2px !important;
  border-color: $yellow-bg !important;
}

.scroll {
  height: calc(100vh - 315px);
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.task-content {
  margin-top: 20px;
  padding-top: 20px;
  display: table-cell;
  text-align: left;
}

::ng-deep .add-field-input .mat-form-field-label,
::ng-deep .add-field-input .mat-form-field-underline {
  display: none !important;
}
::ng-deep .add-field-input .mat-input-element{
  margin-top: 5px;
}
.add-field-input {
  width: 100%;
}

.type-select {
  width: 25px;
  display: inline-block;
  text-align: center;
  margin-right: 10px;
}

.task-property-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 5px;
  max-width: 190px;
  min-width: 190px;
}

.cursor-pointer {
  cursor: pointer;
}

::ng-deep .property-list-menu > .mat-menu-content {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  font-weight: $Bold;

  button {
    font-weight: $SemiBold;

    img {
      margin-bottom: .2em;
    }
  }
}

.task-selected {
  margin-bottom: -24px;

  span {
    margin-bottom: 25px;
    margin-top: -25px;
    display: block;
  }
}

::ng-deep .select-property-type-form-mat-menu {
  max-width: 304px !important;
  margin-left: -170px;
  margin-top: 15px;
  position: absolute;
  box-shadow: 0 6px 12px rgba($text-title-rgb, .25);

  .mat-menu-content {
    width: 304px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 6px;
  }
}
.select-property-type-form {
  #property-form-title {
    padding-top: 16px;
    font-weight: 500;
    color: $text-title;
    font-size: 10px;
    height: 45px !important;
    background-color: $bg-primary;
    word-spacing: 1.2px;
    text-transform: uppercase;
    text-align: center;
  }
  .mat-menu-item.active {
    font-weight: $Medium;
    color: $text-title;
    background-color: $bg-tertiary;
  }
  .mat-menu-item {
    font-weight: $Medium;
    font-size: 13px;
    background-color: $bg-primary;
    color: $action-color;
    height: 40px !important;
    padding: 0 10px !important;
    line-height: 40px !important;
    border-radius: 3px;
  }
}
.add-property-type-button {
  margin-left: 138px;
}
.task-element {
  position: relative;
  width: 304px;
  margin-left: 1px;
  padding-left: 9px;
  padding-bottom: 18px;
  display: inline-block;
  margin-top: 1px;
}
.task-element.selected-task {
  border: 1px solid;
  border-radius: 9px;
  width: 305px;
  margin-left: 0;
  margin-top: 0;
}
.task-element.selected-property {
  border: 1px solid $border-secondary;
  border-radius: 9px;
  width: 305px;
  margin-left: 0;
  background-color: $bg-tertiary;
  margin-top: 0;
}

.task-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
  display: inline-block;
}

.task-chance {
  position: absolute;
  left: 20px;
}

.task-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


//drag and drop
.dragon-and-drop-list {
  display: flex;
}
.cdk-drag-preview .task-short-add,
.cdk-drag-preview .task-add {
  display: none;
}
.cdk-drag-placeholder {
  opacity: 0;
}
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.dragon-and-drop-box:last-child {
  border: none;
}
.dragon-and-drop-list.cdk-drop-list-dragging .dragon-and-drop-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.no-properties {
  padding-bottom: 9px;
}

.task-dot {
  position: absolute;
  top: -2px;
  right: 140px;
}
