<div>
  <div
    class="scroll dragon-and-drop-list"
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="drop($event)"
  >
    <span
      *ngFor="let task of process.tasks; let i = index"
      class="dragon-and-drop-box"
      cdkDrag
      [cdkDragDisabled]="task.isInformationTask"
    >
      <div
        class="task-element selected-property"
        [ngClass]="{
          'selected-task': isTaskSelected(task),
          'selected-property': propertyInTaskSelected(task)
        }"
        [ngStyle]="{
          'border-color': getTaskSelectedBgColor(task)?.hex,
          'background-color': getTaskSelectedBgColor(task)?.selectedBg
        }"
      >
        <span
          class="task"
          [ngClass]="
            'task-color-' +
            bpmnUtil.getColorNameByBgColorHex(getTaskColor(task)?.hex)
          "
        >
          <span
            (mouseover)="add.hidden = false"
            (mouseleave)="add.hidden = true"
          >
            <div [ngClass]="{ 'task-selected': propertyOrTaskSelected(task) }">
              <span *ngIf="propertyOrTaskSelected(task)">
                <svg-icon
                  class="task-dot"
                  [stretch]="true"
                  [svgStyle]="{ fill: getTaskColor(task)?.hex }"
                  src="assets/icons/dot_task_icon.svg"
                ></svg-icon>
              </span>
            </div>
            <div
              class="task-text cursor-pointer"
              [ngStyle]="{ color: getTaskColor(task)?.textHex }"
              (click)="openTaskPanel(task)"
            >
              <span class="task-name">{{
                task.name
                  ? task.name
                  : ("bpmn.panel.task.namePlaceholder" | translate)
              }}</span>
              <span class="task-chance"
                ><ng-container *ngIf="!(task.salesOpportunity | isNil)"
                  >{{ task.salesOpportunity }}%</ng-container
                ></span
              >
            </div>

            <span #add [hidden]="true" class="task-short-add float-right">
              <img
                (click)="addTask(task)"
                class="task-bg"
                src="{{
                  'assets/icons/task/task_' +
                    bpmnUtil.getColorNameByBgColorHex(process.bgColor) +
                    '_icon.svg'
                }}"
                *ngIf="i + 1 !== process.tasks.length"
              />
            </span>
          </span>
        </span>

        <span
          *ngIf="i + 1 === process.tasks.length || isEmptyTaskList()"
          class="float-right"
        >
          <svg-icon
            [svgStyle]="{
              fill: currentPanelValid ? process.bgColor : '#EAECEF'
            }"
            [stretch]="true"
            (click)="addTask(process.tasks[process.tasks.length - 1])"
            class="task-add"
            src="assets/icons/add-empty-fill.svg"
          ></svg-icon>
        </span>

        <div
          class="task-content"
          (click)="$event.stopPropagation()"
          [ngClass]="{
            'no-properties': !task.properties || task.properties.length === 0
          }"
        >
          <div *ngIf="task.properties" class="mb-2">
            <div
              *ngFor="let property of task.properties"
              class="task-property cursor-pointer"
              (click)="openPropertyPanel(task, property)"
              [ngClass]="{ selected: isPropertySelected(property) }"
              [tooltip]="'bpmn.tooltips.addPropertyName' | translate"
              #propertyNameTooltip="bs-tooltip"
              placement="top"
              triggers=""
              [delay]="500"
              [isDisabled]="!isPropertySelected(property)"
            >
              <span>
                <img
                  *ngIf="property.type === bpmnTypeEnum.STRING"
                  src="assets/icons/bpmn/tt_grey_icon.svg"
                />
                <img
                  *ngIf="property.type === bpmnTypeEnum.DOUBLE"
                  src="assets/icons/bpmn/123_grey_icon.svg"
                />
                <img
                  *ngIf="property.type === bpmnTypeEnum.BOOLEAN"
                  src="assets/icons/bpmn/checkbox_grey_icon.svg"
                  style="width: 25px"
                />
                <img
                  *ngIf="property.type === bpmnTypeEnum.ENUM"
                  src="assets/icons/bpmn/list_grey_icon.svg"
                />
              </span>
              <span class="task-property-text">
                <mat-form-field class="add-field-input">
                  <input
                    matInput
                    [placeholder]="'Dodaj pole'"
                    [ngModel]="property.id"
                    [disabled]="task.isInformationTask"
                    (ngModelChange)="property.id = $event"
                  />
                </mat-form-field>
              </span>
              <app-icon
                *ngIf="!task.isInformationTask"
                [matMenuTriggerFor]="propertyList"
                (click)="$event.stopPropagation()"
                class="float-right"
                svgIcon="option-dots"
                [hover]="false"
              ></app-icon>
              <mat-menu
                #propertyList="matMenu"
                xPosition="before"
                class="property-list-menu"
              >
                <button
                  class="dropdown-select-item"
                  mat-menu-item
                  (click)="removeProperty(task, property)"
                >
                  <app-icon
                    svgIcon="trash"
                    [hover]="false"
                    size="16px"
                  ></app-icon>
                  {{ "bpmn.taskForm.deleteProperty" | translate }}
                </button>
              </mat-menu>
            </div>
          </div>

          <div
            class="form-inline"
            *ngIf="
              !task.isInformationTask &&
              (!task.properties ||
                task.properties.length < MAX_PROPERTIES_COUNT)
            "
          >
            <svg-icon
              *ngIf="!currentPanelValid"
              [svgStyle]="{ fill: '#EAECEF' }"
              [stretch]="true"
              class="cursor-pointer add-property-type-button"
              src="assets/icons/add-empty-fill.svg"
            ></svg-icon>

            <svg-icon
              *ngIf="currentPanelValid"
              [svgStyle]="{ fill: '#FFAD0C' }"
              [stretch]="true"
              [matMenuTriggerFor]="selectFieldType"
              class="cursor-pointer add-property-type-button"
              src="assets/icons/add-empty-fill.svg"
              [tooltip]="'bpmn.tooltips.addProperty' | translate"
              #addPropertyTooltip="bs-tooltip"
              placement="top"
              triggers=""
              [delay]="500"
              [isDisabled]="!isTaskSelected(task)"
            ></svg-icon>

            <mat-menu
              #selectFieldType="matMenu"
              xPosition="before"
              class="select-property-type-form-mat-menu"
            >
              <div class="select-property-type-form">
                <div id="property-form-title">
                  {{ "bpmn.taskForm.selectFieldType" | translate }}
                </div>
                <button
                  mat-menu-item
                  (click)="addProperty(task, bpmnTypeEnum.STRING)"
                >
                  <span class="type-select"
                    ><img src="assets/icons/bpmn/tt_icon.svg"
                  /></span>
                  {{ "bpmn.taskForm.typeString" | translate }}
                </button>
                <button
                  mat-menu-item
                  (click)="addProperty(task, bpmnTypeEnum.DOUBLE)"
                >
                  <span class="type-select"
                    ><img src="assets/icons/bpmn/123_icon.svg"
                  /></span>
                  {{ "bpmn.taskForm.typeDouble" | translate }}
                </button>
                <button
                  mat-menu-item
                  (click)="addProperty(task, bpmnTypeEnum.ENUM)"
                >
                  <span class="type-select"
                    ><img src="assets/icons/bpmn/list_icon.svg"
                  /></span>
                  {{ "bpmn.taskForm.typeEnum" | translate }}
                </button>
                <button
                  mat-menu-item
                  (click)="addProperty(task, bpmnTypeEnum.BOOLEAN)"
                >
                  <span class="type-select"
                    ><img src="assets/icons/bpmn/checkbox_icon.svg"
                  /></span>
                  {{ "bpmn.taskForm.typeBoolean" | translate }}
                </button>
              </div>
            </mat-menu>
          </div>
        </div>
      </div>
    </span>
  </div>
</div>
