<div
  class="file-widget"
  (fileOver)="hasBaseDropZoneOver = $event"
  [ngClass]="{
    'file-over-drop-zone':
      hasBaseDropZoneOver && (getAuthKey() + 'addFile' | auth: 'w')
  }"
  [uploader]="uploader"
  ng2FileDrop
>
  <div class="title">
    {{ "widgets.file.documents" | translate }}
    <span class="pull-right">
      <app-icon
        *ngIf="getAuthKey() + 'addFile' | auth: 'w'"
        (click)="fileInput.click()"
        [hover]="false"
        class="title-icon"
        svgIcon="plus-circle"
        size="20px"
      ></app-icon>
      <app-icon
        *ngIf="getAuthKey() + 'showMore' | auth: 'w' && openFullViewButton"
        [matMenuTriggerFor]="upperMenu"
        [hover]="false"
        class="title-icon"
        svgIcon="option-dots"
        size="20px"
      ></app-icon>
      <mat-menu #upperMenu="matMenu">
        <button
          mat-menu-item
          (click)="openFullView()"
          *ngIf="(getAuthKey() + 'showMore' | auth: 'w') && openFullViewButton"
        >
          <app-icon
            [hover]="false"
            [pointer]="false"
            svgIcon="info"
            size="20px"
          ></app-icon>

          {{ "widgets.file.showMore" | translate }}
        </button>
      </mat-menu>
    </span>
  </div>
  <div
    class="scroll"
    (scroll)="onScroll($event)"
    *ngIf="getAuthKey() + 'view' | auth: 'i':true"
  >
    <div class="content" *ngIf="filesPage">
      <div
        class="element pt-1 pb-1 form-inline"
        [ngClass]="{ disabled: file.scanStatus !== scanStatusEnum.OK }"
        *ngFor="let file of filesPage.content"
      >
        <img class="file-icon" src="{{ file?.format | fileFormatToIcon }}" />
        <div
          class="text ml-2"
          (click)="file.scanStatus === scanStatusEnum.OK && preview(file)"
        >
          <div class="title">{{ removeExtension(file.name) }}</div>
          <div class="description">
            {{ file.created | formatDate }}
            <span class="separator">|</span>
            {{ file.size | formatFileSize }}
            <span class="separator">|</span>
            {{ file.format }}
            <span class="separator">|</span>
            {{ "files.list.addedBy" | translate }}: {{ file.authorFullName }}
          </div>
          <span
            class="file-scan-icon"
            *ngIf="file.scanStatus !== scanStatusEnum.OK"
          >
            <img
              *ngIf="
                file.scanStatus === scanStatusEnum.CREATED ||
                file.scanStatus === scanStatusEnum.CANNOT_CHECK
              "
              [title]="'files.list.scanning' | translate"
              src="assets/icons/files/scanning.svg"
            />
            <img
              *ngIf="file.scanStatus === scanStatusEnum.VIRUS_FOUND"
              [title]="'files.list.virus' | translate"
              src="assets/icons/files/virus.svg"
            />
          </span>
          <div
            class="action"
            *ngIf="!this.readonly && file.scanStatus === scanStatusEnum.OK"
          >
            <button
              *ngIf="isFileOwner(file) || (getAuthKey() + 'delete' | auth: 'w')"
              (click)="
                tryDeleteSingleFile(file.id, file.fileId);
                $event.stopPropagation()
              "
              class="btn-transparent"
            >
              <app-icon [hover]="false" svgIcon="trash" size="18px"></app-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <mat-progress-bar
    *ngIf="progress"
    [value]="progress"
    mode="determinate"
    class="file-upload-progress"
  ></mat-progress-bar>
  <span
    class="show-more"
    (click)="openFullView()"
    *ngIf="(getAuthKey() + 'showMore' | auth: 'w') && openFullViewButton"
    >{{ "widgets.file.showMore" | translate }}</span
  >
</div>
<input
  #fileInput
  [uploader]="uploader"
  hidden
  multiple
  ng2FileSelect
  type="file"
  [disabled]="(getAuthKey() + 'addFile' | auth: 'w':true) || readonly"
/>
