@import "~src/styles/colors";
@import "~src/styles/font-weights.scss";
@import "~src/styles/files.scss";
@import "~src/styles/icons.scss";

.file-widget {
  position: relative;
  height: 100%;

  .title {
    color: $text-title;
    font-size: 16px;
    font-weight: $Medium;

    .title-icon {
      width: 20px;
      cursor: pointer;
      margin-left: 1em;
    }
  }

  .show-more {
    color: $primary;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: $Medium;
    letter-spacing: 1.2px;
    bottom: 0;
    right: 0;
    position: absolute;
    cursor: pointer;
  }

  .scroll {
    overflow-y: auto;
    height: calc(100% - 48px);
  }


  .disabled .text .title,
  .disabled .text .description {
    color: $text-secondary !important;
  }

  .disabled .file-icon {
    opacity: .5;
  }

  .content {
    .text {
      width: calc(100% - 45px);
      cursor: pointer;
      position: relative;

      .file-scan-icon {
        position: absolute;
        right: 0;
        top: 8px;
      }

      .action {
        position: absolute;
        height: 100%;
        right: 0;
        top: 0;
      }

      .action > button {
        height: 100%;
      }
    }

    .text .title {
      font-weight: $Bold;
      color: $text-title;
      font-size: 13px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .text .description {
      font-weight: $Medium;
      color: $text-secondary;
      font-size: 11px;
      padding-top: 2px;
    }

    .text .description .separator {
      padding: 0 3px;
    }

    .element:hover {
      background-color: $bg-tertiary;
    }
  }
}

.main-drop-zone {
  @extend .drop-zone;
  width: calc(100% + 11px);
  height: calc(100% + 11px);
  flex-direction: unset;
  display: block;
  padding: 5px;
  margin-top: -8px;
  margin-left: -8px;
}

.file-over-drop-zone {
  @extend .main-drop-zone;
}

.file-upload-progress {
  position: absolute;
  width: 150px;
  height: 4px !important;
  bottom: 4px;
}
