<div class="table-container h-100 files">
  <ng-container *ngIf="!onlyList">
    <div class="table-header-container mb-4">
      <div>
        <span>
          <span class="table-header-primary">{{ firstHeader }}</span>
        </span>
      </div>
      <div>
        <button
          [disabled]="!selectedFiles?.length"
          class="btn-transparent"
          [class.non-clickable]="!selectedFiles?.length"
          (click)="tryDeleteSelectedFiles()"
        >
          <app-icon
            svgIcon="trash"
            appTooltip="DELETE"
            [disabled]="!selectedFiles?.length"
          ></app-icon>
        </button>
      </div>
    </div>

    <div
      class="drop-zone mb-5"
      (fileOver)="hasBaseDropZoneOver = $event"
      [ngClass]="{ 'file-over-drop-zone': hasBaseDropZoneOver }"
      [uploader]="uploader"
      ng2FileDrop
    >
      <app-icon
        svgIcon="add"
        class="mr-2"
        [primary]="true"
        (click)="fileInput.click()"
      ></app-icon>
      <span class="drop-zone-text">{{ "files.drop" | translate }}</span>
    </div>

    <div class="files-header" *ngIf="!!secondHeader">
      <span class="text">{{ secondHeader }}</span>

      <mat-form-field class="search-form">
        <input
          [formControl]="searchForm"
          [placeholder]="'files.searchFile' | translate"
          matInput
        />
      </mat-form-field>
    </div>
  </ng-container>

  <input
    #newFileVersionInput
    [uploader]="newVersionUploader"
    hidden
    ng2FileSelect
    type="file"
  />
  <input
    #fileInput
    [uploader]="uploader"
    hidden
    multiple
    ng2FileSelect
    type="file"
  />

  <div class="row overflow-y file-list" (scroll)="onScroll($event)">
    <table
      #table
      [dataSource]="getFilesData()"
      class="mat-elevation-z8 col-md-12"
      mat-table
      matSort
      (matSortChange)="changeSort($event)"
    >
      <ng-container matColumnDef="selectRow">
        <th *matHeaderCellDef mat-header-cell></th>
        <td
          *matCellDef="let file"
          class="select-column-width file-checkbox"
          mat-cell
        >
          <mat-checkbox
            *ngIf="!file?.toUpload"
            class="crm-checkbox"
            (click)="$event.stopPropagation()"
            (change)="toggleFile($event, file)"
            [disabled]="file.scanStatus !== scanStatusEnum.OK"
            color="primary"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="fileIcon">
        <th *matHeaderCellDef mat-header-cell></th>
        <td *matCellDef="let file" mat-cell class="avatar-column-width">
          <ng-container *ngIf="file?.toUpload; else uploaded">
            <img src="{{ file?.file.type | fileFormatToIcon }}" />
          </ng-container>
          <ng-template #uploaded>
            <span>
              <img src="{{ file?.format | fileFormatToIcon }}" />
            </span>
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="originalName">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{ "files.list.name" | translate }}
        </th>
        <td *matCellDef="let file" mat-cell class="table-text-primary">
          <ng-container *ngIf="file?.toUpload; else uploaded">
            <div [title]="file?.file.name | lengthMoreThan: 30">
              {{ file?.file.name }}
            </div>
          </ng-container>
          <ng-template #uploaded>
            <div class="file-name" [title]="file?.name | lengthMoreThan: 30">
              {{ file?.name }}
              <span
                class="file-scan-icon"
                *ngIf="file.scanStatus !== scanStatusEnum.OK"
              >
                <img
                  *ngIf="
                    file.scanStatus === scanStatusEnum.CREATED ||
                    file.scanStatus === scanStatusEnum.CANNOT_CHECK
                  "
                  [title]="'files.list.scanning' | translate"
                  src="assets/icons/files/scanning.svg"
                />
                <img
                  *ngIf="file.scanStatus === scanStatusEnum.VIRUS_FOUND"
                  src="assets/icons/files/virus.svg"
                  [title]="'files.list.virus' | translate"
                />
              </span>
            </div>
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="created">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{ "files.list.date" | translate }}
        </th>
        <td *matCellDef="let file" mat-cell class="table-text">
          <ng-container *ngIf="file?.toUpload; else uploaded">
            <mat-progress-bar
              [value]="file?.progress"
              mode="determinate"
              class="file-upload-progress"
            ></mat-progress-bar>
          </ng-container>
          <ng-template #uploaded>
            {{ file?.created | formatDate: true }}
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="format">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{ "files.list.fileFormat" | translate }}
        </th>
        <td *matCellDef="let file" mat-cell class="table-text">
          <span *ngIf="file?.format as format">.{{ format }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="authorFullName">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{ "files.list.authorFullName" | translate }}
        </th>
        <td
          *matCellDef="let file"
          mat-cell
          class="table-text"
          [title]="file?.authorFullName | lengthMoreThan: 30"
        >
          {{ file?.authorFullName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="contractName">
        <th *matHeaderCellDef mat-header-cell>
          {{ "files.list.contractName" | translate }}
        </th>
        <td
          *matCellDef="let file"
          mat-cell
          [title]="file?.contract | lengthMoreThan: 30"
        >
          {{ file?.contract }}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th *matHeaderCellDef mat-header-cell class="text-center">
          {{ "files.list.status" | translate }}
        </th>
        <td *matCellDef="let file" mat-cell class="text-center p-0">
          <ng-container *ngIf="!file?.toUpload">
            <img src="assets/icons/dot-green.svg" />
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="tags">
        <th *matHeaderCellDef mat-header-cell>
          {{ "files.list.tags" | translate }}
        </th>
        <td *matCellDef="let file" mat-cell class="text-center p-0">
          <mat-chip-list>
            <mat-chip
              *ngFor="let tag of file.tags"
              class="list-tag"
              [removable]="false"
              [selectable]="false"
            >
              {{ tag }}
            </mat-chip>
          </mat-chip-list>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th *matHeaderCellDef mat-header-cell></th>
        <td *matCellDef="let file" mat-cell>
          <app-icon
            *ngIf="!file?.toUpload && file.scanStatus === scanStatusEnum.OK"
            (click)="$event.stopPropagation()"
            [matMenuTriggerFor]="menu"
            svgIcon="option-dots"
            [hover]="false"
          ></app-icon>

          <mat-menu #menu="matMenu" xPosition="before">
            <button
              *ngIf="
                permissionUtil.getNormalKey(forType) + 'uploadNewVersion'
                  | auth: 'w'
              "
              (click)="updateVersion(file.fileId, newFileVersionInput)"
              class="dropdown-select-item"
              mat-menu-item
            >
              <app-icon svgIcon="update" size="18px" [hover]="false"></app-icon>
              {{ "files.list.update" | translate }}
            </button>
            <button
              *ngIf="
                permissionUtil.getNormalKey(forType) + 'preview' | auth: 'w'
              "
              (click)="preview(file)"
              class="dropdown-select-item"
              mat-menu-item
            >
              <app-icon
                svgIcon="preview"
                size="18px"
                [hover]="false"
              ></app-icon>
              {{ "files.list.preview" | translate }}
            </button>
            <button
              *ngIf="
                permissionUtil.getNormalKey(forType) + 'showDetails' | auth: 'w'
              "
              (click)="showDetails(file)"
              class="dropdown-select-item"
              mat-menu-item
            >
              <app-icon svgIcon="info" size="18px" [hover]="false"></app-icon>
              {{ "files.list.edit" | translate }}
            </button>
            <button
              *ngIf="
                permissionUtil.getNormalKey(forType) + 'download' | auth: 'w'
              "
              (click)="download(file)"
              class="dropdown-select-item"
              mat-menu-item
            >
              <app-icon
                svgIcon="download"
                size="18px"
                [hover]="false"
              ></app-icon>
              {{ "files.list.download" | translate }}
            </button>
            <button
              *ngIf="
                permissionUtil.getNormalKey(forType) + 'showHistory' | auth: 'w'
              "
              (click)="showHistory(file)"
              class="dropdown-select-item"
              mat-menu-item
            >
              <app-icon
                svgIcon="history"
                size="18px"
                [hover]="false"
              ></app-icon>
              {{ "files.list.history" | translate }}
            </button>
            <button
              *ngIf="
                isFileOwner(file) ||
                (permissionUtil.getNormalKey(forType) + 'delete' | auth: 'w')
              "
              (click)="tryDeleteSingleFile(file.id, file.fileId)"
              class="dropdown-select-item"
              mat-menu-item
            >
              <app-icon svgIcon="trash" size="18px" [hover]="false"></app-icon>
              {{ "files.list.delete" | translate }}
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr
        *matHeaderRowDef="filteredColumns$ | async; sticky: true"
        mat-header-row
      ></tr>
      <tr
        *matRowDef="let rowData; columns: filteredColumns$ | async"
        mat-row
        [ngClass]="{ disabled: rowData.scanStatus !== scanStatusEnum.OK }"
        (click)="
          $event.stopPropagation();
          rowData.scanStatus === scanStatusEnum.OK && preview(rowData)
        "
      ></tr>
    </table>

    <div
      class="preview-empty-list"
      *ngIf="files?.length === 0 && loadingFinished && onlyList"
    >
      <div class="preview-empty-list-text">
        {{ "files.list.empty" | translate }}
      </div>
    </div>

    <div
      *ngIf="files?.length === 0 && loadingFinished && !onlyList"
      class="center"
    >
      <div class="center-horizontally">
        <div class="mt-4 empty-list-text-primary">
          {{ "customer.list.noFiles" | translate }}
        </div>
        <div class="empty-list-text-secondary center mt-2">
          {{ "customer.list.add" | translate }}
          <app-icon
            svgIcon="add"
            (click)="fileInput.click()"
            style="padding: 0 8px"
          ></app-icon>
          {{ "customer.list.files" | translate }}
        </div>
      </div>
    </div>
  </div>
</div>

<app-slider
  #editFileDetails
  width="30vw"
  [title]="'files.details.title' | translate"
  key="CustomerFilesList.EditDetailsSlider"
  [moreInfoVisible]="false"
>
  <app-file-details
    [forType]="forType"
    [assignedTo]="initFileGroup"
    [update]="true"
    [file]="selectedFileForDetails"
    [userMap]="userMap"
  ></app-file-details>
</app-slider>

<app-slider
  #addFileDetails
  width="30vw"
  [title]="'files.details.title' | translate"
  key="CustomerFilesList.AddDetailsSlider"
  [moreInfoVisible]="false"
>
  <app-file-details
    [forType]="forType"
    [assignedTo]="initFileGroup"
    [update]="false"
    [fileItem]="fileToUpload"
    (onFileUpload)="uploadFile($event)"
  ></app-file-details>
</app-slider>

<app-slider
  #fileHistory
  width="30vw"
  [title]="'files.history.title' | translate"
  key="CustomerFilesList.FileHistorySlider"
  [moreInfoVisible]="false"
>
  <app-file-history
    [forType]="forType"
    [userMap]="userMap"
    [file]="selectedFileForHistory"
  ></app-file-history>
</app-slider>
