@import "../../../styles/font-weights";
@import "../../../styles/table";
@import "../../../styles/files";


.center-in-table {
  display: flex !important;
  justify-content: center;
  width: 100%;
}

.list-tag {
  font-size: 12px;
  min-height: 25px !important;
}

.header-icon {
  width: 24px;
  height: 24px;
}

.center {
  height: 80%;
}

.files-header {
  margin-top: 25px;
  width: 100%;
  position: relative;
  height: 50px;

  .text {
    text-align: left;
    font: $Medium 24px/29px Poppins;
    letter-spacing: 0;
    color: $text-primary;
    opacity: 1;
  }

  .search-form {
    position: absolute;
    right: 0;
    top: 0;
    min-width: 340px;
  }
}

.files {
  display: flex;
  flex-direction: column;
}

.file-list {
  flex: 1;
  min-height: 200px;
}


.preview-empty-list {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  &-text {
    color: $action-color;
    font-size: 20px;
    font-weight: $Medium;
  }
}

.file-name {
  position: relative;

  .file-scan-icon {
    position: absolute;
    right: 80px;
  }
}

.disabled div,
.disabled td {
  color: $text-secondary !important;
}

.disabled .avatar-column-width {
  opacity: .5;
}

::ng-deep.disabled .file-checkbox .mat-checkbox-frame {
  opacity: .2 !important;
}
