<div class="add-related-customer-container">
  <form [formGroup]="newRelationForm">
    <div class="card-container">
      <mat-card class="main-card card-border-radius no-bottom-left-border-radius no-bottom-right-border-radius">
        <div class="inner-container">


          <div>
            <mat-form-field>
              <input class="input-text" matInput formControlName="contactName">
              <mat-placeholder>{{'customer.relatedContacts.addIndirectContact.customer' | translate}}</mat-placeholder>
            </mat-form-field>
          </div>

          <div class="header-text">{{'customer.relatedContacts.addIndirectContact.relatedContact' | translate}}</div>

          <div>
            <mat-form-field>
              <mat-label>{{'customer.relatedContacts.addIndirectContact.contactName' | translate}}</mat-label>
            <span class="inline">
              <input matInput
                     class="input-text"
                     [placeholder]="'customer.relatedContacts.addIndirectContact.write3CharToSearch' | translate"
                     formControlName="contactSearch" [matAutocomplete]="contactSearch">
              <app-icon
                svgIcon="search"
                [hover]="false"
                [pointer]="false"
                class="pr-1"
              ></app-icon>
            </span>
              <mat-autocomplete #contactSearch="matAutocomplete"
                                (optionSelected)="contactSelect($event.option.value)">
                <mat-option *ngFor="let object of filteredContacts" [value]="object">
                  <div class="input-text">{{object?.contactName}}</div>
                </mat-option>
                <mat-option [value]="undefined"
                            (click)="addNewContact.open()">
                  <app-icon
                    svgIcon="plus"
                    [hover]="false"
                    [pointer]="false"
                  ></app-icon>
                  {{'customer.relatedContacts.addIndirectContact.newContact' | translate}}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="contactSearchControl.hasError('required')
                  || contactSearchControl.hasError('customCustomerValue')">
                {{'customer.relatedContacts.addIndirectContact.requiredField' | translate}}
              </mat-error>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <input matInput
                     [placeholder]="'customer.relatedContacts.addIndirectContact.customer' | translate"
                     formControlName="customerName">
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <input class="input-text" matInput formControlName="position">
              <mat-placeholder>{{'customer.relatedContacts.addIndirectContact.position' | translate}}</mat-placeholder>
              <mat-error *ngIf="positionControl.hasError('maxlength')">
                {{'sharedValidators.valueTooLong' | translate}}
              </mat-error>
            </mat-form-field>
          </div>

          <div class="header-text">{{'customer.relatedContacts.addIndirectContact.relationTime' | translate}}</div>

          <app-date-range-select></app-date-range-select>

          <div class="note-box">
            <div class="notes-header">{{'customer.relatedContacts.addIndirectContact.note' | translate}}</div>
            <textarea formControlName="note" class="form-control text-area"></textarea>
          </div>

        </div>
      </mat-card>

      <mat-card class="buttons-bar card-border-radius no-top-left-border-radius no-top-right-border-radius">
        <button type="button" mat-stroked-button color="primary"
                (click)="cancel()">{{'contacts.details.newRelatedCustomer.cancel' | translate}}</button>
        <button type="button" mat-raised-button class="ml-2" color="primary"
                (click)="add()">{{'contacts.details.newRelatedCustomer.add' | translate}}</button>
      </mat-card>
    </div>
  </form>
</div>


<app-slider #addNewContact width="34vw" group="sharedCustomerForm" [title]="'contacts.link.newContactSliderTitle' | translate" key="AddContactLink.NewContactSlider">
  <app-contact-add (contactAdded)="newContactAdded($event)" [slider]="addNewContact"></app-contact-add>
</app-slider>
