::ng-deep .embedded-borders .left-card {
  border-left: none;
  border-top: none;
  border-bottom: none;
}

::ng-deep .embedded-borders .right-top-card {
  border-top: none;
  border-right: none;
}

::ng-deep .embedded-borders .right-bottom-card {
  border-bottom: none;
  border-right: none;
}
