<div class="overflow-x-hidden">
  <form [formGroup]="preparedByGroup">
    <div class="row">
      <div class="col-md-6 pt-3">
        <mat-form-field class="w-100">
          <input
            matInput
            [placeholder]="'companyConfig.companyName' | translate"
            formControlName="companyName"
          />
          <mat-error *ngIf="companyName.hasError('required')">
            {{ "companyConfig.fieldRequired" | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100">
          <input
            matInput
            [placeholder]="'companyConfig.companyAddress' | translate"
            type="text"
            formControlName="companyAddress"
          />
          <mat-error *ngIf="companyAddress.hasError('required')">
            {{ "companyConfig.fieldRequired" | translate }}
          </mat-error>

          <div class="form-gps-icon">
            <app-icon
              svgIcon="gps-line"
              [primary]="true"
              class="float-right position-absolute"
              (click)="openMap($event)"
            ></app-icon>
          </div>
          <mat-select #placeSelect class="places-select">
            <mat-option
              *ngFor="let place of foundPlaces"
              [title]="place?.display_name"
              [value]="place"
              (click)="showPlace(place)"
            >
              {{ place?.display_name }}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <mat-form-field class="w-100">
          <input
            matInput
            [placeholder]="'companyConfig.companyPhone' | translate"
            formControlName="companyPhone"
            mask="0*"
            [validation]="true"
          />
          <mat-error *ngIf="companyPhone.hasError('required')">
            {{ "companyConfig.fieldRequired" | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100">
          <input
            matInput
            [placeholder]="'companyConfig.companyEmail' | translate"
            type="text"
            formControlName="companyEmail"
          />
          <mat-error *ngIf="companyEmail.hasError('email')">
            {{ "companyConfig.incorrectFormat" | translate }}
          </mat-error>
          <mat-error *ngIf="companyEmail.hasError('required')">
            {{ "companyConfig.fieldRequired" | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100">
          <input
            matInput
            [placeholder]="'companyConfig.www' | translate"
            type="text"
            formControlName="www"
          />
          <mat-error *ngIf="www.hasError('required')">
            {{ "companyConfig.fieldRequired" | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100 mt-2">
          <input
            matInput
            [placeholder]="'companyConfig.nip' | translate"
            mask="000-000-00-00"
            [validation]="true"
            formControlName="nip"
          />
          <mat-error *ngIf="nip.hasError('required')">
            {{ "companyConfig.fieldRequired" | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100">
          <input
            matInput
            [placeholder]="'companyConfig.regon' | translate"
            type="text"
            formControlName="regon"
          />
          <mat-error *ngIf="regon.hasError('required')">
            {{ "companyConfig.fieldRequired" | translate }}
          </mat-error>
          <mat-error *ngIf="regon.hasError('pattern')">
            {{ "companyConfig.incorrectFormat" | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100">
          <input
            matInput
            [placeholder]="'companyConfig.krs' | translate"
            type="text"
            formControlName="krs"
          />
          <mat-error *ngIf="krs.hasError('required')">
            {{ "companyConfig.fieldRequired" | translate }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <div
          class="logo-preview"
          (click)="urlField.click()"
          *ngIf="!correctLogo"
        >
          <img alt="logo-preview" src="assets/icons/select-company-logo.svg" />

          <mat-form-field class="w-100 only-field-error">
            <input
              matInput
              class="hide-logo"
              placeholder="{{
                'offer.generator.stepOfferInfo.logo' | translate
              }}"
              formControlName="logo"
            />
            <mat-error class="error-center" *ngIf="logo.hasError('required')">
              {{ "offer.generator.fieldRequired" | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div
          class="logo-preview"
          (click)="urlField.click()"
          [ngClass]="{ 'hide-logo': !correctLogo }"
        >
          <img
            alt="logo-preview"
            src="{{ imageSrc }}"
            (load)="logoLoaded(false)"
            (error)="logoLoaded(true)"
          />
        </div>
        <input
          #urlField
          class="hide-logo"
          type="file"
          accept="image/*"
          (change)="handleInputChange($event)"
          placeholder="{{ 'offer.generator.stepOfferInfo.logo' | translate }}"
        />
      </div>
    </div>
  </form>

  <div class="save-config-button save-button">
    <button mat-raised-button color="primary" (click)="saveGlobalConfig()">
      {{ "companyConfig.saveConfig" | translate }}
    </button>
  </div>
</div>

<app-slider
  #mapSlider
  width="40vw"
  [title]="'companyConfig.location' | translate"
  key="CompanyConfig.MapSlider"
  (closeEvent)="onMapClose()"
>
  <div class="p-2 w-100 h-100">
    <app-map-view
      #mapView
      class="w-100 h-100"
      [mapCenter]="mapCenter"
      [markers]="markers"
      [showMap]="showMap"
      [zoom]="12"
    ></app-map-view>
  </div>
</app-slider>
