@import "~src/styles/colors";
@import "~src/styles/form";

.logo-preview {
  text-align: center;
  display: flow-root;
  width: 100% !important;
  img {
    width: 50%;
    height: 50%;
    -o-object-fit: contain;
    object-fit: contain;
    margin-top: 12%;
  }
}

.form-gps-icon {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 25px;
}

.hide-logo {
  display: none;
}
::ng-deep.only-field-error {
  .mat-form-field-flex,
  .mat-form-field-underline {
    display: none;
  }
}
.error-center {
  text-align: center;
  margin-top: 5px;
}

.save-config-button {
  margin-top: 20px;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.save-button {
  position: absolute;
  bottom: 0;
  right: 0;
}

.places-select {
  position: absolute;
  top: 40px;
}