@import "../../../../styles/slider";
@import "../../../../styles/font-weights";
@import "../../../../styles/form";
@import "../../../../styles/product-category.common";

$card-padding: 30px;
$inner-padding: $card-padding * 0.66;
$outer-padding: $card-padding * 0.33;

mat-card {
  padding: 0;
}

.card-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  height: calc(100vh - 68px)
}

.fill-space {
  flex-grow: 1;
}

.buttons-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: $card-padding;
  height: 86px;
}

.main-card {
  flex-grow: 1;
  height: 100%;
  padding: $outer-padding;

}

.inner-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
  position: relative;
  padding: $inner-padding;
}


.inline {
  display: flex;
  justify-content: space-between;
}

.align-right {
  text-align: right;
}

.subcategory-field {
  width: 90%;
}

.double-container {
  display: flex;
  flex-grow: 1;
}

.double-container mat-card {
  width: 50%;
}

.subcategories-container {
  margin-top: 10px;
  margin-left: 20px;
  display: inherit;
  flex-direction: inherit;
}

.category-selected:after {
  content: '';
  width: 96%;
  background-color: rgba(49, 157, 248, 0.1);
  height: 30px;
  position: absolute;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  pointer-events: none;
}


::ng-deep .category-item mat-form-field {
  top: 9px !important;
}


