<form [formGroup]="categoryForm" (click)="onCardClick($event)">
  <div class="card-container">
    <div class="double-container">
      <mat-card
        class="main-card card-border-radius no-bottom-left-border-radius no-bottom-right-border-radius no-top-right-border-radius">
        <div class="inner-container">

          <div class="categories-header">{{'products.categories.categoryList' | translate}}</div>

          <div formArrayName="categories" *ngFor="let category of categories; let i=index">
            <div class="category-item" (click)="selectCategory(category, i)"
                 [class.category-selected]="selectedCategory === category">
              <ng-container *ngIf="!category.toDelete">
                <mat-form-field class="product-category-input">
                  <span class="inline">
                  <input [formControlName]="i" class="category-text clickable" #categoryInput matInput
                         (keydown.enter)="disableEditedCategoryControl()">
                    <img class="alert-icon-size"
                         *ngIf="getCategoryControl(i).hasError('categoryExistError')"
                         src="assets/icons/alert.svg"/>
                  </span>
                  <mat-error *ngIf="getCategoryControl(i).hasError('categoryExistError')" class="float-right">
                    {{'products.categories.categoryExistError' | translate}}
                  </mat-error>
                </mat-form-field>
                <button type="button" class="btn-transparent icon-margin"
                        (click)="editCategory(i, categoryInput); $event.stopPropagation()">
                  <img class="clickable icon-size" src="assets/icons/edit_icon.svg"/>
                </button>
                <button type="button" class="btn-transparent"
                        (click)="tryDeleteCategory(category, i); $event.stopPropagation()">
                  <img class="clickable icon-size" src="assets/icons/trash-black.svg"/>
                </button>
              </ng-container>
            </div>
          </div>
          <mat-form-field [class.d-none]="!addNewCategoryInputVisible"
                          class="product-category-input new-category-input">
            <span class="inline">
            <input formControlName="newCategory" #newCategoryInput matInput (keydown.enter)="addCategory()"
                   (click)="$event.stopPropagation()">
                  <img class="alert-icon-size"
                       *ngIf="newCategoryControl.hasError('categoryExistError')"
                       src="assets/icons/alert.svg"/>
            </span>
            <mat-error *ngIf="newCategoryControl.hasError('categoryExistError')" class="float-right">
              {{'products.categories.categoryExistError' | translate}}
            </mat-error>
          </mat-form-field>
          <div class="add-category-icon">
            <img (click)="addNewCategory($event, newCategoryInput)" class="clickable"
                 src="assets/icons/add-active.svg"/>
          </div>

        </div>
      </mat-card>

      <mat-card
        class="main-card card-border-radius no-bottom-left-border-radius no-bottom-right-border-radius no-top-left-border-radius">
        <div class="inner-container">

          <div class="categories-header">{{'products.categories.subcategoryList' | translate}}</div>
          <div class="category-text">{{selectedCategory?.name}}</div>
          <div class="subcategories-container">
            <div formArrayName="subcategories"
                 *ngFor="let subcategory of selectedCategory?.subcategories; let i=index"
                 class="category-item">
              <ng-container *ngIf="!(subcategory.initial || subcategory.toDelete)">
                <mat-form-field class="product-category-input">
                  <span class="inline">
                  <input [formControlName]="i" class="subcategory-text" #categoryInput matInput
                         (keydown.enter)="disableEditedSubcategoryControl()">
                    <img class="alert-icon-size"
                         *ngIf="getSubcategoryControl(i).hasError('subcategoryExistError')"
                         src="assets/icons/alert.svg"/>
                  </span>
                  <mat-error *ngIf="getSubcategoryControl(i).hasError('subcategoryExistError')" class="float-right">
                    {{'products.categories.subcategoryExistError' | translate}}
                  </mat-error>
                </mat-form-field>
                <button type="button" class="btn-transparent icon-margin"
                        (click)="editSubcategory(i, categoryInput); $event.stopPropagation()">
                  <img class="clickable icon-size" src="assets/icons/edit_icon.svg"/>
                </button>
                <button type="button" class="btn-transparent"
                        (click)="tryDeleteSubcategory(subcategory, i); $event.stopPropagation()">
                  <img class="clickable icon-size" src="assets/icons/trash-black.svg"/>
                </button>
              </ng-container>
            </div>
            <mat-form-field [class.d-none]="!addNewSubcategoryInputVisible"
                            class="product-category-input  new-category-input">
              <span class="inline">
                <input formControlName="newSubcategory" #subcategoryInput matInput (keydown.enter)="addSubcategory()"
                       (click)="$event.stopPropagation()"
                       tabindex="-1">
                <img class="alert-icon-size"
                     *ngIf="newSubcategoryControl.hasError('subcategoryExistError')"
                     src="assets/icons/alert.svg"/>
              </span>
              <mat-error *ngIf="newSubcategoryControl.hasError('subcategoryExistError')" class="float-right">
                {{'products.categories.subcategoryExistError' | translate}}
              </mat-error>
            </mat-form-field>
            <div class="add-category-icon">
              <img (click)="addNewSubcategory($event, subcategoryInput)" class="clickable"
                   src="assets/icons/add-grey.svg"/>
            </div>
          </div>


        </div>
      </mat-card>
    </div>

    <mat-card class="buttons-bar card-border-radius no-top-left-border-radius no-top-right-border-radius">
      <button mat-stroked-button class="button-medium" color="primary" type="button"
              (click)="cancel()">{{'products.categories.cancel' | translate}}</button>
      <button mat-raised-button class="button-medium ml-2" color="primary" type="button"
              (click)="submit()">{{'products.categories.ok' | translate}}</button>
    </mat-card>
  </div>
</form>

