<div class="w-100 h-100 card-padding">
  <mat-card class="mat-elevation-z0 main-mat-card  card-border-radius no-bottom-border-radius ">

    <div class="row mb-2">
      <div class="col-md-12 ml-3 mt-3">
        <h5 class="title">{{'calendar.form.shareToFriend' | translate}}</h5>
      </div>
    </div>


    <div class="row ml-3 mr-2">
<!--      the share type will be back in version 1.2-->
<!--      <mat-form-field class="select-arrow-down share-type-input-field">-->
<!--        <mat-select panelClass="dropdown-w-100" [disableRipple]="true" [disableOptionCentering]="true"-->
<!--          [placeholder]="'calendar.form.shareType' | translate" [value]="'user'">-->
<!--          <mat-option *ngFor="let type of shareTypes" [value]="type.id">-->
<!--            {{type.translate | translate}}-->
<!--          </mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--      <form [formGroup]="userSelectForm" class="friend-input-field">-->
      <form [formGroup]="userSelectForm" class="friend-input-field ml-0 w-100">
        <mat-form-field>
          <input matInput
                 [placeholder]="'calendar.form.friend' | translate"
                 formControlName="user" [matAutocomplete]="friend">
          <mat-autocomplete #friend="matAutocomplete">
            <mat-option *ngFor="let user of (possibleNewUsers | autocompleteValueFilter:userSelectForm.get('user').value:'key')"
                        [id]="user.key" [value]="user.key">
              {{user.key}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="!userSelectForm.get('user').hasError('required') && userSelectForm.get('user').hasError('userNotExist')">
            {{'calendar.form.validation.userNotExist' | translate}}
          </mat-error>
          <mat-error *ngIf="!userSelectForm.get('user').hasError('required') && userSelectForm.get('user').hasError('currentlyShared')">
            {{'calendar.form.validation.currentlyShared' | translate}}
          </mat-error>
          <mat-error *ngIf="userSelectForm.get('user').hasError('required')">
            {{'calendar.form.validation.userRequired' | translate}}
          </mat-error>
        </mat-form-field>
      </form>
    </div>

    <div class="row ml-2 mr-2 mb-3">
      <div class="w-100">
        <button mat-raised-button class="button-medium share-button ml-2 float-right" color="primary"
                (click)="saveCalendarShare()">
          {{'calendar.form.share' | translate}}
        </button>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-md-12 ml-3 mt-3">
        <h5 class="title">{{'calendar.form.peopleThatSeeMyCalendar' | translate}}</h5>
      </div>
    </div>

    <div class="row ml-0" *ngIf="usersSeeingMyCalendar.length === 0">
      <div class="col-md-12 ml-0">
        <p class="opacity small-text">{{'calendar.form.noUserSeeMyCalendar' | translate}}</p>
      </div>
    </div>

    <div class="row ml-0 pr-2" *ngIf="usersSeeingMyCalendar.length !== 0">
      <div class="w-100 ml-3 pl-0 pr-2">
        <div *ngFor="let user of usersSeeingMyCalendar">
          <p class="opacity small-text user-text">{{ user.key }}
            <button class="btn-transparent pull-right" (click)="deleteCalendarShare(user.value)">
              <span class="fa fa-trash contrast-color"></span>
            </button>
          </p>
        </div>
      </div>
    </div>
  </mat-card>
</div>
<div class="button-container">
  <mat-card class="mat-elevation-z0 no-top-left-border-radius no-top-right-border-radius card-border-radius ">
    <div class="row">
      <div class="col-md-12">
        <div class="pull-right">
          <button mat-stroked-button class="button-medium" color="primary"
                  (click)="closeSlider()">{{'calendar.form.cancel' | translate}}</button>
          <button mat-raised-button class="button-medium ml-2" color="primary"
                  (click)="closeSlider()">{{'calendar.form.ok' | translate}}</button>
        </div>
      </div>
    </div>
  </mat-card>
</div>

