@import "~src/styles/colors";
@import "~src/styles/slider";
@import "~src/styles/form";
@import "~src/styles/font-weights";

* {
  color: $text-primary;
}

.main-mat-card {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 185px);
  margin-bottom: 1px;
}

.mat-form-field {
  width: 100%;
}

.button-medium {
  width: 105px;
}

.opacity {
  opacity: 0.8;
}

.small-text {
  font-size: 12px !important;
}
.user-text {
  font-size: 13px !important;
  color: $primary !important;
  font-weight: $Medium !important;
}
.button-container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: $bg-secondary;
}
.main-mat-card {
  height: calc(100% - 154px) !important;
  font-size: 13px !important;
}
.title {
  color: $text-title;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 1.2px;
  font-weight: $Medium;
  text-transform: uppercase;
}

.share-button {
  height: 32px;
}
::ng-deep .share-button .mat-button-wrapper {
  margin-top: -2px;
  display: inherit;
}

::ng-deep .friend-input-field .mat-form-field-label-wrapper::after {
  content: url("~src/assets/icons/icon_down_arrow_black.svg");
  width: 24px;
  height: 24px;
  margin-top: 6px;
  position: absolute;
  right: 0;
  margin-right: 5px;
  cursor: pointer;
}

.share-type-input-field {
  width: 30%;
  line-height: 20px;
}
.friend-input-field {
  margin-left: 10%;
  width: 60%;
}
