<div class="outer-container" *ngIf="customer">
  <div class="inner-container">
    <div class="cards-container">
      <div class="cards-wrapper">
        <div class="main-area">
          <ng-container [ngTemplateOutlet]="main"></ng-container>
        </div>
        <div class="notes-area">
          <ng-container [ngTemplateOutlet]="notes"></ng-container>
        </div>
        <div class="files-area">
          <ng-container [ngTemplateOutlet]="files"></ng-container>
        </div>
        <div class="tabs-area">
          <ng-container [ngTemplateOutlet]="tabs"></ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #main>
  <mat-card class="main card-container">
    <app-customer-details-panel
      [style.overflow]="'hidden'"
      [customer]="customer"
      [loading]="loadingCustomer"
      [refresh]="refresh.bind(this)">
    </app-customer-details-panel>
  </mat-card>
</ng-template>

<ng-template #notes>
  <mat-card class="notes card-container">
    <app-notes
      [objectTypeAndId]="{
        objectId: customerId,
        objectType: objectType.customer}"
      [userMap]="userMap">
    </app-notes>
  </mat-card>
</ng-template>

<ng-template #files>
  <mat-card class="files card-container">
    <app-file objectType="customer" [objectId]="customerId"></app-file>
  </mat-card>
</ng-template>

<ng-template #tabs>
  <mat-card class="tabs card-container">
    <app-customer-tabs
      [customer]="customer"
      [customerId]="customerId"
      [customerChangedSubscription]="customerChangedSubscription"
      [objectType]="objectType">
    </app-customer-tabs>
  </mat-card>
</ng-template>
