@import "~src/styles/form";
@import "~src/styles/colors";
@import "~src/styles/font-weights";
@import "~src/styles/icons";

$primary-text: $text-title;
$bg-tasks: $bg-header;

$min-column: 400px;
$min-row: 200px;

.outer-container {
  height: calc(100vh - 90px);
  .inner-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    .cards-container {
      flex: 1;
      overflow: auto;
      .cards-wrapper {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, minmax($min-column, 1fr));
        grid-template-rows: repeat(3, minmax($min-row, 1fr));
        grid-gap: 16px;
        padding: 16px;

        .main-area {
          grid-area: 1 / 1 / 3 / 3;
        }

        .notes-area {
          grid-area: 3 / 1 / 4 / 2;
        }

        .files-area {
          grid-area: 3 / 2 / 4 / 3;
        }

        .tabs-area {
          grid-area: 1 / 3 / 4 / 4;
        }
      }
    }
  }
}

.card-container {
  box-shadow: 0 0 1px 0 rgba(10, 22, 70, 0.06),
    0 1px 1px 0 rgba(10, 22, 70, 0.1) !important;
  border-radius: 8px !important;
  height: 100%;
  &.tabs {
    padding: 8px 0 16px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  .main-header {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, minmax($min-column, 1fr));
    grid-template-rows: max-content 1fr;
    grid-row-gap: 24px;
    grid-column-gap: 64px;
    &-with-task {
      grid-template-columns: 1fr 2fr;
      grid-column-gap: 30px;
    }
    .main-title {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin-right: 16px;
    }

    .primary-title {
      color: $contrast;
      font-weight: bold;
      font-size: 16px;
    }

    .second-title {
      font-size: 12px;
      font-weight: 300;
      color: $text-secondary;
    }

    .opportunity-actions {
      display: flex;
      flex: 1;
      justify-content: space-between;

      .lead-priority-container {
        display: flex;
      }

      .priority-title,
      .lead-scoring-label {
        font-size: 12px;
        color: $text-secondary;
      }

      .lead-priority {
        display: flex;
        margin-right: 12px;
        .mat-radio-group {
          ::ng-deep label {
            margin-right: 20px;
          }
        }
      }

      .lead-scoring {
        width: fit-content;
      }
      .lead-scoring-value {
        color: $primary;
      }

      .priority-title::after,
      .lead-scoring-label::after {
        content: ": ";
      }

      .priority-title {
        margin-top: 4px;
        margin-right: 12px;
      }

      .low-radio-button {
        ::ng-deep .mat-radio-inner-circle {
          background-color: $priority-low !important;
        }

        ::ng-deep .mat-radio-outer-circle {
          border-color: $priority-low !important;
        }
      }

      .medium-radio-button {
        ::ng-deep .mat-radio-inner-circle {
          background-color: $priority-medium !important;
        }

        ::ng-deep .mat-radio-outer-circle {
          border-color: $priority-medium !important;
        }
      }

      .high-radio-button {
        ::ng-deep .mat-radio-inner-circle {
          background-color: $priority-high !important;
        }

        ::ng-deep .mat-radio-outer-circle {
          border-color: $priority-high !important;
        }
      }
      .main-action {
        & > * {
          margin: 0 8px;
          &:last-child {
            margin-right: 0;
          }
          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }
  .main-content {
    flex: 1;
    overflow: hidden;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::ng-deep.rotating-icon {
  .icon {
    animation: rotating 1s linear infinite;
  }
}

//----------------------

.header-icon {
  width: 25px;
}

::ng-deep.attached-mail-tab:not(.big-size) .mail-card {
  height: calc(100vh - 660px);
  min-height: 270px;
}
::ng-deep.attached-mail-tab.big-size .mail-card {
  height: calc(100vh - 440px);
  min-height: 270px;
}

@each $color
  in "blue"
  "purple"
  "yellow"
  "pink"
  "green"
  "brown"
  "turquoise"
  "red"
{
  .done.task-color-#{$color} {
    background-image: url("~src/assets/icons/bp_arrow/bp_arrow_#{$color}.svg") !important;
  }
}

@each $color
  in "blue"
  "purple"
  "yellow"
  "pink"
  "green"
  "brown"
  "turquoise"
  "red"
{
  .done.task-color-#{$color}-touched {
    background-image: url("~src/assets/icons/bp_arrow/bp_arrow_#{$color}_touched.svg") !important;
  }
}

.lead-header {
  background-color: $bg-header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1px;
}

.header-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 88%;
  margin-left: 51px;
  align-items: center;
  padding: 10px 0;
  height: 85px;
}

.header-left > div {
  margin-right: 25px;
}

.header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 38px;
}

.middle-icon {
  margin: 0 15px;
}

.image-container {
  width: 65px;
  height: 65px;
}

.name-container {
  font-weight: $Bold;
  font-size: 16px;
  color: $primary-text;
}

.position-container {
  font-size: 13px;
  color: $text-secondary;
}

.header-field-header {
  color: $text-secondary;
  font-size: 12px;
  font-weight: $Medium;
}

.header-field {
  font-size: 13px;
  color: $primary-text;
  font-weight: $SemiBold;
}

.email {
  color: $primary;
}
.email-correct {
  cursor: pointer;
}
.email-correct:hover {
  text-decoration: underline;
}

.dot {
  margin-right: 5px;
}

.more-button {
  display: flex;
  justify-content: flex-end;
  right: 0;
  margin-left: 12px;
}

.more-button > .btn-transparent > span {
  font-size: 13px;
  font-weight: $Medium !important;
}

.light-bulb {
  position: relative;
  font-size: 18px;
  padding: 0;
  margin-top: 2px;
  width: 16px;
  height: 16px;
  background-size: contain;
}

.three-dots-show {
  font-size: 18px;
  display: block;
}

.light-bulb-container {
  width: 16px;
  margin-left: 5px;
}

.percentage {
  color: $text-tertiary;
  width: 40px;
  height: 11px;
  margin-top: -2px;
}

.field-label {
  width: 30%;
  padding-right: 10px;
  color: $text-secondary;
  font-size: 12px;
}

.field-input {
  width: 60%;
  border: 0;
  border-bottom: 1px solid $border-tertiary;
  margin-bottom: 0.5rem;
  font-size: 13px;
  color: $text-title;
  outline: 0;
  padding: 0 0 1px;
  background: 0;
}

.field-input-invalid {
  border-bottom: 1px solid red !important;
}

.checkbox-input {
  display: inline-block;
}

.checkbox-input ::ng-deep.mat-checkbox-checked .mat-checkbox-background {
  background-color: $primary;
}

.field-input:focus {
  border-bottom: 2px solid $primary;
  padding: 0;
}

.fields-container {
  padding-right: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-column-gap: 50px;
  grid-auto-flow: column;
  align-items: center;
}

.grey-color {
  color: $text-secondary;
  font-weight: $Medium;
}

.tips {
  background-color: $bg-tertiary;
  border: 1px solid $border-secondary;
  padding: 15px;
  border-radius: 8px;
  width: 45%;
}

.tips-inner {
  height: 157px;
  overflow: auto;
  padding: 5px;
  overflow-wrap: break-word;
}

.tips-inner .details-header {
  margin-bottom: 20px;
}

.details-header {
  font-size: 16px;
  font-weight: $SemiBold;
  margin-top: 10px;
  margin-bottom: 30px;
}

.bulb-icon {
  margin-right: 10px;
  margin-bottom: 7px;
  width: 25px;
}

.tips-text {
  font-size: 13px;
  font-weight: $Medium;
  line-height: 24px;
}

.field {
  width: 100%;
  margin-bottom: 5px;
}

.dropdown-field {
  width: 65%;
  border-bottom: 1px solid $border-tertiary;
  margin-bottom: 0.5rem;
}

.complete-task-icon {
  width: 20px;
  margin-right: 5px;
}

.completed-task-header {
  color: $green-color;
  margin-left: 20px;
  font-size: 15px;
  font-weight: $Regular;
}

.being-accepted-task-header {
  color: red;
  margin-left: 20px;
  font-size: 15px;
  font-weight: $Regular;
}

.task-box:hover .three-dots {
  display: block;
}

.task-activity {
  width: 66.666%;
  margin: 0 15px;
  box-shadow: 0 0 1px 0 rgba($shadow-color-rgb, 0.06),
    0 1px 1px 0 rgba($shadow-color-rgb, 0.1) !important;
  border-radius: 8px !important;
}

.widgets-container {
  width: 33.333%;
  padding-right: 15px;
}

.cards-container {
  display: flex;
  min-height: 400px;
}

.cards-container.small-size {
  height: calc(100% - 440px);
}

.cards-container.big-size {
  height: calc(100% - 215px);
}

@media only screen and (max-height: 914px) {
  .cards-container.small-size {
    margin-bottom: 15px;
  }
}

@media only screen and (max-height: 681px) {
  .cards-container.big-size {
    margin-bottom: 15px;
  }
}

@mixin default-convert-button {
  height: 32px;
  line-height: 32px;
  margin-right: 5px;
  vertical-align: bottom;
}

.disabled-convert-button {
  @include default-convert-button;
}
.convert-button {
  box-shadow: none !important;
  @include default-convert-button;
}

.end-line-buttons {
  margin-left: 26px;
  display: flex;
  justify-content: flex-end;
  align-self: flex-start;
}

.task-name {
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.rejection-reason {
  font-size: 13px;
  color: $text-secondary;
}

.btn-go-previous {
  background-color: $bg-primary;
  border-radius: 100px;
  margin: 3px 0 0;
  padding: 0;
}
.btn-go-previous .fa {
  width: 16px;
  height: 16px;
  font-size: 8px;
  line-height: 16px;
  font-weight: normal;
}
