@import "src/styles/font-weights";
@import "src/styles/common";
@import "src/styles/colors";

$importance-color: #db254b;

.task-finished {
  .activity-date {
    color: $text-tertiary !important;
  }
  .importance-label {
    &.important {
      background-color: $text-tertiary !important;
    }
  }
  .activity-info {
    .activity-title {
      color: $text-tertiary !important;
    }
    .description {
      color: $text-tertiary !important;
    }
  }
  .activity-icon {
    &::ng-deep {
      .icon {
        circle {
          fill: $text-tertiary !important;
        }
      }
    }
  }
  .activity-actions {
    &::ng-deep {
      .icon {
        fill: $text-tertiary !important;
      }
    }
  }
}

.activities-container {
  height: 100%;
  overflow-y: auto;
  position: relative;

  .activities {
    height: 100%;
    padding: 16px 0;
    .activity-container {
      .activity {
        display: flex;
        align-items: center;
        width: 100%;
        .importance-label {
          width: 8px;
          height: 8px;
          border-radius: 50%;
          margin-left: 4px;
          &.important {
            background-color: $importance-color;
          }
        }
        .activity-date {
          font-size: 12px;
          color: $text-secondary;
          font-weight: $SemiBold;
          min-width: 130px;
          margin-right: 16px;
          text-align: right;
        }
        .activity-icon {
          margin-right: 16px;
        }
        .activity-info {
          flex: 1;
          overflow: hidden;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          .activity-title {
            color: $text-title;
            flex: 1;
            font-size: 13px;
            margin-right: 8px;
          }
          .description {
            font-size: 12px;
            color: $text-secondary;
            flex: 1;
            font-weight: $SemiBold;
          }
        }
        .activity-actions {
          height: 100%;
          margin: 0 8px;
          & > * {
            margin: 0 2px;
          }
        }
      }

      .mat-expansion-panel-header {
        border-radius: 0;
        padding: 0 8px;
        height: 40px !important;
        ::ng-deep .mat-content {
          height: 100%;
          align-items: flex-start;
        }
      }

      ::ng-deep .mat-expansion-panel-body {
        padding: 0 24px 16px 210px;
      }

      .mat-expansion-panel {
        box-shadow: none;
        min-height: 55px !important;
        margin: 0 !important;
        margin-bottom: 8px;
      }

      .mat-expansion-panel-header:not([aria-disabled="true"]):hover {
        background-color: transparent !important;
      }

      .mat-expansion-panel-header-title {
        overflow: hidden;
        margin-right: 8px;
      }
    }
  }
}

.no-activities {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  font-weight: $Medium;
  color: $text-primary;
}

.loading {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(rgba($bg-primary-rgb, 0.6) 50%, transparent 100%);
  overflow: hidden;
}

.no-data-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: $Medium;
  color: $action-color;
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 24px;
}
