<div
  class="activities-container"
  [ngClass]="{
    'add-activity-visible': ('CalendarComponent.addTask' | auth: 'w')
  }"
  (scroll)="onScroll($event)"
>
  <ng-container *ngIf="loading">
    <div class="loading">
      <mat-spinner diameter="64"></mat-spinner>
    </div>
  </ng-container>
  <div class="activities">
    <mat-accordion
      [multi]="true"
      class="activity-container"
      *ngIf="activities?.length && !loading; else noActivities"
    >
      <ng-container *ngFor="let activity of activities; let i = index">
        <mat-expansion-panel (opened)="openActivity(activity?.id)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div
                class="activity"
                [class.task-finished]="activity.state === 'FINISHED'"
              >
                <div
                  class="importance-label"
                  [class.important]="
                    activity.priority === activityPriority.URGENT
                  "
                ></div>
                <div class="activity-date">
                  {{ activity.dateTimeFrom | formatDate: true }}
                </div>
                <div class="activity-icon">
                  <app-icon
                    svgIcon="{{
                      (activity.activityType ? activity.activityType : 'event')
                        | lowercase
                    }}"
                    size="28px"
                  ></app-icon>
                </div>
                <div class="activity-info">
                  <div class="activity-title">
                    {{ activity.subject }}
                  </div>
                  <div class="description">{{ activity.description }}</div>
                </div>
                <div class="activity-actions">
                  <app-icon
                    size="18px"
                    svgIcon="edit"
                    (click)="
                      $event.stopPropagation(); editSelectedActivity(activity)
                    "
                    *ngIf="'CalendarComponent.removeTask' | auth: 'w'"
                  ></app-icon>
                  <app-icon
                    size="18px"
                    svgIcon="trash"
                    (click)="
                      $event.stopPropagation(); tryRemoveActivity(activity)
                    "
                    *ngIf="'CalendarComponent.removeTask' | auth: 'w'"
                  ></app-icon>
                </div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-container
            *ngTemplateOutlet="
              activityDescription;
              context: { activity: activity }
            "
          ></ng-container>
        </mat-expansion-panel>
      </ng-container>
    </mat-accordion>
  </div>
</div>

<ng-template #noActivities>
  <div class="no-data-text">{{ "tabs.activity.noActivities" | translate }}</div>
</ng-template>

<ng-template #activityDescription let-activity="activity">
  <app-activity-description
    *ngIf="openedActivities.includes(activity.id)"
    [activity]="activity"
  ></app-activity-description>
</ng-template>

<app-slider
  #editActivity
  (openEvent)="setInitAssociation()"
  width="35vw"
  [title]="'calendar.task.form.editTitle' | translate"
  key="Calendar.EditSlider"
  [group]="'taskFormGroup'"
>
  <app-task-edit
    [initAssociation]="initAssociation"
    (eventDeleted)="refreshEvent()"
    (eventAdded)="refreshEvent()"
    [slider]="editActivity"
  ></app-task-edit>
</app-slider>

<app-slider
  #mapSlider
  width="40vw"
  [title]="'calendar.event.location' | translate"
  key="SingleEvent.MapSlider"
>
  <div class="p-2 w-100 h-100">
    <app-map-view
      #mapView
      class="w-100 h-100"
      [mapCenter]="mapCenter"
      [markers]="markers"
      [selectable]="false"
      [showMap]="showMap"
      [zoom]="12"
    ></app-map-view>
  </div>
</app-slider>
