<div class="card-container" *ngIf="mailConfigurationExist">
  <mat-card class="main-card card-border-radius no-bottom-left-border-radius no-bottom-right-border-radius">
    <div class="inner-container">
      <div class="new-email-slider">
        <app-new-mail *ngIf="true" (submittedSuccessfully)="close()" [fromSlider]="true"></app-new-mail>
      </div>
    </div>
  </mat-card>

  <mat-card class="buttons-bar card-border-radius no-top-left-border-radius no-top-right-border-radius">
      <button type="button" mat-stroked-button color="primary"
              (click)="close()">{{'mail.newMailSlider.cancel' | translate}}</button>
      <button type="button" mat-raised-button class="ml-2" color="primary"
              (click)="submit()"
              [disabled]="newMailComponent?.isSending">{{'mail.newMailSlider.sent' | translate}}</button>
  </mat-card>
</div>

<div class="card-container" *ngIf="!mailConfigurationExist">
  <mat-card class="main-card card-border-radius no-bottom-left-border-radius no-bottom-right-border-radius">
    <div class="inner-container">
      <div class="w-100 h-100 position-relative">
        <div class="error-msg">
          <div class="title">{{'mail.emailNotConfigured' | translate}}</div>
          <div class="description">{{'mail.clickToConfigureMail' | translate}} <span class="blue-text" (click)="openMailConfiguration()">{{'mail.userPreferences' | translate}}</span></div>
        </div>
      </div>
    </div>
  </mat-card>

  <mat-card class="buttons-bar card-border-radius no-top-left-border-radius no-top-right-border-radius">
  </mat-card>
</div>
