@import "../../../../../styles/slider-card";

::ng-deep .new-email-slider .mail-editor-text .mail-text-editor .ngx-editor-textarea {
  height: calc(100vh - 575px) !important;
}

::ng-deep .new-email-slider .mail-editor-text .mail-text-editor .ngx-editor {
  border: none !important;
}


::ng-deep {
  .new-email-slider {

    .buttons-bar {
      display: none !important;
    }

    .input-title {
      width: unset !important;
    }

    .input-field {
      flex-grow: 1;
    }

    form {
      padding-top: 0 !important;
    }
  }
}

.error-msg {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .title {
    color: $action-color;
    font-size: 20px;
    font-weight: $Medium;
  }

  .description {
    color: $text-secondary;
    font-size: 13px;
    font-weight: $Medium;
    text-align: center;

    .blue-text {
      color: $primary;
      cursor: pointer;
    }
  }
}
