<div class="view-as-text">{{'widgetConfigurator.viewAs' | translate}}</div>

<div class="chart-type">
  <button class="btn-transparent" (click)="changeChartType(chartType.CHART1)">
    <img class="icon-container" [class.d-none]="value !== chartType.CHART1"
         src="assets/icons/charts/chart_1_active.svg">
    <img class="icon-container" [class.d-none]="value === chartType.CHART1" src="assets/icons/charts/chart_1_off.svg">
  </button>
  <button class="btn-transparent" (click)="changeChartType(chartType.CHART2)">
    <img class="icon-container" [class.d-none]="value !== chartType.CHART2"
         src="assets/icons/charts/chart_2_active.svg">
    <img class="icon-container" [class.d-none]="value === chartType.CHART2" src="assets/icons/charts/chart_2_off.svg">
  </button>
  <button class="btn-transparent" (click)="changeChartType(chartType.CHART3)">
    <img class="icon-container" [class.d-none]="value !== chartType.CHART3"
         src="assets/icons/charts/chart_3_active.svg">
    <img class="icon-container" [class.d-none]="value === chartType.CHART3" src="assets/icons/charts/chart_3_off.svg">
  </button>
  <button class="btn-transparent" (click)="changeChartType(chartType.CHART4)">
    <img class="icon-container" [class.d-none]="value !== chartType.CHART4"
         src="assets/icons/charts/chart_4_active.svg">
    <img class="icon-container" [class.d-none]="value === chartType.CHART4" src="assets/icons/charts/chart_4_off.svg">
  </button>
  <button class="btn-transparent" (click)="changeChartType(chartType.CHART5)">
    <img class="icon-container" [class.d-none]="value !== chartType.CHART5"
         src="assets/icons/charts/chart_5_active.svg">
    <img class="icon-container" [class.d-none]="value === chartType.CHART5" src="assets/icons/charts/chart_5_off.svg">
  </button>
</div>
