<form [formGroup]="searchTextForm" class="row assign-to-group">
  <mat-form-field class="select-arrow-down share-type-input-field col-md-5">
    <mat-select panelClass="dropdown-w-100" [disableRipple]="true" [disableOptionCentering]="true"
                formControlName="searchType"
                [placeholder]="typePlaceholder | translate" [value]="'user'">
      <mat-option *ngFor="let type of types" [value]="type">
        {{'assignToGroup.type.' + type | translate}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="col-md-7 pl-1">
    <input matInput
           [placeholder]="textPlaceholder | translate"
           (keyup.arrowDown)="searchValue.showPanel = true"
           formControlName="searchText" [matAutocomplete]="searchValue">

    <mat-autocomplete #searchValue="matAutocomplete">

        <mat-option
          (click)="addElement(item)"
          (onSelectionChange)="addElement(item)"
          *ngFor="let item of filteredList" [value]="item.label">
          {{item.label}}
        </mat-option>

    </mat-autocomplete>


    <mat-error
      *ngIf="!searchTextForm.get('searchText').hasError('required') && searchTextForm.get('searchText').hasError('userNotExist')">
      {{'assignToGroup.validation.objectNotExist' | translate}}
    </mat-error>
  </mat-form-field>
</form>
