<form [formGroup]="preparedByGroup">
  <div class="row">
    <div class="col-md-6">
      <mat-form-field class="w-100">
        <input matInput
               [placeholder]="'offer.generator.stepPreparedBy.companyName' | translate"
               formControlName="companyName">
        <mat-error *ngIf="companyName.hasError('required')">
          {{'offer.generator.fieldRequired' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-100">
        <input matInput
               [placeholder]="'offer.generator.stepPreparedBy.companyAddress' | translate"
               type="text"
               formControlName="companyAddress">
        <mat-error *ngIf="companyAddress.hasError('required')">
          {{'offer.generator.fieldRequired' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-100">
        <input matInput
               [placeholder]="'offer.generator.stepPreparedBy.companyPhone' | translate"
               formControlName="companyPhone"
               mask="0*"
               [validation]="true">
        <mat-error *ngIf="companyPhone.hasError('minlength')">
          {{'offer.generator.stepPreparedBy.minLengthPhone' | translate}}
        </mat-error>
        <mat-error *ngIf="companyPhone.hasError('required')">
          {{'offer.generator.fieldRequired' | translate}}
        </mat-error>
      </mat-form-field>


      <mat-form-field class="w-100">
        <input matInput
               [placeholder]="'offer.generator.stepPreparedBy.companyEmail' | translate"
               type="text"
               formControlName="companyEmail">
        <mat-error *ngIf="companyEmail.hasError('email')">
          {{'offer.generator.stepPreparedBy.incorrectFormat' | translate}}
        </mat-error>
        <mat-error *ngIf="companyEmail.hasError('required')">
          {{'offer.generator.fieldRequired' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-100">
        <input matInput
               [placeholder]="'offer.generator.stepPreparedBy.www' | translate"
               type="text"
               formControlName="www">
        <mat-error *ngIf="www.hasError('required')">
          {{'offer.generator.fieldRequired' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-100 mt-2">
        <input matInput
               [placeholder]="'offer.generator.stepPreparedBy.nip' | translate"
               mask="000-000-00-00"
               [validation]="true"
               formControlName="nip">
        <mat-error *ngIf="nip.hasError('required')">
          {{'offer.generator.fieldRequired' | translate}}
        </mat-error>
      </mat-form-field>


      <mat-form-field class="w-100">
        <input matInput
               [placeholder]="'offer.generator.stepPreparedBy.regon' | translate"
               type="text"
               formControlName="regon">
        <mat-error *ngIf="regon.hasError('required')">
          {{'offer.generator.fieldRequired' | translate}}
        </mat-error>
        <mat-error *ngIf="regon.hasError('pattern')">
          {{'offer.generator.stepPreparedBy.incorrectFormat' | translate}}
        </mat-error>
      </mat-form-field>


      <mat-form-field class="w-100">
        <input matInput
               [placeholder]="'offer.generator.stepPreparedBy.krs' | translate"
               type="text"
               formControlName="krs">
        <mat-error *ngIf="krs.hasError('required')">
          {{'offer.generator.fieldRequired' | translate}}
        </mat-error>
      </mat-form-field>

    </div>
    <div class="col-md-6">
      <mat-form-field class="w-100">
        <input matInput
               [placeholder]="'offer.generator.stepPreparedBy.name' | translate"
               formControlName="name">
        <mat-error *ngIf="name.hasError('required')">
          {{'offer.generator.fieldRequired' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-100">
        <input matInput
               [placeholder]="'offer.generator.stepPreparedBy.position' | translate"
               type="text"
               formControlName="position">
        <mat-error *ngIf="position.hasError('required')">
          {{'offer.generator.fieldRequired' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-100">
        <input matInput
               [placeholder]="'offer.generator.stepPreparedBy.phone' | translate"
               formControlName="phone"
               [mask]="phoneService.getPhoneInputMask(phone.value)"
               type="tel"
               [validation]="true">
        <mat-error *ngIf="phone.hasError('minlength')">
          {{'offer.generator.stepPreparedBy.minLengthPhone' | translate}}
        </mat-error>
        <mat-error *ngIf="phone.hasError('required')">
          {{'offer.generator.fieldRequired' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-100">
        <input matInput
               [placeholder]="'offer.generator.stepPreparedBy.email' | translate"
               type="text"
               formControlName="email">
        <mat-error *ngIf="email.hasError('email')">
          {{'offer.generator.stepPreparedBy.incorrectFormat' | translate}}
        </mat-error>
        <mat-error *ngIf="email.hasError('required')">
          {{'offer.generator.fieldRequired' | translate}}
        </mat-error>
      </mat-form-field>

    </div>
  </div>
</form>
