<mat-card class="mat-elevation-z8 fill-screen table-container">
  <div class="table-header-container">
    <div class="title-header">
      <span class="table-header-primary">{{
        "bpmn.list.title" | translate
        }}</span>
      <span class="ml-5">
        <span class="filter-by-text">{{
          "bpmn.list.filter.filterBy" | translate
          }}</span>
        <span class="filter-by-value ml-2">{{
          "bpmn.list.filter." + (selectedFilter | lowercase) | translate
          }}</span>
        <app-icon
          [matMenuTriggerFor]="filterBy"
          [hover]="false"
          svgIcon="expand-more"
        ></app-icon>
      </span>
      <mat-menu #filterBy="matMenu" xPosition="before">
        <div class="dropdown-select-title">
          {{ "leads.list.filterBy.showOnly" | translate }}
        </div>
        <button
          (click)="filter(filterSelection.LEAD)"
          [class.active]="isSelected(filterSelection.LEAD)"
          class="dropdown-select-item"
          mat-menu-item
        >
          {{ "bpmn.list.filter.lead" | translate }}
        </button>
        <button
          (click)="filter(filterSelection.OPPORTUNITY)"
          [class.active]="isSelected(filterSelection.OPPORTUNITY)"
          class="dropdown-select-item"
          mat-menu-item
        >
          {{ "bpmn.list.filter.opportunity" | translate }}
        </button>
      </mat-menu>
    </div>
    <div class="button-container">
      <app-icon
        *ngIf="'BpmnComponent.add' | auth: 'w'"
        svgIcon="add"
        appTooltip="ADD"
        (click)="addProcess()"
      ></app-icon>
      <!--      <button class="export-icon"></button>-->
      <!--      <button class="import-icon"></button>-->
      <app-icon
        svgIcon="collapse"
        appTooltip="REDUCE_SPACE"
        (click)="expanded = false"
        [class.expanded]="!expanded"
      ></app-icon>
      <app-icon
        svgIcon="expand"
        appTooltip="INCREASE_SPACE"
        (click)="expanded = true"
        [class.expanded]="expanded"
      ></app-icon>
    </div>
  </div>
  <hr class="after-title-line"/>
  <div
    class="overflow-y with-title"
    *ngIf="'BpmnComponent.list' | auth: 'i':true"
  >
    <div class="for-type-title" *ngIf="selectedFilter === filterSelection.LEAD">
      {{ "bpmn.list.forLeads" | translate | uppercase }}
    </div>
    <div
      class="for-type-title"
      *ngIf="selectedFilter === filterSelection.OPPORTUNITY"
    >
      {{ "bpmn.list.forOpportunity" | translate | uppercase }}
    </div>
    <div
      *ngFor="let process of processes"
      class="process-container"
      [ngClass]="{ expanded: expanded }"
    >
      <div class="main-part">
        <span class="task-name">
          <span [title]="process.name">{{ process.name }}</span>
        </span>
        <span class="task-number-of-tasks">
          <span
            class="number-of-tasks"
            *ngIf="!expanded"
            [style.color]="process.textColor"
            [style.backgroundColor]="process.backgroundColor"
          >
            {{ process.size - 1 }}
            {{
            "bpmn.list.task" + (process.size > 2 ? "s" : "")
              | translate
              | uppercase
            }}
          </span>
        </span>
        <div *ngIf="expanded" class="small-tasks-container">
          <div
            *ngFor="let task of process?.tasks | filterBpmTasks"
            class="small-task-box"
            [ngClass]="
              'bp-small-arrow-' +
              bpmnUtil.getColorNameByBgColorHex(process.backgroundColor)
            "
          >
            <div class="small-task-box-content">
              <div
                class="small-task-text"
                [ngStyle]="{ color: process?.textColor || '#FFF' }"
                [title]="task | lengthMoreThan: 15"
              >
                {{ task }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <app-icon
          *ngIf="isPrimary(process.id)"
          svgIcon="yellow-star"
          style="padding-right: 8px"
          [pointer]="false"
        ></app-icon>
      </div>
      <div>
        <app-icon
          appTooltip="MORE"
          [matMenuTriggerFor]="menu"
          (click)="$event.stopPropagation()"
          svgIcon="option-dots"
          [hover]="false"
        ></app-icon>
        <mat-menu #menu="matMenu" class="bpmn-mat-menu">
          <button
            mat-menu-item
            (click)="editProcess(process.id)"
            *ngIf="'BpmnComponent.edit' | auth: 'w'"
          >
            <app-icon svgIcon="edit" size="18px" [hover]="false"></app-icon>
            {{ "bpmn.list.edit" | translate }}
          </button>
          <button
            mat-menu-item
            (click)="deleteProcess(process.id)"
            *ngIf="'BpmnComponent.delete' | auth: 'w'"
          >
            <app-icon svgIcon="trash" size="18px" [hover]="false"></app-icon>

            {{ "bpmn.list.delete" | translate }}
          </button>
          <button
            mat-menu-item
            (click)="createBasedOnOld(process.id)"
            *ngIf="'BpmnComponent.createBasedOnOld' | auth: 'w'"
          >
            <app-icon svgIcon="rename" size="18px" [hover]="false"></app-icon>
            {{ "bpmn.list.newBasedOnChosen" | translate }}
          </button>
          <button
            mat-menu-item
            (click)="specifyAsPrimaryProcess(process, selectedFilter)"
            *ngIf="!isPrimary(process.id)"
          >
            <app-icon svgIcon="grey-star" size="18px" [hover]="false"></app-icon>
            {{ "bpmn.list.setAsPrimary" | translate }}
          </button>
          <button
            mat-menu-item
            (click)="deletePrimaryProcess(process, selectedFilter)"
            *ngIf="isPrimary(process.id)"
          >
            <app-icon svgIcon="grey-star" size="18px" [hover]="false"></app-icon>
            {{ "bpmn.list.unsetPrimacy" | translate }}
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
</mat-card>

<app-slider
  [width]="'100vw'"
  [title]="sliderTitle | translate"
  key="processSlider"
  #processSlider
>
  <app-process-form
    class="h-100"
    (processSaved)="onProcessAdded()"
    (processTypeChanged)="onProcessChanged($event)"
    [processDefinitionId]="processId"
    [currentlyOpened]="sliderOpened"
    [changeProcessId]="changeProcessId"
    [selectedType]="selectedFilter"
  ></app-process-form>
</app-slider>
