@import "~src/styles/colors";
@import "~src/styles/table";
@import "~src/styles/font-weights";

.button-container {
  display: flex;
  align-items: center;
  & > * {
    padding: 0 6px;
  }
  &::ng-deep.expanded {
    .icon {
      fill: $primary !important;
    }
  }
}

.filter-by-text {
  font-weight: $Medium;
  font-size: 12px;
  color: $text-secondary;
  letter-spacing: 0;
  line-height: 18px;
}

.filter-by-value {
  font-weight: $Medium;
  font-size: 14px;
  color: $text-primary;
  letter-spacing: 0;
  line-height: 21px;
}

.table-header-container {
  box-shadow: none;
  min-height: 50px;
}

.after-title-line {
  border-top: 1px solid rgba($border-color-rgb, 0.5);
  margin-left: -32px;
  margin-right: -32px;
}

.title-header {
  display: flex;
  line-height: 36px;
}

.for-type-title {
  text-align: left;
  font: $Medium 10px/16px Poppins;
  letter-spacing: 1.2px;
  color: $primary;
  text-transform: uppercase;
  opacity: 1;
  margin-bottom: 10px;
  margin-top: 20px;
}

.table-container {
  padding: 20px 32px;
}

.main-part {
  width: 96%;
}

.process-container {
  border-bottom: 1px solid $border-secondary;
  padding: 10px 0;
  font: $Regular 20px/30px Poppins;
  letter-spacing: 0;
  color: $text-title;
  opacity: 1;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
}
.process-container.expanded {
  height: 80px;
}

.number-of-tasks {
  margin-left: 15px;
  text-align: center;
  font: $Medium 10px/16px Poppins;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  opacity: 1;
  padding: 3px 10px;
  border-radius: 16px;
}

.task-name {
  width: 45%;
  display: inline-grid;
  font-size: 13px;
  color: $text-title;
  font-weight: $Medium;

  span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
.task-number-of-tasks {
  .number-of-tasks {
    min-width: 110px;
    display: inline-block;
    color: $primary-contrast;
    font-size: 10px;
    font-weight: $Medium;
    letter-spacing: 1.2px;
    height: 20px;
    text-transform: uppercase;
  }
}

.with-title {
  height: calc(100% - 87px) !important;
}

.dots-icon-light {
  margin-right: 8px;
}

.small-tasks-container {
  white-space: nowrap;
  overflow-x: auto;
  padding: 0 10px 10px 0;
}

.small-task-box {
  display: inline-block;
  position: relative;
  background-repeat: no-repeat;
  width: 140px;
  height: 32px;
  margin-right: 2px;
}

.small-task-box-content {
  padding-right: 10px;
  padding-left: 10px;
}

.small-task-text {
  text-align: center;
  font: $Medium 10px/16px Poppins;
  letter-spacing: 1.2px;
  color: $primary-contrast;
  text-transform: uppercase;
  opacity: 0.75;
  margin-top: 9px;
  margin-right: 6px;
  text-overflow: ellipsis;
  overflow: hidden;
}

@each $color
  in "blue"
  "purple"
  "yellow"
  "pink"
  "green"
  "brown"
  "turquoise"
  "red"
{
  .bp-small-arrow-#{$color} {
    background-image: url("~src/assets/icons/bp_arrow_small/bp-small-arrow-#{$color}.svg") !important;
  }
}

::ng-deep.bpmn-mat-menu.mat-menu-panel {
  max-width: 300px;
}
