<div
  #mainContainer
  class="mail-details-container"
  *ngIf="_message"
>
  <ng-container *ngIf="!replyOpened && !forwardOpened; else reset_button">
    <div class="pull-right">
      <button
        class="btn-transparent mr-2"
        [title]="'mail.details.reply' | translate"
        (click)="reply()"
      >
        <img src="assets/icons/mail/reply.svg">
      </button>
      <button
        class="btn-transparent mr-2"
        [title]="'mail.details.replyAll' | translate"
        (click)="replyAll()"
      >
        <img src="assets/icons/mail/reply_all.svg">
      </button>
      <button
        class="btn-transparent mr-2"
        [title]="'mail.details.forward' | translate"
        (click)="forward()"
      >
        <img src="assets/icons/mail/forward.svg">
      </button>
    </div>
    <div class="subject-container">
      {{_message.subject}}
    </div>
    <div class="to-and-from-container">
      <div class="email-container line-container">
        <div class="header-container">{{'mail.details.from' | translate}}</div>
        <div *ngIf="_message.headerDto.fromAddr[0]?.name">{{_message.headerDto.fromAddr[0].name + ' '}}</div>
        <div *ngIf="_message.headerDto.fromAddr[0]?.email">{{'<' + _message.headerDto.fromAddr[0].email + '>'}}</div>
      </div>
      <div class="email-container line-container">
        <div class="header-container">{{'mail.details.to' | translate}}</div>
        <div *ngFor="let to of _message.headerDto.toAddr">
          <div *ngIf="to.name">{{to.name + ' '}}</div>
          <div *ngIf="to.email">{{'<' + to.email + '>; '}}</div>
        </div>
      </div>
      <div
        class="email-container line-container"
        *ngIf="_message.headerDto.ccAddr[0]"
      >
        <div class="header-container">{{'mail.details.cc' | translate}}</div>
        <div *ngFor="let cc of _message.headerDto.ccAddr">
          <div *ngIf="cc.name">{{cc.name + ' '}}</div>
          <div *ngIf="cc.email">{{'<' + cc.email + '>; '}}</div>
        </div>
      </div>
      <div class="line-container">
        <div class="header-container">{{'mail.details.date' | translate}}</div>
        <div>{{ _message.headerDto.receivedDate | formatDate }}</div>
      </div>
    </div>
    <div class="content-container">
      <iframe
        class="w-100"
        style="background-color: #ffffff;"
        [srcdoc]="_message.htmlContent ? _message.htmlContent: _message.plainContent"
        appHtmlInIframe
      ></iframe>
    </div>

    <div
      class="mt-3"
      *ngIf="_message.attachmentList && _message.attachmentList.length > 0"
    >
      <app-mail-attachments
        [previewAttachments]="{folderName: selectedFolder, messageId: _message.messageId, files: _message.attachmentList}"
      ></app-mail-attachments>
    </div>


    <hr
      class="horizontal-line"
      #messageForm
    />

    <button
      class="btn-transparent reply-button"
      (click)="reply()"
      *ngIf="!replyOpened && !forwardOpened"
    >{{ 'mail.details.reply' | translate}}</button>
    <button
      class="btn-transparent reply-button ml-2"
      (click)="forward()"
      *ngIf="!replyOpened && !forwardOpened"
    >{{ 'mail.details.forward' | translate}}</button>
  </ng-container>

  <ng-template #reset_button>
    <button
      class="btn-transparent mr-2"
      [title]="'mail.details.back' | translate"
      (click)="reset()"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
  </ng-template>

  <app-reply-to-message
    *ngIf="replyOpened"
    [replyToAll]="replyToAll"
    [message]="_message"
    (replyToClosed)="reset()"
  >
  </app-reply-to-message>

  <app-forward-message
    *ngIf="forwardOpened"
    [message]="_message"
    (forwardClosed)="reset()"
    [messageId]="messageId"
  >
  </app-forward-message>

</div>

<div
  class="spinner-container"
  *ngIf="_message === null"
>
  <mat-spinner
    class="absolute-center"
    [diameter]="50"
  ></mat-spinner>
</div>