@import '~src/styles/colors';
@import "~src/styles/font-weights";

.mail-details-container {
  color: $text-title;
  font-weight: $Regular;
  height: 100%;
  overflow: auto;
  padding: 22px;
  padding-bottom: 60px;
}

.to-and-from-container {
  margin-top: 10px;
}

.subject-container {
  font: $Medium 18px/27px Poppins;
}

.date-received-container {
  color: $action-color;
  font: $Regular 12px/18px Poppins;
}

.email-container {
  font: $Medium 13px/20px Poppins;
}

.content-container {
  margin-top: 50px;
  iframe {
    display: block;
    background: $bg-primary;
    border: none;
    overflow-y: auto;
    width: 100% !important;
    height: 0;
  }
}

.header-container {
  font: $SemiBold 13px/20px Poppins;
  width: 80px;
}

.line-container {
  display: flex;
}

.reply-button {
  font: $Medium 16px/25px Poppins;
  color: $primary;
}

.horizontal-line {
  border-top: 5px solid $border-tertiary;
  margin: 20px -22px
}

.spinner-container {
  height: 85%;
  width: 92%;
}
