<div class="form-config-parent">
  <app-text-editor [textAreaPlaceholder]="'administration.gdpr.form.formPlaceholder' | translate"
                   [htmlContent]="html"
                   [insert]="variableToInsert"
                   (valueChanged)="html = $event"></app-text-editor>

  <button [matMenuTriggerFor]="variableList" class="set-variable" appTooltip="ADD_VARIABLE">{{'{ }'}}</button>
  <mat-menu #variableList="matMenu">
    <button mat-menu-item *ngFor="let variable of variables" (click)="insertVariable(variable)">
      {{'administration.gdpr.formVariables.' + (variable | lowercase) | translate}}
    </button>
  </mat-menu>

  <div class="save-button">
    <button mat-raised-button color="primary" (click)="save()">{{'administration.gdpr.form.save' | translate}}</button>
  </div>
</div>
