@import "~src/styles/colors";
@import "~src/styles/font-weights";

.form-config-parent {
  padding-bottom: 30px;
  margin-top: 20px;

  .save-button {
    margin-top: 24px;

    button {
      float: right;
    }
  }

  .set-variable {
    background-color: transparent;
    border: none;
    font-size: 10px;
    cursor: pointer;
    font-weight: $Bold;
    color: $primary;
    margin-top: 1px;
    position: absolute;
  }

  ::ng-deep .ngx-toolbar {
    margin-left: 30px;
  }
;
}
