<div
  class="acceptance-panel"
  *ngIf="
    _lead &&
    _lead.acceptanceUserId === loggedAccountId &&
    notificationId != undefined
  "
>
  <div class="left-side-of-acceptance-panel">
    {{ "leads.details.acceptanceView" | translate }}
  </div>
  <div class="right-side-of-acceptance-panel">
    <button
      class="button-medium mr-2 button-with-comment"
      color="primary"
      (click)="tryDecline(true)"
      mat-stroked-button
    >
      {{ "leads.details.declineWithComment" | translate }}
    </button>
    <button
      class="button-medium mr-4 button-without-comment"
      color="primary"
      (click)="tryDecline(false)"
      mat-stroked-button
    >
      {{ "leads.details.decline" | translate }}
    </button>
    <button
      class="button-medium mr-2 button-with-comment"
      color="primary"
      (click)="tryAccept(true)"
      mat-stroked-button
    >
      {{ "leads.details.acceptWithComment" | translate }}
    </button>
    <button
      class="button-medium button-without-comment"
      color="primary"
      (click)="tryAccept(false)"
      mat-stroked-button
    >
      {{ "leads.details.accept" | translate }}
    </button>
  </div>
</div>
