@import "~src/styles/form";
@import "~src/styles/colors";
@import "~src/styles/font-weights";
@import "~src/styles/icons";

.acceptance-panel {
  height: 85px;
  background-color: $yellow-acceptance;
  display: flex;
  justify-content: space-between;
  color: $primary-contrast;
  font-size: 16px;
}

.left-side-of-acceptance-panel {
  display: flex;
  align-items: center;
  padding-left: 50px;
}

.right-side-of-acceptance-panel {
  display: flex;
  align-items: center;
  padding-right: 50px;
}

.button-with-comment {
  color: $primary-contrast !important;
  border-color: $primary-contrast !important;
}

.button-without-comment {
  background-color: $primary !important;
  color: $primary-contrast !important;
}
