<div class="mail-config-parent">

  <mat-form-field class="w-100">
    <input matInput
           [placeholder]="'administration.gdpr.mail.title' | translate"
           type="text"
           [formControl]="title">
  </mat-form-field>
  <app-text-editor [textAreaPlaceholder]="'administration.gdpr.mail.formPlaceholder' | translate"
                   [htmlContent]="html"
                   [insert]="variableToInsert"
                   (valueChanged)="html = $event"></app-text-editor>

  <button [matMenuTriggerFor]="variableList" class="set-variable" appTooltip="ADD_VARIABLE">{{'{ }'}}</button>
  <mat-menu #variableList="matMenu">
    <button mat-menu-item *ngFor="let variable of variables" (click)="insertVariable(variable)">
      {{'administration.gdpr.formVariables.' + (variable | lowercase) | translate}}
    </button>
  </mat-menu>

  <div class="save-button">
    <button mat-raised-button color="primary" (click)="save()">{{'administration.gdpr.mail.save' | translate}}</button>
  </div>
</div>
