@import "~src/styles/colors";
@import "~src/styles/font-weights";
@import "~src/styles/icons";

$grid-color: #e5e5e5;
$grid-color-dark: #505050;

::ng-deep[theme="dark"] .full-display .padding .chart .axes-padding {
  border-color: $grid-color-dark !important;
  .top-arrow {
    border-bottom-color: $grid-color-dark !important;
  }
  .right-arrow {
    border-left-color: $grid-color-dark !important;
  }
}

.full-display {
  height: 100%;
  width: 100%;
  display: flex;
  .padding {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-left: 24px;
    padding-right: 16px;
    .chart {
      height: 100%;
      width: 100%;
      padding-right: 100px;
      padding-top: 40px;
      position: relative;
      .axes-padding {
        position: absolute;
        border-bottom: 2px solid $grid-color;
        border-left: 2px solid $grid-color;
        bottom: 37px;
        top: 0;
        right: 0;
        .top-arrow {
          position: absolute;
          width: 0;
          height: 0;
          border-left: 6px solid transparent;
          border-bottom: 12px solid $grid-color;
          border-right: 6px solid transparent;
          left: -7px;
          top: 0px;
        }
        .right-arrow {
          position: absolute;
          width: 0;
          height: 0;
          border-top: 6px solid transparent;
          border-bottom: 6px solid transparent;
          border-left: 12px solid $grid-color;
          bottom: -7px;
          right: 0px;
        }
      }
      .label {
        font-size: 13px;
        color: $text-title;
        font-weight: $Bold;
      }
      .y-label {
        @extend .label;
        position: absolute;
        top: 16px;
        left: -24px;
        width: 48px;
        text-align: center;
        overflow-wrap: break-word;
      }
      .x-label {
        @extend .label;
        position: absolute;
        bottom: 7px;
        right: 0px;
        width: 90px;
        text-align: center;
        overflow-wrap: break-word;
      }
    }
  }
}
