<div class="full-display">
  <div class="padding">
    <div class="chart">
      <canvas
        baseChart
        [datasets]="chartData"
        [labels]="chartLabels"
        [options]="chartOptions"
        [legend]="false"
        [chartType]="chartType"
        [colors]="chartColors"
      >
      </canvas>
      <div class="axes-padding" [style.left]="21 + widthLeftTicks + 'px'">
        <div class="top-arrow"></div>
        <div class="right-arrow"></div>
      </div>
      <div class="y-label">{{yLabel}}</div>
      <div class="x-label">{{xLabel}}</div>
    </div>
  </div>
</div>
