@import "~src/styles/form";
@import "~src/styles/colors";
@import "~src/styles/slider";
@import "~src/styles/font-weights";
@import "~src/styles/icons";
@import "~src/styles/table";

.scrollable-table {
  overflow-y: auto;
  height: 100%;
}

.no-border-panel {
  box-shadow: 0 0 0 0;
}

.extension-header-text {
  color: $primary;
  font-size: 13px;
  font-weight: $Medium;
  letter-spacing: 1.2px;
}

.add-product-panel {
  display: flex;
  font-size: 13px;
  font-weight: $Medium;
  color: $text-title;
}

.add-product-panel > * {
  flex: 1;
}

.inactive-checkbox {
  color: $text-secondary
}

.checkbox-input ::ng-deep.mat-checkbox-checked .mat-checkbox-background {
  background-color: $primary;
}

.price-book-select-box {
  padding-left: 25px;
}
.flag-icon {
  width: 13px;
  height: 18px;
}
