<div class="scrollable-table" (scroll)="onScroll($event)">
  <mat-accordion [multi]="true">
    <mat-expansion-panel expanded="true" class="no-border-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="extension-header-text">
            {{
              "opportunity.details.products.addProduct" | translate | uppercase
            }}
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="add-product-panel">
        <div>
          {{
            "opportunity.details.products.addProductToOpportunity" | translate
          }}
        </div>
        <div
          class="checkbox-input"
          *ngIf="'OpportunityProductsCard.addFromPriceBook' | auth: 'w'"
        >
          <mat-checkbox
            value="false"
            class="inactive-checkbox"
            [(ngModel)]="addFromPriceBook"
            (ngModelChange)="addManually = false"
            [ngClass]="{ 'inactive-checkbox': !addFromPriceBook }"
          >
            {{ "opportunity.details.products.productPrice" | translate }}
          </mat-checkbox>
          <div class="price-book-select-box">
            <mat-form-field *ngIf="addFromPriceBook" class="w-75">
              <mat-select
                (selectionChange)="priceBookSelectionChange($event.value)"
                [formControl]="selectPriceBookFromControl"
                [placeholder]="
                  'opportunity.details.products.priceBook' | translate
                "
              >
                <mat-option
                  *ngFor="let priceBook of priceBooks"
                  [value]="priceBook"
                  >{{ priceBook.name }}
                  <img
                    *ngIf="priceBook.isDefault"
                    class="flag-icon"
                    src="assets/icons/products/flag-green.svg"
                  />
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div
          class="checkbox-input"
          *ngIf="'OpportunityProductsCard.manualAdd' | auth: 'w'"
        >
          <mat-checkbox
            value="false"
            class="inactive-checkbox"
            [(ngModel)]="addManually"
            (ngModelChange)="addManuallyChanged($event)"
            [ngClass]="{ 'inactive-checkbox': !addManually }"
          >
            {{ "opportunity.details.products.manually" | translate }}
          </mat-checkbox>
        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel expanded="true" class="no-border-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="extension-header-text">
            {{
              "opportunity.details.products.productListTitle"
                | translate
                | uppercase
            }}
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <div>
          <ng-container>
            <table
              class="col-md-12 row-collapsed"
              [dataSource]="productsPage?.content"
              mat-table
              matSort
              (matSortChange)="onSortChange($event)"
            >
              <ng-container matColumnDef="product.name">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>
                  {{ "opportunity.details.products.name" | translate }}
                </th>
                <td *matCellDef="let opportunityProduct" mat-cell>
                  <div
                    class="table-text-primary"
                    [title]="opportunityProduct.name | lengthMoreThan: 30"
                  >
                    {{ opportunityProduct.name }}

                    <img
                      [title]="
                        'opportunity.details.products.priceChanged'
                          | translate
                            : {
                                priceFrom:
                                  (opportunityProduct.priceChangedFrom
                                  | formatCurrency: currency),
                                priceTo:
                                  (opportunityProduct.priceChangedTo
                                  | formatCurrency: currency)
                              }
                      "
                      *ngIf="opportunityProduct.priceChanged"
                      class="action-icon"
                      src="assets/icons/exclamation_mark.svg"
                    />
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="price">
                <th
                  *matHeaderCellDef
                  mat-header-cell
                  mat-sort-header
                  class="currency-header"
                >
                  {{ "opportunity.details.products.price" | translate }}
                </th>
                <td
                  *matCellDef="let opportunityProduct"
                  mat-cell
                  [title]="opportunityProduct.price | lengthMoreThan: 30"
                  class="currency-value"
                >
                  {{ opportunityProduct.price | formatCurrency: currency }}
                </td>
              </ng-container>

              <ng-container matColumnDef="quantity">
                <th
                  *matHeaderCellDef
                  mat-header-cell
                  mat-sort-header
                  class="currency-header"
                >
                  {{ "opportunity.details.products.quantity" | translate }}
                </th>
                <td
                  *matCellDef="let opportunityProduct"
                  mat-cell
                  class="currency-value"
                  [title]="opportunityProduct.quantity | lengthMoreThan: 30"
                >
                  {{ opportunityProduct.quantity }}
                </td>
              </ng-container>

              <ng-container matColumnDef="priceSummed">
                <th
                  *matHeaderCellDef
                  mat-header-cell
                  mat-sort-header
                  class="currency-header"
                >
                  {{ "opportunity.details.products.priceSummed" | translate }}
                </th>
                <td
                  *matCellDef="let opportunityProduct"
                  mat-cell
                  [title]="opportunityProduct.priceSummed | lengthMoreThan: 30"
                  class="currency-value"
                >
                  {{
                    opportunityProduct.priceSummed | formatCurrency: currency
                  }}
                </td>
              </ng-container>

              <ng-container
                matColumnDef="priceSummedInMainCurrency"
                *ngIf="mainCurrency !== currency"
              >
                <th
                  *matHeaderCellDef
                  mat-header-cell
                  mat-sort-header
                  class="currency-header"
                >
                  {{
                    ("opportunity.details.products.priceSummed" | translate) +
                      " (w " +
                      mainCurrency +
                      ")"
                  }}
                </th>
                <td
                  *matCellDef="let opportunityProduct"
                  mat-cell
                  class="currency-value"
                >
                  {{
                    opportunityProduct.priceSummed * exchangeRate
                      | formatCurrency: mainCurrency
                  }}
                </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th *matHeaderCellDef mat-header-cell></th>
                <td *matCellDef="let opportunity" mat-cell>
                  <app-icon
                    svgIcon="option-dots"
                    [hover]="false"
                    [matMenuTriggerFor]="menu"
                    (click)="$event.stopPropagation()"
                  ></app-icon>
                  <mat-menu #menu="matMenu" xPosition="before">
                    <button
                      class="dropdown-select-item"
                      mat-menu-item
                      (click)="tryEdit(opportunity.id)"
                      *ngIf="'OpportunityProductsCard.edit' | auth: 'w'"
                    >
                      <app-icon
                        svgIcon="edit"
                        [hover]="true"
                        size="18px"
                      ></app-icon>
                      {{ "opportunity.details.products.edit" | translate }}
                    </button>
                    <button
                      class="dropdown-select-item"
                      mat-menu-item
                      (click)="tryDelete(opportunity.id)"
                      *ngIf="'OpportunityProductsCard.delete' | auth: 'w'"
                    >
                      <app-icon
                        svgIcon="trash"
                        [hover]="true"
                        size="18px"
                      ></app-icon>
                      {{ "opportunity.details.products.delete" | translate }}
                    </button>
                  </mat-menu>
                </td>
              </ng-container>
              <tr
                *matHeaderRowDef="filteredColumns$ | async; sticky: true"
                mat-header-row
              ></tr>
              <tr
                *matRowDef="let myRowData; columns: filteredColumns$ | async"
                mat-row
              ></tr>
            </table>
          </ng-container>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<app-slider
  #addSlider
  [title]="'opportunity.details.products.manualAdd.title' | translate"
  key="OpportunityProductsAdd.AddSlider"
  width="30vw"
>
  <app-manual-product-add
    [sliderComponent]="addSlider"
    [opportunityId]="_opportunityId"
    [currency]="currency"
    (productAdded)="initProductsAndRefreshOpportunity()"
  ></app-manual-product-add>
</app-slider>

<app-slider
  #fromPriceBook
  [title]="priceTitle"
  key="OpportunityProductsAdd.FromPriceBookSlider"
  width="100vw"
  [headerTemplate]="fromPriceBookHeader"
>
  <app-add-product-from-price-book
    [slider]="fromPriceBook"
    [priceBook]="selectedPriceBook"
    [opportunityId]="_opportunityId"
    (productAdded)="initProductsAndRefreshOpportunity()"
  ></app-add-product-from-price-book>
</app-slider>

<ng-template #fromPriceBookHeader>
  <span class="slider-header">{{ priceTitle }}</span>
  <img
    class="ml-2"
    *ngIf="selectedPriceBook?.isDefault"
    src="assets/icons/products/flag-green.svg"
  />
</ng-template>
