<button
  (click)="addSlider.open()"
  class="button-medium ml-2 tab-add-button"
  color="primary"
  mat-raised-button
>
  {{ "administration.gdpr.agree.add" | translate }}
</button>

<table [dataSource]="agreements" class="mat-elevation-z8 col-md-12" mat-table>
  <ng-container matColumnDef="name">
    <th *matHeaderCellDef mat-header-cell>
      {{ "administration.gdpr.agree.name" | translate }}
    </th>
    <td class="text-col" *matCellDef="let agreement" mat-cell>
      {{ agreement.name }}
    </td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th *matHeaderCellDef mat-header-cell>
      {{ "administration.gdpr.agree.description" | translate }}
    </th>
    <td class="text-col" *matCellDef="let agreement" mat-cell>
      {{ agreement.description }}
    </td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th *matHeaderCellDef mat-header-cell></th>
    <td *matCellDef="let agreement" mat-cell>
      <app-icon
        [matMenuTriggerFor]="menu"
        (click)="$event.stopPropagation()"
        appTooltip="MORE"
        svgIcon="option-dots"
        [hover]="false"
      ></app-icon>
      <mat-menu #menu="matMenu">
        <button (click)="editAgreement(agreement)" mat-menu-item>
          {{ "administration.gdpr.edit" | translate }}
          <span class="fa fa-pencil ml-3"></span>
        </button>
        <button
          *ngIf="!agreement.isMailType"
          (click)="tryDeleteAgreement(agreement.id)"
          mat-menu-item
        >
          {{ "administration.gdpr.delete" | translate }}
          <span class="fa fa-trash ml-4 contrast-color"></span>
        </button>
      </mat-menu>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="filteredColumns; sticky: true" mat-header-row></tr>
  <tr
    *matRowDef="let rowData; columns: filteredColumns"
    mat-row
    (click)="$event.stopPropagation()"
  ></tr>
</table>

<app-slider
  #addSlider
  [title]="'administration.gdpr.agree.addTitle' | translate"
  key="Agreements.AddSlider"
  width="45vw"
>
  <app-add-form
    [operationType]="'AGREES'"
    (onSave)="saveAgreement($event)"
  ></app-add-form>
</app-slider>

<app-slider
  #editSlider
  [title]="'administration.gdpr.agree.editTitle' | translate"
  key="Agreements.AddSlider"
  width="45vw"
>
  <app-add-form
    #editForm
    [operationType]="'AGREES'"
    (onSave)="updateAgreement($event)"
  ></app-add-form>
</app-slider>
