@import "~src/styles/colors";
@import "~src/styles/font-weights";

::ng-deep .notification-popup {
  position: fixed;
  top: 76px;
  right: 12px;
  width: 538px;
  height: calc(100vh - 80px);
  background-color: $bg-primary;
  box-shadow: 1px 4px 12px #0A1E4440;
  opacity: 1;
  padding-top: 52px;
  z-index: 9999;
}

::ng-deep .notification-popup.hide {
  display: none;
}

::ng-deep .notification-popup > .close {
  display: flex;
  position: absolute;
  top: 25px;
  right: 25px;
  width: 12px;
  height: 12px;
}

::ng-deep .notification-popup > .close {
  display: flex;
  position: absolute;
  top: 25px;
  right: 25px;
  width: 12px;
  height: 12px;
}

::ng-deep .notification-popup > .close {
  content: url("~src/assets/icons/notifications/close-dark.svg");
}

::ng-deep[theme="dark"] .notification-popup > .close{
  content: url("~src/assets/icons/notifications/close-light.svg");
}
