@import "../../../../../styles/slider";
@import "../../../../../styles/common";

.link-input {
  width: calc(100% - 50px);
  margin-left: 15px;
}

.sm-input-icon {
  position: absolute;
  right: 2px;
  top: 2px;
}
