<div class="w-100 h-100 card-padding">

  <mat-card class="mat-elevation-z0 main-mat-card mat-card card-border-radius no-bottom-border-radius">
    <form [formGroup]="socialMediaForm">
      <div class="pl-3 pr-3 pt-4">
        <div class="w-100 form-inline">
          <img *ngIf="!facebookLink.value || facebookLink.value.length === 0" src="assets/icons/social_media/f.svg"/>
          <img *ngIf="facebookLink.value && facebookLink.value.length !== 0" src="assets/icons/social_media/facebook.svg"/>
          <mat-form-field class="link-input">
            <input matInput
                   [placeholder]="'contacts.socialMediaEdit.facebookPlaceholder' | translate"
                   formControlName="facebookLink">
            <img class="sm-input-icon" *ngIf="!facebookLink.value || facebookLink.value.length === 0" src="assets/icons/crossicon-gray.svg"/>
            <img class="sm-input-icon clickable" *ngIf="facebookLink.value && facebookLink.value.length !== 0" src="assets/icons/crossicon.svg" (click)="removeValue('facebook', $event)"/>
          </mat-form-field>
          <mat-error *ngIf="facebookLink.hasError('incorrectUrl')">{{'contacts.socialMediaEdit.incorrectUrl' | translate}}</mat-error>
          <mat-error
            *ngIf="facebookLink.hasError('maxlength')">{{'sharedValidators.valueTooLong' | translate}}</mat-error>
        </div>
        <div class="w-100 form-inline">
          <img *ngIf="!twitterLink.value || twitterLink.value.length === 0" src="assets/icons/social_media/tw.svg"/>
          <img *ngIf="twitterLink.value && twitterLink.value.length !== 0" src="assets/icons/social_media/twitter.svg"/>
          <mat-form-field class="link-input">
            <input matInput
                   [placeholder]="'contacts.socialMediaEdit.twitterPlaceholder' | translate"
                   formControlName="twitterLink">
            <img class="sm-input-icon" *ngIf="!twitterLink.value || twitterLink.value.length === 0" src="assets/icons/crossicon-gray.svg"/>
            <img class="sm-input-icon clickable" *ngIf="twitterLink.value && twitterLink.value.length !== 0" src="assets/icons/crossicon.svg" (click)="removeValue('twitter', $event)"/>
          </mat-form-field>
          <mat-error *ngIf="twitterLink.hasError('incorrectUrl')">{{'contacts.socialMediaEdit.incorrectUrl' | translate}}</mat-error>
          <mat-error
            *ngIf="twitterLink.hasError('maxlength')">{{'sharedValidators.valueTooLong' | translate}}</mat-error>
        </div>
        <div class="w-100 form-inline">
          <img *ngIf="!linkedInLink.value || linkedInLink.value.length === 0" src="assets/icons/social_media/in.svg"/>
          <img *ngIf="linkedInLink.value && linkedInLink.value.length !== 0" src="assets/icons/social_media/linkedin.svg"/>
          <mat-form-field class="link-input">
            <input matInput
                   [placeholder]="'contacts.socialMediaEdit.linkedInPlaceholder' | translate"
                   formControlName="linkedInLink">
            <img class="sm-input-icon" *ngIf="!linkedInLink.value || linkedInLink.value.length === 0" src="assets/icons/crossicon-gray.svg"/>
            <img class="sm-input-icon clickable" *ngIf="linkedInLink.value && linkedInLink.value.length !== 0" src="assets/icons/crossicon.svg" (click)="removeValue('linkedin', $event)"/>
          </mat-form-field>
          <mat-error *ngIf="linkedInLink.hasError('incorrectUrl')">{{'contacts.socialMediaEdit.incorrectUrl' | translate}}</mat-error>
          <mat-error
            *ngIf="linkedInLink.hasError('maxlength')">{{'sharedValidators.valueTooLong' | translate}}</mat-error>
        </div>
      </div>
    </form>
  </mat-card>

  <div class="button-container">
    <mat-card class="mat-elevation-z0 card-border-radius no-top-border-radius">
      <div class="row">
        <div class="col-md-12">
          <div class="pull-right">

            <button mat-stroked-button type="button" class="button-medium" color="primary"
                    (click)="closeSlider($event)">{{'contacts.socialMediaEdit.cancel' | translate}}</button>
            <button type="button"
                    mat-raised-button class="button-medium ml-2" color="primary"
                    (click)="updateContact($event)">{{'contacts.socialMediaEdit.add' | translate}}</button>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
