.filter-form {
  display: flex;
  justify-content: space-between;

  ::ng-deep .mat-slide-toggle-bar {
    width: 29px;
    height: 17px;
    border-radius: 20px;
  }

  ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
    transform: translate3d(12px, 0, 0);
  }

  ::ng-deep .mat-slide-toggle-thumb-container {
    width: 9px;
    height: 9px;
    top: 4px;
    left: 4px;

    .mat-slide-toggle-thumb {
      background-color: #fff;
      width: 9px;
      height: 9px;
    }
  }

  ::ng-deep .mat-slide-toggle-ripple {
    display: none;
  }
}

.slider-color- {
  &event {
    ::ng-deep .mat-slide-toggle-bar {
      background-color: #21c9d7 !important;
    }
  }
  &phone {
    ::ng-deep .mat-slide-toggle-bar {
      background-color: #4e5d77 !important;
    }
  }
  &task {
    ::ng-deep .mat-slide-toggle-bar {
      background-color: #319df8 !important;
    }
  }
  &meeting {
    ::ng-deep .mat-slide-toggle-bar {
      background-color: #fd718c !important;
    }
  }
  &mail {
    ::ng-deep .mat-slide-toggle-bar {
      background-color: #ffad0c !important;
    }
  }
}
