<div class="table-header-container">
  <span class="table-header-primary">{{'administration.cards.dictionaries' | translate}}</span>
</div>
<div class="overflow-x-hidden">
      <app-dictionary-words-list #dictionaryWordList></app-dictionary-words-list>

  <div class="save-config-button save-button">
    <button mat-raised-button color="primary"
            (click)="saveGlobalConfig()">{{'companyConfig.saveConfig' | translate}}</button>
  </div>
</div>
