.child-container {
  padding-left: 30px;
}

.category-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-item > *:first-child {
  flex-grow: 1;
  padding-right: 20px;
}

.icon-size {
  width: 20px;
  height: 20px;
}

.alert-icon-size {
  width: 16px;
  height: 16px;
}

.icon-margin {
  margin-right: 6px;
}

.add-category-icon {
  margin-top: 10px;
}

.inline {
  display: flex;
  justify-content: space-between;
}
