<div class="word-item">
  <form [formGroup]="wordForm" class="category-item">
    <mat-form-field class="word-input">
      <!--      <span class="inline">-->
      <input class="category-text" #nameInput matInput formControlName="name" />
      <img
        class="alert-icon-size"
        *ngIf="this.name.hasError('wordExistError')"
        src="assets/icons/alert.svg"
      />
      <!--      </span>-->
      <mat-error
        *ngIf="this.name.hasError('wordExistError')"
        class="float-right"
      >
        {{ "dictionaries.errors.wordExistError" | translate }}
      </mat-error>
    </mat-form-field>
    <ng-container *ngIf="existing">
      <ng-container *ngIf="level < maxLevel">
        <button
          type="button"
          class="btn-transparent icon-margin"
          (click)="addChild(); $event.stopPropagation()"
        >
          <app-icon svgIcon="add" [hover]="false" size="20px"></app-icon>
        </button>
      </ng-container>
    </ng-container>
    <mat-slide-toggle *ngIf="isWordsHideable" formControlName="global">
      <!--        <mat-icon aria-hidden="false" aria-label="Global">share</mat-icon>-->
    </mat-slide-toggle>
    <button
      *ngIf="isWordsDeletable"
      type="button"
      class="btn-transparent icon-margin"
      (click)="delete(); $event.stopPropagation()"
    >
      <app-icon svgIcon="trash" [hover]="false" size="20px"></app-icon>
    </button>
  </form>

  <div class="child-container">
    <ng-template #componentContainer></ng-template>
  </div>
</div>
