@import "~src/styles/colors";
@import "~src/styles/table";
@import "~src/styles/font-weights";

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.button-container {
  display: flex;
  align-items: center;
  & > * {
    padding: 0 6px;
  }
  &::ng-deep.expanded {
    .icon {
      fill: $primary !important;
    }
  }
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-customers {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.header {
  color: $text-primary;
}

.light-grey {
  color: $text-secondary;
}

.actions {
  .cross {
    margin-right: 8px;
  }

  &::ng-deep.icon {
    fill: $text-secondary !important;
  }
}

.no-contacts-primary {
  color: $text-primary;
  font-size: 20px;
  font-weight: $Regular;
  line-height: 32px;
}

.no-contacts-secondary{
  color: $text-secondary;
  font-size: 16px;
  font-weight: $Medium;
  line-height: 30px;
}

.contact-checkbox {
  padding-top: 8px !important;
}

.contact-name {
  font-weight: $Bold;
}

.main-customer-name {
  font-weight: $Bold;
  color: $primary;
}

.loading-shade {
  position: absolute;
  width: 100%;
  min-height: 64px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 101;
  background: radial-gradient(rgba($bg-primary-rgb, 0.6) 50%, transparent 100%);
}

.no-scroll{
  overflow: hidden !important;
}

.flex-table-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  .flex-table-content {
    position: relative;
    overflow: hidden;
    flex: 1;
    width: 100%;
    .scroll-table {
      overflow: auto;
      height: 100%;
      width: 100%;

      .row-expanded .mat-column-customer-name {
        padding: 16px 0;
      }
    }
  }
}
