<mat-card class="mat-elevation-z8 fill-screen table-container">
  <div class="table-header-container">
    <div>
      <span>
        <span class="table-header-primary"
          >{{ "contacts.list.title" | translate }}
        </span>
        <span class="table-header-note"
          >({{ contactsPage?.totalElements }})</span
        >
      </span>
      <span class="ml-5">
        <span class="filter-by-text"
          >{{ "contacts.list.filterBy.title" | translate }}:
        </span>
        <span class="filter-by-value ml-2">{{
          "contacts.list.filterBy.types." + selectedFilter | translate
        }}</span>
        <app-icon
          [matMenuTriggerFor]="filterBy"
          [hover]="false"
          svgIcon="expand-more"
        ></app-icon>
        <mat-menu #filterBy="matMenu" xPosition="before">
          <div class="dropdown-select-title">
            {{ "contacts.list.filterBy.listTitle" | translate }}
          </div>
          <button
            (click)="filter(filterSelection.ALL)"
            [class.active]="isSelected(filterSelection.ALL)"
            class="dropdown-select-item"
            mat-menu-item
          >
            {{ "contacts.list.filterBy.types.all" | translate }}
          </button>
          <button
            (click)="filter(filterSelection.CREATED_TODAY)"
            [class.active]="isSelected(filterSelection.CREATED_TODAY)"
            class="dropdown-select-item"
            mat-menu-item
          >
            {{ "contacts.list.filterBy.types.createdToday" | translate }}
          </button>
          <button
            (click)="filter(filterSelection.VIEWED_LASTLY)"
            [class.active]="isSelected(filterSelection.VIEWED_LASTLY)"
            class="dropdown-select-item"
            mat-menu-item
          >
            {{ "contacts.list.filterBy.types.viewedLastly" | translate }}
          </button>
          <button
            (click)="filter(filterSelection.EDITED_LASTLY)"
            [class.active]="isSelected(filterSelection.EDITED_LASTLY)"
            class="dropdown-select-item"
            mat-menu-item
          >
            {{ "contacts.list.filterBy.types.editedLastly" | translate }}
          </button>
          <button
            (click)="filter(filterSelection.ARCHIVED)"
            [class.active]="isSelected(filterSelection.ARCHIVED)"
            class="dropdown-select-item"
            mat-menu-item
          >
            {{"contacts.list.filterBy.types.archived" | translate}}
          </button>
        </mat-menu>
      </span>
    </div>
    <div class="button-container">
      <app-contact-search (searchEvent)="setSelectedSearch($event)">
      </app-contact-search>
      <app-icon
        *ngIf="'CustomerAddComponent.save' | auth: 'w'"
        svgIcon="add"
        appTooltip="ADD"
        (click)="addSlider.toggle()"
      ></app-icon>
      <!--      <button class="export-icon"></button>-->
      <!--      <button class="import-icon"></button>-->
      <app-icon
        svgIcon="collapse"
        appTooltip="REDUCE_SPACE"
        (click)="onExpandCollapse(true)"
        [class.expanded]="collapsed"
      ></app-icon>
      <app-icon
        svgIcon="expand"
        appTooltip="INCREASE_SPACE"
        (click)="onExpandCollapse(false)"
        [class.expanded]="!collapsed"
      ></app-icon>
      <app-icon
        svgIcon = "archive"
        *ngIf = "isAnyContactChecked()"
        (click) = "archiveContacts()"
      > </app-icon>
    </div>
  </div>
  <div class="row overflow-y with-title flex-table-container" *ngIf="userMap">
    <div class="flex-table-content" [class.no-scroll]="!loadingFinished">
      <div class="loading-shade" *ngIf="!loadingFinished">
        <mat-spinner></mat-spinner>
      </div>
      <div class="scroll-table">
        <table
          [dataSource]="contactsPage?.content"
          class="mat-elevation-z8 col-md-12"
          mat-table
          matSort
          (matSortChange)="onSortChange($event)"
          [ngClass]="{ 'row-collapsed': collapsed, 'row-expanded': !collapsed }"
        >
          <ng-container matColumnDef="selectRow">
            <th *matHeaderCellDef mat-header-cell></th>
            <td
              *matCellDef="let contact"
              mat-cell
              class="checkbox-column-width"
              (click)="$event.stopPropagation()"
            >
              <mat-checkbox
                class="crm-checkbox"
                [(ngModel)]="contact.checked"
                color="primary"
              ></mat-checkbox>
            </td>
          </ng-container>
          <ng-container matColumnDef="avatar">
            <th *matHeaderCellDef mat-header-cell></th>
            <td *matCellDef="let contact" mat-cell class="avatar-column-width">
              <app-avatar-icon
                [text]="
                  (
                    (contact?.name || '') +
                    ' ' +
                    (contact?.surname || '')
                  ).trim()
                "
                [imageSrc]="contact?.avatar"
                color="#f27b9f"
                widthPx="40"
            ></app-avatar-icon>
            </td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>
              {{ "contacts.list.name" | translate }}
            </th>
            <td *matCellDef="let contact" mat-cell class="table-text-primary">
              <div
                class="table-text-primary contact-name"
                [title]="
                  contact.name + ' ' + contact.surname | lengthMoreThan: 30
                "
              >
                {{ contact.name }} {{ contact.surname }}
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="customer.name">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>
              {{ "contacts.list.company" | translate }}
            </th>
            <td
              *matCellDef="let contact"
              mat-cell
              [title]="contact.customer?.name | lengthMoreThan: 30"
              class="customer-cell"
            >
              <span
                [ngClass]="{'main-customer-name': !!contact.customer?.name}"
                (click)="$event.stopPropagation(); openCustomerPage(-2)">
                {{
                  contact.customer?.name == null
                    ? ("contacts.list.noCustomer" | translate)
                    : contact.customer?.name
                }}
              </span>
              <ul *ngIf="!collapsed && contact.linkedCustomers?.length">
                <li *ngFor="let customer of contact.linkedCustomers">
                  {{ customer?.name }}
                </li>
              </ul>
            </td>
          </ng-container>
          <ng-container matColumnDef="position">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>
              {{ "contacts.list.position" | translate }}
            </th>
            <td *matCellDef="let contact" mat-cell>
              <div [title]="contact?.position | lengthMoreThan: 30">
                {{ contact?.position }}
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="phone">
            <th *matHeaderCellDef mat-header-cell>
              {{ "contacts.list.phone" | translate }}
            </th>
            <td *matCellDef="let contact" mat-cell>
              {{ contact.phone | phone }}
            </td>
          </ng-container>
          <ng-container matColumnDef="email">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>
              {{ "contacts.list.email" | translate }}
            </th>
            <td
              *matCellDef="let contact"
              mat-cell
              class="table-text-link"
              [title]="contact.email | lengthMoreThan: 30"
            >
              {{ contact.email }}
            </td>
          </ng-container>
          <ng-container matColumnDef="owner">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>
              {{ "contacts.list.owner" | translate }}
            </th>
            <td
              *matCellDef="let contact"
              mat-cell
              [title]="userMap.get(contact.owner) | lengthMoreThan: 30"
            >
              {{ userMap.get(contact.owner) }}
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th *matHeaderCellDef mat-header-cell></th>
            <td *matCellDef="let contact" mat-cell class="actions">
              <app-icon
                *ngIf="'ContactListComponent.archive' | auth: 'w'"
                appTooltip="MORE"
                [matMenuTriggerFor]="menu"
                (click)="$event.stopPropagation()"
                svgIcon="close"
                size="16px"
                [hover]="false"
                class="cross"
              ></app-icon>
              <mat-menu #menu="matMenu" xPosition="before">
                <button
                  *ngIf="'ContactListComponent.archive' | auth: 'w'"
                  class="dropdown-select-item"
                  (click)="archiveContact(contact.id)"
                  mat-menu-item
                >
                  <app-icon
                    svgIcon="archive-yellow"
                    size="16px"
                    [hover]="false"
                  ></app-icon>
                  {{ "contacts.list.archive" | translate }}
                </button>
              </mat-menu>
              <app-icon
                svgIcon="trash"
                size="18px"
                (click)="tryDelete(contact.id)"
                [hover]="false"
              ></app-icon>
            </td>
          </ng-container>
          <tr
            *matHeaderRowDef="filteredColumns$ | async; sticky: true"
            mat-header-row
          ></tr>
          <tr
            *matRowDef="let rowData; columns: filteredColumns$ | async"
            mat-row
            class="clickable"
            (click)="goToContactDetails(rowData.id)"
          ></tr>
        </table>
      </div>
    </div>
    <div
      *ngIf="
        loadingFinished && contactsPage?.totalElements === 0;
        else pagination
      "
      class="no-customers"
    >
      <img src="assets/icons/empty-contact-list.svg" />
      <div class="mt-4 no-contacts-primary">
        {{ "contacts.list.noContacts" | translate }}
      </div>
      <div class="no-contacts-secondary">
        {{ "customer.list.add" | translate }}
        <app-icon
          svgIcon="add"
          class="px-1"
          (click)="addSlider.toggle()"
        ></app-icon>
        {{ "customer.list.orImportList" | translate }}
        <app-icon svgIcon="import" class="px-1"></app-icon>
      </div>
    </div>
    <ng-template #pagination>
      <app-paginator
        [length]="totalElements"
        (page)="changePagination($event)"
        style="width: 100%"
      ></app-paginator>
    </ng-template>
  </div>
</mat-card>

<app-slider
  #addSlider
  width="33vw"
  [title]="'contacts.form.addTitle' | translate"
  key="ContactsList.AddSlider"
  group="sharedCustomerForm"
>
  <app-contact-add (contactAdded)="handleContactAdded()"></app-contact-add>
</app-slider>

<app-slider
  #editSlider
  width="33vw"
  [title]="'contacts.form.editTitle' | translate"
  key="ContactsList.EditSlider"
  group="sharedCustomerForm"
>
  <app-contact-edit
    (contactEdited)="handleContactEdited()"
    [contact]="contact"
  ></app-contact-edit>
</app-slider>
