@import "~src/styles/colors";

.parent-div {
  position: fixed;
  width: 100%;
  height: 100%;
}

.content {
  background-color: #F1F2F4;
  flex: auto;
  position: relative;
  width: 0;
  font-size: 13px;
}

::ng-deep .mat-toolbar {
  background-color: white;
}

::ng-deep .mat-toolbar-multiple-rows {
  min-height: 88px !important;
  padding-top: 14px;
}

