@import "~src/styles/colors";
@import "~src/styles/table";

.button-container {
  display: flex;
  align-items: center;
  & > * {
    padding: 0 6px;
  }
  &::ng-deep.expanded {
    .icon {
      fill: $primary !important;
    }
  }
}

.close-menu {
  padding: 0 4px;
  button {
    height: 32px;
    line-height: 32px;
    padding: 0 8px;
    border-radius: 4px;
    text-align: center;
    font-size: 13px;
  }
  .win-color {
    color: $green-color;
  }
  .lose-color {
    color: $confirm-color;
  }
}

.loading-shade {
  position: absolute;
  width: 100%;
  min-height: 64px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 101;
  background: radial-gradient(rgba($bg-primary-rgb, 0.6) 50%, transparent 100%);
}

.no-scroll {
  overflow: hidden !important;
}

.flex-table-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  .flex-table-content {
    position: relative;
    overflow: hidden;
    flex: 1;
    width: 100%;
    .scroll-table {
      overflow: auto;
      height: 100%;
      width: 100%;
    }
  }
}

.opportunity-list-icon-button {
  padding-bottom: 2.25px !important;
}

.kanban {
  width: 100%;
  margin-left: -8px;
}

.priority-column {
  
  display: flex;
  align-items: center;
  .priority-marker {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $text-primary;
    margin-right: 4px;
    &.low-color {
      background-color: $priority-low;
    }
    &.medium-color {
      background-color: $priority-medium;
    }
    &.high-color {
      background-color: $priority-high;
    }
  }
}
