<mat-card class="mat-elevation-z8 fill-screen table-container">
  <div class="table-header-container">
    <div>
      <span>
        <span class="table-header-primary">
          {{ "opportunity.list.title" | translate }}
        </span>
        <span class="table-header-note">
          ({{ opportunityPage?.totalElements }})
        </span>
      </span>
      <span class="ml-5">
        <span class="filter-by-text">
          {{ "opportunity.list.filterBy.filter" | translate }}:
        </span>
        <span class="filter-by-value ml-2">
          {{ "opportunity.list.filterBy." + selectedFilter | translate }}
        </span>
        <app-icon
          [matMenuTriggerFor]="filterBy"
          [hover]="false"
          svgIcon="expand-more">
        </app-icon>
        <mat-menu #filterBy="matMenu" xPosition="before">
          <div class="dropdown-select-title">
            {{ "opportunity.list.filterBy.showOnly" | translate }}
          </div>
          <button
            (click)="filter(filterSelection.OPENED)"
            [class.active]="isSelected(filterSelection.OPENED)"
            class="dropdown-select-item"
            mat-menu-item>
            {{ "opportunity.list.filterBy.opened" | translate }}
          </button>
          <button
            (click)="filter(filterSelection.CREATED_TODAY)"
            [class.active]="isSelected(filterSelection.CREATED_TODAY)"
            class="dropdown-select-item"
            mat-menu-item>
            {{ "opportunity.list.filterBy.createdToday" | translate }}
          </button>
          <button
            (click)="filter(filterSelection.VIEWED_LASTLY)"
            [class.active]="isSelected(filterSelection.VIEWED_LASTLY)"
            class="dropdown-select-item"
            mat-menu-item>
            {{ "opportunity.list.filterBy.viewedLastly" | translate }}
          </button>
          <button
            (click)="filter(filterSelection.EDITED_LASTLY)"
            [class.active]="isSelected(filterSelection.EDITED_LASTLY)"
            class="dropdown-select-item"
            mat-menu-item>
            {{ "opportunity.list.filterBy.editedLastly" | translate }}
          </button>
          <button
            (click)="filter(filterSelection.FOR_APPROVING)"
            [class.active]="isSelected(filterSelection.FOR_APPROVING)"
            class="dropdown-select-item"
            mat-menu-item>
            {{ "opportunity.list.filterBy.forApproving" | translate }}
          </button>
          <button
            (click)="filter(filterSelection.FINISHED_SUCCESS)"
            [class.active]="isSelected(filterSelection.FINISHED_SUCCESS)"
            class="dropdown-select-item"
            mat-menu-item>
            {{ "opportunity.list.filterBy.finishedSuccess" | translate }}
          </button>

          <button
            (click)="filter(filterSelection.FINISHED_ERROR)"
            [class.active]="isSelected(filterSelection.FINISHED_ERROR)"
            class="dropdown-select-item"
            mat-menu-item>
            {{ "opportunity.list.filterBy.finishedError" | translate }}
          </button>

          <button
            (click)="filter(filterSelection.ALL)"
            [class.active]="isSelected(filterSelection.ALL)"
            class="dropdown-select-item"
            mat-menu-item>
            {{ "leads.list.filterBy.all" | translate }}
          </button>
        </mat-menu>
      </span>
    </div>
    <div class="button-container">
      <app-opportunity-search
        [viewType]="viewType">
      </app-opportunity-search>
      <app-icon
        class="opportunity-list-icon-button"
        *ngIf="'OpportunityCreateComponent.save' | auth: 'w'"
        svgIcon="add"
        appTooltip="ADD"
        (click)="open()">
      </app-icon>
      <app-icon
        class="opportunity-list-icon-button"
        svgIcon="collapse"
        appTooltip="REDUCE_SPACE"
        (click)="collapse()"
        [class.expanded]="!expanded && !kanbanVisible">
      </app-icon>
      <app-icon
        class="opportunity-list-icon-button"
        svgIcon="expand"
        appTooltip="INCREASE_SPACE"
        (click)="expand()"
        [class.expanded]="expanded && !kanbanVisible">
      </app-icon>

      <app-icon
        class="opportunity-list-icon-button"
        svgIcon="block-list"
        appTooltip="KANBAN"
        (click)="showCanban()"
        [class.expanded]="kanbanVisible">
      </app-icon>
      <app-icon
        *ngIf="!!selectedOpportunities.length"
        [matMenuTriggerFor]="closeMenu"
        class="opportunity-list-icon-button"
        svgIcon="close">
      </app-icon>
      <app-icon
        *ngIf=" !!selectedOpportunities.length && ('OpportunityShared.delete' | auth: 'w')"
        class="opportunity-list-icon-button"
        appTooltip="DELETE"
        (click)="tryDeleteSelectedOpportunities()"
        svgIcon="trash"
        size="22px">
      </app-icon>
    </div>
  </div>
  <div class="row overflow-y with-title flex-table-container">
    <ng-container *ngIf="!kanbanVisible">
      <div class="flex-table-content" [class.no-scroll]="!loadingFinished">
        <div class="loading-shade" *ngIf="!loadingFinished">
          <mat-spinner></mat-spinner>
        </div>
        <div class="scroll-table">
          <table
            [dataSource]="opportunityPage?.content"
            class="col-md-12"
            mat-table
            matSort
            (matSortChange)="onSortChange($event)"
            [ngClass]="{ 'row-collapsed': !expanded, 'row-expanded': expanded }">
            <ng-container matColumnDef="selectRow">
              <th *matHeaderCellDef mat-header-cell></th>
              <td
                *matCellDef="let opportunity"
                class="checkbox-column-width"
                mat-cell
                (click)="$event.stopPropagation()">
                <mat-checkbox
                  (click)="$event.stopPropagation()"
                  (change)="toggleOpportunity($event, opportunity)"
                  class="crm-checkbox"
                  color="primary">
                </mat-checkbox>
              </td>
            </ng-container>
            <ng-container matColumnDef="avatar">
              <th *matHeaderCellDef mat-header-cell></th>
              <td
                *matCellDef="let opportunity"
                mat-cell
                class="avatar-column-width">
                <app-avatar-icon
                  [text]="opportunity.name?.trim()"
                  [imageSrc]="opportunity?.avatar"
                  color="#f27b9f"
                  widthPx="40">
                </app-avatar-icon>
              </td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>
                {{ "opportunity.list.name" | translate }}
              </th>
              <td *matCellDef="let opportunity" mat-cell>
                <div
                  class="table-text-primary"
                  [title]="opportunity.name | lengthMoreThan: 30">
                  {{ opportunity.name }}
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="external">
              <th *matHeaderCellDef mat-header-cell></th>
              <td
                *matCellDef="let opportunity"
                class="external-column-width"
                mat-cell>
                <app-icon
                  svgIcon="external"
                  size="18px"
                  (click)=" $event.stopPropagation(); goToOpportunityDetailsNewTab(opportunity.id)"
                  [primary]="true">
                </app-icon>
              </td>
            </ng-container>
            <ng-container matColumnDef="customer.name">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>
                {{ "opportunity.list.company" | translate }}
              </th>
              <td
                *matCellDef="let opportunity"
                mat-cell
                [title]="opportunity.customerName | lengthMoreThan: 30">
                {{ opportunity.customerName }}
              </td>
            </ng-container>
            <ng-container matColumnDef="createDate">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>
                {{ "opportunity.list.createDate" | translate }}
              </th>
              <td *matCellDef="let opportunity" mat-cell>
                <div>
                  {{  opportunity.createDate | formatDate }}
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="finishDate">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>
                {{ "opportunity.list.closingDate" | translate }}
              </th>
              <td *matCellDef="let opportunity" mat-cell>
                <div>
                  {{ opportunity.finishDate | formatDate }}
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="amount">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>
                {{ "opportunity.list.amount" | translate }}
              </th>
              <td *matCellDef="let opportunity" mat-cell>
                <div>{{ opportunity.amount | formatNumber }}</div>
              </td>
            </ng-container>
            <ng-container matColumnDef="currency">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>
                {{ "opportunity.list.currency" | translate }}
              </th>
              <td *matCellDef="let opportunity" mat-cell>
                <div>{{ opportunity.currency }}</div>
              </td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th *matHeaderCellDef mat-header-cell>
                {{ "opportunity.list.status" | translate }}
              </th>
              <td *matCellDef="let opportunity" mat-cell>
                <mat-progress-bar
                  [value]="getOpportunityProgress(opportunity)"
                  class="progress-bar-element"
                  mode="determinate">
                </mat-progress-bar>
                <span class="progress-bar-text">
                  {{ "opportunity.list.stage" | translate }}
                  {{ opportunity.status }}
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="process">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>
                {{ "opportunity.list.process" | translate }}
              </th>
              <td
                *matCellDef="let opportunity"
                mat-cell
                [title]="opportunity?.processInstanceName | lengthMoreThan: 30">
                {{ opportunity?.processInstanceName }}
                <span *ngIf="opportunity?.processInstanceVersion !== 1">
                  ({{ "leads.form.processVersion" | translate }}
                  {{ opportunity?.processInstanceVersion }})
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="priority">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>
                {{ "opportunity.list.priority" | translate }}
              </th>
              <td *matCellDef="let opportunity" mat-cell>
                <div class="priority-column" *ngIf="opportunity?.priority">
                  <span [class]=" 'priority-marker ' + opportunity.priority?.toLowerCase() + '-color' ">
                  </span>
                  <span>
                    {{ "opportunity.form.priorities." + opportunity.priority?.toLowerCase() | translate }}
                  </span>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="keeper">
              <th *matHeaderCellDef mat-header-cell>
                {{ "opportunity.list.opportunityKeeper" | translate }}
              </th>
              <td
                *matCellDef="let opportunity"
                mat-cell
                [title]="getOwnerNames(opportunity) | lengthMoreThan: 30">
                {{ getOwnerNames(opportunity) }}
              </td>
            </ng-container>
            <ng-container matColumnDef="actions">
              <th *matHeaderCellDef mat-header-cell></th>
              <td *matCellDef="let opportunity" mat-cell>
                <app-opportunity-list-actions
                  [opportunity]="opportunity"
                  [removeOpportunity]="tryDeleteOpportunity.bind(this)"
                  [copyOpportunity]="tryCopyOpportunity.bind(this)"
                  [closeOpportunity]="tryCloseOpportunity.bind(this)"
                  [goToTask]="goToTask.bind(this)"
                  [acceptanceUser]=" this.userMap?.get(opportunity.acceptanceUserId) ">
                </app-opportunity-list-actions>
              </td>
            </ng-container>
            <tr
              *matHeaderRowDef="filteredColumns$ | async; sticky: true"
              mat-header-row>
            </tr>
            <tr
              *matRowDef="let myRowData; columns: filteredColumns$ | async"
              mat-row
              class="clickable"
              (click)="goToOpportunityDetails(myRowData.id)">
            </tr>
          </table>
        </div>
      </div>

      <div
        *ngIf=" loadingFinished && !opportunityPage?.content?.length; else pagination "
        class="center">
        <div class="center-horizontally">
          <img src="assets/icons/face-sad.svg" />
          <div class="mt-4 empty-list-text-primary">
            {{ "opportunity.list.empty" | translate }}
          </div>
          <div class="empty-list-text-secondary center">
            {{ "opportunity.list.add" | translate }}
            <app-icon
              svgIcon="add"
              *ngIf="'OpportunityCreateComponent.save' | auth: 'w'"
              (click)="addSlider.open()"
              class="px-1" >
            </app-icon>
            {{ "opportunity.list.orImportList" | translate }}
            <app-icon svgIcon="import" class="px-1"></app-icon>
          </div>
        </div>
      </div>
      <ng-template #pagination>
        <app-paginator
          [length]="totalElements"
          (page)="changePagination($event)"
          style="width: 100%">
        </app-paginator>
      </ng-template>
    </ng-container>
    <ng-container *ngIf="kanbanVisible">
      <app-opportunity-kanban [selectedFilter]="selectedFilter" class="kanban"></app-opportunity-kanban>
    </ng-container>
  </div>
</mat-card>

<mat-menu #closeMenu="matMenu">
  <div class="close-menu">
    <button
      mat-menu-item
      class="win-color"
      (click)="tryCloseOpportunities(finishTypes.SUCCESS)">
      <span>
        {{ "opportunity.form.dialog.close.win" | translate | titlecase }}
      </span>
    </button>
    <button
      mat-menu-item
      class="lose-color"
      (click)="tryCloseOpportunities(finishTypes.ERROR)">
      <span>
        {{ "opportunity.form.dialog.close.lose" | translate | titlecase }}
      </span>
    </button>
  </div>
</mat-menu>

<app-slider
  #addSlider
  [title]="'opportunity.list.addTitle' | translate"
  key="OpportunityList.AddSlider"
  width="65vw">
  <app-opportunity-add
    [initOpportunityDefaultValues]="initOpportunityDefaultValues"
    (opportunityAdded)="handleOpportunityAdded()">
  </app-opportunity-add>
</app-slider>
