@import "~angular-calendar/scss/angular-calendar.scss";
@import "~src/styles/colors";

// Call the calendar mixin with a sass color map of your theme. Every property is optional.
// For a list of all variables and how they are used,
// see https://github.com/mattlewis92/angular-calendar/tree/master/projects/angular-calendar/src/variables.scss
@include cal-theme(
  (
    bg-primary: $bg-primary,
    bg-secondary: $bg-tertiary,
    border-color: $border-primary,
    event-color-primary: $primary,
    gray: $bg-tertiary,
    today-bg: $calendar-today,
    weekend-color: $calendar-weekend,
  )
);

// How to override a non themable property, this was copied from chrome -> inspect element -> styles panel
.cal-month-view .cal-day-cell.cal-out-month .cal-day-number {
  opacity: 0.15;
}

.card {
  border-color: $border-primary;
}

.card-header {
  background-color: $bg-tertiary;
}

.card-body {
  background-color: $bg-primary;
}

.nav-tabs {
  border-bottom-color: $border-primary;
}

.nav-tabs .nav-link.active {
  background-color: $bg-primary;
  color: $text-primary;
  border-color: $border-primary;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  border-color: $border-primary;
}

.cal-day-cell.cal-drag-over,
.cal-cell-row .cal-cell:hover,
.cal-cell.cal-has-events.cal-open,
.cal-hour-segment:hover,
.cal-drag-over .cal-hour-segment {
  background-color: $bg-secondary !important;
}

.cal-time-events .cal-day-columns {
  &:not(.cal-resize-active) {
    .cal-hour-segment:hover {
      background-color: $bg-secondary !important;
    }
  }
}
