//color
$primary: var(--primary);
$primary-rgb: var(--primary-rgb);
$contrast: var(--contrast);
$contrast-rgb: var(--contrast-rgb);
$primary-contrast: var(--primary-contrast);
$primary-contrast-rgb: var(--primary-contrast-rgb);
$action-color: var(--action-color);

//bg
$bg-primary: var(--bg-primary);
$bg-primary-rgb: var(--bg-primary-rgb);
$bg-secondary: var(--bg-secondary);
$bg-tertiary: var(--bg-tertiary);
$bg-header: var(--bg-header);
$bg-header-rgb: var(--bg-header-rgb);

//text
$text-primary: var(--text-primary);
$text-secondary: var(--text-secondary);
$text-tertiary: var(--text-tertiary);
$text-title: var(--text-title);
$text-title-rgb: var(--text-title-rgb);
$text-link: var(--text-link);

//border

$border-primary: var(--border-primary);
$border-secondary: var(--border-secondary);
$border-tertiary: var(--border-tertiary);
$border-quaternary: var(--border-quaternary);
$border-color-rgb: var(--border-color-rgb);

//shadow
$shadow-color-rgb: var(--shadow-color-rgb);
//navbar
$bg-navbar: var(--bg-navbar);
$bg-navbar-main: var(--bg-navbar-main);
$bg-navbar-active: var(--bg-navbar-active);
$color-navbar: var(--color-navbar);
$color-navbar-active: var(--color-navbar-active);

//tasks
$task-header: var(--task-header);
$task-blue: var(--task-blue);
$task-brown: var(--task-brown);
$task-green: var(--task-green);
$task-pink: var(--task-pink);
$task-purple: var(--task-purple);
$task-yellow: var(--task-yellow);
$task-turquoise: var(--task-turquoise);
$task-red: var(--task-red);

//calendar
$meeting-color: var(--meeting-color);
$mail-color: var(--mail-color);
$task-color: var(--task-color);
$phone-color: var(--phone-color);
$calendar-color: var(--calendar-color);
$event-title: var(--event-title);
$calendar-today: var(--calendar-today);
$calendar-weekend: var(--calendar-weekend);

//notification
$bg-notification-color: var(--bg-notification-color);
$notification-success: var(--notification-success);
$notification-error: var(--notification-error);
$notification-color-rgb: var(--notification-color-rgb);

$notification-border-color: var(--notification-border-color);
$notification-title-color: var(--notification-title-color);
$notification-content-color: var(--notification-content-color);
$notification-date-color: var(--notification-date-color);

//other
$input-color: var(--input-color);
$row-hover-color: var(--row-hover-color);
$scrollbar-thumb: var(--scrollbar-thumb);
$green-color: var(--green-color);
$red-color: var(--red-color);
$ping-color: var(--ping-color);
$error-color: var(--error-color);
$confirm-color: var(--confirm-color);
$yellow-bg: var(--yellow-bg);
$yellow-border: var(--yellow-border);
$yellow-lighten: var(--yellow-lighten);
$yellow-acceptance: var(--yellow-acceptance);
$yellow-refresh: var(--yellow-refresh);
$yellow-exceed: var(--yellow-exceed);
$priority-low: var(--priority-low);
$priority-medium: var(--priority-medium);
$priority-high: var(--priority-high);


