@import "~src/styles/colors";

.btn-transparent {
  background: transparent;
  border: none !important;
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}

.non-clickable {
  cursor: context-menu;
}

.center {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.center-horizontally {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.file-preview-container {
  max-width: 100vw !important;
  transition: width 0.5s ease-in-out;
}

.file-preview-container-with-slider {
  width: 70vw !important;
}

.file-preview-container-without-slider {
  width: 100vw !important;
}

.file-preview-container .mat-dialog-container {
  background: transparent;
  padding: 0;
  border-radius: 0;
}

.delete-dialog-container .mat-dialog-container {
  padding: 0;
  overflow: hidden;
}

.confirm-dialog-container .mat-dialog-container {
  padding: 0;
  overflow: hidden;
  border-radius: 8px;
}

.select-item-dialog-container .mat-dialog-container {
  padding: 0;
  overflow: hidden;
}

.mail-select-file-dialog-container .mat-dialog-container {
  padding: 0;
  overflow: hidden;
}

.crm-checkbox .mat-checkbox-layout {
  margin: 0;
}

.text-trim {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.crm-card {
  border-radius: 8px;
  background: $bg-primary;
  box-shadow: none !important;
  border: 1px solid $border-secondary;
  height: 100%;
  padding: 16px;
}
