@import '~src/styles/colors';
@import "~src/styles/font-weights";

::ng-deep .crm-extension-panel > .mat-expansion-panel-content > .mat-expansion-panel-body {
  padding: 0;
}

.crm-extension-panel > mat-expansion-panel-header {
  padding-left: 0;
  background: $bg-primary !important;
}

.crm-extension-panel {
  box-shadow: none !important;
  margin: 0;
}

.crm-extension-panel mat-panel-title {
  font: $Medium 13px/20px Poppins;
  letter-spacing: 1.56px;
  color: $primary;
  text-transform: uppercase;
}

.crm-extension-panel mat-expansion-panel-header {
  position: relative;
}


::ng-deep .crm-extension-panel mat-expansion-panel-header .mat-content {
  flex: none;
}
