@import '~src/styles/colors';
@import "~src/styles/font-weights.scss";


.drop-zone {
  border: dashed 3px rgba($primary-rgb, .3);
  border-radius: 8px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.file-over-drop-zone {
  border-color: $primary !important;
}

.drop-zone-text {
  font-weight: $SemiBold;
  font-size: 12px;
  color: $primary;
}

tr.mat-footer-row, tr.mat-row {
  height: 48px;
}

//td.mat-cell {
//  border-bottom-style: none;
//}

.table-container {
  overflow: hidden;
}

.select-column-width {
  width: 60px;
}

.avatar-column-width {
  width: 40px;
}

.btn-select-file {
  width: 140px;
  height: 32px;
  border-radius: 5px;
  color:  $primary-contrast;
  background-color: $primary;
  font-size: 13px;
  font-weight: $Medium;
  text-align: center;
}


//th {
//  border: none !important;
//}
//
//th:after{
//  content:'';
//  position:absolute;
//  left: 0;
//  bottom: 1px;
//  width:100%;
//  border-bottom: 1px solid rgba(0,0,0,0.12);
//}

.file-upload-progress {
  width: 80%;
  height: 10px !important;
}

::ng-deep .file-upload-progress .mat-progress-bar-buffer {
  background-color: rgb(217, 238, 253);
}
