@font-face {
  font-family: Poppins;
  src: url('/assets/fonts/Poppins-Light.ttf');
  font-weight: 300;
}


@font-face {
  font-family: Poppins;
  src: url('/assets/fonts/Poppins-Medium.ttf');
  font-weight: 400;
}


@font-face {
  font-family: Poppins;
  src: url('/assets/fonts/Poppins-Regular.ttf');
  font-weight: 500;
}


@font-face {
  font-family: Poppins;
  src: url('/assets/fonts/Poppins-SemiBold.ttf');
  font-weight: 600;
}
