@import "~src/styles/colors.scss";
@import "~src/styles/font-weights";


::ng-deep {
  .mat-form-field-type-mat-select .mat-form-field-label-wrapper::after {
    content: url("~src/assets/icons/common/colors/dark/down-arrow-dark.svg");
  }
}

::ng-deep[theme="dark"] {
  .mat-form-field-type-mat-select .mat-form-field-label-wrapper::after {
    content: url("~src/assets/icons/common/colors/light/down-arrow-light.svg");
  }
}

::ng-deep .time-picker .mat-form-field-label-wrapper::after {
  content: url("~src/assets/icons/common/colors/dark/clock-dark.svg") !important;
}

::ng-deep[theme="dark"] .time-picker .mat-form-field-label-wrapper::after {
  content: url("~src/assets/icons/common/colors/light/clock-light.svg") !important;
}

::ng-deep.mat-form-field-underline {
  background-color: $input-color !important;
}

::ng-deep.mat-form-field-appearance-legacy.mat-form-field-disabled {
  .mat-form-field-underline {
    background-color: transparent !important;
  }
}

.mat-form-field-empty.mat-form-field-label {
  color: $text-secondary !important;
  font-weight: $Medium !important;
  font-size: 13px;
}

::ng-deep .mat-input-element {
  color: $text-title !important;
  font-weight: $Medium !important;
  line-height: 1.4 !important;
  font-size: 13px;
}

::ng-deep .mat-error {
  font-size: 10px !important;
  color: $error-color !important;
  font-weight: $Medium !important;
}

::ng-deep .mat-select-value-text {
  color: $text-title;
  font-weight: $Medium;
  font-size: 13px;
}

::ng-deep .dropdown-w-100 {
  margin-right: -16px !important;
  max-width: none !important;
  margin-top: 2em;
  min-width: 100% !important;
}

::ng-deep .dropdown-w-100 mat-option.mat-active {
  color: $text-title !important;
}

::ng-deep .dropdown-w-100 mat-option:not(.mat-active) {
  color: $action-color !important;
}

::ng-deep .dropdown-w-100 mat-option {
  font-size: 13px !important;
  font-weight: $Medium !important;
  height: 39px !important;
}

.text-area {
  background-color: $bg-primary;
  border-color: $border-secondary;
  box-shadow: none;
  resize: none;

  color: $text-title;
  font-size: 13px;
  font-weight: $Medium;
  letter-spacing: 0;
  line-height: 28px;
}

.active-note-text {
  color: $text-title;
  font-size: 13px;
  font-weight: $Medium;
  letter-spacing: 0;
  line-height: 24px;
}

.text-area:focus {
  background-color: $bg-primary;
  border-color: $border-primary;
  color: $text-title;
}

.text-area:disabled {
  background-color: $bg-primary;
}

.notes-header {
  text-align: left;
  font: $Medium 12px/18px Poppins;
  letter-spacing: 0;
  color: $action-color;
  opacity: 1;
}

::ng-deep .mat-form-field-type-mat-select .mat-form-field-label-wrapper::after {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 0;
  cursor: pointer;
}


::ng-deep .mat-form-field-type-mat-select .mat-select-arrow {
  visibility: hidden;
}

::ng-deep .mat-form-field-type-mat-select .mat-form-field-infix {
  margin-left: 0;
  margin-top: 0;
}

::ng-deep .time-picker .mat-form-field-label-wrapper::after {
  margin-top: 0px;
}

.text-area-field:focus {
  background-color: $bg-primary;
  border-color: $border-primary;
  color: $text-title;
}

.text-area-field {
  background-color: $bg-primary;
  border-color: $border-secondary;
}

::ng-deep.text-area-field-mat-input .text-area-field:focus {
  background-color: $bg-primary;
  border-color: $border-primary;
  color: $text-title;
}

::ng-deep.text-area-field-mat-input .mat-form-field-underline {
  display: none;
}

::ng-deep.text-area-field-mat-input .mat-form-field-wrapper {
  padding-bottom: 8px;
}

::ng-deep.text-area-field-mat-input .mat-form-field-label {
  margin-top: 7px;
  margin-left: 7px;
}

::ng-deep.text-area-field-mat-input .text-area-field {
  background-color: $bg-primary;
  border: 1px solid $border-primary;
  padding: 5px;
}

textarea.form-control {
  font-size: 13px;
  background-color: $bg-primary;
  border: 1px solid $border-primary;
  color: $text-primary;
}

.inline {
  display: flex;
  justify-content: space-between;
}

.places-select {
  visibility: hidden;
  height: 0;
  display: block;
}

::ng-deep input[mask="separator.2"] {
  text-align: right !important;
}
