.button-icon {
  cursor: pointer;
  border: none;
  width: 40px;
  height: 30px;
}

.add-icon {
  @extend .button-icon;
  background: url('~src/assets/icons/add.svg') no-repeat center;
}

.add-icon:hover {
  background: url('~src/assets/icons/add-active.svg') no-repeat center;
}

.import-icon {
  @extend .button-icon;
  background: url('~src/assets/icons/import.svg') no-repeat center;
}

.import-icon:hover {
  @extend .import-icon;
  background: url('~src/assets/icons/import-active.svg') no-repeat center;
}

.import-icon-active {
  @extend .button-icon;
  background: url('~src/assets/icons/import-active.svg') no-repeat center;
}

.export-icon {
  @extend .button-icon;
  background: url('~src/assets/icons/export.svg') no-repeat center;
}

.export-icon:hover {
  background: url('~src/assets/icons/export-active.svg') no-repeat center;
}

.external-icon {
  @extend .button-icon;
  background: url('~src/assets/icons/external-dark.svg') no-repeat center;
}

.external-icon:hover {
  background: url('~src/assets/icons/external-blue.svg') no-repeat center;
}

.internal-icon {
  @extend .button-icon;
  background: url('~src/assets/icons/internal-dark.svg') no-repeat center;
}

.internal-icon:hover {
  background: url('~src/assets/icons/internal-blue.svg') no-repeat center;
}

.trash-icon {
  @extend .button-icon;
  background: url('~src/assets/icons/trash_icon.svg') no-repeat center;
}

.trash-icon:hover {
  background: url('~src/assets/icons/trash_icon-blue.svg') no-repeat center;
}

.collapse-icon {
  @extend .button-icon;
  background: url('~src/assets/icons/collapse.svg') no-repeat center;
}

.collapse-icon-active {
  @extend .button-icon;
  background: url('~src/assets/icons/collapse-active.svg') no-repeat center;
}

.collapse-icon:hover {
  @extend .collapse-icon-active
}

.expand-icon {
  @extend .button-icon;
  background: url('~src/assets/icons/expand.svg') no-repeat center;
}

.expand-icon-active {
  @extend .button-icon;
  background: url('~src/assets/icons/expand-active.svg') no-repeat center;
}

.expand-icon:hover {
  @extend .expand-icon-active
}

.dots-icon {
  @extend .button-icon;
  background: url('~src/assets/icons/option_dots.svg') no-repeat center;
}

.dots-icon:hover {
  background: url('~src/assets/icons/option_dots-active.svg') no-repeat center;
}

.close-icon {
  @extend .button-icon;
  background: url('~src/assets/icons/crossicon.svg') no-repeat center;
}

.close-icon:hover {
  background: url('~src/assets/icons/crossicon.svg') no-repeat center;
}

.block-list-icon {
  @extend .button-icon;
  background: url('~src/assets/icons/block-list.svg') no-repeat center;
}

.block-list-icon-active {
  @extend .button-icon;
  background: url('~src/assets/icons/block-list-active.svg') no-repeat center;
}

.block-list-icon:hover {
  @extend .block-list-icon-active;
}

.down-arrow-icon {
  @extend .button-icon;
  background: url('~src/assets/icons/icon_down_arrow.svg') no-repeat center;
}

.dots-icon-light {
  @extend .button-icon;
  background: url('~src/assets/icons/option_dots_gray.svg') no-repeat center;
}

.dots-icon-white {
  @extend .button-icon;
  background: url('~src/assets/icons/option_dots_white.svg') no-repeat center;
}

.light-bulb-white {
  @extend .button-icon;
  background: url('~src/assets/icons/light-bulb-white.svg') no-repeat center;
}

.light-bulb-yellow {
  @extend .button-icon;
  background: url('~src/assets/icons/light-bulb-yellow.svg') no-repeat center;
}
