@import "~src/styles/font-weights";


::ng-deep .preview-mode {

  .mat-expansion-panel-content {
    position: relative;
  }

  .panel-header .mat-content {
    flex: none;
  }

}

.preview-mode {

  .extension-panel {
    box-shadow: none;
    margin: 0;
  }

  .panel-header {
    position: relative;
  }


  .preview-header-text {
    color: $primary;
    font-size: 13px;
    font-weight: $Medium;
    letter-spacing: 1.56px;
    text-transform: uppercase;
  }

  .show-all {
    text-align: left;
    font: $Medium 10px Poppins;
    line-height: 16px;
    letter-spacing: 1.2px;
    color: $primary;
    text-transform: uppercase;
    opacity: 1;
    margin-top: 20px;
    cursor: pointer;
  }

  .change-tab-icon {
    position: absolute;
    right: 20px;
    cursor: pointer;
  }
}


.preview-empty-list {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;

  &-text {
    color: $action-color;
    font-size: 20px;
    font-weight: $Medium;
  }
}
