@import "font-weights";

.category-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-item > *:first-child {
  flex-grow: 1;
  padding-right: 20px;
}

.icon-size {
  width: 20px;
  height: 20px;
}

.alert-icon-size {
  width: 16px;
  height: 16px;
}


.icon-margin {
  margin-right: 6px;
}

.add-category-icon {
  margin-top: 10px;
}

.categories-header {
  text-align: left;
  font: $Medium 10px/16px Poppins;
  letter-spacing: 1.2px;
  color: $text-title;
  text-transform: uppercase;
  opacity: 1;
  margin-bottom: 20px;
}

.category-text {
  text-align: left;
  font: $Medium 13px/20px Poppins;
  letter-spacing: 0;
  color: $primary !important;
  opacity: 1
}

.subcategory-text {
  text-align: left;
  font: $Medium 13px/20px Poppins;
  letter-spacing: 0;
  color: $action-color;
  opacity: 1;
}

.new-category-input {
  margin-top: 15px;
  margin-right: 114px;
}

::ng-deep .product-category-input .mat-form-field-infix {
  border-top-width: 0;
  padding: 0;
}

::ng-deep .category-item .mat-form-field-underline {
  background: unset;
  background-image: unset !important;
  height: 0 !important;
}

.inline {
  display: flex;
  justify-content: space-between;
}
