@import "~src/styles/colors";

@import "~src/styles/font-weights";

$card-padding: 16px;
$card-radius: 8px;

.header {
  font-weight: $Regular;
  font-size: 24px;
  color: $text-primary;
  letter-spacing: 0;
  line-height: 36px;
  margin: 5px;

}

.main-mat-card {
  overflow-y: auto;
  height: calc(100% - 153px);
  margin-bottom: 1px;
}

.button-medium {
  width: 105px;
}

.button-container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: $bg-secondary;
  padding-left: $card-padding;
  padding-bottom: $card-padding;
  padding-right: $card-padding;
}

.card-padding {
  padding-top: $card-padding;
  padding-left: $card-padding !important;
  padding-right: $card-padding !important;
}

.card-border-radius {
  border-radius: 8px;
}

::ng-deep .fix-webkit {
  .mat-tab-body-wrapper {
    display: grid !important;
    overflow-y: auto;
  }

  .mat-tab-body-wrapper > .mat-tab-body {
    z-index: unset !important;
    position: relative !important;
    display: contents !important;
  }

  .mat-tab-body-wrapper > .mat-tab-body > .mat-tab-body-content {
    position: inherit !important;
    width: 100% !important;
    display: contents !important;
  }
}
