@import "~src/styles/font-weights";
@import "~angular-calendar/css/angular-calendar.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@angular/material/theming";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";
//@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

//themes
@import "~src/styles/themes/default";
@import "~src/styles/themes/professional";
@import "~src/styles/themes/dark";

@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';
@import "~src/styles/theme";
@import "~src/styles/common";
@import "~src/styles/form";
@import "~src/styles/colors";
@import "~src/styles/calendar";

::ng-deep .mat-row:hover {
  background-color: $row-hover-color;
  cursor: pointer;
}

.search-highlight {
  background-color: $primary;
  color: $primary-contrast;
  border-radius: 4px;
}

::ng-deep .dx-loadindicator-icon .dx-loadindicator-segment {
  background: $bg-primary !important;
}

.centered-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 30%;
}

.contrast-color {
  color: $contrast
}

.centered-inner-container {
  background-color: rgba($bg-primary-rgb, 0.1);
  padding: 30px;
  margin: 0 auto;
}

.notification-success {
  background-color: $notification-success !important;
  color: rgba($notification-color-rgb, .7) !important;
  height: 70px;
  border-radius: 8px !important;
  max-width: 80vw !important;
  width: 80vw !important;
}

.notification-error {
  background-color: $notification-error !important;
  color: rgba($notification-color-rgb, .7) !important;
  max-width: 80vw !important;
  width: 80vw !important;
  height: 70px;
  border-radius: 8px !important;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $bg-secondary;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $scrollbar-thumb;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $scrollbar-thumb;
}

$custom-typography: mat-typography-config(
  $font-family: "Poppins" !important,
);
@include angular-material-typography($custom-typography);

body * {
  font-family: "Poppins", sans-serif;
}

::ng-deep.mat-raised-button {
  font-weight: $Regular;
  border-radius: 8px;
}

::ng-deep.mat-stroked-button {
  font-weight: $Regular;
  border-radius: 8px;
  border: 1px solid $primary !important;
}

.token-spinner {
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
}

.dropdown-select-item.active {
  font-weight: $Bold;
  background-color: $bg-tertiary;
}
.dropdown-select-title {
  font-weight: $Medium;
  color: $text-title;
  font-size: 10px;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid $border-tertiary;
}
.dropdown-select-item {
  font-weight: $Regular;
  font-size: 13px;
  height: 40px !important;
  padding: 0 10px !important;
  line-height: 40px !important;
}

button:focus,
button:active:focus,
button.active:focus {
  outline: none !important;
  outline-style: none !important;
}
//
//.mat-form-field-underline {
//  background-color: rgba(0,0,0,.42);
//}

.no-top-right-border-radius {
  border-top-right-radius: 0px !important;
}
.no-top-left-border-radius {
  border-top-left-radius: 0px !important;
}
.no-bottom-right-border-radius {
  border-bottom-right-radius: 0px !important;
}
.no-bottom-left-border-radius {
  border-bottom-left-radius: 0px !important;
}

.no-top-border-radius {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}
.no-bottom-border-radius {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
.no-left-border-radius {
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 0px !important;
}
.no-right-border-radius {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.no-border-radius {
  border-radius: 0px !important;
}

.cursor-pointer {
  cursor: pointer;
}

::ng-deep .no-box-shadow {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.mat-option {
  font-size: 13px !important;
  font-weight: $Medium;
}

.display-grid {
  display: grid;
}
