@import "~src/styles/colors";
@import "~src/styles/icons.scss";
@import "~src/styles/font-weights";

table {
  box-shadow: none !important;
}

.table-header-primary {
  font-weight: $Medium;
  font-size: 24px;
  color: $text-primary;
  letter-spacing: 0;
  line-height: 36px;
  height: 36px;
}

.table-header-note {
  font-weight: $Medium;
  font-size: 12px;
  color: $text-secondary;
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 6px;
}

.table-header-secondary {
  font-weight: $SemiBold;
  font-size: 13px;
  color: $action-color;
  letter-spacing: 0;
  line-height: 20px;
}
.table-bold-column {
  font-weight: $SemiBold;
  font-size: 13px;
}
.table-normal-column {
  font-weight: $Regular;
  font-size: 13px;
}
.table-header-filter-by-arrow-down {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.default-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.action-icon {
  width: 18px;
  height: 18px;
  margin-right: 12px;
  cursor: pointer;
}

.table-dropdown-text {
  font-weight: $SemiBold;
  font-size: 12px;
  color: $text-title;
  letter-spacing: 0;
  line-height: 20px;
}

.table-column-header {
  font-weight: $SemiBold;
  font-size: 12px;
  color: $text-secondary;
  letter-spacing: 0;
  line-height: 20px;
}

.table-text-primary {
  font-weight: $SemiBold;
  font-size: 13px;
  color: $text-primary;
  letter-spacing: 0;
  line-height: 24px;
}

.table-text-secondary {
  font-weight: $Regular;
  font-size: 12px;
  color: $text-secondary;
  letter-spacing: 0;
  line-height: 20px;
}

.table-text {
  font-weight: $Regular;
  font-size: 13px;
  color: $text-primary;
  letter-spacing: 0;
  line-height: 24px;
  padding-right: 16px !important;
}

.table-text-link {
  font-weight: $Regular;
  font-size: 13px;
  color: $text-link;
  letter-spacing: 0;
  line-height: 24px;
  cursor: pointer;
}
.table-text-link:hover {
  text-decoration: underline;
}

::ng-deep .mat-checkbox-frame {
  border-color: $border-primary;
}

th {
  @extend .table-column-header;
}

td {
  @extend .table-text;
}

td.no-padding-cell {
  padding-right: 0;
}

.table-header-container {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
}

.table-container {
  padding: 32px 32px;
}

.table-container .mat-cell,
.table-container .mat-cell .table-text-primary,
.table-container .mat-cell .table-text-secondary,
.table-container .mat-cell .table-text-link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 30ch;
}

.center {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 100%;
}

.progress-bar-text {
  position: relative;
  top: -11px;
  left: 33px;
  font-size: 11px;
  color: $primary-contrast;
  font-weight: $SemiBold;
}

.progress-bar-element {
  top: 10px;
  width: 100px !important;
}

.fill-screen {
  margin-top: 16px;
  margin-left: 16px;
  width: calc(100% - 32px);
  height: calc(100vh - 121px);
  position: absolute;
  box-shadow: 0 0 1px 0 rgba($shadow-color-rgb, 0.06),
    0 1px 1px 0 rgba($shadow-color-rgb, 0.1) !important;
  border-radius: 8px !important;
  color: $text-primary;
}

.overflow-y {
  overflow-y: auto;
}

.with-title {
  height: calc(100% - 31px) !important;
}

.image-container {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  transition: width 0.25s, height 0.25s ease-in;
  vertical-align: middle;
  margin-right: 6px;
  margin-left: 6px;
}

.mat-progress-bar {
  height: 1.3em !important;
  border-radius: 15px;
}

.sort-dropbox {
  margin-top: -20px;
  width: 100px;
}

.sticky-paginator {
  bottom: 0px;
  position: sticky;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background: $bg-primary;
}

.empty-list-text-primary {
  font-size: 20px;
  color: $action-color;
  font-weight: $Medium;
}

.empty-list-text-secondary {
  font-size: 13px;
  color: $text-secondary;
  font-weight: $Medium;
}

::ng-deep.mat-progress-bar-buffer {
  background-color: #c9cdd6;
}

tr.mat-footer-row,
tr.mat-row {
  height: 82px;
}

.avatar-column-width {
  width: 50px;

}

.icon-column-width {
  width: 50px;
}

.checkbox-column-width {
  width: 60px;

}

.mat-row:hover {
  background-color: rgba($primary-rgb, 0.1);
}

::ng-deep .crm-checkbox .mat-checkbox-layout {
  margin: 0;
}

.filter-by-text {
  font-weight: $Medium;
  font-size: 12px;
  color: $text-secondary;
  letter-spacing: 0;
  line-height: 18px;
}

.filter-by-value {
  font-weight: $Medium;
  font-size: 14px;
  color: $text-primary;
  letter-spacing: 0;
  line-height: 21px;
}

.row-collapsed .mat-row {
  height: 50px;
  transition: height ease-in-out 0.25s;
}

.mini-row .mat-row {
  height: 30px;
  transition: height ease-in-out 0.25s;
}

.row-expanded .mat-row {
  height: 80px;
  transition: height ease-in-out 0.25s;
}

.row-collapsed .mat-row .image-container {
  width: 32px;
  height: 32px;
}

.row-expanded .mat-row .image-container {
  width: 48px;
  height: 48px;
}
::ng-deep .currency-header-not-sort {
  text-align: right !important;
  padding-right: 38px !important;
}
::ng-deep .currency-header .mat-sort-header-container {
  justify-content: flex-end;
  margin-right: 20px;
}
::ng-deep .currency-value {
  text-align: right !important;
  padding-right: 38px !important;
}
