@import "~@angular/material/theming";
@import "~src/styles/colors";

$mat-primary: (
  50: $primary,
  100: $text-secondary,
  200: $primary,
  300: $primary,
  400: $primary,
  500: $primary,
  600: $primary,
  700: $primary,
  800: $primary,
  900: $primary,
  A100: $primary,
  A200: $primary,
  A400: $primary,
  A700: $primary,
  contrast: (
    50: $text-secondary,
    100: $text-secondary,
    200: $text-secondary,
    300: $text-secondary,
    400: $text-secondary,
    500: white,
    600: $text-secondary,
    700: $text-secondary,
    800: $text-secondary,
    900: $text-secondary,
    A100: $text-secondary,
    A200: $text-secondary,
    A400: $text-secondary,
    A700: $text-secondary,
  ),
);

::ng-deep .spinner-primary-contrast {
  width: 24px !important;
  height: 24px !important;
  margin-right: 12px !important;
  margin-left: 12px !important;
  display: inline-grid;
  svg {
    width: 24px !important;
    height: 24px !important;
    circle {
      stroke: $primary-contrast !important;
    }
  }
}

@include mat-core();

// Default colors
$default-primary: mat-palette($mat-primary);
$default-accent: mat-palette($mat-grey);
$default-warn: mat-palette($mat-red);

$default-theme: mat-light-theme(
  $default-primary,
  $default-accent,
  $default-warn
);
@include angular-material-theme($default-theme);

// Dark theme
$dark-primary: mat-palette($mat-primary);

$dark-theme: mat-dark-theme($dark-primary, $default-accent, $default-warn);

[theme="dark"] {
  @include angular-material-theme($dark-theme);
}
