<mat-card class="mat-elevation-z8 fill-screen table-container">
  <div class="row overflow-y with-title d-block">
    <div class="col-md-6">
      <app-goal-form #goalFormComponent [goal]="goal" [update]="true"></app-goal-form>
    </div>
    <div class="col-md-12 mt-3" *ngIf="assignedToMe && userGoal">
      <app-user-goal-row [userGoal]="userGoal" [isAmount]="goal | isAmountGoal"></app-user-goal-row>
    </div>
    <div class="col-md-12 mt-3">
      <app-goal-edit-user-list></app-goal-edit-user-list>
      <mat-error *ngIf="!userListIsValid && userListTouched" class="no-users">{{'goal.edit.noUsersError' | translate}}</mat-error>
      <mat-error *ngIf="!userListValuesIsValid && userListTouched" class="no-users">{{'goal.edit.intervalValuesError' | translate}}</mat-error>
    </div>
  </div>
</mat-card>

<div class="button-container">
  <mat-card class="mat-elevation-z0 card-border-radius no-top-border-radius">
    <div class="row">
      <div class="col-md-12">
        <div class="pull-right">
          <button (click)="cancel()" class="button-medium" color="primary"
                  mat-stroked-button>{{'goal.add.cancel' | translate}}</button>
          <button (click)="submit()" class="button-medium ml-2" color="primary"
                  mat-raised-button>{{'goal.add.save' | translate}}</button>
        </div>
      </div>
    </div>
  </mat-card>
</div>
