<div class="mail-configuration-title">{{'mail.configuration.title' | translate}}</div>

<div class="mail-configuration">
  <div class="configuration-list">
    <div class="child configuration-item" *ngFor="let configuration of mailConfigurations">
      <div class="email" [title]="configuration.username">{{configuration.username}}</div>
      <button class="email-action" mat-raised-button color="primary" (click)="editConfiguration(configuration.id)">{{"mail.configuration.edit" | translate}}</button>
      <button class="email-action" mat-stroked-button color="primary" (click)="removeMailConfiguration(configuration.id)">{{"mail.configuration.remove" | translate}}</button>
    </div>
  </div>
  <div class="button-container">
    <button mat-raised-button color="primary" (click)="connectToServerSlider.open()">
      {{"mail.configuration.connectToServer" | translate}}
    </button>
  </div>
</div>

<app-slider #connectToServerSlider width="30vw" [title]="'person.detail.info.mail.serverConfiguration' | translate"
            key="PersonInfo.ConnectToServerSlider">
  <app-mail-connector #mailConnectorComponent [slider]="connectToServerSlider"
                      (updateList)="getUserConfigurations()"
                      [id]="editedConfigurationId"></app-mail-connector>
</app-slider>

