@import "~src/styles/form";
@import "~src/styles/colors";
@import "~src/styles/font-weights";
@import "~src/styles/icons";

.mt-25px {
  margin-top: 25px !important;
}

.mail-configuration-title {
  font: $Medium 10px/16px Poppins;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-left: .5rem;
  margin-bottom: 5px;
}

.mail-configuration {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap-reverse;

  .configuration-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-basis: 70%;

    .child {
      min-width: 300px;
      flex-grow: 1;
      flex-basis: 50%;
      max-width: 50%;
    }
  }

  .button-container {
    flex-grow: 0;
    flex-basis: 30%;
    text-align: center;
    padding-top: .5rem;

    button {
      margin-bottom: .5rem;
    }
  }
}

.configuration-item {
  display: flex;
  padding: .5rem 3rem .5rem .5rem;

  .email {
    font-size: 13px;
    color: $primary;
    font-weight: $SemiBold;
    flex-grow: 1;
    line-height: 30px;
    overflow-x: hidden;
    width: calc(100% - 6rem);
  }
  .email-action {
    width: 6rem;
    height: 30px;
    line-height: 30px;
    margin-left: .5rem;
  }
}
