<div class="tasks">
  <div class="tasks-header">
    <div
      class="tasks-container fade-out"
      [class.fade-out-visible]="
        isScrollVisible(tasksContainer) && !scrollAtTheEnd
      "
    >
      <div
        #tasksContainer
        class="tasks-scroll"
        (scroll)="onScroll($event.target)"
      >
        <ng-container *ngFor="let task of opportunity.tasks; let i = index">
          <div
            *ngIf="i !== opportunity.tasks.length - 1"
            class="task-box"
            (click)="taskSelect(task)"
            [class.first-task-box]="i === 0"
            [class.done]="
              task.past ||
              (opportunity.finishResult &&
                (task.active ||
                  (task.past && i === opportunity.tasks.length - 2)))
            "
            [class.acceptation]="!!opportunity.acceptanceUserId"
            [class.pointer]="!task.isInformationTask"
            [class.active]="task.active"
            [class.future]="!task.active && !task.past"
            [class.error]="isTaskError(task)"
            [class.touched]="task.id === taskOnScreen.id"
            [class.with-documentation]="
              task.documentation && task.active && !opportunity.finishResult
            "
            [ngClass]="
              'task-color-' +
              bpmnUtil.getColorNameFromOpportunity(
                opportunity,
                task.active ||
                  (opportunity.finishResult &&
                    task.past &&
                    i === opportunity.tasks.length - 2)
              ) +
              (task.id === taskOnScreen.id ? '-touched' : '')
            "
            [ngStyle]="{ color: opportunity.textColor }"
            overlayTooltip
            [tooltipContent]="task.past ? tooltipAcceptedTask : tooltipTask"
            [tooltipPosition]="tooltipPosition"
            [tooltipDisabled]="!shouldShowReasonTooltip(opportunity, task, i)"
            [tooltipPayload]="task"
            taskTooltip
            [taskTooltipData]="createTaskTooltipData(task.documentation)"
            [taskTooltipShow]="
              task.documentation && task.active && !opportunity.finishResult
            "
          >
            <div class="task-box-content">
              <div class="percentage" *ngIf="!(task.percentage | isNil)">
                {{ task.percentage }}%
              </div>
              <div
                *ngIf="
                  ('OpportunityDetailsComponent.goBack' | auth: 'w') &&
                  i !== 0 &&
                  (i !== 1 || !opportunity.tasks[0].isInformationTask) &&
                  task.active &&
                  !opportunity.acceptanceUserId &&
                  !opportunity.finishResult
                "
              >
                <button
                  class="btn-go-previous btn-transparent"
                  (click)="tryGoBack()"
                >
                  <i class="fa fa-arrow-left"></i>
                </button>
              </div>

              <div class="task-text-margin">
                <span>
                  <div
                    class="task-name"
                    matTooltip="{{ task.name | uppercase }}"
                    matTooltipPosition="above"
                    *ngIf="
                      !(
                        opportunity.finishResult &&
                        (task.active ||
                          (task.past && i === opportunity.tasks.length - 2))
                      )
                    "
                    matTooltipClass="task-name-tooltip"
                    [matTooltipDisabled]="task.name.length <= 20"
                  >
                    {{ task.name | uppercase | limitToLength: 20 }}
                  </div>
                  <span
                    *ngIf="
                      opportunity.finishResult &&
                      (task.active ||
                        (task.past && i === opportunity.tasks.length - 2))
                    "
                  >
                    {{
                      "opportunity.details." +
                        (opportunity.finishResult === "SUCCESS"
                          ? "win"
                          : "lose")
                        | translate
                        | uppercase
                    }}</span
                  >
                </span>
              </div>
              <span class="task-check-icon"
                ><img
                  *ngIf="
                    task.past &&
                    !(
                      opportunity.finishResult &&
                      i === opportunity.tasks.length - 2
                    )
                  "
                  src="assets/icons/check.svg"
              /></span>
              <div
                *ngIf="task.documentation && task.active"
                class="light-bulb-container"
              >
                <div class="light-bulb light-bulb-white"></div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="end-line-buttons">
      <button
        mat-stroked-button
        class="convert-button createOffer"
        color="primary"
        (click)="createOfferSlider.open()"
        *ngIf="'OpportunityDetailsComponent.createOffer' | auth: 'i':true"
      >
        {{ "opportunity.details.createOffer" | translate }}
      </button>

      <button
        color="primary"
        mat-stroked-button
        class="convert-button completeTask"
        (click)="completeTask()"
        [disabled]="isTaskButtonDisabled()"
        *ngIf="
          ('OpportunityDetailsComponent.completeTask' | auth: 'w') &&
          !opportunity.finishResult
        "
      >
        {{ "opportunity.details.completeTask" | translate }}
      </button>

      <button
        *ngIf="!opportunity.finishResult"
        (click)="finishOpportunity()"
        color="primary"
        mat-stroked-button
        class="convert-button finishOpportunity"
      >
        {{ "opportunity.details.finishOpportunity" | translate }}
      </button>
    </div>
  </div>
</div>

<ng-template #tooltipTask let-user="user">
  <mat-card class="stage-tooltip mat-elevation-z4">
    <div *ngIf="opportunity.rejectionReason" class="text">
      <span class="rejection-reason-title">
        {{ "opportunity.details.rejectionReasonTitle" | translate | uppercase }}
      </span>
      <span class="rejection-reason-value">
        {{ getRejectionReasonTitle() | translate | uppercase }}
      </span>
    </div>
    <div *ngIf="opportunity.acceptanceUserId" class="text">
      <span class="acceptation-info-title">
        {{ "opportunity.details.acceptationInfoTitle" | translate | uppercase }}
      </span>
      <span class="acceptation-info-value">
        {{ userMap?.get(opportunity.acceptanceUserId) | uppercase }}
      </span>
    </div>
  </mat-card>
</ng-template>

<ng-template
  #tooltipAcceptedTask
  let-acceptanceUserId="acceptanceUserId"
  let-past="past"
>
  <mat-card class="stage-tooltip mat-elevation-z4">
    <div class="text">
      <span class="acceptation-info-title" [style.color]="opportunity?.bgColor">
        {{ "opportunity.details.acceptedInfoTitle" | translate | uppercase }}
      </span>
      <span class="acceptation-info-value">
        {{ userMap?.get(acceptanceUserId) | uppercase }}
      </span>
    </div>
  </mat-card>
</ng-template>

<app-slider
  #createOfferSlider
  [title]="'opportunity.details.createOffer' | translate"
  key="OpportunityDetails.CreateOffer"
  width="100vw"
>
  <app-offer-generator
    *ngIf="'OpportunityDetailsComponent.createOffer' | auth: 'i':true"
    [opportunityCurrency]="opportunity?.currency"
    [opportunityId]="opportunityId"
    [offerDescription]="opportunity?.description"
    [offerTitle]="opportunity?.name"
    [customerId]="opportunity?.customerId"
    [slider]="createOfferSlider"
  ></app-offer-generator>
</app-slider>
