@import "~src/styles/form";
@import "~src/styles/colors";
@import "~src/styles/font-weights";
@import "~src/styles/icons";

$created: #6a7589;
$success: #47dc92;
$lost: #ff696a;
$acceptance :#ffad0c;
$gray_disabled: #ced4da;

.tasks {
  background-color: $bg-header;
  margin-top: 2px;
  box-shadow: none;
  padding: 24px;
  padding-bottom: 16px;
  .tasks-header {
    display: flex;
    position: relative;
    .tasks-container {
      position: relative;
      flex: 1;
      overflow-x: hidden;
      .tasks-scroll {
        overflow-x: auto;
        white-space: nowrap;
        padding-bottom: 8px;
      }
    }
  }
}

.fade-out:after {
  opacity: 0;
  right: 0;
  position: absolute;
  bottom: 8px;
  height: 44px;
  margin: auto;
  width: 300px;
  top: 0;
  content: "";
  background: linear-gradient(
      to right,
      rgba($bg-header-rgb, 0) 20%,
      rgba($bg-header-rgb, 1) 100%
  );
  pointer-events: none;
  transition: opacity 0.5s linear;
}

.fade-out-visible:after {
  @extend .fade-out;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.task-box.first-task-box {
  margin-left: 0 !important;
}
.task-box {
  display: inline-block;
  position: relative;
  background-image: url("~src/assets/icons/bp_arrow/bp_arrow_blue.svg");
  background-repeat: no-repeat;
  width: 288px;
  height: 32px;
  margin-left: 19px;
}

.task-box.with-documentation {
  cursor: pointer;
}

.task-box.done {
  color: $primary-contrast;
}

.task-box.pointer {
  cursor: pointer;
}

.task-box.active {
  background-image: url("~src/assets/icons/bp_arrow/bp_arrow_dark.svg");
  color: $primary-contrast;
}

.task-box.error {
  background-image: url("~src/assets/icons/bp_arrow/bp_arrow_error.svg");
  color: $primary-contrast;
}

.task-box.error.touched {
  background-image: url("~src/assets/icons/bp_arrow/bp_arrow_error_touched.svg");
  color: $primary-contrast;
}
.task-box.acceptation {
  background-image: url("~src/assets/icons/bp_arrow/bp_arrow_yellow.svg");
  color: $primary-contrast;
}

.task-box.acceptation.touched {
  background-image: url("~src/assets/icons/bp_arrow/bp_arrow_yellow_touched.svg");
  color: $primary-contrast;
}

.task-box.future {
  background-image: url("~src/assets/icons/bp_arrow/bp_arrow_white.svg");
  color: #4e5d78 !important;
}

.task-box.future.touched {
  background-image: url("~src/assets/icons/bp_arrow/bp_arrow_white_touched.svg");
  color: #4e5d78 !important;
}

.task-box-content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: 30px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 10px;
  font-weight: $Medium;
  letter-spacing: 0.2em;
  width: 100%;
}

@each $color
in "blue"
"purple"
"yellow"
"pink"
"green"
"brown"
"turquoise"
"red"
{
  .done.task-color-#{$color} {
    background-image: url("~src/assets/icons/bp_arrow/bp_arrow_#{$color}.svg") !important;
  }
}

@each $color
in "blue"
"purple"
"yellow"
"pink"
"green"
"brown"
"turquoise"
"red"
{
  .done.task-color-#{$color}-touched {
    background-image: url("~src/assets/icons/bp_arrow/bp_arrow_#{$color}_touched.svg") !important;
  }
}

.complete-task-icon {
  width: 20px;
  margin-right: 5px;
}


.btn-go-previous {
  background-color: $bg-primary;
  border-radius: 100px;
  margin: 3px 0 0;
  padding: 0;
}

.btn-go-previous .fa {
  width: 16px;
  height: 16px;
  font-size: 8px;
  line-height: 16px;
  font-weight: normal;
}


.more-button {
  display: flex;
  justify-content: flex-end;
  right: 0;
  margin-left: 12px;
}

.more-button > .btn-transparent > span {
  font-size: 13px;
  font-weight: $Medium !important;
}


.percentage {
  color: #cfd3da;
  width: 40px;
  height: 11px;
  margin-top: -2px;
}


.task-text-margin {
  flex: 1;
  text-align: center;
  margin-left: 8px;
  overflow: hidden;
}


.task-name {
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


::ng-deep .task-name-tooltip {
  background: #fff !important;
  border-radius: 5px !important;
  box-shadow: 0 6px 12px #0a1e4440 !important;
  font: $Medium 10px/16px Poppins !important;
  letter-spacing: 1.2px !important;
  color: $text-title !important;
  padding: 8px 16px !important;
  width: auto !important;
  max-width: none !important;
  margin-bottom: 18px !important;
  overflow: visible !important;

  &:before {
    content: "";
    position: absolute;
    left: calc(50% - 10px);
    bottom: -10px;
    width: 0;
    height: 0;
    border-left: 21px solid transparent;
    border-right: 21px solid transparent;
    border-top: 10px solid #fff;
  }
}


.light-bulb-container {
  width: 16px;
  margin-left: 5px;
}


.light-bulb {
  position: relative;
  font-size: 18px;
  padding: 0;
  margin-top: 2px;
  width: 16px;
  height: 16px;
  background-size: contain;
}


.end-line-buttons {
  margin-left: 26px;
  display: flex;
  justify-content: flex-end;
  align-self: flex-start;

  .convert-button {
    height: 32px;
    line-height: 32px;
    margin-right: 8px;
    vertical-align: central;

    &.createOffer {
      border: 1px solid rgba($primary-rgb, 0.9);
      color: $primary;
      background-color: rgba($primary-rgb, 0.1);
    }

    &.finishOpportunity {
      border: 1px solid rgba($lost, 0.9);
      color: $lost;
      background-color: rgba($lost, 0.1);
    }

    &.completeTask {
      border: 1px solid rgba($success, 0.9);
      color: $success;
      background-color: rgba($success, 0.1);
    }

    &.completeTask:disabled{
      border: 1px solid rgba($gray_disabled, 0.9);
      color: $gray_disabled;
      background-color: rgba($gray_disabled, 0.1);
    }
  }
}

.stage-tooltip {
  padding: 12px;
  .text {
    font-weight: $Regular;
    color: $text-secondary;
    font-size: 11px;
  }
  .primary-text {
    color: $primary;
  }
  .stage-name {
    color: $text-title;
    font-size: 14px;
  }
  .rejection-reason-title{
    font-weight: $Regular;
    color: $lost;
  }
  .rejection-reason-value{
    font-weight: $Medium;
    color: $contrast;
  }
  .acceptation-info-title{
    font-weight: $Regular;
    color: $acceptance;
  }
  .acceptation-info-value{
    font-weight: $Medium;
    color: $contrast;
  }
}

