$primary: #319DF8;
$primary-text: #4E5D78;
$primary-text2: #8A94A6;

// colors
$color-primary: #fff;
$color-secondary: #319DF8;
$separator: #ddd;

$text-color: #000;

$nav-item-text: $text-color;
$nav-item-background: $color-primary;
$nav-item-selected-bg: $color-primary;
$nav-item-selected-text: $color-secondary;
$nav-icon-color: #aaa;

$login-background-color: rgba(191, 191, 191, 0.15);
