.btn-transparent {
  background: transparent;
  border: none !important;
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}

.non-clickable {
  cursor: context-menu;
}

.center {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.center-horizontally {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delete-dialog-container .mat-dialog-container {
  padding: 0;
  overflow: hidden;
}
.select-item-dialog-container .mat-dialog-container {
  padding: 0;
  overflow: hidden;
}

.crm-checkbox .mat-checkbox-layout {
  margin: 0;
}

.text-trim {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.crm-card {
  border-radius: 8px;
  background: white;
  box-shadow: none !important;
  border: 1px solid #E0E3E7;
  height: 100%;
  padding: 16px;
}


