@import "~src/styles/font-weights";

::ng-deep.mat-form-field-underline {
  background-color: #F0F1F3 !important;
}

.mat-form-field-empty.mat-form-field-label {
  color: #8A94A6 !important;
  font-weight: $Medium !important;
  font-size: 13px;
}

::ng-deep .mat-input-element {
  color: #0A1F44 !important;
  font-weight: $Medium !important;
  line-height: 1.4 !important;
  font-size: 13px;
}

::ng-deep .mat-error {
  font-size: 10px !important;
  color: #D31E1B !important;
  font-weight: $Medium !important;
}

::ng-deep * .mat-checkbox-frame {
  border-color: #C9CDD6;
}

::ng-deep .mat-pseudo-checkbox {
  color: #C9CDD6;
}

::ng-deep .mat-select-value-text {
  color: #0A1E44;
  font-weight: $Medium;
  font-size: 13px;
}


::ng-deep .dropdown-w-100 {
  margin-right: -16px !important;
  max-width: none !important;
  margin-top: 2em;
  min-width: 100% !important;
}

::ng-deep .dropdown-w-100 mat-option.mat-active {
  color: #0A1E44 !important;
}

::ng-deep .dropdown-w-100 mat-option:not(.mat-active) {
  color: #4E5D77 !important;
}

::ng-deep .dropdown-w-100 mat-option {
  font-size: 13px !important;
  font-weight: $Medium !important;
  height: 39px !important;
}

.text-area {
  background-color: #FAFAFA;
  border-color: #E4E7EA;
  box-shadow: none;
  resize: none;

  color: #0A1E44;
  font-size: 13px;
  font-weight: $Medium;
  letter-spacing: 0;
  line-height: 28px;
}

.active-note-text {
  color: #0A1E44;
  font-size: 13px;
  font-weight: $Medium;
  letter-spacing: 0;
  line-height: 24px;
}

.text-area:focus {
  background-color: #fff;
  border-color: #ced4da;
  color: #0a1e44;
}

.text-area:disabled {
  background-color: #FAFAFA;
}

.notes-header {
  text-align: left;
  font: $Medium 12px/18px Poppins;
  letter-spacing: 0;
  color: #4E5D77;
  opacity: 1;
}

::ng-deep .mat-form-field-type-mat-select .mat-form-field-label-wrapper::after {
  content: url("~src/assets/icons/icons/icon_down_arrow_black.svg");
  width: 24px;
  height: 24px;
  position: absolute;
  right: 0;
  cursor: pointer;
}

::ng-deep .mat-form-field-type-mat-select .mat-select-arrow {
  visibility: hidden;
}

::ng-deep .mat-form-field-type-mat-select .mat-form-field-infix {
  margin-left: 0;
  margin-top: 0;
}

::ng-deep .time-picker .mat-form-field-label-wrapper::after {
  content: url("~src/assets/icons/icons/icon-clock.svg") !important;
  margin-top: 0px;
}

.text-area-field:focus {
  background-color: #fff;
  border-color: #ced4da;
  color: #0a1e44;
}

.text-area-field {
  background-color: #FAFAFA;
  border-color: #E4E7EA;
}

::ng-deep.text-area-field-mat-input .text-area-field:focus {
  background-color: #fff;
  border-color: #ced4da;
  color: #0a1e44;
}

::ng-deep.text-area-field-mat-input .mat-form-field-underline {
  display: none;
}

::ng-deep.text-area-field-mat-input .mat-form-field-wrapper {
  padding-bottom: 8px;
}

::ng-deep.text-area-field-mat-input .mat-form-field-label {
  margin-top: 7px;
  margin-left: 7px;
}

::ng-deep.text-area-field-mat-input .text-area-field {
  background-color: #FAFAFA;
  border: 1px solid #ced4da;
  padding: 5px;
}

textarea.form-control {
  font-size: 13px;
}

.inline {
  display: flex;
  justify-content: space-between;
}

.places-select {
  visibility: hidden;
  height: 0;
  display: block;
}

::ng-deep input[mask="separator.2"] {
  text-align: right !important;
}
