@import "~src/styles/theme";
@import "~src/styles/font-weights";

$card-padding: 16px;
$card-radius: 8px;

.header {
  font-weight: $Regular;
  font-size: 24px;
  color: #4E5D78;
  letter-spacing: 0;
  line-height: 36px;
  margin: 5px;

}

mat-card {
  box-shadow: none !important;
  border: 1px solid #E0E3E7;
  background: white;
}

.main-mat-card {
  overflow-y: auto;
  height: calc(100% - 153px);
  margin-bottom: 1px;
}

.button-medium {
  width: 105px;
}

.button-container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #F1F2F4;
  padding-left: $card-padding;
  padding-bottom: $card-padding;
  padding-right: $card-padding;
}

.card-padding {
  padding-top: $card-padding;
  padding-left: $card-padding !important;
  padding-right: $card-padding !important;
}

.card-border-radius {
  border-radius: 8px;
}

