@import "./slider";
@import "./form";


$card-padding: 30px;
$inner-padding: $card-padding * 0.66;
$outer-padding: $card-padding * 0.33;

mat-card {
  padding: 0;
}

.card-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  height: calc(100vh - 68px)
}

.fill-space {
  flex-grow: 1;
}

.buttons-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: $card-padding;
  height: 86px;
}

.main-card {
  flex-grow: 1;
  height: 0;
  padding: $outer-padding;

}

.inner-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
  position: relative;
  padding: $inner-padding;
}

.extension-panel {
  box-shadow: none !important;
  margin: 0;
}

.extension-panel > mat-expansion-panel-header {
  padding-left: 0;
  background: white !important;
}

.extension-panel > mat-expansion-panel {
  padding-left: 0;
  background: white !important;
}


