@import "~src/styles/font-weights";
//@import "node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import '../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
@import 'node_modules/@angular/material/theming';
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";
//@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


@import "~src/styles/theme";
@import "~src/styles/common";
@import "~src/styles/form";
@import "~src/styles/colors";


::ng-deep .mat-row:hover {
  background-color: #ecf5fd;
  cursor: pointer;
}

.search-highlight {
  background-color: $primary;
  color: white;
  border-radius: 4px;
}

::ng-deep .dx-loadindicator-icon .dx-loadindicator-segment {
  background: white !important;
}

.centered-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 30%;
}

.centered-inner-container {
  background-color: $login-background-color;
  padding: 30px;
  margin: 0 auto;
}

.notification-success {
  background-color: #5cb85c;
  height: 70px;
  border-radius: 8px !important;
  max-width: 80vw !important;
  width: 80vw !important;
}
.notification-error {
  background-color: #ff7777;
  max-width: 80vw !important;
  width: 80vw !important;
  height: 70px;
  border-radius: 8px !important;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f0f1f3;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8a94a6;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8a94a6;
}

$custom-typography: mat-typography-config(
  $font-family: 'Poppins' !important
);
@include angular-material-typography($custom-typography);

body{
  font-family: 'Poppins', sans-serif !important;
}

@include mat-core-theme($my-theme);

::ng-deep.mat-raised-button {
  font-weight: $Regular;
  border-radius: 8px;
}

::ng-deep.mat-stroked-button {
  font-weight: $Regular;
  border-radius: 8px;
  border: 1px solid $primary !important;
}

.token-spinner {
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
}

.dropdown-select-item.active {
  font-weight: $Bold;
  background-color: #F7F7F9;
}
.dropdown-select-title {
  font-weight: $Medium;
  color: #0A1E44;
  font-size: 10px;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #F0F1F3;
}
.dropdown-select-item {
  font-weight: $Regular;
  font-size: 13px;
  height: 40px !important;
  padding: 0 10px !important;
  line-height: 40px !important;
}

button:focus, button:active:focus, button.active:focus {
  outline: none !important;
  outline-style: none !important;
}
//
//.mat-form-field-underline {
//  background-color: rgba(0,0,0,.42);
//}

.no-top-right-border-radius {
  border-top-right-radius: 0px !important;
}
.no-top-left-border-radius {
  border-top-left-radius: 0px !important;;
}
.no-bottom-right-border-radius {
  border-bottom-right-radius: 0px !important;;
}
.no-bottom-left-border-radius {
  border-bottom-left-radius: 0px !important;;
}

.no-top-border-radius {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;;
}
.no-bottom-border-radius {
  border-bottom-right-radius: 0px !important;;
  border-bottom-left-radius: 0px !important;;
}
.no-left-border-radius {
  border-bottom-left-radius: 0px !important;;
  border-top-left-radius: 0px !important;;
}
.no-right-border-radius {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;;
}

.no-border-radius {
  border-radius: 0px !important;
}

.cursor-pointer {
  cursor: pointer;
}

::ng-deep .no-box-shadow {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}



