@import 'node_modules/@angular/material/theming';
@import '~src/styles/colors';

$mat-primary: (
  50: $primary,
  100: $primary-text2,
  200: $primary,
  300: $primary,
  400: $primary,
  500: $primary,
  600: $primary,
  700: $primary,
  800: $primary,
  900: $primary,
  A100: $primary,
  A200: $primary,
  A400: $primary,
  A700: $primary,
  contrast: (
    50: $primary-text2,
    100: $primary-text2,
    200: $primary-text2,
    300: $primary-text2,
    400: $primary-text2,
    500: white,
    600: $primary-text2,
    700: $primary-text2,
    800: $primary-text2,
    900: $primary-text2,
    A100: $primary-text2,
    A200: $primary-text2,
    A400: $primary-text2,
    A700: $primary-text2,
  )
);

$my-theme-primary: mat-palette($mat-primary);
$my-theme-accent : mat-palette($mat-grey);
$my-theme-warn   : mat-palette($mat-red);
$my-theme: mat-light-theme(
    $my-theme-primary,
    $my-theme-accent,
    $my-theme-warn
);


::ng-deep .spinner-primary-contrast {
  width: 24px !important;
  height: 24px !important;
  margin-right: 12px !important;
  margin-left: 12px !important;
  display: inline-grid;
  svg {
    width: 24px !important;;
    height: 24px !important;;
    circle {
      stroke: #fff !important;
    }
  }
}

@include mat-core();

@include angular-material-theme($my-theme);
