<div class="goal-user-list">
  <div class="title mb-3">
    {{ "goal.userList.assignUsers" | translate }}
    <img
      class="plus-icon"
      src="assets/icons/plus-blue.svg"
      (click)="addUserToGoalSlider.open()"
    />
  </div>
  <div class="table user-table">
    <table
      [ngClass]="{
        'hide-table':
          !goalAddService._goal.usersGoals ||
          goalAddService._goal.usersGoals.length === 0
      }"
      [dataSource]="dataTableSubject"
      class="mat-elevation-z8 col-md-12 height-animation"
      mat-table
      matSort
    >
      <ng-container matColumnDef="userName">
        <th
          *matHeaderCellDef
          mat-header-cell
          class="cell-border"
          [ngClass]="{
            'not-year-title': goalAddService.goal.interval !== 'YEAR'
          }"
        >
          {{ "goal.userList.user" | translate }}
        </th>
        <td
          *matCellDef="let rowData"
          mat-cell
          class="table-bold-column cell-border"
        >
          <ng-container
            *ngIf="rowData.userId"
            [ngTemplateOutlet]="userInfo"
            [ngTemplateOutletContext]="{
              user: goalAddService.accountInfoMap.get(rowData.userId),
              hideCross: rowData.userId === undefined
            }"
          ></ng-container>
          <div *ngIf="!rowData.userId" class="user-name-column">
            <div class="name">
              {{ "goal.userList.organization" | translate }}
            </div>
            <div class="role">{{ "goal.userList.sum" | translate }}</div>
          </div>
        </td>
      </ng-container>

      <ng-container
        *ngFor="let iv of intervalNumbers"
        [matColumnDef]="'interval' + iv"
      >
        <th
          *matHeaderCellDef
          mat-header-cell
          class="cell-border header-background"
          [ngClass]="{ 'currency-header-not-sort': isAmount }"
        >
          <ng-container
            [ngTemplateOutlet]="header"
            [ngTemplateOutletContext]="{
              header: goalAddService.getIntervalNameByIndex(iv)
            }"
          >
          </ng-container>
        </th>
        <td
          *matCellDef="let rowData"
          mat-cell
          class="table-normal-column cell-border"
          [ngClass]="{ 'center-text': !isAmount, 'currency-value': isAmount }"
        >
          <mat-form-field
            *ngIf="isAmount && rowData.userId"
            class="half-line-input"
          >
            <input
              type="text"
              mask="separator.2"
              [validation]="false"
              (focusout)="updateGoal(rowData.userId, iv)"
              [(ngModel)]="getTableValueItem(rowData.userId, iv).value"
              matInput
            />
            <mat-placeholder class="placeholder"></mat-placeholder>
            <span matSuffix class="input-amount-suffix">{{
              goalAddService._goal.currency | getCurrencySymbol
            }}</span>
          </mat-form-field>
          <mat-form-field
            *ngIf="!isAmount && rowData.userId"
            class="half-line-input"
          >
            <input
              class="center-text"
              mask="0*"
              (focusout)="updateGoal(rowData.userId, iv)"
              [(ngModel)]="getTableValueItem(rowData.userId, iv).value"
              matInput
            />
            <mat-placeholder class="placeholder"></mat-placeholder>
          </mat-form-field>
          <div
            *ngIf="!rowData.userId"
            class="blue-cell bottom-cell"
            [ngClass]="{ 'text-right': isAmount }"
          >
            {{ getTableValueItem(rowData.userId, iv).value }}
            <span *ngIf="isAmount">
              {{ goalAddService._goal.currency | getCurrencySymbol }}</span
            >
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="sum">
        <th
          *matHeaderCellDef
          mat-header-cell
          class="cell-border header-background"
          [ngClass]="{ 'center-text': !isAmount, 'currency-value': isAmount }"
        >
          <ng-container
            [ngTemplateOutlet]="header"
            [ngTemplateOutletContext]="{
              header: {
                title: ('goal.userList.sum' | translate),
                description: goalAddService.sumTime
              },
              dark: true
            }"
          >
          </ng-container>
        </th>
        <td
          *matCellDef="let rowData"
          mat-cell
          class="table-bold-column blue-cell cell-border"
          [ngClass]="{ 'text-right': isAmount }"
        >
          <span *ngIf="rowData.userId">
            {{ userSum.get(rowData.userId) }}
            <span *ngIf="isAmount">
              {{ goalAddService._goal.currency | getCurrencySymbol }}</span
            >
          </span>
          <span *ngIf="!rowData.userId">
            {{ totalSum }}
            <span *ngIf="isAmount">
              {{ goalAddService._goal.currency | getCurrencySymbol }}</span
            >
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="equalValues">
        <th *matHeaderCellDef mat-header-cell class="action-column"></th>
        <td *matCellDef="let rowData" mat-cell class="checkbox-cell">
          <div class="content" *ngIf="rowData.userId">
            <mat-slide-toggle
              [ngModel]="equalValuesMap.get(rowData.userId)"
              (ngModelChange)="equalValuesMap.set(rowData.userId, $event)"
              color="primary"
            ></mat-slide-toggle>
            <span class="ml-2 action-column">{{
              "goal.userList.equalValues" | translate
            }}</span>
          </div>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="columns" mat-header-row class="row-border"></tr>
      <tr
        *matRowDef="let rowData; columns: columns"
        mat-row
        class="clickable row-height row-border"
      ></tr>
    </table>
  </div>
</div>

<app-slider
  #addUserToGoalSlider
  width="33vw"
  [title]="'Użytkownicy' | translate"
  key="GoalUserList.users"
>
  <app-add-user-to-goal [slider]="addUserToGoalSlider"></app-add-user-to-goal>
</app-slider>

<ng-template #header let-header="header" let-dark="dark">
  <div [ngClass]="{ dark: dark }">{{ header.title }}</div>
  <div *ngIf="header.description" class="description">
    {{ header.description }}
  </div>
</ng-template>

<ng-template #userInfo let-user="user">
  <div class="form-inline max-content-width">
    <app-icon
      (click)="removeUser(user.id)"
      svgIcon="cross"
      [hover]="false"
      class="mr-2"
    ></app-icon>
    <div *ngIf="user" class="user-name-column">
      <div class="name">{{ user.name }} {{ user.surname }}</div>
      <div class="role">{{ user.roleName }}</div>
    </div>
  </div>
</ng-template>
