<div mat-dialog-title class="header">
  <div></div>
  <div class="header-text" mat-dialog-title>{{ data.title | translate }}</div>
  <button class="btn-transparent" [mat-dialog-close]="true">
    <app-icon svgIcon="cross" [hover]="false"></app-icon>
  </button>
</div>
<mat-dialog-content class="content">
  <div class="text-container">
    <form [formGroup]="selectItemForm" class="w-100">
      <mat-form-field class="w-100">
        <mat-select
          formControlName="selectItem"
          (selectionChange)="selectionChange()"
        >
          <mat-option *ngFor="let item of data.items" [value]="item">
            {{
              (data.propertyVisibleOnList
                ? item[data.propertyVisibleOnList]
                : item
              ) | translate
            }}
          </mat-option>
        </mat-select>
        <mat-placeholder class="placeholder">{{
          data.placeholder | translate
        }}</mat-placeholder>
        <mat-error *ngIf="selectItem.hasError('required')">
          {{ "selectItemDialog.fieldRequired" | translate }}
        </mat-error>
      </mat-form-field>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end" class="footer">
  <button
    class="confirm-button"
    (click)="confirm()"
    color="primary"
    mat-raised-button
  >
    {{ data.confirmButton | translate }}
  </button>
  <button
    class="cancel-button"
    [mat-dialog-close]="true"
    (click)="cancel()"
    mat-raised-button
  >
    {{ data.cancelButton | translate }}
  </button>
</mat-dialog-actions>
