@import "~src/styles/colors.scss";
@import "~src/styles/font-weights";

.header {
  background-color: $bg-primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 40px;
}

.content {
  background-color: $bg-primary;
  padding-left: 50px;
  margin-bottom: -20px;
  padding-right: 50px;
}

.header-text {
  font-size: 13px !important;
  font-weight: $Medium !important;
  color: $action-color;
  margin: 0;
}

.note-text {
  font-size: 13px;
  font-weight: $Medium;
  color: $text-secondary;
}

.confirm-button {
  font-size: 13px;
  font-weight: $Medium;
  color:  $primary-contrast;
  box-shadow: none;
}

.cancel-button {
  background-color: $bg-tertiary;
  font-size: 13px;
  font-weight: $Medium;
  color: $action-color;
  box-shadow: none;
}

.text-container {
  display: flex;
  align-items: center;
}


.footer {
  margin: 20px;
}
