<div class="goal-user-list">
  <div class="title mb-3">
    {{'goal.edit.assignedGoal' | translate}}
  </div>
  <div class="table user-table edit-user-table">
    <table [dataSource]="[_userGoal]" class="col-md-12" mat-table>

      <ng-container matColumnDef="userName">
        <th *matHeaderCellDef mat-header-cell>{{'goal.edit.users' | translate}}</th>
        <td *matCellDef="let rowData" class="table-bold-column" mat-cell>
          <ng-container [ngTemplateOutletContext]="{user : goalAddService.accountInfoMap.get(rowData.userId)}"
                        [ngTemplateOutlet]="userInfo">
          </ng-container>
        </td>
      </ng-container>

      <ng-container *ngFor="let index of intervalNumbers" [matColumnDef]="'interval' + index">


        <th *matHeaderCellDef mat-header-cell class="cell-border header-background"
            [ngClass]="{'currency-header-not-sort' : isAmount}">
          <ng-container [ngTemplateOutlet]="header"
                        [ngTemplateOutletContext]="{header : goalAddService.getIntervalNameByIndex(index)}">
          </ng-container>
        </th>

        <td *matCellDef="let rowData" [ngClass]="{'text-center': !isAmount, 'text-right': isAmount}" mat-cell>

          <ng-container *ngIf="isAmount">
            <div class="number-cell text-right">
              {{getInterval(index).expectedValue | formatNumber}}
              <span> {{goalAddService._goal.currency | getCurrencySymbol}}</span>
            </div>
          </ng-container>

          <ng-container *ngIf="!isAmount">
            <div class="number-cell text-center">{{getInterval(index).expectedValue}}</div>
          </ng-container>

        </td>
      </ng-container>


      <tr *matHeaderRowDef="columns" mat-header-row class="header-background second-header"></tr>
      <tr *matRowDef="let rowData; columns: columns" class="clickable row-height" mat-row></tr>
    </table>
  </div>
</div>


<ng-template #header let-header="header" let-dark="dark">
  <div [ngClass]="{'dark': dark}">{{header.title}}</div>
  <div *ngIf="header.description" class="description">{{header.description}}</div>
</ng-template>


<ng-template #userInfo let-user="user">
  <div class="form-inline max-content-width">
    <div *ngIf="user" class="user-name-column">
      <div class="name">{{user.name}} {{user.surname}}</div>
      <div class="role">{{user.roleName}}</div>
    </div>
  </div>
</ng-template>
