<form [formGroup]="categoryForm" (click)="onCardClick($event)">
  <div class="card-container">
    <mat-card class="main-card card-border-radius no-bottom-left-border-radius no-bottom-right-border-radius">
      <div class="inner-container">
        <div class="categories-header">{{'products.form.addCategory.listHeader' | translate}}</div>

        <div formArrayName="categories" *ngFor="let category of categories; let i=index">
          <ng-container *ngIf="!category.toDelete">
            <div [formGroupName]="i" class="category-item">
              <mat-form-field class="product-category-input">
                <span class="inline">
                <input class="category-text" #categoryInput matInput formControlName="editedValue"
                       (keydown.enter)="disableEditedControl()">
                  <img class="alert-icon-size"
                       *ngIf="getCategoryControl(i).hasError('categoryExistError')"
                       src="assets/icons/alert.svg"/>
                </span>
                <mat-error *ngIf="getCategoryControl(i).hasError('categoryExistError')" class="float-right">
                  {{'products.categories.categoryExistError' | translate}}
                </mat-error>
              </mat-form-field>
              <button type="button" class="btn-transparent icon-margin"
                      (click)="edit(category, i, categoryInput); $event.stopPropagation()">
                <img class="clickable icon-size" src="assets/icons/edit_icon.svg"/>
              </button>
              <button type="button" class="btn-transparent icon-margin"
                      (click)="tryDelete(category, i); $event.stopPropagation()">
                <img class="clickable icon-size" src="assets/icons/trash-black.svg"/>
              </button>
              <mat-checkbox class="crm-checkbox icon-size" color="primary" formControlName="selected"
                            (click)="$event.stopPropagation()">
              </mat-checkbox>
            </div>
          </ng-container>
        </div>
        <mat-form-field [class.d-none]="!addNewInputVisible" class="product-category-input new-category-input">
          <span class="inline">
          <input #newCategoryInput formControlName="newCategoryValue" matInput (keydown.enter)="addCategory()"
                 (click)="$event.stopPropagation()">
            <img class="alert-icon-size"
                 *ngIf="newCategoryValue.hasError('categoryExistError')"
                 src="assets/icons/alert.svg"/>
            </span>
          <mat-error *ngIf="newCategoryValue.hasError('categoryExistError')" class="float-right">
            {{'products.categories.categoryExistError' | translate}}
          </mat-error>
        </mat-form-field>
        <div class="add-category-icon">
          <img (click)="addNewCategory($event, newCategoryInput)" class="clickable" src="assets/icons/add-active.svg"/>
        </div>
      </div>
    </mat-card>

    <mat-card class="buttons-bar card-border-radius no-top-left-border-radius no-top-right-border-radius">
      <button type="button" mat-stroked-button class="button-medium" color="primary"
              (click)="cancel(); $event.stopPropagation()">{{'products.categories.cancel' | translate}}</button>
      <button type="button" mat-raised-button class="button-medium ml-2" color="primary"
              (click)="submit(); $event.stopPropagation()">{{'products.categories.ok' | translate}}</button>
    </mat-card>
  </div>
</form>

