@import "../../../../styles/slider";
@import "../../../../styles/font-weights";
@import "../../../../styles/form";
@import "../../../../styles/product-category.common";


$card-padding: 30px;
$inner-padding: $card-padding * 0.66;
$outer-padding: $card-padding * 0.33;

mat-card {
  padding: 0;
}

.card-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  height: calc(100vh - 68px)
}

.fill-space {
  flex-grow: 1;
}

.buttons-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: $card-padding;
  height: 86px;
}

.main-card {
  flex-grow: 1;
  height: 100%;
  padding: $outer-padding;

}

.inner-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
  position: relative;
  padding: $inner-padding;
}
