<div>
<div class="address-container">
  <div class="to-address-container">
    <div class="left-side-address-container">
      <div class="header-container">{{('mail.details.to' | translate) + ': '}}</div>
      <div *ngIf="message.headerDto.fromAddr[0]?.name">{{message.headerDto.fromAddr[0]?.name + ' '}}</div>
      <div *ngIf="message.headerDto.fromAddr[0]?.email">{{'<' + message.headerDto.fromAddr[0]?.email + '>'}}</div>
    </div>
    <div>
      <button class="btn-transparent cc-container" *ngIf="!ccInputVisible"
              (click)="ccInputVisible = true">{{ 'mail.details.cc' | translate }}</button>
      <button class="btn-transparent bcc-container ml-2" *ngIf="!bccInputVisible"
              (click)="bccInputVisible = true">{{ 'mail.details.bcc' | translate }}</button>
    </div>
  </div>
  <div class="cc-input-container" *ngIf="ccInputVisible">
    <div class="cc-header-container">{{('mail.details.cc' | translate) + ': '}}</div>
    <div class="cc-mail-input-container">
      <app-mail-input #ccEmails [addresses]="getCcAddresses()"></app-mail-input>
    </div>
  </div>
  <div class="bcc-input-container mt-minus-15px" *ngIf="bccInputVisible">
    <div class="bcc-header-container">{{('mail.details.bcc' | translate) + ': '}}</div>
    <div class="bcc-mail-input-container">
      <app-mail-input #bccEmails></app-mail-input>
    </div>
  </div>
</div>


<!--<app-mail-text-editor (valueChanged)="content = $event" [htmlContent]="content"></app-mail-text-editor>-->

<app-mail-attachments [tempUploader]="tempFileUploader" [filesFromCrm]="filesFormCrm" (removeTempFile)="removeTempFile($event)" (removeCrmFile)="removeCrmFile($event)"></app-mail-attachments>
<div class="editor-content">
  <app-mail-text-editor class="mail-editor-text"  (valueChanged)="content = $event" [htmlContent]="content" [ngClass]="{'with-attachment': ((tempFileUploader.queue && tempFileUploader.queue.length > 0) || (filesFormCrm && filesFormCrm.length > 0))}"></app-mail-text-editor>
  <img [matMenuTriggerFor]="attachment" class="attachment-icon" src="assets/icons/mail/attachment.svg"/>
  <mat-menu #attachment="matMenu">
    <button mat-menu-item (click)="fileInput.click()">
      {{'mail.exploreComputer' | translate}}
    </button>
    <button mat-menu-item (click)="selectFilesFromCrm()">
      {{'mail.exploreSystem' | translate}}
    </button>
  </mat-menu>
</div>
</div>

<div class="mail-action-buttons">
  <div class="spinner-container mt-4" *ngIf="isSending">
    <mat-spinner [diameter]="20" class="sending-spinner"></mat-spinner>
    <span>{{'mail.sending' | translate}}</span>
  </div>
  <div class="pull-right">
    <button class="button-medium" color="primary" mat-stroked-button
            (click)="replyToClosed.emit()">{{'mail.details.cancel' | translate}}</button>
    <button class="button-medium ml-2" color="primary" mat-raised-button
            (click)="submit()" [disabled]="isSending">{{'mail.details.send' | translate}}</button>
  </div>
</div>
<input #fileInput [uploader]="tempFileUploader" hidden multiple ng2FileSelect type="file">
