@import '~src/styles/colors';
@import "~src/styles/font-weights";

.address-container {
  margin: 30px 0;
}

.to-address-container {
  font: $Regular 13px/20px Poppins;
  display: flex;
  justify-content: space-between;
}

.header-container {
  font: $Bold 13px/20px Poppins;
  width: 40px;
}

.bcc-header-container,
.cc-header-container {
  padding-top: 20px;
  font: $Bold 13px/20px Poppins;
  width: 40px;
}

.left-side-address-container {
  display: flex;
}

.bcc-container,
.cc-container {
  font: $Medium 16px/25px Poppins;
  color: $primary;
}
.bcc-input-container,
.cc-input-container {
  display: flex;
}
.bcc-mail-input-container,
.cc-mail-input-container {
  width: 90%;
}

.sending-spinner {
  display: inline;
  margin-right: 10px;
}

.spinner-container {
  font-size: 16px;
  display: inline-flex;
  color: $primary;
  margin: 15px;
  font-weight: $Regular;
}

.attachment-icon {
  position: absolute;
  bottom: 4px;
  right: 0;
  cursor: pointer;
}

.editor-content {
  position: relative;
  padding: 0;
  margin: 0;
}

::ng-deep .mail-editor-text .mail-text-editor .ngx-editor {
  border-top: 1px solid $border-tertiary;
  padding-top: 10px;
  border-bottom: 1px solid $border-tertiary;
  padding-bottom: 25px;
}

::ng-deep .mail-editor-text .mail-text-editor .ngx-toolbar {
  bottom: 4px;
}

::ng-deep .mail-action-buttons {
  width: 100%;
  background-color: $bg-primary;
  bottom: 3px;
  right: 40px;
  z-index: 100;
  padding-bottom: 10px;
  padding-top: 10px;
}

.mt-minus-15px {
  margin-top: -15px;
}
