<ng-container *ngIf="!isLoading; else loading">
  <ng-container *ngTemplateOutlet="goalPanel"></ng-container>
</ng-container>

<ng-template #loading>
  <div class="loading">
    <mat-spinner diameter="60"></mat-spinner>
  </div>
</ng-template>

<ng-template #defaultPanel>
  <div class="goal" *ngIf="data as data">
    <div class="goal__header">
      <div class="goal__title">{{ data.name }}</div>
      <div class="goal__menu">
        <app-icon
          (click)="removeWidget()"
          appTooltip="DELETE"
          svgIcon="trash"
          size="19px"
        ></app-icon>
        <app-icon
          (click)="openInFullscreen()"
          appTooltip="{{ fullscreenMode ? 'MINIMIZE' : 'MAXIMIZE' }}"
          class="ml-2"
          [svgIcon]="fullscreenMode ? 'internal' : 'external'"
          size="20px"
        ></app-icon>
      </div>
    </div>
    <div class="goal__subtitle">
      {{ "goal.shared.type." + (data.type | lowercase) | translate }}
    </div>
    <div class="goal__chart" *ngIf="showCanvas">
      <canvas
        baseChart
        [datasets]="data?.userWidgetDataDtoList"
        [labels]="data?.labels"
        [options]="options[data?.chartType]"
        [legend]="true"
        [chartType]="data?.chartType | chartType"
      >
      </canvas>
    </div>
  </div>
</ng-template>

<ng-template #renderWidgetPanel>
  <app-render-widget-panel
    [widget]="_widget"
    [payload]="data"
    [edited]="edited"
    (onRemoveWidget)="tryRemoveWidget($event)"
  ></app-render-widget-panel>
</ng-template>

<ng-template #goalPanel>
  <ng-container>
    <ng-container
      *ngIf="
        data?.type === goalTypes.CREATED_LEADS_NUMBER &&
          data?.chartType === chartTypes.CHART1;
        else defaultPanel
      "
    >
      <ng-container *ngTemplateOutlet="renderWidgetPanel"></ng-container>
    </ng-container>
  </ng-container>
</ng-template>
