<div class="login-container">
  <img src="assets/icons/shared/crm-logo.svg" class="login-logo-image"/>

  <div class="login-values">
    <div class="login-title">{{'register.form.title' | translate}}</div>
    <div class="login-form">
      <form [formGroup]="registerForm">
        <mat-form-field class="w-100">
          <input matInput
                 [placeholder]="'register.form.name' | translate"
                 formControlName="name"
                 (keyup.enter)="register()"
                 (ngModelChange)="createLicenseDto.name = $event"
                 required>
          <mat-error
            *ngIf="registerForm.get('name').hasError('required')">{{'register.form.fieldRequired' | translate}}</mat-error>
        </mat-form-field>
        <mat-form-field class="w-100">
          <input matInput
                 [placeholder]="'register.form.phone' | translate"
                 formControlName="phone"
                 mask="+(00) 000 000 000"
                 (keyup.enter)="register()"
                 (ngModelChange)="createLicenseDto.phone = $event"
                 required>
          <mat-error
            *ngIf="registerForm.get('phone').hasError('required')">{{'register.form.fieldRequired' | translate}}</mat-error>
        </mat-form-field>
        <mat-form-field class="w-100">
          <input matInput
                 [placeholder]="'register.form.email' | translate"
                 (ngModelChange)="createLicenseDto.mail = $event"
                 formControlName="email"
                 (keyup.enter)="register()"
                 required>
          <mat-error *ngIf="registerForm.get('email').hasError('required')">{{'register.form.fieldRequired' | translate}}</mat-error>
          <mat-error *ngIf="registerForm.get('email').hasError('email')">{{'license.form.incorrectEmail' | translate}}</mat-error>
        </mat-form-field>
        <mat-form-field class="w-100">
          <input matInput
                 [placeholder]="'register.form.domain' | translate"
                 formControlName="domain"
                 (keyup.enter)="register()"
                 (ngModelChange)="createLicenseDto.domain = $event"
                 required>
          <mat-error
            *ngIf="registerForm.get('domain').hasError('required')">{{'register.form.fieldRequired' | translate}}</mat-error>
        </mat-form-field>
      </form>
    </div>
    <button mat-raised-button color="primary" (click)="register()" class="login-button text-center">
      <span class="display-inline-flex">{{'register.form.register' | translate}} <mat-spinner color="accent" diameter="20" class="mt-2 ml-2" *ngIf="instanceRequestInProgress"></mat-spinner></span>
    </button>
    <div class="link-button">
      <span (click)="goToLogin()">{{'register.form.login' | translate}}</span>
    </div>
  </div>
  <img src="assets/icons/login/background-login.png" class="login-background-image"/>
</div>
