<div class="expenses-container">
  <mat-expansion-panel>
    <mat-expansion-panel-header class="panel-header">
      <mat-panel-title>
        <span *ngIf="totalCost"
          >{{ "expenses.list.totalCost" | translate }}
          {{ totalCost?.totalCost.toFixed(2) }} {{ totalCost?.mainCurrency }}</span
        >
      </mat-panel-title>
      <mat-panel-description>
        <button
          class="btn-transparent"
          *ngIf="'ExpenseListComponent.add' | auth: 'w'"
          (click)="$event.stopPropagation(); addExpenseSlider.open()"
        >
          <div class="table-header-button">
            <img src="assets/icons/add-active.svg" class="mr-2" />
            <span>{{ "expenses.list.addNewExpense" | translate }}</span>
          </div>
        </button>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div *ngIf="totalCost">
      <div
        class="flex"
        *ngFor="let costInCurrency of totalCost.costInCurrencies | keyvalue"
      >
        {{ costInCurrency.value }} {{ costInCurrency.key }}
      </div>
    </div>
  </mat-expansion-panel>

  <div class="table-container">
    <div
      class="overflow-y w-100 table-height"
      (scroll)="infinityScroll.onScroll($event)"
    >
      <table
        [dataSource]="infinityScroll.itemPage?.content"
        class="mat-elevation-z8 w-100"
        mat-table
        matSort
        (matSortChange)="infinityScroll.onSortChange($event)"
      >
        <ng-container matColumnDef="date">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>
            {{ "expenses.list.date" | translate }}
          </th>
          <td
            *matCellDef="let expense"
            mat-cell
            [title]="expense.date | lengthMoreThan: 30"
          >
            <span class="date-text">{{ expense.date | formatDate }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>
            {{ "expenses.list.name" | translate }}
          </th>
          <td
            *matCellDef="let expense"
            mat-cell
            [title]="expense.name | lengthMoreThan: 20"
          >
            {{
              expense.name.length > 20
                ? expense.name.slice(0, 17) + "..."
                : expense.name
            }}
          </td>
        </ng-container>
        <ng-container matColumnDef="amount">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>
            {{ "expenses.list.amount" | translate }}
          </th>
          <td
            *matCellDef="let expense"
            mat-cell
            [title]="expense.amount | lengthMoreThan: 30"
          >
            {{ expense.amount | formatCurrency: expense.currency }}
          </td>
        </ng-container>
        <ng-container matColumnDef="responsible">
          <th *matHeaderCellDef mat-header-cell>
            {{ "expenses.list.responsible" | translate }}
          </th>
          <td
            *matCellDef="let expense"
            mat-cell
            [title]="userMap?.get(expense?.responsibleId) | lengthMoreThan: 30"
          >
            {{ userMap?.get(expense?.responsibleId) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th *matHeaderCellDef mat-header-cell></th>
          <td *matCellDef="let expense" mat-cell>
            <app-icon
              *ngIf="canBeEdited(expense)"
              class="btn-transparent"
              svgIcon="edit"
              size="20px"
              (click)="$event.stopPropagation(); edit(expense)"
            ></app-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="pin">
          <th *matHeaderCellDef mat-header-cell></th>
          <td *matCellDef="let expense" mat-cell>
            <app-icon
              svgIcon="{{
                getActivityNameById(expense?.activityId) | lowercase
              }}"
              size="20px"
              (click)="
                $event.stopPropagation(); eventClicked(expense?.activityId)
              "
              *ngIf="!(expense?.activityId | isNil) && canBeEdited(expense)"
            >
            </app-icon>
          </td>
        </ng-container>

        <tr
          *matHeaderRowDef="filteredColumns$ | async; sticky: true"
          mat-header-row
        ></tr>
        <tr
          *matRowDef="let rowData; columns: filteredColumns$ | async"
          mat-row
          (click)="$event.stopPropagation(); rowClick(rowData)"
        ></tr>
      </table>
      <div
        class="no-expenses"
        *ngIf="
          infinityScroll &&
          infinityScroll.itemPage?.totalElements === 0 &&
          infinityScroll.loaded
        "
      >
        <div class="center">
          <div class="center-horizontally">
            <img src="assets/icons/face-sad.svg" />
            <div class="mt-4 empty-list-text-primary">
              {{ "expenses.list.empty" | translate }}
            </div>
            <div class="empty-list-text-secondary center">
              {{ "expenses.list.addNewExpense" | translate }}

              <app-icon
                *ngIf="'ExpenseListComponent.add' | auth: 'w'"
                (click)="addExpenseSlider.open()"
                svgIcon="add"
                class="px-1"
              ></app-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-slider
    [width]="'30vw'"
    [title]="'expenses.list.newExpense' | translate"
    key="addExpenseSlider"
    #addExpenseSlider
    group="expenseSliderGroup"
  >
    <app-expense-add
      [object]="_crmObject"
      [slider]="addExpenseSlider"
      (expenseAdded)="refreshData(); getTotalCost()"
    ></app-expense-add>
  </app-slider>

  <app-slider
    [width]="'30vw'"
    [title]="'expenses.list.editExpense' | translate"
    key="editExpenseSlider"
    #editExpenseSlider
    group="expenseSliderGroup"
  >
    <app-expense-edit
      [object]="_crmObject"
      [slider]="editExpenseSlider"
      [expenseId]="selectedExpenseId"
      (expenseEdited)="refreshData(); getTotalCost()"
    ></app-expense-edit>
  </app-slider>
  <app-slider
    #editActivity
    (openEvent)="setInitAssociation()"
    width="35vw"
    [title]="'calendar.task.form.editTitle' | translate"
    key="Calendar.EditSlider"
    [group]="'taskFormGroup'"
  >
    <app-task-edit
      [initAssociation]="initAssociation"
      (eventDeleted)="refreshData()"
      (eventAdded)="refreshData()"
      [slider]="editActivity"
    ></app-task-edit>
  </app-slider>
</div>
