@import "../../../../../styles/table";
@import "../../../../../styles/colors";

$table-header-height: 70px;

tr.mat-footer-row,
tr.mat-row {
  height: 48px;
}

td.mat-cell {
  border-bottom-style: none;
}

.table-container {
  overflow: auto;
  padding: 0;
  height: 100%;
}

th {
  border: none !important;
}

th:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid rgba($contrast-rgb, 0.12);
}

.table-header-container {
  display: flex;
  align-content: space-between;
  height: $table-header-height;
  padding: 20px 20px 0;
}

.table-header-button {
  font-weight: $SemiBold;
  font-size: 12px;
  color: $primary;
}

.table-header-text {
  text-transform: uppercase;
  font: 400 10px/16px Poppins;
  letter-spacing: 1.2px;
}

.expenses-container {
  height: 100%;
  overflow: hidden;
}

td {
  text-align: left;
  font: Regular 12px/17px Poppins;
  letter-spacing: 0;
  color: $action-color;
  opacity: 1;
}

.date-text {
  text-align: right;
  font: $Medium 12px/17px Poppins;
  letter-spacing: 0;
  color: $text-title;
  opacity: 1;
}

.table-height {
  height: calc(100% - #{$table-header-height});
}

.no-expenses {
  height: calc(100vh - 680px);
}

.panel-header {
  height: auto !important;
  padding: 8px 24px !important;
}

table {
  width: 100%;
}

.mat-column-name {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 1 !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
