<button
  (click)="addSlider.open()"
  class="button-medium ml-2 tab-add-button"
  color="primary"
  mat-raised-button
>
  {{ "administration.gdpr.approveWay.add" | translate }}
</button>

<table [dataSource]="agreeWays" class="mat-elevation-z8 col-md-12" mat-table>
  <ng-container matColumnDef="name">
    <th *matHeaderCellDef mat-header-cell>Nazwa</th>
    <td *matCellDef="let agreeWay" mat-cell>{{ agreeWay.name }}</td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th *matHeaderCellDef mat-header-cell></th>
    <td *matCellDef="let agreeWay" mat-cell>
      <app-icon
        *ngIf="agreeWay.modifiable"
        [matMenuTriggerFor]="menu"
        (click)="$event.stopPropagation()"
        appTooltip="MORE"
        svgIcon="option-dots"
        [hover]="false"
      ></app-icon>

      <mat-menu #menu="matMenu">
        <button (click)="editAgreeWay(agreeWay)" mat-menu-item>
          {{ "person.list.edit" | translate }}
          <span class="fa fa-pencil ml-3"></span>
        </button>
        <button (click)="tryDeleteAgreeWay(agreeWay.id)" mat-menu-item>
          {{ "administration.gdpr.delete" | translate }}
          <span class="fa fa-trash ml-4 contrast-color"></span>
        </button>
      </mat-menu>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="filteredColumns; sticky: true" mat-header-row></tr>
  <tr
    *matRowDef="let rowData; columns: filteredColumns"
    mat-row
    (click)="$event.stopPropagation()"
  ></tr>
</table>

<app-slider
  #addSlider
  [title]="'administration.gdpr.approveWay.addTitle' | translate"
  key="AgreeWay.AddSlider"
  width="45vw"
>
  <app-add-form
    [operationType]="'APPROVE_WAY'"
    (onSave)="saveAgreeWay($event)"
  ></app-add-form>
</app-slider>

<app-slider
  #editSlider
  [title]="'administration.gdpr.approveWay.editTitle' | translate"
  key="AgreeWay.AddSlider"
  width="45vw"
>
  <app-add-form
    #editForm
    [operationType]="'APPROVE_WAY'"
    (onSave)="updateAgreeWay($event)"
  ></app-add-form>
</app-slider>
