<mat-tab-group
  class="board-tab-group h-100 opportunity-tabs"
  [(selectedIndex)]="selectedTabIndex"
>
  <mat-tab
    [label]="'opportunity.tabs.activity' | translate"
    *ngIf="'OpportunityDetailsComponent.activity' | auth: 'i':true"
  >
    <app-activity-tab
      class="overflow-hidden"
      objectType="opportunity"
      [objectId]="opportunityId"
    ></app-activity-tab>
  </mat-tab>
  <mat-tab
    [label]="'opportunity.tabs.expenses' | translate"
    *ngIf="'OpportunityDetailsComponent.expenses' | auth: 'i':true"
  >
    <app-expense-list
      *matTabContent
      [crmObject]="{ id: opportunityId, type: objectType.opportunity }"
      [currency]="opportunity.currency"
      (crmObjectEdited)="handleOpportunityEdited()"
    ></app-expense-list>
  </mat-tab>
  <mat-tab [label]="'opportunity.tabs.products' | translate">
    <app-opportunity-products-card
      [opportunityId]="opportunityId"
      [currency]="opportunity.currency"
      [mainCurrency]="mainCurrency"
      (opportunityEdited)="handleOpportunityEdited()"
    ></app-opportunity-products-card>
  </mat-tab>

  <mat-tab
    [label]="'opportunity.tabs.emails' | translate"
    *ngIf="'OpportunityDetailsComponent.attachedEmails' | auth: 'i':true"
  >
    <app-email-extend-tab
      [crmObject]="{
        id: opportunityId,
        type: objectType.opportunity
      }"
      [emailExpandLabel]="opportunity?.name"

    >
    </app-email-extend-tab>
  </mat-tab>
  <mat-tab
    [label]="'opportunity.tabs.history' | translate"
    *ngIf="'OpportunityDetailsComponent.history' | auth: 'i':true"
  >
    <app-history-tab
      historyType="OPPORTUNITY"
      [objectId]="opportunityId"
      [changedSubscription]="opportunityChangedSubscription"
      [fullHeight]="true"
    ></app-history-tab>
  </mat-tab>
</mat-tab-group>
