@import "~src/styles/form";
@import "~src/styles/colors";
@import "~src/styles/font-weights";
@import "~src/styles/icons";

.opportunity-tabs {
  ::ng-deep.mat-tab-label {
    height: auto;
    padding: 12px 24px;
    min-width: auto;
  }

  ::ng-deep.mat-tab-body-wrapper {
    height: 100%;
  }
}


