@import "~src/styles/slider";
@import "~src/styles/form";
@import "~src/styles/colors";
@import "~src/styles/font-weights";


.main-search {
  display: flex;
  align-items: flex-end;
  font-size: 14px;
}

.category-dropdown-text {
  text-align: left;
  font: $Medium 14px/21px Poppins;
  letter-spacing: 0;
  color: $text-title;
  opacity: 1;
}

.category-header-text {
  text-align: left;
  font: $Medium 10px/16px Poppins !important;
  letter-spacing: 1.2px;
  color: $text-title;
  text-transform: uppercase;
  opacity: 1;
}

.search-result-text {
  text-align: left;
  font: $Medium 13px/21px Poppins;
  letter-spacing: 0;
  color: $text-secondary;
  opacity: 1;
}

.search-result-main-text {
  text-align: left;
  font: $SemiBold 16px/25px Poppins;
  letter-spacing: 0;
  color: $text-title;
  opacity: 1;
}

.search-result-note-text {
  text-align: left;
  font: $Regular 13px/21px Poppins;
  letter-spacing: 0;
  color: $text-secondary;
  opacity: 1;
}
.result-item {
  display: flex;
  align-items: center;
}

.result-icon {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  min-width: 60px;
}

::ng-deep .category-header .mat-optgroup-label {
  display: flex;
  align-items: center;
  margin: 0;
  @extend .category-header-text
}

::ng-deep .multi-line-option.mat-option {
  height: 72px;
  padding-left: 16px !important;
}

::ng-deep .single-line-option.mat-option {
  height: 40px;
  margin: 0 !important;
  padding-left: 16px !important;
}

.inline {
  display: flex;
  justify-content: space-between;
}
