<form [formGroup]="searchTextForm" class="main-search" *ngIf="filteredTypes?.length > 1">
  <mat-form-field class="select-arrow-down share-type-input-field col-md-5">
    <mat-select panelClass="dropdown-w-100" [disableRipple]="true" [disableOptionCentering]="true"
                formControlName="searchType"
                [value]="'user'">
      <mat-option *ngFor="let type of filteredTypes" [value]="type">
        {{'assignToGroup.type.' + type | translate}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="col-md-7 pl-1">
    <span class="inline">
      <input matInput
           [placeholder]="textPlaceholder | translate"
           (keyup.arrowDown)="searchValue.showPanel = true"
           formControlName="searchText" [matAutocomplete]="searchValue">
      <mat-spinner *ngIf="areSearchLoading" [diameter]="16"></mat-spinner>
    </span>

    <mat-autocomplete #searchValue="matAutocomplete" [panelWidth]="'350px'">


      <mat-optgroup class="category-header" *ngFor="let type of getKeys(groupedList)"
                    [label]="'assignToGroup.type.' + type | translate">

        <ng-container *ngIf="isOneLineResult(type); else resultItem">
          <mat-option *ngFor="let object of groupedList[type]" [value]="object?.label" class="single-line-option"
                      (click)="onSelect(object)">
            <div class="search-result-text">{{object.label}}</div>
          </mat-option>
        </ng-container>


        <ng-template #resultItem>
          <mat-option *ngFor="let object of groupedList[type]" [value]="object?.label" class="multi-line-option"
                      (click)="onSelect(object)">
            <div class="result-item">
              <img class="result-icon" src="{{type | fileGroupToIcon}}">
              <div class="flex-grow-1">
                <div class="search-result-main-text">{{object?.label}}</div>
                <div class="search-result-note-text">{{'assignToGroup.singleType.' + type | translate}}</div>
              </div>
            </div>
          </mat-option>
        </ng-template>

      </mat-optgroup>
      <div style="height: 16px"></div>

    </mat-autocomplete>
  </mat-form-field>
</form>
