@import "~src/styles/colors";

::ng-deep.step-preview ngx-extended-pdf-viewer {
  display: grid;
  height: calc(100vh - 350px) !important;
  .zoom {
    min-height: 0 !important;
  }
  .pdfViewer {
    background-color: transparent !important;
  }
  .page {
    border-image: none !important;
    border: none !important;
    border-top: 5px solid $border-tertiary !important;
  }
}
