<div
  class="w-100 h-100 step-preview">
  <ng-container *ngIf="!inProgress; else progress">
    <ng-container *ngIf="!isError; else previewError">
      <ngx-extended-pdf-viewer
        *ngIf="blob"
        [src]="blob"
        useBrowserLocale="false"
        height="100%"
        [(page)]="page"
        [(zoom)]="zoom"
        (pagesLoaded)="onPagesLoaded($event)"
        [showFindButton]="false"
        [showPagingButtons]="false"
        [showZoomButtons]="false"
        [showPresentationModeButton]="false"
        [showOpenFileButton]="false"
        [showPrintButton]="false"
        [showDownloadButton]="false"
        [showBookmarkButton]="false"
        [showSecondaryToolbarButton]="false"
        [showRotateButton]="false"
        [showSelectToolButton]="false"
        [showHandToolButton]="false"
        [showScrollingButton]="false"
        [showSpreadButton]="false"
        [showPropertiesButton]="false"
        [showSidebarButton]="false"
        backgroundColor="white">
      </ngx-extended-pdf-viewer>
    </ng-container>
  </ng-container>
</div>

<ng-template #progress>
  <div class="center">
    <mat-spinner diameter="60"></mat-spinner>
  </div>
</ng-template>

<ng-template #previewError>
  {{'offer.generator.stepPreview.loadingError' | translate}}
</ng-template>
