@import "~src/styles/colors.scss";
@import "~src/styles/font-weights";

::ng-deep .bpmn-text-editor {
  background-color: red;
}

::ng-deep .bpmn-text-editor .ngx-editor-textarea:focus {
  background-color: $bg-primary !important;
  border-color: $border-primary !important;
  color: $text-title !important;
}
::ng-deep .bpmn-text-editor .ngx-toolbar {
  background: transparent !important;
  border-color: transparent !important;
  padding-left: 0 !important;
}
::ng-deep .bpmn-text-editor .ngx-toolbar .ngx-toolbar-set{
  border-radius: 0 !important;
  margin-right: 0 !important;
  .ngx-editor-button:first-child {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
  .ngx-editor-button:last-child {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
}

::ng-deep .bpmn-text-editor .ngx-toolbar .ngx-editor-button{
  border: none !important;
  width: 24px !important;
  height: 24px !important;
  margin-right: 5px;
  min-width: 0 !important;
  i:before {
    content: "" !important;
    display: inline-block !important;
    width: 24px !important;
    height: 24px !important;
    margin-top: -6px !important;
    margin-left: -6px !important;
  }
  i.fa-bold:before {
    background: url('~src/assets/icons/text-editor/font-bold-off.svg') no-repeat top right !important;
  }
  i.fa-italic:before {
    background: url('~src/assets/icons/text-editor/font-italic-off.svg') no-repeat top right !important;
  }
  i.fa-underline:before {
    background: url('~src/assets/icons/text-editor/font-underline-off.svg') no-repeat top right !important;
  }
  i.fa-list-ul:before {
    background: url('~src/assets/icons/text-editor/font-bullets-off.svg') no-repeat top right !important;
  }
  i.fa-list-ol:before {
    background: url('~src/assets/icons/text-editor/font-list-off.svg') no-repeat top right !important;
  }
}
::ng-deep .bpmn-text-editor .ngx-editor-textarea {
  background-color: $bg-primary !important;
  border-color: $border-secondary !important;
  border-radius: 0.25rem;
  min-height: 90px !important;
  font-weight: $Regular;
  resize: vertical !important;
}
::ng-deep .bpmn-text-editor .ngx-editor-placeholder {
  z-index: 2 !important;
}
::ng-deep .bpmn-text-editor .ngx-editor-grippie {
  background: transparent !important;
  border-color: transparent !important;
  svg {
    display: none;
  }
}
