@import "~src/styles/colors";
@import "~src/styles/font-weights";
@import "~src/styles/icons";

$created: #6a7589;
$success: #47dc92;
$lost: #ff696a;

.opportunity-widget {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;

  .title {
    color: $text-primary;
    font-size: 22px;
    font-weight: $Medium;
    text-align: center;
  }

  .text {
    color: $text-secondary;
    font-size: 12px;
    text-align: center;
  }

  .count {
    color: $text-primary;
    font-size: 42px;
    font-weight: $Medium;
    text-align: center;
  }

  .cost {
    color: $primary;
    font-size: 18px;
    font-weight: $Medium;
    text-align: center;
  }

  .action-btn {
    display: flex;
    width: 100%;
    max-width: 400px;
    flex-wrap: wrap;

    .opp-btn {
      padding: 8px 16px;
      margin: 4px 8px;
      flex: 1;
      text-align: center;
      border-radius: 8px;
      outline: none;
      border: none;

      &.created {
        border: 1px solid $created;
        color: $created;
        background-color: rgba($created, 0.03);
      }

      &.lost {
        border: 1px solid rgba($lost, 0.1);
        color: $lost;
        background-color: rgba($lost, 0.1);
      }

      &.success {
        border: 1px solid rgba($success, 0.1);
        color: $success;
        background-color: rgba($success, 0.1);
      }
    }
  }
}

.created {
  .title,
  .count {
    color: $text-primary;
  }
  .cost {
    color: $primary;
  }
}

.success {
  .title,
  .count,
  .cost {
    color: $success;
  }
}

.lost {
  .title,
  .count,
  .cost {
    color: $lost;
  }
}

.flex-center {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.errorData {
  color: $lost;
  font-size: 18px;
}

.confetti {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
