<canvas #confetti class="confetti"></canvas>
<div
  *ngIf="!this.isLoading && !this.isError"
  class="opportunity-widget"
  [class.created]="salesType === salesTypes.CREATED"
  [class.success]="salesType === salesTypes.SUCCESSFUL"
  [class.lost]="salesType === salesTypes.LOST"
>
  <div class="title">
    {{
      "dashboard.widgets.salesOpportunity." + salesConfig.title
        | translate: { name: data?.account?.name || "" }
    }}
  </div>

  <div>
    <div class="text">
      {{
        "dashboard.widgets.salesOpportunity.totalAmountText"
          | translate
            : {
                quarter:
                  "dashboard.widgets.salesOpportunity." + quarterName
                  | translate
              }
      }}
    </div>
    <div class="count my-1">{{ data[salesConfig.count] }}</div>
    <div class="cost">
      {{ data[salesConfig.totalAmount] | formatCurrency: currency }}
    </div>
    <div class="text">
      {{
        "dashboard.widgets.salesOpportunity." +
          (isProgress ? "progress" : "decrease") | translate
      }}
      {{
        "dashboard.widgets.salesOpportunity.progressText"
          | translate
            : {
                percent:
                  getValidPercent(data[salesConfig.percent]) | number: "1.0-2"
              }
      }}
    </div>
  </div>

  <div class="action-btn">
    <button
      *ngIf="salesType !== salesTypes.CREATED"
      class="opp-btn created"
      (click)="toggleType(salesTypes.CREATED)"
    >
      {{ "dashboard.widgets.salesOpportunity.createdButton" | translate }}
    </button>
    <button
      *ngIf="salesType !== salesTypes.SUCCESSFUL"
      class="opp-btn success"
      (click)="toggleType(salesTypes.SUCCESSFUL)"
    >
      {{ "dashboard.widgets.salesOpportunity.successfulButton" | translate }}
    </button>
    <button
      *ngIf="salesType !== salesTypes.LOST"
      class="opp-btn lost"
      (click)="toggleType(salesTypes.LOST)"
    >
      {{ "dashboard.widgets.salesOpportunity.lostButton" | translate }}
    </button>
  </div>
</div>

<div *ngIf="isLoading" class="flex-center">
  <mat-spinner diameter="60"></mat-spinner>
</div>

<div *ngIf="isError" class="flex-center errorData">
  {{ "dashboard.widgets.salesOpportunity.errorData" | translate }}
</div>
