<div class="group-title">{{'manufacturersAndSuppliers.list.suppliers' | translate}}</div>

<div class="suppliers-list" (scroll)="infinityScroll.onScroll($event)">
  <div *ngFor="let supplier of infinityScroll.itemPage?.content">
    <div class="single-supplier">
      <div>{{supplier.name}}</div>
      <div class="clickable" appTooltip="DELETE" (click)="tryDelete(supplier.id)">
        <app-icon
          svgIcon="trash"
          size="18px"
          [hover]="false"
        ></app-icon> 
      </div>
    </div>
  </div>
</div>

<div class="group-tail" [ngClass]="{'right': infinityScroll.itemPage?.numberOfElements !== 0}" (click)="addSlider.open()">
  <app-icon
    svgIcon="add"
    size="18px"
    [primary]="true"
  ></app-icon> 
  {{'manufacturersAndSuppliers.list.addSupplier' | translate}}
</div>

<app-slider #addSlider [title]="'manufacturersAndSuppliers.add.addSupplier' | translate" key="ManufacturersList.AddSlider" width="30vw">
  <app-suppliers-add (added)="infinityScroll.initData()" [slider]="addSlider"></app-suppliers-add>
</app-slider>
