@import '~src/styles/colors';
@import "~src/styles/font-weights";

.group-title {
  text-align: left;
  font: $Medium 10px/16px Poppins;
  letter-spacing: 1.2px;
  color: $text-primary;
  text-transform: uppercase;
  opacity: 1;
  margin-bottom: 10px;
  margin-top: 20px;
}

.suppliers-list {
  max-height: 500px;
  overflow-y: auto;
  margin-right: 30%;
}

.single-supplier {
  color: $primary;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  width: 98%;
}

.group-tail {
  margin-top: 30px;
  margin-right: 30%;
  font-weight: $Medium;
  font-size: 12px;
  color: $primary;
  cursor: pointer;

  img {
    width: 16px;
    height: 16px;
  }
}

.right {
  float: right;
}

@media (max-height: 800px) {
  .suppliers-list {
    max-height: 250px;
  }
}
