<mat-tab-group class="board-tab-group h-100 contact-tabs" [(selectedIndex)]="selectedTabIndex">
  <mat-tab [label]="'contacts.tabs.activity' | translate">
    <app-activity-tab
      class="overflow-hidden"
      objectType="contact"
      [objectId]="contactId">
    </app-activity-tab>
  </mat-tab>
  <mat-tab [label]="'contacts.tabs.history' | translate">
    <app-history-tab
      historyType="CONTACT"
      [objectId]="contactId"
      [changedSubscription]="contactChangedSubscription"
      [fullHeight]="true">
    </app-history-tab>
  </mat-tab>
  <mat-tab [label]="'contacts.tabs.relatedOpportunities' | translate">
    <app-related-opportunities-tab
      filterStrategy="CONTACT"
      [objectId]="contactId">
    </app-related-opportunities-tab>
  </mat-tab>
</mat-tab-group>

