@import "~src/styles/form";
@import "~src/styles/colors";
@import "~src/styles/font-weights";
@import "~src/styles/icons";

.inline {
  display: flex;
  justify-content: space-between;
}

.extension-header-text {
  color: $primary;
  font-size: 13px;
  font-weight: $Medium;
  letter-spacing: 1.2px;
}

.basic-info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: ". ." ". .";
}

.first-column-input {
  width: 90%;
}

.second-column-input {
  width: 60%;
}

.amount-column-input {
  width: 45%;
}
.amount-right-column-input {
  margin-left: 10%;
  width: 45%;
}

.probability-column-input {
  width: 55%;
}
.currency-right-column-input{
  margin-left: 55%;
  width: 45%;
}
.sub-source-column-input{
  margin-left: 25%;
  width: 75%;
}

.currency-column-input {
  margin-left: 5%;
  width: 40%;
}
.owner-column-input{
  width: 65%;
}
.position-relative {
  position: relative;
}
.remove-owner {
   width: 20px;
   cursor: pointer;
   position: absolute;
   right: 16px;
   top: 16px;
 }
.owner-percentage-column-input.mat-form-field {
    width: 20%;
    color: $primary;

}
  .primary-title {
    color: $contrast;
  }

  .second-title {
    font-size: 10px;
  }

.text-area-field {
  margin-top: 30px;
  background-color: $bg-primary;
  border-color: $border-secondary;
  font-size: 13px;
  line-height: 24px;
}

.additional-input {
  display: flex;
}

.little-margin-left {
  margin-left: 10%;
}

.no-border-panel {
  box-shadow: 0 0 0 0;
}

.search-text {
  text-align: left;
  font-size: 13px;
  font-weight: $Medium;
  letter-spacing: 0;
  color: $text-title;
  opacity: 1;
}

::ng-deep .hide-underline-dots .mat-form-field-underline {
  background-image: none !important;
}



:ng-deep .category-option .mat-option-pseudo-checkbox {
  order: 2;
}

::ng-deep .category-option.mat-selected {
  @extend .category-option-selected-text
}

.category-option-text {
  text-align: left;
  font: $Medium 13px/20px Poppins;
  letter-spacing: 0;
  color: $action-color;
  opacity: 1;
}

.category-option-selected-text {
  font: $Medium 13px/20px Poppins !important;
  color: $text-title !important;;
}

.without-category-text {
  text-align: left;
  font: $Medium 13px/20px Poppins;
  letter-spacing: 0;
  color: $text-secondary;
  opacity: 1;
}

.dropdown-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: sticky;
  bottom: 0;
  background: $bg-primary;
  height: 40px;
  padding-left: 16px;
}

.add-new-category-text {
  font-size: 12px;
  font-weight: $Medium;
  color: $primary;
}

.category-header-text {
  text-align: left;
  font: $Medium 10px/16px Poppins !important;
  letter-spacing: 1.2px;
  color: $primary;
  text-transform: uppercase;
  opacity: 1;
}

::ng-deep .category-header .mat-optgroup-label {
  display: flex;
  align-items: center;
  margin: 0;
  @extend .category-header-text
}

::ng-deep .mat-select-disabled .mat-select-value-text {
  color: rgba($contrast-rgb, 0.42);
}

.additional-input .basic-info-grid {
  width: 50%;
}
.additional-input .mat-form-field {
  width: 80%;
}
.additional-input .mat-form-field .mat-form-field-wrapper {
  width: 100%;
}

$min-column: 200px;

::ng-deep.primary-icon {
  .icon {
    fill: $primary !important;
    cursor: pointer;
  }
}

.opportunity-details-container {
  height: 100%;
  width: 100%;
  overflow: auto;
  .info-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, minmax($min-column, 1fr));
    grid-template-rows: max-content 1fr;
    grid-row-gap: 24px;
    grid-column-gap: 64px;
    &-with-task {
      grid-template-columns: repeat(3, minmax($min-column, 1fr));
    }
  }
}

.task-properties {
  grid-area: 1 / 3 / 3 / 4;
}

.checkbox-container {
  height: 55.78px;
  overflow: hidden;
  ::ng-deep .mat-checkbox-label {
    white-space: normal;
  }
}

.details-column {
  display: flex;
  flex-direction: column;
  & > * {
    max-width: 400px;
  }
  &-with-task {
    & > * {
      max-width: 350px;
    }
  }
}

.placeholder {
  color: $text-secondary;
  font-size: 13px;
  font-weight: $Medium;
}

.lead-info-container {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: ". . ." ". . ." ". . ." ". . ." ". . .";
}

.lead-info-container mat-form-field {
  width: 90%;
}

.lead-address-and-notes-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". . .";
}

.lead-address-and-notes-container mat-form-field {
  width: 90%;
}

.extension-header-text {
  margin: 15px 0;
  color: $primary;
  font-size: 13px;
  font-weight: $Medium;
  letter-spacing: 1.56px;
  text-transform: uppercase;
}

.notes-position {
  grid-area: 7 / 1 / 7 / 3;
}

.notes-text {
  font-size: 12px;
  font-weight: $Medium;
  color: $action-color;
}

.company-address {
  display: flex;
  justify-content: space-between;
}

.company-address .mat-input-element:disabled {
  color: $primary;
}

::ng-deep [bluevalue] .mat-select-value-text {
  color: $primary;
}
::ng-deep [greenValue] .mat-select-value-text {
  color: $event-title;
  font-weight: $Bold;
}

::ng-deep .category-option .mat-option-pseudo-checkbox {
  order: 2;
}

::ng-deep .category-option.mat-selected {
  @extend .category-option-selected-text;
}

.category-option-text {
  text-align: left;
  font: $Medium 13px/20px Poppins;
  letter-spacing: 0;
  color: $action-color;
  opacity: 1;
}

.add-new-owner{
  display: flex;
  align-items: center;
  color: $primary;
  cursor: pointer;
}

.category-option-selected-text {
  font: $Medium 13px/20px Poppins !important;
  color: $text-title !important;;
}

.without-category-text {
  text-align: left;
  font: $Medium 13px/20px Poppins;
  letter-spacing: 0;
  color: $text-secondary;
  opacity: 1;
}

.dropdown-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: sticky;
  bottom: 0;
  background: $bg-primary;
  height: 40px;
  padding-left: 16px;
}

.add-new-category-text {
  font-size: 12px;
  font-weight: $Medium;
  color: $primary;
}

.category-header-text {
  text-align: left;
  font: $Medium 10px/16px Poppins !important;
  letter-spacing: 1.2px;
  color: $primary;
  text-transform: uppercase;
  opacity: 1;
}

::ng-deep .category-header .mat-optgroup-label {
  display: flex;
  align-items: center;
  margin: 0;
  @extend .category-header-text;
}

.checkbox-padding-top {
  padding-top: 1.34375em;
}
::ng-deep .custom-calendar-icon .mat-button-wrapper > svg {
  display: none;
}

::ng-deep .custom-calendar-icon .mat-button-wrapper::after {
  content: url("~src/assets/icons/common/colors/dark/calendar-dark.svg");
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: 3px  !important;
  right: 0;
}

::ng-deep[theme="dark"] .custom-calendar-icon .mat-button-wrapper::after {
  content: url("~src/assets/icons/common/colors/light/calendar-light.svg");
}
