<div class="opportunity-details-container">
  <div class="info-container"
       [class.info-container-with-task]="isTaskProperties">
    <div>
      <ng-container [ngTemplateOutlet]="column1"></ng-container>
    </div>
    <div>
      <ng-container [ngTemplateOutlet]="column2"></ng-container>
    </div>
    <div *ngIf="isTaskProperties" class="task-properties">
      <ng-container [ngTemplateOutlet]="taskProperties"></ng-container>
    </div>
  </div>
</div>

<ng-template #taskProperties>
  <div class="details-column"
       [class.details-column-with-task]="isTaskProperties">
    <ng-content></ng-content>
  </div>
</ng-template>

<app-slider
  #customerAddSlider
  width="40vw"
  [title]="'customer.form.addTitle' | translate"
  key="OpportunityDetails.AddCustomerSlider"
  [moreInfoVisible]="true">
  <app-customer-add
    [slider]="customerAddSlider"
    (customerAdded)="
      customerSelect({
        id: $event.id,
        type: objectType.customer,
        label: $event.label
      })">
  </app-customer-add>
</app-slider>

<app-slider
  #newContact
  width="34vw"
  group="sharedCustomerForm"
  [title]="'contacts.link.newContactSliderTitle' | translate"
  key="AddContactLink.NewContactSlider">
  <app-contact-add
    (contactAdded)="
      getContactsForCustomer(this.customerId?.value);
      contactSelected(contactToCrmObject($event))"
    [slider]="newContact"
    [customer]="selectedCustomer">
  </app-contact-add>
</app-slider>

<app-slider
  #addSourceOfAcquisitionSlider
  [title]="'opportunity.form.addSourceOfAcquisition' | translate"
  [closeByCross]="false"
  key="DictionaryForm.AddDictionaryWordSlider"
  width="40vw">
  <app-dictionary-add-word
    #addSourceOfAcquisitionWord
    [parentWordId]="null"
    [dictionaryId]="dictionaryId.SOURCE_OF_ACQUISITION"
    (canceled)="onCancelAddSourceOfAcquisitionSlider()"
    (wordAdded)="onSubmitAddSourceOfAcquisitionSlider($event)">
  </app-dictionary-add-word>
</app-slider>

<app-slider
  #addSubSourceOfAcquisitionSlider
  [title]="'opportunity.form.addSubSourceOfAcquisition' | translate"
  [closeByCross]="false"
  key="DictionaryForm.AddDictionaryWordSlider"
  width="40vw">
  <app-dictionary-add-word
    #addSubSourceOfAcquisitionWord
    [parentWordId]="parentWordIdForCreation"
    [dictionaryId]="dictionaryId.SOURCE_OF_ACQUISITION"
    (canceled)="onCancelAddSubSourceOfAcquisitionSlider()"
    (wordAdded)="onSubmitAddSubSourceOfAcquisitionSlider($event)">
  </app-dictionary-add-word>
</app-slider>

<app-slider
  #addSubjectOfInterestSlider
  [title]="'opportunity.details.card.addNewSubjectOfInterest' | translate"
  [closeByCross]="false"
  key="DictionaryForm.AddDictionaryWordSlider"
  width="40vw"
  [group]="'opportunityDetailsForm'">
  <app-dictionary-add-word
    #addSubjectOfInterestWord
    [parentWordId]="null"
    [dictionaryId]="dictionaryId.SUBJECT_OF_INTEREST"
    (canceled)="onCancelAddSubjectOfInterestSlider()"
    (wordAdded)="onSubmitAddSubjectOfInterestSlider($event)">
  </app-dictionary-add-word>
</app-slider>

<ng-template #column1>
  <div [formGroup]="opportunityDetailsForm"
       class="details-column"
       [class.details-column-with-task]="isTaskProperties">
    <mat-form-field *ngIf="authKey + 'name' | auth: 'i':true">
      <input
        matInput
        formControlName="name"
        (focusin)="formControlFocusIn('name')"
        (focusout)="formControlFocusOut()"
        (keyup.escape)="formControlEsc()"/>
      <mat-placeholder>
        {{ "opportunity.details.card.name" | translate }}
      </mat-placeholder>
      <mat-error *ngIf="name.hasError('required')">
        {{ "opportunity.form.fieldRequired" | translate }}
      </mat-error>
      <mat-error *ngIf="name.hasError('whitespace')">
        {{ "sharedValidators.whitespace" | translate }}
      </mat-error>
      <mat-error *ngIf="name.hasError('maxlength')">
        {{ "sharedValidators.valueTooLong" | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field
      *ngIf="authKey + 'customer' | auth: 'i':true">
      <mat-label>
        {{ "opportunity.details.card.customerName" | translate }}
      </mat-label>
      <span class="inline">
              <input
                matInput
                (keyup.arrowDown)="customerSearch.showPanel = true"
                formControlName="customerSearch"
                [matAutocomplete]="customerSearch"
                [placeholder]="'opportunity.details.card.write3CharToSearch' | translate"/>
              <app-icon
                *ngIf="customerId.value!==null || customerId.value!==undefined "
                svgIcon="external"
                [hover]="true"
                [primary]="true"
                (click)="$event.stopPropagation();openCustomerPage($event)"
                [pointer]="true"
                size="16px"
                class="pr-1">
              </app-icon>
            </span>
      <mat-autocomplete
        #customerSearch="matAutocomplete"
        (optionSelected)="customerSelect($event.option.value)">
        <mat-option
          *ngFor="let object of filteredCustomers"
          [value]="object"
          class="single-line-option">
          <div class="search-result-text">{{ object.label }}</div>
        </mat-option>
        <mat-option
          [value]="undefined"
          class="single-line-option"
          *ngIf="'CustomerAddComponent.save' | auth: 'w'"
          (click)="customerAddSlider.open()">
          <app-icon svgIcon="plus" [hover]="false"></app-icon>
          {{ "opportunity.form.addNewCustomer" | translate }}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="customerId.hasError('required')">
        {{ "opportunity.form.fieldRequired" | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field style="margin-bottom: 20px"
                    *ngIf="authKey + 'contact' | auth: 'i':true">
      <mat-label>
        {{ "opportunity.details.card.contactName" | translate }}
      </mat-label>
      <span class="inline">
              <input
                matInput
                [placeholder]="'opportunity.details.card.write3CharToSearch' | translate"
                (keyup.arrowDown)="contactSearch.showPanel = true"
                formControlName="contactSearch"
                [matAutocomplete]="contactSearch"/>
          <app-icon
            *ngIf="contactId.value!==null || contactId.value!==undefined "
            svgIcon="external"
            [hover]="true"
            [primary]="true"
            (click)="$event.stopPropagation(); openContactPage($event)"
            [pointer]="true"
            size="16px"
            class="pr-1">
          </app-icon>

            </span>
      <mat-autocomplete
        #contactSearch="matAutocomplete"
        (optionSelected)="contactSelected($event.option.value)">
        <mat-option
          *ngFor="let contact of filteredContacts"
          [value]="contact"
          class="single-line-option">
          <div class="search-result-text">{{ contact.label }}</div>
        </mat-option>
        <mat-option
          [value]="undefined"
          class="single-line-option search-text"
          (click)="newContact.open()">
          <app-icon svgIcon="plus" [hover]="false"></app-icon>
          {{ "contacts.link.newContact" | translate }}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="contactId.hasError('required')">
        {{ "opportunity.form.fieldRequired" | translate }}
      </mat-error>
      <mat-hint *ngIf="!contactId.hasError('required') && selectedContactInfo">
          <span *ngIf="selectedContactInfo?.position"
                class="second-title">
            {{ selectedContactInfo.position }}
          </span>
        <span class="second-title" *ngIf="selectedContactInfo?.phone">
            T: {{ selectedContactInfo.phone }}
          </span>
        <span class="second-title" *ngIf="selectedContactInfo?.email">
            {{selectedContactInfo.email}}
          </span>
      </mat-hint>
    </mat-form-field>
    <div>
      <mat-form-field
        class="amount-column-input"
        *ngIf="'OpportunityDetailsCardComponent.amount' | auth: 'i':true">
        <input
          matInput
          formControlName="amount"
          (focusin)="formControlFocusIn('amount')"
          (focusout)="formControlFocusOut()"
          mask="separator.2"
          [validation]="false"
          (keyup.escape)="formControlEsc()"/>
        <mat-placeholder>
          {{ "opportunity.details.card.amount" | translate }}
        </mat-placeholder>
        <mat-error *ngIf="amount.hasError('maxlength')">
          {{ "sharedValidators.valueTooLong" | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field
        class="amount-right-column-input"
        *ngIf="'OpportunityDetailsCardComponent.estimatedAmount' | auth: 'i':true">
        <input
          matInput
          formControlName="estimatedAmount"
          (focusin)="formControlFocusIn('estimatedAmount')"
          (focusout)="formControlFocusOut()"
          mask="separator.2"
          [validation]="false"
          (keyup.escape)="formControlEsc()"/>
        <mat-placeholder>
          {{ "opportunity.details.card.estimatedAmount" | translate }}
        </mat-placeholder>
        <mat-error *ngIf="amount.hasError('maxlength')">
          {{ "sharedValidators.valueTooLong" | translate }}
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field
        class="amount-column-input"
        disabled
        *ngIf="'OpportunityDetailsCardComponent.productAmount' | auth: 'i':true">
        <input
          matInput
          formControlName="productAmount"
          mask="separator.2"
          disabled
          [validation]="false"/>
        <mat-placeholder>
          {{ "opportunity.details.card.productAmount" | translate }}
        </mat-placeholder>
      </mat-form-field>

      <mat-form-field
        class="amount-right-column-input"
        *ngIf="'OpportunityDetailsCardComponent.profitAmount' | auth: 'i':true">
        <input
          matInput
          disabled
          formControlName="profitAmount"
          mask="separator.2"
          [validation]="false"/>
        <mat-placeholder>
          {{ "opportunity.details.card.profitAmount" | translate }}
        </mat-placeholder>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field
        class="currency-right-column-input"
        *ngIf="'OpportunityDetailsCardComponent.currency' | auth: 'i':true">
        <mat-select
          formControlName="currency"
          (opened)="formControlFocusIn('currency')"
          (valueChange)="formControlFocusOut($event)">
          <mat-option
            *ngFor="let currency of currencies"
            [value]="currency">
            {{ currency | getCurrencySymbol }}
          </mat-option>
        </mat-select>
        <mat-placeholder>
          {{ "opportunity.details.card.currency" | translate }}
        </mat-placeholder>
      </mat-form-field>
    </div>
  </div>
</ng-template>

<ng-template #column2>
  <div
    [formGroup]="opportunityDetailsForm"
    class="details-column"
    [class.details-column-with-task]="isTaskProperties">
    <div>
      <mat-form-field
        class="probability-column-input"
        *ngIf="'OpportunityDetailsCardComponent.probability' | auth: 'i':true">
        <input
          matInput
          formControlName="probability"
          mask="099"
          (focusin)="formControlFocusIn('probability')"
          (focusout)="formControlFocusOut()"
          (keyup.escape)="formControlEsc()"/>
        <mat-placeholder>{{ "opportunity.details.card.probability" | translate }}</mat-placeholder>
        <mat-error *ngIf="probability.hasError('min') || probability.hasError('max')">
          {{ "opportunity.form.minMaxValue" | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="currency-column-input"
                      *ngIf="'OpportunityDetailsCardComponent.finishDate' | auth: 'i':true">
        <input
          matInput
          [matDatepicker]="finishDatePicker"
          [placeholder]="'opportunity.details.card.finishDate' | translate"
          [min]="createDateDate"
          formControlName="finishDate"/>
        <mat-datepicker-toggle
          matSuffix
          [for]="finishDatePicker"
          class="custom-calendar-icon">
        </mat-datepicker-toggle>
        <mat-datepicker #finishDatePicker (closed)="finishDateSelected($event)"></mat-datepicker>
      </mat-form-field>
    </div>
    <mat-form-field *ngIf="authKey +'processDefinitionField' | auth: 'i':true">
      <mat-select
        formControlName="processDefinitionId"
        #processDefinitionIdSelect
        greenValue
        (focusin)="formControlFocusIn('processDefinitionId')"
        (valueChange)="formControlFocusOutSourceOfAcquisition($event)"
        (keyup.escape)="formControlEsc()"
        panelClass="dropdown-w-100">
        <mat-option
          *ngFor="let process of mainProcessDefinitionId"
          #categoryOption
          class="category-option category-option-text"
          [value]="process?.id">
          {{ process?.name }}
          <span *ngIf="process?.version !== 1">
                  ({{ "opportunity.details.card.processVersion" | translate }}
            {{ process?.version }})
                </span>
        </mat-option>
      </mat-select>
      <mat-placeholder class="placeholder">
        {{ "opportunity.details.card.processDefinition" | translate }}</mat-placeholder>
      <mat-error *ngIf="processDefinitionId.hasError('required')">
        {{ "opportunity.form.fieldRequired" | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field
      *ngIf="authKey +'sourceOfAcquisition' | auth: 'i':true">
      <mat-select
        formControlName="sourceOfAcquisition"
        #sourceOfAcquisitionSelect
        (focusin)="formControlFocusIn('sourceOfAcquisition')"
        (valueChange)="formControlFocusOutSourceOfAcquisition($event)"
        (keyup.escape)="formControlEsc()"
        panelClass="dropdown-w-100">
        <mat-option
          #noCategoryOption
          class="category-option without-category-text"
          [value]="undefinedCategoryId">
          {{ "opportunity.form.withoutCategory" | translate }}
        </mat-option>
        <mat-option
          *ngFor="let category of allSourceOfAcquisition"
          #categoryOption
          class="category-option category-option-text"
          [value]="category.id">
          {{ category?.name }}
        </mat-option>
        <div class="dropdown-footer"
             *ngIf="'OpportunityShared.addSourceOfAcquisition' | auth: 'w'">
          <app-icon svgIcon="plus" [primary]="false"></app-icon>
          <div class="add-new-category-text clickable"
               (click)="openAddSourceOfAcquisitionSlider(sourceOfAcquisitionSelect)">
            {{ "opportunity.form.addSourceOfAcquisition" | translate }}
          </div>
        </div>
      </mat-select>
      <mat-placeholder class="placeholder">
        {{ "opportunity.form.sourceOfAcquisition" | translate }}</mat-placeholder>
    </mat-form-field>
    <div>
      <mat-form-field
        class="sub-source-column-input"
        *ngIf="authKey +'sourceOfAcquisition' | auth: 'i':true">
        <mat-select
          formControlName="subSourceOfAcquisition"
          #sourceOfAcquisitionSubcategorySelect
          (focusin)="formControlFocusIn('subSourceOfAcquisition')"
          (valueChange)="formControlFocusOutSubSourceOfAcquisition($event)"
          (keyup.escape)="formControlEsc()"
          panelClass="dropdown-w-100">
          <mat-option
            #noSubcategoryOption
            class="category-option without-category-text"
            [value]="undefinedCategoryId">
            {{ "opportunity.form.withoutSubCategory" | translate }}
          </mat-option>
          <mat-optgroup
            class="category-header"
            *ngFor="let category of allSubSourceOfAcquisition"
            [label]="category.name">
            <ng-container *ngFor="let subcategory of category.children">
              <mat-option
                [value]="subcategory.id"
                class="category-option category-option-text">
                <div class="ml-3">{{ subcategory.name }}</div>
              </mat-option>
            </ng-container>
          </mat-optgroup>
          <div class="dropdown-footer"
               *ngIf="'OpportunityShared.addSourceOfAcquisition' | auth: 'w'">
            <app-icon svgIcon="plus" [primary]="false"></app-icon>
            <div class="add-new-category-text clickable"
                 (click)="openAddSubSourceOfAcquisitionSlider(sourceOfAcquisitionSubcategorySelect)">
              {{ "opportunity.form.addSubSourceOfAcquisition" | translate }}
            </div>
          </div>
        </mat-select>
        <mat-placeholder class="placeholder">
          {{ "opportunity.form.subSourceOfAcquisition" | translate }}</mat-placeholder>
      </mat-form-field>
    </div>
    <mat-form-field
      *ngIf="authKey +'subjectOfInterest' | auth: 'i':true">
      <mat-select
        formControlName="subjectOfInterest"
        #subjectOfInterestSelect
        (focusin)="formControlFocusIn('subjectOfInterest')"
        (valueChange)="formControlFocusOut($event)"
        (keyup.escape)="formControlEsc()"
        tabIndex="120">
        <mat-option
          #noCategoryOption
          class="category-option without-category-text"
          [value]="undefinedCategoryId">
          {{ "opportunity.details.card.withoutCategory" | translate }}
        </mat-option>
        <mat-option
          *ngFor="let category of allSubjectOfInterest"
          #categoryOption
          class="category-option category-option-text"
          [value]="category.id">
          {{ category?.name }}
        </mat-option>
        <div
          class="dropdown-footer"
          *ngIf="'OpportunityShared.addSubjectOfInterest' | auth: 'w'">
          <app-icon svgIcon="plus" [primary]="true"></app-icon>
          <div class="add-new-category-text clickable"
               (click)="openAddSubjectOfInterestSlider(subjectOfInterestSelect)">
            {{ "opportunity.details.card.addNewSubjectOfInterest" | translate }}
          </div>
        </div>
      </mat-select>
      <mat-placeholder>
        {{ "opportunity.details.card.subjectOfInterest" | translate }}
      </mat-placeholder>
    </mat-form-field>
    <div>
      <ng-container
        *ngIf="authKey + 'ownerField' | auth: 'i':true"
        [ngTemplateOutlet]="accountSelect"
        [ngTemplateOutletContext]="{ index: 1 }">
      </ng-container>
      <ng-container
        *ngIf="authKey + 'ownerField' | auth: 'i':true"
        [ngTemplateOutlet]="accountSelect"
        [ngTemplateOutletContext]="{ index: 2 }">
      </ng-container>
      <ng-container
        *ngIf="authKey + 'ownerField' | auth: 'i':true"
        [ngTemplateOutlet]="accountSelect"
        [ngTemplateOutletContext]="{ index: 3 }">
      </ng-container>
      <div class="pl-3 mb-2" *ngIf="percentageSumError && (authKey + 'ownerField' | auth: 'w')">
        <mat-error>
          {{ "opportunity.form.ownerPercentSumError" | translate }}
        </mat-error>
      </div>
      <div *ngIf="ownerVisibleCount < 3 && (authKey + 'ownerField' | auth: 'w')">
        <div class="add-new-owner" (click)="addNewOwner()">
          <app-icon svgIcon="add" [primary]="true"></app-icon>
          <span class="ml-2">
            {{ "opportunity.form.addNewOwner" | translate }}
          </span>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #accountSelect let-index="index">
  <div [formGroup]="opportunityDetailsForm"
       *ngIf="index <= ownerVisibleCount" class="position-relative">
    <mat-form-field class=" owner-column-input">
      <input
        matInput
        [placeholder]="'opportunity.form.owner' | translate"
        (keyup.arrowDown)="ownerSearch.showPanel = true"
        formControlName="{{ getOwnerFormControlNameByIndexAndName(index, 'Search') }}"
        [matAutocomplete]="ownerSearch"/>
      <mat-autocomplete
        #ownerSearch="matAutocomplete"
        (optionSelected)="ownerSelect($event.option, index)">
        <mat-option
          *ngFor="let account of filteredAccounts.get(index)"
          [value]="account"
          class="single-line-option">
          <div class="search-result-text">
            {{ account.name }} {{ account.surname }}
          </div>
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="getOwnerSearchByIndex(index).hasError('required')">
        {{ "opportunity.form.fieldRequired" | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="pl-2 owner-percentage-column-input">
      <mat-select blueValue
                  formControlName="{{ getOwnerFormControlNameByIndexAndName(index, 'Percentage') }}"
                  (selectionChange)="ownerPercentageSelect($event, index)">
        <mat-option
          *ngFor=" let percentage of [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]"
          [value]="percentage">
          {{ percentage }}%
        </mat-option>
      </mat-select>
      <mat-placeholder class="placeholder">
        {{ "opportunity.form.percentage" | translate }}
      </mat-placeholder>
      <mat-error *ngIf="getOwnerPercentageByIndex(index).hasError('min')">
        {{ "opportunity.form.minValue" | translate }}
      </mat-error>
      <mat-error *ngIf="getOwnerPercentageByIndex(index).hasError('required')">
        {{ "opportunity.form.fieldRequired" | translate }}
      </mat-error>
      <mat-error *ngIf="getOwnerPercentageByIndex(index).hasError('max')">
        {{ "opportunity.form.maxValue" | translate }}
      </mat-error>
    </mat-form-field>
    <app-icon
      *ngIf="ownerVisibleCount > 1 && (authKey + 'ownerField' | auth: 'w')"
      (click)="removeOwner(index)"
      svgIcon="trash"
      [hover]="false"
      size="20px"
      class="remove-owner">
    </app-icon>
  </div>
</ng-template>

