<form [formGroup]="goalWidgetForm">
  <div>
    <mat-form-field class="w-100">
      <mat-select formControlName="category" required>
        <mat-option *ngFor="let category of (goalCategoryEnum | enumToList)"
                    [value]="category">{{('goal.shared.category.' + (category | lowercase)) | translate}}</mat-option>
      </mat-select>
      <mat-placeholder class="placeholder">{{'widgetConfigurator.category' | translate}}</mat-placeholder>
      <mat-error *ngIf="category.hasError('required')">
        {{'widgetConfigurator.fieldRequired' | translate}}
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="w-100">
      <mat-select formControlName="type" required>
        <mat-option *ngFor="let type of goalAvailableTypes"
                    [value]="type">{{('goal.shared.type.' + (type | lowercase)) | translate}}</mat-option>
      </mat-select>
      <mat-placeholder class="placeholder">{{'widgetConfigurator.type' | translate}}</mat-placeholder>
      <mat-error *ngIf="type.hasError('required')">
        {{'widgetConfigurator.fieldRequired' | translate}}
      </mat-error>
      <mat-error *ngIf="type.hasError('noGoals')">
        {{'widgetConfigurator.noGoalsForType' | translate}}
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="w-100">
      <mat-select formControlName="goal" required>
        <mat-option *ngFor="let goal of goalsByType"
                    [value]="goal.id">{{goal.name}}</mat-option>
      </mat-select>
      <mat-placeholder class="placeholder">{{'widgetConfigurator.name' | translate}}</mat-placeholder>
      <mat-error *ngIf="goal.hasError('required')">
        {{'widgetConfigurator.fieldRequired' | translate}}
      </mat-error>
    </mat-form-field>
  </div>

  <app-chart-type-select [value]="chartType.value" (selectionChanged)="changeChartType($event)"></app-chart-type-select>


  <div *ngIf="userGoals.length > 0">
    <table class="user-goals-table">
      <tr>
        <th>{{'widgetConfigurator.userName' | translate}}</th>
        <th>{{'widgetConfigurator.goal' | translate}}</th>
      </tr>
      <tr *ngFor="let ug of userGoals">
        <td>
          <mat-checkbox class="crm-checkbox mr-2" color="primary"
                        (change)="changeParticipants(ug.userId, false, $event)"></mat-checkbox>
          <span>{{ userMap.get(ug.userId) }}</span>
        </td>
        <td>
          <mat-checkbox class="crm-checkbox" color="primary"
                        (change)="changeParticipants(ug.userId, true, $event)"></mat-checkbox>
        </td>
      </tr>
    </table>

    <div *ngIf="participants.length === 0" class="mat-error">
      {{'widgetConfigurator.participantsRequired' | translate}}
    </div>
  </div>
</form>
