@import "~src/styles/form";
@import "~src/styles/colors";
@import "~src/styles/font-weights";

.icon-container {
  width: 40px;
  height: 40px;
}

.user-goals-table {
  margin: 15px 0;
  width: 100%;
}

.user-goals-table th, .user-goals-table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid $border-primary;
}
