@import "~src/styles/form";
@import "~src/styles/colors";
@import "~src/styles/font-weights";

.all-line-input > .mat-form-field {
  width: 100%;
  padding-right: 10px;
}

.smaller-input > .mat-form-field {
  width: 60%;
  padding-right: 10px;
}

.default-margin {
  margin: 0 10px;
}

::ng-deep .custom-calendar-icon .mat-button-wrapper > svg {
  display: none;
}

::ng-deep .custom-calendar-icon .mat-button-wrapper::after {
  content: url("~src/assets/icons/common/colors/dark/calendar-dark.svg");
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: 3px !important;
  right: 0;
}

::ng-deep[theme="dark"] .custom-calendar-icon .mat-button-wrapper::after {
  content: url("~src/assets/icons/common/colors/light/calendar-light.svg");
}

.amount-line {
  display: flex;
  justify-content: space-between;
}

.amount-input {
  width: 60%;
}

.currency-input {
  width: 70px;
  margin-right: 10px;
}


.form-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .upper-container {
    flex-grow: 1
  }
}

.lower-container {
  display: flex;
}

.assign-text {
  text-align: center;
  font: $Medium 14px/21px Poppins;
  letter-spacing: 0;
  color: $primary;
  opacity: 1;
}

.activity-container {
  margin-top: 20px;
}


.assigned-to-text {
  font-size: 12px;
  font-weight: $Medium;
  color: $action-color;
}

.selected-activity-header {
  font-size: 13px;
  font-weight: $Medium;
  color: $text-title;
  word-break: break-word;
}

.selected-activity-description {
  font-size: 12px;
  font-weight: $Medium;
  color: $text-secondary;
  letter-spacing: 1.8px;
  word-break: break-word;
}

.activity-icon {
  min-width: 36px;
  margin-right: 20px;
}

.trash-icon {
  width: 20px;
  margin-right: 20px;
  margin-left: 20px;
  cursor: pointer;
}

.exceedThresholdText {
  text-align: left;
  font: $Medium 10px/16px Poppins;
  letter-spacing: 0;
  color: $yellow-exceed;
  opacity: 1;
}

.exceedThresholdNote {
  text-align: left;
  font: $Medium 10px/16px Poppins;
  letter-spacing: 0;
  color: $text-secondary;
  opacity: 0.62;
}
