<form [formGroup]="expenseForm" class="form-container">
  <div class="upper-container">
    <div class="all-line-input default-margin">
      <mat-form-field *ngIf="authKey + 'name' | auth: 'i':true">
        <input formControlName="name" matInput />
        <mat-placeholder class="placeholder">{{
          "expenses.add.name" | translate
        }}</mat-placeholder>
        <mat-error *ngIf="name.hasError('required')">
          {{ "expenses.add.fieldRequired" | translate }}
        </mat-error>
        <mat-error *ngIf="name.hasError('whitespace')">
          {{ "sharedValidators.whitespace" | translate }}
        </mat-error>
        <mat-error *ngIf="name.hasError('maxlength')">
          {{ "sharedValidators.valueTooLong" | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="all-line-input default-margin">
      <mat-form-field *ngIf="authKey + 'description' | auth: 'i':true">
        <input formControlName="description" matInput />
        <mat-placeholder class="placeholder">{{
          "expenses.add.description" | translate
        }}</mat-placeholder>
        <mat-error *ngIf="description.hasError('maxlength')">
          {{ "sharedValidators.valueTooLong" | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="smaller-input default-margin">
      <mat-form-field *ngIf="authKey + 'date' | auth: 'i':true">
        <input
          matInput
          [matDatepicker]="datePicker"
          [placeholder]="'expenses.add.date' | translate"
          formControlName="date"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="datePicker"
          class="custom-calendar-icon"
        ></mat-datepicker-toggle>
        <mat-datepicker #datePicker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="amount-line default-margin">
      <div class="amount-input">
        <mat-form-field class="w-100">
          <input
            formControlName="amount"
            matInput
            type="text"
            mask="separator.2"
            [validation]="false"
          />
          <mat-placeholder class="placeholder">{{
            "expenses.add.amount" | translate
          }}</mat-placeholder>
          <mat-error *ngIf="amount.hasError('required')">
            {{ "expenses.add.fieldRequired" | translate }}
          </mat-error>
          <mat-error *ngIf="amount.hasError('min')">
            {{ "expenses.add.minValue" | translate }}
          </mat-error>
        </mat-form-field>
        <div *ngIf="amount['warnings']?.isOverThreshold">
          <div class="exceedThresholdText">
            {{ "expenses.list.amountThresholdExceeded" | translate }}
          </div>
          <div class="exceedThresholdNote">
            {{ "expenses.list.amountThresholdExceededNote" | translate }}
          </div>
        </div>
      </div>

      <mat-form-field class="currency-input">
        <mat-select formControlName="currency">
          <mat-option *ngFor="let currency of currencies" [value]="currency">{{
            currency | getCurrencySymbol
          }}</mat-option>
        </mat-select>
        <mat-placeholder class="placeholder">{{
          "expenses.add.currency" | translate
        }}</mat-placeholder>
        <mat-error *ngIf="currency.hasError('required')">
          {{ "expenses.add.fieldRequired" | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="all-line-input default-margin">
      <mat-form-field *ngIf="authKey + 'type' | auth: 'i':true">
        <mat-select formControlName="type">
          <mat-option *ngFor="let type of expenseTypes" [value]="type">{{
            "expenses.add.types." + (type | lowercase) | translate
          }}</mat-option>
        </mat-select>
        <mat-placeholder class="placeholder">{{
          "expenses.add.type" | translate
        }}</mat-placeholder>
      </mat-form-field>
    </div>

    <div class="all-line-input default-margin">
      <mat-form-field *ngIf="authKey + 'responsible' | auth: 'i':true">
        <mat-select formControlName="responsibleId">
          <mat-option *ngFor="let user of accountEmails" [value]="user?.id"
            >{{ user?.name }} {{ user?.surname }}</mat-option
          >
        </mat-select>
        <mat-placeholder class="placeholder">{{
          "expenses.add.responsible" | translate
        }}</mat-placeholder>
      </mat-form-field>
    </div>

    <div
      class="activity-container"
      *ngIf="selectedActivity && (authKey + 'activity' | auth: 'i':true)"
    >
      <div class="d-flex">
        <app-icon svgIcon="pin" [hover]="false" class="mr-2"></app-icon>

        <div class="assigned-to-text">
          {{ "expenses.add.assignedTo" | translate }}
        </div>
      </div>

      <div class="d-flex mt-2">
        <img
          class="activity-icon"
          src="assets/icons/calendar/{{
            selectedActivity?.activityType | lowercase
          }}-activity.svg"
        />
        <div class="flex-grow-1">
          <div class="selected-activity-header">
            {{ selectedActivity?.subject }}
          </div>
          <div
            *ngIf="selectedActivity?.description"
            class="selected-activity-description"
          >
            {{ selectedActivity?.description }}
          </div>
        </div>
        <img
          class="trash-icon"
          appTooltip="DELETE"
          src="assets/icons/trash_icon.svg"
          (click)="removeSelectedActivity()"
          *ngIf="!_readOnly"
        />
      </div>
    </div>
  </div>
  <div
    class="lower-container"
    *ngIf="(authKey + 'activity' | auth: 'i':true) && !_readOnly"
  >
    <button
      class="btn-transparent d-flex"
      (click)="openActivitySlider()"
      type="button"
    >
      <img class="mr-2" src="assets/icons/pin-blue.svg" />
      <div class="assign-text">{{ "expenses.add.assignTo" | translate }}</div>
    </button>
  </div>
</form>

<app-slider
  [width]="'30vw'"
  [title]="'expenses.add.activities' | translate"
  key="expenseActivityListSlider"
  #expenseActivityListSlider
  group="expenseSliderGroup"
>
  <app-activity-list
    [crmObject]="object"
    [slider]="expenseActivityListSlider"
    (activitySelected)="onActivitySelection($event)"
  ></app-activity-list>
</app-slider>
