<div class="w-100 h-100 card-padding">
  <mat-card class="mat-elevation-z0 main-mat-card mat-card  card-border-radius no-bottom-border-radius ">

    <app-person-form [update]=true
                     [account]="account"></app-person-form>
  </mat-card>


  <div class="button-container">
    <mat-card class="mat-elevation-z0 card-border-radius no-top-border-radius">
      <div class="row">
        <div class="col-md-12">
          <div class="pull-right">
            <button mat-raised-button
                    class="mr-2"
                    *ngIf="'PersonDetailComponent.addForm' | auth:'w'"
                    (click)="personFormComponent.addAdditionalField()">
              <span><span class="fa fa-plus"></span> {{'person.detail.buttons.addField' | translate}}</span>
            </button>
            <button mat-raised-button
                    class="mr-2"
                    *ngIf="!account?.isActivated && 'PersonDetailComponent.sendActivationLink' | auth:'w'"
                    (click)="sendActivationLink()">
              <span><span
                class="fa fa-envelope"></span> {{'person.detail.buttons.sendActivationLink' | translate}}</span>
            </button>
            <button mat-raised-button
                    class="mr-2"
                    *ngIf="'PersonDetailComponent.changeActivated' | auth:'w'"
                    (click)="changeActivated()">
        <span *ngIf="!account?.isActivated"><span
          class="fa fa-unlock"></span> {{'person.detail.buttons.unlock' | translate}}</span>
              <span *ngIf="account?.isActivated"><span
                class="fa fa-lock"></span> {{'person.detail.buttons.lock' | translate}}</span>
            </button>
            <button mat-raised-button
                    *ngIf="'PersonDetailComponent.submitForm' | auth:'w'"
                    color="primary"
                    (click)="submitForm()"
                    [disabled]="saveButtonDisabled">
              <span class="fa fa-floppy-o"></span> {{'person.detail.buttons.save' | translate}}
            </button>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
