@import "~mapbox-gl/dist/mapbox-gl.css";
@import "~@mapbox/mapbox-gl-geocoder/lib/mapbox-gl-geocoder.css";
@import "~src/styles/table";

// Encapsulation none
.mapbox-map-view {
  width: 100%;
  height: 100%;
  border-radius: 8px !important;
}
