<mgl-map *ngIf="showMap" class="mapbox-map-view" (dblClick)="mapClick($event)" [style]="mgLayerConfig.mapStyle"
         [zoom]="[zoom]" [center]="mapCenter" [doubleClickZoom]="false">

  <mgl-control mglGeolocate showUserLocation="true"></mgl-control>
  <mgl-control mglFullscreen></mgl-control>
  <mgl-control mglNavigation showCompass="true" showZoom="true"></mgl-control>

  <ng-container *ngFor="let marker of markers">
    <mgl-marker #myMarker [lngLat]="[marker.longitude, marker.latitude]" [draggable]="marker.draggable" (dragEnd)="markerDragEnd($event)"></mgl-marker>
    <mgl-popup [marker]="myMarker">{{marker.popup | translate}}</mgl-popup>
  </ng-container>

  <ng-container *ngIf="geoSource">
    <mgl-layer id="route" type="line"
               [source]="geoSource"
               [layout]="mgLayerConfig.layout"
               [paint]="mgLayerConfig.paint">
    </mgl-layer>
  </ng-container>

</mgl-map>
