@import '~src/styles/colors';
@import '~src/styles/table';

.table-container {
  padding: 20px 32px;
}

::ng-deep.body-h-100 .mat-tab-body-wrapper {
  height: 100%;
}

::ng-deep .global-configuration-slider-fix {
  .mat-tab-header-pagination {
    z-index: auto !important;
  }
  .global-config-tab-group > .mat-tab-body-wrapper > .mat-tab-body#mat-tab-content-1-7 {
    z-index: auto !important;
  }
}
