<mat-card class="mat-elevation-z8 fill-screen table-container global-configuration-slider-fix">

  <mat-tab-group class="h-100 body-h-100 global-config-tab-group">
    <mat-tab [label]="'administration.cards.users' | translate"
             *ngIf="'NavigationComponent.settingItem.user' | auth:'w'">
      <app-person-list></app-person-list>
    </mat-tab>
    <mat-tab [label]="'administration.cards.roles' | translate"
             *ngIf="'NavigationComponent.permissions' | auth:'w'">
      <app-role-list></app-role-list>
    </mat-tab>
    <mat-tab [label]="'administration.cards.profiles' | translate"
             *ngIf="'NavigationComponent.permissions' | auth:'w'">
      <app-profile-list></app-profile-list>
    </mat-tab>
    <mat-tab [label]="'administration.cards.passwordPolicy' | translate">
      <app-password-policy></app-password-policy>
    </mat-tab>
    <mat-tab [label]="'administration.cards.expensesAndCurrencies' | translate">
      <app-expenses-and-currencies></app-expenses-and-currencies>
    </mat-tab>
    <mat-tab [label]="'administration.cards.mapSettings' | translate">
      <app-map-settings></app-map-settings>
    </mat-tab>
    <mat-tab [label]="'administration.cards.companyConfig' | translate">
      <app-offer-generator-config></app-offer-generator-config>
    </mat-tab>
    <mat-tab  class="gdpr-tab" [label]="'administration.cards.gdpr' | translate">
      <app-gdpr-config></app-gdpr-config>
    </mat-tab>
    <mat-tab [label]="'administration.cards.dictionaries' | translate"
             *ngIf="'NavigationComponent.dictionaries.management' | auth:'w'">
      <app-dictionary-administration></app-dictionary-administration>
    </mat-tab>
  </mat-tab-group>
</mat-card>
