@import '~src/styles/colors';
@import "~src/styles/font-weights";
@import "~src/styles/form";

.attachment-content {
  padding-bottom: 10px;
  overflow-x: auto;

  .attachment-list {
    display: flex;

    .attachment-item {
      margin-left: 10px;
      height: 40px;
      position: relative;
      width: fit-content;
      padding: 10px;
      border-radius: 8px;
      display: flex;

      .content {
        z-index: 2;
        display: flex;

        .attachment-header {
          display: flex;
        }

        .action-menu {
          margin-right: -10px;
          width: fit-content;
        }
      }
      .progress {
        width: 0%;
        z-index: 1;
        height: 100%;
        position: absolute;
        margin-top: -10px;
        margin-left: -10px;
        border-radius: 8px;
        background-color: $bg-secondary;
      }
      .text {
        margin-top: -4px;
        margin-left: 8px;

        .title {
          color: $text-title;
          font-size: 12px;
          font-weight: $Medium;
          white-space: nowrap
        }

        .file-size {
          color: $action-color;
          font-size: 10px;
          font-weight: $Regular;
        }
      }

      .cross-icon {
        margin-top: -2px;
        height: 18px;
        margin-left: 10px;
        cursor: pointer;
      }
    }
  }
}
