<div class="attachment-content">
  <div class="attachment-list">
    <ng-container
      *ngIf="
        tempUploader &&
        tempUploader.queue &&
        !previewAttachments &&
        !previewStorageActive
      "
    >
      <div class="attachment-item" *ngFor="let item of tempUploader.queue">
        <div class="progress" [style.width]="item.progress + '%'"></div>
        <div class="content">
          <img
            class="header-icon"
            src="{{ item.file.type | fileFormatToIcon }}"
          />
          <div class="text">
            <div class="title">{{ item.file.name }}</div>
            <div class="file-size">{{ item.file.size | filesize }}</div>
          </div>
          <app-icon
            svgIcon="cross"
            [hover]="false"
            (click)="removeTempFile.emit(item)"
          ></app-icon>
        </div>
      </div>
    </ng-container>

    <ng-container
      *ngIf="
        filesFromCrm &&
        filesFromCrm.length > 0 &&
        !previewAttachments &&
        !previewStorageActive
      "
    >
      <div class="attachment-item" *ngFor="let item of filesFromCrm">
        <div class="progress" [style.width]="'100%'"></div>
        <div class="content">
          <img
            class="header-icon"
            src="{{ item.contentType | fileFormatToIcon }}"
          />
          <div class="text">
            <div class="title">{{ item.name }}</div>
            <div class="file-size">{{ getSize(item.id) | filesize }}</div>
          </div>
          <app-icon
            svgIcon="cross"
            [hover]="false"
            (click)="removeCrmFile.emit(item)"
          ></app-icon>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="files">
      <div class="attachment-item" *ngFor="let previewAttachment of files">
        <div class="progress" [style.width]="'100%'"></div>
        <div class="content">
          <div class="attachment-header">
            <img
              class="header-icon"
              src="{{ previewAttachment.name | fileFormatToIcon }}"
            />
            <div class="text">
              <div class="title">{{ previewAttachment.name }}</div>
              <div class="file-size">
                {{ previewAttachment.size | filesize }}
              </div>
            </div>
          </div>
          <div class="action-menu cursor-pointer">
            <span [matMenuTriggerFor]="menu" class="clickable"
              ><img src="assets/icons/icon_down_arrow.svg"
            /></span>
            <mat-menu #menu="matMenu" xPosition="before">
              <button
                (click)="saveAttachment(previewAttachment)"
                class="dropdown-select-item"
                mat-menu-item
              >
                {{ "mail.saveAttachment" | translate }}
              </button>
              <button
                (click)="downloadPreviewAttachment(previewAttachment)"
                class="dropdown-select-item"
                mat-menu-item
              >
                {{ "mail.saveAttachmentLocally" | translate }}
              </button>
            </mat-menu>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
