<div class="w-100 h-100 card-padding">

  <mat-card class="mat-elevation-z0 main-mat-card  card-border-radius no-bottom-border-radius ">
    <app-person-form [update]=false></app-person-form>
  </mat-card>

  <div class="button-container">
    <mat-card class="mat-elevation-z0 card-border-radius no-top-border-radius">
      <div class="row">
        <div class="col-md-12">
          <div class="pull-right">
            <button mat-raised-button
                    class="mr-2"
                    *ngIf="'PersonAddComponent.addForm' | auth:'w'"
                    (click)="personFormComponent.addAdditionalField()">
              <span><span class="fa fa-plus"></span> {{'person.detail.buttons.addField' | translate}}</span>
            </button>
            <button mat-raised-button
                    class="mr-2"
                    color="primary"
                    *ngIf="'PersonAddComponent.save' | auth:'w'"
                    (click)="createAccount()">
              <span><span class="fa fa-floppy-o"></span> {{'person.detail.buttons.save' | translate}}</span>
            </button>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
