@import "~src/styles/slider";
@import "~src/styles/form";
@import "~src/styles/colors";
@import "~src/styles/font-weights";

.owner-container-label {
  font-weight: 500 !important;
  color: $text-title !important;
  font-size: 12px !important;
  letter-spacing: normal !important;
}

.owner-details-container {
  display: flex;
  flex-direction: row;
  padding: 8px 0;
}

.owner-details {
  padding-left: 20px;
  color: $text-title !important;
  font-weight: $Medium !important;
}

.add-owner {
  cursor: pointer;
}


