<div class="owner-container-label">{{ label }}</div>
<div class="owner-details-container">
  <app-avatar-icon
    class="add-owner"
    [imageSrc]="owner?.avatar"
    [text]="owner?.name || owner?.email"
    cdkOverlayOrigin
    #menuTrigger="cdkOverlayOrigin"
    (click)="changeMenu(true)"
  ></app-avatar-icon>
  <div class="owner-details">
    <div>{{ owner?.name }}</div>
    <div>{{ owner?.phone ? owner.phone + ', ' + owner?.email : owner?.email }}</div>
  </div>
</div>
<ng-container *ngIf="isOpen">
  <app-menu-owners
    [trigger]="menuTrigger"
    [open]="isOpen"
    (changeMenu)="changeMenu($event)"
    (changeOwner)="changeOwner($event)"
    [currentOwner]="owner"
  ></app-menu-owners>
</ng-container>
