@import '~src/styles/colors';
@import '~src/styles/table';
@import '~src/styles/font-weights';

.table-container {
  padding: 20px 32px;
}

.table-header-container {
  display: flex;
  justify-content: flex-start;
  box-shadow: none;
  min-height: 50px;
}

.title-comment {
  text-align: left;
  font: $Medium 10px/16px Poppins;
  letter-spacing: 1.2px;
  color: $action-color;
  text-transform: uppercase;
  opacity: 1;
}
