<mat-card class="mat-elevation-z8 fill-screen table-container">
  <div class="table-header-container">
    <span class="table-header-primary">{{'goal.list.title' | translate}}</span>
    <button class="btn-transparent" (click)="addSlider.open()" *ngIf="'GoalTableComponent.addGoal' | auth:'w'">
      <app-icon
        svgIcon="plus"
        [primary]="true"
      ></app-icon>
    </button>
  </div>
  <div class="title-comment">{{'goal.list.allGoals' | translate}}</div>

  <app-goal-table [createdByMe]="false" goalTitle="goal.list.assignedToMe" (onEdit)="editGoal($event, true)"></app-goal-table>
  <app-goal-table [createdByMe]="true" goalTitle="goal.list.createdByMe" (onEdit)="editGoal($event)"></app-goal-table>
</mat-card>

<app-slider #addSlider width="100vw" [title]="'goal.add.title' | translate" key="GoalList.AddSlider">
  <app-goal-add [slider]="addSlider"></app-goal-add>
</app-slider>

<app-slider #editSlider width="100vw" [title]="'goal.edit.title' | translate" key="GoalList.AddSlider">
  <app-goal-edit [slider]="editSlider" [goalId]="goalSelectedToEdit"></app-goal-edit>
</app-slider>
