<form [formGroup]="ownerForm" class="h-100">
  <div class="row card-height pl-0 pr-0 m-0 card-padding">
    <div class="col-md-12 p-0 m-0 h-100">
      <mat-card
        class="owner-panel-height main-mat-card mat-elevation-z0 mat-card ml-0 mr-0 no-bottom-left-border-radius no-bottom-right-border-radius no-top-left-border-radius no-top-right-border-radius card-border-radius ">
        <div class="fill-parent w-100">
          <div class="owner-field">
            <mat-form-field *ngIf="('LeadShared.changeKeeper' | auth:'w')">
              <mat-select formControlName="leadKeeper" [disableRipple]="true" [disableOptionCentering]="true" panelClass="dropdown-w-100">
                <mat-option *ngFor="let user of accountEmails"
                            [value]="user?.id">{{user?.name}} {{user?.surname}}</mat-option>
              </mat-select>
              <mat-placeholder class="placeholder">{{'leads.form.leadKeeper' | translate}}</mat-placeholder>
              <mat-error *ngIf="leadKeeper.hasError('required')">
                {{'leads.form.leadKeeperRequired' | translate}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</form>

<div class="button-container">
  <mat-card class="mat-elevation-z0 no-top-left-border-radius no-top-right-border-radius card-border-radius ">
    <div class="row">
      <div class="col-md-12">
        <div class="pull-right">
          <button mat-stroked-button class="button-medium" color="primary"
                  (click)="closeSlider()">{{'leads.form.cancel' | translate}}</button>
          <button mat-raised-button class="button-medium ml-2" color="primary" (click)="submit()">{{'leads.form.save' | translate}}</button>
        </div>
      </div>
    </div>
  </mat-card>
</div>
