@import "~src/styles/colors";
@import "~src/styles/form";
@import "~src/styles/slider";
@import "~src/styles/font-weights";

.header {
  font-weight: $Regular;
  font-size: 24px;
  color: $text-primary;
  letter-spacing: 0;
  line-height: 36px;
  margin: 5px;
}

mat-card {
  box-shadow: 0 0 1px 0 rgba($shadow-color-rgb, 0.06), 0 1px 1px 0 rgba($shadow-color-rgb, 0.1) !important;
}

.button-medium {
  width: 105px;
}

.button-container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: $bg-secondary;
}

.fill-parent {
  overflow-y: auto;
  height: 100%;
}

mat-form-field {
  width: 100% !important;
  border-radius: 4px;
  font-size: 15px;
}

.title {
  color: $text-title;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 1.2px;
  font-weight: $SemiBold;
}

.owner-panel-height {
  height: calc(20% - 3px);
  margin-bottom: 1px !important;
  .fill-parent {
    display: flex;
    align-items: center;
  }
}

.owner-field {
  margin-left: 25px;
  max-width: 320px;
  width: 100%;
  height: auto;
}
