<form [formGroup]="contactForm">
  <div class="pl-3 pr-3">
    <div class="form-title contact-form-title">
      {{ "contacts.form.basicInformation" | translate }}
    </div>

    <div class="row">
      <div class="avatar-part">
        <div class="add-image">
          <app-avatar-form
            [text]="'contacts.form.change' | translate"
            [avatar]="avatar"
            [widthPx]="100"
          ></app-avatar-form>
        </div>
      </div>
      <div class="basic-info-container">
        <mat-form-field *ngIf="authKey + 'nameField' | auth: 'i':true">
          <input
            matInput
            required
            [placeholder]="'contacts.form.name' | translate"
            formControlName="name"
          />
          <mat-error *ngIf="name.hasError('required')">
            {{ "contacts.form.nameRequired" | translate }}
          </mat-error>
          <mat-error *ngIf="name.hasError('maxlength')">
            {{ "contacts.form.maxLength" | translate }}
          </mat-error>
          <mat-error *ngIf="name.hasError('whitespace')">
            {{ "sharedValidators.whitespace" | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="authKey + 'surnameField' | auth: 'i':true">
          <input
            matInput
            required
            [placeholder]="'contacts.form.surname' | translate"
            formControlName="surname"
          />
          <mat-error *ngIf="surname.hasError('required')">
            {{ "contacts.form.surnameRequired" | translate }}
          </mat-error>
          <mat-error *ngIf="surname.hasError('maxlength')">
            {{ "contacts.form.maxLength" | translate }}
          </mat-error>
          <mat-error *ngIf="surname.hasError('whitespace')">
            {{ "sharedValidators.whitespace" | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="authKey + 'positionField' | auth: 'i':true">
          <input
            matInput
            required
            [placeholder]="'contacts.form.position' | translate"
            formControlName="position"
          />
          <mat-error *ngIf="position.hasError('maxlength')">
            {{ "contacts.form.maxLength" | translate }}
          </mat-error>
          <mat-error *ngIf="position.hasError('required')">
            {{ "contacts.form.fieldRequired" | translate }}
          </mat-error>
          <mat-error *ngIf="position.hasError('whitespace')">
            {{ "sharedValidators.whitespace" | translate }}
          </mat-error>
        </mat-form-field>

        <div>
          <mat-form-field
            *ngIf="authKey + 'phoneField' | auth: 'i':true"
            class="add-phone-input"
          >
            <input
              matInput
              [placeholder]="'contacts.form.phone' | translate"
              [mask]="phoneService.getPhoneInputMask(phone.value)"
              type="tel"
              [validation]="true"
              formControlName="phone"
            />
            <mat-error
              *ngIf="phone.hasError('maxlength') || phone.hasError('minlength')"
            >
              {{ "contacts.form.phoneInvalid" | translate }}
            </mat-error>
          </mat-form-field>
          <app-icon
            svgIcon="add"
            (click)="addAdditionalPhone($event)"
            class="add-phone"
          ></app-icon>
        </div>

        <app-additional-phone-numbers
          [addFieldSubject]="addAdditionalPhoneNumbers$"
          [form]="contactForm"
          [initial-phones]="update && _contact ? _contact.additionalPhones : []"
          field-name="additionalPhones">
        </app-additional-phone-numbers>

        <mat-form-field *ngIf="authKey + 'emailField' | auth: 'i':true">
          <input
            matInput
            [placeholder]="'contacts.form.email' | translate"
            formControlName="email"
          />
          <mat-error *ngIf="email.hasError('email')">
            {{ "contacts.form.emailInvalid" | translate }}
          </mat-error>
          <mat-error *ngIf="email.hasError('maxlength')">
            {{ "contacts.form.maxLength" | translate }}
          </mat-error>
        </mat-form-field>

        <app-social-media
          [socialMedia]="socialMedia"
          (socialMediaEdited)="updateSocialMedia($event, true)"
          [authKey]="authKey"
          *ngIf="authKey + 'socialMediaField' | auth: 'i':true"
        ></app-social-media>
      </div>

      <div class="w-100 mt-4" *ngIf="authKey + 'companyField' | auth: 'i':true">
        <mat-form-field class="pl-3 pr-3 w-100">
          <mat-label>{{ "contacts.form.company" | translate }}</mat-label>
          <span class="inline">
            <input
              matInput
              [placeholder]="'contacts.form.write3CharToSearch' | translate"
              formControlName="customerSearch"
              [matAutocomplete]="customerSearch"
            />
            <app-icon
              svgIcon="search"
              [hover]="false"
              [pointer]="false"
              class="pr-1"
              size="16px"
            ></app-icon>
          </span>
          <mat-autocomplete
            #customerSearch="matAutocomplete"
            (optionSelected)="customerSelect($event.option.value)"
          >
            <mat-option
              *ngFor="let object of filteredCustomers"
              [value]="object"
              class="single-line-option"
            >
              <div class="search-result-text">{{ object.label }}</div>
            </mat-option>
            <mat-option
              [value]="undefined"
              class="single-line-option"
              (click)="addCustomerSlider.open()"
            >
              <app-icon svgIcon="plus" [hover]="false"></app-icon>
              {{ "contacts.form.newCustomer" | translate }}
            </mat-option>
          </mat-autocomplete>
          <mat-error
            *ngIf="customerSearchControl.hasError('customCustomerValue')"
          >
            {{ "contacts.form.customValueError" | translate }}
          </mat-error>
        </mat-form-field>
      </div>

      <div
        class="owner pl-3 pr-3"
        *ngIf="contactOwner && (authKey + 'ownerInfo' | auth: 'i':true)"
      >
        <div class="owner-content">
          <div class="owner-title">
            {{ "contacts.form.contactOwner" | translate }}:
          </div>
          <div class="owner-value">
            {{ contactOwner }}
          </div>
        </div>
      </div>

      <div class="w-100 display-grid">
        <app-additional-data-form
          #additionalDataFormComponent
          [addFieldSubject]="addAdditionalField$"
          [showPlusButton]="fromContactInfoTab"
          [additionalDataString]="additionalData"
        ></app-additional-data-form>
      </div>
    </div>
  </div>
</form>

<app-slider
  #addCustomerSlider
  width="33vw"
  group="sharedCustomerForm"
  [title]="'customer.form.addTitle' | translate"
  key="CustomerList.AddSlider"
  [moreInfoVisible]="true"
>
  <app-customer-add
    (customerAdded)="customerAdded($event)"
    [slider]="addCustomerSlider"
  ></app-customer-add>
</app-slider>
