@import "~src/styles/colors.scss";
@import "../../../../styles/font-weights";
@import "../../../../styles/icons.scss";

.basic-info-container {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: calc(100% - 150px);
  margin-left: 20px;
}
.avatar-part {
  width: 110px;
}

.name-line {
  display: grid;
  grid-template-columns: 0.7fr 1.3fr;
}

.form-title {
  width: 165px;
  height: 16px;
  color: $text-title;
  font-size: 10px;
  font-weight: $SemiBold;
  letter-spacing: 1.2px;
  line-height: 16px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
}

.add-image {
  width: 90%;
}

.add-image-title {
  height: 20px;
  color: $text-secondary;
  font-size: 12px;
  font-weight: $Regular;
  line-height: 20px;
  width: 90%;
  cursor: pointer;
}

.form-icon {
  position: absolute;
  margin-left: 1em;
  cursor: pointer;
  z-index: 2;
}

.inline {
  display: flex;
  justify-content: space-between;
}


.owner {
  position: absolute;
  bottom: 15px;
  .owner-content {
    font-weight: $Medium;
    display: flex;
    .owner-title {
      font-size: 12px;
      color: $text-secondary;
    }
    .owner-value {
      font-size: 13px;
      color: $text-title;
      margin-left: 5px;
    }
  }
}

.add-phone {
  margin-left: 3.8%;
  width: 20px;
}

.add-phone-input {
  width: 89%;
}
