<div class="outer-container" *ngIf="opportunity">
  <div class="inner-container">
    <app-opportunity-acceptance
      [activeTask]="activeTask"
      [_opportunity]="opportunity">
    </app-opportunity-acceptance>

    <app-opportunity-tasks
      *ngIf="!documentsVisible"
      [activeTask]="activeTask"
      [taskOnScreen]="taskOnScreen"
      [opportunity]="opportunity"
      [opportunityId]="opportunityId"
      [propertyForm]="propertyForm"
      [userMap]="userMap"
      (taskClicked)="taskClicked($event)"
      (getOpportunity)="getOpportunity($event)">
    </app-opportunity-tasks>

    <div class="cards-container" *ngIf="!documentsVisible">
      <div class="cards-wrapper">
        <div class="main-area">
          <ng-container [ngTemplateOutlet]="main"></ng-container>
        </div>
        <div class="notes-area">
          <ng-container [ngTemplateOutlet]="notes"></ng-container>
        </div>
        <div class="files-area">
          <ng-container [ngTemplateOutlet]="files"></ng-container>
        </div>
        <div class="tabs-area">
          <ng-container [ngTemplateOutlet]="tabs"></ng-container>
        </div>
      </div>
    </div>
    <app-document-list
      *ngIf="documentsVisible"
      objectType="opportunity"
      [objectLabel]="opportunity.name"
      [objectId]="opportunityId"
      [forObject]="true"
      [withTopBar]="true">
    </app-document-list>
  </div>
</div>

<ng-template #main>
  <mat-card class="main card-container">
    <div class="main-header"
    [class.main-header-with-task]="!!taskOnScreen.properties?.length">
      <div class="main-title">
        <div>
          <span class="primary-title mr-5">
            {{ opportunity.name }}
          </span>
          <span class="second-title mr-5" *ngIf="opportunity?.createDate">
            <mat-form-field class="currency-column-input"
                            *ngIf="'OpportunityDetailsCardComponent.createDate' | auth: 'i':true">
                      <input
                        matInput
                        [matDatepicker]="createDatePicker"
                        [formControl]="outsideCreateDate"
                        [placeholder]="'leads.list.creationDate' | translate"
                        [max]="finishDate"/>
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="createDatePicker"
                        class="custom-calendar-icon">
                      </mat-datepicker-toggle>
                      <mat-datepicker #createDatePicker (closed)="createDateSelected($event)"> </mat-datepicker>
                  </mat-form-field>
          </span>
        </div>
        <div>
          <span class="second-title">
            {{ opportunity.customerName }}
          </span>
        </div>
      </div>
      <div class="opportunity-actions">
        <div class="opportunity-priority">
          <h5 class="priority-title">
            {{ "opportunity.form.opportunityPriority.title" | translate }}
          </h5>
          <mat-radio-group
            [(ngModel)]="selectedPriority || opportunityPriority.LOW"
            (ngModelChange)="onPriorityChange($event)">
            <mat-radio-button
              *ngFor="let priority of priorities"
              color="primary"
              [class]="priority.class"
              [value]="priority.value">
              {{ priority.translation | translate }}
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div>
          <div class="main-action" *ngIf="!showActionButtons">
            <app-icon
              svgIcon="edit"
              size="20px"
              (click)="editOpportunity(opportunity.id)">
            </app-icon>
            <app-icon
              svgIcon="trash"
              size="20px"
              (click)="tryDeleteOpportunity(opportunity.id)">
</app-icon>
            <app-icon
              [class.rotating-icon]="loadingOpportunity"
              svgIcon="refresh"
              size="20px"
              [hover]="!loadingOpportunity"
              (click)="refresh()">
            </app-icon>
          </div>
          <div class="main-action" *ngIf="showActionButtons">
            <app-icon
              svgIcon="check"
              size="20px"
              (click)="saveOpportunityDetailsChanges()"
              [disabled]="
                opportunityDetailsCardComponent.opportunityDetailsForm
                  .invalid &&
                opportunityDetailsCardComponent.opportunityDetailsForm.touched ">
            </app-icon>
            <app-icon
              svgIcon="cross"
              size="20px"
              (click)="discardOpportunityDetailsChanges()">
            </app-icon>
          </div>
        </div>
      </div>
    </div>
    <div class="main-content">
      <app-opportunity-details-card
        #opportunityDetailsCardComponent
        [canSave]="canSave"
        [opportunityId]="opportunityId"
        [isTaskProperties]="!!taskOnScreen.properties?.length"
        [usersMap]="userMap"
        [outsideCreateDateValue]="outsideCreateDateValue"
        (refresh)="refresh()"
        (opportunityEdited)="handleOpportunityChangedSubscription()"
        (opportunityChanged)="handleDetailsChanged($event)">
        <app-opportunity-details-properties
          [taskOnScreen]="taskOnScreen"
          [acceptanceUserId]="opportunity?.acceptanceUserId"
          [activeTaskId]="activeTask?.id"
          [propertyForm]="propertyForm"
          (submit)="submit()">
                  </app-opportunity-details-properties>
      </app-opportunity-details-card>
    </div>
  </mat-card>
</ng-template>

<ng-template #notes>
  <mat-card class="notes card-container">
    <app-notes
      [objectTypeAndId]="{
        objectId: opportunityId,
        objectType: objectType.opportunity}"
      [userMap]="userMap">
    </app-notes>
  </mat-card>
</ng-template>

<ng-template #files>
  <mat-card class="files card-container">
    <app-file
      objectType="opportunity"
      [objectId]="opportunityId"
      (fullView)="openLeadDocumentsView()">
    </app-file>
  </mat-card>
</ng-template>

<ng-template #tabs>
  <mat-card class="tabs card-container">
    <app-opportunity-tabs
      [opportunity]="opportunity"
      [opportunityId]="opportunityId"
      [opportunityChangedSubscription]="opportunityChangedSubscription"
      [objectType]="objectType"
      (opportunityItemsChanged)="refreshMainInfo()">
    </app-opportunity-tabs>
  </mat-card>
</ng-template>

<app-slider
  #editSlider
  [title]="'opportunity.list.editTitle' | translate"
  key="OpportunityDetails.EditSlider"
  width="65vw">
  <app-opportunity-edit
    [opportunity]="opportunityToEdit"
    (opportunityEdited)="handleOpportunityEdited()">
  </app-opportunity-edit>
</app-slider>

<app-slider
  #createOfferSlider
  [title]="'opportunity.details.createOffer' | translate"
  key="OpportunityDetails.CreateOffer"
  width="100vw">
  <app-offer-generator
    *ngIf="'OpportunityDetailsComponent.createOffer' | auth: 'i':true"
    [opportunityCurrency]="opportunity?.currency"
    [opportunityId]="opportunityId"
    [offerDescription]="opportunity?.description"
    [offerTitle]="opportunity?.name"
    [customerId]="opportunity?.customerId"
    [slider]="createOfferSlider">
  </app-offer-generator>
</app-slider>
