<div class="calendar-wrapper">
  <div class="calendar-header">
    <div class="calendar-toggle-month">
      <button mat-icon-button (click)="changeMonth(-1)" class="btn-icon">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <span class="calendar-month">
        {{ viewMonth | titlecase}}
      </span>
      <button mat-icon-button (click)="changeMonth(1)" class="btn-icon">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
    <div class="calendar-toggle-year">
      <mat-select [value]="viewYear" (selectionChange)="changeYear($event)">
        <mat-option *ngFor="let year of years" [value]="year">
          {{ year }}
        </mat-option>
      </mat-select>
    </div>
  </div>

  <mat-card>
    <mat-calendar
      #calendar
      [(selected)]="selectedDate"
      (selectedChange)="dateChanged($event)"
    ></mat-calendar>
  </mat-card>
</div>
