@import "~src/styles/colors";
@import "~src/styles/font-weights";
@import "~src/styles/icons";

$holiday-color: #dd2048;

.calendar-wrapper {
  text-align: center;
  max-width: 300px;
  margin: auto;
  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .calendar-toggle-month {
      display: flex;
      align-items: center;
      .calendar-month {
        font-size: 14px;
        font-weight: $Bold;
        min-width: 80px;
        text-align: center;
        color: $text-title;
      }
      .btn-icon {
        color: $text-title;
      }
    }
    .calendar-toggle-year {
      min-width: 60px;
      ::ng-deep .mat-select-value-text {
        font-size: 14px;
        font-weight: $Bold;
      }
    }
  }

  // setting custom calendar

  ::ng-deep.mat-calendar-body-label {
    visibility: hidden;
  }

  ::ng-deep.mat-calendar-body-label[colspan="7"] {
    display: none;
  }

  ::ng-deep.mat-calendar-table-header-divider {
    display: none;
  }

  ::ng-deep.mat-calendar-header {
    display: none;
  }

  ::ng-deep.mat-calendar-content {
    padding: 0 !important;
  }

  ::ng-deep.mat-calendar-table {
    td:nth-child(7) > .mat-calendar-body-cell-content {
      color: $holiday-color !important;
      &.mat-calendar-body-selected {
        color: #fff !important;
      }
    }
  }

  ::ng-deep.mat-calendar-body
    > tr:first-child
    > td:last-child
    > .mat-calendar-body-cell-content {
    color: $holiday-color !important;
    &.mat-calendar-body-selected {
      color: #fff !important;
    }
  }

  ::ng-deep .mat-calendar-body > tr:first-child > td:first-child {
    visibility: hidden;
  }
}
