@import "../../../../styles/slider-card";
@import "~src/app/shared/contact-customer-relation-shared/styles";


.note-box {
  margin-top: 20px;
}


.header-text {
  margin-top: 24px;
  margin-bottom: 8px;
}
