<div class="add-related-customer-container">
  <div class="card-container">
    <mat-card class="main-card card-border-radius no-bottom-left-border-radius no-bottom-right-border-radius">
      <div class="inner-container">

        <app-contact-form [contact]="contact"
                          (customerIdChanged)="customerIdChanged($event)"
                          [update]="true"></app-contact-form>

        <div class="pl-3" *ngIf="relationSectionVisible">
          <ng-container *ngIf="('ContactEditComponent.relationTime' | auth:'i':true)">
            <div class="header-text">{{'customer.relatedContacts.addIndirectContact.relationTime' | translate}}</div>
            <app-date-range-select [ongoing]="true" [startDate]="startDate"></app-date-range-select>
          </ng-container>

          <div class="note-box" *ngIf="('ContactEditComponent.note' | auth:'i':true)">
            <div class="notes-header">{{'customer.relatedContacts.addIndirectContact.note' | translate}}</div>
            <textarea [formControl]="note" class="form-control text-area"></textarea>
          </div>
        </div>
      </div>
    </mat-card>

    <mat-card class="buttons-bar card-border-radius no-top-left-border-radius no-top-right-border-radius">
      <button type="button" mat-stroked-button color="primary"
              (click)="cancel()">{{'contacts.details.newRelatedCustomer.cancel' | translate}}</button>
      <button type="button" mat-raised-button class="ml-2" color="primary"
              (click)="update()">{{'contacts.details.newRelatedCustomer.save' | translate}}</button>
    </mat-card>
  </div>
</div>
