<mat-card class="mat-elevation-z8 fill-screen table-container">
  <div class="table-header-container">
    <div>
      <span>
        <span class="table-header-primary">Mapa</span>
      </span>
    </div>
  </div>
  <div class="row with-title">
    <app-map-view class="w-100 h-100 mt-3"
                  [selectable]="true"
                  [markers]="markers"
                  [zoom]="zoom"
                  [mapCenter]="mapCenter"></app-map-view>
  </div>
</mat-card>
