<div style="padding: 10px 10px 10px 25px">
  <div class="loading-shade" *ngIf="loadingData">
    <mat-spinner></mat-spinner>
  </div>
  <div class="process-content" *ngFor="let process of processOverview; let processIndex = index">

    <div class="header-width pointer" style="display: flex; justify-content: space-between"
         (click)="setProcessDefinitionId(process.id)">
      <div>
          <span class="panel-header-text">
            <ng-container *ngIf="'LeadKanbanComponent.processNameField' | auth: 'i':true">
              {{ process?.name }}
              <span class="process-version-text">
                ({{ "opportunity.list.kanban.processVersion" | translate }} {{ process?.version }})
                </span>
            </ng-container>
          </span>
        <span *ngIf="'LeadKanbanComponent.processNumberField' | auth: 'i':true" class="badge"
              [ngStyle]="{'background-color': process?.backgroundColor, 'font-color': process?.textColor}">
            {{ process?.size }}
          </span>
      </div>
      <span style="font-size: 24px; padding-top: 5px" class="nav-icon fa"
            [ngClass]="{ 'fa-angle-up': extendedProcessId!==process.id, 'fa-angle-down': extendedProcessId==process.id }">
      </span>
    </div>


    <div style="overflow-x: auto;">
      <div class="small-tasks-container pointer" (click)="setProcessDefinitionId(process.id)"
           style="overflow-x: initial !important">
        <ng-container *ngFor="let task of process?.tasks">
          <div class="small-task-box"
               [ngClass]="'bp-small-arrow-' + bpmnUtil.getColorNameByBgColorHex(process.backgroundColor)">
            <div class="small-task-box-content">
              <div *ngIf="'LeadKanbanComponent.stepNameField' | auth: 'i':true" class="small-task-text"
                   [ngStyle]="{ color: process?.textColor || '#FFF' }">
                <div class="grid-container">
                  <div class="percentage" [ngClass]="{'empty-percentage': !task.assignee}"><span
                    *ngIf="task.assignee">{{ task?.assignee + '%'}}</span></div>
                  <div class="name" matTooltip="{{ task.name | uppercase }}" matTooltipPosition="above"
                       [matTooltipDisabled]="task.name.length <= 24">
                    <span *ngIf="task.name">{{ task?.name | uppercase | limitToLength: 24 }}</span>
                    <span
                      *ngIf="!task.name">{{ ("opportunity.list.kanban.opportunityFinish" | translate) | uppercase | limitToLength: 24 }}</span>
                  </div>
                  <div
                    class="value">{{ ("opportunity.list.kanban.summaryProcessValue" | translate) + (task.summaryValue | number) }}
                    PLN
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>

      <div cdkDropListGroup *ngIf="extendedProcessId==process.id && !loadingData" class="extension-panel-content">
        <ng-container *ngFor="let details of processDetails; let columnIndex = index">
          <div>
            <div class="leads-column">
              <div cdkDropList
                   [cdkDropListData]="details"
                   (cdkDropListDropped)="drop($event)"
                   [cdkDropListDisabled]="freezeKanban">
                <div class="transparent-card-small"></div>
                <div *ngIf="drag && isShowPlaceholder(details.id)" class="placeholder-possible"><span style="width: 225px">{{"opportunity.list.kanban.possible-placeholder" | translate}}</span></div>
                <div cdkDrag *ngIf="details?.opportunities?.length === 0 && !drag" class="transparent-card"></div>
                <div cdkDrag *ngFor="let opportunity of details?.opportunities"
                     [cdkDragData]="[opportunity, columnIndex]"
                     (cdkDragReleased)="cdkDragReleased($event)"
                     (cdkDragStarted)="cdkDragStarted($event)">
                  <div *cdkDragPlaceholder style="height: 0px;"></div>
                  <app-opportunity-kanban-element [opportunity]="opportunity"
                                                  [processColor]="bpmnUtil.getColorNameByBgColorHex(process.backgroundColor)">

                  </app-opportunity-kanban-element>

                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>

    </div>


  </div>
</div>

<app-slider
  #addTask
  width="35vw"
  [title]="'calendar.task.form.addTitle' | translate"
  key="Calendar.AddSlider"
  [group]="'taskFormGroup'"
>

  <app-task-add
    [initAssociation]="initAssociation"
    (eventAdded)="getProcess(extendedProcessId)"
    [slider]="addTask"
    [eventInfo]="newEvent"
    [activityType]="selectedActivityType"
  ></app-task-add>
</app-slider>

<app-slider
  #editSlider
  [title]="'opportunity.list.editTitle' | translate"
  key="OpportunityDetails.EditSlider"
  width="65vw"
>
  <app-opportunity-edit
    [opportunity]="editOpportunity"
    (opportunityEdited) = getProcess(extendedProcessId)
  ></app-opportunity-edit>
</app-slider>

