<ng-container *ngIf="!_preview">
  <ng-container *ngTemplateOutlet="fileList; context:{onlyList: false}"></ng-container>
</ng-container>


<ng-container *ngIf="_preview">
  <div class="preview-mode files-preview-mode">
    <mat-accordion [multi]="true">
      <mat-expansion-panel class="extension-panel" expanded="true">
        <mat-expansion-panel-header class="panel-header">

          <mat-panel-title>
            <div class="preview-header-text">
              {{'files.documents' | translate}}
              <button class="btn-transparent" (click)="addFile(); $event.stopPropagation()">
                <img src="assets/icons/plus-blue.svg"/>
              </button>
            </div>
          </mat-panel-title>

          <button class="btn-transparent change-tab-icon" (click)="changeTab.emit($event); $event.stopPropagation()">
            <img alt="change-tab-icon" src="assets/icons/change-tab-icon-blue.svg">
          </button>
        </mat-expansion-panel-header>
        <ng-container *ngTemplateOutlet="fileList; context:{onlyList: true}"></ng-container>
        <div class="show-all" *ngIf="infinityScroll?.itemPage?.totalElements > 3"
             (click)="changeTab.emit($event)">
          {{ 'notes.list.showAll' | translate:{totalNumber: infinityScroll?.itemPage?.totalElements} }}
        </div>
      </mat-expansion-panel>
    </mat-accordion>

  </div>
</ng-container>


<ng-template #fileList let-onlyList="onlyList">
  <app-file-list
    [onlyList]="onlyList"
    [firstHeader]="'files.attachments' | translate"
    [files]="infinityScroll?.itemPage?.content"
    [loadingFinished]="loadingFinished"
    [userMap]="userMap"
    [loggedUserEmail]="loggedAccountEmail"
    [initFileGroup]="getInitFileGroup()"
    (onScrollEnd)="infinityScroll.onScroll($event)"
    (onSortChange)="infinityScroll.onSortChange($event)"
    (onFilesRefresh)="getFiles()">
  </app-file-list>
</ng-template>
