@import "~src/styles/font-weights";
@import "~src/styles/table";
@import "~src/styles/files";
@import '~src/styles/list-preview';


.center-in-table {
  display: flex !important;
  justify-content: center;
  width: 100%;
}

.header-icon {
  width: 24px;
  height: 24px;
}

.center {
  height: 80%;
}

::ng-deep .files-preview-mode {
  .table-container {
    padding: 0 16px !important;
  }
}

