@import '~src/styles/colors';
@import '~src/styles/table';

.table-header-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.part-container {
  font: $Medium 10px/16px Poppins;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.param-input {
  width: 630px;
}

.params-container {
  margin-top: 40px;
}

.button-medium {
  width: 105px;
}

.mr-50px {
  margin-right: 50px !important;
}
