<div class="table-header-container">
  <span class="table-header-primary">{{'administration.cards.mapSettings' | translate}}</span>
</div>
<div>
  <mat-form-field class="param-input mr-50px">
    <input matInput required type="number"
           [placeholder]="'administration.params.customerRadiusInKm' | translate"
           [formControl]="customerRadiusControl">
    <mat-error *ngIf="customerRadiusControl.hasError('required')">
      {{'administration.validation.required' | translate}}
    </mat-error>
    <mat-error *ngIf="customerRadiusControl.hasError('min')">
      {{'administration.validation.minValue' | translate}}
    </mat-error>
  </mat-form-field>

  <button (click)="submitCustomerRadius()" class="button-medium ml-2" color="primary"
          mat-raised-button>{{'administration.save' | translate}}</button>
</div>
<div>
  <mat-form-field class="param-input mr-50px">
    <input matInput required type="number"
           [placeholder]="'administration.params.cityRadiusInKm' | translate"
           [formControl]="cityRadiusControl">
    <mat-error *ngIf="cityRadiusControl.hasError('required')">
      {{'administration.validation.required' | translate}}
    </mat-error>
    <mat-error *ngIf="cityRadiusControl.hasError('min')">
      {{'administration.validation.minValue' | translate}}
    </mat-error>
  </mat-form-field>

  <button (click)="submitCityRadius()" class="button-medium ml-2" color="primary"
          mat-raised-button>{{'administration.save' | translate}}</button>
</div>
<div>
  <mat-form-field class="param-input mr-50px">
    <input matInput required type="number"
           [placeholder]="'administration.params.timeDifferenceInD' | translate"
           [formControl]="timeDifferenceInD">
    <mat-error *ngIf="timeDifferenceInD.hasError('required')">
      {{'administration.validation.required' | translate}}
    </mat-error>
    <mat-error *ngIf="timeDifferenceInD.hasError('min')">
      {{'administration.validation.minValue' | translate}}
    </mat-error>
  </mat-form-field>

  <button (click)="submitTimeDifferenceInD()" class="button-medium ml-2" color="primary"
          mat-raised-button>{{'administration.save' | translate}}</button>
</div>
