<form [formGroup]="noteForm" class="w-100 h-100">
  <div class="row">
    <div class="col-md-6">
      <mat-form-field class="w-100">
        <input matInput
               placeholder="{{('offer.generator.stepNote.' + getTitle1(true)) | translate}}"
               formControlName="title1">
        <mat-error *ngIf="title1.hasError('required')">{{'offer.generator.fieldRequired' | translate}}</mat-error>
      </mat-form-field>
      <mat-form-field class="w-100 text-area-field-mat-input">
      <textarea matInput formControlName="description1"
                placeholder="{{('offer.generator.stepNote.' + getTitle1(false)) | translate}}"
                class="form-control text-area-field mt-1"
                rows="6"></textarea>
        <mat-error class="mt-1"
                   *ngIf="description1.hasError('required')">{{'offer.generator.fieldRequired' | translate}}</mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-6" *ngIf="!inGlobalConfig">
      <mat-form-field class="w-100">
        <input matInput
               placeholder="{{('offer.generator.stepNote.' + getTitle2(true)) | translate}}"
               formControlName="title2">
        <mat-error *ngIf="title2.hasError('required')">{{'offer.generator.fieldRequired' | translate}}</mat-error>
      </mat-form-field>
      <mat-form-field class="w-100 text-area-field-mat-input">
      <textarea matInput formControlName="description2"
                placeholder="{{('offer.generator.stepNote.' + getTitle2(false)) | translate}}"
                class="form-control text-area-field mt-1"
                rows="6"></textarea>
        <mat-error class="mt-1"
                   *ngIf="description2.hasError('required')">{{'offer.generator.fieldRequired' | translate}}</mat-error>
      </mat-form-field>
    </div>
  </div>
</form>
