@import '~src/styles/colors';
@import "~src/styles/font-weights";

::ng-deep .add-related-customer-container .mat-form-field-underline {
  background: unset;
  background-image: unset !important;
}

mat-form-field {
  width: 100%;
}

.relation-time-container {
  display: flex;
  align-items: center;
}
.date-dash {
  margin-right: 10px;
  margin-left: 10px;
}

.date-container {
  display: flex;
}

.date-container mat-form-field:nth-child(1) {
  width: 130px;
  margin-right: 17px;
}

.date-container mat-form-field:nth-child(2) {
  width: 70px;
}

.input-text {
  text-align: left;
  font: $Medium 13px/20px Poppins;
  letter-spacing: 0;
  color: $text-title !important;
  opacity: 1;
}

.ongoing-text{
  color: $green-color;
}
