<form [formGroup]="dateRangeForm">
  <div class="relation-time-container">
    <div class="date-container">
      <mat-form-field>
        <mat-select formControlName="startDateMonth">
          <mat-option class="input-text"
                      *ngFor="let month of monthList" [value]="month?.number"
                      [id]="month.number">{{month?.name}}</mat-option>
        </mat-select>
        <mat-placeholder
          class="input-text">{{'contacts.details.newRelatedCustomer.month' | translate}}</mat-placeholder>
      </mat-form-field>

      <mat-form-field>
        <mat-select formControlName="startDateYear">
          <mat-option class="input-text"
                      *ngFor="let year of dateUtil.getYearsListFromNow(-50, -1)"
                      [value]="year" [id]="year">{{year}}</mat-option>
        </mat-select>
        <mat-placeholder class="input-text">{{'contacts.details.newRelatedCustomer.year' | translate}}</mat-placeholder>
      </mat-form-field>
    </div>
    <div class="date-dash">-</div>
    <div *ngIf="ongoing; else endDateSelect" class="ongoing-text">
      {{'contacts.details.newRelatedCustomer.ongoing' | translate}}
    </div>

    <ng-template #endDateSelect>
      <div class="date-container">
        <mat-form-field>
          <mat-select formControlName="endDateMonth">
            <mat-option class="input-text"
                        *ngFor="let month of monthList" [value]="month?.number">{{month?.name}}</mat-option>
          </mat-select>
          <mat-placeholder
            class="input-text">{{'contacts.details.newRelatedCustomer.month' | translate}}</mat-placeholder>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="endDateYear">
            <mat-option class="input-text"
                        *ngFor="let year of dateUtil.getYearsListFromNow(-50, -1)"
                        [value]="year">{{year}}</mat-option>
          </mat-select>
          <mat-placeholder
            class="input-text">{{'contacts.details.newRelatedCustomer.year' | translate}}</mat-placeholder>
        </mat-form-field>
      </div>
    </ng-template>
  </div>
  <mat-error *ngIf="dateRangeForm.hasError('chronologyDateError')">
    {{'contacts.details.newRelatedCustomer.dateChronologyError' | translate}}
  </mat-error>
  <mat-error *ngIf="dateRangeForm.hasError('dependentFieldError')">
    {{'contacts.details.newRelatedCustomer.dependentFieldError' | translate}}
  </mat-error>
</form>
