@import "~src/styles/colors";

.avatar-part {
  overflow: hidden;
  position: relative;
  width: 45px;
  height: 45px;
}

.avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.avatar-letters {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #c9cdd6;
  color: $primary-contrast;
  letter-spacing: 1px;
  .avatar-text {
    margin-right: -1px;
  }
}
