<div
  class="logo-preview avatar-part"
  [style.width]="widthPx + 'px'"
  [style.height]="widthPx + 'px'"
>
  <img
    *ngIf="imageSrc || !text; else notAvatar"
    [alt]="text"
    class="avatar-img"
    src="{{ imageSrc ? imageSrc : defaultImg }}"
  />
  <ng-template #notAvatar>
    <div
      class="avatar-letters"
      [style.font-size]="(fontSizePx || widthPx / 3) + 'px'"
      [style.background-color]="color || randomColor && textToColor(text)"
    >
      <span class="avatar-text">
        {{ parseTextToAvatar(text) | uppercase }}
      </span>
    </div>
  </ng-template>
</div>
