@import '~src/styles/colors';
@import "~src/styles/table";

.sales-opportunity-list-header {
  text-align: left;
  font: $Regular 24px/35px Poppins;
  letter-spacing: 0;
  color: $action-color;
  opacity: 1;
  margin: 30px 0 5px 23px;
}


.extension-panel {
  box-shadow: none;
  margin: 0;
}

.panel-header {
  position: relative;
}

::ng-deep .panel-header .mat-content {
  flex: none;
}

.extension-header-text {
  color: $primary;
  font-size: 13px;
  font-weight: $Medium;
  letter-spacing: 1.56px;
  text-transform: uppercase;
}

.show-all-relations {
  text-align: left;
  font: $Medium 10px Poppins;
  line-height: 16px;
  letter-spacing: 1.2px;
  color: $primary;
  text-transform: uppercase;
  opacity: 1;
  margin-top: 20px;
  cursor: pointer;
}

.change-tab-icon {
  position: absolute;
  right: 20px;
  cursor: pointer;
}

::ng-deep .contact-relations {
  td.mat-cell:first-of-type,
  td.mat-footer-cell:first-of-type,
  th.mat-header-cell:first-of-type {
    padding-left: 4px;
  }
}

::ng-deep .contact-relations {
  tr {
    height: 36px !important;
  }
}
