<div class="contact-relations">
  <mat-accordion [multi]="true">
    <mat-expansion-panel class="extension-panel" expanded="true">
      <mat-expansion-panel-header class="panel-header">
        <mat-panel-title>
          <div class="extension-header-text">
            {{ "contacts.tabs.relations.salesOpportunities" | translate }}
            <button
              class="btn-transparent"
              (click)="addOpportunity($event)"
              appTooltip="ADD"
              *ngIf="'OpportunityCreateComponent.save' | auth: 'w'"
            >
              <app-icon svgIcon="plus" [primary]="true"></app-icon>
            </button>
          </div>
        </mat-panel-title>

        <button
          class="btn-transparent change-tab-icon"
          (click)="changeTab($event, 7)"
          appTooltip="OPEN_MORE"
        >
          <img
            alt="change-tab-icon"
            src="assets/icons/change-tab-icon-blue.svg"
          />
        </button>
      </mat-expansion-panel-header>

      <table
        [dataSource]="contactSalesOpportunityPreview?.opportunities"
        class="col-md-12 mini-row"
        mat-table
      >
        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-header-cell>
            {{ "contacts.tabs.salesOpportunities.name" | translate }}
          </th>
          <td *matCellDef="let opportunity" mat-cell>
            <div
              class="table-text-primary"
              [title]="opportunity.name | lengthMoreThan: 30"
            >
              {{ opportunity.name }}
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th *matHeaderCellDef mat-header-cell>
            {{ "contacts.tabs.salesOpportunities.status" | translate }}
          </th>
          <td *matCellDef="let opportunity" mat-cell>
            <mat-progress-bar
              [value]="getOpportunityProgress(opportunity)"
              class="progress-bar-element"
              mode="determinate"
            >
            </mat-progress-bar>
            <span class="progress-bar-text">
              {{ "opportunity.list.stage" | translate }}
              {{ opportunity.status }}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th
            *matHeaderCellDef
            mat-header-cell
            class="currency-header-not-sort"
          >
            {{ "contacts.tabs.salesOpportunities.amount" | translate }}
          </th>
          <td *matCellDef="let opportunity" mat-cell class="currency-value">
            <div [title]="opportunity.amount | lengthMoreThan: 30">
              {{ opportunity.amount | formatCurrency: opportunity.currency }}
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="finishDate">
          <th *matHeaderCellDef mat-header-cell>
            {{ "contacts.tabs.salesOpportunities.finishDate" | translate }}
          </th>
          <td *matCellDef="let opportunity" mat-cell>
            <div>{{ opportunity.finishDate | formatDate }}</div>
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th *matHeaderCellDef mat-header-cell></th>
          <td *matCellDef="let opportunity" mat-cell>
            <app-icon
              [matMenuTriggerFor]="menu"
              (click)="$event.stopPropagation()"
              svgIcon="option-dots"
              [hover]="false"
            ></app-icon>
            <mat-menu #menu="matMenu" xPosition="before">
              <button
                *ngIf="'OpportunityShared.edit' | auth: 'w'"
                (click)="edit(opportunity.id)"
                class="dropdown-select-item"
                mat-menu-item
              >
                <app-icon svgIcon="edit" [hover]="false" size="16px"></app-icon>
                {{ "opportunity.list.dropdown.edit" | translate }}
              </button>
              <button
                *ngIf="'OpportunityShared.delete' | auth: 'w'"
                (click)="tryDeleteOpportunity(opportunity.id)"
                class="dropdown-select-item"
                mat-menu-item
              >
                <app-icon
                  svgIcon="trash"
                  [hover]="false"
                  size="16px"
                ></app-icon>
                {{ "opportunity.list.dropdown.delete" | translate }}
              </button>
            </mat-menu>
          </td>
        </ng-container>
        <tr
          *matHeaderRowDef="filteredColumns$ | async; sticky: true"
          mat-header-row
        ></tr>
        <tr
          *matRowDef="let myRowData; columns: filteredColumns$ | async"
          mat-row
          class="clickable"
          (click)="goToOpportunityDetails(myRowData.id)"
        ></tr>
      </table>
      <div
        class="show-all-relations"
        *ngIf="contactSalesOpportunityPreview?.totalNumber > 4"
        (click)="changeTab($event, 7)"
      >
        {{
          "contacts.tabs.relations.showAll"
            | translate
              : { totalNumber: contactSalesOpportunityPreview?.totalNumber }
        }}
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <app-related-contacts
    [contactId]="_crmObject?.id"
    [preview]="true"
    (changeTabToRelatedContact)="changeTab($event, 3)"
  ></app-related-contacts>

  <app-related-customers-preview
    *ngIf="'RelatedCustomerInContactDetail.view' | auth: 'w'"
    [contactId]="_crmObject?.id"
    (changeTabToRelatedContact)="changeTab($event, 2)"
  ></app-related-customers-preview>

  <app-note-list
    *ngIf="!('view' | noteAuthKey: _crmObject?.type | auth: 'i')"
    [crmObject]="_crmObject"
    [preview]="true"
    [userMap]="userMap"
    (changeTab)="changeTab($event, 4)"
  >
  </app-note-list>

  <app-file-list-in-tab
    [crmObject]="_crmObject"
    [objectName]="contactName"
    [preview]="true"
    (changeTab)="changeTab($event, 5)"
  ></app-file-list-in-tab>

  <app-slider
    #addSlider
    [title]="'opportunity.list.addTitle' | translate"
    key="ContactSalesOpportunityCard.AddSlider"
    width="65vw"
  >
    <app-opportunity-add
      [opportunity]="opportunityWithContact"
      (opportunityAdded)="handleOpportunityAdded()"
    ></app-opportunity-add>
  </app-slider>

  <app-slider
    #editSlider
    [title]="'opportunity.list.editTitle' | translate"
    key="ContactSalesOpportunityCard.EditSlider"
    width="65vw"
  >
    <app-opportunity-edit
      [opportunity]="selectedOpportunity"
      (opportunityEdited)="handleOpportunityAdded()"
    ></app-opportunity-edit>
  </app-slider>
</div>
