<app-customer-mini-form
  *ngIf="miniForm"
  [focusOwner]="focusOwnerForm"
  [update]="true"
  [customersToChangeOwnerOperation]="true">
</app-customer-mini-form>

<div class="button-container">
  <mat-card class="mat-elevation-z0 no-top-left-border-radius no-top-right-border-radius card-border-radius ">
    <div class="row">
      <div class="col-md-12">
        <div class="pull-right">
          <button mat-stroked-button class="button-medium" color="primary"
                  (click)="closeSlider()">{{'customer.form.add.cancel' | translate}}</button>
          <button mat-raised-button class="button-medium ml-2" color="primary" (click)="submit()">{{'customer.form.add.save' | translate}}</button>
        </div>
      </div>
    </div>
  </mat-card>
</div>
