<form [formGroup]="fileDetailsForm">
  <div class="card-container">
    <mat-card
      class="main-card card-border-radius no-bottom-left-border-radius no-bottom-right-border-radius"
    >
      <div class="inner-container">
        <div class="details-section">
          <div class="header header-truncate">
            <img
              class="header-icon"
              src="{{ fileFormat | fileFormatToIcon }}"
            />
            <div class="file-name-text">{{ fileName }}</div>
          </div>
          <ng-container *ngIf="authKey + 'description' | auth: 'i':true">
            <div class="label-text mb-2">
              {{ "files.details.description" | translate }}
            </div>
            <textarea
              formControlName="description"
              class="form-control text-area active-note-text mb-3"
              rows="6"
            >
            </textarea>
          </ng-container>
          <div class="d-flex mb-4" *ngIf="authKey + 'addedBy' | auth: 'i':true">
            <div class="added-by-label">
              {{ "files.details.addedBy" | translate }}
            </div>
            <div class="added-by-text">
              {{ userMap?.get(_file?.author) }} ,
              {{ _file?.created | formatDate: true }}
            </div>
          </div>
          <mat-form-field
            class="w-100 mb-2"
            *ngIf="authKey + 'tags' | auth: 'i':true"
          >
            <mat-label class="tag-label-text">{{
              "files.details.tags" | translate
            }}</mat-label>
            <mat-chip-list #tagList formControlName="tags">
              <mat-chip
                (removed)="removeTag(tag)"
                *ngFor="let tag of tags.value"
                [removable]="true"
                [selectable]="true"
              >
                {{ tag }}
                <mat-icon matChipRemove
                  ><i class="fa fa-times-circle-o"></i
                ></mat-icon>
              </mat-chip>
              <input
                #tagInput
                formControlName="currentTag"
                (matChipInputTokenEnd)="addTag($event)"
                [matChipInputSeparatorKeyCodes]="[32, 13]"
                [matAutocomplete]="auto"
                [matChipInputAddOnBlur]="false"
                [matChipInputFor]="tagList"
              />
            </mat-chip-list>
            <mat-autocomplete
              #auto="matAutocomplete"
              (optionSelected)="selected($event.option.viewValue)"
            >
              <mat-option
                *ngFor="let tag of availableTags$ | async"
                [value]="tag"
              >
                {{ tag }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <ng-container *ngIf="authKey + 'assignedTo' | auth: 'i':true">
            <div class="assigned-to-label mb-3">
              {{ "files.details.assignedTo" | translate }}
            </div>
            <mat-form-field class="w-100" [class.d-none]="!searchVisible">
              <span class="inline">
                <input
                  #searchInput
                  matInput
                  formControlName="assignToItem"
                  [matAutocomplete]="auto"
                />
                <mat-spinner
                  *ngIf="areItemsToAssignLoading"
                  [diameter]="16"
                ></mat-spinner>
              </span>
              <mat-autocomplete #auto="matAutocomplete" #autocomplete>
                <mat-option
                  *ngFor="let option of filteredAssignToOptions"
                  disabled
                >
                  <div class="assigned-to-item">
                    <img
                      class="assigned-to-icon"
                      src="{{ option?.type | fileGroupToIcon }}"
                    />
                    <div class="flex-grow-1">
                      <div class="assigned-to-text">{{ option?.label }}</div>
                      <div class="assigned-to-note">
                        {{
                          "documents.fileDetails.fileGroup." + option?.type
                            | translate
                        }}
                      </div>
                    </div>
                    <mat-checkbox
                      class="crm-checkbox"
                      (click)="$event.stopPropagation()"
                      (change)="toggleItemToAssign($event, option)"
                      color="primary"
                    >
                    </mat-checkbox>
                  </div>
                </mat-option>
                <div class="dropdown-footer">
                  <div
                    class="add-button-text clickable"
                    (click)="addItemsToAssign()"
                  >
                    {{ "documents.fileDetails.add" | translate }}
                  </div>
                </div>
              </mat-autocomplete>
            </mat-form-field>

            <div
              *ngFor="let option of selectedItemsToAssign"
              class="assigned-to-item mb-3"
            >
              <img
                class="assigned-to-icon"
                src="{{ option?.type | fileGroupToIcon }}"
              />
              <div class="flex-grow-1">
                <div class="assigned-to-text">{{ option?.label }}</div>
                <div class="assigned-to-note">
                  {{
                    "documents.fileDetails.fileGroup." + option?.type
                      | translate
                  }}
                </div>
              </div>
              <button
                appTooltip="DELETE"
                class="btn-transparent trash-icon"
                (click)="deleteAssignOption(option)"
              >
                <app-icon
                  svgIcon="trash"
                  [hover]="false"
                  size="16px"
                ></app-icon>
              </button>
            </div>

            <div class="assigned-to-item mb-5" *ngIf="assignedTo">
              <img
                class="assigned-to-icon"
                src="{{ 'customer' | fileGroupToIcon }}"
              />
              <div class="flex-grow-1">
                <div class="assigned-to-text">{{ assignedTo?.label }}</div>
                <div class="assigned-to-note">
                  {{
                    "documents.fileDetails.fileGroup." + assignedTo?.type
                      | translate
                  }}
                </div>
              </div>
              <button
                *ngIf="authKey + 'assignedTo' | auth: 'r':true"
                class="btn-transparent"
                (click)="showGroupSearch(searchInput)"
              >
                <app-icon svgIcon="plus" [hover]="false"></app-icon>
              </button>
            </div>
            <div *ngIf="!assignedTo">
              <button
                class="btn-transparent to-right"
                (click)="showGroupSearch(searchInput)"
              >
                <app-icon svgIcon="plus" [hover]="false"></app-icon>
              </button>
            </div>
          </ng-container>
        </div>
        <div class="sharing-section">
          <div>
            <div>
              <mat-checkbox
                #privateCheckbox
                class="crm-checkbox mr-2"
                color="primary"
                [checked]="isPrivate === true"
                (change)="isPrivate = $event.checked"
              ></mat-checkbox>
              <span
                [className]="
                  privateCheckbox.checked
                    ? 'checkbox-checked-text'
                    : 'checkbox-unchecked-text'
                "
              >
                {{ "files.details.private" | translate }}
              </span>
            </div>
            <div>
              <mat-checkbox
                #publicCheckbox
                class="crm-checkbox mr-2"
                color="primary"
                [checked]="isPrivate === false"
                (change)="isPrivate = !$event.checked"
              ></mat-checkbox>
              <span
                [className]="
                  publicCheckbox.checked
                    ? 'checkbox-checked-text'
                    : 'checkbox-unchecked-text'
                "
              >
                {{ "files.details.public" | translate }}
              </span>
            </div>
            <div>
              <mat-checkbox
                #allowToShareCheckbox
                class="crm-checkbox mr-2"
                color="primary"
              ></mat-checkbox>
              <span
                [className]="
                  allowToShareCheckbox.checked
                    ? 'checkbox-checked-text'
                    : 'checkbox-unchecked-text'
                "
              >
                {{ "files.details.allowSharing" | translate }}
              </span>
            </div>
          </div>
          <div>
            <div class="valid-to-text">
              {{ "files.details.validUntil" | translate }}
            </div>
            <div>
              <mat-form-field>
                <input matInput [matDatepicker]="validUntilDatePicker" />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="validUntilDatePicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #validUntilDatePicker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </mat-card>

    <mat-card
      class="buttons-bar card-border-radius no-top-left-border-radius no-top-right-border-radius"
    >
      <button
        mat-stroked-button
        class="button-medium"
        color="primary"
        (click)="cancel()"
      >
        {{ "files.details.cancel" | translate }}
      </button>
      <button
        mat-raised-button
        class="button-medium ml-2"
        color="primary"
        *ngIf="authKey + 'save' | auth: 'w'"
        (click)="submit()"
      >
        {{ "files.details.ok" | translate }}
      </button>
    </mat-card>
  </div>
</form>
