@import "../../../styles/font-weights";


.file-name-text {
  font-size: 13px;
  font-weight: $Medium;
  color: $text-title;
}

.label-text {
  font-size: 13px;
  font-weight: $Medium;
  color: $action-color;
}

.assigned-to-label {
  font-size: 12px;
  font-weight: $Medium;
  color: $text-secondary;
}

.tag-label-text {
  font-size: 13px;
  font-weight: $Medium;
  color: $text-secondary;
}

.added-by-label {
  font-size: 12px;
  font-weight: $Medium;
  color: $text-secondary;
}

.added-by-text {
  font-size: 12px;
  font-weight: $Medium;
  color: $action-color;
}

.assigned-to-text {
  font-size: 13px;
  font-weight: $SemiBold;
  color: $text-title;
  line-height: 20px;
}

.assigned-to-note {
  font-size: 12px;
  font-weight: $Regular;
  color: $text-secondary;
  line-height: 17px;
}

.valid-to-text {
  font-size: 10px;
  font-weight: $Medium;
  letter-spacing: 1.2px;
  color: $primary;
  text-transform: uppercase;
}

.checkbox-checked-text {
  font-size: 13px;
  font-weight: $Medium;
  color: $text-title;
}

.checkbox-unchecked-text {
  font-size: 13px;
  font-weight: $Medium;
  color: $text-secondary;
}

.add-button-text {
  font-size: 12px;
  font-weight: $Medium;
  color: $primary;
}
