@import "../../../styles/slider";
@import "../../../styles/font-weights";
@import "../../../styles/form";
@import "file-details-fonts.component";

$card-padding: 30px;
$inner-padding: $card-padding * 0.66;
$outer-padding: $card-padding * 0.33;

mat-card {
  padding: 0;
}

.card-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  height: calc(100vh - 68px)
}

.fill-space {
  flex-grow: 1;
}

.buttons-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: $card-padding;
  height: 86px;
}

.main-card {
  flex-grow: 1;
  height: 100%;
  padding: $outer-padding;

}

.inner-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
  position: relative;
  padding: $inner-padding;
}


.sharing-section {
  display: flex;
  justify-content: space-between;
}

.details-section {
  flex-grow: 1;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.header-icon {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.assigned-to-icon {
  width: 48px;
  height: 48px;
  margin-right: 10px;
}

.header-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 20vw;
}

.assigned-to-item {
  display: flex;
  align-items: center;
}

.inline {
   display: flex;
   justify-content: space-between;
 }

.dropdown-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: sticky;
  bottom: 0;
  background: $bg-primary;
  height: 40px;
  padding-right: 16px;
}

mat-option {
  height: 60px;
}

mat-checkbox {
  margin-right: 12px;
}

.trash-icon {
  margin-right: 5px;
}

.fa-times-circle-o {
  position: absolute;
  top: 8px;
}

.to-right {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
