@import "../../../styles/slider";
@import "../../../styles/font-weights";
@import "../../../styles/form";

.dictionary-header > mat-form-field {
  width: 550px;
  margin-right: 30px;
  display: inline-block;
}

.dictionary-header > button {
  display: inline-block;
  top: 9px;
  position: relative;
}

.words-container {
  overflow-y: auto;
  max-height: 330px;
}

