<div class="dictionary-header">
  <mat-form-field class="param-input mat-form-field">
    <mat-select
      [formControl]="dictionary"
      (selectionChange)="dictionaryChange()"
    >
      <mat-option
        #dictionaryOption
        class="dictionary-option dictionary-option-text"
        *ngFor="let dictionary of dictionaries"
        [value]="dictionary.id"
      >
        {{ "dictionaries.types." + dictionary.name | translate }}
      </mat-option>
    </mat-select>
    <mat-placeholder class="placeholder">{{
      "dictionaries.dictionary" | translate
    }}</mat-placeholder>
  </mat-form-field>
  <app-icon svgIcon="add" (click)="addNewWord()"></app-icon>
</div>

<div class="words-container">
  <ng-template #componentContainer></ng-template>
</div>
