@import "~src/styles/form";
@import "~src/styles/font-weights";

.header {
  background-color: $task-header;
  height: 105px;
}

.additional-header {
  position: fixed;
  background-color: rgba(78, 91, 119, 0.5);
  height: 105px;
  width: 3px;
  margin-left: -3px;
}

.field-text {
  font-weight: $Medium;
  font-size: 12px;
  color: $action-color;
}

.title-input {
  padding-top: 1.5em !important;
}

::ng-deep .title-input * .mat-input-element {
  color: $primary-contrast !important;
  font-weight: $Medium !important;
}

// placeholder
::ng-deep .title-input * .placeholder {
  color: rgba($primary-contrast-rgb, 0.5);
}
::ng-deep .title-input * .mat-form-field-required-marker {
  color: rgba($primary-contrast-rgb, 0.5);
}

::ng-deep .title-input * .mat-form-field-underline {
  background-color: rgba($bg-primary-rgb, 0.5) !important;
}

::ng-deep .title-input * .mat-form-field-empty.mat-form-field-label {
  color: rgba($primary-contrast-rgb, 0.5) !important;
  font-weight: $Medium !important;
}

.text-area-field:focus {
  background-color: $bg-primary;
  border-color: $border-primary;
  color: $text-title;
}
.text-area-field {
  background-color: $bg-primary;
  border-color: $border-secondary;
}
.display-content {
  display: contents;
}
.content {
  overflow-y: auto;
  height: calc(100% - 115px);
}

::ng-deep .color-list-menu {
  box-shadow: none !important;
  background: rgba($bg-primary-rgb, 0);
  background-color: rgba($bg-primary-rgb, 0);
  margin-top: -10px;
  margin-left: 2px;
}

::ng-deep .color-list-menu > .mat-option {
  background: none !important;
}
::ng-deep .color-list-menu > .mat-option {
  height: 32px !important;
  border-radius: 8px;
  margin-bottom: 4px;
  width: calc(100% - 16px);
  letter-spacing: 1.2px;
  font-weight: $Medium !important;
  font-size: 10px !important;
  text-transform: uppercase;
  background-repeat: no-repeat !important;
}

::ng-deep .color-button * .mat-form-field-underline,
::ng-deep .color-button > .mat-select-arrow,
::ng-deep .color-button * .mat-select-arrow,
::ng-deep .color-button * .mat-form-field-label-wrapper {
  display: none;
}
::ng-deep .color-button .mat-form-field-infix {
  margin-top: -9px !important;
  margin-left: 14px !important;
}

::ng-deep[theme="dark"] .color-button * .mat-select-arrow-wrapper {
  content: url("~src/assets/icons/common/colors/light/down-arrow-light.svg");
}

::ng-deep .color-button > .mat-select-arrow-wrapper,
::ng-deep .color-button * .mat-select-arrow-wrapper {
  content: url("~src/assets/icons/common/colors/dark/down-arrow-dark.svg");
  width: 24px;
  height: 24px;
  margin-top: -8px;
  margin-bottom: -8px;
  margin-right: 5px;
}

::ng-deep .color-button * .mat-select-value {
  overflow: inherit;
}
::ng-deep .color-button * .mat-select-value-text {
  letter-spacing: 1.2px;
  font-weight: $Medium !important;
  font-size: 10px;
  text-transform: uppercase;
  margin-left: 2px;
}

.color-button {
  width: 100%;
  margin-top: 1em;
  border-radius: 8px;
  height: 32px;
  padding: 0;
  cursor: pointer;
  background-repeat: no-repeat;

  img {
    float: right;
    margin-top: -4px;
  }
}

@each $color
  in "white"
  "blue"
  "purple"
  "yellow"
  "pink"
  "green"
  "brown"
  "turquoise"
{
  .color-button-#{$color} {
    background-image: url("~src/assets/icons/task/task_#{$color}.svg") !important;
  }
}
@each $color in "blue" "purple" "yellow" "pink" "green" "brown" "turquoise" {
  .color-button-#{$color} {
    color: $primary-contrast !important;
  }
  ::ng-deep .color-button-#{$color} .mat-select-value-text {
    color: $primary-contrast !important;
  }
}
::ng-deep .color-button-white * .mat-select-value-text,
.color-button-white {
  color: $text-secondary !important;
}

.select-arrow-down {
  margin-top: -10px;
}

.disable-background {
  background-color: $bg-secondary !important;
  height: calc(100% - 105px) !important;
}
.name-invalid-message {
  display: block;
  text-align: center;
  color: $text-secondary;
  font-size: 13px;
  font-weight: $Medium;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  .message-row {
    max-width: 180px;
    text-align: center;
    img {
      width: 20px;
      height: 20px;
    }
  }
}

.process-name,
.process-name mat-error {
  color: $primary-contrast !important;
}

.process-name ::ng-deep.mat-form-field-ripple {
  background-color: $bg-primary !important;
}

.process-name ::ng-deep.mat-input-element {
  caret-color: $primary-contrast !important;
}

.process-name ::ng-deep.mat-form-field-required-marker {
  color: $text-secondary !important;
}
