<form [formGroup]="processTitleForm" class="display-content">
  <div class="additional-header"></div>
  <div class="header p-3 title-input">
    <mat-form-field class="w-100 process-name">
      <input
        matInput
        (ngModelChange)="nameChanged($event)"
        formControlName="name"
        required
      />
      <mat-placeholder class="placeholder">{{
        "bpmn.panel.process.namePlaceholder" | translate
      }}</mat-placeholder>
      <mat-error *ngIf="processTitleForm.get('name').hasError('required')">
        {{ "bpmn.panel.process.nameRequiredError" | translate }}
      </mat-error>
      <mat-error
        *ngIf="
          processTitleForm.get('name').hasError('whitespace') &&
          !processTitleForm.get('name').hasError('required')
        "
      >
        {{ "sharedValidators.whitespace" | translate }}
      </mat-error>
      <mat-error *ngIf="processTitleForm.get('name').hasError('maxlength')">
        {{ "bpmn.panel.process.nameMaxLengthError" | translate }}
      </mat-error>
    </mat-form-field>
  </div>
  <div *ngIf="storedProcess && isNameValid()" class="pl-4 pt-4 pr-4 content">
    <div class="field-text">
      {{ "bpmn.panel.process.objectTypeTitle" | translate }}
    </div>
    <mat-form-field class="w-100 pl-1 pr-1">
      <mat-select
        matNativeControl
        panelClass="dropdown-w-100"
        [disableRipple]="true"
        formControlName="objectType"
        [disableOptionCentering]="true"
        (selectionChange)="objectTypeChanged($event.value)"
        [value]="this.storedProcess.objectType"
      >
        <mat-option
          *ngFor="let objectType of bpmnObjectTypeEnum | keyvalue"
          [value]="bpmnObjectTypeEnum[objectType.value]"
        >
          {{
            "bpmn.panel.process.objectType." + objectType.value.toLowerCase()
              | translate
          }}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="processTitleForm.get('objectType').hasError('required')"
      >
        {{ "bpmn.panel.process.objectTypeRequiredError" | translate }}
      </mat-error>
    </mat-form-field>

    <div class="field-text">
      {{ "bpmn.panel.process.addProcessDescription" | translate }}
    </div>

    <textarea
      formControlName="documentation"
      (ngModelChange)="documentationChanged($event)"
      [placeholder]="'bpmn.panel.process.documentationPlaceholder' | translate"
      class="form-control mt-2 mb-4 text-area-field"
      rows="3"
      >{{ storedProcess.documentation }}</textarea
    >

    <div class="field-text">
      {{ "bpmn.panel.process.processAvailableTypeTitle" | translate }}
    </div>
    <mat-form-field class="select-arrow-down w-100 pl-1 pr-1">
      <mat-select
        matNativeControl
        panelClass="dropdown-w-100"
        formControlName="availableType"
        [disableRipple]="true"
        [disableOptionCentering]="true"
        [value]="storedProcess.availableType"
      >
        <mat-option
          *ngFor="
            let processAvailableType of processAvailableTypeEnum | keyvalue
          "
          (click)="
            availableTypeChanged(
              processAvailableTypeEnum[processAvailableType.value]
            )
          "
          [value]="processAvailableType.value"
        >
          {{
            "bpmn.panel.process.processAvailableType." +
              processAvailableType.value.toLowerCase() | translate
          }}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="processTitleForm.get('availableType').hasError('required')"
      >
        {{ "bpmn.panel.process.processAvailableTypeRequiredError" | translate }}
      </mat-error>
    </mat-form-field>

    <ng-container *ngIf="showDepartment()">
      <div class="field-text">
        {{ "bpmn.panel.process.departmentTitle" | translate }}
      </div>
      <mat-form-field class="select-arrow-down w-100 pl-1 pr-1 mb-4">
        <mat-select
          panelClass="dropdown-w-100"
          [disableRipple]="true"
          formControlName="department"
          [disableOptionCentering]="true"
        >
          <mat-option
            *ngFor="let department of roles"
            (click)="departmentChanged(department.id)"
            [value]="department.id"
          >
            {{ department.name }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="processTitleForm.get('department').hasError('required')"
        >
          {{ "bpmn.panel.process.departmentRequired" | translate }}
        </mat-error>
      </mat-form-field>
    </ng-container>

    <div class="field-text">
      {{ "bpmn.panel.process.selectProcessColor" | translate }}
    </div>
    <mat-form-field
      class="color-button"
      [ngClass]="'color-button-' + selectedColor.colorName"
      [ngStyle]="{ color: selectedColor.textHex }"
    >
      <mat-select
        matNativeControl
        panelClass="color-list-menu"
        [disableRipple]="true"
        formControlName="color"
        [disableOptionCentering]="true"
      >
        <mat-option
          *ngFor="let color of colors | selectedColorOnTop: selectedColor"
          (click)="selectColor(color)"
          [ngClass]="'color-button-' + color.colorName"
          [value]="color.id"
        >
          {{ color.key | translate }}
        </mat-option>
      </mat-select>

      <mat-error *ngIf="processTitleForm.get('color').hasError('notSelected')">
        {{ "bpmn.panel.process.processColorRequired" | translate }}
      </mat-error>
    </mat-form-field>
  </div>
  <div
    class="pl-4 pt-4 pr-4 content position-relative disable-background"
    *ngIf="!isNameValid()"
  >
    <div class="name-invalid-message">
      <div class="message-row">
        <app-icon
          svgIcon="info"
          [primary]="true"
          [pointer]="false"
        ></app-icon>
      </div>
      <div class="message-row">
        {{ "bpmn.panel.process.setNameToShowOptions" | translate }}
      </div>
    </div>
  </div>
</form>
