@import '~src/styles/colors';
@import "~src/styles/table";
@import "~src/styles/form";
@import "~src/styles/slider";

.display-block {
  display: block;
}

.no-users {
  margin-top: -20px !important;
}

.button-with-progress-bar {
  display: flex;
  width: fit-content;
  margin: auto;
}
