<mat-card class="mat-elevation-z8 fill-screen table-container">
  <div class="row overflow-y with-title display-block">
    <div class="col-md-6">
      <app-goal-form #goalFormComponent
                     [emptyCategoryListError]="!categoryListIsValid && goalFormTouched"
                     [emptyProductListError]="!productListIsValid && goalFormTouched">
      </app-goal-form>
    </div>
    <div class="col-md-12 mt-3">
      <app-goal-user-list class="mb-2"></app-goal-user-list>
      <mat-error *ngIf="!userListIsValid && goalFormTouched" class="no-users">{{'goal.add.noUsersError' | translate}}</mat-error>
      <mat-error *ngIf="!userListValuesIsValid && goalFormTouched" class="no-users">{{'goal.add.intervalValuesError' | translate}}</mat-error>
    </div>
  </div>
</mat-card>

<div class="button-container">
  <mat-card class="mat-elevation-z0 card-border-radius no-top-border-radius">
    <div class="row">
      <div class="col-md-12">
        <div class="pull-right">
          <button (click)="cancel()" class="button-medium" color="primary"
                  mat-stroked-button>{{'goal.add.cancel' | translate}}</button>
          <button (click)="submit()" class="button-medium ml-2" color="primary"
                  mat-raised-button>
            <span class="button-with-progress-bar">
                {{'goal.add.save' | translate}}
              <mat-spinner [diameter]="20" *ngIf="saveInProgress" color="accent" class="ml-2 mt-2"></mat-spinner>
              </span>
          </button>
        </div>
      </div>
    </div>
  </mat-card>
</div>
