<mat-card class="mat-elevation-z8 fill-screen table-container">
  <div class="table-header-container">
      <span>
        <span class="table-header-primary">{{'license.list.title' | translate}}</span>
        <span class="table-header-note">({{licenses?.length}})</span>
      </span>
      <div>
        <button class="add-icon" (click)="newLicense()"></button>
      </div>
  </div>
  <div class="row overflow-y with-title">
    <table [dataSource]="licenseSubject" class="col-md-12 row-collapsed" mat-table>
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell>{{'license.list.table.name' | translate}}</th>
        <td *matCellDef="let license" mat-cell>
          <div class="table-text-primary">{{license.name}}</div>
        </td>
      </ng-container>
      <ng-container matColumnDef="phone">
        <th *matHeaderCellDef mat-header-cell>{{'license.list.table.phone' | translate}}</th>
        <td *matCellDef="let license" mat-cell>{{license.phone}}</td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th *matHeaderCellDef mat-header-cell>{{'license.list.table.email' | translate}}</th>
        <td *matCellDef="let license" mat-cell>{{license.mail}}</td>
      </ng-container>
      <ng-container matColumnDef="lastPayment">
        <th *matHeaderCellDef mat-header-cell>{{'license.list.table.lastPayment' | translate}}</th>
        <td *matCellDef="let license" mat-cell>{{license.lastPayment | formatDate}}</td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th *matHeaderCellDef mat-header-cell>{{'license.list.table.type' | translate}}</th>
        <td *matCellDef="let license"
            mat-cell>{{('license.list.type.' + (license.type | lowercase)) | translate}}</td>
      </ng-container>
      <ng-container matColumnDef="instanceId">
        <th *matHeaderCellDef mat-header-cell>{{'license.list.table.instanceId' | translate}}</th>
        <td *matCellDef="let license" mat-cell>{{license.instanceId}}</td>
      </ng-container>
      <ng-container matColumnDef="expirationDate">
        <th *matHeaderCellDef mat-header-cell
        >{{'license.list.table.expirationDate' | translate}}</th>
        <td *matCellDef="let license" mat-cell>{{license.expirationDate | formatDate}}</td>
      </ng-container>
      <ng-container matColumnDef="domain">
        <th *matHeaderCellDef mat-header-cell>{{'license.list.table.domain' | translate}}</th>
        <td *matCellDef="let license" mat-cell>{{license.domain}}</td>
      </ng-container>
      <ng-container matColumnDef="locked">
        <th *matHeaderCellDef mat-header-cell
        >{{'license.list.table.active' | translate}}</th>
        <td *matCellDef="let license" mat-cell>
          <span *ngIf="!license.locked">{{'license.list.table.activeTypes.active' | translate}}</span>
          <span *ngIf="license.locked">{{'license.list.table.activeTypes.inactive' | translate}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th *matHeaderCellDef mat-header-cell></th>
        <td *matCellDef="let license" mat-cell>
          <button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()" class="dots-icon-light"></button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button class="dropdown-select-item" mat-menu-item (click)="goToLicense(license.id)">
              <img class="action-icon"
                   src="assets/icons/icons/edit_icon.svg"/>{{'license.list.edit' | translate}}
            </button>
          </mat-menu>
        </td>
      </ng-container>
      <tr *matHeaderRowDef="columns; sticky: true" mat-header-row></tr>
      <tr *matRowDef="let myRowData; columns: columns" mat-row
          (click)="goToLicense(myRowData.id)"
          class="clickable"></tr>
    </table>
  </div>
</mat-card>
