<span
  *ngIf="
    !disabled && (!formControlUuidList || formControlUuidList.length === 0)
  "
  class="field-icons no-items-add-button"
>
  <app-icon
    svgIcon="plus-circle-b"
    [hover]="false"
    (click)="addNewForm($event)"
  ></app-icon>
  {{ "bpmn.panel.property.listForm.addNextField" | translate }}
  <div class="error-field">
    {{ "bpmn.panel.property.listForm.noValuesError" | translate }}
  </div>
</span>
<form [formGroup]="listFormGroup">
  <div *ngFor="let formControlUuid of formControlUuidList">
    <mat-form-field class="w-100">
      <input
        matInput
        [readonly]="disabled"
        (ngModelChange)="modelChange(formControlUuid, $event)"
        [formControlName]="formControlUuid.possibleValue.id"
        required
      />
      <span class="pull-right field-icons" *ngIf="!disabled">
        <app-icon
          svgIcon="plus-circle-b"
          [hover]="false"
          (click)="addNewForm($event, formControlUuid)"
        ></app-icon>
        <app-icon
          svgIcon="minus-circle-b"
          [hover]="false"
          (click)="removeForm($event, formControlUuid)"
        ></app-icon>
      </span>
      <mat-placeholder class="placeholder">{{
        "bpmn.panel.property.listForm.valuePlaceholder" | translate
      }}</mat-placeholder>
      <mat-error
        *ngIf="
          listFormGroup
            .get(formControlUuid.possibleValue.id)
            .hasError('required') ||
          listFormGroup
            .get(formControlUuid.possibleValue.id)
            .hasError('whitespace')
        "
      >
        {{ "bpmn.panel.property.listForm.valueRequiredError" | translate }}
      </mat-error>
      <mat-error
        *ngIf="
          listFormGroup
            .get(formControlUuid.possibleValue.id)
            .hasError('valueExist')
        "
      >
        {{ "bpmn.panel.property.listForm.valueExistError" | translate }}
      </mat-error>
    </mat-form-field>
  </div>
</form>
