@import "~src/styles/form";
@import "~src/styles/font-weights";

.field-icons {
  position: inherit;
  margin-top: -20px;
  margin-bottom: -4px;
  cursor: pointer;
}

.no-items-add-button {
  color: $action-color;
  font-size: 12px;
  font-weight: $Medium;
  margin-left: -5px;
}

.error-field {
  font-size: 10px !important;
  color: $error-color !important;
  font-weight: $Medium !important;
}
