<form [formGroup]="propertyTitleForm" class="display-content">
  <div class="additional-header"></div>
  <div class="header p-3 form-inline">
    <img *ngIf="checkPropertyType(bpmnTypeEnum.BOOLEAN)" class="title-image" src="assets/icons/bpmn/checkbox_panel_icon.svg"/>
    <img *ngIf="checkPropertyType(bpmnTypeEnum.ENUM)" class="title-image" src="assets/icons/bpmn/list_panel_icon.svg"/>
    <img *ngIf="checkPropertyType(bpmnTypeEnum.DOUBLE)" class="title-image" src="assets/icons/bpmn/123_panel_icon.svg"/>
    <img *ngIf="checkPropertyType(bpmnTypeEnum.STRING)" class="title-image" src="assets/icons/bpmn/tt_panel_icon.svg"/>
    <div class="title-input">
      <mat-form-field class="w-100 property-name">
        <input matInput
              [readonly]="selectedPropertyPanel?.task?.isInformationTask"
              formControlName="name"
              (ngModelChange)="nameChanged($event)">
        <mat-placeholder class="placeholder">{{namePlaceholder | translate}}</mat-placeholder>
        <mat-error
          *ngIf="propertyTitleForm.get('name').hasError('required')">
          {{'bpmn.panel.property.nameRequiredError' | translate}}
        </mat-error>
        <mat-error
          *ngIf="propertyTitleForm.get('name').hasError('whitespace') && !propertyTitleForm.get('name').hasError('required')">
          {{'sharedValidators.whitespace' | translate}}
        </mat-error>
        <mat-error
          *ngIf="propertyTitleForm.get('name').hasError('propertyExist')">
          {{'bpmn.panel.property.nameExistError' | translate}}
        </mat-error>
        <mat-error *ngIf="propertyTitleForm.get('name').hasError('maxlength')">
          {{'bpmn.panel.property.nameMaxLengthError' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="pl-4 pt-4 pr-4 content" *ngIf="isNameValid()">
    <div *ngIf="storedProcess && checkPropertyType(bpmnTypeEnum.ENUM)" class="">
      <app-property-list-form (formValidChange)="listFormValidChange($event)" [possibleValues]="possibleValues" (possibleValueChanged)="possibleValuesChanged($event)"
      [disabled]="selectedPropertyPanel?.task?.isInformationTask"></app-property-list-form>
    </div>
    <div *ngIf="storedProcess" class="field-text mt-3 display-flex">
      <mat-checkbox
        (ngModelChange)="requiredCheckboxChanged($event)"
        [disabled]="selectedPropertyPanel?.task?.isInformationTask"
        class="required-checkbox mr-2"
        formControlName="requiredCheckbox" color="primary"></mat-checkbox>
      <span>{{'bpmn.panel.property.fieldRequired' | translate}}</span>
    </div>
    <div *ngIf="storedProcess && !selectedPropertyPanel.task.isInformationTask" class="field-text mt-3 display-flex center-vertically" (click)="addNewField()">
      <svg-icon [svgStyle]="{'fill': '#FFAD0C'}" [stretch]="true" class="cursor-pointer mr-2"
                src="assets/icons/add-empty-fill.svg"></svg-icon>
      <span *ngIf="checkPropertyType(bpmnTypeEnum.STRING)">
        {{'bpmn.panel.property.nextStringProperty' | translate}}</span>
      <span *ngIf="checkPropertyType(bpmnTypeEnum.DOUBLE)">
        {{'bpmn.panel.property.nextNumberProperty' | translate}}</span>
      <span *ngIf="checkPropertyType(bpmnTypeEnum.ENUM)">
        {{'bpmn.panel.property.nextEnumProperty' | translate}}</span>
      <span *ngIf="checkPropertyType(bpmnTypeEnum.BOOLEAN)">
        {{'bpmn.panel.property.nextBooleanProperty' | translate}}</span>
    </div>
  </div>
  <div class="pl-4 pt-4 pr-4 content position-relative disable-background " *ngIf="!isNameValid()">
    <div class="name-invalid-message">
      <div class="message-row">
        <img class="action-icon" src="assets/icons/bpmn/info-property.svg"/>
      </div>
      <div class="message-row">
        {{'bpmn.panel.property.setNameToShowOptions' | translate}}
      </div>
    </div>
  </div>
</form>
