@import "~src/styles/colors";
@import "~src/styles/form";
@import "~src/styles/font-weights";

.header {
  background-color: $yellow-bg;
  height: 105px;
}

.additional-header {
  position: fixed;
  background-color: $yellow-bg;
  height: 105px;
  width: 3px;
  margin-left: -3px;
}

.field-text {
  font-weight: $Medium;
  font-size: 12px;
  color: $action-color;
}
.title-image {
  width: 46px;
  margin-top: -10px;
}

.title-input {
  width: calc(100% - 70px);
  margin-left: 16px;
  margin-top: 10px;
}

::ng-deep .title-input * .mat-input-element {
  color:  $primary-contrast !important;
  font-weight: $Medium !important;
}

// placeholder
::ng-deep .title-input * .placeholder {
  color: rgba($primary-contrast-rgb, 0.5);
}
::ng-deep .title-input * .mat-form-field-required-marker {
  color: rgba($primary-contrast-rgb, 0.5);
}

::ng-deep .title-input * .mat-form-field-underline {
  background-color: rgba($bg-primary-rgb, 0.5) !important;
  background-image: none !important;
}

::ng-deep .title-input * .mat-form-field-empty.mat-form-field-label {
  color: rgba($primary-contrast-rgb, 0.5) !important;
  font-weight: $Medium !important;
}
::ng-deep .title-input * .mat-form-field-underline {
  background-repeat: no-repeat !important;
}

::ng-deep .required-checkbox * .mat-checkbox-inner-container {
  width: 20px;
  height: 20px;
}

::ng-deep.required-checkbox.mat-checkbox-checked .mat-checkbox-background {
  background-color: rgb(255, 173, 12);
}

.display-content {
  display: contents;
}
.display-flex {
  display: flex;
}

.center-vertically {
  align-items: center;
}

.content {
  overflow-y: auto;
  height: calc(100% - 115px);
}

.disable-background {
  background-color: $bg-secondary !important;
  height: calc(100% - 105px) !important;
}
.name-invalid-message {
  display: block;
  text-align: center;
  color: $text-secondary;
  font-size: 13px;
  font-weight: $Medium;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  .message-row {
    max-width: 180px;
    text-align: center;
    img {
      width: 20px;
      height: 20px;
    }
  }
}

.property-name,
.property-name mat-error {
  color:  $primary-contrast !important;
}

.property-name ::ng-deep.mat-form-field-ripple {
  background-color: $bg-primary !important;
}

.property-name ::ng-deep.mat-input-element {
  caret-color:  $primary-contrast !important;
}

.property ::ng-deep.mat-form-field-required-marker {
  color: $text-secondary !important;
}
