<div class="logo-preview avatar-part" [style.width]="widthPx + 'px'" [style.height]="widthPx + 'px'">
  <img alt="logo-preview" class="add-image" src="{{ imageSrc }}" [ngStyle]="{'border-radius' : rounded? '50%' : '10%'}" [ngClass]="{'hide-logo' : !correctLogo}"
       (load)="logoLoaded(false)" (error)="logoLoaded(true)"/>
  <img alt="logo-preview" class="add-image" src="{{defaultImg}}" [ngStyle]="{'border-radius' : rounded? '50%' : '10%'}" [ngClass]="{'hide-logo' : correctLogo}"/>
</div>
