@import "~src/styles/colors";
@import "~src/styles/form";
@import "~src/styles/font-weights";


.hide-logo {
  display: none;
}

.avatar-part {
  overflow: hidden;
  position: relative;
}

.add-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.add-image-title {
  color: $text-secondary;
  font-size: 12px;
  font-weight: $Medium;
  margin-top: 6px !important;
}
