<div class="centered-container">
  <div class="centered-inner-container">
    <h3>{{'person.detail.info.password.setPassword' | translate}}</h3>
    <hr>
    <div class="form">
      <app-password-change-form [oldPasswordEnabled]="false" [(passwords)]="passwords"
                                (formChanged)="onFormChanged($event)"></app-password-change-form>
      <div class="clearfix">
        <div class="pull-right mt-2">
          <button mat-raised-button (click)="savePassword()" color="primary">
            <span class="fa fa-floppy-o"></span> {{'person.detail.info.password.setPassword' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
