@import "~src/styles/colors";
@import "~src/styles/table";
@import "~src/styles/font-weights";

$archive-hover: #fcad2e;
$trash-hover: #dd2048;

$person-color: #0bb07b;
$delivery-color: #0a1e44;
$deactivated-color: #b0b7c3;

.button-container {
  display: flex;
  align-items: center;
  & > * {
    padding: 0 6px;
  }
  &::ng-deep.expanded {
    .icon {
      fill: $primary !important;
    }
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-customers {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.header {
  color: $text-primary;
}

.light-grey {
  color: $text-secondary;
}

.no-customer-primary-text {
  color: $action-color;
  font-size: 20px;
  font-weight: $Medium;
}
.no-customer-normal-text {
  color: $text-secondary;
  font-size: 13px;
  font-weight: $Medium;
}

.no-customer-icon-size {
  height: 24px;
  width: 24px;
}

.table-container .mat-cell .owner-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 30ch;
}

.loading-shade {
  position: absolute;
  width: 100%;
  min-height: 64px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 101;
  background: radial-gradient(rgba($bg-primary-rgb, 0.6) 50%, transparent 100%);
}

.no-scroll {
  overflow: hidden !important;
}

.flex-table-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  .flex-table-content {
    position: relative;
    overflow: hidden;
    flex: 1;
    width: 100%;
    .scroll-table {
      overflow: auto;
      height: 100%;
      width: 100%;
    }
  }
}

.table-customer-name-column {
  .customer-expand-data {
    .customer-name {
      font-weight: $Bold;
    }
    .customer-info {
      color: $text-secondary;
      font-size: 12px;
      line-height: 1.5em;
    }
  }
}

.table-contact-column {
  .contact-expand-data {
    color: $primary;
    .contact-name {
      display: inline-block;
      line-height: 1.5em;
      font-weight: $Bold;
      border-bottom: solid 1px transparent;
      transition: border-bottom ease .3s;
      &:hover {
        border-bottom: solid 1px $primary;
      } 
    }
    .contact-info {
      font-size: 12px;
      line-height: 1.5em;
    }
  }
}

.customer-row-collapsed .mat-row {
  height: 50px;
}

.customer-row-expanded .mat-row {
  height: 80px;
}

.icon-group {
  & > * {
    margin: 0 4px;
    &:last-child {
      margin-right: 0;
    }
    &:first-child {
      margin-left: 0;
    }
  }

  .archive-button {
    &::ng-deep.icon {
      cursor: pointer;
      &:hover {
        fill: $archive-hover;
      }
    }
  }

  .trash-button {
    &::ng-deep.icon {
      cursor: pointer;
      &:hover {
        fill: $trash-hover;
      }
    }
  }

  .deactivated-status-icon {
    &::ng-deep.icon {
      fill: $deactivated-color;
    }
  }

  .person-status-icon {
    &::ng-deep.icon {
      fill: $person-color;
    }
  }

  .delivery-status-icon {
    &::ng-deep.icon {
      fill: $delivery-color;
    }
  }
}

.status-tooltip {
  padding: 8px;
  font-size: 12px;
  font-weight: $Bold;
}
