<mat-card class="mat-elevation-z8 fill-screen table-container">
  <div class="table-header-container">
    <div>
      <span>
        <span class="table-header-primary"
          >{{ "customer.list.customers" | translate }}
        </span>
        <span class="table-header-note"
          >({{ customersPage?.totalElements }})</span
        >
      </span>
      <span class="ml-5">
        <span class="filter-by-text"
          >{{ "customer.list.filterBy.title" | translate }}:
        </span>
        <span class="filter-by-value ml-2">{{
          "customer.list.filterBy.types." + selectedFilter | translate
        }}</span>
        <app-icon
          [matMenuTriggerFor]="filterBy"
          [hover]="false"
          svgIcon="expand-more"
        ></app-icon>
        <mat-menu #filterBy="matMenu" xPosition="before">
          <div class="dropdown-select-title">
            {{ "customer.list.filterBy.listTitle" | translate }}
          </div>
          <button
            (click)="filter(filterSelection.ALL)"
            [class.active]="isSelected(filterSelection.ALL)"
            class="dropdown-select-item"
            mat-menu-item
          >
            {{ "customer.list.filterBy.types.all" | translate }}
          </button>
          <button
            (click)="filter(filterSelection.CREATED_TODAY)"
            [class.active]="isSelected(filterSelection.CREATED_TODAY)"
            class="dropdown-select-item"
            mat-menu-item
          >
            {{ "customer.list.filterBy.types.createdToday" | translate }}
          </button>
          <button
            (click)="filter(filterSelection.VIEWED_LASTLY)"
            [class.active]="isSelected(filterSelection.VIEWED_LASTLY)"
            class="dropdown-select-item"
            mat-menu-item
          >
            {{ "customer.list.filterBy.types.viewedLastly" | translate }}
          </button>
          <button
            (click)="filter(filterSelection.EDITED_LASTLY)"
            [class.active]="isSelected(filterSelection.EDITED_LASTLY)"
            class="dropdown-select-item"
            mat-menu-item
          >
            {{ "customer.list.filterBy.types.editedLastly" | translate }}
          </button>
          <button
            (click)="filter(filterSelection.ARCHIVED)"
            [class.active]="isSelected(filterSelection.ARCHIVED)"
            class="dropdown-select-item"
            mat-menu-item
          >
            {{ "customer.list.filterBy.types.archived" | translate }}
          </button>
        </mat-menu>
      </span>
    </div>
    <div class="button-container">
      <app-customer-search (searchEvent)="setSelectedSearch($event)">
      </app-customer-search>
      <app-icon
        *ngIf="'CustomerAddComponent.save' | auth: 'w'"
        svgIcon="add"
        appTooltip="ADD"
        (click)="addSlider.toggle()"
      ></app-icon>
      <app-icon
        svgIcon="collapse"
        appTooltip="REDUCE_SPACE"
        (click)="changeCollapse(true)"
        [class.expanded]="collapsed"
      ></app-icon>
      <app-icon
        svgIcon="expand"
        appTooltip="INCREASE_SPACE"
        (click)="changeCollapse(false)"
        [class.expanded]="!collapsed"
      ></app-icon>
      <app-icon
        *ngIf="
          ('CustomerListComponent.changeOwner' | auth: 'w') &&
          isAnyCustomerChecked()
        "
        svgIcon="edit"
        (click)="transferSelectedCustomers()"
      ></app-icon>
      <app-icon
        svgIcon="archive"
        *ngIf="isAnyCustomerChecked()"
        (click)="tryArchiveCustomers()"
      ></app-icon>
      <app-icon
        *ngIf="
          ('CustomerListComponent.remove' | auth: 'w') && isAnyCustomerChecked()
        "
        svgIcon="trash"
        (click)="tryDeleteSelectedCustomers()"
      ></app-icon>
    </div>
  </div>
  <div class="row overflow-y with-title flex-table-container">
    <div class="flex-table-content" [class.no-scroll]="!loadingFinished">
      <div class="loading-shade" *ngIf="!loadingFinished">
        <mat-spinner></mat-spinner>
      </div>
      <div class="scroll-table">
        <table
          [dataSource]="customersPage?.content"
          class="mat-elevation-z8 col-md-12 height-animation row-collapsed"
          mat-table
          matSort
          (matSortChange)="onSortChange($event)"
          [ngClass]="{
            'customer-row-collapsed': collapsed,
            'customer-row-expanded': !collapsed
          }"
        >
          <ng-container matColumnDef="selectRow">
            <th *matHeaderCellDef mat-header-cell></th>
            <td
              *matCellDef="let customer"
              mat-cell
              class="checkbox-column-width"
              (click)="$event.stopPropagation()"
            >
              <mat-checkbox
                class="crm-checkbox"
                [(ngModel)]="customer.checked"
                color="primary"
              ></mat-checkbox>
            </td>
          </ng-container>
          <ng-container matColumnDef="avatar">
            <th *matHeaderCellDef mat-header-cell></th>
            <td *matCellDef="let customer" mat-cell class="avatar-column-width">
              <app-avatar-icon
                [text]="customer.name?.trim()"
                [imageSrc]="customer?.avatar"
                color="#f27b9f"
                widthPx="40"
              ></app-avatar-icon>
            </td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>
              {{ "customer.list.name" | translate }}
            </th>
            <td
              *matCellDef="let customer"
              mat-cell
              class="table-customer-name-column"
              [title]="customer.name | lengthMoreThan: 30"
            >
              <div class="customer-expand-data">
                <div class="customer-name">
                  {{ customer.name }}
                </div>
                <div *ngIf="!collapsed" class="customer-info">
                  <div *ngIf="customer.address" class="customer-address">
                    {{ customer.address | formatAddress }}
                  </div>
                  <div *ngIf="customer.phone" class="customer-phone">
                    <span> {{ "customer.list.phone" | translate }}: </span>
                    {{ customer.phone }}
                  </div>
                </div>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="companyType">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>
              {{ "customer.list.companyType" | translate }}
            </th>
            <td *matCellDef="let customer" mat-cell class="table-normal-column">
              <div
                *ngIf="customer.companyType"
                class="companyType-cell"
                [title]="customer.companyType | lengthMoreThan: 30"
              >
                {{ customer.companyType }}
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="city">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>
              {{ "customer.list.city" | translate }}
            </th>
            <td *matCellDef="let customer" mat-cell class="table-normal-column">
              <div
                *ngIf="customer?.address?.city"
                class="city-cell"
                [title]="customer?.address?.city | lengthMoreThan: 30"
              >
                {{ customer?.address?.city }}
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th *matHeaderCellDef mat-header-cell>
              {{ "customer.list.status" | translate }}
            </th>
            <td *matCellDef="let customer" mat-cell class="table-normal-column">
              <div class="icon-group">
                <app-icon
                  overlayTooltip
                  [svgIcon]="
                    customer?.isActiveClient
                      ? 'person-active'
                      : 'person-disabled'
                  "
                  class="deactivated-status-icon"
                  [class.person-status-icon]="customer?.isActiveClient"
                  size="16px"
                  [tooltipContent]="tooltipStatus"
                  [tooltipPosition]="tooltipPosition"
                  [tooltipPayload]="{
                    type: 'person',
                    isActive: customer?.isActiveClient
                  }"
                  [hover]="false"
                ></app-icon>
                <app-icon
                  overlayTooltip
                  [svgIcon]="
                    customer?.isActiveDelivery
                      ? 'delivery-active'
                      : 'delivery-disabled'
                  "
                  class="deactivated-status-icon"
                  [class.delivery-status-icon]="customer?.isActiveDelivery"
                  size="16px"
                  [tooltipContent]="tooltipStatus"
                  [tooltipPosition]="tooltipPosition"
                  [tooltipPayload]="{
                    type: 'delivery',
                    isActive: customer?.isActiveDelivery
                  }"
                  [hover]="false"
                ></app-icon>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="firstToContact">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>
              {{ "customer.list.firstToContact" | translate }}
            </th>
            <td
              *matCellDef="let customer"
              mat-cell
              class="table-contact-column"
            >
              <div *ngIf="customer.firstToContact" class="contact-expand-data">
                <div class="contact-name" (click)="$event.stopPropagation(); goContactToDetails(customer.firstToContact?.id)">
                  {{
                    (customer.firstToContact?.name || "") +
                      (customer.firstToContact?.name ? " " : "") +
                      (customer.firstToContact?.surname || "")
                  }}
                </div>
                <div *ngIf="!collapsed" class="contact-info">
                  <div
                    *ngIf="customer.firstToContact?.email"
                    class="contact-email"
                  >
                    <span>
                      {{ "customer.list.contactEmail" | translate }}:
                    </span>
                    {{ customer.firstToContact?.email }}
                  </div>
                  <div
                    *ngIf="customer.firstToContact?.phone"
                    class="contact-phone"
                  >
                    <span>
                      {{ "customer.list.contactPhone" | translate }}:
                    </span>
                    {{ customer.firstToContact?.phone }}
                  </div>
                </div>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="owner">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>
              {{ "customer.list.owner" | translate }}
            </th>
            <td *matCellDef="let customer" mat-cell class="table-normal-column">
              <div
                *ngIf="customer.owner"
                class="owner-cell"
                [title]="userMap.get(customer.owner) | lengthMoreThan: 30"
              >
                {{ userMap.get(customer.owner) }}
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th *matHeaderCellDef mat-header-cell></th>
            <td
              *matCellDef="let customer"
              mat-cell
              (click)="$event.stopPropagation()"
            >
              <div class="icon-group">
                <app-icon
                  *ngIf="!customer?.archived"
                  class="archive-button"
                  (click)="tryArchiveCustomer(customer)"
                  [pointer]="false"
                  svgIcon="archive"
                  size="18px"
                ></app-icon>
                <app-icon
                  class="trash-button"
                  *ngIf="'CustomerListComponent.remove' | auth: 'w'"
                  (click)="tryDeleteCustomer(customer)"
                  [pointer]="false"
                  svgIcon="trash"
                  size="18px"
                ></app-icon>
              </div>
            </td>
          </ng-container>

          <tr *matHeaderRowDef="filteredColumns$ | async" mat-header-row></tr>
          <tr
            *matRowDef="let rowData; columns: filteredColumns$ | async"
            mat-row
            (click)="goToDetails(rowData.id)"
            class="clickable"
          ></tr>
        </table>
      </div>
    </div>
    <div
      *ngIf="
        loadingFinished && customersPage?.totalElements === 0;
        else pagination
      "
      class="no-customers"
    >
      <img
        alt="Empty customer list"
        src="assets/icons/empty-customer-list.svg"
      />
      <div class="no-customer-primary-text">
        {{ "customer.list.noCustomers" | translate }}
      </div>
      <div class="no-customer-normal-text">
        {{ "customer.list.add" | translate }}
        <app-icon
          (click)="addSlider.toggle()"
          *ngIf="'CustomerAddComponent.save' | auth: 'w'"
          svgIcon="add"
          class="px-1"
        ></app-icon>
        {{ "customer.list.orImportList" | translate }}
        <app-icon svgIcon="import" class="px-1"></app-icon>
      </div>
    </div>
    <ng-template #pagination>
      <app-paginator
        [length]="totalElements"
        (page)="changePagination($event)"
        style="width: 100%"
      ></app-paginator>
    </ng-template>
  </div>
</mat-card>

<ng-template #tooltipStatus let-type="type" let-isActive="isActive">
  <mat-card class="status-tooltip mat-elevation-z4">
    {{ "customer.list.tooltip." + type | translate }}
    {{
      "customer.list.tooltip." + (isActive ? "active" : "inactive") | translate
    }}
  </mat-card>
</ng-template>

<app-slider
  #addSlider
  width="40vw"
  [title]="'customer.form.addTitle' | translate"
  key="CustomerList.AddSlider"
  [moreInfoVisible]="true"
>
  <app-customer-add
    (customerAdded)="getCustomers(selectedFilter)"
    [slider]="addSlider"
  ></app-customer-add>
</app-slider>

<app-slider
  #editSlider
  width="40vw"
  [title]="'customer.form.editTitle' | translate"
  key="CustomerList.EditSlider"
  [moreInfoVisible]="true"
>
  <app-customer-edit
    (customerAdded)="getCustomers(selectedFilter)"
    [focusOwnerForm]="focusOwnerForm"
    [customerId]="customerId"
  ></app-customer-edit>
</app-slider>

<app-slider
  #transferSlider
  width="35vw"
  [title]="'customer.form.transferCustomer' | translate"
  key="CustomerList.transferSelectedCustomers"
  [moreInfoVisible]="true"
>
  <app-customer-transfer
    (customerAdded)="getCustomers(selectedFilter)"
    [customersSelected]="selectedCustomers"
    [focusOwnerForm]="true"
  ></app-customer-transfer>
</app-slider>
