<mat-card class="mat-elevation-z8 fill-screen table-container">
  <div class="table-header-container">
    <div>
      <span *ngIf="forPrice">
        <span class="table-header-primary" *ngIf="currentPriceBook">
          {{ currentPriceBook?.name }}
          <img
            *ngIf="currentPriceBook?.isDefault"
            src="assets/icons/products/flag-green.svg"
          />
          <img
            [matMenuTriggerFor]="priceBooksMenu"
            src="assets/icons/icon_down_arrow.svg"
          />
        </span>
        <mat-menu #priceBooksMenu="matMenu" xPosition="before">
          <button
            *ngFor="let priceBook of priceBooks"
            class="dropdown-select-item"
            [class.active]="priceBook.id === priceId"
            (click)="openProductsInPrice(priceBook.id)"
            mat-menu-item
          >
            {{ priceBook.name }}
            <img
              *ngIf="priceBook.isDefault"
              class="flag-icon"
              src="assets/icons/products/flag-green.svg"
            />
          </button>
        </mat-menu>
      </span>
      <span *ngIf="!forPrice">
        <span class="table-header-primary">{{
          "products.list.title" | translate
        }}</span>
        <span class="table-header-note"
          >({{ productsPage?.totalElements || "0" }})</span
        >
      </span>
      <span class="ml-5">
        <span class="filter-by-text"
          >{{ "products.list.filterBy.filter" | translate }}:
        </span>
        <span class="filter-by-value ml-2">{{
          "products.list.filterBy." + selectedFilter | translate
        }}</span>
        <app-icon
          [matMenuTriggerFor]="filterBy"
          [hover]="false"
          svgIcon="expand-more"
        ></app-icon>

        <mat-menu #filterBy="matMenu" xPosition="before">
          <div class="dropdown-select-title">
            {{ "products.list.filterBy.showOnly" | translate }}
          </div>
          <button
            (click)="filter(filterSelection.ALL)"
            [class.active]="isSelected(filterSelection.ALL)"
            class="dropdown-select-item"
            mat-menu-item
          >
            {{ "products.list.filterBy.all" | translate }}
          </button>
          <button
            (click)="filter(filterSelection.CREATED_TODAY)"
            [class.active]="isSelected(filterSelection.CREATED_TODAY)"
            class="dropdown-select-item"
            mat-menu-item
          >
            {{ "products.list.filterBy.createdToday" | translate }}
          </button>
          <button
            (click)="filter(filterSelection.VIEWED_LASTLY)"
            [class.active]="isSelected(filterSelection.VIEWED_LASTLY)"
            class="dropdown-select-item"
            mat-menu-item
          >
            {{ "products.list.filterBy.viewedLastly" | translate }}
          </button>
          <button
            (click)="filter(filterSelection.EDITED_LASTLY)"
            [class.active]="isSelected(filterSelection.EDITED_LASTLY)"
            class="dropdown-select-item"
            mat-menu-item
          >
            {{ "products.list.filterBy.editedLastly" | translate }}
          </button>
        </mat-menu>
      </span>
    </div>
    <div class="button-container">
      <app-icon
        *ngIf="'ProductListComponent.saveProduct' | auth: 'w'"
        svgIcon="add"
        appTooltip="ADD"
        (click)="addSlider.open()"
      ></app-icon>
      <app-icon
        *ngIf="'ProductListComponent.importProducts' | auth: 'w'"
        svgIcon="import"
        appTooltip="IMPORT"
        (click)="productImport.open()"
      ></app-icon>
      <app-icon
        svgIcon="collapse"
        appTooltip="REDUCE_SPACE"
        (click)="expanded = false"
        [class.expanded]="!expanded"
      ></app-icon>
      <app-icon
        svgIcon="expand"
        appTooltip="INCREASE_SPACE"
        (click)="expanded = true"
        [class.expanded]="expanded"
      ></app-icon>
      <app-icon
        svgIcon="option-dots"
        appTooltip="MORE"
        [matMenuTriggerFor]="groupMenu"
      ></app-icon>
      <mat-menu #groupMenu="matMenu" xPosition="before">
        <button
          (click)="tryDeleteSelectedProducts()"
          mat-menu-item
          *ngIf="'ProductListComponent.deleteProduct' | auth: 'w'"
          [disabled]="!isAnyChecked()"
        >
          <app-icon
            svgIcon="trash"
            size="18px"
            [hover]="false"
            [disabled]="!isAnyChecked()"
          ></app-icon>
          {{ "products.list.delete" | translate }}
        </button>
        <button
          (click)="showAddCategory()"
          mat-menu-item
          *ngIf="'ProductListComponent.editCategory' | auth: 'w'"
        >
          <app-icon svgIcon="edit" size="18px" [hover]="false"></app-icon>
          {{ "products.list.editCategories" | translate }}
        </button>
      </mat-menu>
    </div>
  </div>
  <div class="row overflow-y with-title flex-table-container">
    <div class="flex-table-content" [class.no-scroll]="!loadingFinished">
      <div class="loading-shade" *ngIf="!loadingFinished">
        <mat-spinner></mat-spinner>
      </div>
      <div class="scroll-table">
        <table
          [dataSource]="productsPage?.content"
          class="mat-elevation-z8 col-md-12"
          mat-table
          matSort
          (matSortChange)="onSortChange($event)"
          [ngClass]="{ 'row-collapsed': !expanded, 'row-expanded': expanded }"
        >
          <ng-container matColumnDef="selectRow">
            <th *matHeaderCellDef mat-header-cell></th>
            <td
              *matCellDef="let product"
              mat-cell
              class="checkbox-column-width"
              (click)="$event.stopPropagation()"
            >
              <mat-checkbox
                class="crm-checkbox"
                [(ngModel)]="product.checked"
                color="primary"
              ></mat-checkbox>
            </td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>
              {{ "products.list.name" | translate }}
            </th>
            <td
              *matCellDef="let product"
              mat-cell
              [ngClass]="{ 'table-text-primary': forPrice }"
              [title]="product.name | lengthMoreThan: 30"
            >
              {{ product.name }}
            </td>
          </ng-container>
          <ng-container matColumnDef="category">
            <th *matHeaderCellDef mat-header-cell>
              {{ "products.list.category" | translate }}
            </th>
            <td
              *matCellDef="let product"
              mat-cell
              [title]="product.category | lengthMoreThan: 30"
            >
              <ng-container *ngIf="product.categories; else noCategory">
                {{ product.categories }}
              </ng-container>
            </td>
          </ng-container>
          <ng-container matColumnDef="subcategory">
            <th *matHeaderCellDef mat-header-cell>
              {{ "products.list.subcategory" | translate }}
            </th>
            <td
              *matCellDef="let product"
              mat-cell
              [title]="product.subcategory | lengthMoreThan: 30"
            >
              <ng-container *ngIf="product.subcategories; else noSubcategory">
                {{ product.subcategories }}
              </ng-container>
            </td>
          </ng-container>
          <ng-container matColumnDef="code">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>
              {{ "products.list.code" | translate }}
            </th>
            <td
              *matCellDef="let product"
              [ngClass]="{ 'table-text-primary': !forPrice }"
              mat-cell
              [title]="product.code | lengthMoreThan: 30"
            >
              {{ product.code }}
            </td>
          </ng-container>
          <ng-container matColumnDef="sellPriceNet">
            <th
              *matHeaderCellDef
              mat-header-cell
              mat-sort-header
              class="currency-header"
            >
              {{ "products.list.price" | translate }}
            </th>
            <td
              *matCellDef="let product"
              mat-cell
              class="currency-value"
              [title]="product.sellPriceNet | formatNumber | lengthMoreThan: 30"
            >
              <span>{{
                product.sellPriceNet | formatCurrency: product.currency
              }}</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="unit">
            <th *matHeaderCellDef mat-header-cell mat-sort-header="unit.name">
              {{ "products.list.unit" | translate }}
            </th>
            <td
              *matCellDef="let product"
              mat-cell
              [ngClass]="{ 'table-text-primary': forPrice }"
              [title]="units.get(product.unitName) | lengthMoreThan: 30"
            >
              {{ product.unitName }}
            </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th *matHeaderCellDef mat-header-cell></th>
            <td *matCellDef="let product" mat-cell>
              <app-icon
                appTooltip="MORE"
                [matMenuTriggerFor]="menu"
                (click)="$event.stopPropagation()"
                svgIcon="option-dots"
                [hover]="false"
              ></app-icon>
              <mat-menu #menu="matMenu" xPosition="before">
                <button
                  (click)="edit(product)"
                  mat-menu-item
                  *ngIf="'ProductListComponent.editProduct' | auth: 'w'"
                >
                  <app-icon
                    svgIcon="edit"
                    size="18px"
                    [hover]="false"
                  ></app-icon>
                  {{ "products.list.edit" | translate }}
                </button>
                <button
                  (click)="tryDelete(product.id)"
                  mat-menu-item
                  *ngIf="'ProductListComponent.deleteProduct' | auth: 'w'"
                >
                  <app-icon
                    svgIcon="trash"
                    size="18px"
                    [hover]="false"
                  ></app-icon>
                  {{ "products.list.delete" | translate }}
                </button>
              </mat-menu>
            </td>
          </ng-container>
          <tr
            *matHeaderRowDef="filteredColumns$ | async; sticky: true"
            mat-header-row
          ></tr>
          <tr
            *matRowDef="let rowData; columns: filteredColumns$ | async"
            mat-row
            (click)="$event.stopPropagation(); edit(rowData)"
          ></tr>
        </table>
      </div>
    </div>
    <div
      *ngIf="
        loadingFinished && productsPage?.totalElements === 0;
        else pagination
      "
      class="no-products"
    >
      <div class="no-products-primary-text">
        {{ "products.list.noProducts" | translate }}
      </div>
      <div class="no-products-normal-text">
        {{ "products.list.add" | translate }}

        <app-icon
          *ngIf="'ProductListComponent.saveProduct' | auth: 'w'"
          (click)="addSlider.open()"
          svgIcon="add"
          class="px-1"
        ></app-icon>
        {{ "products.list.orImportList" | translate }}
        <app-icon
          (click)="productImport.open()"
          svgIcon="import"
          class="px-1"
        ></app-icon>
      </div>
    </div>
    <ng-template #pagination>
      <app-paginator
        [length]="totalElements"
        (page)="changePagination($event)"
        style="width: 100%"
      ></app-paginator>
    </ng-template>
  </div>
</mat-card>

<app-slider
  #addCategorySlider
  width="60vw"
  [title]="'products.categories.title' | translate"
  key="ProductList.AddCategory"
  [moreInfoVisible]="false"
  [closeByCross]="false"
>
  <app-product-category></app-product-category>
</app-slider>

<app-slider
  #addSlider
  [title]="'products.form.addTitle' | translate"
  key="ProductList.AddSlider"
  width="67vw"
>
  <app-product-add (productAdded)="handleProductAdded()"></app-product-add>
</app-slider>

<app-slider
  #editSlider
  [title]="'products.form.editTitle' | translate"
  key="ProductList.EditTitle"
  width="67vw"
>
  <app-product-edit
    (productEdited)="handleProductAdded()"
    [editedProduct]="productForEdit"
  ></app-product-edit>
</app-slider>

<ng-template #noCategory>
  {{ "products.form.withoutCategory" | translate }}
</ng-template>
<ng-template #noSubcategory>
  {{ "products.form.withoutSubcategory" | translate }}
</ng-template>

<app-slider
  #productImport
  [title]="'products.import.fileImportHeader' | translate"
  key="ProductList.ProductImport"
  width="33vw"
>
  <app-product-import (productsChanged)="getList()"></app-product-import>
</app-slider>
