@import "~src/styles/table";
@import "~src/styles/colors";

.button-container {
  display: flex;
  align-items: center;
  & > * {
    padding: 0 6px;
  }
  &::ng-deep.expanded {
    .icon {
      fill: $primary !important;
    }
  }
}

.no-products {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.no-products-icon-size {
  height: 24px;
  width: 24px;
  margin: 0 5px;
}

.no-products-primary-text {
  color: $action-color;
  font-size: 20px;
  font-weight: $Medium;
}
.no-products-normal-text {
  color: $text-secondary;
  font-size: 13px;
  font-weight: $Medium;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flag-icon {
  width: 13px;
  height: 18px;
}

.loading-shade {
  position: absolute;
  width: 100%;
  min-height: 64px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 101;
  background: radial-gradient(rgba($bg-primary-rgb, 0.6) 50%, transparent 100%);
}

.no-scroll{
  overflow: hidden !important;
}

.flex-table-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  .flex-table-content {
    position: relative;
    overflow: hidden;
    flex: 1;
    width: 100%;
    .scroll-table {
      overflow: auto;
      height: 100%;
      width: 100%;
    }
  }
}
