@import "~src/styles/form";
@import "~src/styles/colors";
@import "~src/styles/font-weights";
@import "~src/styles/icons";

.dashboard {
  height: calc(100vh - 88px);
  width: 100%;
  overflow: auto;
  &-container {
    padding: 8px;
    height: 100%;
    min-width: 1500px;
    min-height: 800px;
  }
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $bg-header;
    padding: 16px 32px;
    &-title {
      color: $contrast;
      font-weight: bold;
      font-size: 24px;
    }
  }
}

.full-card {
  height: 100%;
  width: 100%;
  overflow: auto;
}

gridster {
  background: transparent;
}

gridster-item {
  overflow: visible;
  background: transparent;
  transition: none;
}

.fullscreen-widget {
  position: absolute !important;
  width: 85% !important;
  height: 85% !important;
  top: 50%;
  left: 50%;
  z-index: 1000 !important;
  transition: none !important;
  transform: translate(-50%, -50%) !important;
}

.fullscreen-widget-bg {
  background: rgba($contrast-rgb, 0.32);
  opacity: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 19;
  top: 88px;
  left: 0;
}

.action-panel {
  position: absolute;
  right: -34px;
  top: 180px;
  background-color: $ping-color;
  padding: 8px;
  border-radius: 10px 0 0 10px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  transition: right 0.5s ease-out;
  &::ng-deep.icon {
    fill: #fff !important;
  }
  &:hover {
    right: 0;
  }
  & > *:first-child {
    margin-bottom: 8px;
  }
}
