<div class="dashboard">
  <div class="dashboard-container">
    <gridster [options]="options">
      <gridster-item
        [item]="widget"
        *ngFor="let widget of widgets"
        [ngClass]="{
          'fullscreen-widget':
            fullScreenWidget && widget.id === fullScreenWidget.id
        }"
      >
        <mat-card class="full-card mat-elevation-z2">
          <ng-container [ngSwitch]="widget.widgetTypeEnum">
            <app-report-panel
              *ngSwitchCase="widgetTypeEnum.REPORT"
              [widget]="widget"
              [fullscreenMode]="
                fullScreenWidget && widget.id === fullScreenWidget.id
              "
              (openFullscreen)="fullScreenWidget = $event"
              [userMap]="userMap"
              (onRemoveWidget)="tryRemoveWidget(widget)"
            ></app-report-panel>

            <app-goal-panel
              *ngSwitchCase="widgetTypeEnum.GOAL"
              [widget]="widget"
              [edited]="edited"
              [fullscreenMode]="
                fullScreenWidget && widget.id === fullScreenWidget.id
              "
              (openFullscreen)="fullScreenWidget = $event"
              (onRemoveWidget)="tryRemoveWidget($event)"
            ></app-goal-panel>

            <app-render-widget-panel
              *ngSwitchDefault
              [widget]="widget"
              [edited]="edited"
              (onRemoveWidget)="tryRemoveWidget($event)"
            ></app-render-widget-panel>
          </ng-container>
        </mat-card>
      </gridster-item>
    </gridster>
  </div>
</div>

<div class="action-panel">
  <app-icon
    class="icon"
    svgIcon="add"
    size="28px"
    [hover]="false"
    (click)="openWidgetConfigurator()"
  ></app-icon>
  <app-icon
    class="icon"
    size="28px"
    [svgIcon]="edited ? 'check' : 'edit'"
    [hover]="false"
    (click)="editDashbords()"
  ></app-icon>
</div>

<span
  [ngClass]="{ 'fullscreen-widget-bg': fullScreenWidget != null }"
  (click)="fullScreenWidget = null"
></span>

<app-slider
  #widgetConfigurator
  [title]="'widgetConfigurator.title' | translate"
  key="MainPage.WidgetConfigurator"
  width="33vw"
>
  <app-widget-configurator
    [slider]="widgetConfigurator"
    [userMap]="userMap"
    [options]="options"
    (newElementAdded)="newWidget($event)"
  ></app-widget-configurator>
</app-slider>
