@import "~src/styles/colors";
@import "~src/styles/font-weights";
@import "~src/styles/icons";

$importance-color: #db254b;

.activities {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .activities-tabs {
    display: flex;
    justify-content: space-around;
    overflow-x: auto;
    margin-bottom: 24px;
    .activity-tab {
      font-size: 10px;
      font-weight: $Medium;
      color: $text-secondary;
      padding: 0 4px;
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &.active {
        border-bottom: solid 1px $primary;
      }
    }
  }

  .activities-container {
    flex: 1;
    overflow-y: auto;
    position: relative;
    .activity-container {
      .activity {
        display: flex;
        align-items: center;
        width: 100%;
        .activity-icon {
          margin-right: 16px;
          height: 100%;
        }
        .activity-info {
          flex: 1;
          overflow: hidden;
          .activity-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .title {
              color: $text-title;
              flex: 1;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              font-size: 13px;
              margin-right: 8px;
            }
            .date {
              font-size: 10px;
              color: $text-tertiary;
            }
            .importance-label {
              width: 8px;
              height: 8px;
              border-radius: 50%;
              background-color: $importance-color;
              margin-left: 4px;
            }
          }
          .description {
            font-size: 12px;
            color: $text-secondary;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: $SemiBold;
          }
        }
      }

      .mat-expansion-panel-header {
        border-radius: 0;
        padding: 0 8px;
        height: 40px !important;
        ::ng-deep .mat-content {
          height: 100%;
          align-items: flex-start;
        }
      }

      ::ng-deep .mat-expansion-panel-body {
        padding: 0 24px 16px 52px;
      }

      .mat-expansion-panel {
        box-shadow: none;
        min-height: 55px !important;
        margin: 0 !important;
        margin-bottom: 8px;
      }

      .mat-expansion-panel-header:not([aria-disabled="true"]):hover {
        background-color: transparent !important;
      }

      .mat-expansion-panel-header-title {
        overflow: hidden;
        margin-right: 8px;
      }
    }
  }
}


.no-activities {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  font-weight: $Medium;
  color: $text-primary;
}

.loading {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(rgba($bg-primary-rgb, 0.6) 50%, transparent 100%);
  overflow: hidden;
}
