<div class="activities">
  <div class="activities-tabs">
    <div
      *ngFor="let tab of categoriesTabs"
      class="activity-tab"
      [class.active]="tab === selectedTab"
      (click)="selectTab(tab)"
    >
      {{ "dashboard.widgets.calendar.timeCategories." + tab | translate }}
    </div>
  </div>
  <div class="activities-container">
    <ng-container *ngIf="loading">
      <div class="loading">
        <mat-spinner diameter="64"></mat-spinner>
      </div>
    </ng-container>
    <mat-accordion
      [multi]="true"
      class="activity-container"
      *ngIf="data?.length; else noActivities"
    >
      <ng-container *ngFor="let activity of data; let i = index">
        <mat-expansion-panel
          (destroyed)="clearOpenedActivities(activity?.id)"
          (opened)="openActivity(activity?.id)"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="activity">
                <div class="activity-icon">
                  <app-icon
                    svgIcon="{{
                      (activity.activityType ? activity.activityType : 'event')
                        | lowercase
                    }}"
                    size="28px"
                  ></app-icon>
                </div>
                <div class="activity-info">
                  <div class="activity-title">
                    <div class="title">{{ activity.subject }}</div>
                    <div class="date">
                      {{ activity.dateTimeFrom | formatDate: true }}
                    </div>
                    <div
                      *ngIf="activity.priority === activityPriority.URGENT"
                      class="importance-label"
                    ></div>
                  </div>
                  <div class="description">{{ activity.description }}</div>
                </div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-container
            *ngTemplateOutlet="
              activityDescription;
              context: { activity: activity }
            "
          ></ng-container>
        </mat-expansion-panel>
      </ng-container>
    </mat-accordion>
  </div>
</div>

<ng-template #noActivities>
  <div class="no-activities">
    {{ "dashboard.widgets.calendar.noActivities" | translate }}
  </div>
</ng-template>

<ng-template #activityDescription let-activity="activity">
  <app-activity-description
    *ngIf="openedActivities.includes(activity.id)"
    [activity]="activity"
  ></app-activity-description>
</ng-template>
