<form [formGroup]="formGroup">
  <div
    formArrayName="additionalData"
    *ngFor="let item of additionalData['controls']; let i = index"
  >
    <div [formGroupName]="i" class="additional-data-form">
      <mat-form-field class="box-1">
        <input matInput required formControlName="title" />
        <mat-error
          *ngIf="additionalData.get(i + '.title').hasError('required')"
        >
          {{ "person.form.fieldRequired" | translate }}
        </mat-error>
        <mat-error
          *ngIf="additionalData.get(i + '.title').hasError('whitespace')"
        >
          {{ "sharedValidators.whitespace" | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="box-2">
        <input matInput formControlName="value" />
        <mat-error *ngIf="additionalData.get(i + '.value')">
          {{ "person.form.fieldRequired" | translate }}
        </mat-error>
        <mat-error
          *ngIf="additionalData.get(i + '.value').hasError('whitespace')"
        >
          {{ "sharedValidators.whitespace" | translate }}
        </mat-error>
      </mat-form-field>

      <button
        class="btn-transparent box-3"
        (click)="removeAdditionalField($event, i)"
      >
        <app-icon svgIcon="trash" [hover]="false" size="18px"></app-icon>
      </button>
    </div>
  </div>
  <div *ngIf="showPlusButton">
    <app-icon
      svgIcon="plus"
      [hover]="false"
      class="float-right icon-plus"
      appTooltip="ADD"
      (click)="addAdditionalField()"
    ></app-icon>
  </div>
</form>
