
.additional-data-form {
  display: flex;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.box-1 {
  width: 100px;
  margin-right: 10px;
}

.box-2 {
  flex: 1;
  margin-right: 10px;
}

.box-3 {
  width: 30px;
  text-align: right;
}

.icon-plus {
  margin-right: 19px;
}
