<div class="preview-mode">
  <mat-accordion [multi]="true">
    <mat-expansion-panel class="extension-panel" expanded="true">
      <mat-expansion-panel-header class="panel-header">
        <mat-panel-title>
          <div class="extension-header-text">
            {{
              "contacts.details.relatedCustomersPreview.relatedCustomers"
                | translate
            }}
            <button
              *ngIf="'RelatedCustomerInContactDetail.add' | auth: 'w'"
              appTooltip="ADD"
              class="btn-transparent"
              (click)="addRelatedCustomer(); $event.stopPropagation()"
            >
              <app-icon svgIcon="plus" [primary]="true"></app-icon>
            </button>
          </div>
        </mat-panel-title>

        <button
          class="btn-transparent change-tab-icon"
          (click)="changeTabToRelatedContact.emit($event)"
          appTooltip="OPEN_MORE"
        >
          <img
            alt="change-tab-icon"
            src="assets/icons/change-tab-icon-blue.svg"
          />
        </button>
      </mat-expansion-panel-header>
      <ng-container [ngTemplateOutlet]="relatedContactList"></ng-container>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<ng-template #relatedContactList>
  <div class="h-100">
    <div
      class="overflow-y h-100 w-100 pr-2"
      [ngClass]="{ 'hide-list': relatedCustomers?.length === 0 }"
    >
      <table
        [dataSource]="relatedCustomers"
        class="row-collapsed mat-elevation-z8 col-md-12 mr-2"
        mat-table
        matSort
        [ngClass]="{ 'mini-row': true }"
      >
        <ng-container matColumnDef="customer">
          <th *matHeaderCellDef mat-header-cell>
            {{
              "contacts.details.relatedCustomersPreview.customer" | translate
            }}
          </th>
          <td
            *matCellDef="let link"
            mat-cell
            [title]="link.customerName | lengthMoreThan: 30"
          >
            <b>{{ link.customerName }}</b>
          </td>
        </ng-container>
        <ng-container matColumnDef="relationType">
          <th *matHeaderCellDef mat-header-cell>
            {{
              "contacts.details.relatedCustomersPreview.relationType"
                | translate
            }}
          </th>
          <td
            *matCellDef="let link"
            mat-cell
            [title]="link.position | lengthMoreThan: 30"
          >
            {{ getRelationTypeTranslation(link.relationType) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="position">
          <th *matHeaderCellDef mat-header-cell>
            {{
              "contacts.details.relatedCustomersPreview.position" | translate
            }}
          </th>
          <td
            *matCellDef="let link"
            mat-cell
            [title]="link.position | lengthMoreThan: 30"
          >
            {{ link.position }}
          </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th *matHeaderCellDef mat-header-cell></th>
          <td *matCellDef="let link" mat-cell>
            <app-icon
              [matMenuTriggerFor]="menu"
              (click)="$event.stopPropagation()"
              appTooltip="MORE"
              svgIcon="option-dots"
              [hover]="false"
            ></app-icon>
            <mat-menu #menu="matMenu" xPosition="before">
              <button
                class="dropdown-select-item"
                mat-menu-item
                (click)="showDetails(link?.customerId)"
              >
                <app-icon svgIcon="info" [hover]="false" size="16px"></app-icon>
                {{
                  "contacts.details.relatedCustomersPreview.details" | translate
                }}
              </button>
              <button
                *ngIf="
                  ('RelatedCustomerInContactDetail.delete' | auth: 'w') &&
                  !link?.active
                "
                class="dropdown-select-item"
                mat-menu-item
                (click)="tryDelete(link?.customerId)"
              >
                <app-icon
                  svgIcon="trash"
                  [hover]="false"
                  size="16px"
                ></app-icon>
                {{
                  "contacts.details.relatedCustomersPreview.delete" | translate
                }}
              </button>
            </mat-menu>
          </td>
        </ng-container>
        <tr *matHeaderRowDef="columns; sticky: true" mat-header-row></tr>
        <tr
          *matRowDef="let rowData; columns: columns"
          mat-row
          (click)="$event.stopPropagation(); showDetails(rowData?.customerId)"
        ></tr>
      </table>
    </div>

    <div class="no-contact-links" *ngIf="relatedCustomers?.length === 0">
      <div class="no-contact-links-primary-text">
        {{
          "contacts.details.relatedCustomersPreview.noRelatedCustomers"
            | translate
        }}
      </div>
    </div>
  </div>
</ng-template>

<app-slider
  #addCustomerSlider
  width="33vw"
  group="contactRelatedCustomerGroup"
  [title]="'contacts.details.newRelatedCustomer.title' | translate"
  key="ContactDetails.AddRelatedCustomer"
>
  <app-add-related-customer
    [contactId]="_contactId"
    [slider]="addCustomerSlider"
    (newRelationAdded)="getRelatedCustomers()"
  ></app-add-related-customer>
</app-slider>
