<form [formGroup]="leadForm" class="h-100">
  <div class="form-container row slider-separator">
    <div class="col-md-6 col-left">
      <div class="card-padding">
        <div>
          <h5 class="title">{{ "leads.form.basicInfo" | translate }}</h5>
        </div>
        <div>
          <mat-form-field *ngIf="authKey + 'firstNameField' | auth: 'i':true">
            <input formControlName="firstName" matInput tabIndex="101"/>
            <mat-placeholder class="placeholder">{{
              "leads.form.firstName" | translate
              }}</mat-placeholder>
            <mat-error *ngIf="firstName.hasError('maxlength')">
              {{ "sharedValidators.valueTooLong" | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field *ngIf="authKey + 'lastNameField' | auth: 'i':true">
            <input
              formControlName="lastName"
              matInput
              required
              tabIndex="102"/>
            <mat-placeholder class="placeholder">
              {{ "leads.form.lastName" | translate }}
            </mat-placeholder>
            <mat-error *ngIf="lastName.hasError('required')">
              {{ "leads.form.lastNameRequired" | translate }}
            </mat-error>
            <mat-error *ngIf="lastName.hasError('whitespace')">
              {{ "sharedValidators.whitespace" | translate }}
            </mat-error>
            <mat-error *ngIf="lastName.hasError('maxlength')">
              {{ "sharedValidators.valueTooLong" | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field *ngIf="authKey + 'companyNipField' | auth: 'i':true">
            <input formControlName="companyNip" matInput mask="000-000-00-00" tabIndex="108"/>
            <mat-placeholder class="placeholder">
              {{ "leads.form.companyNip" | translate }}
            </mat-placeholder>
            <mat-error *ngIf="companyName.hasError('maxlength')">
              {{ "sharedValidators.valueTooLong" | translate }}
            </mat-error>
            <span
              class="import-from-gus conversion-gus"
              (click)="getDataFromGUS($event)">
                        <app-icon
                          svgIcon="bottom-arrow-circle"
                          class="conversion-gus-icon"
                          size="20px"
                          [primary]="true">
                        </app-icon>
              {{ "customer.form.add.importFromGUS" | translate }}
            </span>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field *ngIf="authKey + 'companyNameField' | auth: 'i':true">
            <input formControlName="companyName" matInput tabIndex="108"/>
            <mat-placeholder class="placeholder">
              {{ "leads.form.company" | translate }}
            </mat-placeholder>
            <mat-error *ngIf="companyName.hasError('maxlength')">
              {{ "sharedValidators.valueTooLong" | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field *ngIf="authKey + 'positionField' | auth: 'i':true">
            <div class="position-search">
              <input type="text"
                   aria-label="Number"
                   matInput
                   formControlName="positionSearch"
                   #trigger="matAutocompleteTrigger"
                   (keyup.arrowDown)="positionSearching.showPanel = true"
                   [matAutocomplete]="positionSearching">
              <app-icon
                [hover]="false"
                svgIcon="expand-more">
              </app-icon>
            </div>
            <mat-autocomplete
              autoActiveFirstOption #positionSearching="matAutocomplete"
              (optionSelected)="positionSelect($event.option.value)"
              tabIndex="103">
              <mat-option
                #noCategoryOption
                class="category-option without-category-text"
                [value]="undefinedCategoryObject">
                {{ "leads.form.positionCategory.withoutCategory" | translate }}
              </mat-option>
              <mat-option
                *ngFor="let category of allPosition | autocompleteValueFilter:positionSearch.value:'name'"
                #categoryOption
                class="category-option category-option-text"
                [value]="category">
                {{ category?.name }}
              </mat-option>
              <div  class="dropdown-footer"
                *ngIf="'LeadShared.addPosition' | auth: 'w'">
                <app-icon svgIcon="plus" [primary]="true"></app-icon>
                <div class="add-new-category-text clickable"
                  (click)="openAddPositionSlider(trigger)">
                  {{ "leads.form.positionCategory.addCategory" | translate }}
                </div>
              </div>
            </mat-autocomplete>
            <mat-placeholder class="placeholder">
              {{ "leads.form.position" | translate }}
            </mat-placeholder>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field *ngIf="authKey + 'emailField' | auth: 'i':true">
            <input formControlName="email" matInput tabIndex="104"/>
            <mat-placeholder class="placeholder">
              {{ "leads.form.email" | translate }}
            </mat-placeholder>
            <mat-error *ngIf="email.hasError('email')">
              {{ "leads.form.emailNotValid" | translate }}
            </mat-error>
            <mat-error *ngIf="email.hasError('maxlength')">
              {{ "sharedValidators.valueTooLong" | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field
            *ngIf="authKey + 'phoneField' | auth: 'i':true"
            class="add-phone-input">
            <div class="lead-phone">
              <input formControlName="phone"
                     [mask]="phoneService.getPhoneInputMask(phone.value)"
                     type="tel"
                     matInput
                     tabIndex="105"/>
              <app-icon
                svgIcon="plus"
                (click)="addAdditionalPhone($event)">
              </app-icon>
            </div>
            <mat-placeholder class="placeholder">
              {{ "leads.form.phone" | translate }}
            </mat-placeholder>
            <mat-error *ngIf="phone.hasError('maxlength')">
              {{ "sharedValidators.valueTooLong" | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <app-additional-phone-numbers
            *ngIf="leadSave || !update"
            [addFieldSubject]="addAdditionalPhoneNumbers$"
            [initial-phones]="update ? leadSave.additionalPhones : []"
            [form]="leadForm"
            field-name="additionalPhones">
          </app-additional-phone-numbers>
        </div>
        <div>
          <mat-form-field *ngIf="authKey + 'companyTypeField' | auth: 'i':true">
            <div class="industry-search">
              <input type="text"
                   aria-label="Number"
                   matInput
                   formControlName="industrySearch"
                   #trigger="matAutocompleteTrigger"
                   (keyup.arrowDown)="industrySearching.showPanel = true"
                   [matAutocomplete]="industrySearching">
              <app-icon
                [hover]="false"
                svgIcon="expand-more"
                style="fill: none;">
              </app-icon>
            </div>
            <mat-autocomplete
              autoActiveFirstOption #industrySearching="matAutocomplete"
              (optionSelected)="industrySelect($event.option.value)"
              tabIndex="110">
              <mat-option
                #noCategoryOption
                class="category-option without-category-text"
                [value]="undefinedCategoryObject">
                {{ "leads.form.companyTypeCategory.withoutCategory" | translate }}
              </mat-option>
              <mat-option
                *ngFor="let category of allIndustry | autocompleteValueFilter:industrySearch.value:'name'"
                #categoryOption
                class="category-option category-option-text"
                [value]="category">
                {{ category?.name }}
              </mat-option>
              <div class="dropdown-footer"
                *ngIf="'LeadShared.addCompanyType' | auth: 'w'">
                <app-icon svgIcon="plus" [primary]="true"></app-icon>
                <div class="add-new-category-text clickable"
                  (click)="openAddIndustrySlider(trigger)">
                  {{ "leads.form.companyTypeCategory.addCategory" | translate }}
                </div>
              </div>
              </mat-autocomplete>
            <mat-placeholder class="placeholder">
              {{ "leads.form.companyType" | translate }}
            </mat-placeholder>
          </mat-form-field>
        </div>
        <ng-container *ngIf="!update">
          <div>
            <mat-form-field *ngIf="authKey + 'processDefinitionField' | auth: 'i':true">
              <mat-select
                formControlName="processDefinitionId"
                required
                tabIndex="106">
                <mat-option
                  *ngFor="let process of processDefinitions"
                  [value]="process?.id">
                  {{ process?.name }}
                  <span *ngIf="process?.version !== 1">
                    ({{ "leads.form.processVersion" | translate }} {{ process?.version }})
                  </span>
                </mat-option>
              </mat-select>
              <mat-placeholder class="placeholder">
                {{ "leads.form.processDefinition" | translate }}</mat-placeholder>
              <mat-error *ngIf="processDefinitionId.hasError('required')">
                {{ "leads.form.processDefinitionRequired" | translate }}
              </mat-error>
            </mat-form-field>
          </div>
        </ng-container>
        <div>
          <mat-form-field *ngIf="authKey + 'leadKeeperField' | auth: 'i':true">
            <mat-select formControlName="leadKeeperId" tabIndex="107">
              <mat-option *ngFor=" let user of accountEmails | leadAccountsFilter: leadSave:update"
                [value]="user?.id">
                {{ user?.name }} {{ user?.surname }}</mat-option>
            </mat-select>
            <mat-placeholder class="placeholder">
              {{ "leads.form.leadKeeper" | translate }}
            </mat-placeholder>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field *ngIf="authKey + 'sourceOfAcquisitionField' | auth: 'i':true">
            <mat-select
              formControlName="sourceOfAcquisition"
              #sourceOfAcquisitionSelect
              (closed)="getSubSourceOfAcquisition()"
              tabIndex="111">
              <mat-option
                #noCategoryOption
                class="category-option without-category-text"
                [value]="undefinedCategoryId">
                {{ "leads.form.sourceOfAcquisitionCategory.withoutCategory" | translate }}
              </mat-option>
              <mat-option
                *ngFor="let category of allSourceOfAcquisition"
                #categoryOption
                class="category-option category-option-text"
                [value]="category.id">
                {{ category?.name }}
              </mat-option>
              <div class="dropdown-footer"
                *ngIf="'LeadShared.addSourceOfAcquisition' | auth: 'w'">
                <app-icon svgIcon="plus" [primary]="true"></app-icon>
                <div class="add-new-category-text clickable"
                  (click)="openAddSourceOfAcquisitionSlider(sourceOfAcquisitionSelect)">
                  {{ "leads.form.sourceOfAcquisitionCategory.addCategory" | translate }}
                </div>
              </div>
            </mat-select>
            <mat-placeholder class="placeholder">
              {{ "leads.form.sourceOfAcquisitionCategory.category" | translate }}
            </mat-placeholder>
          </mat-form-field>
        </div>
        <div class="source-of-acquisition">
          <mat-form-field
            *ngIf="authKey + 'sourceOfAcquisitionField' | auth: 'i':true">
            <mat-select
              formControlName="subSourceOfAcquisition"
              #sourceOfAcquisitionSubcategorySelect
              tabIndex="112">
              <mat-option
                #noSubcategoryOption
                class="category-option without-category-text"
                [value]="undefinedCategoryId">
                {{ "leads.form.sourceOfAcquisitionCategory.withoutSubCategory" | translate }}
              </mat-option>
              <mat-optgroup class="category-header"
                *ngFor="let category of allSubSourceOfAcquisition"
                [label]="category.name">
                <ng-container *ngFor="let subcategory of category.children">
                  <mat-option
                    [value]="subcategory.id"
                    class="category-option category-option-text">
                    <div class="ml-3">{{ subcategory.name }}</div>
                  </mat-option>
                </ng-container>
              </mat-optgroup>
              <div class="dropdown-footer"
                *ngIf="'LeadShared.addSourceOfAcquisition' | auth: 'w'">
                <app-icon svgIcon="plus" [primary]="true"></app-icon>
                <div class="add-new-category-text clickable"
                  (click)="openAddSubSourceOfAcquisitionSlider(sourceOfAcquisitionSubcategorySelect)">
                  {{ "leads.form.sourceOfAcquisitionCategory.addSubCategory" | translate }}
                </div>
              </div>
            </mat-select>
            <mat-placeholder class="placeholder">
              {{ "leads.form.sourceOfAcquisitionCategory.subCategory" | translate }}
            </mat-placeholder>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field *ngIf="authKey + 'subjectOfInterestField' | auth: 'i':true">
            <mat-select
              formControlName="subjectOfInterest"
              #subjectOfInterestSelect
              tabIndex="120">
              <mat-option
                #noCategoryOption
                class="category-option without-category-text"
                [value]="undefinedCategoryId">
                {{ "leads.form.subjectOfInterestCategory.withoutCategory" | translate }}
              </mat-option>
              <mat-option
                *ngFor="let category of allSubjectOfInterest"
                #categoryOption
                class="category-option category-option-text"
                [value]="category.id">
                {{ category?.name }}
              </mat-option>
              <div class="dropdown-footer"
                *ngIf="'LeadShared.addSourceOfAcquisition' | auth: 'w'">
                <app-icon svgIcon="plus" [primary]="true"></app-icon>

                <div class="add-new-category-text clickable"
                  (click)="openAddSubjectOfInterestSlider(subjectOfInterestSelect)">
                  {{ "leads.form.subjectOfInterestCategory.addCategory" | translate }}
                </div>
              </div>
            </mat-select>
            <mat-placeholder class="placeholder">
              {{ "leads.form.subjectOfInterest" | translate }}
            </mat-placeholder>
          </mat-form-field>
        </div>
        <div class="mat-form-field-wrapper">
          <div *ngIf="authKey + 'interestedInCooperationField' | auth: 'i':true">
            <mat-checkbox
              formControlName="interestedInCooperation"
              [disableRipple]="true"
              class="crm-checkbox"
              color="primary">
              <mat-placeholder class="placeholder">
                {{ "leads.form.interestedInCooperation" | translate }}</mat-placeholder>
            </mat-checkbox>
          </div>
        </div>

      </div>

    </div>
    <span class="separator"></span>
    <div class="col-md-6 col-right">
      <div class="card-padding">
        <div class="lead-priority-section">
          <div class="lead-priority">
            <h5 class="priority-title">
              {{ "leads.form.leadPriority.title" | translate }}
            </h5>
            <mat-radio-group class="row" formControlName="priority">
              <mat-radio-button
                *ngFor="let priority of priorities"
                color="primary"
                [class]="'col-md-3 ' + priority.class"
                [value]="priority.value">
                {{ priority.translation | translate }}
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <div class="lead-scoring">
            <mat-form-field
              *ngIf="authKey + 'streetAndNumberField' | auth: 'i':true">
              <input type="text" matInput formControlName="scoring">
              <mat-placeholder class="placeholder">
                {{ "leads.form.scoring" | translate }}</mat-placeholder>
            </mat-form-field>
          </div>
        </div>
        <div class="lead-street">
          <mat-form-field *ngIf="authKey + 'streetAndNumberField' | auth: 'i':true">
            <div class="street-input">
              <input type="text"
                     aria-label="Number"
                     (focusin)="resetPlaces($event)"
                     (focusout)="resetFocusedElement()"
                     name="street"
                     formControlName="streetAndNumber" matInput tabIndex="114"
                     #trigger="matAutocompleteTrigger"
                     (keyup.arrowDown)="streetAndNumberSearching.showPanel = true"
                     [matAutocomplete]="streetAndNumberSearching">
              <app-icon
                (click)="showOnMap($event)"
                svgIcon="gps-line"
                [primary]="true">
              </app-icon>
            </div>
            <mat-autocomplete
              autoActiveFirstOption #streetAndNumberSearching="matAutocomplete"
              (optionSelected)="updateAddressInForm($event.option.value)"
              tabIndex="110">
              <mat-option
                *ngFor="let place of foundPlaces"
                [title]="place?.display_name"
                [value]="place">
                {{ place?.display_name }}
              </mat-option>
            </mat-autocomplete>
            <mat-placeholder class="placeholder">
              {{ "leads.form.street" | translate}}
            </mat-placeholder>
            <mat-error *ngIf="streetAndNumber.hasError('maxlength')">
              {{ "sharedValidators.valueTooLong" | translate }}
            </mat-error>

          </mat-form-field>
        </div>
        <div>
          <mat-form-field *ngIf="authKey + 'cityField' | auth: 'i':true">
            <input type="text"
                   aria-label="Number"
                   matInput
                   (focusin)="resetPlaces($event)"
                   (focusout)="resetFocusedElement()"
                   formControlName="city"
                   name="city"
                   tabIndex="115"
                   #trigger="matAutocompleteTrigger"
                   (keyup.arrowDown)="citySearching.showPanel = true"
                   [matAutocomplete]="citySearching">
            <mat-autocomplete
              autoActiveFirstOption #citySearching="matAutocomplete"
              (optionSelected)="updateAddressInForm($event.option.value)"
              tabIndex="110">
              <mat-option
                *ngFor="let place of foundPlaces "
                [title]="place?.display_name"
                [value]="place">
                {{ place?.display_name }}
              </mat-option>
            </mat-autocomplete>
            <mat-placeholder class="placeholder">
              {{ "leads.form.city" | translate }}
            </mat-placeholder>
            <mat-error *ngIf="city.hasError('maxlength')">
              {{ "sharedValidators.valueTooLong" | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field *ngIf="authKey + 'postalCodeField' | auth: 'i':true">
            <input
              formControlName="postalCode"
              mask="00-000"
              matInput
              tabIndex="116"/>
            <mat-placeholder class="placeholder">
              {{ "leads.form.zipCode" | translate }}
            </mat-placeholder>
            <mat-error *ngIf="postalCode.hasError('maxlength')">
              {{ "sharedValidators.valueTooLong" | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field *ngIf="authKey + 'provinceField' | auth: 'i':true">
            <input type="text"
                   aria-label="Number"
                   formControlName="province" matInput tabIndex="117"
                   name="province"
                   #trigger="matAutocompleteTrigger"
                   (focusin)="resetPlaces($event)"
                   (focusout)="resetFocusedElement()"
                   (keyup.arrowDown)="streetAndNumberSearching.showPanel = true"
                   [matAutocomplete]="streetAndNumberSearching">
            <mat-autocomplete
              autoActiveFirstOption #streetAndNumberSearching="matAutocomplete"
              (optionSelected)="updateAddressInForm($event.option.value)">
              <mat-option
                *ngFor="let place of foundPlaces "
                [title]="place?.display_name"
                [value]="place">
                {{ place?.display_name }}
              </mat-option>
            </mat-autocomplete>
            <mat-placeholder class="placeholder">
              {{ "leads.form.province" | translate }}
            </mat-placeholder>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field *ngIf="authKey + 'countryField' | auth: 'i':true">
            <input type="text"
                   aria-label="Number"
                   (focusin)="resetPlaces($event)"
                   (focusout)="resetFocusedElement()"
                   name="country"
                   formControlName="country" matInput tabIndex="118"
                   #trigger="matAutocompleteTrigger"
                   (keyup.arrowDown)="countrySearching.showPanel = true"
                   [matAutocomplete]="countrySearching">
            <mat-autocomplete
              autoActiveFirstOption #countrySearching="matAutocomplete"
              (optionSelected)="updateAddressInForm($event.option.value)">
              <mat-option
                *ngFor="let place of foundPlaces"
                [title]="place?.display_name"
                [value]="place">
                {{ place?.display_name }}
              </mat-option>
            </mat-autocomplete>
            <mat-placeholder class="placeholder">
              {{ "leads.form.country" | translate }}
            </mat-placeholder>
            <mat-error *ngIf="country.hasError('maxlength')">
              {{ "sharedValidators.valueTooLong" | translate }}
            </mat-error>
          </mat-form-field>
        </div>

        <div></div>

        <div class="map-container">
          <app-map-view
            #mapView
            class="w-100 h-100"
            [markers]="markers"
            [mapCenter]="center"
            [showMap]="showMap"
            [zoom]="12">
          </app-map-view>
        </div>

        <div class="notes-position">
          <div *ngIf="authKey + 'notesField' | auth: 'i':true">
            <div class="notes-text">{{ "leads.form.notes" | translate }}</div>
            <textarea
              class="form-control"
              formControlName="notes"
              rows="3"
              tabIndex="118">
            </textarea>
            <mat-error *ngIf="notes.hasError('maxlength')">
              {{ "sharedValidators.valueTooLong" | translate }}
            </mat-error>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<app-slider
  #mapSlider
  width="40vw"
  [title]="'leads.form.address' | translate"
  key="LeadForm.MapSlider"
  [group]="'leadFormGroup'">
  <div class="p-2 w-100 h-100">
    <app-map-view
      #mapView
      class="w-100 h-100"
      [markers]="markers"
      [mapCenter]="center"
      [showMap]="showMap"
      [zoom]="12">
    </app-map-view>
  </div>
</app-slider>

<app-slider
  #addSourceOfAcquisitionSlider
  [title]="'leads.form.sourceOfAcquisitionCategory.addCategory' | translate"
  [closeByCross]="false"
  key="DictionaryForm.AddDictionaryWordSlider"
  width="40vw"
  [group]="'leadFormGroup'">
  <app-dictionary-add-word
    #addSourceOfAcquisitionWord
    [parentWordId]="null"
    [dictionaryId]="dictionaryId.SOURCE_OF_ACQUISITION"
    (canceled)="onCancelAddSourceOfAcquisitionSlider()"
    (wordAdded)="onSubmitAddSourceOfAcquisitionSlider($event)">
  </app-dictionary-add-word>
</app-slider>

<app-slider
  #addSubSourceOfAcquisitionSlider
  [title]="'leads.form.sourceOfAcquisitionCategory.addSubCategory' | translate"
  [closeByCross]="false"
  key="DictionaryForm.AddDictionaryWordSlider"
  width="40vw"
  [group]="'leadFormGroup'">
  <app-dictionary-add-word
    #addSubSourceOfAcquisitionWord
    [parentWordId]="parentWordIdForCreation"
    [dictionaryId]="dictionaryId.SOURCE_OF_ACQUISITION"
    (canceled)="onCancelAddSubSourceOfAcquisitionSlider()"
    (wordAdded)="onSubmitAddSubSourceOfAcquisitionSlider($event)">
  </app-dictionary-add-word>
</app-slider>

<app-slider
  #addSubjectOfInterestSlider
  [title]="'leads.form.subjectOfInterestCategory.addCategory' | translate"
  [closeByCross]="false"
  key="DictionaryForm.AddDictionaryWordSlider"
  width="40vw"
  [group]="'leadFormGroup'">
  <app-dictionary-add-word
    #addSubjectOfInterestWord
    [parentWordId]="null"
    [dictionaryId]="dictionaryId.SUBJECT_OF_INTEREST"
    (canceled)="onCancelAddSubjectOfInterestSlider()"
    (wordAdded)="onSubmitAddSubjectOfInterestSlider($event)">
  </app-dictionary-add-word>
</app-slider>

<app-slider
  #addPositionSlider
  [title]="'leads.form.positionCategory.addCategory' | translate"
  [closeByCross]="false"
  key="DictionaryForm.AddDictionaryWordSlider"
  width="40vw"
  [group]="'leadFormGroup'">
  <app-dictionary-add-word
    #addPositionWord
    [parentWordId]="null"
    [dictionaryId]="dictionaryId.POSITION"
    (canceled)="onCancelAddPositionSlider()"
    (wordAdded)="onSubmitAddPositionSlider($event)">
  </app-dictionary-add-word>
</app-slider>

<app-slider
  #addIndustrySlider
  [title]="'leads.form.companyTypeCategory.addCategory' | translate"
  [closeByCross]="false"
  key="DictionaryForm.AddDictionaryWordSlider"
  width="40vw"
  [group]="'leadFormGroup'">
  <app-dictionary-add-word
    #addIndustryWord
    [parentWordId]="null"
    [dictionaryId]="dictionaryId.INDUSTRY"
    (canceled)="onCancelAddIndustrySlider()"
    (wordAdded)="onSubmitAddIndustrySlider($event)">
  </app-dictionary-add-word>
</app-slider>
