@import "~src/styles/form";
@import "~src/styles/colors";
@import "~src/styles/font-weights";

$field-width: 350px;
mat-form-field {
  width: 100%;
}

.card-padding {
  padding: 40px 15px;
}

.col-right .card-padding {
  padding-top: 78px;
}

.field-width {
  width: $field-width;
}

.slider-separator {
  position: relative;
  height: 100%;
  .separator {
    width: 2px;
    height: 100%;
    left: 50%;
    background-color: $bg-secondary;
    position: absolute;
  }
}

.title {
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1.2px;
  color: $text-title;
  width: 200px;
  text-transform: uppercase;
  margin-bottom: 30px;
}


.map-container {
  height: 260px;
  margin-bottom: 15px;

  ::ng-deep .mapboxgl-canvas {
    width: 100% !important;
  }
}

.position-search, .industry-search {
  ::ng-deep .icon{
    fill: $contrast !important;
  }
}

.notes-text {
  font-size: 12px;
  font-weight: $Medium;
  color: $action-color;
}

.notes-position textarea {
  height: 160px;
}

.lead-keeper-margin {
  margin-bottom: 100px;
}

.source-of-acquisition {
  justify-content: flex-end;

  .mat-form-field {
    width: 85%;
  }
}

.low-radio-button {
  ::ng-deep .mat-radio-inner-circle {
    background-color: $priority-low !important;
  }

  ::ng-deep .mat-radio-outer-circle {
    border-color: $priority-low !important;
  }
}

.medium-radio-button {
  ::ng-deep .mat-radio-inner-circle {
    background-color: $priority-medium !important;
  }

  ::ng-deep .mat-radio-outer-circle {
    border-color: $priority-medium !important;
  }
}

.high-radio-button {
  ::ng-deep .mat-radio-inner-circle {
    background-color: $priority-high !important;
  }

  ::ng-deep .mat-radio-outer-circle {
    border-color: $priority-high !important;
  }
}

.lead-phone,
.position-search,
.industry-search,
.source-of-acquisition,
.lead-priority-section,
.lead-street .street-input {
  display: flex;
}

.lead-scoring {
  max-width: 146px;

  .mat-input-element {
    color: $primary !important;
  }
}

.lead-priority {
  width: 100%;
  font-size: 13px;
  margin-top: 2px;
}

.priority-title {
  color: $text-secondary;
  font-size: 10px;
  font-weight: $Medium;
  margin-bottom: 12px;
}

.placeholder {
  color: $text-secondary;
  font-size: 13px;
  font-weight: $Medium;
}

.company-address {
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
}

.company-address .mat-input-element:disabled {
  color: $primary;
}

::ng-deep .category-option .mat-option-pseudo-checkbox {
  order: 2;
}

::ng-deep .category-option.mat-selected {
  @extend .category-option-selected-text
}

.category-option-text {
  text-align: left;
  font: $Medium 13px/20px Poppins;
  letter-spacing: 0;
  color: $action-color;
  opacity: 1;
}

.category-option-selected-text {
  font: $Medium 13px/20px Poppins !important;
  color: $text-title !important;;
}

.without-category-text {
  text-align: left;
  font: $Medium 13px/20px Poppins;
  letter-spacing: 0;
  color: $text-secondary;
  opacity: 1;
}

.dropdown-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: sticky;
  bottom: 0;
  background: $bg-primary;
  height: 40px;
  padding-left: 16px;
}

.add-new-category-text {
  font-size: 12px;
  font-weight: $Medium;
  color: $primary;
}

.category-header-text {
  text-align: left;
  font: $Medium 10px/16px Poppins !important;
  letter-spacing: 1.2px;
  color: $primary;
  text-transform: uppercase;
  opacity: 1;
}

::ng-deep .category-header .mat-optgroup-label {
  display: flex;
  align-items: center;
  margin: 0;
  @extend .category-header-text
}

::ng-deep .mat-select-disabled .mat-select-value-text {
  color: rgba($contrast-rgb, 0.42);
}

.import-from-gus {
  color: $text-tertiary;
  cursor: pointer;
  float: right;
  position: absolute;
  width: max-content;
  right: 0;
  font-weight: $Medium;
  font-size: 12px;
}

.conversion-gus {
  bottom: 8px !important;
  display: flex;
  align-items: center;
  color: $primary !important;
  font-weight: 300 !important;
  .conversion-gus-icon {
    margin-right: 4px;
  }
}

