::ng-deep .customer-relations {
  td.mat-cell:first-of-type,
  td.mat-footer-cell:first-of-type,
  th.mat-header-cell:first-of-type {
    padding-left: 4px;
  }
}

::ng-deep .customer-relations {
  tr {
    height: 36px !important;
  }
}
