<div class="customer-relations">

  <app-related-opportunity-preview *ngIf="'CustomerOpportunity.view' | auth:'w'"
    [crmObject]="crmObject"
  (changeTab)="changeTab($event, 6)">
  </app-related-opportunity-preview>

  <app-related-contacts-preview
    *ngIf="'RelatedContactsInCustomerDetail.view' | auth:'w'"
    [customerId]="crmObject?.id"
    (changeTab)="changeTab($event, 3)">
  </app-related-contacts-preview>

  <app-note-list *ngIf="!('view' | noteAuthKey: crmObject?.type | auth:'i')"
                 [crmObject]="crmObject"
                 [preview]="true"
                 [userMap]="userMap"
                 (changeTab)="changeTab($event, 4)">
  </app-note-list>

  <app-file-list-in-tab [crmObject]="crmObject"
                        [objectName]="customerName"
                        [preview]="true"
                        (changeTab)="changeTab($event, 5)"></app-file-list-in-tab>
</div>
