::ng-deep .notification-queue {
  position: absolute;
  top: 96px;
  right: 6px;
  z-index: 9999 !important;
  overflow-y: scroll;
  max-height: calc(100% - 88px);
  width: 470px;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
::ng-deep .notification-queue::-webkit-scrollbar {
  display: none;
}

::ng-deep .notification-queue.hide {
  display: none;
}
