<mat-card class="lead-card move-pinter"
          [ngClass]="'opportunity-card-' + processColor"
          [ngClass]="{ 'additional-collapsed': extended, 'additional-expanded': !extended }">


  <div style="display: flex; justify-content: space-between;">
    <div class="customer-content"
         matTooltip="{{ opportunity.customerName }}"
         matTooltipPosition="above"
         matTooltipClass="task-name-tooltip"
         [matTooltipDisabled]="opportunity.customerName.length <= 32">
      {{ opportunity.customerName }}
    </div>
    <app-opportunity-kanban-actions [opportunity]="opportunity"
                                    [copyOpportunity]="tryCopyOpportunity.bind(this)"
                                    [closeOpportunity]="tryCloseOpportunity.bind(this)"
                                    [removeOpportunity]="tryDeleteOpportunity.bind(this)">
    </app-opportunity-kanban-actions>
  </div>


  <div class="name-content">
    <app-avatar-icon class="company-avatar"
                     [text]="opportunity.customerName?.trim()"
                     [imageSrc]="opportunity?.customerAvatar"
                     color="#f27b9f"
                     widthPx="26"
    ></app-avatar-icon>
    <div class="opportunity-content"
         matTooltip="{{ opportunity.name }}"
         matTooltipPosition="above"
         matTooltipClass="task-name-tooltip"
         [matTooltipDisabled]="opportunity.name.length <= 50"
         (click)="openEditSlider()">
      {{ opportunity.name }}
    </div>
    <div class="delay-time-content" *ngIf="opportunity.userTaskDelayTime > 0">
      <app-icon class="icon" svgIcon="timestamp" size="20px" [hover]="false"
                matTooltip="{{ 'opportunity.list.kanban.tooltip.timestamp' | translate }}"
                matTooltipPosition="above"
                matTooltipClass="kanban-tooltip kanban-tooltip-grey"></app-icon>
      <span>
        {{ opportunity.userTaskDelayTime + ' -'}}
        {{ opportunity.userTaskDelayTime == 1 ? ('opportunity.list.kanban.day' | translate) : ('opportunity.list.kanban.days' | translate)}}</span>
    </div>
  </div>
  <div class="value-content">
    <div>{{ (opportunity.amount ? (opportunity.amount | number) : '-') + ' ' + opportunity.currency }}</div>
  </div>
  <div style="display: flex; justify-content: space-between;">
    <div class="date-content">
      <div class="duration">{{ opportunity.duration }}</div>
      <div class="finish-date">{{ "opportunity.list.kanban.finishDate" | translate }} {{ opportunity.finishDate }}</div>
      <app-icon *ngIf="opportunity.taskSummaryDto?.oldTasks != 0" class="icon" svgIcon="alertRed" size="20px"
                [hover]="false"
                matTooltip="{{ 'opportunity.list.kanban.tooltip.alertRed' | translate }}"
                matTooltipPosition="above"
                matTooltipClass="kanban-tooltip kanban-tooltip-red"></app-icon>
      <app-icon *ngIf="opportunity.taskSummaryDto?.plannedTasks == 0" class="icon" svgIcon="alertYellow" size="20px"
                [hover]="false"
                matTooltip="{{ 'opportunity.list.kanban.tooltip.alertYellow' | translate }}"
                matTooltipPosition="above"
                matTooltipClass="kanban-tooltip kanban-tooltip-yellow"></app-icon>
    </div>

    <div (click)="extended=!extended">
      <mat-icon svgIcon="expand-more" size="20px" class="arrow" mat-icon-button></mat-icon>
    </div>
  </div>

  <div class="additional-content" [hidden]="extended">
    <div class="owners-title">Opiekunowie</div>
    <div class="owners-content">
      <app-avatar-icon *ngFor="let owner of opportunity.owners;" class="company-avatar"
                       [text]="(owner.name + ' ' + owner.surname).trim()"
                       [imageSrc]="owner?.avatar"
                       color="#f27b9f"
                       widthPx="28"
                       [matTooltip]="(owner.name + ' ' + owner.surname).trim()"
                       matTooltipPosition="above"
                       matTooltipClass="kanban-tooltip"
      ></app-avatar-icon>
    </div>
  </div>

</mat-card>
