@import "src/styles/colors";
@import "src/styles/font-weights";

.card {
  width: 288px;
  //height: 120px;
  box-shadow: none;
  margin-bottom: 4px;
  padding: 8px;
  margin-right: 10px;
}

.lead-card {
  @extend .card;
  border: 1px solid $border-secondary;
  border-radius: 6px;
}

.lead-card:hover {
  box-shadow: 0 5px 5px -3px rgba($contrast-rgb, 0.2),
  0 8px 10px 1px rgba($contrast-rgb, 0.14),
  0 3px 14px 2px rgba($contrast-rgb, 0.12);
}


.additional-collapsed {
  //height: 140px;
  transition: height ease-in-out 0.5s;

  .arrow {
    cursor: pointer;
    fill: $action-color;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

}

.additional-expanded {
  //height: 180px;
  transition: height ease-in-out 0.5s;

  .arrow {
    cursor: pointer;
    fill: $action-color;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }

}

.move-pinter {
  cursor: move;
}

.customer-content {
  max-width: 175px;
  max-height: 45px;
  padding-top: 5px;
  font-weight: $Bold;
  font-size: 14px;
  color: $text-primary;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2

}

.small-content {
  display: flex;
  align-items: center;
  padding-top: 5px;
  font-weight: $Regular;
  font-size: 12px;
  color: $text-secondary;
}

.date-content {
  @extend .small-content;
}

.name-content {
  @extend .small-content;
}

.opportunity-content {
  cursor: pointer;
  margin-right: 5px;
  max-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2
}

.delay-time-content {
 white-space: nowrap;
}

.value-content {
  padding-top: 5px;
  font-weight: $Bold;
  font-size: 14px;
  color: $text-primary;
}

.additional-content {
  border-top: 1px solid $border-primary;
  margin-top: 10px;
  padding-top: 5px;
}

.company-avatar {
margin-right: 5px;
}

.duration {
  width: 18px;
  height: 18px;
  background-image: url('~src/assets/icons/days-counter.svg') !important;
  background-size: cover;
  margin-right: 5px;
  color: $primary-contrast;
  font-weight: $Bold;
  text-align: center;
}

.finish-date {
  margin-right: 5px;
}

.owners-content {
  display: inline-flex;
  padding: 0px 10px;
}

.owners-title {
  font-size: 12px;
  color: var(--text-primary);
  margin-bottom: 5px;
}

::ng-deep .task-name-tooltip {
  background: #fff !important;
  border-radius: 5px !important;
  box-shadow: 0 6px 12px #0a1e4440 !important;
  font: $Medium 10px/16px Poppins !important;
  letter-spacing: 1.2px !important;
  color: $text-title !important;
  padding: 8px 16px !important;
  width: auto !important;
  max-width: none !important;
  margin-bottom: 18px !important;
  overflow: visible !important;

  &:before {
    content: "";
    position: absolute;
    left: calc(50% - 10px);
    bottom: -10px;
    width: 0;
    height: 0;
    border-left: 21px solid transparent;
    border-right: 21px solid transparent;
    border-top: 10px solid #fff;
  }
}

::ng-deep .kanban-tooltip {
  background: #fff !important;
  border-radius: 5px !important;
  box-shadow: 0 6px 12px #0a1e4440 !important;
  font: $Medium 10px/16px Poppins !important;
  color: $text-primary !important;
  letter-spacing: 1.2px !important;
  padding: 8px 16px !important;
  width: auto !important;
  max-width: none !important;
  margin-bottom: 18px !important;
  overflow: visible !important;
}

::ng-deep .kanban-tooltip-red {
  color: #e02424 !important;
}

::ng-deep .kanban-tooltip-yellow {
  color: #FFAD0C !important;
}

::ng-deep .kanban-tooltip-grey {
  color: #837575 !important;
}

.opportunity-card-brown {
  border: 1px #837575 solid;
  //background-color: rgba(131, 117, 117, 0.1);
}

.opportunity-card-blue {
  border: 1px #319df8 solid;
  //background-color: rgba(49, 157, 248, 0.1);
}

.opportunity-card-green {
  border: 1px #3ACB9C solid;
}

.opportunity-card-pink {
  border: 1px #FF718C solid;
}

.opportunity-card-purple {
  border: 1px #AF7EFF solid;
}

.opportunity-card-red {
  border: 1px #ff7777 solid;
}

.opportunity-card-turquoise {
  border: 1px #1DC9D7 solid;
}

.opportunity-card-yellow {
  border: 1px #FFAD0C solid;
}
