@import '~src/styles/colors';
@import '~src/styles/font-weights';
@import '~src/styles/icons';

.report {
  display: grid;
  grid-template-rows: 24px 16px calc(100% - 40px);
  height: 100%;
  padding: 16px;
  overflow: auto;

  &__header {
    display: flex;
  }

  &__title{
    color: $text-title;
    font-size: 16px;
    font-weight: $Medium;
    flex: 1;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__menu {
    display: flex;
    align-items: center;
    float: right;
  }

  &__subtitle {
    color: $text-secondary;
    font-size: 10px;
    font-weight: $Medium;
  }

  &__chart {
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 10px;
  }
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel-icon:hover,
.panel-icon {
  background-size: contain;
  width: 20px;
}
