<ng-container *ngIf="!isLoading; else loading">
  <div class="report" *ngIf="data as data">
    <div class="report__header">
      <div class="report__title">
        {{
          "widgetConfigurator.reportType." +
            (data?.widgetReportDto?.reportType | lowercase) | translate
        }}
      </div>
      <div class="report__menu">
        <app-icon
          (click)="removeWidget()"
          appTooltip="DELETE"
          svgIcon="trash"
          size="19px"
        ></app-icon>
        <app-icon
          (click)="openInFullscreen()"
          appTooltip="{{ fullscreenMode ? 'MINIMIZE' : 'MAXIMIZE' }}"
          class="ml-2"
          [svgIcon]="fullscreenMode ? 'internal' : 'external'"
          size="20px"
        ></app-icon>
      </div>
    </div>
    <div class="report__subtitle">
      {{
        data?.widgetReportDto?.start
          | formatDate: data?.widgetReportDto?.withTime
      }}
      -
      {{
        !!data?.widgetReportDto?.end
          ? (data?.widgetReportDto?.end
            | formatDate: data?.widgetReportDto?.withTime)
          : ("widgetConfigurator.now" | translate)
      }}
    </div>
    <div class="report__chart" *ngIf="showCanvas">
      <canvas
        #canvasElement
        baseChart
        [datasets]="getData(data)"
        [labels]="data?.lineChartLabels"
        [options]="options[data?.widgetReportDto?.chartType]"
        [legend]="data | legendVisible"
        [chartType]="data?.widgetReportDto?.chartType | chartType"
      >
      </canvas>
    </div>
  </div>
</ng-container>
<ng-template #loading>
  <div class="loading">
    <mat-spinner diameter="60"></mat-spinner>
  </div>
</ng-template>
