@import "~src/styles/colors";
@import "~src/styles/form";
@import "~src/styles/slider";
@import "~src/styles/font-weights";


.fill-parent {
  overflow-y: auto;
  height: 100%;
  scroll-behavior: smooth;
}

mat-form-field {
  width: 100% !important;
  border-radius: 4px;
  font-size: 15px;
}

.title {
  color: $text-title;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 1.2px;
  font-weight: $SemiBold;
  text-transform: uppercase;
}

.customer-logo-icon {
  width: 85%
}

.import-from-gus {
  color: $text-tertiary;
  cursor: pointer;
  float: right;
  position: absolute;
  width: max-content;
  right: 0;
  font-weight: $Medium;
  font-size: 12px;
}

.form-icon {
  position: absolute;
  margin-left: 1em;
  margin-top: 1em;
  cursor: pointer;
  z-index: 2;
}

.text-area-field:focus {
  background-color: $bg-primary;
  border-color: $border-primary;
  color: $text-title;
}

.text-area-field {
  background-color: $bg-primary;
  border-color: $border-secondary;
  font-size: 13px;
  line-height: 24px;
}

.field-text {
  font-weight: $Regular;
  font-size: 10px;
  color: $action-color;
}

.owner-panel-height {
  height: calc(20% - 3px);
  margin-bottom: 1px !important;

  .fill-parent {
    display: flex;
    align-items: center;
  }
}

.owner-field {
  margin-left: 25px;
  max-width: 320px;
  width: 100%;
  height: auto;
}

.contact-panel-height {
  height: 80%;
  margin-bottom: 3px !important;
}

.left-card {
  padding: 10px !important;
  margin-right: 3px !important;
}

.card-height {
  height: calc(100% - 153px);
  margin-bottom: 1px;
}

.card-height.hide-mat-card {
  height: 100% !important;
}

.new-contact {
  font-weight: $Medium;
  font-size: 12px;
  color: $primary;
  margin-left: 3em;
  cursor: pointer;

  img {
    width: 16px;
    height: 16px;
  }
}

.card-padding.hide-mat-card {
  padding: 0px !important;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.card-bg {
  background-color: $bg-secondary !important;
}

.additional-info {
  max-width: 700px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 80px;
  padding-left: 15px !important;
}

.import-from-gus-icon {
  width: 16px;
  height: 16px;
}

.card-segment {
  padding-left: 15px;
}

.add-phone-input {
  width: 89% !important;
}

.add-phone {
  margin-left: 3.8%;
  width: 20px;
}
