<form [formGroup]="customerForm" class="h-100 overflow-y-hidden">
  <div
    class="row card-height card-bg pl-0 pr-0 m-0 card-padding"
    [ngClass]="{ 'hide-mat-card': hideMatCardStyle }">
    <div class="col-md-8 p-0 m-0 h-100">
      <mat-card
        class="h-100 mat-elevation-z0 no-box-shadow left-card card-border-radius mat-card ml-0 mr-0 no-top-right-border-radius no-bottom-right-border-radius"
        [ngClass]="{'no-top-border-radius': hideMatCardStyle, 'no-bottom-left-border-radius': !hideMatCardStyle}">
        <mat-card-content class="fill-parent crm-form p-3">
          <div class="row mt-3 mb-2 ml-0 mr-0">
            <div class="col-md-5">
              <h5 class="title">{{ "customer.form.basicInfo" | translate }}</h5>
            </div>
          </div>

          <div class="row ml-0 card-segment">
            <app-avatar-form
              [text]="'contacts.form.change' | translate"
              [rounded]="true"
              (valueChanged)="emitFocusOut()"
              [avatar]="avatar"
              [widthPx]="avatarWidthPx"
              defaultImg="assets/icons/customer_icon.svg">
            </app-avatar-form>
            <div class="col-md-10 p-0 m-0">
              <div class="row ml-0 mr-0">
                <div class="col-md-5">
                  <mat-form-field *ngIf="authKey + 'nameField' | auth: 'i':true">
                    <input
                      matInput
                      required
                      (focusin)="formControlFocusIn('name')"
                      (focusout)="formControlFocusOut()"
                      (keyup.escape)="formControlEsc()"
                      [placeholder]="'customer.form.name' | translate"
                      formControlName="name"/>
                    <mat-error *ngIf="name.hasError('required')">
                      {{ "customer.form.nameRequired" | translate }}
                    </mat-error>
                    <mat-error *ngIf="name.hasError('whitespace')">
                      {{ "sharedValidators.whitespace" | translate }}
                    </mat-error>
                    <mat-error *ngIf="name.hasError('maxlength')">
                      {{ "sharedValidators.valueTooLong" | translate }}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5">
                  <mat-form-field *ngIf="authKey + 'nipField' | auth: 'i':true">
                    <input
                      matInput
                      required
                      (ngModelChange)="checkIfNipExistsInDb($event)"
                      [placeholder]="'customer.form.nip' | translate"
                      formControlName="nip"
                      mask="000-000-00-00"
                      (focusin)="formControlFocusIn('nip')"
                      (focusout)="formControlFocusOut()"
                      (keyup.escape)="formControlEsc()"
                      [validation]="true"/>
                    <mat-error *ngIf="nip.hasError('required')">
                      {{ "customer.form.nipRequired" | translate }}
                    </mat-error>
                    <mat-error *ngIf="nip.hasError('minlength')">
                      {{ "customer.form.nipMinLength" | translate }}
                    </mat-error>
                    <mat-error *ngIf="nip.hasError('nipExists')">
                      {{ "customer.form.nipExists" | translate }}
                    </mat-error>
                    <mat-error *ngIf="nip.hasError('whitespace')">
                      {{ "sharedValidators.whitespace" | translate }}
                    </mat-error>
                    <span class="import-from-gus"
                      (click)="getDataFromGUS($event)"
                      *ngIf="'CustomerFormComponent.getFromGus' | auth: 'w'">
                      <img src="assets/icons/add-light-grey.svg"
                        class="import-from-gus-icon"/>
                      {{ "customer.form.add.importFromGUS" | translate }}
                    </span>
                  </mat-form-field>
                </div>
                <div class="col-md-1"></div>
              </div>

              <div class="row ml-0 mr-0">
                <div class="col-md-5">
                  <mat-form-field *ngIf="authKey + 'firstToContactField' | auth: 'i':true">
                    <mat-select
                      formControlName="firstToContact"
                      (opened)="formControlFocusIn('firstToContact')"
                      (valueChange)="formControlFocusOut($event)"
                      [disableRipple]="true"
                      [disableOptionCentering]="true"
                      panelClass="dropdown-w-100">
                      <mat-option
                        *ngFor="let contact of contacts"
                        [value]="contact.uuid">
                        {{ contact?.name }} {{ contact?.surname }}
                      </mat-option>
                      <mat-option
                        [value]="undefined"
                        class="new-first-to-contact-option"
                        (click)="addContactAndScrollToNewContactFrom()">
                        <img src="assets/icons/icon-plus.svg" />
                        {{ "customer.form.addNewContact" | translate }}
                      </mat-option>
                    </mat-select>
                    <mat-placeholder class="placeholder">
                      {{ "customer.form.firstToContact" | translate }}
                    </mat-placeholder>
                  </mat-form-field>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5">
                  <mat-form-field *ngIf="authKey + 'regonField' | auth: 'i':true">
                    <input
                      matInput
                      (focusin)="formControlFocusIn('regon')"
                      (focusout)="formControlFocusOut()"
                      (keyup.escape)="formControlEsc()"
                      [placeholder]="'customer.form.regon' | translate"
                      type="text"
                      formControlName="regon"/>
                    <mat-error *ngIf="regon.hasError('pattern')">
                      {{ "customer.form.regonPattern" | translate }}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-1"></div>
              </div>

              <div class="row mb-2 ml-0 mr-0">
                <div class="col-md-5">
                  <mat-form-field *ngIf="authKey + 'phoneField' | auth: 'i':true"
                    class="add-phone-input">
                    <input
                      matInput
                      (focusin)="formControlFocusIn('phone')"
                      (focusout)="formControlFocusOut()"
                      (keyup.escape)="formControlEsc()"
                      [placeholder]="'customer.form.phone' | translate"
                      formControlName="phone"
                      [mask]="phoneService.getPhoneInputMask(phone.value)"
                      type="tel"
                      [validation]="true"/>
                    <mat-error *ngIf="phone.hasError('minlength')">
                      {{ "customer.form.phoneMinLength" | translate }}
                    </mat-error>
                    <mat-error *ngIf="phone.hasError('maxlength')">
                      {{ "sharedValidators.valueTooLong" | translate }}
                    </mat-error>
                  </mat-form-field>
                  <app-icon svgIcon="add"
                    (click)="addAdditionalPhone($event)"
                    class="add-phone">
                  </app-icon>
                  <app-additional-phone-numbers
                    *ngIf="updatedCustomer || !update"
                    [addFieldSubject]="addAdditionalPhoneNumbers$"
                    [form]="customerForm"
                    [initial-phones]=" update ? updatedCustomer.additionalPhones : []"
                    field-name="additionalPhones"
                    (focusIn)="formControlFocusIn('additionalPhones')"
                    (focusOut)="formControlFocusOutAdditionalPhones()">
                  </app-additional-phone-numbers>
                </div>

                <div class="col-md-1"></div>
                <div class="col-md-5">
                  <mat-form-field *ngIf="authKey + 'typeField' | auth: 'i':true">
                    <mat-select
                      (opened)="formControlFocusIn('type')"
                      (valueChange)="formControlFocusOut($event)"
                      [disableRipple]="true"
                      [disableOptionCentering]="true"
                      panelClass="dropdown-w-100"
                      [placeholder]="'customer.form.type' | translate"
                      formControlName="type">
                      <mat-option *ngFor="let type of types$ | async"
                        [value]="type.id">
                        {{ type.name | translate }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-1"></div>
              </div>

              <div class="col-md-5 mb-2">
                <mat-form-field *ngIf="authKey + 'websiteField' | auth: 'i':true">
                  <input
                    matInput
                    (focusin)="formControlFocusIn('website')"
                    (focusout)="formControlFocusOut()"
                    (keyup.escape)="formControlEsc()"
                    [placeholder]="'customer.form.website' | translate"
                    type="text"
                    formControlName="website"/>
                  <mat-error *ngIf="website.hasError('maxlength')">
                    {{ "sharedValidators.valueTooLong" | translate }}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="row mt-3 mb-2 ml-0 mr-0">
            <div class="col-md-5">
              <h5 class="title">{{ "customer.form.address" | translate }}</h5>
            </div>
          </div>

          <div class="row ml-0 card-segment">
            <div [style.width.px]="avatarWidthPx" class="p-0 m-0"></div>
            <div class="col-md-10 p-0 m-0">
              <div class="row ml-0 mr-0">
                <div class="col-md-5 ml-0 mr-0 pl-0">
                  <div class="row ml-0 mr-0 pr-0 pl-0">
                    <div class="col-md-12 pr-0">
                      <mat-form-field *ngIf="authKey + 'streetField' | auth: 'i':true">
                        <input
                          matInput
                          (focusin)="formControlFocusIn('street')"
                          (focusout)="formControlFocusOut()"
                          (keyup.escape)="formControlEsc()"
                          [placeholder]="'customer.form.street' | translate"
                          formControlName="street"/>
                        <mat-error *ngIf="street.hasError('maxlength')">
                          {{ "sharedValidators.valueTooLong" | translate }}
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row ml-0 mr-0 pr-0 pl-0">
                    <div class="col-md-7 pr-1" mb-2>
                      <mat-form-field *ngIf="authKey + 'cityField' | auth: 'i':true">
                        <input
                          matInput
                          (focusin)="formControlFocusIn('city')"
                          (focusout)="formControlFocusOut()"
                          (keyup.escape)="formControlEsc()"
                          [placeholder]="'customer.form.city' | translate"
                          formControlName="city"/>
                        <mat-error *ngIf="city.hasError('maxlength')">
                          {{ "sharedValidators.valueTooLong" | translate }}
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="pr-0 col-md-5 pl-1">
                      <mat-form-field *ngIf="authKey + 'zipCodeField' | auth: 'i':true">
                        <input
                          matInput
                          (focusin)="formControlFocusIn('zipCode')"
                          (focusout)="formControlFocusOut()"
                          (keyup.escape)="formControlEsc()"
                          [placeholder]="'customer.form.zipCode' | translate"
                          formControlName="zipCode"
                          mask="00-000"
                          [validation]="true"/>
                        <mat-error *ngIf="zipCode.hasError('minlength')">
                          {{ "customer.form.zipCodeMinLength" | translate }}
                        </mat-error>
                        <mat-error *ngIf="zipCode.hasError('maxlength')">
                          {{ "sharedValidators.valueTooLong" | translate }}
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row ml-0 mr-0 pl-0">
                    <div class="pr-0 col-md-12">
                      <mat-form-field *ngIf="authKey + 'countryField' | auth: 'i':true">
                        <input
                          matInput
                          (focusin)="formControlFocusIn('country')"
                          (focusout)="formControlFocusOut()"
                          (keyup.escape)="formControlEsc()"
                          [placeholder]="'customer.form.country' | translate"
                          formControlName="country" />
                        <mat-error *ngIf="country.hasError('maxlength')">
                          {{ "sharedValidators.valueTooLong" | translate }}
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5">
                  <div class="field-text">
                    {{ "customer.form.description" | translate }}
                  </div>
                  <textarea
                    *ngIf="authKey + 'descriptionField' | auth: 'i':true"
                    formControlName="description"
                    (focusin)="formControlFocusIn('description')"
                    (focusout)="formControlFocusOut()"
                    (keyup.escape)="formControlEsc()"
                    placeholder="{{ 'customer.form.description' | translate }}"
                    class="form-control mt-2 mb-4 text-area-field"
                    rows="6">
                  </textarea>
                  <mat-error *ngIf="description.hasError('maxlength')">
                    {{ "sharedValidators.valueTooLong" | translate }}
                  </mat-error>
                </div>
                <div class="col-md-1"></div>
              </div>
            </div>
          </div>

          <div class="row mt-5 ml-0 mr-0">
            <div class="col-md-5">
              <h5 class="title">
                {{ "customer.whitelist.title" | translate }}
              </h5>
            </div>
          </div>
          <div class="row ml-0 card-segment">
            <div [style.width.px]="avatarWidthPx" class="p-0 m-0"></div>
            <div class="col-md-10 p-0 m-0">
              <div class="row ml-0 mr-0">
                <div class="col-md-5 ml-0 mr-0 pr-0 pl-0">
                  <div class="row field-margin">
                    <div class="col-md-12">
                      <app-customer-whitelist [nip]="nip.value"
                        hideTitle="true">
                      </app-customer-whitelist>
                    </div>
                  </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5 display-grid">
                  <div class="w-100">
                    <app-additional-data-form
                      #additionalDataFormComponent
                      [addFieldSubject]="addAdditionalField$"
                      [showPlusButton]="tabView"
                      [additionalDataString]="additionalData">
                    </app-additional-data-form>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-5 mb-2 ml-0 mr-0">
            <div class="col-md-5">
              <h5 class="title">
                {{ "customer.form.additionalInfo" | translate }}
              </h5>
            </div>
          </div>
          <div class="row ml-0 card-segment">
            <div [style.width.px]="avatarWidthPx" class="p-0 m-0"></div>
            <div class="col-md-10 p-0 m-0 additional-info">
              <mat-form-field *ngIf="authKey + 'employeesNumber' | auth: 'i':true">
                <input
                  matInput
                  (focusin)="formControlFocusIn('employeesNumber')"
                  (focusout)="formControlFocusOut()"
                  (keyup.escape)="formControlEsc()"
                  [placeholder]="'customer.form.employeesNumber' | translate"
                  type="text"
                  mask="0*"
                  formControlName="employeesNumber"/>
                <mat-error *ngIf="employeesNumber.hasError('maxlength')">
                  {{ "sharedValidators.valueTooLong" | translate }}
                </mat-error>
              </mat-form-field>

              <mat-form-field *ngIf="authKey + 'companyType' | auth: 'i':true">
                <input
                  matInput
                  (focusin)="formControlFocusIn('companyType')"
                  (focusout)="formControlFocusOut()"
                  (keyup.escape)="formControlEsc()"
                  [placeholder]="'customer.form.companyType' | translate"
                  type="text"
                  formControlName="companyType"/>
                <mat-error *ngIf="companyType.hasError('maxlength')">
                  {{ "sharedValidators.valueTooLong" | translate }}
                </mat-error>
              </mat-form-field>

              <mat-form-field *ngIf="authKey + 'income' | auth: 'i':true">
                <input
                  matInput
                  (focusin)="formControlFocusIn('income')"
                  (focusout)="formControlFocusOut()"
                  (keyup.escape)="formControlEsc()"
                  [placeholder]="'customer.form.income' | translate"
                  type="text"
                  formControlName="income"/>
                <mat-error *ngIf="income.hasError('maxlength')">
                  {{ "sharedValidators.valueTooLong" | translate }}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-4 p-0 m-0 h-100">
      <mat-card [ngClass]="{ 'no-border-radius': hideMatCardStyle }"
        class="right-top-card contact-panel-height main-mat-card mat-elevation-z0 mat-card ml-0 mr-0 no-bottom-left-border-radius no-bottom-right-border-radius no-top-left-border-radius card-border-radius no-box-shadow">
        <div #contactDiv class="fill-parent">
          <div class="row mt-3 mb-2 ml-4 ml-0 mr-0">
            <div class="col-md-5">
              <h5 class="title">
                {{ "customer.form.contactForm.title" | translate }}
              </h5>
            </div>
          </div>
          <ng-container *ngFor="let contact of contacts | sortProperty: 'id':true">
            <app-customer-new-contact-form
              (formFocusOut)="emitFocusOut()"
              (contactNameChanged)="contact.name = $event"
              (contactSurnameChanged)="contact.surname = $event"
              [contact]="contact">
            </app-customer-new-contact-form>
          </ng-container>

          <div class="new-contact" (click)="newContact()">
            <img src="assets/icons/add-active.svg" />
            {{ "customer.form.addNewContact" | translate }}
          </div>
        </div>
      </mat-card>
      <mat-card [ngClass]="{ 'no-bottom-right-border-radius': !hideMatCardStyle }"
        class="right-bottom-card owner-panel-height no-box-shadow main-mat-card mat-elevation-z0 mat-card ml-0 mr-0 no-bottom-left-border-radius no-top-border-radius card-border-radius">
        <div class="fill-parent w-100">
          <div class="owner-field">
            <mat-form-field *ngIf="authKey + 'ownerField' | auth: 'i':true">
              <mat-select
                formControlName="owner"
                (opened)="formControlFocusIn('owner')"
                (valueChange)="formControlFocusOut($event)"
                [disableRipple]="true"
                [disableOptionCentering]="true"
                panelClass="dropdown-w-100">
                <mat-option *ngFor="let user of accountEmails"
                  [value]="user?.id"
                  >{{ user?.name }} {{ user?.surname }}</mat-option>
              </mat-select>
              <mat-placeholder class="placeholder">
                {{ "customer.form.owner" | translate }}
              </mat-placeholder>
              <mat-error *ngIf="owner.hasError('required')">
                {{ "customer.form.ownerRequired" | translate }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</form>

<app-slider
  #mapSlider
  width="40vw"
  [title]="'Wybierz na mapie'"
  key="CustomerForm.MapSlider">
  <div class="p-2 w-100 h-100">
    <app-map-view
      #mapView
      class="w-100 h-100"
      [mapCenter]="mapCenter"
      [markers]="markers"
      (locationSelected)="setMarkerValues($event)"
      [selectable]="authKey + 'coordinatesField' | auth: 'w'"
      [zoom]="12">
    </app-map-view>
  </div>
</app-slider>
