<div class="acton-icons">
  <div class="icon-group">
    <app-icon
      *ngIf="!opportunity.finishResult"
      overlayTooltip
      [tooltipContent]="tooltipPrevTask"
      [tooltipPosition]="tooltipPosition"
      [tooltipDisabled]="
        !opportunity.canBeRolledBackToPreviousStep ||
        !opportunity.previousStepName
      "
      [disabled]="!opportunity.canBeRolledBackToPreviousStep"
      svgIcon="left-arrow"
      size="16px"
      (click)="
        this.opportunity.canBeRolledBackToPreviousStep &&
          onGoToTask($event, false)
      "
    ></app-icon>
    <app-icon
      *ngIf="!opportunity.finishResult"
      overlayTooltip
      [tooltipContent]="
        opportunity.acceptanceUserId ? acceptanceTask : tooltipNextTask
      "
      [tooltipPosition]="tooltipPosition"
      [tooltipDisabled]="
        !opportunity.acceptanceUserId &&
        (!opportunity.canBeMovedToFollowingStep ||
          !opportunity.followingStepName)
      "
      [disabled]="!opportunity.canBeMovedToFollowingStep"
      svgIcon="right-arrow"
      size="16px"
      (click)="
        opportunity.canBeMovedToFollowingStep && onGoToTask($event, true)
      "
    ></app-icon>
  </div>
  <div class="action-spacer"></div>
  <div class="icon-group">
    <app-icon svgIcon="copy" size="18px" (click)="onCopy($event)"></app-icon>
    <app-icon
      *ngIf="!opportunity.finishResult"
      svgIcon="close"
      size="18px"
      mat-icon-button
      [matMenuTriggerFor]="closeMenu"
      (click)="$event.stopPropagation()"
    ></app-icon>
    <app-icon
      *ngIf="'OpportunityShared.delete' | auth: 'w'"
      svgIcon="trash"
      size="18px"
      (click)="onRemove($event)"
    ></app-icon>
  </div>
</div>

<mat-menu #closeMenu="matMenu" xPosition="before" yPosition="above">
  <div class="close-menu">
    <button
      mat-menu-item
      class="win-color"
      (click)="onClose($event, finishTypes.SUCCESS)"
    >
      <span>{{
        "opportunity.form.dialog.close.win" | translate | titlecase
      }}</span>
    </button>
    <button
      mat-menu-item
      class="lose-color"
      (click)="onClose($event, finishTypes.ERROR)"
    >
      <span>{{
        "opportunity.form.dialog.close.lose" | translate | titlecase
      }}</span>
    </button>
  </div>
</mat-menu>

<ng-template #tooltipPrevTask>
  <mat-card class="stage-tooltip mat-elevation-z4">
    <div class="text">
      {{ "opportunity.form.dialog.switch.goBack" | translate }}
      <span class="primary-text">
        {{ "opportunity.form.dialog.switch.stage" | translate }}
        {{ opportunity.status }}
        {{ "opportunity.form.dialog.switch.of" | translate }}
        {{ opportunity.maxStatus }}
      </span>
    </div>
    <div class="stage-name">{{ opportunity.previousStepName }}</div>
  </mat-card>
</ng-template>

<ng-template #tooltipNextTask>
  <mat-card class="stage-tooltip mat-elevation-z4">
    <div class="text">
      {{ "opportunity.form.dialog.switch.goNext" | translate }}
      <span class="primary-text">
        {{ "opportunity.form.dialog.switch.stage" | translate }}
        {{ opportunity.status + 2 }}
        {{ "opportunity.form.dialog.switch.of" | translate }}
        {{ opportunity.maxStatus }}
      </span>
    </div>
    <div class="stage-name">{{ opportunity.followingStepName }}</div>
  </mat-card>
</ng-template>

<ng-template #acceptanceTask>
  <mat-card class="acceptance-tooltip mat-elevation-z4">
    <div class="text">
      <span class="primary-text">
        {{ "opportunity.form.dialog.switch.stage" | translate | titlecase }}
        {{ opportunity.status + 2 }}
        {{ "opportunity.form.dialog.switch.of" | translate }}
        {{ opportunity.maxStatus }}
      </span>
    </div>
    <div class="stage-name">
      {{ "opportunity.form.dialog.switch.acceptance" | translate }}:
      <span class="acceptance-name">
        {{ acceptanceUser }}
      </span>
    </div>
  </mat-card>
</ng-template>
