<div class="customer-details">
  <div class="customer-details_header">
    <ng-container [ngTemplateOutlet]="header"></ng-container>
  </div>
  <div class="customer-details_main">
    <div class="customer-details_main_column">
      <ng-container [ngTemplateOutlet]="column1"></ng-container>
    </div>
    <div class="customer-details_main_column">
      <ng-container [ngTemplateOutlet]="column2"></ng-container>
    </div>
  </div>
</div>

<ng-template #header>
  <div class="customer-header-container row" [formGroup]="customerForm">
    <div class="customer-header-container_avatar col-1"
      *ngIf="!('CustomerContactsComponent.avatar' | auth: 'i')">
      <app-avatar-icon
        class="avatar"
        (click)="avatarField.click()"
        [randomColor]="true"
        [imageSrc]="avatar.value"
        [text]="baseCustomer.name"
        [widthPx]="64">
      </app-avatar-icon>
      <input
        #avatarField
        class="input-hidden"
        (change)="handleAvatarChange($event)"
        type="file"
        accept="image/*"/>
    </div>
    <div class="customer-header-container_title col-3">
      <div *ngIf="!('CustomerDetailsComponent.name' | auth: 'i')"
        class="customer-title text-overflow">
        {{ name.value }}
      </div>
      <div *ngIf="!('CustomerDetailsComponent.type' | auth: 'i')"
        class="customer-type text-overflow">
        {{ baseCustomer?.type?.name | translate }}
      </div>
    </div>
    <div class="customer-header-container_info col-6">
      <div class="info-column">
        <div class="info-field">
          <mat-checkbox
            [disableRipple]="true"
            color="primary"
            class="info-checkbox"
            formControlName="foreignCompany"
            (change)="fieldIsChanged('foreignCompany')">
            {{ "customer.dashboard.header.foreignCompany" | translate }}
          </mat-checkbox>
        </div>
        <div class="info-field" *ngIf="(authKey + 'linkedInField' | auth: 'i':true ) && baseCustomer?.linkedIn">
          <div class="info-linkedin">
            <a [href]="baseCustomer.linkedIn" target="_blank">
              <img src="assets/icons/social_media/linkedin.svg"/>
              {{ baseCustomer.linkedIn | strReplace: '.*(?=linkedin.com)+linkedin.com\\/' }}
            </a>
          </div>
        </div>
      </div>
      <div class="info-column">
        <div *ngIf="(authKey + 'websiteField' | auth: 'i':true ) && baseCustomer?.website"
          class="info-field">
          <a class="info-link"
            [href]="'//' + baseCustomer.website"
            target="_blank">
            {{ baseCustomer.website }}
          </a>
        </div>
        <div *ngIf="!('CustomerDetailsComponent.cooperationStart' | auth: 'i') && baseCustomer?.created"
          class="info-field">
          <div class="info-cooperation">
            {{ "customer.dashboard.header.cooperationStart" | translate }}:
            {{ baseCustomer?.created | formatDate }}
          </div>
        </div>
      </div>
    </div>
    <div class="customer-header-container_actions col-2">
      <div class="main-action" *ngIf="!showActionButtons">
        <app-icon svgIcon="edit"
          size="20px"
          (click)="editSlider.toggle()">
        </app-icon>
        <app-icon svgIcon="trash"
          size="20px"
          (click)="tryDeleteCustomer()">
        </app-icon>
        <app-icon
          [class.rotating-icon]="loading"
          svgIcon="refresh"
          size="20px"
          [hover]="!loading"
          (click)="refresh()">
        </app-icon>
      </div>
      <div class="main-action" *ngIf="showActionButtons">
        <app-icon svgIcon="check" size="20px" (click)="submit()"></app-icon>
        <app-icon svgIcon="cross"
          size="20px"
          (click)="resetCustomer()">
        </app-icon>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #column1>
  <ng-container [ngTemplateOutlet]="basicInfo"></ng-container>
  <ng-container [ngTemplateOutlet]="whitelistInfo"></ng-container>
</ng-template>

<ng-template #column2>
  <ng-container [ngTemplateOutlet]="address"></ng-container>
  <ng-container [ngTemplateOutlet]="firstToContact"></ng-container>
  <ng-container [ngTemplateOutlet]="additionalInfo"></ng-container>
</ng-template>

<ng-template #basicInfo>
  <div class="customer-form-block" [formGroup]="customerForm">
    <div class="form-title">
      {{ "customer.form.basicInfo" | translate }}
    </div>
    <div>
      <mat-form-field *ngIf="authKey + 'nipField' | auth: 'i':true">
        <input
          matInput
          required
          (ngModelChange)="checkIfNipExistsInDb()"
          (focusout)="fieldIsChanged('nip')"
          formControlName="nip"
          mask="000-000-00-00"
          [validation]="true"/>
        <mat-placeholder>
          {{ "customer.form.nip" | translate }}
        </mat-placeholder>
        <mat-error *ngIf="nip.hasError('required')">
          {{ "customer.form.nipRequired" | translate }}
        </mat-error>
        <mat-error *ngIf="nip.hasError('minlength')">
          {{ "customer.form.nipMinLength" | translate }}
        </mat-error>
        <mat-error *ngIf="nip.hasError('nipExists')">
          {{ "customer.form.nipExists" | translate }}
        </mat-error>
        <mat-error *ngIf="nip.hasError('whitespace')">
          {{ "sharedValidators.whitespace" | translate }}
        </mat-error>
        <span
          class="import-from-gus input-gus"
          (click)="getDataFromGUS($event)"
          *ngIf="'CustomerFormComponent.getFromGus' | auth: 'w'">
              <app-icon
                svgIcon="bottom-arrow-circle"
                class="gus-icon"
                size="20px"
                [primary]="true">
              </app-icon>
          {{ "customer.form.add.importFromGUS" | translate }}
            </span>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field *ngIf="authKey + 'phoneField' | auth: 'i':true">
        <input
          matInput
          (focusout)="fieldIsChanged('phone')"
          [mask]="phoneService.getPhoneInputMask(phone.value)"
          formControlName="phone"
          type="tel"
          [validation]="true"/>
        <mat-placeholder>
          {{ "customer.form.phone" | translate }}
        </mat-placeholder>
        <mat-error *ngIf="phone.hasError('minlength')">
          {{ "customer.form.phoneMinLength" | translate }}
        </mat-error>
        <mat-error *ngIf="phone.hasError('maxlength')">
          {{ "sharedValidators.valueTooLong" | translate }}
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field *ngIf="authKey + 'ownerField' | auth: 'i':true">
        <mat-select
          formControlName="owner"
          required
          (selectionChange)="fieldIsChanged('owner')"
          [disableRipple]="true"
          [disableOptionCentering]="true">
          <mat-option *ngFor="let user of accountEmails" [value]="user?.id">
            {{ user?.name }} {{ user?.surname }}
          </mat-option>
        </mat-select>
        <mat-placeholder>
          {{ "customer.form.owner" | translate }}
        </mat-placeholder>
        <mat-error *ngIf="owner.hasError('required')">
          {{ "customer.form.ownerRequired" | translate }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-radio">
      <mat-radio-group
        formControlName="activeClient"
        (change)="fieldIsChanged('activeClient')">
        <mat-radio-button color="primary" [value]="true">
          <app-icon
            svgIcon="person-active"
            class="person-status-icon"
            size="16px"
            [hover]="false">
          </app-icon>
          {{ "customer.form.personActive" | translate }}
        </mat-radio-button>
        <mat-radio-button color="primary" [value]="false">
          <app-icon
            svgIcon="person-disabled"
            class="deactivated-status-icon"
            size="16px"
            [hover]="false">
          </app-icon>
          {{ "customer.form.personInactive" | translate }}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="form-radio">
      <mat-radio-group
        formControlName="activeDelivery"
        (change)="fieldIsChanged('activeDelivery')">
        <mat-radio-button color="primary" [value]="true">
          <app-icon
            svgIcon="delivery-active"
            class="delivery-status-icon"
            size="16px"
            [hover]="false">
          </app-icon>
          {{ "customer.form.deliveryActive" | translate }}
        </mat-radio-button>
        <mat-radio-button color="primary" [value]="false">
          <app-icon
            svgIcon="delivery-disabled"
            class="deactivated-status-icon"
            size="16px"
            [hover]="false">
          </app-icon>
          {{ "customer.form.deliveryInactive" | translate }}
        </mat-radio-button>
      </mat-radio-group>
    </div>

  </div>
</ng-template>

<ng-template #whitelistInfo>
  <div class="customer-form-block" [formGroup]="customerForm">
    <div class="form-title">
      {{ "customer.whitelist.title" | translate }}
    </div>

    <div>
      <mat-form-field>
        <input
          matInput
          [readonly]="true"
          [value]="whitelist?.status"/>
        <mat-placeholder>
          {{ "customer.whitelist.placeholder.statusVat" | translate }}
        </mat-placeholder>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input
          matInput
          [readonly]="true"
          [value]="whitelist?.refreshed | formatDate"/>
        <mat-placeholder>
          {{ "customer.whitelist.placeholder.refreshed" | translate }}
        </mat-placeholder>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input
          matInput
          [readonly]="true"
          [value]="whitelist?.registered | formatDate"/>
        <mat-placeholder>
          {{ "customer.whitelist.placeholder.registered" | translate }}
        </mat-placeholder>
      </mat-form-field>
    </div>
    <div *ngFor="let accountNumber of whitelist?.bankAccountNumbers">
      <mat-form-field>
        <input
          matInput
          [readonly]="true"
          [value]="accountNumber.number"/>
        <mat-placeholder>
          {{ "customer.whitelist.placeholder.bankAccountNumber" | translate }}
        </mat-placeholder>
      </mat-form-field>
    </div>

  </div>
</ng-template>

<ng-template #address>
  <div class="customer-form-block" [formGroup]="customerForm">
    <div class="form-title">
      {{ "customer.form.address" | translate }}
    </div>
    <div formGroupName="address">
      <div>
        <mat-form-field *ngIf="authKey + 'streetField' | auth: 'i':true">
          <input
            matInput
            (focusout)="fieldIsChanged('address')"
            formControlName="street"/>
          <mat-placeholder>
            {{ "customer.form.street" | translate }}
          </mat-placeholder>
          <mat-error *ngIf="street.hasError('maxlength')">
            {{ "sharedValidators.valueTooLong" | translate }}
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field *ngIf="authKey + 'cityField' | auth: 'i':true">
          <input
            matInput
            (focusout)="fieldIsChanged('address')"
            formControlName="city"/>
          <mat-placeholder>
            {{ "customer.form.city" | translate }}
          </mat-placeholder>
          <mat-error *ngIf="city.hasError('maxlength')">
            {{ "sharedValidators.valueTooLong" | translate }}
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field *ngIf="authKey + 'countryField' | auth: 'i':true">
          <input
            matInput
            (focusout)="fieldIsChanged('address')"
            formControlName="country"/>
          <mat-placeholder>
            {{ "customer.form.country" | translate }}
          </mat-placeholder>
          <mat-error *ngIf="country.hasError('maxlength')">
            {{ "sharedValidators.valueTooLong" | translate }}
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field *ngIf="authKey + 'zipCodeField' | auth: 'i':true">
          <input
            matInput
            (focusout)="fieldIsChanged('address')"
            formControlName="zipCode"/>
          <mat-placeholder>
            {{ "customer.form.zipCode" | translate }}
          </mat-placeholder>
          <mat-error *ngIf="zipCode.hasError('maxlength')">
            {{ "sharedValidators.valueTooLong" | translate }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #firstToContact>
  <div class="customer-form-block">
    <div class="form-title">
      {{ "customer.form.firstToContactTitle" | translate }}
    </div>
    <div *ngIf="contacts.length">
      <mat-form-field *ngFor="let contact of contacts" class="mb-2">
        <input
          matInput
          [readonly]="true"
          type="text"
          [value]="((contact?.name || '') + ' ' + (contact?.surname || '')).trim()"/>
        <mat-hint *ngIf="contact">
          <span class="second-title" *ngIf="contact?.position" >
                {{ contact.position }}
              </span>
          <span class="second-title" *ngIf="contact?.phone">
                T: {{ contact.phone }}
              </span>
          <span class="second-title" *ngIf="contact?.email">
                {{ contact.email }}
              </span>
        </mat-hint>
        <mat-placeholder>
          {{ "customer.form.firstToContact" | translate }}
        </mat-placeholder>
      </mat-form-field>
    </div>
    <div class="form-button" (click)="newContact.open()">
      <app-icon svgIcon="add" [primary]="true">
      </app-icon>
      {{ "customer.form.addNewContact" | translate }}
    </div>
  </div>
</ng-template>

<ng-template #additionalInfo>
  <div class="customer-form-block" [formGroup]="customerForm">
    <div class="form-title">
      {{ "customer.form.additionalInfo" | translate }}
    </div>
    <div>
      <mat-form-field *ngIf="authKey + 'employeesNumber' | auth: 'i':true">
        <input
          matInput
          (focusout)="fieldIsChanged('employeesNumber')"
          type="text"
          mask="0*"
          formControlName="employeesNumber"/>
        <mat-placeholder>
          {{ "customer.form.employeesNumber" | translate }}
        </mat-placeholder>
        <mat-error *ngIf="employeesNumber.hasError('maxlength')">
          {{ "sharedValidators.valueTooLong" | translate }}
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field *ngIf="authKey + 'industry' | auth: 'i':true">
        <div class="industry-search">
          <input type="text"
                 aria-label="Number"
                 matInput
                 formControlName="industrySearch"
                 #trigger="matAutocompleteTrigger"
                 (keyup.arrowDown)="industrySearching.showPanel = true"
                 [matAutocomplete]="industrySearching">
          <app-icon
            [hover]="false"
            svgIcon="expand-more"
            style="fill: none;">
          </app-icon>
        </div>
        <mat-autocomplete
          autoActiveFirstOption #industrySearching="matAutocomplete"
          (optionSelected)="industrySelect($event.option.value)"
          tabIndex="110">
          <mat-option
            #noCategoryOption
            class="category-option without-category-text"
            [value]="undefinedCategoryObject">
            {{ "customer.form.industryCategory.withoutCategory" | translate }}
          </mat-option>
          <mat-option
            *ngFor="let category of allIndustry | autocompleteValueFilter:industrySearch.value:'name'"
            #categoryOption
            class="category-option category-option-text"
            [value]="category">
            {{ category?.name }}
          </mat-option>
          <div class="dropdown-footer"
               *ngIf="'LeadShared.addCompanyType' | auth: 'w'">
            <app-icon svgIcon="plus" [primary]="true"></app-icon>
            <div class="add-new-category-text clickable"
                 (click)="openAddIndustrySlider(trigger)">
              {{ "customer.form.companyTypeCategory.addCategory" | translate }}
            </div>
          </div>
        </mat-autocomplete>
        <mat-placeholder class="placeholder">
          {{ "customer.form.companyType" | translate }}
        </mat-placeholder>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field *ngIf="authKey + 'income' | auth: 'i':true">
        <input
          matInput
          (focusout)="fieldIsChanged('income')"
          type="text"
          mask="0*"
          formControlName="income"/>
        <mat-placeholder>
          {{ "customer.form.income" | translate }}
        </mat-placeholder>
        <mat-error *ngIf="income.hasError('maxlength')">
          {{ "sharedValidators.valueTooLong" | translate }}
        </mat-error>
      </mat-form-field>
    </div>
    <div *ngIf="additionalData.length">
      <mat-form-field *ngFor="let data of additionalData">
        <input
          matInput
          type="text"
          [readonly]="true"
          [value]="data?.value  || ''"/>
        <mat-placeholder>
          {{ data?.title || "" }}
        </mat-placeholder>
      </mat-form-field>
    </div>
  </div>
</ng-template>

<app-slider
  #newContact
  width="34vw"
  group="sharedCustomerForm"
  [title]="'contacts.link.newContactSliderTitle' | translate"
  key="AddContactLink.NewContactSlider">
  <app-contact-add
    (contactAdded)="refresh()"
    [slider]="newContact"
    [customer]="customerCrm">
  </app-contact-add>
</app-slider>

<app-slider
  #editSlider
  width="40vw"
  [title]="'customer.form.editTitle' | translate"
  key="CustomerList.EditSlider"
  [moreInfoVisible]="true">
  <app-customer-edit
    (customerAdded)="refresh()"
    [customerId]="baseCustomer?.id">
  </app-customer-edit>
</app-slider>

<app-slider
  #addIndustrySlider
  [title]="'customer.form.companyTypeCategory.addCategory' | translate"
  [closeByCross]="false"
  key="DictionaryForm.AddDictionaryWordSlider"
  width="40vw"
  [group]="'customerForm'">
  <app-dictionary-add-word
    #addIndustryWord
    [parentWordId]="null"
    [dictionaryId]="dictionaryId.INDUSTRY"
    (canceled)="onCancelAddIndustrySlider()"
    (wordAdded)="onSubmitAddIndustrySlider($event)">
  </app-dictionary-add-word>
</app-slider>
