@import "~src/styles/form";
@import "~src/styles/colors";
@import "~src/styles/font-weights";

$person-color: #0bb07b;
$delivery-color: #0a1e44;
$deactivated-color: #b0b7c3;
$min-column: 300px;

.customer-details {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  &_header {
    min-height: 80px;
    margin-bottom: 32px;
  }
  &_main {
    padding-left: 16px;
    padding-right: 48px;
    display: grid;
    flex: 1;
    width: 100%;
    overflow: auto;
    grid-template-columns: repeat(2, minmax($min-column, 1fr));
    grid-template-rows: max-content 1fr;
    grid-column-gap: 16px;
  }
}

.customer-header-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 100%;
  flex-wrap: nowrap;
  &_avatar {
    margin-right: 32px;
    margin-left: 4px;
    .avatar {
      display: inline-block;
      cursor: pointer;
      user-select: none;
      border-radius: 50%;
      box-shadow: 0 0 4px 4px rgba($shadow-color-rgb, 0.08);
    }
  }
  &_title {
    margin-right: 32px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 1;

    .customer-title {
      font-size: 16px;
      font-weight: $Bold;
      color: $text-title;
    }
    .customer-type {
      font-size: 13px;
      color: $text-secondary;
    }
  }
  &_info {
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    .info-column {
      display: flex;
      flex-direction: column;
      margin-right: 32px;
      .info-field {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        height: 24px;
        .info-link {
          color: $primary;
          font-size: 13px;
          font-weight: $Medium;
          text-decoration: none;
        }
        .info-checkbox{
          height: 24px;
        }
        .info-cooperation {
          font-size: 13px;
          font-weight: $Medium;
          color: $text-secondary;
        }
        .info-linkedin {
          height: 24px;

          a{
            height: 100%;
          }
          img{
            height: 16px;
          }
        }
      }
    }
  }
  &_actions {
    align-self: flex-start;
    .main-action {
      float: right;
      display: flex;
      flex-wrap: nowrap;
      & > * {
        margin: 0 8px;
        &:last-child {
          margin-right: 0;
        }
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}

.customer-form-block {
  margin-bottom: 24px;

  mat-form-field {
    width: 100%;
  }

  .form-button {
    cursor: pointer;
    display: inline-block;
    width: fit-content;
    color: $primary;
    margin-left: 184px;
    margin-top: 8px;
  }

  .form-title {
    display: inline-block;
    min-width: 160px;
    max-width: 100%;
    font-size: 10px;
    color: $primary;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: 1px;
  }

  .form-radio {
    margin-bottom: 3px;

    mat-radio-button {
      width: 200px;
    }

    app-icon {
      margin: 0 4px;
    }
  }

}

.industry-search {
  display: flex;

  ::ng-deep .icon {
    fill: $contrast !important;
  }
}

::ng-deep .category-option .mat-option-pseudo-checkbox {
  order: 2;
}

::ng-deep .category-option.mat-selected {
  @extend .category-option-selected-text
}

.category-option-text {
  text-align: left;
  font: $Medium 13px/20px Poppins;
  letter-spacing: 0;
  color: $action-color;
  opacity: 1;
}

.category-option-selected-text {
  font: $Medium 13px/20px Poppins !important;
  color: $text-title !important;;
}

.without-category-text {
  text-align: left;
  font: $Medium 13px/20px Poppins;
  letter-spacing: 0;
  color: $text-secondary;
  opacity: 1;
}

.dropdown-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: sticky;
  bottom: 0;
  background: $bg-primary;
  height: 40px;
  padding-left: 16px;
}

.add-new-category-text {
  font-size: 12px;
  font-weight: $Medium;
  color: $primary;
}

.category-header-text {
  text-align: left;
  font: $Medium 10px/16px Poppins !important;
  letter-spacing: 1.2px;
  color: $primary;
  text-transform: uppercase;
  opacity: 1;
}

::ng-deep .category-header .mat-optgroup-label {
  display: flex;
  align-items: center;
  margin: 0;
  @extend .category-header-text
}

::ng-deep .mat-select-disabled .mat-select-value-text {
  color: rgba($contrast-rgb, 0.42);
}

.text-overflow {
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::ng-deep.rotating-icon {
  .icon {
    animation: rotating 1s linear infinite;
  }
}

.input-hidden {
  display: none;
}

.import-from-gus {
  color: $text-tertiary;
  cursor: pointer;
  float: right;
  position: absolute;
  width: max-content;
  right: 0;
  font-weight: $Medium;
  font-size: 12px;
}

.input-gus {
  bottom: 6px !important;
  display: flex;
  align-items: center;
  color: $primary !important;
  font-weight: 300 !important;
  .gus-icon {
    margin-right: 4px;
  }
}

.deactivated-status-icon {
  &::ng-deep.icon {
    fill: $deactivated-color;
  }
}

.person-status-icon {
  &::ng-deep.icon {
    fill: $person-color;
  }
}

.delivery-status-icon {
  &::ng-deep.icon {
    fill: $delivery-color;
  }
}
