<div class="w-100 h-100 card-padding">
  <mat-card class="mat-elevation-z0 main-mat-card mat-card card-border-radius no-bottom-border-radius">
    <app-role-form [updatedRole]="role"></app-role-form>
  </mat-card>

  <div class="button-container">
    <mat-card class="mat-elevation-z0 card-border-radius no-top-border-radius">
      <div class="row">
        <div class="col-md-12">
          <div class="pull-right">
            <button (click)="closeSlider()" class="button-medium" color="primary"
                    mat-stroked-button>{{'permissions.role.form.cancel' | translate}}</button>
            <button mat-raised-button color="primary" (click)="submitForm()" class="ml-2"
                    [disabled]="loadIndicatorVisible">
              <span
                class="fa fa-floppy-o"></span> {{ (loadIndicatorVisible ? 'permissions.role.form.saving' : 'permissions.role.form.save') | translate}}
            </button>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>

