@import '~src/styles/colors';
@import "~src/styles/table";
@import "~src/styles/slider";

.offer-buttons {
  position: absolute;
  bottom: 10px;
  right: 40px;
}

.button-container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: $bg-secondary;
}

.save-in-crm {
  width: 140px;
}
