<div class="w-100 h-100 card-padding">
  <mat-card class="mat-elevation-z0 main-mat-card mat-card  card-border-radius no-bottom-border-radius">
    <ng-container>
      <div class="w-100">
        <mat-horizontal-stepper labelPosition="bottom" [linear]="true" #stepper>
          <mat-step>
            <ng-template matStepLabel>{{'offer.generator.offerInfo' | translate}}</ng-template>
            <app-step-offer-info #offerInfoComponent></app-step-offer-info>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>{{'offer.generator.preparedBy' | translate}}</ng-template>
            <app-step-prepared-by #preparedByComponent></app-step-prepared-by>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>{{'offer.generator.preparedFor' | translate}}</ng-template>
            <app-step-prepared-for #preparedForComponent [opportunityCustomerId]="customerId"></app-step-prepared-for>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>{{'offer.generator.offerTitleAndDescription' | translate}}</ng-template>
            <app-step-note #titleStepNote noteType="TITLE" [offerTitle]="offerTitle" [offerDescription]="offerDescription"></app-step-note>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>{{'offer.generator.offerTermsOfPurchase' | translate}}</ng-template>
            <app-step-note #termsStepNote noteType="TERMS"></app-step-note>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>{{'offer.generator.preview' | translate}}</ng-template>
            <app-step-preview #stepPreview [stepper]="stepper" [opportunityId]="id"></app-step-preview>
          </mat-step>
        </mat-horizontal-stepper>
      </div>
    </ng-container>
  </mat-card>

  <div class="button-container">
    <mat-card *ngIf="stepPreviewComponent" class="mat-elevation-z0 card-border-radius no-top-border-radius">
      <div class="row">
        <div class="col-md-12">
          <span class="preview-buttons" *ngIf="stepPreviewComponent.currentStepActive">
            <button mat-stroked-button class="button-medium" color="primary"
                    (click)="stepPreviewComponent.download()">{{'offer.generator.stepPreview.download' | translate}}</button>
            <button mat-raised-button class="button-medium save-in-crm ml-2" (click)="stepPreviewComponent.saveInCrm()"
                    color="primary">{{'offer.generator.stepPreview.saveInCrm' | translate}}</button>
            <mat-icon *ngIf="stepPreviewComponent.uploading" class="pt-2 ml-3">
              <mat-spinner color="primary" diameter="20">
              </mat-spinner>
            </mat-icon>
          </span>
          <div class="pull-right">
            <button mat-stroked-button class="button-medium" color="primary" (click)="stepper.previous()"
                    *ngIf="stepper.selectedIndex !== 0">{{'offer.generator.previous' | translate}}</button>
            <button mat-raised-button class="button-medium ml-2" color="primary" (click)="stepper.next()"
                    *ngIf="stepper.selectedIndex !== stepper?.steps?.length - 1">{{'offer.generator.next' | translate}}</button>
            <button mat-raised-button class="button-medium ml-2" color="primary" (click)="closeSlider()"
                    *ngIf="stepper.selectedIndex === stepper?.steps?.length - 1">{{'offer.generator.close' | translate}}</button>
            <!--TODO -->
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>

