<form [formGroup]="goalForm" class="w-100">
  <mat-form-field class="w-100 mb-4">
    <input formControlName="goalName" class="w-100" matInput required>
    <mat-placeholder class="placeholder">{{'goal.form.name' | translate}}</mat-placeholder>
    <mat-error *ngIf="goalName.hasError('required')">
      {{'goal.form.fieldRequired' | translate}}
    </mat-error>
    <mat-error *ngIf="goalName.hasError('whitespace')">
      {{'sharedValidators.whitespace' | translate}}
    </mat-error>
    <mat-error *ngIf="goalName.hasError('maxlength')">
      {{'sharedValidators.valueTooLong' | translate}}
    </mat-error>
  </mat-form-field>
</form>

<app-goal-info-form #goalInfoFormComponent [goal]="_goal" [update]="_update"></app-goal-info-form>

<div *ngIf="this.goalAddService.goal.type === goalType.OPPORTUNITIES_FOR_PRODUCT_GROUP_AMOUNT"
     class="w-100 mt-3">
  <app-goal-categories-list [subcategories]="_goal?.subcategories" [update]="_update"></app-goal-categories-list>
  <mat-error *ngIf="emptyCategoryListError">{{'goal.add.noCategoriesError' | translate}}</mat-error>
</div>

<div *ngIf="this.goalAddService.goal.type === goalType.WON_OPPORTUNITIES_FOR_PRODUCTS_AMOUNT"
     class="w-100 mt-3">
  <app-goal-products-list [updateProducts]="_goal?.products" [update]="_update"></app-goal-products-list>
  <mat-error *ngIf="emptyProductListError">{{'goal.add.noProductsError' | translate}}</mat-error>
</div>
