<div class="w-100 mt-2">
  <span class="social-media-icon">
    <img
      *ngIf="
        !socialMedia ||
        !socialMedia.facebookLink ||
        socialMedia.facebookLink.length === 0
      "
      src="assets/icons/social_media/f.svg"
    />
    <a [href]="socialMedia?.facebookLink" target="_blank"
      ><img
        *ngIf="
          socialMedia &&
          socialMedia.facebookLink &&
          socialMedia.facebookLink.length !== 0
        "
        src="assets/icons/social_media/facebook.svg"
    /></a>
  </span>
  <span class="social-media-icon">
    <img
      *ngIf="
        !socialMedia ||
        !socialMedia.twitterLink ||
        socialMedia.twitterLink.length === 0
      "
      src="assets/icons/social_media/tw.svg"
    />
    <a [href]="socialMedia?.twitterLink" target="_blank"
      ><img
        *ngIf="
          socialMedia &&
          socialMedia.twitterLink &&
          socialMedia.twitterLink.length !== 0
        "
        src="assets/icons/social_media/twitter.svg"
    /></a>
  </span>
  <span class="social-media-icon">
    <img
      *ngIf="
        !socialMedia ||
        !socialMedia.linkedInLink ||
        socialMedia.linkedInLink.length === 0
      "
      src="assets/icons/social_media/in.svg"
    />
    <a [href]="socialMedia?.linkedInLink" target="_blank"
      ><img
        *ngIf="
          socialMedia &&
          socialMedia.linkedInLink &&
          socialMedia.linkedInLink.length !== 0
        "
        src="assets/icons/social_media/linkedin.svg"
    /></a>
  </span>

  <app-icon
    class="pull-right"
    [matMenuTriggerFor]="groupMenu"
    *ngIf="authKey + 'socialMediaField' | auth: 'w'"
    (click)="$event.stopPropagation()"
    svgIcon="option-dots"
    [hover]="false"
  ></app-icon>
  <mat-menu #groupMenu="matMenu" xPosition="before">
    <button
      mat-menu-item
      class="dropdown-select-item"
      (click)="addSlider.open()"
    >
      <app-icon svgIcon="plus" [hover]="false" size="16px"></app-icon>
      {{ "contacts.socialMediaEdit.add" | translate }}
    </button>
  </mat-menu>
</div>

<app-slider
  #addSlider
  width="33vw"
  [title]="'contacts.socialMediaEdit.title' | translate"
  key="SocialMedia.add"
>
  <app-edit-social-media
    [socialMedia]="socialMedia"
    (contactEdited)="emitSocialMediaEdited($event)"
    [slider]="addSlider"
  ></app-edit-social-media>
</app-slider>
