@import "~src/styles/colors";
@import "~src/styles/font-weights";

.tasks-header {
  display: flex;
}

.tasks-container {
  white-space: nowrap;
  padding: 10px 0px 10px 0;
}

.task-box {
  background-repeat: no-repeat;
  width: 288px;
  height: 32px;
}

@each $color in 'blue' 'purple' 'yellow' 'pink' 'green' 'brown' 'turquoise' 'red' {
  .bp-arrow-#{$color} {
    background-image: url('~src/assets/icons/bp_arrow/bp_arrow_#{$color}.svg') !important;
  }
}

.task-box-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  height: 30px;
  padding: 0 16px;
  font-size: 10px;
  font-weight: $Medium;
  letter-spacing: 0.2em;
  width: 90%;
}

.extension-panel {
  box-shadow: none;
  border-bottom: 1px solid rgba($border-color-rgb, 0.5)
}

.panel-header:hover {
  background: $bg-primary !important;
  position: relative;
}

.panel-header-text {
  font-size: 20px;
  color: $text-title;
  font-weight: $Regular;
}


.small-task-box {
  display: inline-block;
  position: relative;
  background-repeat: no-repeat;
  width: 140px;
  height: 32px;
  margin-right: 2px;
}

@each $color in 'blue' 'purple' 'yellow' 'pink' 'green' 'brown' 'turquoise' 'red' {
  .bp-small-arrow-#{$color} {
    background-image: url('~src/assets/icons/bp_arrow_small/bp-small-arrow-#{$color}.svg') !important;
  }
}

.small-task-box-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: $Medium;
  letter-spacing: 0.2em;
  height: 100%;
}

.small-task-text {
  color:  $primary-contrast;
  opacity: 0.75;;
  size: 10px;
  font-weight: $Medium;
  margin-top: 1px;
}

.small-task-text-note {
  color:  $primary-contrast;
  size: 12px;
  font-weight: $Medium;
}


.header-width {
  width: 98%;
}

.extension-panel-content {
  height: calc(100vh - 300px);
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
}


.small-task-text-primary {
  color:  $primary-contrast;
  size: 10px;
  font-weight: $Medium;
}

.small-task-text-secondary {
  color:  $primary-contrast;
  opacity: 0.4;
  size: 10px;
  font-weight: $Medium;
}

.leads-column {
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  height: 92%;
  scroll-behavior: smooth;
}

.leads-column::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.small-tasks-container {
  white-space: nowrap;
  padding: 10px 10px 10px 0;
  overflow-x: auto;
}

.transparent-card {
  width: 288px;
  height: 120px;
  box-shadow: none;
  margin-bottom: 4px;
  padding: 8px;
}

.lead-card {
  @extend .transparent-card;
  border: 1px solid $border-secondary;
  border-radius: 6px;
}

.lead-card-grid {
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 12px;
}

.lead-photo {
  grid-area: 1 / 1 / 6 / 2;
  width: 48px;
  height: 48px;
}

.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 175px;
}

.lead-card-text-primary {
  font-size: 13px;
  color: $text-primary;
  font-weight: $Bold;
  @extend .text-overflow
}

.lead-card-text-note {
  font-size: 12px;
  color: $text-secondary;
  font-weight: $Medium;
  margin-bottom: 6px;
  @extend .text-overflow
}

.lead-card-text-secondary {
  font-size: 13px;
  color: $text-primary;
  font-weight: $Medium;
  @extend .text-overflow
}


.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 6px;
  box-shadow: 0 5px 5px -3px rgba($contrast-rgb, 0.2),
  0 8px 10px 1px rgba($contrast-rgb, 0.14),
  0 3px 14px 2px rgba($contrast-rgb, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.column-margin {
  margin-right: 13px;
}

.placeholder {
  @extend .transparent-card;
  border-radius: 6px;
  border-spacing: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.placeholder-possible {
  @extend .placeholder;
  border-color: $border-quaternary;
  background: $bg-tertiary;
}

.placeholder-impossible {
  @extend .placeholder;
  background: $bg-tertiary;
  border-color: $confirm-color;
}

.placeholder-text {
  color: $action-color;
  font-size: 12px;
  font-weight: $Medium;
  line-height: 18px;
}

.placeholder-img {
  margin-bottom: 5px;
}

.move-pinter {
  cursor: move;
}

.display-none {
  display: none;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.badge {
  display: inline-block;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  text-align: center;
  background: $primary;
  color: $primary-contrast;
  margin-left: 20px;
  font-size: 11px;
  padding-right: -6px;
  padding-top: 7px;
}

.during-acceptance-dot {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 25px;
  padding-right: 5px;
}
