<mat-accordion>
  <div
    #target
    *ngFor="let process of processOverview; let processIndex = index"
  >
    <mat-expansion-panel
      #expansionPanel
      (opened)="getProcess(process.id); saveCurrentlyOpened(process.id)"
      (closed)="clearCurrentlyOpened()"
      (afterExpand)="scrollToTop(target)"
      class="extension-panel"
    >
      <mat-expansion-panel-header
        [collapsedHeight]="'112px'"
        [expandedHeight]="'45px'"
        class="panel-header"
      >
        <div class="header-width">
          <span class="panel-header-text">
            <ng-container
              *ngIf="'LeadKanbanComponent.processNameField' | auth: 'i':true"
              >{{ process?.name }}</ng-container
            >
          </span>
          <span
            *ngIf="'LeadKanbanComponent.processNumberField' | auth: 'i':true"
            class="badge"
            [ngStyle]="{
              'background-color': process?.backgroundColor,
              'font-color': process?.textColor
            }"
            >{{ process?.size }}</span
          >
          <div *ngIf="!expansionPanel.expanded" class="small-tasks-container">
            <ng-container *ngFor="let task of process?.tasks">
              <div
                class="small-task-box"
                [ngClass]="
                  'bp-small-arrow-' +
                  bpmnUtil.getColorNameByBgColorHex(process.backgroundColor)
                "
              >
                <div class="small-task-box-content">
                  <div
                    *ngIf="'LeadKanbanComponent.stepNameField' | auth: 'i':true"
                    class="small-task-text"
                    [ngStyle]="{ color: process?.textColor || '#FFF' }"
                  >
                    <ng-container *ngIf="!isLastDefaultTask(task)">{{
                      task?.name
                    }}</ng-container>
                    <ng-container *ngIf="isLastDefaultTask(task)">{{
                      "leads.kanban.completed" | translate
                    }}</ng-container>
                  </div>
                  <div
                    *ngIf="
                      'LeadKanbanComponent.numberLeadsInTaskField'
                        | auth: 'i':true
                    "
                    class="small-task-text-note"
                    [ngStyle]="{ color: process?.textColor || '#FFF' }"
                  >
                    {{ task?.includedLeadsNumber }}
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </mat-expansion-panel-header>

      <div cdkDropListGroup class="extension-panel-content">
        <ng-container
          *ngFor="let details of processDetails; let columnIndex = index"
        >
          <div class="column-margin">
            <div class="tasks-header">
              <div class="tasks-container">
                <div
                  class="task-box"
                  [ngClass]="
                    'bp-arrow-' +
                    bpmnUtil.getColorNameByBgColorHex(process.backgroundColor)
                  "
                >
                  <div class="task-box-content">
                    <div
                      class="small-task-text-primary"
                      [ngStyle]="{ color: process?.textColor || '#FFF' }"
                    >
                      <ng-container
                        *ngIf="
                          'LeadKanbanComponent.stepNameField' | auth: 'i':true
                        "
                      >
                        <ng-container *ngIf="!isLastDefaultTask(details)">{{
                          details?.name
                        }}</ng-container>
                        <ng-container *ngIf="isLastDefaultTask(details)">{{
                          "leads.kanban.completed" | translate
                        }}</ng-container>
                      </ng-container>
                    </div>
                    <div></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="leads-column">
              <div
                (cdkDropListDropped)="drop($event)"
                [cdkDropListData]="details"
                [cdkDropListEnterPredicate]="getPredicateFunction(columnIndex)"
                [cdkDropListDisabled]="
                  listDisabled ||
                  !('LeadKanbanComponent.changeStep' | auth: 'w')
                "
                cdkDropList
              >
                <div
                  [class.display-none]="
                    !moveImpossibleVisibilityMap?.get(columnIndex)
                  "
                  class="placeholder-impossible"
                  #placeholder
                >
                  <img class="placeholder-img" src="/assets/icons/alert.svg" />
                  <div class="placeholder-text">
                    {{
                      "leads.kanban.moveImpossible"
                        | translate: { taskName: details.name }
                    }}
                  </div>
                </div>
                <div
                  [class.display-none]="
                    !leadDuringAcceptanceVisibilityMap?.get(columnIndex)
                  "
                  class="placeholder-impossible"
                  #placeholder
                >
                  <img class="placeholder-img" src="/assets/icons/alert.svg" />
                  <div class="placeholder-text">
                    {{ "leads.kanban.duringAcceptance" | translate }}
                  </div>
                </div>
                <div
                  *ngIf="details?.leads?.length === 0"
                  cdkDrag
                  class="transparent-card"
                ></div>
                <div
                  (cdkDragReleased)="cdkDragReleased($event)"
                  (cdkDragStarted)="cdkDragStarted($event)"
                  *ngFor="let lead of details?.leads"
                  [cdkDragData]="[lead, columnIndex]"
                  cdkDrag
                >
                  <div *cdkDragPlaceholder class="placeholder-possible"></div>
                  <mat-card class="lead-card move-pinter">
                    <button
                      [matMenuTriggerFor]="menu"
                      appTooltip="MORE"
                      class="btn-transparent pull-right"
                    >
                      <app-icon
                        svgIcon="option-dots"
                        [hover]="false"
                      ></app-icon>
                    </button>
                    <mat-menu #menu="matMenu" xPosition="before">
                      <button
                        (click)="goToDetails(lead.id)"
                        class="dropdown-select-item"
                        mat-menu-item
                      >
                        <app-icon
                          svgIcon="info"
                          [hover]="false"
                          size="18px"
                        ></app-icon>
                        {{ "leads.list.singleDropdown.details" | translate }}
                      </button>
                      <button
                        *ngIf="'LeadShared.edit' | auth: 'w'"
                        (click)="edit(lead.id)"
                        class="dropdown-select-item"
                        mat-menu-item
                      >
                        <app-icon
                          svgIcon="edit"
                          [hover]="false"
                          size="18px"
                        ></app-icon>
                        {{ "leads.list.singleDropdown.edit" | translate }}
                      </button>
                      <button
                        *ngIf="'LeadShared.delete' | auth: 'w'"
                        (click)="tryDeleteLead(columnIndex, lead)"
                        class="dropdown-select-item"
                        mat-menu-item
                      >
                        <app-icon
                          svgIcon="trash"
                          [hover]="false"
                          size="18px"
                        ></app-icon>
                        {{ "leads.list.singleDropdown.delete" | translate }}
                      </button>
                      <button class="dropdown-select-item" mat-menu-item>
                        <app-icon
                          svgIcon="ring"
                          [hover]="false"
                          size="18px"
                        ></app-icon>
                        {{ "leads.list.singleDropdown.setAlert" | translate }}
                      </button>
                      <button class="dropdown-select-item" mat-menu-item>
                        <app-icon
                          svgIcon="check"
                          [hover]="false"
                          size="20px"
                        ></app-icon>
                        {{
                          "leads.list.singleDropdown.changeStatus" | translate
                        }}
                      </button>
                      <button class="dropdown-select-item" mat-menu-item>
                        <app-icon
                          svgIcon="envelope"
                          [hover]="false"
                          size="18px"
                        ></app-icon>
                        {{ "leads.list.singleDropdown.sendEmail" | translate }}
                      </button>
                      <button
                        *ngIf="isLastDefaultTask(details)"
                        class="dropdown-select-item"
                        mat-menu-item
                        (click)="convertToOpportunity(lead.id)"
                      >
                        <app-icon
                          svgIcon="check"
                          [hover]="false"
                          size="20px"
                        ></app-icon>
                        {{
                          "leads.list.singleDropdown.convertToOpportunity"
                            | translate
                        }}
                      </button>
                    </mat-menu>
                    <div class="lead-card-grid">
                      <div>
                        <img
                          *ngIf="
                            'LeadKanbanComponent.avatarField' | auth: 'i':true
                          "
                          class="lead-photo"
                          src="assets/icons/user-logo.svg"
                        />
                      </div>
                      <div>
                        <div
                          *ngIf="
                            'LeadKanbanComponent.nameField' | auth: 'i':true
                          "
                          class="lead-card-text-primary"
                        >
                          {{ lead?.firstName }} {{ lead?.lastName }}
                        </div>
                        <div
                          *ngIf="
                            'LeadKanbanComponent.positionField' | auth: 'i':true
                          "
                          class="lead-card-text-note"
                        >
                          {{ lead?.position }}
                        </div>
                        <div
                          *ngIf="
                            'LeadKanbanComponent.companyField' | auth: 'i':true
                          "
                          class="lead-card-text-secondary"
                        >
                          {{ lead?.companyName }}
                        </div>
                        <div
                          *ngIf="
                            'LeadKanbanComponent.phoneField' | auth: 'i':true
                          "
                          class="lead-card-text-secondary"
                        >
                          {{ lead?.phone | phone }}
                        </div>
                      </div>
                    </div>
                    <div
                      class="during-acceptance-dot"
                      *ngIf="lead?.duringAcceptance"
                    >
                      <img
                        src="assets/icons/yellow-dot.svg"
                        [title]="
                          'leads.kanban.duringAcceptanceShort' | translate
                        "
                      />
                    </div>
                  </mat-card>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-expansion-panel>
  </div>
  <div></div>
</mat-accordion>
