@import "~src/styles/colors.scss";
@import "~src/styles/font-weights";

::ng-deep .mail-text-editor {
  background-color: red;
}

::ng-deep .mail-text-editor .ngx-editor-textarea {
  background-color: $bg-primary !important;
  border-color: $border-primary !important;
  color: $text-title !important;
}
::ng-deep .mail-text-editor .ngx-toolbar {
  background: transparent !important;
  border-color: transparent !important;
  padding-left: 0 !important;
}
::ng-deep .mail-text-editor .ngx-toolbar .ngx-toolbar-set{
  border-radius: 0 !important;
  margin-right: 0 !important;
  .ngx-editor-button:first-child {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
  .ngx-editor-button:last-child {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
}

::ng-deep .mail-text-editor .ngx-toolbar {
  position: absolute;
  bottom: -20px;
}
::ng-deep .mail-text-editor .ngx-toolbar .ngx-editor-button:hover{
  background-color: $bg-primary !important;
  box-shadow: none !important;
}
::ng-deep .mail-text-editor .ngx-toolbar .ngx-editor-button{
  border: none !important;
  width: 24px !important;
  height: 24px !important;
  margin-right: 5px;
  min-width: 0 !important;
  i:before {
    width: 24px !important;
    height: 24px !important;
    margin-top: -6px !important;
    margin-left: -6px !important;
  }
  i.fa-bold:before,
  i.fa-italic:before,
  i.fa-underline:before,
  i.fa-strikethrough:before,
  i.fa-superscript:before,
  i.fa-subscript:before,
  i.fa-align-left:before,
  i.fa-align-center:before,
  i.fa-align-right:before,
  i.fa-align-justify:before,
  i.fa-indent:before,
  i.fa-outdent:before,
  i.fa-list-ul:before,
  i.fa-list-ol:before {
    content: "" !important;
    display: inline-block !important;
  }

  i.fa-bold:before {
    background: url('~src/assets/icons/mail/editor/3.svg') no-repeat bottom right !important;
  }
  i.fa-italic:before {
    background: url('~src/assets/icons/mail/editor/4.svg') no-repeat bottom right !important;
  }
  i.fa-underline:before {
    background: url('~src/assets/icons/mail/editor/5.svg') no-repeat bottom right !important;
  }
  i.fa-strikethrough:before {
    background: url('~src/assets/icons/mail/editor/6.svg') no-repeat bottom right !important;
  }
  i.fa-superscript:before {
    background: url('~src/assets/icons/mail/editor/8.svg') no-repeat bottom right !important;
  }
  i.fa-subscript:before {
    background: url('~src/assets/icons/mail/editor/7.svg') no-repeat bottom right !important;
  }
  i.fa-text-height:before {
    display: inline-block;
    padding-left: 10px;
  }
  i.fa-align-left:before {
    background: url('~src/assets/icons/mail/editor/14.svg') no-repeat bottom right !important;
  }
  i.fa-align-center:before {
    background: url('~src/assets/icons/mail/editor/13.svg') no-repeat bottom right !important;
  }
  i.fa-align-right:before {
    background: url('~src/assets/icons/mail/editor/12.svg') no-repeat bottom right !important;
  }
  i.fa-align-justify:before {
    background: url('~src/assets/icons/mail/editor/11.svg') no-repeat bottom right !important;
  }
  i.fa-indent:before {
    background: url('~src/assets/icons/mail/editor/16.svg') no-repeat bottom right !important;
  }
  i.fa-outdent:before {
    background: url('~src/assets/icons/mail/editor/15.svg') no-repeat bottom right !important;
  }
  i.fa-list-ul:before {
    background: url('~src/assets/icons/mail/editor/9.svg') no-repeat bottom right !important;
  }
  i.fa-list-ol:before {
    background: url('~src/assets/icons/mail/editor/10.svg') no-repeat bottom right !important;
  }
}
::ng-deep .mail-text-editor .ngx-editor-textarea {
  background-color: $bg-primary !important;
  border-color: $border-secondary !important;
  border-radius: 0.25rem;
  min-height: 90px !important;
  font-weight: $Regular;
  resize: vertical !important;
}
::ng-deep .mail-text-editor .ngx-editor-placeholder {
  z-index: 2 !important;
}
::ng-deep .mail-text-editor .ngx-editor-grippie {
  background: transparent !important;
  border-color: transparent !important;
  svg {
    display: none;
  }
}
