<div class="card-container">
  <mat-card class="main-card card-border-radius no-bottom-left-border-radius no-bottom-right-border-radius">
    <div class="inner-container">
      <mat-form-field class="word-input">
        <input class="category-text" #nameInput matInput [formControl]="name">
        <mat-placeholder class="placeholder">{{'dictionaries.words.manage.newWord' | translate}}</mat-placeholder>
      </mat-form-field>
      <mat-slide-toggle [formControl]="global" [ngModel]="true">
        {{'dictionaries.add' | translate}}
      </mat-slide-toggle>
    </div>
  </mat-card>
  <mat-card class="buttons-bar card-border-radius no-top-left-border-radius no-top-right-border-radius">
    <button type="button" mat-stroked-button class="button-medium" color="primary"
            (click)="cancel(); $event.stopPropagation()">{{'dictionaries.words.manage.cancel' | translate}}</button>
    <button type="button" mat-raised-button class="button-medium ml-2" color="primary"
            (click)="submit(); $event.stopPropagation()">
      <span class="button-with-progress-bar">
              {{'dictionaries.words.manage.add' | translate}}
        <mat-spinner [diameter]="20" *ngIf="saveInProgress" color="accent" class="ml-2 mt-2"></mat-spinner>
              </span>
    </button>
  </mat-card>
</div>
