<div class="dictionary-container">
  <div mat-dialog-title class="header">
    <span class="header-text" mat-dialog-title>{{ "dictionaries.addAll" | translate }}</span>
    <button [ngStyle]="{'padding': '0px'}" class="btn-transparent" [mat-dialog-close]="false">
      <app-icon svgIcon="cross" [hover]="false"></app-icon>
    </button>
  </div>
  <mat-dialog-content class="content-container">


    <div class="table-container">
      <div class="row overflow-y with-title flex-table-container">
        <div class="flex-table-content">
          <div class="scroll-table">
            <mat-table #table class="col-md-12" [dataSource]="saveDictionaryWords">

              <ng-container matColumnDef="dictionaryId">
                <mat-header-cell *matHeaderCellDef>{{ "dictionaries.words.import.dictionary" | translate }}</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{ "dictionaries.types." + getDictionaryName(element.dictionaryId) | translate }}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef>{{ "dictionaries.words.import.name" | translate }}</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{ element.name }}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="global">
                <mat-header-cell *matHeaderCellDef>{{ "dictionaries.words.import.add" | translate }}</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <mat-slide-toggle [checked]="element.global" [ngModel]="element.global">
                  </mat-slide-toggle>
                </mat-cell>
              </ng-container>


              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
          </div>
        </div>
      </div>
    </div>


  </mat-dialog-content>


  <mat-dialog-actions align="end" class="footer">
    <button
      mat-raised-button
      class="cancel-button"
      [mat-dialog-close]="false"
    >
      {{ "leads.import.dialog.cancel" | translate }}
    </button>
    <button
      mat-raised-button
      class="confirm-button"
      (click)="submit()"
    >
      {{ "leads.import.dialog.approve" | translate }}
    </button>

  </mat-dialog-actions>

</div>


