@import "../../../styles/colors";
@import "../../../styles/font-weights";

::ng-deep .mat-dialog-container {
  padding: 24px 24px 24px 26px;
}

.dictionary-container {
  display: grid;
  grid-template-rows: 1fr 6fr 1fr;
  min-width: 600px;
}

.header {
  background-color: $bg-primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-container {
  display: flex;
  flex-direction: row;
  background-color: $bg-primary;
  overflow: hidden;
}

.content-space-between {
  width: 40px;
}

::ng-deep .mat-dialog-content {
  margin: 0;
  padding: 0;
}

.table-container {
  width: 100%;
  padding: 0;
}

.flex-table-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  .flex-table-content {
    position: relative;
    flex: 1;
    width: 100%;
    overflow: hidden;

    .scroll-table {
      overflow: auto;
      height: 100%;
      width: 100%;
    }
  }
}




.confirm-button {
  background-color: $primary;
  font-size: 13px;
  font-weight: $Medium;
  color: $primary-contrast;
  box-shadow: none;
}

.cancel-button {
  background-color: $bg-tertiary;
  font-size: 13px;
  font-weight: $Medium;
  color: $action-color;
  box-shadow: none;
}
