<div class="related-opportunities">
    <div class="table-actions col-12">
        <div class="row">
            <div class="col-6 table-actions-add">
                <div class="cursor-pointer d-inline-block"
                     *ngIf="'RelatedOpportunities.addOpportunity' | auth: 'w'"
                     (click)="openAddOpportunity()">
                    <app-icon svgIcon="add"
                              appTooltip="ADD"
                              [primary]="true">
                    </app-icon>
                    {{ "tabs.relatedOpportunities.addOpportunity" | translate }}
                </div>
            </div>
            <div class="col-6">
                <div class="float-right">
                    <mat-form-field>
                        <input matInput
                               [formControl]="searchControl"
                               (keyup.enter)="searchOpportunities()"/>
                        <mat-placeholder class="placeholder">
                            {{ "leads.list.searchPlaceholder" | translate }}
                        </mat-placeholder>
                    </mat-form-field>
                    <app-icon
                            class="icon"
                            svgIcon="search"
                            appTooltip="SEARCH"
                            size="18px"
                            (click)="searchOpportunities()">
                    </app-icon>
                    <app-icon *ngIf="isSearched"
                              svgIcon="cross"
                              size="28px"
                              (click)="clearSearch()">
                    </app-icon>
                    <app-icon *ngIf="!isSearched"
                              size="28px">
                    </app-icon>
                </div>
            </div>
        </div>
    </div>
    <div class="separator"></div>
    <div class="overflow-y with-title flex-table-container">
        <div class="flex-table-content" [class.no-scroll]="!loadingFinished">
            <div class="loading-shade" *ngIf="!loadingFinished">
                <mat-spinner></mat-spinner>
            </div>
            <div class="scroll-table">
                <table
                        [dataSource]="opportunityPage?.content"
                        class="col-md-12"
                        mat-table
                        matSort
                        (matSortChange)="onSortChange($event)">
                    <ng-container matColumnDef="name">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>
                            {{ "tabs.relatedOpportunities.name" | translate }}
                        </th>
                        <td *matCellDef="let opportunity" mat-cell>
                            <div class="table-text-primary w-100"
                                 [title]="opportunity.name | lengthMoreThan: 30">
                                {{ opportunity.name }}
                            </div>
                            <div class="progress-bar">
                                <mat-progress-bar
                                        [value]="getOpportunityProgress(opportunity)"
                                        class="progress-bar-element"
                                        mode="determinate">
                                </mat-progress-bar>
                                <span class="progress-bar-text">
              {{ "tabs.relatedOpportunities.stage" | translate }} {{ opportunity.status }}
            </span>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="amount">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>
                            {{ "tabs.relatedOpportunities.amount" | translate }}
                        </th>
                        <td *matCellDef="let opportunity" mat-cell>
                            <div>{{ opportunity.amount | formatNumber }}</div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="finishDate">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>
                            {{ "tabs.relatedOpportunities.finishDate" | translate }}
                        </th>
                        <td *matCellDef="let opportunity" mat-cell>
                            <div>
                                {{ opportunity.finishDate | formatDate }}
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                        <th *matHeaderCellDef mat-header-cell></th>
                        <td *matCellDef="let opportunity" mat-cell>
                            <div class="icon-group">
                                <app-icon
                                        *ngIf="'RelatedOpportunities.editOpportunity' | auth: 'w'"
                                        svgIcon="edit"
                                        size="18px"
                                        (click)="openEditOpportunity($event, opportunity.id)">
                                </app-icon>
                                <app-icon
                                        *ngIf="'RelatedOpportunities.deleteOpportunity' | auth: 'w'"
                                        svgIcon="trash"
                                        size="18px"
                                        (click)="openDeleteOpportunity($event, opportunity.id)">
                                </app-icon>
                            </div>

                        </td>
                    </ng-container>
                    <ng-container matColumnDef="loadMoreOpportunity">
                        <td mat-footer-cell *matFooterCellDef colspan="4" >
                            <app-icon svgIcon="expand-more"
                                      [primary]="true">
                            </app-icon>
                            {{ "tabs.relatedOpportunities.loadMoreOpportunity" | translate }}
                        </td>
                    </ng-container>
                    <tr *matHeaderRowDef="filteredColumns$ | async; sticky: true"
                        mat-header-row>
                    </tr>
                    <tr *matRowDef="let myRowData; columns: filteredColumns$ | async"
                        mat-row
                        class="clickable"
                        (click)="goToOpportunityDetails(myRowData.id)">
                    </tr>
                    <tr *matFooterRowDef="['loadMoreOpportunity']"
                        mat-footer-row
                        class="clickable"
                        [class.hidden]="loadMoreOpportunityHide"
                        (click)="loadMoreOpportunity()">
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<app-slider
    #addSlider
    [title]="'tabs.relatedOpportunities.addOpportunity' | translate"
    key="OpportunityList.AddSlider"
    width="65vw">
    <app-opportunity-add
            [objectType]="objectType"
            [objectId]="objectId"
            [initOpportunityDefaultValues]="initOpportunityDefaultValues"
            (opportunityAdded)="handleOpportunityAdded()">
    </app-opportunity-add>
</app-slider>
<app-slider
    #editSlider
    [title]="'tabs.relatedOpportunities.editOpportunity' | translate"
    key="OpportunityDetails.EditSlider"
    width="65vw">
    <app-opportunity-edit
            [opportunity]="opportunityToEdit"
            (opportunityEdited)="handleOpportunityEdited()">
    </app-opportunity-edit>
</app-slider>
