@import "~src/styles/colors";
@import "~src/styles/table";

.related-opportunities {
  display: contents;

  .table-actions {
    height: 60px;

    .table-actions-add {
      margin: auto;
      color: var(--primary);
    }
  }

  .separator {
    background: $bg-secondary;
    height: 4px;
  }

  .with-title {
    height: calc(100% - 64px) !important;
  }

  .flex-table-container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    .flex-table-content {
      position: relative;
      overflow: hidden;
      flex: 1;
      width: 100%;

      .scroll-table {
        overflow: auto;
        height: 100%;
        width: 100%;
      }

      table {
        .progress-bar {
          background: transparent !important;

          .progress-bar-element {
            width: 100% !important;
          }

          .progress-bar-text {
            left: 0 !important;
          }
        }
        .mat-footer-row{
          height: 48px;

          .mat-footer-cell{
            margin: auto;
            color: var(--primary);
          }
        }
        .mat-footer-row.hidden {
          display: none;
        }
      }
    }
  }
}

.loading-shade {
  position: absolute;
  width: 100%;
  min-height: 64px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 101;
  background: radial-gradient(rgba($bg-primary-rgb, 0.6) 50%, transparent 100%);
}
