<div class="import-container">
  <div mat-dialog-title class="header">
    <span class="header-text" mat-dialog-title>{{ "leads.import.dialog.description" | translate}}</span>
    <button [ngStyle]="{'padding': '0px'}" class="btn-transparent" [mat-dialog-close]="true">
      <app-icon svgIcon="cross" [hover]="false"></app-icon>
    </button>
  </div>
  <mat-dialog-content class="content-container">
    <div class="table-container">
        <span class="table-header">
            Plik importu lead’a powinien składać się z następujących kolumn: <b>kolejność</b> oraz <b>atrybut systemowy</b>. Upewnij się, że
            Twój plik posiada obowiązkowe atrybuty systemowe w następującej kolejności: 1- firstName, 2- lastName, 3- email,
            4- phone, 5- position, 6- companyName, 7- companyCity
          </span>
      <div class="row overflow-y with-title flex-table-container">
        <div class="flex-table-content">
          <div class="loading-shade" *ngIf="!isParsingFinished()">
            <mat-spinner></mat-spinner>
          </div>
          <div class="scroll-table">
            <mat-table #table class="col-md-12"
                       [dataSource]="getParsedLeads()"
            >
              <ng-container matColumnDef="firstName">
                <mat-header-cell *matHeaderCellDef>Imię</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <mat-form-field floatLabel="never">
                    <input matInput maxlength="200"
                           [value]="element.firstName.value" [(ngModel)]="element.firstName.value">
                    <mat-placeholder class="placeholder">{{
                      "leads.form.firstName" | translate
                      }}</mat-placeholder>
                  </mat-form-field>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="lastName">
                <mat-header-cell *matHeaderCellDef>Nazwisko</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <mat-form-field floatLabel="never">
                    <input matInput
                           [value]="element.lastName.value" [(ngModel)]="element.lastName.value">
                    <mat-placeholder class="placeholder">{{
                      "leads.form.lastName" | translate
                      }}</mat-placeholder>
                  </mat-form-field>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <mat-form-field floatLabel="never">
                    <input matInput maxlength="200"
                           [value]="element.email.value" [(ngModel)]="element.email.value" (ngModelChange)=onEmailChange($event)>
                    <mat-placeholder class="placeholder">{{
                      "leads.form.email" | translate
                      }}</mat-placeholder>
                  </mat-form-field>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="phone">
                <mat-header-cell *matHeaderCellDef>Telefon</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <mat-form-field floatLabel="never">
                    <input matInput mask="+0*" maxlength="200"
                           [value]="element.phone.value" [(ngModel)]="element.phone.value">
                    <mat-placeholder class="placeholder">{{
                      "leads.form.phone" | translate
                      }}</mat-placeholder>
                  </mat-form-field>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="position">
                <mat-header-cell *matHeaderCellDef>Stanowisko</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <mat-form-field floatLabel="never">
                    <input type="text"
                           aria-label="Number"
                           matInput
                           [value]="element.position.value" [(ngModel)]="element.position.value"
                           #trigger="matAutocompleteTrigger"
                           (keyup.arrowDown)="positionSearching.showPanel = true"
                           [matAutocomplete]="positionSearching">
                    <mat-autocomplete
                      autoActiveFirstOption #positionSearching="matAutocomplete"
                      (optionSelected)="positionSelect(element, $event.option.value)"
                      tabIndex="103"
                    >
                      <mat-option
                        #noCategoryOption
                        class="category-option without-category-text"
                        [value]="undefinedCategoryObject"
                      >
                        {{
                        "leads.form.positionCategory.withoutCategory"
                          | translate
                        }}
                      </mat-option>
                      <mat-option
                        *ngFor="let category of allPosition | autocompleteValueFilter:element.position.value:'name'"
                        #categoryOption
                        class="category-option category-option-text"
                        [value]="category"
                      >
                        {{ category?.name }}
                      </mat-option>
                      <div
                        class="dropdown-footer"
                        *ngIf="'LeadShared.addPosition' | auth: 'w'">

                        <app-icon svgIcon="plus" [primary]="true"></app-icon>
                        <div
                          class="add-new-category-text clickable"
                          (click)="openAddPositionSlider(element, trigger)">
                          {{
                          "leads.form.positionCategory.addCategory"
                            | translate
                          }}
                        </div>
                      </div>
                    </mat-autocomplete>
                    <mat-placeholder class="placeholder">{{
                      "leads.form.position" | translate
                      }}</mat-placeholder>
                  </mat-form-field>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="companyName">
                <mat-header-cell *matHeaderCellDef>Firma</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <mat-form-field floatLabel="never">
                    <input matInput maxlength="200"
                           [value]="element.companyName.value" [(ngModel)]="element.companyName.value">
                    <mat-placeholder class="placeholder">{{
                      "leads.form.companyName" | translate
                      }}</mat-placeholder>
                  </mat-form-field>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="companyCity">
                <mat-header-cell *matHeaderCellDef>Siedziba</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <mat-form-field floatLabel="never">
                    <input matInput maxlength="200"
                           [value]="element.companyCity.value" [(ngModel)]="element.companyCity.value">
                    <mat-placeholder class="placeholder">{{
                      "leads.form.companyCity" | translate
                      }}</mat-placeholder>
                  </mat-form-field>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="validation">
                <mat-header-cell *matHeaderCellDef class="notext-cell"></mat-header-cell>
                <mat-cell *matCellDef="let element" class="notext-cell">
                  <ng-container *ngIf="isDuplicate(element); then duplicateIcon else isOkOrIncorrect"></ng-container>
                  <ng-template #duplicateIcon>
                    <ng-container *ngIf="isDuplicate(element)">
                      <app-icon
                        class="duplicate-icon"
                        svgIcon="import-duplicate"
                        size="18px"
                        [hover]="false"
                      ></app-icon>
                    </ng-container>
                  </ng-template>
                  <ng-template #isOkOrIncorrect>
                    <ng-container *ngIf="isIncorrect(element);then incorrectIcon else okIcon"></ng-container>
                    <ng-template #okIcon>
                      <app-icon
                        class="ok-icon"
                        svgIcon="import-ok"
                        size="18px"
                        [hover]="false"
                      ></app-icon>
                    </ng-template>
                    <ng-template #incorrectIcon>
                      <app-icon
                        class="incorrect-icon"
                        svgIcon="import-incorrect"
                        size="18px"
                        [hover]="false"
                      ></app-icon>
                    </ng-template>
                  </ng-template>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="menu">
                <mat-header-cell *matHeaderCellDef class="notext-cell"></mat-header-cell>
                <mat-cell *matCellDef="let element" class="notext-cell">
                  <app-icon
                    svgIcon="trash"
                    size="18px"
                    (click)="deleteLead(element)"
                  ></app-icon>
                </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
          </div>
        </div>
      </div>
    </div>
    <div class="content-space-between"></div>
    <div class="settings-container">
      <div
        class="file-drop-container"
        (fileOver)="hasBaseDropZoneOver = $event"
        [ngClass]="{ 'file-over-drop-zone': hasBaseDropZoneOver }"
        [uploader]="importService"
        ng2FileDrop
      >
        <span class="file-drop-text">{{ "leads.import.dialog.fileInput" | translate }}</span>
        <app-icon
          class="file-add-icon"
          svgIcon="add"
          (click)="fileInput.click()"
        ></app-icon>
        <input
          #fileInput
          [uploader]="importService"
          hidden
          multiple
          ng2FileSelect
          type="file"
        />
      </div>

      <div class="settings-checkbox-container">
        <mat-checkbox
          class="settings-checkbox"
          color="primary"
          [(ngModel)]="skipIncorrect">
          {{"leads.import.dialog.fileSkipIncorrect" | translate}}
        </mat-checkbox>
        <mat-checkbox
          class="settings-checkbox"
          color="primary"
          [(ngModel)]="mergeDuplicate">
          {{"leads.import.dialog.fileMergeDuplicate" | translate}}
        </mat-checkbox>
      </div>

      <form [formGroup]="leadImportForm">
        <div>
          <mat-form-field
            class="settings-input"
            *ngIf="authKey + 'leadKeeperField' | auth: 'i':true">
            <mat-select required formControlName="leadKeeperId" tabIndex="107">
              <mat-option
                *ngFor="let user of accountEmails"
                [value]="user?.id"
              >{{ user?.name }} {{ user?.surname }}</mat-option
              >
            </mat-select>
            <mat-placeholder class="placeholder">{{
              "leads.form.leadKeeper" | translate
              }}</mat-placeholder>
            <mat-error *ngIf="processDefinitionId.hasError('required')">
              {{ "leads.form.leadKeeperRequired" | translate }}
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field
            class="settings-input"
            *ngIf="authKey + 'processDefinitionField' | auth: 'i':true"
          >
            <mat-select
              formControlName="processDefinitionId"
              required
              tabIndex="106"
            >
              <mat-option
                *ngFor="let process of processDefinitions"
                [value]="process?.id"
              >{{ process?.name }}
                <span *ngIf="process?.version !== 1"
                >({{ "leads.form.processVersion" | translate }}
                  {{ process?.version }}
                  )</span
                ></mat-option
              >
            </mat-select>
            <mat-placeholder class="placeholder">{{
              "leads.form.processDefinition" | translate
              }}</mat-placeholder>
            <mat-error *ngIf="processDefinitionId.hasError('required')">
              {{ "leads.form.processDefinitionRequired" | translate }}
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field
            class="settings-input"
            *ngIf="authKey + 'sourceOfAcquisitionField' | auth: 'i':true"
          >
            <mat-select
              formControlName="sourceOfAcquisitionId"
              #sourceOfAcquisitionSelect
              (closed)="getSubSourceOfAcquisition()"
              tabIndex="111"
            >
              <mat-option
                #noCategoryOption
                class="category-option without-category-text"
                [value]="undefinedCategoryId"
              >
                {{"leads.form.sourceOfAcquisitionCategory.withoutCategory"| translate}}
              </mat-option>
              <mat-option
                *ngFor="let category of allSourceOfAcquisition"
                #categoryOption
                class="category-option category-option-text"
                [value]="category.id"
              >
                {{ category?.name }}
              </mat-option>
              <div
                class="dropdown-footer"
                *ngIf="'LeadShared.addSourceOfAcquisition' | auth: 'w'"
              >
                <app-icon
                  svgIcon="plus" [primary]="true"></app-icon>
                <div
                  class="add-new-category-text clickable"
                  (click)="openAddSourceOfAcquisitionSlider(sourceOfAcquisitionSelect)"
                >
                  {{
                  "leads.form.sourceOfAcquisitionCategory.addCategory"
                    | translate
                  }}
                </div>
              </div>
            </mat-select>
            <mat-placeholder class="placeholder"
            >{{
              "leads.form.sourceOfAcquisitionCategory.category" | translate
              }}
            </mat-placeholder>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field
            class="settings-input"
            *ngIf="authKey + 'sourceOfAcquisitionField' | auth: 'i':true"
          >
            <mat-select
              formControlName="subSourceOfAcquisitionId"
              #sourceOfAcquisitionSubcategorySelect
              tabIndex="112"
            >
              <mat-option
                #noSubcategoryOption
                class="category-option without-category-text"
                [value]="undefinedCategoryId"
              >
                {{
                "leads.form.sourceOfAcquisitionCategory.withoutSubCategory"
                  | translate
                }}</mat-option
              >
              <mat-optgroup
                class="category-header"
                *ngFor="let category of allSubSourceOfAcquisition"
                [label]="category.name"
              >
                <ng-container *ngFor="let subcategory of category.children">
                  <mat-option
                    [value]="subcategory.id"
                    class="category-option category-option-text"
                  >
                    <div class="ml-3">{{ subcategory.name }}</div>
                  </mat-option>
                </ng-container>
              </mat-optgroup>
              <div
                class="dropdown-footer"
                *ngIf="'LeadShared.addSourceOfAcquisition' | auth: 'w'"
              >
                <app-icon svgIcon="plus" [primary]="true"></app-icon>
                <div
                  class="add-new-category-text clickable"
                  (click)="openAddSubSourceOfAcquisitionSlider(sourceOfAcquisitionSubcategorySelect)"
                >{{"leads.form.sourceOfAcquisitionCategory.addSubCategory" | translate}}
                </div>
              </div>
            </mat-select>
            <mat-placeholder class="placeholder"
            >{{
              "leads.form.sourceOfAcquisitionCategory.subCategory" | translate
              }}
            </mat-placeholder>
          </mat-form-field>
        </div>
      </form>

    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end" class="footer">
    <button
      mat-raised-button
      class="cancel-button"
      [mat-dialog-close]="true"
      (click)="close()"
    >
      {{ "leads.import.dialog.cancel" | translate }}
    </button>
    <button
      mat-raised-button
      class="confirm-button"
      (click)="submit()"
    >
      {{ "leads.import.dialog.approve" | translate }}
    </button>

  </mat-dialog-actions>
</div>

<app-slider
  #addSourceOfAcquisitionSlider
  [title]="'leads.form.sourceOfAcquisitionCategory.addCategory' | translate"
  [closeByCross]="false"
  key="DictionaryForm.AddDictionaryWordSlider"
  width="40vw"
  [group]="'leadFormGroup'"
>
  <app-dictionary-add-word
    #addSourceOfAcquisitionWord
    [parentWordId]="null"
    [dictionaryId]="dictionaryId.SOURCE_OF_ACQUISITION"
    (canceled)="onCancelAddSourceOfAcquisitionSlider()"
    (wordAdded)="onSubmitAddSourceOfAcquisitionSlider($event)"
  >
  </app-dictionary-add-word>
</app-slider>

<app-slider
  #addSubSourceOfAcquisitionSlider
  [title]="'leads.form.sourceOfAcquisitionCategory.addSubCategory' | translate"
  [closeByCross]="false"
  key="DictionaryForm.AddDictionaryWordSlider"
  width="40vw"
  [group]="'leadFormGroup'"
>
  <app-dictionary-add-word
    #addSubSourceOfAcquisitionWord
    [parentWordId]="parentWordIdForCreation"
    [dictionaryId]="dictionaryId.SOURCE_OF_ACQUISITION"
    (canceled)="onCancelAddSubSourceOfAcquisitionSlider()"
    (wordAdded)="onSubmitAddSubSourceOfAcquisitionSlider($event)"
  >
  </app-dictionary-add-word>
</app-slider>

<app-slider
  #addPositionSlider
  [title]="'leads.form.positionCategory.addCategory' | translate"
  [closeByCross]="false"
  key="DictionaryForm.AddDictionaryWordSlider"
  width="40vw"
  [group]="'leadFormGroup'"
>
  <app-dictionary-add-word
    #addPositionWord
    [parentWordId]="null"
    [dictionaryId]="dictionaryId.POSITION"
    (canceled)="onCancelAddPositionSlider()"
    (wordAdded)="onSubmitAddPositionSlider($event)"
  >
  </app-dictionary-add-word>
</app-slider>
