@import "../../../../styles/colors";
@import "../../../../styles/font-weights";

$setting-width: 220px;

::ng-deep .mat-dialog-container {
  padding: 24px 24px 24px 26px;
}

.import-container {
  display: grid;
  grid-template-rows: 1fr 6fr 1fr;
}

.content-container {
  display: flex;
  flex-direction: row;
  background-color: $bg-primary;
  overflow: hidden;
}

.content-space-between {
  width: 40px;
}

::ng-deep .mat-dialog-content {
  margin: 0;
  padding: 0;
}

.table-container {
  width: calc(100% - 260px);
  padding: 0;
}

::ng-deep mat-cell:last-of-type, mat-footer-cell:last-of-type, mat-header-cell:last-of-type {
  padding: 0 !important;
}

.flex-table-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  .flex-table-content {
    position: relative;
    flex: 1;
    width: 100%;
    overflow: hidden;

    .scroll-table {
      overflow: auto;
      height: 100%;
      width: 100%;
    }
  }
}

.notext-cell {
  max-width: 50px;
}

.loading-shade {
  position: absolute;
  width: 100%;
  min-height: 64px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 101;
  background: radial-gradient(rgba($bg-primary-rgb, 0.6) 50%, transparent 100%);
}

.settings-container {
  width: 220px;
}

.header {
  background-color: $bg-primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-text {
  font-size: 18px !important;
  font-weight: $SemiBold !important;
  color: $text-primary !important;
  margin: 0;
}

.table-header {
  font-size: 13px !important;
  font-weight: $Medium !important;
  color: $text-primary !important;
  margin: 0;
}

.file-drop-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  background-color: $bg-secondary;
  border: dashed 3px $border-primary;
  border-radius: 8px;
  padding: 10px;
}

.file-drop-text {
  font-size: 13px !important;
  font-weight: $Medium !important;
  color: $text-primary !important;
}


.settings-checkbox-container {
  padding-top: 10px;
}

.settings-input {
  width: 100%;
  font-size: 13px !important;
  font-weight: $Medium !important;
  color: $text-primary !important;
  margin: 0
}

.settings-checkbox {
  margin: 0;
  padding: 0;

  ::ng-deep.mat-checkbox-label {
    font-size: 13px !important;
    font-weight: $Medium !important;
    color: $text-primary !important;
  }

}

.ok-icon {
  ::ng-deep.icon {
    fill: #0BB07B !important;
  }
}

.incorrect-icon {
  ::ng-deep.icon {
    fill: #DD2048 !important;
  }
}

.duplicate-icon {
  ::ng-deep.icon {
    fill: #FFAD0C !important;
    stroke: $bg-primary;
  }
}

.file-add-icon {
  padding-top: 10px;
  padding-bottom: 5px;
}

.confirm-button {
  background-color: $primary;
  font-size: 13px;
  font-weight: $Medium;
  color: $primary-contrast;
  box-shadow: none;
}

.cancel-button {
  background-color: $bg-tertiary;
  font-size: 13px;
  font-weight: $Medium;
  color: $action-color;
  box-shadow: none;
}

.mat-footer-row,
.mat-header-row,
.mat-row {
  display: flex;
  min-width: 100%;
}

.dropdown-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: sticky;
  bottom: 0;
  background: $bg-primary;
  height: 40px;
  padding-left: 16px;
}

.add-new-category-text {
  font-size: 12px;
  font-weight: $Medium;
  color: $primary;
}

.mat-form-field {
  width: 100%;
}
