@import "~src/styles/font-weights";
@import "~src/styles/colors";

.paginator-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 8px;
  flex-wrap: wrap-reverse;
  width: 100%;
  .paginator-label {
    font-weight: $Medium;
    font-size: 12px;
    color: $text-secondary;
    letter-spacing: 0;
    line-height: 18px;
    margin: 0 4px;
  }
  .paginator-page-size {
    display: flex;
    align-items: baseline;
    margin-right: 8px;
    &-select {
      margin: 6px 4px 0 4px;
      width: 56px;
    }
  }
  .paginator-page {
    display: flex;
    align-items: baseline;
    margin-right: 8px;
    &-input {
      margin: 6px 4px 0 4px;
      width: 56px;
    }
  }
  .paginator-range-actions {
    display: flex;
    align-items: center;
    margin-left: 16px;

    .paginator-icon {
      width: 28px;
      fill: currentColor;
    }
  }
}
