<div class="paginator-container">
  <div class="paginator-page-size">
    <div class="paginator-label">
      {{ "paginator.itemsPerPageLabel" | translate }}
    </div>

    <mat-form-field
      *ngIf="_displayedPageSizeOptions.length > 1"
      class="paginator-page-size-select"
    >
      <mat-select
        [value]="pageSize"
        [aria-label]="'paginator.itemsPerPageLabel' | translate"
        (selectionChange)="changePageSize($event.value)"
      >
        <mat-option
          *ngFor="let pageSizeOption of _displayedPageSizeOptions"
          [value]="pageSizeOption"
        >
          {{ pageSizeOption }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="paginator-page" *ngIf="pageSize < length">
    <div class="paginator-label">
      {{ "paginator.goToPageLabel" | translate }}
    </div>

    <mat-form-field class="paginator-page-input">
      <input
        matInput
        type="number"
        [(ngModel)]="newPage"
        (keyup.enter)="goPage()"
      />
    </mat-form-field>
  </div>

  <div class="paginator-range-actions">
    <div class="paginator-label">
      {{ getRangeLabel() }}
    </div>
    <button
      mat-icon-button
      type="button"
      class="mat-paginator-navigation-previous"
      (click)="previousPage()"
      [attr.aria-label]="'paginator.previousPageLabel' | translate"
      [matTooltip]="'paginator.previousPageLabel' | translate"
      [matTooltipDisabled]="!hasPreviousPage()"
      [matTooltipPosition]="'above'"
      [disabled]="!hasPreviousPage()"
    >
      <svg class="paginator-icon" viewBox="0 0 24 24" focusable="false">
        <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
      </svg>
    </button>
    <button
      mat-icon-button
      type="button"
      class="mat-paginator-navigation-next"
      (click)="nextPage()"
      [attr.aria-label]="'paginator.nextPageLabel' | translate"
      [matTooltip]="'paginator.nextPageLabel' | translate"
      [matTooltipDisabled]="!hasNextPage()"
      [matTooltipPosition]="'above'"
      [disabled]="!hasNextPage()"
    >
      <svg class="paginator-icon" viewBox="0 0 24 24" focusable="false">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
      </svg>
    </button>
  </div>
</div>
