<div>
  <mat-form-field [ngStyle]="{ 'width': '516px'}">
    <input
      matInput
      (keyup.enter)="emitSearchEvent()"
      [formControl]="searchControl"
      [matAutocomplete]="searchAutocomplete"/>
    <mat-placeholder class="placeholder">{{
      "contacts.list.searchPlaceholder" | translate
      }}</mat-placeholder>
  </mat-form-field>
  <app-icon
    *ngIf="!isSearched; else searched"
    class="icon"
    svgIcon="search"
    appTooltip="SEARCH"
    size="18px"
    (click)="emitSearchEvent()"
  ></app-icon>
  <ng-template #searched>
    <app-icon
      svgIcon="cross"
      size="28px"
      (click)="clearSearch()"
    ></app-icon>
  </ng-template>

  <mat-autocomplete
    #searchAutocomplete="matAutocomplete"
    (optionSelected)="selectSearchVariant($event)">
    <mat-optgroup
      class="contact-search-category-header"
      *ngFor="let group of searchVariantsObservable | async"
      [label]="'contacts.list.search.type.' + group.type | translate">
      <mat-option
        *ngFor="let variant of group.variants"
        [value]="variant"
        color="primary">
        <div mat-line>{{ variant }}</div>
      </mat-option>
    </mat-optgroup>
  </mat-autocomplete>
</div>
