@import "~src/styles/form";

.no-margin {
  margin: 0;
}

.center-month-name {
  padding-top: 23px;
}

.left-arrow {
  padding-top: 15px;
  padding-left: 0;
}

.right-arrow {
  padding-top: 15px;
}

.year-form-field {
  width: 76px;
  margin-left: -10px;
  padding-top: 8px;
}

.calendar-mini-buttons {
  .btn {
    .left-arrow-icon,
    .right-arrow-icon {
      width: 18px;
      height: 18px;
      margin-top: 2px;
      cursor: pointer;
    }
    .left-arrow-icon {
      content: url("~src/assets/icons/calendar/calendar-left-arrow.svg");
    }
    .right-arrow-icon {
      content: url("~src/assets/icons/calendar/calendar-right-arrow.svg");
    }
  }
}
