<div class="row no-margin calendar-mini-buttons">
  <div class="col-md-2 left-arrow">
    <div
      class="btn btn-transparent"
      mwlCalendarPreviousView
      [view]="CalendarType.Month"
      [(viewDate)]="viewDate"
      (viewDateChange)="onViewDateChange()"
    >
      <app-icon svgIcon="left-arrow-w" [hover]="false" size="16px"></app-icon>
    </div>
  </div>
  <div class="col-md-5 center-month-name">
    <h6>
      {{
        printMonthWithoutYear(
          viewDate | calendarDate: CalendarType.Month + "ViewTitle":locale
        )
      }}
    </h6>
  </div>
  <div class="col-md-2 right-arrow">
    <div
      class="btn btn-transparent"
      mwlCalendarNextView
      [view]="CalendarType.Month"
      [(viewDate)]="viewDate"
      (viewDateChange)="onViewDateChange()"
    >
      <app-icon svgIcon="right-arrow-w" [hover]="false" size="16px"></app-icon>
    </div>
  </div>
  <div class="col-md-3">
    <mat-form-field class="year-form-field">
      <mat-select
        [value]="viewDate.getFullYear()"
        (valueChange)="changeYear($event)"
      >
        <mat-option *ngFor="let year of years()" [value]="year">
          {{ year }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<mwl-calendar-month-view
  [viewDate]="viewDate"
  [locale]="locale"
  [refresh]="refresh"
  (dayClicked)="viewDate = $event.day.date"
>
</mwl-calendar-month-view>

<div class="row mt-5">
  <div class="col-md-12 mb-2">
    <h5>{{ "calendar.miniCalendar.tasksTitle" | translate }}</h5>
  </div>
</div>

<form [formGroup]="taskTypesForm">
  <div class="row">
    <div class="col-md-12">
      <mat-checkbox
        color="primary"
        formControlName="myTasks"
        (change)="onCheckboxClicked($event, 'myTasks')"
      >
        {{ "calendar.miniCalendar.myTasks" | translate }}
      </mat-checkbox>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <mat-checkbox
        color="primary"
        formControlName="myTasksAssignedToOthers"
        (change)="onCheckboxClicked($event, 'myTasksAssignedToOthers')"
      >
        {{ "calendar.miniCalendar.myTasksAssignedToOthers" | translate }}
      </mat-checkbox>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <mat-checkbox
        color="primary"
        formControlName="myEmployeesTasks"
        (change)="onCheckboxClicked($event, 'myEmployeesTasks')"
      >
        {{ "calendar.miniCalendar.myEmployeesTasks" | translate }}
      </mat-checkbox>
    </div>
  </div>
  <ng-container formArrayName="calendarUsers">
    <div *ngFor="let user of calendarUsers; let i = index" class="row">
      <div class="col-md-12">
        <mat-checkbox
          [formControlName]="'' + i"
          (change)="onCheckboxClicked($event, user.value)"
          color="primary"
        >
          {{ user.key }}
        </mat-checkbox>
      </div>
    </div>
  </ng-container>
</form>
