<mat-card class="mat-elevation-z0 files mat-card">
  <div
    ng2FileDrop
    class="file-widget"
    (fileOver)="hasBaseDropZoneOver = $event"
    [uploader]="uploader"
    [ngClass]="{
      'file-over-drop-zone': hasBaseDropZoneOver,
      'drop-zone': true
    }"
  >
    <div class="title">
      <span class="pull-right">
        <img
          class="title-icon"
          src="assets/icons/products/plus-icon.svg"
          (click)="fileInput.click()"
        />
      </span>
    </div>
    <div
      class="scroll"
      (scroll)="onScroll($event)"
    >
      <div class="content">
        <div
          class="element pt-1 pb-1 form-inline"
          *ngFor="let file of files"
        >
          <img src="{{file?.format | fileFormatToIcon}}" />
          <div
            class="text ml-2"
            (click)="preview(file)"
          >
            <div class="title">{{removeExtension(file.name)}}</div>
            <div class="description">{{file.created | formatDate}} | {{file.format}}</div>
          </div>
        </div>
      </div>
    </div>
    <mat-progress-bar
      *ngIf="progress"
      [value]="progress"
      mode="determinate"
      class="file-upload-progress"
    ></mat-progress-bar>
  </div>
  <input
    #fileInput
    [uploader]="uploader"
    hidden
    multiple
    ng2FileSelect
    type="file"
  >
</mat-card>
