@import "~src/styles/form";
@import "~src/styles/colors";
@import "~src/styles/font-weights";
@import "~src/styles/table";
@import "~src/styles/files.scss";
@import "~src/app/widgets/file/file.component.scss";

$w: 500px;
$h: 250px;

.files {
  margin-bottom: 10px;
  box-shadow: 0 0 1px 0 rgba($shadow-color-rgb, 0.06), 0 1px 1px 0 rgba($shadow-color-rgb, 0.1) !important;
  border-radius: 8px !important;
  width: $w;
  height: $h;
}

.drop-zone {
  @extend .drop-zone;
  display: block;
  width: 100%;
  height: 100%;
  margin: unset;
  padding: 5px;
}

.scroll {
  @extend .scroll;
  width: inherit !important;
  height: inherit !important;
}
