@import "~src/styles/colors";
@import "~src/styles/table";
@import "~src/styles/font-weights.scss";

div {
  color: #0A1E44;
}

.read-notification .notification-title {
  color: #8A94A6;
}

.read-notification .notification-text {
  color: #8A94A6;
}

.notification-title {
  font-weight: $Bold;
}

.notification-text {
  white-space: pre-wrap;
}

.notification-date {
  margin-top: 6px;
  color: #8D96A8;
}

::ng-deep .notification-tabs .mat-tab-header {
  background-color: white;
}

::ng-deep .notification-tabs .mat-tab-label  {
  width: 33.333%;
  font: $Medium 13px/20px Poppins;
  color: #8A94A6;
}

::ng-deep .notification-tabs .mat-tab-label-active {
  color: #0A1E44;
}

::ng-deep .notification-tabs .mat-tab-label.mat-tab-label-active:not(.mat-tab-disabled),
::ng-deep .notification-tabs .mat-tab-label.mat-tab-label-active.cdk-keyboard-focused:not(.mat-tab-disabled) {
  color: #0A1E44;
  opacity: 1;
}

.notification-row {
  min-height: 100px;
  font-size: 13px !important;
  background-color: white;
  margin-bottom: 1px;
  display: flex;
  line-height: 20px;
  padding-top: 20px;
  cursor: pointer;
}

.notification-icon {
  margin: 0 20px;
}

.notification-action-button {
  color: #319DF8;
}

.buttons-container {
  margin-left: 300px;
}

.notifications-container {
  height: calc(100vh - 125px);
}
