<div class="notification-tabs">
  <mat-tab-group>
    <mat-tab>
      <ng-template matTabLabel>
        <span [matBadge]="'' + numberOfAllUnreadUserNotifications" matBadgeOverlap="false" matBadgeColor="warn">
          {{'notifications.all' | translate}}
        </span>
      </ng-template>
      <ng-container [ngTemplateOutlet]="notificationsTable"
                    [ngTemplateOutletContext]="{notifications: allUserNotifications}">
      </ng-container>
    </mat-tab>

    <mat-tab>
      <ng-template matTabLabel>
        <span [matBadge]="'' + numberOfAllMineUnreadUserNotifications" matBadgeOverlap="false" matBadgeColor="warn">
          {{'notifications.onlyMine' | translate}}
        </span>
      </ng-template>
      <ng-container [ngTemplateOutlet]="notificationsTable"
                    [ngTemplateOutletContext]="{notifications: onlyMineUserNotifications}">
      </ng-container>
    </mat-tab>

    <mat-tab>
      <ng-template matTabLabel>
        <span [matBadge]="'' + numberOfUserNotificationsToAccept" matBadgeOverlap="false" matBadgeColor="warn">
          {{'notifications.toAccept' | translate}}
        </span>
      </ng-template>
      <ng-container [ngTemplateOutlet]="notificationsTable"
                    [ngTemplateOutletContext]="{notifications: userNotificationsToAccept}">
      </ng-container>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #notificationsTable let-notifications="notifications" class="notifications-container">
  <div class="notifications-container">
    <div *ngFor="let userNotification of notifications" (click)="markUserNotificationAsRead($event, userNotification)"
         class="notification-row" [ngClass]="{'read-notification': userNotification.read !== null}">
      <div class="notification-icon"><img [src]="'assets/icons/notifications/' + userNotification.notification.msgType + '.svg'"></div>
      <div class="w-100">
        <div class="notification-title">
          <span>{{userNotification.notification.name + 'Title' | translate:getUserNotificationArgs(userNotification)}}</span>
          <span *ngIf="userNotification.notification.groupNotification" class="pull-right mr-3"><img src="assets/icons/notifications/group_icon.svg"/></span>
        </div>
        <div class="notification-text">
          {{userNotification.notification.name | translate:getUserNotificationArgs(userNotification)}}
        </div>
        <div class="notification-date">
          {{userNotification.created | formatDate}}
        </div>

        <div *ngIf="!userNotification.notification.groupNotification" class="buttons-container">
          <button class="btn-transparent notification-action-button" *ngFor="let action of userNotification.notification.actions" (click)="runAction($event, userNotification, action)">{{action.name | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<app-slider [width]="'33vw'" [title]="'expenses.accept.title' | translate" key="expenseAcceptSlider" #expenseAcceptSlider>
  <app-expense-accept [expenseId]="expenseId" [slider]="expenseAcceptSlider" [userNotification]="userNotification" (notificationAccepted)="onNotificationAccepted()"></app-expense-accept>
</app-slider>
