<div class="add-related-customer-container">
  <form [formGroup]="newRelationForm">
    <div class="card-container">
      <mat-card
        class="main-card card-border-radius no-bottom-left-border-radius no-bottom-right-border-radius"
      >
        <div class="inner-container">
          <div>
            <mat-form-field>
              <input
                class="input-text"
                matInput
                formControlName="contactName"
              />
              <mat-placeholder>{{
                "contacts.details.newRelatedCustomer.contact" | translate
              }}</mat-placeholder>
            </mat-form-field>
          </div>

          <div class="header-text">
            {{
              "contacts.details.newRelatedCustomer.relatedCustomer" | translate
            }}
          </div>

          <div>
            <mat-form-field>
              <mat-label>{{
                "contacts.details.newRelatedCustomer.customer" | translate
              }}</mat-label>
              <span class="inline">
                <input
                  matInput
                  class="input-text"
                  [placeholder]="
                    'contacts.details.newRelatedCustomer.write3CharToSearch'
                      | translate
                  "
                  formControlName="customerSearch"
                  [matAutocomplete]="customerSearch"
                />
                <app-icon
                  svgIcon="search"
                  [hover]="false"
                  [pointer]="false"
                  size="16px"
                  class="pr-1"
                ></app-icon>
              </span>
              <mat-autocomplete
                #customerSearch="matAutocomplete"
                (optionSelected)="customerSelect($event.option.value)"
              >
                <mat-option
                  *ngFor="let object of filteredCustomers"
                  [value]="object"
                >
                  <div class="input-text">{{ object.label }}</div>
                </mat-option>
                <mat-option
                  [value]="undefined"
                  (click)="addCustomerSlider.open()"
                >
                  <app-icon svgIcon="plus" [hover]="false"></app-icon>
                  {{ "contacts.form.newCustomer" | translate }}
                </mat-option>
              </mat-autocomplete>
              <mat-error
                *ngIf="
                  customerSearchControl.hasError('required') ||
                  customerSearchControl.hasError('customCustomerValue')
                "
              >
                {{
                  "contacts.details.newRelatedCustomer.requiredField"
                    | translate
                }}
              </mat-error>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <input class="input-text" matInput formControlName="position" />
              <mat-placeholder>{{
                "contacts.details.newRelatedCustomer.position" | translate
              }}</mat-placeholder>
              <mat-error *ngIf="positionControl.hasError('maxlength')">
                {{ "sharedValidators.valueTooLong" | translate }}
              </mat-error>
            </mat-form-field>
          </div>

          <div class="header-text">
            {{ "contacts.details.newRelatedCustomer.relationTime" | translate }}
          </div>

          <app-date-range-select></app-date-range-select>

          <div class="note-box">
            <div class="notes-header">
              {{ "contacts.details.newRelatedCustomer.note" | translate }}
            </div>
            <textarea formControlName="note" class="form-control text-area">
            </textarea>
          </div>
        </div>
      </mat-card>

      <mat-card
        class="buttons-bar card-border-radius no-top-left-border-radius no-top-right-border-radius"
      >
        <button
          type="button"
          mat-stroked-button
          color="primary"
          (click)="cancel()"
        >
          {{ "contacts.details.newRelatedCustomer.cancel" | translate }}
        </button>
        <button
          type="button"
          mat-raised-button
          class="ml-2"
          color="primary"
          (click)="add()"
        >
          {{ "contacts.details.newRelatedCustomer.add" | translate }}
        </button>
      </mat-card>
    </div>
  </form>
</div>

<app-slider
  #addCustomerSlider
  width="33vw"
  group="contactRelatedCustomerGroup"
  [title]="'customer.form.addTitle' | translate"
  key="CustomerList.AddSlider"
  [moreInfoVisible]="true"
>
  <app-customer-add
    (customerAdded)="customerAdded($event)"
    [slider]="addCustomerSlider"
  ></app-customer-add>
</app-slider>
