<mat-card class="mat-elevation-z8 fill-screen table-container">
  <div class="row">
    <div class="col-md-4 forms-height">

      <div class="table-header-container">
        <span>
          <span class="table-header-primary" *ngIf="!editMode">{{'license.form.addTitle' | translate}}</span>
          <span class="table-header-primary" *ngIf="editMode">{{'license.form.editTitle' | translate}}</span>
        </span>
        <span class="table-header-right-side" *ngIf="editMode && licenseForEdit && licenseForEdit.licenseCheckResult">{{'license.form.active' | translate}}</span>
        <span class="table-header-right-side" *ngIf="editMode && licenseForEdit && !licenseForEdit.licenseCheckResult">{{'license.form.inactive' | translate}}</span>
      </div>
      <div class="row overflow-y with-title license-form">
        <form [formGroup]="licenseForm">
          <mat-form-field class="w-100">
            <input matInput required
                   [placeholder]="'license.form.name' | translate"
                   formControlName="name">
            <mat-error *ngIf="name.hasError('required')">
              {{'license.form.fieldRequired' | translate}}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="w-100">
            <input matInput required
                   [placeholder]="'license.form.phone' | translate"
                   mask="+(00) 000 000 000"
                   formControlName="phone">
            <mat-error *ngIf="phone.hasError('required')">
              {{'license.form.fieldRequired' | translate}}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="w-100">
            <input matInput required
                   [placeholder]="'license.form.email' | translate"
                   formControlName="email">
            <mat-error *ngIf="email.hasError('required')">
              {{'license.form.fieldRequired' | translate}}
            </mat-error>
            <mat-error *ngIf="email.hasError('email')">
              {{'license.form.incorrectEmail' | translate}}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="w-100">
            <input matInput required
                   [placeholder]="'license.form.domain' | translate"
                   formControlName="domain">
            <mat-error *ngIf="domain.hasError('required')">
              {{'license.form.fieldRequired' | translate}}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="w-100">
            <input matInput
                   [placeholder]="'license.form.instanceId' | translate"
                   formControlName="instanceId">
          </mat-form-field>
        </form>

        <div class="w-100">

          <span *ngIf="editMode">
            <button *ngIf="licenseForEdit && licenseForEdit.instanceId != null && !licenseForEdit.localInstance" mat-stroked-button class="button-medium mr-2" color="primary" type="button"
                    (click)="removeInstance()">
              <span class="display-flex">{{'license.form.remove' | translate}} <mat-spinner diameter="20" class="mt-2 ml-2" *ngIf="instanceRequestInProgress"></mat-spinner></span>
            </button>

            <button *ngIf="licenseForEdit && licenseForEdit.instanceId == null" mat-stroked-button class="button-medium mr-2" color="primary" type="button"
                    (click)="createInstance()">
              <span class="display-flex">{{'license.form.create' | translate}} <mat-spinner diameter="20" class="mt-2 ml-2" *ngIf="instanceRequestInProgress"></mat-spinner></span>
            </button>

            <button type="button"
                    mat-raised-button class="button-medium" color="primary"
                    (click)="changeActivate()">
              <span *ngIf="licenseForEdit && licenseForEdit.locked">{{'license.form.activate' | translate}}</span> <!-- or deactivate -->
              <span *ngIf="licenseForEdit && !licenseForEdit.locked">{{'license.form.deactivate' | translate}}</span> <!-- or deactivate -->
            </button>
          </span>

          <span class="pull-right">
            <button mat-stroked-button class="button-medium" color="primary" type="button"
                    (click)="cancel()">{{'license.form.cancel' | translate}}</button>
            <button type="button"
                    mat-raised-button class="button-medium ml-2" color="primary"
                    (click)="save()">{{'license.form.save' | translate}}</button>
          </span>
        </div>
      </div>
    </div>

    <div class="col-md-8 payment-list forms-height" *ngIf="editMode">
      <app-payment-list [license]="licenseForEdit" (changePaymentForm)="selectedPayment = $event; openPaymentForm()"></app-payment-list>
    </div>
  </div>
</mat-card>

<app-slider #paymentForm width="34vw"
            group="paymentForm"
            [title]="selectedPayment ? ('license.form.paymentForm.editTitle' | translate) : ('license.form.paymentForm.addTitle' | translate)">
  <app-payment-form
    [licenseId]="editLicenseId"
    [payment]="selectedPayment"
    (licenseChanged)="setLicenseToForm($event); closePaymentForm();"
    (cancelEvent)="closePaymentForm();">
  </app-payment-form>
</app-slider>
