@import '~src/styles/colors';
@import "~src/styles/table";
@import "~src/styles/form";

.license-form {
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 32px;
}

.payment-list {
  padding-right: 16px;
}

.forms-height {
  height: calc(100vh - 176px);
}

.display-flex {
  display: flex;
}

.table-header-right-side {
  float: right;
  color: #4E5D77;
}
