@import "~src/styles/font-weights";
@import "~src/styles/colors";

.header {
  background-color: $bg-primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.content {
  background-color: $bg-primary;
  padding: 10px 40px;
}

.header-text {
  font-size: 13px !important;
  font-weight: $Medium !important;
  color: $action-color;
  margin: 0;
}

.description-text {
  font-size: 13px;
  font-weight: $Medium;
  color: $action-color;
}

.note-text {
  font-size: 13px;
  font-weight: $Medium;
  color: $text-secondary;
}

.confirm-button {
  background-color: $primary;
  font-size: 13px;
  font-weight: $Medium;
  color:  $primary-contrast;
  box-shadow: none;
  width: 98px;
}

.cancel-button {
  background-color: $bg-tertiary;
  font-size: 13px;
  font-weight: $Medium;
  color: $action-color;
  box-shadow: none;
  width: 98px;
}

.text-container {
  display: flex;
  align-items: center;
}

.icon-warning {
  margin-right: 12px;
}

.footer {
  margin: 20px;
}
