<div mat-dialog-title class="header">
  <div></div>
  <div class="header-text" mat-dialog-title>{{ data.title | translate }}</div>
  <button class="btn-transparent" [mat-dialog-close]="true">
    <app-icon svgIcon="cross" [hover]="false"></app-icon>
  </button>
</div>
<mat-dialog-content class="content">
  <div class="text-container">
    <img class="icon-warning" src="assets/icons/warning.svg" />
    <div>
      <div class="description-text">{{ data.description | translate }}</div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end" class="footer">
  <button
    class="cancel-button"
    [mat-dialog-close]="true"
    (click)="cancel()"
    mat-raised-button
  >
    {{ data.cancelButton | translate }}
  </button>
  <button
    class="confirm-button"
    [mat-dialog-close]="true"
    (click)="confirm()"
    mat-raised-button
  >
    {{ data.confirmButton | translate }}
  </button>
</mat-dialog-actions>
