<div class="password-form-container">
  <app-password-change-form class="w-100" [oldPasswordEnabled]="true" [(passwords)]="passwords"
                            (formChanged)="formChanged($event)"></app-password-change-form>
  <div class="pull-right mt-2">
    <button mat-raised-button (click)="savePassword()" color="primary">
      <span class="fa fa-floppy-o"></span> {{'person.detail.info.password.changePassword' | translate}}
    </button>
  </div>
</div>
