@import "~src/styles/colors";
@import "~src/styles/font-weights";
@import "~src/styles/icons";
@import "notes-fonts.component";

.note-widget {
  width: 100%;

  .title {
    color: $text-title;
    font-size: 16px;
    font-weight: $Medium;
    padding-bottom: 12px;
    display: flex;
    justify-content: space-between;

    ::ng-deep .mat-form-field-infix {
      display: block;
      position: relative;
      flex: auto;
      padding: 0;
      border-top: 0px solid transparent !important;
    }

    .title-icon {
      width: 20px;
      cursor: pointer;
      margin-left: 1em;
    }

    .note-search {
      display: flex;
      align-items: flex-end;
      font-size: 14px;
    }
  }

  .card-title {
    color: $text-title;
    font-size: 16px;
    font-weight: $Medium;
  }

  .scroll {
    overflow-y: auto;
    height: calc(100% - 36px);
  }

  .content {
    .text {
      width: calc(100% - 46px);
      position: relative;

      .action {
        position: absolute;
        height: 100%;
        right: 0;
        top: 0;
      }

      .action > button {
        height: 100%;
      }
    }

    .text .card-title {
      font-weight: $Medium;
      color: $text-secondary;
      font-size: 11px;
      padding-top: 2px;
    }

    .text .description {
      font-weight: $Bold;
      color: $text-title;
      font-size: 13px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      min-width: 150px;
      max-width: 500px;
    }

    .text .description .separator {
      padding: 0 3px;
    }

    .element {
      margin-bottom: 16px;
      .element-body{
        width: 95%;
      }
    }

  }
}

.text-area:focus {
  background-color: $bg-primary;
  border-color: $border-primary;
  color: $text-title;
}

.text-area {
  background-color: $bg-primary;
  border-color: $border-secondary;
  overflow-y: hidden;
  box-shadow: none;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  height: auto;
}

.notes-buttons {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 40px;
}

.ok-button:hover {
  background: $bg-secondary;
}

.cancel-button:hover {
  background: $bg-secondary;
}

.extension-panel {
  box-shadow: none;
  margin: 0;
}

.note-header {
  display: flex;
  align-items: center;
  justify-items: flex-start;
}

::ng-deep .note-no-margin .mat-form-field-wrapper {
  margin-bottom: -1.25em;
}

.pr-16 {
  padding-right: 16px;
}

.description .preview-note-text {
  border-width: 0 0 1px 0;
  padding: 0;
  border-radius: 0;
  padding-bottom: 10px;
}

::ng-deep .description .ql-editor {
  padding: 0;
}

::ng-deep.text-area .ql-container {
  border: 0;
  padding: 0;
}

::ng-deep .ql-editor strong{
  font-weight: $Bold;
}

.notes {
  ::ng-deep .title .form-inline.float-left {
    width: 100%;
    justify-content: space-between;

    form {
      margin-left: 1em;
    }

    .title-icon {
      margin-left: 0.8em !important;

      &[svgicon="search"] svg {
        height: 14px;
        width: 14px;
      }

      &[svgicon="plus-circle"] svg {
        height: 22px;
        width: 22px;
      }
    }
  }
}

::ng-deep .notes .note-widget {
  height: calc(100%);
  overflow-y: auto;

  .separator {
    padding: 0 3px;
  }

  .preview-note-text .ql-editor {
    font-family: "Poppins";
    font-weight: $Medium;
  }
}
