@import "~src/styles/colors.scss";
@import "~src/styles/font-weights.scss";

.active-note-text {
   color: $text-title;
   font-size: 13px;
   font-weight: $Medium;
   letter-spacing: 0;
   line-height: 24px;
 }

.preview-note-text {
  color: $action-color;
  font-size: 13px;
  font-weight: $Regular;
  letter-spacing: 0;
  line-height: 24px;
}


.note-date-text {
  color: $text-secondary;
  font-size: 12px;
  font-weight: $Medium;
  letter-spacing: 0;
  line-height: 18px;
}

.note-preview-text {
  color: $text-title;
  font-size: 13px;
  font-weight: $Regular;
  letter-spacing: 0;
  line-height: 21px;
}
