<div class="note-widget">
  <div class="title">
    {{ "widgets.notes.title" | translate }}
    <span class="form-inline float-left">
    <form [formGroup]="searchTextForm">
      <div *ngIf="!searchBool">
        <mat-form-field class="w-70  note-no-margin pr-16"
                        floatLabel="never">
          <mat-select panelClass="dropdown-w-100" [disableRipple]="true" [disableOptionCentering]="true"
                      formControlName="sortBy"
                      [value]="'user'">
            <mat-option *ngFor="let type of filteredTypes" [value]="type">
              {{'widgets.notes.sort.' + type | translate}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w-70   note-no-margin"
                        floatLabel="never"
                        *ngIf="sortBy.value==='user'">
          <mat-placeholder
            *ngIf="createdBy.value.length === 0">{{'widgets.notes.sort.placeholder.user'| translate}}</mat-placeholder>
          <mat-select panelClass="dropdown-w-100" [disableRipple]="true" [disableOptionCentering]="true"
                      formControlName="createdBy"
                      [value]="'user'">
            <mat-option *ngFor="let user of userMap | keyvalue"
                        [value]="user.key">
              {{user.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-form-field class="w-100 pl-1 note-no-margin" floatLabel="never" *ngIf="searchBool">
    <span class="inline">
      <input matInput
             [placeholder]="searchText.value.length===0?('widgets.notes.sort.placeholder.search'|translate) : null"
             formControlName="searchText">
      <mat-spinner *ngIf="false" [diameter]="16"></mat-spinner>
    </span>
      </mat-form-field>

    </form>
    <span class="pull-right">
      <app-icon
        class="title-icon"
        svgIcon="search"
        (click)="showSearchForm($event)"
        appTooltip="SEARCH"
        size="18px"></app-icon>
       <app-icon
         *ngIf="(authKey + 'add' | auth:'w':false)"
         class="title-icon"
         svgIcon="plus-circle"
         (click)="openAddDialog()"
         appTooltip="ADD"
         size="20px"></app-icon>
    </span>
</span>
  </div>

  <div class="scroll" *ngIf="(authKey + 'view' | auth:'i':true)">
    <div class="content" *ngIf="notes">

      <div class="element pt-1 pb-1 form-inline"
           *ngFor="let note of notes | noteFilter:sortBy.value:createdBy.value:searchText.value">
        <div class="element-body text ml-2">
          <div class="card-title">
            {{note.created | formatDate}}
            <span class="separator">|</span>
            {{note.created | formatTime}}
            <span class="separator">|</span>
            {{'files.list.addedBy' | translate}}: {{userMap?.get(note.createdBy)}}
            <div class="action">
              <app-icon
                svgIcon="edit"
                size="20px"
                style="position: relative;"
                (click)="$event.stopPropagation(); openEditDialog(note)"
                *ngIf="'CalendarComponent.removeTask' | auth:'w'"></app-icon>
              <app-icon
                svgIcon="trash"
                size="20px"
                style="position: relative;"
                (click)="$event.stopPropagation(); tryDeleteNote(note)"
                *ngIf="'CalendarComponent.removeTask' | auth:'w'"></app-icon>
            </div>
          </div>
          <div class="description">
            <quill-editor
              [(ngModel)]="note.formattedContent"
              [readOnly]="true"
              format="html"
              class="form-control text-area preview-note-text"
              [modules]="editorConfig">
            </quill-editor>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
