@import "~src/styles/slider";
@import "~src/styles/form";
@import "~src/styles/colors";
@import "~src/styles/font-weights";

.button-container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: $bg-secondary;
}

.form-container {
  padding: 10px;
}

.all-line-input > .mat-form-field {
  width: 100%;
}

.half-line-input {
  width: 45%;
}

.codes-line {
  display: flex;
  justify-content: space-between;
}

::ng-deep .category-option .mat-option-pseudo-checkbox {
  order: 2;
}

::ng-deep .category-option.mat-selected {
  @extend .category-option-selected-text
}

.category-option-text {
  text-align: left;
  font: $Medium 13px/20px Poppins;
  letter-spacing: 0;
  color: $action-color;
  opacity: 1;
}

.category-option-selected-text {
  font: $Medium 13px/20px Poppins !important;
  color: $text-title !important;;
}

.without-category-text {
  text-align: left;
  font: $Medium 13px/20px Poppins;
  letter-spacing: 0;
  color: $text-secondary;
  opacity: 1;
}

.dropdown-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: sticky;
  bottom: 0;
  background: $bg-primary;
  height: 40px;
  padding-left: 16px;
}

.add-new-category-text {
  font-size: 12px;
  font-weight: $Medium;
  color: $primary;
}

.category-header-text {
  text-align: left;
  font: $Medium 10px/16px Poppins !important;
  letter-spacing: 1.2px;
  color: $primary;
  text-transform: uppercase;
  opacity: 1;
}

::ng-deep .category-header .mat-optgroup-label {
  display: flex;
  align-items: center;
  margin: 0;
  @extend .category-header-text
}

.search-icon {
  position: absolute;
  right: 5px;
}
