<div class="w-100 h-100 card-padding">
  <mat-card
    class="mat-elevation-z0 main-mat-card mat-card card-border-radius no-bottom-border-radius"
  >
    <form [formGroup]="productForm" class="h-100 form-container">
      <div class="all-line-input">
        <mat-form-field>
          <input formControlName="name" matInput />
          <mat-placeholder class="placeholder">{{
            "opportunity.details.products.manualAdd.name" | translate
          }}</mat-placeholder>
          <mat-error *ngIf="name.hasError('required')">
            {{
              "opportunity.details.products.manualAdd.fieldRequired" | translate
            }}
          </mat-error>
          <mat-error *ngIf="name.hasError('whitespace')">
            {{ "sharedValidators.whitespace" | translate }}
          </mat-error>
          <mat-error *ngIf="name.hasError('maxlength')">
            {{ "sharedValidators.valueTooLong" | translate }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="codes-line">
        <mat-form-field class="half-line-input">
          <input formControlName="code" matInput />
          <mat-placeholder class="placeholder">{{
            "opportunity.details.products.manualAdd.code" | translate
          }}</mat-placeholder>
          <mat-error *ngIf="code.hasError('required')">
            {{
              "opportunity.details.products.manualAdd.fieldRequired" | translate
            }}
          </mat-error>
          <mat-error *ngIf="code.hasError('whitespace')">
            {{ "sharedValidators.whitespace" | translate }}
          </mat-error>
          <mat-error *ngIf="code.hasError('maxlength')">
            {{ "sharedValidators.valueTooLong" | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="half-line-input">
          <input formControlName="skuCode" matInput />
          <mat-placeholder class="placeholder">{{
            "opportunity.details.products.manualAdd.skuCode" | translate
          }}</mat-placeholder>
          <mat-error *ngIf="skuCode.hasError('required')">
            {{
              "opportunity.details.products.manualAdd.fieldRequired" | translate
            }}
          </mat-error>
          <mat-error *ngIf="skuCode.hasError('whitespace')">
            {{ "sharedValidators.whitespace" | translate }}
          </mat-error>
          <mat-error *ngIf="skuCode.hasError('maxlength')">
            {{ "sharedValidators.valueTooLong" | translate }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="all-line-input">
        <mat-form-field>
          <mat-select
            formControlName="categoryIds"
            multiple
            #categorySelect
            (closed)="getSubcategories()"
          >
            <mat-option
              #noCategoryOption
              class="category-option without-category-text"
              [value]="undefinedCategoryId"
              (onSelectionChange)="onNoCategorySelect(noCategoryOption)"
            >
              {{ "products.form.withoutCategory" | translate }}
            </mat-option>
            <mat-option
              *ngFor="let category of allProductCategories"
              #categoryOption
              class="category-option category-option-text"
              [value]="category.id"
            >
              {{ category?.name }}
            </mat-option>
            <div
              class="dropdown-footer"
              *ngIf="'ProductListComponent.editCategory' | auth: 'w'"
            >
              <app-icon svgIcon="plus" [primary]="true"></app-icon>
              <div
                class="add-new-category-text clickable"
                (click)="addCategory(categorySelect)"
              >
                {{ "products.form.addNewCategory" | translate }}
              </div>
            </div>
          </mat-select>
          <mat-placeholder class="placeholder">{{
            "opportunity.details.products.manualAdd.category" | translate
          }}</mat-placeholder>
        </mat-form-field>
      </div>

      <div class="all-line-input">
        <mat-form-field>
          <mat-select
            formControlName="subcategoryIds"
            multiple
            #subcategorySelect
          >
            <mat-option
              #noSubcategoryOption
              class="category-option without-category-text"
              [value]="undefinedCategoryId"
              (onSelectionChange)="onNoSubcategorySelect(noSubcategoryOption)"
            >
              {{ "products.form.withoutSubcategory" | translate }}</mat-option
            >
            <mat-optgroup
              class="category-header"
              *ngFor="let category of productCategoriesWithSubcategories"
              [label]="category.name"
            >
              <ng-container *ngFor="let subcategory of category.subcategories">
                <mat-option
                  *ngIf="!subcategory.initial"
                  [value]="subcategory.id"
                  class="category-option category-option-text"
                >
                  <div class="ml-3">{{ subcategory.name }}</div>
                </mat-option>
              </ng-container>
            </mat-optgroup>

            <div
              class="dropdown-footer"
              *ngIf="'ProductListComponent.editCategory' | auth: 'w'"
            >
              <app-icon svgIcon="plus" [primary]="true"></app-icon>
              <div
                class="add-new-category-text clickable"
                (click)="addSubcategory(subcategorySelect)"
              >
                {{ "products.form.addNewSubcategory" | translate }}
              </div>
            </div>
          </mat-select>
          <mat-placeholder class="placeholder">{{
            "opportunity.details.products.manualAdd.subcategory" | translate
          }}</mat-placeholder>
        </mat-form-field>
      </div>

      <div
        class="all-line-input"
        *ngIf="'OpportunityProductsCard.manufacturer' | auth: 'i':true"
      >
        <mat-form-field>
          <mat-label>{{
            "opportunity.details.products.manualAdd.manufacturer" | translate
          }}</mat-label>
          <span class="inline">
            <input
              matInput
              [placeholder]="
                'opportunity.details.products.manualAdd.writeCharToSearch'
                  | translate
              "
              (keyup.arrowDown)="manufacturerSearch.showPanel = true"
              formControlName="manufacturerSearch"
              [matAutocomplete]="manufacturerSearch"
            />
            <app-icon
              svgIcon="search"
              [hover]="false"
              [pointer]="false"
              size="16px"
              class="pr-1"
            ></app-icon>
          </span>
          <mat-autocomplete
            #manufacturerSearch="matAutocomplete"
            (optionSelected)="manufacturerSelect($event.option.value)"
          >
            <mat-option
              *ngFor="let object of filteredManufacturers"
              [value]="object"
              class="single-line-option"
            >
              <div class="search-result-text">{{ object.label }}</div>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div
        class="all-line-input"
        *ngIf="'OpportunityProductsCard.supplier' | auth: 'i':true"
      >
        <mat-form-field>
          <mat-label>{{
            "opportunity.details.products.manualAdd.supplier" | translate
          }}</mat-label>
          <span class="inline">
            <input
              matInput
              [placeholder]="
                'opportunity.details.products.manualAdd.writeCharToSearch'
                  | translate
              "
              (keyup.arrowDown)="supplierSearch.showPanel = true"
              formControlName="supplierSearch"
              [matAutocomplete]="supplierSearch"
            />
            <app-icon
              svgIcon="search"
              [hover]="false"
              [pointer]="false"
              size="16px"
              class="pr-1"
            ></app-icon>
          </span>
          <mat-autocomplete
            #supplierSearch="matAutocomplete"
            (optionSelected)="supplierSelect($event.option.value)"
          >
            <mat-option
              *ngFor="let object of filteredSuppliers"
              [value]="object"
              class="single-line-option"
            >
              <div class="search-result-text">{{ object.label }}</div>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="row mt-4">
        <mat-form-field class="col-sm-5">
          <mat-select formControlName="unit">
            <mat-option *ngFor="let unit of units" [value]="unit.id">{{
              unit.name
            }}</mat-option>
          </mat-select>
          <mat-placeholder class="placeholder">{{
            "opportunity.details.products.manualAdd.unit" | translate
          }}</mat-placeholder>
          <mat-error *ngIf="unit.hasError('required')">
            {{ "products.form.fieldRequired" | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="col-sm-4">
          <input
            formControlName="purchasePrice"
            matInput
            type="text"
            mask="separator.2"
            [validation]="false"
          />
          <mat-placeholder class="placeholder">{{
            "opportunity.details.products.manualAdd.purchasePrice" | translate
          }}</mat-placeholder>
          <mat-error *ngIf="purchasePrice.hasError('required')">
            {{
              "opportunity.details.products.manualAdd.fieldRequired" | translate
            }}
          </mat-error>
          <mat-error *ngIf="purchasePrice.hasError('min')">
            {{ "opportunity.details.products.manualAdd.minValue" | translate }}
          </mat-error>
          <mat-error *ngIf="purchasePrice.hasError('maxlength')">
            {{ "sharedValidators.valueTooLong" | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="currency-input col-sm-3">
          <input formControlName="currency" matInput />
          <mat-placeholder class="placeholder">{{
            "opportunity.details.products.manualAdd.currency" | translate
          }}</mat-placeholder>
        </mat-form-field>
      </div>

      <div class="row">
        <div class="col-sm-5"></div>

        <mat-form-field class="col-sm-4">
          <input
            formControlName="sellPrice"
            matInput
            type="text"
            mask="separator.2"
            [validation]="false"
          />
          <mat-placeholder class="placeholder">{{
            "opportunity.details.products.manualAdd.sellPrice" | translate
          }}</mat-placeholder>
          <mat-error *ngIf="sellPrice.hasError('required')">
            {{
              "opportunity.details.products.manualAdd.fieldRequired" | translate
            }}
          </mat-error>
          <mat-error *ngIf="sellPrice.hasError('min')">
            {{ "opportunity.details.products.manualAdd.minValue" | translate }}
          </mat-error>
          <mat-error *ngIf="sellPrice.hasError('maxlength')">
            {{ "sharedValidators.valueTooLong" | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="currency-input col-sm-3">
          <input formControlName="currency" matInput />
          <mat-placeholder class="placeholder">{{
            "opportunity.details.products.manualAdd.currency" | translate
          }}</mat-placeholder>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="quantity-input">
          <input formControlName="quantity" matInput type="number" />
          <mat-placeholder class="placeholder">{{
            "opportunity.details.products.manualAdd.quantity" | translate
          }}</mat-placeholder>
          <mat-error *ngIf="quantity.hasError('required')">
            {{
              "opportunity.details.products.manualAdd.fieldRequired" | translate
            }}
          </mat-error>
          <mat-error *ngIf="quantity.hasError('min')">
            {{ "opportunity.details.products.manualAdd.minValue" | translate }}
          </mat-error>
          <mat-error *ngIf="quantity.hasError('max')">
            {{ "sharedValidators.valueTooLong" | translate }}
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </mat-card>

  <div class="button-container">
    <mat-card class="mat-elevation-z0 card-border-radius no-top-border-radius">
      <div class="row">
        <div class="col-md-12">
          <div class="pull-right">
            <button
              (click)="closeSlider()"
              class="button-medium"
              color="primary"
              mat-stroked-button
            >
              {{ "opportunity.details.products.manualAdd.cancel" | translate }}
            </button>
            <button
              (click)="submit()"
              class="button-medium ml-2"
              color="primary"
              mat-raised-button
            >
              {{ "opportunity.details.products.manualAdd.add" | translate }}
            </button>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>

<app-slider
  #addProductCategorySlider
  [title]="'products.form.addCategory.title' | translate"
  [closeByCross]="false"
  key="ProductForm.AddCategorySlider"
  width="30vw"
>
  <app-add-product-category
    [selectedCategoriesIds]="getSelectedCategoryIds()"
    (onSubmitClick)="onSubmitAddCategorySlider($event)"
    (onCancelClick)="onCancelAddCategorySlider()"
  ></app-add-product-category>
</app-slider>

<app-slider
  #addProductSubcategorySlider
  [title]="'products.form.addSubcategory.title' | translate"
  [closeByCross]="false"
  key="ProductForm.AddSubcategorySlider"
  width="30vw"
>
  <app-add-product-subcategory
    [categoryIds]="getSelectedCategoryIds()"
    [subcategoryIds]="getSelectedSubcategoriesIds()"
    (onSubmitClick)="onSubmitAddSubcategorySlider($event)"
    (onCancelClick)="onCancelAddSubcategorySlider()"
  ></app-add-product-subcategory>
</app-slider>
