@import "~src/styles/colors.scss";
@import "~src/styles/font-weights";

::ng-deep .slider-background {
  width: 100vw;
  height: 100vh;
  top: 0;
}

::ng-deep .slider-background-default {
  position: fixed;
  left: 0;
  z-index: 9997;
}

.slider-pane {
  position: fixed;
  top: 0;
  height: 100vh;
  z-index: 9998 !important;
  background-color: $bg-secondary !important;
  min-width: 40%;
  margin-left: 100vw;
  transition: margin-left 0.5s ease-in-out;
  box-shadow: 0 0 1px 0 rgba($shadow-color-rgb, 0.06),
    0 1px 1px 0 rgba($shadow-color-rgb, 0.1);
}

.slider-animation {
  margin-left: 60vw;
  transition: margin-left 0.5s ease-in-out;
}

.hide-slider {
  display: none;
}

::ng-deep .slider-header {
  color: $text-title;
  font-size: 20px;
  font-weight: $Medium;
  line-height: 36px;
  padding-left: 1.5em;
}

.crossicon-font-size {
  font-size: 20px;
  color: $action-color;
}

.more-info {
  float: right;
  font-size: 10px;
  color: $primary;
  font-weight: $Medium;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin-top: 10px;
  cursor: pointer;

  img {
    margin-left: 15px;
    margin-top: -5px;
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
}

.slider-background-layer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
  height: 100% !important;
  margin-left: 0 !important;
  z-index: 9997;
  background: rgba($contrast-rgb, 0.32);
  opacity: 1;
}

.slider-background-layer.show {
  display: flex;
}
