@import "~src/styles/slider.scss";
@import "~src/styles/font-weights";

::ng-deep .customer-popover .tooltip {
  opacity: 1 !important;
}

::ng-deep .customer-popover-element.selected-as-popover {
  background-color: $bg-primary;
  position: absolute;
  left: 297px;
  width: 20px;
  top: 16px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid $border-secondary;
  transform: rotate(45deg);
  z-index: 9998;
}
::ng-deep .customer-popover-element.selected-as-popover-without-border {
  background-color: $bg-primary;
  position: absolute;
  left: 299px;
  width: 20px;
  top: 16px;
  height: 20px;
  content: '';
  border-radius: 4px;
  transform: rotate(45deg);
  z-index: 9998;
}

.customer-info-parent {
  font-size: 13px;
  font-weight: $Medium;
  background-color: $bg-primary;

  .separator {
    height: 4px;
    background-color: $bg-secondary;
    border-radius: 5px;
    margin: 10px -16px;
    width: calc(100% + 32px);
  }
  .scroll {
    height: 100%;
    overflow-y: auto;
    max-height: calc(100vh - 267px);
  }
  .scroll > * {
    width: calc(100% - 16px);
  }
}

.popover-width {
  width: 450px !important;
  position: fixed !important;
  max-height: calc(100vh - 65px) !important;
  top: 210px;
  z-index: 9997 !important;
  left: 425px;
}

.content-margin-top {
  margin-top: 1em;
}

.customer-info {
  display: flex;

  .avatar > img {
    width: 52px;
    height: 52px;
  }
  .gps-icon {
    height: 52px !important;
    text-align: right;
    padding-right: 16px;
    img {
      width: 24px !important;
      height: 24px !important;
    }
  }

  .content {
    position: relative;

    .content-row {
      color: $text-title;
    }

    .content-title {
      font-size: 16px !important;
      font-weight: $Bold !important;
    }

    .content-link {
      color: $primary !important;
    }

  }
}

.customer-info-opportunities {
  .opportunity-title {
    font-size: 10px;
    color: $text-secondary;
  }
  .view-all {
    font-size: 10px !important;
    color: $primary !important;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    text-align: right;
    margin-top: 15px;
    cursor: pointer;
  }

  .opportunity-content {
    .opportunity-row {
      margin-top: 10px;

      .title-link {
        color: $primary;
        margin-bottom: 5px;
        cursor: pointer;
      }

      .one-row {
        display: flex;

        .left {
          color: $text-secondary;
          text-align: right;
          width: 40%;
          padding-right: 10px;
        }

        .right {
          color: $text-title;
          width: 60%;
        }
      }
    }
  }
}
.customer-owner {
  .owner-title {
    color: $text-secondary !important;
    font-size: 10px !important;
    letter-spacing: 1.2px;
    text-transform: uppercase;
  }
  .owner-value {
    color: $text-title;
  }
}
