<div #parentContainer class="h-100 card-padding popover-width" *ngIf="_customerId && preview && ('RelatedCustomerInContactDetail.customerPreview' | auth:'i':true)">
  <mat-card class="customer-info-parent mat-elevation-z0 mat-card card-border-radius">
    <div #popoverElement class="scroll">
      <div>
        <div class="customer-info">
          <div class="avatar">
            <img src="assets/icons/customer_icon.svg" class="w-75"/>
          </div>
          <div class="content">
            <div class="content-row content-title">
              {{preview.name}}
            </div>
            <div class="content-row content-link">
              {{preview.website}}
            </div>
            <div class="content-row content-margin-top">
              {{preview.phone | phone}}
            </div>
          </div>
        </div>
        <div class="customer-info content-margin-top" *ngIf="preview.address">
          <div class="gps-icon avatar">
            <img src="assets/icons/gps-line-grey.svg" class="w-75"/>
          </div>
          <div class="content">
            <div class="content-row">
              {{preview.address?.street}}
            </div>
            <div class="content-row">
              {{preview.address?.zipCode}} {{preview.address?.city}}
            </div>
            <div class="content-row">
              {{preview.address?.country}}
            </div>
          </div>
        </div>
        <div class="separator"></div>
        <div class="customer-info-opportunities">
          <div class="opportunity-title">{{'contacts.customerPopover.opportunities' | translate}} ({{(preview?.previewOpportunityDtoList?.length > 2) ? '2+' : preview?.previewOpportunityDtoList?.length}})</div>
          <div class="opportunity-content"
               *ngIf="preview && preview.previewOpportunityDtoList && preview.firstTwoOpportunities">
            <div class="opportunity-row"
                 *ngFor="let opportunity of (fullView) ? preview.previewOpportunityDtoList : preview.firstTwoOpportunities">
              <div class="title-link" (click)="openOpportunity(opportunity.id)">{{opportunity.name}}</div>
              <div class="one-row">
                <div class="left">{{'contacts.customerPopover.task' | translate}}</div>
                <div class="right">{{opportunity.currentTask || '-'}}</div>
              </div>
              <div class="one-row">
                <div class="left">{{'contacts.customerPopover.amount' | translate}}</div>
                <div
                  class="right">{{(opportunity.amount) ? (opportunity.amount | formatCurrency:opportunity.currency) : '-'}}</div>
              </div>
              <div class="one-row">
                <div class="left">{{'contacts.customerPopover.finishDate' | translate}}</div>
                <div class="right">{{(opportunity.finishDate) ? (opportunity.finishDate | formatDate:true) : '-'}}</div>
              </div>
            </div>
          </div>
          <div class="view-all" (click)="$event.stopPropagation(); fullView = true;"
               *ngIf="!fullView && preview.previewOpportunityDtoList && preview.previewOpportunityDtoList.length > 2">
            {{'contacts.customerPopover.showAll' | translate}} ({{preview.previewOpportunityDtoList.length}})
          </div>
        </div>
        <div class="separator"></div>
        <div class="customer-owner">
          <div class="owner-title">{{'contacts.customerPopover.owner' | translate}}</div>
          <div class="owner-value">{{preview.ownerName || '-'}}</div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
