<div class="w-100 h-100 card-padding">
  <app-task-form [initAssociation]="initAssociation" (activityTypeChanged)="activityTypeChanged($event)"></app-task-form>

  <div class="button-container">
    <mat-card class="mat-elevation-z0 card-border-radius no-top-border-radius">
      <div class="row">
        <div class="col-md-12">
          <span>
            <button mat-raised-button class="button-medium remove-task-button" color="primary"
                    (click)="tryRemoveTask()" *ngIf="'CalendarComponent.removeTask' | auth:'w'">{{removeTaskKey | translate}}</button>
          </span>
          <span class="pull-right">
            <button mat-stroked-button class="button-medium" color="primary"
                    (click)="closeSlider()">{{'calendar.form.cancel' | translate}}</button>
            <button mat-raised-button class="button-medium ml-2" color="primary" (click)="submit()">
              {{'calendar.form.edit' | translate}}</button>
          </span>
        </div>
      </div>
    </mat-card>
  </div>
</div>
