@import "~src/styles/form";
@import "~src/styles/colors";
@import "~src/styles/font-weights";
@import "~src/styles/icons";

$primary-text: $text-title;

$min-column: 400px;
$min-row: 200px;

.outer-container {
  height: calc(100vh - 90px);
  .inner-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    .cards-container {
      display: flex;
      height: 100%;
      overflow: auto;

      ::ng-deep .mat-card {
        box-shadow: 0 0 1px 0 rgba(var(--shadow-color-rgb),.06),0 1px 1px 0 rgba(var(--shadow-color-rgb),.1)!important;
      }

      .cards-wrapper {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, minmax($min-column, 1fr));
        grid-template-rows: repeat(4, minmax($min-row, 1fr));
        grid-gap: 16px;
        padding: 16px;

        .main-area {
          grid-area: 1 / 1 / 1 / 3;
        }

        .notes-area {
          grid-area: 4 / 1 / 4 / 2;
        }

        .files-area {
          grid-area: 4 / 2 / 4 / 3;
        }

        .tabs-area {
          grid-area: 1 / 3 / 5 / 4;
        }

        .mail-area {
          grid-area: 2 / 1 / 4 / 3;

          .mail {
            height: 100%;
            box-shadow: 0 0 1px 0 rgba(var(--shadow-color-rgb),.06),0 1px 1px 0 rgba(var(--shadow-color-rgb),.1)!important;

            .mail-container {
              display: flex;
              height: 100%;
            }
          }

          ::ng-deep .email-list-tab {
            border-right: 2px solid $border-tertiary;
          }

          ::ng-deep .email-select-tab,
          ::ng-deep .email-list-tab,
          ::ng-deep .no-data-text {
            width: 50%;
          }
        }

        .main.card-container {
          height: 100%;
          width: 100%;

          .main-action-container {
            width: 100%;
            height: 20px;

          }

          .main-body-container {
            width: 100%;
            height: 100%;
            overflow: auto;
            justify-content: space-between;

            .actions {
              position: -webkit-sticky; /* Safari */
              position: sticky;
              top: 0;
              float: right;

              ::ng-deep .icon {
                margin-right: 8px;
              }
            }

            mat-form-field {
              width: 90%;
            }
            .contact-title{
              text-align: center;
              margin-left: 49px;
              margin-bottom: 20px;
              width: 80px;
            }
            ::ng-deep .contact-title{
              color: $primary !important;
            }
            .avatar {
              height: fit-content;
              align-self: center;
              padding-left: 49px;

              ::ng-deep .social-media-icon img {
                height: 18px;
                width: 18px;
              }
            }
          }
        }
      }
    }
  }
}

.card-container {
  box-shadow: 0 0 1px 0 rgba(10, 22, 70, 0.06),
  0 1px 1px 0 rgba(10, 22, 70, 0.1) !important;
  border-radius: 8px !important;
  height: 100%;
  &.tabs {
    padding: 8px 0 16px;
  }
}
