<div class="outer-container" *ngIf="contact">
  <div class="inner-container">
    <div class="cards-container" *ngIf="!documentsVisible">
      <div class="cards-wrapper">
        <div class="main-area">
          <ng-container [ngTemplateOutlet]="main"></ng-container>
        </div>
        <div class="mail-area">
          <ng-container [ngTemplateOutlet]="mail"></ng-container>
        </div>

          <div class="notes-area">
            <ng-container [ngTemplateOutlet]="notes"></ng-container>
          </div>
          <div class="files-area">
            <ng-container [ngTemplateOutlet]="files"></ng-container>
          </div>
          <div class="tabs-area">
            <ng-container [ngTemplateOutlet]="tabs"></ng-container>
          </div>
      </div>

    </div>
  </div>
</div>

<ng-template #main>
  <mat-card class="main card-container" [formGroup]="contactForm">

    <div class="main-body-container row">
      <div class="col-2">
        <div class="contact-title">
          {{ "contacts.details.contact" | translate }}
        </div>
        <div class="avatar" *ngIf="'ContactDetailsComponent.image' | auth:'i':true">
          <app-avatar-icon
            [text]="((contact?.name || '') +' ' +(contact?.surname || '')).trim()"
            [imageSrc]="contact?.avatar"
            color="#f27b9f"
            widthPx="80">
          </app-avatar-icon>
          <app-social-media
            [socialMedia]="socialMedia">
          </app-social-media>
        </div>
      </div>
      <div class="col-10">
        <div class="row">
          <div class="col-10">
            <div class="row">
              <div class="col-4">
                <mat-form-field *ngIf="'ContactDetailsComponent.name' | auth:'i':true">
                  <input
                    formControlName="name"
                    matInput
                    required
                    (focusin)="formControlFocusIn('name')"
                    (focusout)="formControlFocusOut()"
                    (keyup.escape)="formControlEsc()"/>
                  <mat-placeholder class="placeholder">
                    {{ "contacts.form.name" | translate }}
                  </mat-placeholder>
                  <mat-error *ngIf="name.hasError('required')">
                    {{ "contacts.form.nameRequired" | translate }}
                  </mat-error>
                  <mat-error *ngIf="name.hasError('maxlength')">
                    {{ "contacts.form.maxLength" | translate }}
                  </mat-error>
                  <mat-error *ngIf="name.hasError('whitespace')">
                    {{ "sharedValidators.whitespace" | translate }}
                  </mat-error>
                </mat-form-field>
                <mat-form-field *ngIf="'ContactDetailsComponent.name' | auth:'i':true">
                  <input
                    formControlName="surname"
                    matInput
                    required
                    (focusin)="formControlFocusIn('surname')"
                    (focusout)="formControlFocusOut()"
                    (keyup.escape)="formControlEsc()"/>
                  <mat-placeholder class="placeholder">
                    {{ "contacts.form.surname" | translate }}
                  </mat-placeholder>
                  <mat-error *ngIf="surname.hasError('required')">
                    {{ "contacts.form.surnameRequired" | translate }}
                  </mat-error>
                  <mat-error *ngIf="surname.hasError('maxlength')">
                    {{ "contacts.form.maxLength" | translate }}
                  </mat-error>
                  <mat-error *ngIf="surname.hasError('whitespace')">
                    {{ "sharedValidators.whitespace" | translate }}
                  </mat-error>
                </mat-form-field>
                <mat-form-field *ngIf="'ContactDetailsComponent.position' | auth:'i':true">
                  <input
                    formControlName="position"
                    matInput
                    required
                    (focusin)="formControlFocusIn('position')"
                    (focusout)="formControlFocusOut()"
                    (keyup.escape)="formControlEsc()"/>
                  <mat-placeholder class="placeholder">
                    {{ "contacts.form.position" | translate }}
                  </mat-placeholder>
                  <mat-error *ngIf="position.hasError('maxlength')">
                    {{ "contacts.form.maxLength" | translate }}
                  </mat-error>
                  <mat-error *ngIf="position.hasError('required')">
                    {{ "contacts.form.fieldRequired" | translate }}
                  </mat-error>
                  <mat-error *ngIf="position.hasError('whitespace')">
                    {{ "sharedValidators.whitespace" | translate }}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-4">
                <mat-form-field *ngIf="'ContactDetailsComponent.email' | auth:'i':true">
                  <input
                    formControlName="email"
                    matInput
                    (focusin)="formControlFocusIn('email')"
                    (focusout)="formControlFocusOut()"
                    (keyup.escape)="formControlEsc()"/>
                  <mat-placeholder class="placeholder">
                    {{ "contacts.form.email" | translate }}
                  </mat-placeholder>
                  <mat-error *ngIf="email.hasError('email')">
                    {{ "contacts.form.emailInvalid" | translate }}
                  </mat-error>
                  <mat-error *ngIf="email.hasError('maxlength')">
                    {{ "contacts.form.maxLength" | translate }}
                  </mat-error>
                </mat-form-field>
                <mat-form-field *ngIf="'ContactDetailsComponent.owner' | auth:'i':true">
                  <mat-select
                    formControlName="owner"
                    (opened)="formControlFocusIn('owner')"
                    (valueChange)="formControlFocusOut($event)"
                    [disableRipple]="true"
                    [disableOptionCentering]="true"
                    panelClass="dropdown-w-100">
                    <mat-option
                      *ngFor="let user of userMap | keyvalue"
                      [value]="user.key">
                      {{ user?.value }}
                    </mat-option>
                  </mat-select>
                  <mat-placeholder class="placeholder">
                    {{ "contacts.form.contactOwner" | translate }}
                  </mat-placeholder>
                  <mat-error *ngIf="owner.hasError('required')">
                    {{ "customer.form.ownerRequired" | translate }}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-4">
                <mat-form-field *ngIf="'ContactDetailsComponent.phone' | auth:'i':true">
                  <input
                    formControlName="phone"
                    [mask]="phoneService.getPhoneInputMask(phone.value)"
                    type="tel"
                    matInput
                    tabIndex="105"
                    (focusin)="formControlFocusIn('phone')"
                    (focusout)="formControlFocusOut()"
                    (keyup.escape)="formControlEsc()"/>
                  <app-icon
                    [matMenuTriggerFor]="typeMenu.menu"
                    matSuffix
                    svgIcon="plus"
                    [hover]="false"
                    size="18px">
                  </app-icon>
                  <mat-placeholder class="placeholder">
                    {{ "contacts.form.phone" | translate }}
                  </mat-placeholder>
                  <mat-error *ngIf="phone.hasError('maxlength') || phone.hasError('minlength')">
                    {{ "contacts.form.phoneInvalid" | translate }}
                  </mat-error>
                </mat-form-field>
                <app-phone-type-menu #typeMenu
                                     (selectType)="phoneFields.addPhone($event)">
                </app-phone-type-menu>
                <app-phone-fields #phoneFields
                                  formControlName="additionalPhones"
                                  (focusOut)="formControlFocusOutAdditionalPhones()"
                                  (focusIn)="formControlFocusIn('additionalPhones')">
                </app-phone-fields>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="actions" *ngIf="'ContactListComponent.remove' | auth:'w'">
              <div class="main-action" *ngIf="!showActionButtons">
                <app-icon svgIcon="edit" size="20px" (click)="edit(contact.id)">
                </app-icon>
                <app-icon svgIcon="trash" size="20px" (click)="tryDelete(contact.id)">
                </app-icon>
                <app-icon [class.rotating-icon]="loading" svgIcon="refresh" size="20px" [hover]="!loading"
                          (click)="refreshContact()">
                </app-icon>
              </div>
              <div class="main-action" *ngIf="showActionButtons">
                <app-icon svgIcon="check" size="20px" (click)="saveDetailsChanges()"
                          [disabled]="contactForm.invalid && contactForm.touched">
                </app-icon>
                <app-icon svgIcon="cross" size="20px" (click)="discardDetailsChanges()">
                </app-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</ng-template>

<ng-template #mail>
  <mat-card class="mail card-container">
    <app-email-extend-tab
      [crmObject]="crmObject"
      [emailExpandLabel]="contact?.name"
      [separatePreview]="true"
      class="mail-container">
    </app-email-extend-tab>
  </mat-card>
</ng-template>

<ng-template #notes>
  <mat-card class="notes card-container">
    <app-notes
      [objectTypeAndId]="{
        objectId: crmObject.id,
        objectType: crmObject.type}"
      [userMap]="userMap">
    </app-notes>
  </mat-card>
</ng-template>

<ng-template #files>
  <mat-card class="files card-container">
    <app-file
      objectType="contact"
      [objectId]="contactId">
    </app-file>
  </mat-card>
</ng-template>

<ng-template #tabs>
  <mat-card class="tabs card-container">
    <app-contact-tabs
      [contact]="contact"
      [contactId]="contactId"
      [contactChangedSubscription]="contactChangedSubscription"
      [objectType]="contact">
    </app-contact-tabs>
  </mat-card>
</ng-template>

<app-slider
  #editSlider
  width="33vw"
  [title]="'contacts.form.editTitle' | translate"
  key="ContactsList.EditSlider"
  group="sharedCustomerForm">
  <app-contact-edit
    (contactEdited)="handleContactEdited()"
    [contact]="contact">
  </app-contact-edit>
</app-slider>
