<div class="tooltip-container">
  <div class="close close-icon" (click)="close()"></div>
  <div class="title">
    <div class="title-icon light-bulb light-bulb-yellow"></div>
    <div class="title-text">{{'taskTooltip.title' | translate}}</div>
  </div>
  <div class="content" [innerHTML]="taskTooltipData.content"></div>
</div>
