@import '~src/styles/colors';
@import "~src/styles/font-weights";
@import "~src/styles/icons";

.tooltip-container {
  position: relative;
  max-width: 385px;
  padding: 32px;
  background: #FFF;
  box-shadow: 0 6px 12px #0A1E4440;
}

.tooltip-container .close {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 14px;
  right: 14px;
}

.tooltip-container .title {
}

.tooltip-container .title-text {
  display: inline-block;
  position: relative;
  top: -2px;
  margin-left: 10px;
  color: #FDC132;
  font: $Bold 16px/25px Poppins;
}

.tooltip-container .title-icon {
  //vertical-align: middle;
}

.tooltip-container .title .light-bulb {
  display: inline-block;
  padding: 0;
  width: 24px;
  height: 24px;
  background-size: contain;
}

.tooltip-container .content {
  color: #0A1E44;
  font: $Medium 10px/16px Poppins;
  margin-top: 24px;
  letter-spacing: 0;
}
