<form [formGroup]="conversionForm">
  <div class="card-container lead-to-opportunity">
    <mat-card
      class="main-card card-border-radius no-bottom-left-border-radius no-bottom-right-border-radius"
    >
      <div class="inner-container">
        <ng-container *ngIf="beforeConversion; else afterConversion">
          <mat-accordion [multi]="true" class="conversion-accordion">
            <mat-expansion-panel
              class="extension-panel crm-extension-panel"
              expanded="true"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="section-header-text">
                    {{ "leads.toOpportunity.customer.title" | translate }}
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="conversion-section-container">
                <div class="conversion-checkbox-row">
                  <div
                    class="checkbox-field"
                    *ngIf="'CustomerAddComponent.save' | auth: 'w'"
                  >
                    <mat-checkbox
                      formControlName="isNewCustomer"
                      [disableRipple]="true"
                      (change)="onNewCustomerCheckboxChange($event)"
                      class="crm-checkbox"
                      color="primary"
                    >
                    </mat-checkbox>
                    <span class="checkbox-text">{{
                      "leads.toOpportunity.customer.createNew" | translate
                    }}</span>
                  </div>
                  <div class="checkbox-field">
                    <mat-checkbox
                      formControlName="isExistingCustomer"
                      [disableRipple]="true"
                      (change)="onExistingCustomerChange($event)"
                      class="crm-checkbox"
                      color="primary"
                    >
                    </mat-checkbox>
                    <span class="checkbox-text">{{
                      "leads.toOpportunity.customer.selectExisting" | translate
                    }}</span>
                  </div>
                </div>
                <div
                  *ngIf="
                  !isExistingCustomerControl.value && ('CustomerAddComponent.save'| auth: 'w') ;
                    else existingCustomer
                  "
                >
                  <div>
                    <mat-form-field>
                      <input
                        class="input-text"
                        (ngModelChange)="checkIfNipExistsInDb($event)"
                        mask="000-000-00-00"
                        matInput
                        formControlName="customerNip"
                      />
                      <mat-placeholder class="placeholder-text">
                        {{
                          "leads.toOpportunity.customer.nip" | translate
                        }}</mat-placeholder
                      >
                      <mat-error
                        *ngIf="customerNipControl.hasError('required')"
                      >
                        {{ "leads.toOpportunity.requiredField" | translate }}
                      </mat-error>
                      <mat-error
                        *ngIf="customerNipControl.hasError('Mask error')"
                      >
                        {{ "leads.afterConversion.wrongNip" | translate }}
                      </mat-error>
                      <mat-error
                        *ngIf="customerNipControl.hasError('nipExists')"
                      >
                        {{ "leads.afterConversion.nipExists" | translate }}
                      </mat-error>
                      <mat-error
                        *ngIf="customerNipControl.hasError('maxlength')"
                      >
                        {{ "sharedValidators.valueTooLong" | translate }}
                      </mat-error>
                      <span
                        class="import-from-gus conversion-gus"
                        (click)="getDataFromGUS($event)"
                      >
                        <app-icon
                          svgIcon="bottom-arrow-circle"
                          class="conversion-gus-icon"
                          size="20px"
                          [primary]="true"
                        ></app-icon>
                        {{ "customer.form.add.importFromGUS" | translate }}
                      </span>
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field>
                      <input
                        class="input-text"
                        matInput
                        formControlName="customerName"
                      />
                      <mat-hint>{{customerAddressControl?.value | formatAddress}}</mat-hint>
                      <mat-placeholder class="placeholder-text">
                        {{
                          "leads.toOpportunity.customer.name" | translate
                        }}</mat-placeholder
                      >
                      <mat-error
                        *ngIf="customerNameControl.hasError('required')"
                      >
                        {{ "leads.toOpportunity.requiredField" | translate }}
                      </mat-error>
                      <mat-error
                        *ngIf="customerNameControl.hasError('whitespace')"
                      >
                        {{ "sharedValidators.whitespace" | translate }}
                      </mat-error>
                      <mat-error
                        *ngIf="customerNameControl.hasError('maxlength')"
                      >
                        {{ "sharedValidators.valueTooLong" | translate }}
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <ng-template #existingCustomer>
                  <mat-form-field>
                    <mat-label>{{
                      "leads.toOpportunity.customer.search" | translate
                    }}</mat-label>
                    <span class="inline">
                      <input
                        matInput
                        (keyup.arrowDown)="customerSearch.showPanel = true"
                        [placeholder]="
                          'leads.toOpportunity.write3CharToSearch' | translate
                        "
                        formControlName="customerSearch"
                        [matAutocomplete]="customerSearch"
                      />
                      <app-icon
                        svgIcon="search"
                        size="16px"
                        [hover]="false"
                        [pointer]="false"
                      ></app-icon>
                    </span>
                    <mat-autocomplete #customerSearch="matAutocomplete">
                      <mat-option
                        *ngFor="let customer of foundCustomers"
                        [value]="customer.label"
                        [id]="customer.id"
                        class="single-line-option"
                        (onSelectionChange)="onCustomerSelect($event)"
                      >
                        <div class="search-result-text">
                          {{ customer.label }}
                        </div>
                      </mat-option>
                    </mat-autocomplete>
                    <mat-error
                      *ngIf="
                        customerSearchControl.hasError('required') ||
                        customerSearchControl.hasError('customCustomerValue')
                      "
                    >
                      {{ "leads.toOpportunity.requiredField" | translate }}
                    </mat-error>
                  </mat-form-field>
                </ng-template>
              </div>
            </mat-expansion-panel>

            <mat-expansion-panel
              class="extension-panel crm-extension-panel"
              expanded="true"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="section-header-text">
                    {{ "leads.toOpportunity.contact.title" | translate }}
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div class="conversion-section-container">
                <div class="conversion-checkbox-row">
                  <div
                    class="checkbox-field"
                    *ngIf="'ContactAddComponent.save' | auth: 'w'"
                  >
                    <mat-checkbox
                      formControlName="isNewContact"
                      [disableRipple]="true"
                      (change)="onNewContactCheckboxChange($event)"
                      class="crm-checkbox"
                      color="primary"
                    >
                    </mat-checkbox>
                    <span class="checkbox-text">{{
                      "leads.toOpportunity.contact.createNew" | translate
                    }}</span>
                  </div>
                  <div
                    class="checkbox-field"
                    *ngIf="'ContactAddComponent.save' | auth: 'w'"
                  >
                    <mat-checkbox
                      formControlName="isExistingContact"
                      [disableRipple]="true"
                      (change)="onExistingContactCheckboxChange($event)"
                      class="crm-checkbox"
                      color="primary"
                    >
                    </mat-checkbox>
                    <span class="checkbox-text">{{
                      "leads.toOpportunity.contact.selectExisting" | translate
                    }}</span>
                  </div>
                </div>

                <div 
                *ngIf="
                !isExistingContactControl.value && ('ContactAddComponent.save' | auth: 'w') ;
                  else existingContact
                "
>
                  <div>
                    <mat-form-field>
                      <input
                        class="input-text"
                        matInput
                        formControlName="contactName"
                      />
                      <mat-placeholder class="placeholder-text">
                        {{
                          "leads.toOpportunity.contact.name" | translate
                        }}</mat-placeholder
                      >
                      <mat-error
                        *ngIf="contactNameControl.hasError('required')"
                      >
                        {{ "leads.toOpportunity.requiredField" | translate }}
                      </mat-error>
                      <mat-error
                        *ngIf="contactNameControl.hasError('whitespace')"
                      >
                        {{ "sharedValidators.whitespace" | translate }}
                      </mat-error>
                      <mat-error
                        *ngIf="contactNameControl.hasError('maxlength')"
                      >
                        {{ "sharedValidators.valueTooLong" | translate }}
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field>
                      <input
                        class="input-text"
                        matInput
                        formControlName="contactSurname"
                      />
                      <mat-placeholder class="placeholder-text">
                        {{
                          "leads.toOpportunity.contact.surname" | translate
                        }}</mat-placeholder
                      >
                      <mat-error
                        *ngIf="contactSurnameControl.hasError('required')"
                      >
                        {{ "leads.toOpportunity.requiredField" | translate }}
                      </mat-error>
                      <mat-error
                        *ngIf="contactSurnameControl.hasError('whitespace')"
                      >
                        {{ "sharedValidators.whitespace" | translate }}
                      </mat-error>
                      <mat-error
                        *ngIf="contactSurnameControl.hasError('maxlength')"
                      >
                        {{ "sharedValidators.valueTooLong" | translate }}
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field>
                      <input
                        class="input-text"
                        matInput
                        formControlName="contactPosition"
                      />
                      <mat-placeholder class="placeholder-text">
                        {{
                          "leads.toOpportunity.contact.position" | translate
                        }}</mat-placeholder
                      >
                      <mat-error
                        *ngIf="contactPositionControl.hasError('required')"
                      >
                        {{ "leads.toOpportunity.requiredField" | translate }}
                      </mat-error>
                      <mat-error
                        *ngIf="contactPositionControl.hasError('whitespace')"
                      >
                        {{ "sharedValidators.whitespace" | translate }}
                      </mat-error>
                      <mat-error
                        *ngIf="contactPositionControl.hasError('maxlength')"
                      >
                        {{ "sharedValidators.valueTooLong" | translate }}
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <ng-template #existingContact>
                  <mat-form-field>
                    <mat-label>{{
                      "leads.toOpportunity.contact.search" | translate
                    }}</mat-label>
                    <span class="inline">
                      <input
                        matInput
                        (keyup.arrowDown)="contactSearch.showPanel = true"
                        [placeholder]="
                          'leads.toOpportunity.write3CharToSearch' | translate
                        "
                        formControlName="contactSearch"
                        [matAutocomplete]="contactSearch"
                      />
                      <app-icon
                        svgIcon="search"
                        size="16px"
                        [hover]="false"
                        [pointer]="false"
                      ></app-icon>
                    </span>
                    <mat-autocomplete #contactSearch="matAutocomplete">
                      <mat-option
                        *ngFor="let contact of filteredContacts"
                        [value]="contact.label"
                        [id]="contact.id"
                        class="single-line-option"
                        (onSelectionChange)="onContactSelect($event)"
                      >
                        <div class="search-result-text">
                          {{ contact.label }}
                        </div>
                      </mat-option>
                    </mat-autocomplete>
                    <mat-error
                      *ngIf="
                        contactSearchControl.hasError('required') ||
                        contactSearchControl.hasError('customContactValue')
                      "
                    >
                      {{ "leads.toOpportunity.requiredField" | translate }}
                    </mat-error>
                  </mat-form-field>
                </ng-template>
              </div>
            </mat-expansion-panel>

            <mat-expansion-panel
              class="extension-panel crm-extension-panel"
              expanded="true"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="section-header-text">
                    {{ "leads.toOpportunity.opportunity.title" | translate }}
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="field-margin-right">
                <div class="checkbox-field">
                  <mat-form-field>
                    <input
                      class="input-text"
                      matInput
                      formControlName="opportunityName"
                    />
                    <mat-placeholder class="placeholder-text">
                      {{
                        "leads.toOpportunity.opportunity.name" | translate
                      }}</mat-placeholder
                    >
                    <mat-error
                      *ngIf="opportunityNameControl.hasError('required')"
                    >
                      {{ "leads.toOpportunity.requiredField" | translate }}
                    </mat-error>
                    <mat-error
                      *ngIf="opportunityNameControl.hasError('whitespace')"
                    >
                      {{ "sharedValidators.whitespace" | translate }}
                    </mat-error>
                    <mat-error
                      *ngIf="opportunityNameControl.hasError('maxlength')"
                    >
                      {{ "sharedValidators.valueTooLong" | translate }}
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="conversion-column-container">
                <div>
                  <div>
                    <mat-form-field>
                      <mat-select
                        formControlName="opportunityProcessDefinitionId"
                      >
                        <mat-option
                          *ngFor="let process of processDefinitions"
                          [value]="process?.id"
                          >{{ process?.name }}
                          <span *ngIf="process?.version !== 1">
                            ({{
                              "leads.toOpportunity.processVersion" | translate
                            }}
                            {{ process?.version }})
                          </span>
                        </mat-option>
                      </mat-select>
                      <mat-placeholder class="placeholder-text">
                        {{
                          "leads.toOpportunity.opportunity.process" | translate
                        }}</mat-placeholder
                      >
                      <mat-error
                        *ngIf="opportunityProcessControl.hasError('required')"
                      >
                        {{ "leads.toOpportunity.requiredField" | translate }}
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field class="input-inactive">
                      <input
                        matInput
                        [value]="getProcessFirstTask()"
                        formControlName="opportunityStep"
                      />
                      <mat-placeholder class="placeholder-text">
                        {{
                          "leads.toOpportunity.opportunity.step" | translate
                        }}</mat-placeholder
                      >
                    </mat-form-field>
                  </div>

                  <div>
                    <mat-form-field>
                      <mat-select formControlName="opportunityOwner">
                        <mat-option
                          *ngFor="let user of accountEmails"
                          [value]="user?.id"
                          >{{ user?.name }} {{ user?.surname }}
                        </mat-option>
                      </mat-select>
                      <mat-placeholder class="placeholder-text">
                        {{
                          "leads.toOpportunity.opportunity.owner" | translate
                        }}
                      </mat-placeholder>
                    </mat-form-field>
                  </div>
                </div>
                <div>
                  <div>
                    <mat-form-field class="w-50">
                      <input
                        class="input-text"
                        matInput
                        mask="separator.2"
                        type="text"
                        [validation]="false"
                        formControlName="opportunityAmount"
                      />
                      <mat-placeholder class="placeholder-text">
                        {{
                          "leads.toOpportunity.opportunity.amount" | translate
                        }}</mat-placeholder
                      >
                    </mat-form-field>
                    <mat-form-field class="w-50 pl-2">
                      <mat-select formControlName="opportunityCurrency">
                        <mat-option
                          *ngFor="let currency of currencies"
                          [value]="currency"
                          >{{ currency | getCurrencySymbol }}</mat-option
                        >
                      </mat-select>
                      <mat-error
                        *ngIf="contactPositionControl.hasError('required')"
                      >
                        {{ "leads.toOpportunity.requiredField" | translate }}
                      </mat-error>
                      <mat-placeholder class="placeholder-text">
                        {{
                          "leads.toOpportunity.opportunity.currency" | translate
                        }}</mat-placeholder
                      >
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field>
                      <input
                        class="input-text"
                        [matDatepicker]="closingDatePicker"
                        matInput
                        formControlName="opportunityFinishDate"
                      />
                      <mat-placeholder class="placeholder-text">
                        {{
                          "leads.toOpportunity.opportunity.closingDate"
                            | translate
                        }}</mat-placeholder
                      >
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="closingDatePicker"
                        class="custom-calendar-icon"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #closingDatePicker></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </ng-container>

        <ng-template #afterConversion>
          <div class="after-conversion-container">
            <div class="opportunity-header-text mb-4">
              {{ "leads.afterConversion.opportunity.title" | translate }}
            </div>
            <div class="object-container">
              <img
                class="object-type-icon"
                src="assets/icons/opportunity.svg"
              />
              <div class="">
                <div class="opportunity-title-text">
                  {{ convertedOpportunity?.opportunityName }}
                </div>
                <div class="opportunity-subtitle-text mb-3">
                  {{ "leads.afterConversion.opportunity.note" | translate }}
                </div>
                <div class="two-column-container">
                  <div class="opportunity-label-text">
                    {{ "leads.afterConversion.opportunity.name" | translate }}
                  </div>
                  <div class="opportunity-text">
                    {{ convertedOpportunity?.customerName || "-" }}
                  </div>
                </div>
                <div class="two-column-container">
                  <div class="opportunity-label-text">
                    {{
                      "leads.afterConversion.opportunity.processName"
                        | translate
                    }}
                  </div>
                  <div class="opportunity-text">
                    {{ convertedOpportunity?.opportunityProcessName || "-" }}
                  </div>
                </div>
                <div class="two-column-container">
                  <div class="opportunity-label-text">
                    {{
                      "leads.afterConversion.opportunity.subjectOfInterest"
                        | translate
                    }}
                  </div>
                  <div class="opportunity-text">
                    {{
                      convertedOpportunity?.opportunitySubjectOfInterest || "-"
                    }}
                  </div>
                </div>
                <div class="two-column-container">
                  <div class="opportunity-label-text">
                    {{ "leads.afterConversion.opportunity.amount" | translate }}
                  </div>
                  <div class="opportunity-text">
                    {{
                      convertedOpportunity?.opportunityAmount
                        | formatCurrency
                          : convertedOpportunity?.opportunityCurrency || "-"
                    }}
                  </div>
                </div>
                <div class="two-column-container">
                  <div class="opportunity-label-text">
                    {{ "leads.afterConversion.opportunity.owner" | translate }}
                  </div>
                  <div
                    [class.opportunity-highlighted-text]="
                      userMap?.get(convertedOpportunity?.opportunityOwner)
                    "
                  >
                    {{ userMap?.get(convertedOpportunity?.opportunityOwner) || '-' }}
                  </div>
                </div>
              </div>
            </div>

            <div class="opportunity-header-text mb-4">
              {{ "leads.afterConversion.customer.title" | translate }}
            </div>
            <div class="object-container">
              <img
                class="object-type-icon"
                src="assets/icons/customer_icon.svg"
              />
              <div>
                <div class="opportunity-title-text">
                  {{ convertedOpportunity?.customerName }}
                </div>
                <div class="opportunity-subtitle-text mb-3">
                  {{ "leads.afterConversion.customer.note" | translate }}
                </div>
                <div class="two-column-container">
                  <div class="opportunity-label-text">
                    {{ "leads.afterConversion.customer.nip" | translate }}
                  </div>
                  <div class="opportunity-text">
                    {{ convertedOpportunity?.customerNip || "-" }}
                  </div>
                </div>
                <div class="two-column-container">
                  <div class="opportunity-label-text">
                    {{ "leads.afterConversion.customer.address" | translate }}
                  </div>
                  <div
                    [class.opportunity-highlighted-text]="
                      convertedOpportunity?.customerAddress
                    "
                  >
                    {{ (convertedOpportunity?.customerAddress | formatAddress) || '-' }}
                  </div>
                </div>
                <div class="two-column-container">
                  <div class="opportunity-label-text">
                    {{ "leads.afterConversion.customer.owner" | translate }}
                  </div>
                  <div
                    [class.opportunity-highlighted-text]="
                      userMap?.get(convertedOpportunity?.customerOwner)
                    "
                  >
                    {{
                      userMap?.get(convertedOpportunity?.customerOwner) || "-"
                    }}
                  </div>
                </div>
              </div>
            </div>
            <div class="opportunity-header-text mb-4">
              {{ "leads.afterConversion.contact.title" | translate }}
            </div>
            <div class="object-container">
              <img class="object-type-icon" src="assets/icons/users.svg" />
              <div class="">
                <div class="opportunity-title-text">
                  {{ convertedOpportunity?.contactName }}
                </div>
                <div class="opportunity-subtitle-text mb-3">
                  {{ convertedOpportunity?.contactPosition }}
                </div>
                <div class="two-column-container">
                  <div class="opportunity-label-text">
                    {{ "leads.afterConversion.contact.name" | translate }}
                  </div>
                  <div class="opportunity-text">
                    {{ convertedOpportunity?.contactCustomerName || "-" }}
                  </div>
                </div>
                <div class="two-column-container">
                  <div class="opportunity-label-text">
                    {{ "leads.afterConversion.contact.phone" | translate }}
                  </div>
                  <div
                    [class.opportunity-highlighted-text]="
                      convertedOpportunity?.contactPhone
                    "
                  >
                    {{ convertedOpportunity?.contactPhone || "-" }}
                  </div>
                </div>
                <div class="two-column-container">
                  <div class="opportunity-label-text">
                    {{ "leads.afterConversion.contact.email" | translate }}
                  </div>
                  <div
                    [class.opportunity-highlighted-text]="
                      convertedOpportunity?.contactEmail
                    "
                  >
                    {{ convertedOpportunity?.contactEmail || "-" }}
                  </div>
                </div>
                <div class="two-column-container">
                  <div class="opportunity-label-text">
                    {{ "leads.afterConversion.contact.owner" | translate }}
                  </div>
                  <div
                    [class.opportunity-highlighted-text]="
                      userMap?.get(convertedOpportunity?.contactOwner)
                    "
                  >
                    {{
                      userMap?.get(convertedOpportunity?.contactOwner) || "-"
                    }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </mat-card>

    <mat-card
      class="buttons-bar card-border-radius no-top-left-border-radius no-top-right-border-radius"
    >
      <ng-container *ngIf="beforeConversion; else afterConversionButtons">
        <button
          type="button"
          mat-stroked-button
          color="primary"
          (click)="cancel()"
        >
          {{ "leads.toOpportunity.cancel" | translate }}
        </button>
        <button
          *ngIf="'LeadConversionComponent.convert' | auth: 'w'"
          type="button"
          mat-raised-button
          class="ml-2"
          color="primary"
          (click)="convert()"
        >
          {{ "leads.toOpportunity.convert" | translate }}
        </button>
      </ng-container>
      <ng-template #afterConversionButtons>
        <button
          *ngIf="!(convertedOpportunity?.opportunityId | isNil)"
          type="button"
          mat-stroked-button
          color="primary"
          (click)="goToOpportunity()"
        >
          {{ "leads.afterConversion.goToOpportunity" | translate }}
        </button>
        <button
          type="button"
          mat-raised-button
          class="ml-2"
          color="primary"
          (click)="goToLeads()"
        >
          {{ "leads.afterConversion.backToLeads" | translate }}
        </button>
      </ng-template>
    </mat-card>
  </div>
</form>
