@import "../../../styles/slider-card";
@import "./lead-to-opportunity.component-fonts";


$field-margin: 50px;

.two-column-container {
  display: flex;
}

.two-column-container > div {
  flex: 1;
}

mat-form-field {
  width: 100%;
}

.import-from-gus {
  color: $text-tertiary;
  cursor: pointer;
  float: right;
  position: absolute;
  width: max-content;
  right: 0;
  bottom: 2px;
  font-weight: $Medium;
  font-size: 12px;
}


.checkbox-field {
  margin-bottom: 8px;
}

.checkbox-field > mat-checkbox {
  margin-right: 6px;
}

::ng-deep .input-inactive .mat-form-field-underline {
  background-image: none !important;
}
::ng-deep .input-inactive .mat-input-element {
  color: rgba($contrast-rgb, 0.54) !important;
}

::ng-deep .single-line-option.mat-option {
  height: 40px;
  margin: 0 !important;
  padding-left: 16px !important;
}

.search-result-text {
  text-align: left;
  font: $Medium 14px/21px Poppins;
  letter-spacing: 0;
  color: $text-secondary;
  opacity: 1;
}

.object-type-icon {
  width: 48px;
  height: 48px;
  margin-right: 20px;
}

.after-conversion-container .two-column-container {
  margin-bottom: 10px;
}

.after-conversion-container .two-column-container > div{
  min-width: 150px;
}

.object-container {
  display: flex;
  margin-bottom: 20px;
}

.main-card {
  height: 0;
}

@media only screen and (max-width: 1620px) {
  .two-column-container {
    display: inherit !important;
  }
  ::ng-deep .single-line-option.mat-option {
    padding-left: 0 !important;
  }
  ::ng-deep.lead-to-opportunity {
    .mat-expansion-panel-body {
      padding: 0 !important;
    }
  }
}
