@import "~src/styles/font-weights.scss";

.section-header-text {
  color: $primary;
  font-size: 13px;
  font-weight: $Medium;
}

.input-text {
  color: $text-title;
  font-size: 13px;
  font-weight: $Medium;
}

.checkbox-text {
  color: $text-title;
  font-size: 13px;
  font-weight: $Medium;
}

.note-text {
  color: $text-title;
  font-size: 10px;
  font-weight: $Medium;
}

.placeholder-text {
  color: $text-tertiary;
}

.opportunity-header-text {
  color: $text-title;
  letter-spacing: 1.2px;
  font-size: 10px;
  font-weight: $Medium;
}

.opportunity-title-text {
  color: $primary;
  font-size: 18px;
  font-weight: $Medium;
}

.opportunity-subtitle-text {
  color: $text-secondary;
  font-size: 13px;
  font-weight: $Regular;
}

.opportunity-label-text {
  color: $action-color;
  font-size: 13px;
  font-weight: $SemiBold;
}

.opportunity-text {
  color: $text-title;
  font-size: 13px;
  font-weight: $Medium;
}

.opportunity-highlighted-text {
  color: $primary;
  font-size: 13px;
  font-weight: $Medium;
}

.conversion-accordion {
  ::ng-deep.mat-expansion-panel-body {
    padding: 0 !important;
  }
}

.conversion-column-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-column-gap: 32px;
}

.conversion-section-container {
  display: flex;
  flex-direction: column;
  .conversion-checkbox-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 16px;
  }
}

.conversion-gus {
  bottom: 8px !important;
  display: flex;
  align-items: center;
  color: $primary !important;
  font-weight: 300 !important;
  .conversion-gus-icon {
    margin-right: 4px;
  }
}
