@import "~src/styles/colors";

.avatar-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 45px);
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    padding: 8px 0;
}

.container-label {
    font-size: 10px;
    font-weight: 400;
    color: rgba($contrast-rgb, 0.54);
}

.add-member {
    cursor: pointer;
}
