<div class="container-label">{{ label }}</div>
<div class="avatar-container">
  <app-avatar-icon
    *ngFor="let participant of participants"
    [imageSrc]="participant.avatar"
    [text]="participant.name || participant.email"
  ></app-avatar-icon>
  <app-avatar-icon
    text="＋"
    class="add-member"
    [fontSizePx]="32"
    cdkOverlayOrigin
    #menuTrigger="cdkOverlayOrigin"
    (click)="changeMenu(true)"
  ></app-avatar-icon>
</div>
<ng-container *ngIf="isOpen">
  <app-menu-members
    [trigger]="menuTrigger"
    [open]="isOpen"
    (changeMenu)="changeMenu($event)"
    (changeMembers)="changeParticipants($event)"
    [selectMembers]="participants"
  ></app-menu-members>
</ng-container>
