@import "../../../../../styles/slider";
@import "../../../../../styles/font-weights";
@import "../../../../../styles/form";
@import "../../../../../styles/product-category.common";
@import "../../../../../styles/slider-card";
@import "../../../../../styles/extension-panel";

.subcategory-text {
  margin-bottom: 16px;
  margin-left: 24px;
}


.category-checkbox {
  position: absolute;
  right: 0;
}
