<div class="card-container">
  <mat-card class="main-card card-border-radius no-bottom-left-border-radius no-bottom-right-border-radius">
    <div class="inner-container">
      <div class="categories-header">{{'goal.form.productGroup.categoryList' | translate}}</div>

      <mat-accordion [multi]="true">

        <mat-expansion-panel *ngFor="let category of categories;let i=index"
                             class="crm-extension-panel" expanded="true">
          <mat-expansion-panel-header class="product-subcategory-panel-header">
            <mat-panel-title>
              <div class="category-text">{{category.name}}</div>
              <mat-checkbox class="crm-checkbox icon-size category-checkbox"
                            color="primary"
                            (click)="$event.stopPropagation()"
                            (change)="onCategoryCheckboxClick($event, i)"
                            [checked]="isCategoryCheckboxChecked(i)"
                            [value]="false"
                            disableRipple>
              </mat-checkbox>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="subcategories-container">
            <div *ngFor="let subcategory of category?.subcategories; let j=index"
                 class="category-item">
              <div class="subcategory-text">
                {{subcategory.initial ? ('goal.form.productGroup.withoutSubcategory' | translate) : subcategory.name }}
              </div>
              <mat-checkbox [checked]="isCheckboxChecked(category.id, subcategory.id)" [value]="[i,j]"
                            class="crm-checkbox icon-size"
                            color="primary"
                            disableRipple>
              </mat-checkbox>
            </div>
          </div>

        </mat-expansion-panel>
      </mat-accordion>

    </div>
  </mat-card>

  <mat-card class="buttons-bar card-border-radius no-top-left-border-radius no-top-right-border-radius">
    <button (click)="cancel(); $event.stopPropagation()" class="button-medium" color="primary" mat-stroked-button
            type="button">{{'goal.form.productGroup.cancel' | translate}}</button>
    <button (click)="add(); $event.stopPropagation()" class="button-medium ml-2" color="primary" mat-raised-button
            type="button">{{'goal.form.productGroup.add' | translate}}</button>
  </mat-card>
</div>

