@import "~src/styles/colors.scss";
@import "~src/styles/font-weights";

.header {
  background-color: $bg-primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.content {
  background-color: $bg-primary;
  padding: 10px 40px;
}

.header-text {
  font-size: 13px !important;
  font-weight: $Medium !important;
  color: $action-color;
  margin: 0;
}

.description-text {
  font-size: 13px;
  font-weight: $Medium;
  color: $confirm-color;
}

.note-text {
  font-size: 13px;
  font-weight: $Medium;
  color: $text-secondary;
}

.confirm-button {
  background-color: $confirm-color;
  font-size: 13px;
  font-weight: $Medium;
  color:  $primary-contrast;
  box-shadow: none;
}

.cancel-button {
  background-color: $bg-tertiary;
  font-size: 13px;
  font-weight: $Medium;
  color: $action-color;
  box-shadow: none;
}

.text-container {
  display: flex;
  align-items: center;
}

.icon-alert {
  margin-right: 12px;
}

.footer {
  margin: 20px;
}

.error-list {
  margin-top: 10px;
  max-height: 200px;
  padding-left: 10px;
  overflow-y: auto;

  div {
    margin-top: 5px;
  }
}
