<div mat-dialog-title class="header">
  <div></div>
  <div class="header-text" mat-dialog-title>{{ data.title | translate }}</div>
  <button class="btn-transparent" [mat-dialog-close]="true">
    <app-icon svgIcon="cross" [hover]="false"></app-icon>
  </button>
</div>
<mat-dialog-content class="content">
  <div class="text-container">
    <img class="icon-alert" src="/assets/icons/alert.svg" />
    <div>
      <div class="description-text">{{ data.description | translate }}</div>
      <div class="note-text">
        {{ data.noteFirst | translate }}
        <b>{{ data.numberToDelete }}</b>
        <div *ngIf="data.errorList" class="error-list">
          <div *ngFor="let error of data.errorList" [innerHTML]="error"></div>
        </div>
        {{ data.noteSecond | translate }}
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end" class="footer">
  <button
    class="confirm-button"
    [mat-dialog-close]="true"
    (click)="confirm()"
    mat-raised-button
  >
    {{ data.confirmButton | translate }}
  </button>
  <button
    class="cancel-button"
    [mat-dialog-close]="true"
    (click)="cancel()"
    mat-raised-button
  >
    {{ data.cancelButton | translate }}
  </button>
</mat-dialog-actions>
