@import "~src/styles/font-weights";

::ng-deep .slider-background {
  background: rgba(0, 0, 0, 0.32);
  opacity: 1;
  width: 100vw;
  height: 100vh;
  top: 0;
}

::ng-deep .slider-background-default {
  position: fixed;
  left: 0;
  z-index: 9997;
}

.slider-pane {
  position: fixed;
  top: 0;
  height: 100vh;
  z-index: 9998 !important;
  background-color: #F1F2F4 !important;
  min-width: 40%;
  margin-left: 100vw;
  transition: margin-left 0.5s ease-in-out;
  box-shadow: 0 0 1px 0 rgba(10,22,70,0.06), 0 1px 1px 0 rgba(10,22,70,0.10);
}
.slider-animation {
  margin-left: 60vw;
  transition: margin-left 0.5s ease-in-out;
}

.hide-slider {
  display: none;
}

::ng-deep .slider-header {
  color: #0A1E44;
  font-size: 20px;
  font-weight: $Medium;
  line-height: 36px;
  padding-left: 1.5em;
}

.crossicon-font-size {
  font-size: 30px;
}

.more-info {
  float: right;
  font-size: 10px;
  color: #319DF8;
  font-weight: $Medium;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin-top: 10px;
  cursor: pointer;

  img {
    margin-left: 15px;
    margin-top: -5px;
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
}
