<div class="slider-pane hide-slider">
  <mat-card class="mat-elevation-z0 p-3">
    <div class="header flex">
      <div *ngIf="headerTemplate">
        <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
      </div>
      <div *ngIf="!headerTemplate">
        <span class="slider-header">{{title}}</span>
      </div>
      <div class="p-0">
        <button class="btn-transparent pull-right mr-3 h-100" (click)="closeByCrossClick()" type="button">
          <img src="assets/icons/icons/crossicon.svg" class="crossicon-font-size">
        </button>
        <span class="more-info" *ngIf="showMoreInfo" (click)="openMoreInfo()">{{'slider.moreInfo' | translate}}<img src="assets/icons/icons/expand_window_icon.svg"></span>
      </div>
    </div>
  </mat-card>
  <ng-content></ng-content>
</div>
