@import "~src/styles/colors";
@import "~src/styles/table";
@import "~src/styles/font-weights";
@import "~src/styles/form";

$mail-list-header: 40px;
$card-padding: 8px;
$dividing-line-color: $border-tertiary;
$dividing-line: 1px solid $dividing-line-color;

.full-height {
  height: 100%;
  display: flex;
  flex-direction: column;
  .attached-email-content {
    flex: 1;
  }
  .mail-card {
    height: 100%;
  }
}

.mail-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 0fr;
  overflow: hidden;
  border-top: 2px solid $border-tertiary;
  margin-top: 12px;

  &-side {
    grid-area: 2 / 1 / 3 / 2;
    border-right: 2px solid $dividing-line-color;
    padding: 0 0 $card-padding 0;
    background: $bg-primary;

    & > mat-drawer {
      width: 50%;
      border-right: $dividing-line;
    }
  }

  &-main {
    grid-area: 2 / 2 / 3 / 3;
    height: 100%;
    overflow: hidden;
    position: relative;

    &-content {
      margin: 10px;
      overflow-y: auto;
      overflow-x: hidden;
      height: calc(100% - 20px);
    }

    .no-mails {
      text-align: center;
      display: flex !important;
      justify-content: center;
      align-items: center;
      height: 90%;
      width: 100%;
      font-size: 20px;
      color: $action-color;
      font-weight: $Medium;
    }
  }
}

.list {
  height: 100%;

  &-header {
    height: $mail-list-header;
    line-height: $mail-list-header;
    border-bottom: $dividing-line;
    text-align: right;

    color: $primary;
    font-size: 13px;
    font-weight: $Medium;
  }

  &-item {
    padding: 10px;
    border-bottom: $dividing-line;

    &-header {
      color: $text-title;
      font-size: 13px;
      font-weight: $Bold;

      .unpin-icon {
        float: right;
        width: 12px;
        cursor: pointer;
      }
    }

    &-subject {
      color: $text-title;
      font-size: 13px;
      font-weight: $Medium;
    }

    &-time {
      color: $text-title;
      font-size: 12px;
      font-weight: $Regular;
    }

    &:hover, &-selected {
      background-color: rgba($primary-rgb, .1);
    }
  }

  &-content {
    height: calc(100% - #{$mail-list-header});
    overflow-y: auto;
  }
}

.card-padding-left {
  padding-left: $card-padding;
}

.to-and-from-container {
  margin-top: 10px;
}

.subject-container {
  font: $Medium 18px/27px Poppins;
}

.email-container {
  font: $Medium 13px/20px Poppins;
}

.content-container {
  margin-top: 50px;

  iframe {
    display: block;
    background: $bg-primary;
    border: none;
    overflow-y: auto;
    width: 100% !important;
    height: 0;
  }
}

.header-container {
  font: $SemiBold 13px/20px Poppins;
  width: 80px;
}

.line-container {
  display: flex;
}

.spinner-container {
  height: 85%;
  width: 92%;
}

.attached-email-tab-parent {
  padding-top: 16px;

  .attached-email-title {
    text-align: left;
    font: $SemiBold 13px/20px Poppins;
    letter-spacing: 0;
    color: $text-title !important;
    text-transform: uppercase;
    margin-bottom: 12px;
  }
}
