<div class="attached-email-tab-parent" [class.full-height]="fullHeight">
  <div class="attached-email-title">{{'tabs.attachedEmails.title' | translate}} {{'tabs.attachedEmails.type.' + _crmObject.type | translate}}</div>
  <div class="attached-email-content">

    <div class="mail-card">

      <mat-drawer-container class="mail-card-side">
        <div class="list">
          <div class="list-header">
            <span>{{'tabs.attachedEmails.sort.title' | translate }}: </span>
            <span [matMenuTriggerFor]="sortBy" class="clickable">
              <span class="ml-2">{{'tabs.attachedEmails.sort.' + selectedSort | translate}}</span>
              <app-icon
                svgIcon="expand-more"
                [hover]="false"
              ></app-icon>
            </span>

            <mat-menu #sortBy="matMenu" xPosition="before">
              <button (click)="sort(sortSelection.receivedDate)"
                      [class.active]="selectedSort === sortSelection.receivedDate"
                      class="dropdown-select-item" mat-menu-item>
                {{'tabs.attachedEmails.sort.receivedDate' | translate }}
              </button>
              <button (click)="sort(sortSelection.subject)"
                      [class.active]="selectedSort === sortSelection.subject"
                      class="dropdown-select-item" mat-menu-item>
                {{'tabs.attachedEmails.sort.subject' | translate }}
              </button>
            </mat-menu>

          </div>

          <div class="list-content">
            <ng-container *ngFor="let item of headers">
              <div class="list-item clickable card-padding-left"
                   [ngClass]="{'list-item-selected': isHeaderSelected(item)}"
                   (click)="getMessage(item)">
                <div class="list-item-header text-trim">
                  {{getMailHeader(item)}}
                  <img class="unpin-icon"
                       *ngIf="getDetachMessageKey() | auth:'w'"
                       (click)="$event.stopPropagation(); tryDetachEmail(item.id)"
                       src="assets/icons/pin-filled-blue.svg"/>
                </div>
                <div class="list-item-subject text-trim">{{item?.subject}}</div>
                <div class="list-item-time">{{item?.receivedDate | formatDate: true}}</div>
              </div>
            </ng-container>
          </div>
        </div>


      </mat-drawer-container>

      <div class="mail-card-main" *ngIf="(headers && headers.length > 0) || loading">
        <div class="mail-card-main-content" *ngIf="selectedMailContent">
          <div class="subject-container">
            {{selectedMailContent.headerDto.subject}}
          </div>
          <div class="to-and-from-container">
            <div class="email-container line-container">
              <div class="header-container">{{'tabs.attachedEmails.from' | translate}}</div>
              <div
                *ngIf="selectedMailContent.headerDto.fromAddr[0]?.name">{{selectedMailContent.headerDto.fromAddr[0].name + ' '}}</div>
              <div
                *ngIf="selectedMailContent.headerDto.fromAddr[0]?.email">{{'<' + selectedMailContent.headerDto.fromAddr[0].email + '>'}}</div>
            </div>
            <div class="email-container line-container">
              <div class="header-container">{{'tabs.attachedEmails.to' | translate}}</div>
              <div *ngFor="let to of selectedMailContent.headerDto.toAddr">
                <div *ngIf="to.name">{{to.name + ' '}}</div>
                <div *ngIf="to.email">{{'<' + to.email + '>; '}}</div>
              </div>
            </div>
            <div class="email-container line-container" *ngIf="selectedMailContent.headerDto.ccAddr[0]">
              <div class="header-container">{{'tabs.attachedEmails.cc' | translate}}</div>
              <div *ngFor="let cc of selectedMailContent.headerDto.ccAddr">
                <div *ngIf="cc.name">{{cc.name + ' '}}</div>
                <div *ngIf="cc.email">{{'<' + cc.email + '>; '}}</div>
              </div>
            </div>
            <div class="line-container">
              <div class="header-container">{{'tabs.attachedEmails.date' | translate}}</div>
              <div>{{ selectedMailContent.headerDto.receivedDate | formatDate }}</div>
            </div>
          </div>
          <div class="content-container">
            <iframe class="w-100"
                    [srcdoc]="selectedMailContent.htmlContent ? selectedMailContent.htmlContent: selectedMailContent.plainContent"
                    appHtmlInIframe></iframe>
          </div>

          <div class="mt-3" *ngIf="selectedMailContent.attachmentList && selectedMailContent.attachmentList.length > 0">
            <app-mail-attachments
              [previewStorageActive]="true"
              [previewStorageAttachments]="{mailStorageId: selectedMessageStorageId, objectId: _crmObject.id, objectType: _crmObject.type, files: selectedMailContent.attachmentList}"></app-mail-attachments>
          </div>

        </div>


        <div class="spinner-container" *ngIf="selectedMailContent === null">
          <mat-spinner class="absolute-center" [diameter]="50"></mat-spinner>
        </div>

      </div>

      <div class="mail-card-main" *ngIf="(!headers || headers.length === 0) && !loading">
        <div class="no-mails">
          {{'tabs.attachedEmails.noAttachedEmails' | translate}}
        </div>
      </div>
    </div>

  </div>
</div>
