@import '~src/styles/table';
@import '~src/styles/colors';
@import "~src/styles/form";
@import "../../goal-styles/goal-user-list";

$table-border: 1px solid $border-primary;
$cell-width: 75px;
$cell-padding: 10px;

th, td {
  border: $table-border !important;
  vertical-align: middle !important;
  cursor: auto;
  padding-left: $cell-padding;
  padding-right: $cell-padding;
}

@mixin cell-font {
  font: $Medium 16px Poppins !important;
  letter-spacing: 0;
  color: $action-color !important;
  opacity: 1;
}

.edit-user-table {

  ::ng-deep {
    .mat-header-cell {
      padding-bottom: 0;
    }
  }

  mat-form-field {
    width: $cell-width;
    transform: translateY(8px);
    ::ng-deep.mat-form-field-infix  {
      border: 0;
    }
  }

  .mat-input-element {
    @include cell-font;
    cursor: pointer;
  }

  .number-cell {
    min-width: $cell-width;
    @include cell-font;

    &.red {
      color: $red-color !important;
    }

    &.green {
      color: $green-color !important;
    }

    &.blue {
      color: $primary !important;
    }
  }

}


.first-header {
  height: 40px;
}

.second-header {
  height: 30px;
}
