<div class="goal-user-list">
  <div class="title mb-3">
    {{ "goal.edit.assignUsers" | translate }}
    <img
      (click)="addUserToGoalSlider.open()"
      class="plus-icon"
      src="assets/icons/plus-blue.svg"
    />
  </div>
  <div class="table user-table edit-user-table">
    <table
      [dataSource]="dataTableSubject"
      [ngClass]="{
        'hide-table':
          !goalAddService._goal.usersGoals ||
          goalAddService._goal.usersGoals.length === 0
      }"
      class="col-md-12"
      mat-table
      matSort
    >
      <ng-container matColumnDef="userName">
        <th *matHeaderCellDef mat-header-cell></th>
        <td *matCellDef="let rowData" class="table-bold-column" mat-cell>
          <ng-container
            *ngIf="rowData.userId"
            [ngTemplateOutletContext]="{
              user: goalAddService.accountInfoMap.get(rowData.userId),
              hideCross: rowData.userId === undefined
            }"
            [ngTemplateOutlet]="userInfo"
          >
          </ng-container>
          <div *ngIf="!rowData.userId" class="user-name-column">
            <div class="name">{{ "goal.edit.organization" | translate }}</div>
            <div class="role">{{ "goal.edit.sum" | translate }}</div>
          </div>
        </td>
      </ng-container>

      <ng-container *ngFor="let iv of intervalNumbers">
        <ng-container
          *ngFor="let column of [0, 1, 2]"
          [matColumnDef]="'interval' + iv + column"
        >
          <th *matHeaderCellDef mat-header-cell>
            <div class="dark-light">
              {{ "goal.edit.table.groupCol" + column | translate }}
            </div>
          </th>

          <td
            *matCellDef="let rowData"
            [ngClass]="{ 'text-center': !isAmount, 'text-right': isAmount }"
            mat-cell
          >
            <ng-container *ngIf="rowData.userId && column == 0">
              <mat-form-field *ngIf="isAmount && rowData.userId">
                <input
                  (focusout)="updateGoal(rowData.userId, iv)"
                  [(ngModel)]="
                    getTableValueItem(rowData.userId, iv).expectedValue
                  "
                  [validation]="false"
                  mask="separator.2"
                  matInput
                  class="text-right"
                />
                <span matSuffix class="input-amount-suffix">{{
                  goalAddService._goal.currency | getCurrencySymbol
                }}</span>
              </mat-form-field>

              <mat-form-field *ngIf="!isAmount && rowData.userId">
                <input
                  (focusout)="updateGoal(rowData.userId, iv)"
                  [(ngModel)]="
                    getTableValueItem(rowData.userId, iv).expectedValue
                  "
                  matInput
                  mask="0*"
                  class="text-center"
                />
              </mat-form-field>
            </ng-container>

            <ng-container *ngIf="rowData.userId && column == 1">
              <div class="number-cell">
                {{ getTableValueItem(rowData.userId, iv).currentValue || 0 }}
                <span *ngIf="isAmount">
                  {{ goalAddService._goal.currency | getCurrencySymbol }}</span
                >
              </div>
            </ng-container>

            <ng-container *ngIf="rowData.userId && column == 2">
              <div
                class="number-cell"
                [ngClass]="getResultColor(rowData.userId, iv)"
              >
                {{ getTableValueItem(rowData.userId, iv).result || 0 }}
                <span *ngIf="isAmount">
                  {{ goalAddService._goal.currency | getCurrencySymbol }}</span
                >
              </div>
            </ng-container>

            <div
              *ngIf="column == 0 && !rowData.userId"
              class="number-cell blue"
            >
              {{ getTableValueItem(rowData.userId, iv).expectedValue }}
              <span *ngIf="isAmount">
                {{ goalAddService._goal.currency | getCurrencySymbol }}</span
              >
            </div>

            <div
              *ngIf="column == 1 && !rowData.userId"
              class="number-cell blue"
            >
              {{ getTableValueItem(rowData.userId, iv).currentValue }}
              <span *ngIf="isAmount">
                {{ goalAddService._goal.currency | getCurrencySymbol }}</span
              >
            </div>

            <div
              *ngIf="column == 2 && !rowData.userId"
              class="number-cell blue"
            >
              {{ getTableValueItem(rowData.userId, iv).result }}
              <span *ngIf="isAmount">
                {{ goalAddService._goal.currency | getCurrencySymbol }}</span
              >
            </div>
          </td>
        </ng-container>
      </ng-container>

      <ng-container matColumnDef="sum">
        <th
          *matHeaderCellDef
          [ngClass]="{ 'text-center': !isAmount, 'text-right': isAmount }"
          mat-header-cell
        >
          <ng-container
            [ngTemplateOutletContext]="{
              header: {
                title: ('goal.edit.sum' | translate),
                description: goalAddService.sumTime
              },
              dark: true
            }"
            [ngTemplateOutlet]="header"
          >
          </ng-container>
        </th>
        <td
          *matCellDef="let rowData"
          [ngClass]="{ 'text-center': !isAmount, 'text-right': isAmount }"
          class="number-cell blue"
          mat-cell
        >
          <span *ngIf="rowData.userId">
            {{ getUserSum(rowData.userId) }}
            <span *ngIf="isAmount">
              {{ goalAddService._goal.currency | getCurrencySymbol }}</span
            >
          </span>
          <span *ngIf="!rowData.userId">
            {{ getTotalSum() }}
            <span *ngIf="isAmount">
              {{ goalAddService._goal.currency | getCurrencySymbol }}</span
            >
          </span>
        </td>
      </ng-container>

      <!--      first header-->

      <ng-container matColumnDef="userGroup">
        <th mat-header-cell *matHeaderCellDef rowspan="2">
          {{ "goal.edit.users" | translate }}
        </th>
      </ng-container>
      <ng-container matColumnDef="emptyGroup">
        <th mat-header-cell *matHeaderCellDef></th>
      </ng-container>
      <ng-container
        *ngFor="let iv of intervalNumbers"
        [matColumnDef]="'intervalGroup' + iv"
      >
        <th mat-header-cell *matHeaderCellDef [attr.colspan]="3">
          <div *ngIf="goalAddService.getIntervalNameByIndex(iv) as header">
            <div class="dark">{{ header.title }}</div>
            <div *ngIf="header.description" class="description">
              {{ header.description }}
            </div>
          </div>
        </th>
      </ng-container>

      <tr
        *matHeaderRowDef="intervalGroups"
        mat-header-row
        class="header-background first-header"
      ></tr>
      <tr
        *matHeaderRowDef="headerColumns"
        mat-header-row
        class="header-background second-header"
      ></tr>
      <tr
        *matRowDef="let rowData; columns: columns"
        class="clickable row-height"
        mat-row
      ></tr>
    </table>
  </div>
</div>

<app-slider
  #addUserToGoalSlider
  [title]="'goal.edit.users' | translate"
  key="GoalUserList.users"
  width="33vw"
>
  <app-add-user-to-goal [slider]="addUserToGoalSlider"></app-add-user-to-goal>
</app-slider>

<ng-template #header let-dark="dark" let-header="header">
  <div [ngClass]="{ dark: dark }">{{ header.title }}</div>
  <!--  <div *ngIf="header.description" class="description">{{header.description}}</div>-->
</ng-template>

<ng-template #userInfo let-user="user">
  <div class="form-inline max-content-width">
    <app-icon
      (click)="removeUser(user.id)"
      svgIcon="cross"
      [hover]="false"
      class="mr-2"
    ></app-icon>

    <div *ngIf="user" class="user-name-column">
      <div class="name">{{ user.name }} {{ user.surname }}</div>
      <div class="role">{{ user.roleName }}</div>
    </div>
  </div>
</ng-template>
