<form [formGroup]="contactForm">
  <mat-card-content class="fill-parentcrm-form p-3 mb-0">
    <div class="row mt-0 ml-0 mr-0">
      <div class="col-md-3 customer-new-contact-form-avatar">
        <app-avatar-form [text]="'customer.form.contactForm.changePhoto' | translate" (valueChanged)="avatarChanged()" [avatar]="avatar" [widthPx]="65"></app-avatar-form>
      </div>
      <div class="col-md-9">

        <div class="basic-info-container col-md-12">
          <mat-form-field *ngIf="(authKey + 'nameField' | auth:'i':true)">
            <input matInput required
                   appAutofocus
                   (focusin)="formControlFocusIn('name')"
                   (focusout)="formControlFocusOut()"
                   (keyup.escape)="formControlEsc()"
                   [autoFocus]="autofocusNameOnStart"
                   [autoFocusTime]="2000"
                   (ngModelChange)="contactNameChanged.emit($event)"
                   [placeholder]="'customer.form.contactForm.name' | translate"
                   formControlName="name">
            <mat-error *ngIf="name.hasError('required')">
              {{'customer.form.contactForm.nameRequired' | translate}}
            </mat-error>
            <mat-error *ngIf="name.hasError('maxlength')">
              {{'customer.form.contactForm.maxLength' | translate}}
            </mat-error>
            <mat-error *ngIf="name.hasError('whitespace')">
              {{'sharedValidators.whitespace' | translate}}
            </mat-error>
          </mat-form-field>


          <mat-form-field *ngIf="(authKey + 'surnameField' | auth:'i':true)">
            <input matInput required
                   (focusin)="formControlFocusIn('surname')"
                   (focusout)="formControlFocusOut()"
                   (keyup.escape)="formControlEsc()"
                   (ngModelChange)="contactSurnameChanged.emit($event)"
                   [placeholder]="'customer.form.contactForm.surname' | translate"
                   formControlName="surname">
            <mat-error *ngIf="surname.hasError('required')">
              {{'customer.form.contactForm.surnameRequired' | translate}}
            </mat-error>
            <mat-error *ngIf="surname.hasError('maxlength')">
              {{'customer.form.contactForm.maxLength' | translate}}
            </mat-error>
            <mat-error *ngIf="surname.hasError('whitespace')">
              {{'sharedValidators.whitespace' | translate}}
            </mat-error>
          </mat-form-field>


          <mat-form-field *ngIf="(authKey + 'positionField' | auth:'i':true)">
            <input matInput required
                   (focusin)="formControlFocusIn('position')"
                   (focusout)="formControlFocusOut()"
                   (keyup.escape)="formControlEsc()"
                   [placeholder]="'customer.form.contactForm.position' | translate"
                   formControlName="position">
            <mat-error *ngIf="position.hasError('required')">
              {{'customer.form.contactForm.positionRequired' | translate}}
            </mat-error>
            <mat-error *ngIf="position.hasError('maxlength')">
              {{'customer.form.contactForm.maxLength' | translate}}
            </mat-error>
            <mat-error *ngIf="position.hasError('whitespace')">
              {{'sharedValidators.whitespace' | translate}}
            </mat-error>
          </mat-form-field>


          <mat-form-field *ngIf="(authKey + 'emailField' | auth:'i':true)">
            <input matInput
                   (focusin)="formControlFocusIn('email')"
                   (focusout)="formControlFocusOut()"
                   (keyup.escape)="formControlEsc()"
                   [placeholder]="'customer.form.contactForm.email' | translate"
                   formControlName="email">
            <mat-error *ngIf="email.hasError('email')">
              {{'customer.form.contactForm.emailInvalid' | translate}}
            </mat-error>
            <mat-error *ngIf="email.hasError('maxlength')">
              {{'customer.form.contactForm.maxLength' | translate}}
            </mat-error>
          </mat-form-field>

          <mat-form-field *ngIf="(authKey + 'phoneField' | auth:'i':true)">
            <input matInput
                   (focusin)="formControlFocusIn('phone')"
                   (focusout)="formControlFocusOut()"
                   (keyup.escape)="formControlEsc()"
                   [placeholder]="'customer.form.contactForm.phone' | translate"
                   [mask]="phoneService.getPhoneInputMask(phone.value)"
                   type="tel"
                   formControlName="phone">
            <mat-error *ngIf="phone.hasError('maxlength') || phone.hasError('minlength')">
              {{'customer.form.contactForm.phoneInvalid' | translate}}
            </mat-error>
          </mat-form-field>

        </div>
      </div>
    </div>
  </mat-card-content>
</form>
