@import "~src/styles/colors";
@import "~src/styles/form";
@import "~src/styles/font-weights";

.title {
  color: $text-title;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 1.2px;
  font-weight: $SemiBold;
}

.basic-info-container mat-form-field {
  width: 90%;
}

.change-photo {
  text-align: center;
  font-weight: $Medium;
  font-size: 12px;
  margin-top: 5px;
  color: $text-secondary;
}

::ng-deep.customer-new-contact-form-avatar .logo-preview {
  margin-left: 15px;
}
