@import "~src/styles/form";
@import "~src/styles/colors";
@import "~src/styles/font-weights";
@import "~src/styles/icons";

.checkbox-container {
  display: flex;
  height: 55.78px;
  align-items: center;
}

.custom-field {
  & > * {
    width: 100%;
  }
}