@import "~src/styles/colors";
@import "~src/styles/font-weights";
@import "~src/styles/slider";

.header {
  font-weight: $Regular;
  font-size: 24px;
  color: $text-primary;
  letter-spacing: 0;
  line-height: 36px;
  margin: 5px;
}

mat-card {
  box-shadow: 0 0 1px 0 rgba($shadow-color-rgb, 0.06), 0 1px 1px 0 rgba($shadow-color-rgb, 0.1) !important;
}

.button-medium {
  width: 105px;
}


.button-with-progress-bar {
  display: flex;
  width: fit-content;
  margin: auto;
}
