<div class="w-100 h-100 card-padding">
  <app-task-form [initAssociation]="initAssociation" [eventInfo]="eventInfo" [activityType]="activityType">
  </app-task-form>

  <div class="button-container">
    <mat-card class="mat-elevation-z0 card-border-radius no-top-border-radius">
      <div class="row">
        <div class="col-md-12">
          <div class="pull-right">
            <button mat-stroked-button class="button-medium" color="primary"
                    (click)="closeSlider()">{{'calendar.form.cancel' | translate}}</button>
            <button mat-raised-button class="button-medium ml-2" color="primary" (click)="submit()">
              <span class="button-with-progress-bar">
                {{'calendar.form.add' | translate}}
                <mat-spinner [diameter]="20" *ngIf="saveInProgress" color="accent" class="ml-2 mt-2"></mat-spinner>
              </span>
            </button>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
