@import "~src/styles/colors";
@import "~src/styles/font-weights";

.fa-times-circle-o {
  transform: translate(6px, -2px);
}

.mail-input {
  width: 250px;
}

::ng-deep .mat-standard-chip {
  min-height: 22px !important;
}


.email-spinner {
  position: absolute;
  right: 10px;
  bottom: 8px;
}



//

.category-header-text {
  text-align: left;
  font: $Medium 10px/16px Poppins !important;
  letter-spacing: 1.2px;
  color: $text-title;
  text-transform: uppercase;
  opacity: 1;
}


.main-search {
  display: flex;
  align-items: flex-end;
  font-size: 14px;
}

.search-result-text {
  text-align: left;
  font: $Medium 14px/21px Poppins;
  letter-spacing: 0;
  color: $text-secondary;
  opacity: 1;
}

.search-result-main-text {
  text-align: left;
  font: $SemiBold 14px/25px Poppins;
  letter-spacing: 0;
  color: $text-title;
  opacity: 1;
}

.search-result-note-text {
  text-align: left;
  font: $Regular 14px/21px Poppins;
  letter-spacing: 0;
  color: $text-secondary;
  opacity: 1;
}
.result-item {
  display: flex;
  align-items: center;
}

.result-icon {
  width: 48px;
  height: 48px;
  margin-right: 10px;
}

::ng-deep .category-header .mat-optgroup-label {
  display: flex;
  align-items: center;
  margin: 0;
  @extend .category-header-text
}

::ng-deep .multi-line-option.mat-option {
  height: 60px;
  padding-left: 16px !important;
}

.inline {
  display: flex;
  justify-content: space-between;
}
