<div class="w-100">
  <form [formGroup]="mailForm" class="w-100">
    <mat-form-field class="w-100">
      <mat-label>{{placeholder | translate}}</mat-label>
      <mat-chip-list #mailList formControlName="mails">
        <mat-chip
          (removed)="removeMail(mail)"
          *ngFor="let mail of mails.value"
          [removable]="true"
          [selectable]="true">
          {{mail}}
          <mat-icon matChipRemove><i class="fa fa-times-circle-o"></i></mat-icon>
        </mat-chip>
        <div class="inline">
          <input
              #mailInput
              class="mail-input"
              formControlName="currentMail"
              (matChipInputTokenEnd)="addMail($event)"
              [matChipInputSeparatorKeyCodes]="[32, 13]"
              [matAutocomplete]="auto"
              [matChipInputAddOnBlur]="true"
              [matChipInputFor]="mailList">
        </div>

      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete"
                        (optionSelected)="selected($event.option.value)">


        <ng-container *ngFor="let type of getKeys(availableMails)">
          <ng-container *ngIf="availableMails[type]?.length !== 0">

            <mat-optgroup class="category-header" [label]="'mail.search.' + type | translate">
              <mat-option *ngFor="let object of availableMails[type]" [value]="object?.email" class="multi-line-option">
                <div class="result-item">
                  <img class="result-icon" src="{{'assets/icons/users.svg'}}">
                  <div class="flex-grow-1">
                    <div class="search-result-main-text">{{object?.name}}</div>
                    <div class="search-result-note-text">{{object?.email}}</div>
                  </div>
                </div>
              </mat-option>
            </mat-optgroup>
            <div style="height: 16px"></div>

          </ng-container>
        </ng-container>


      </mat-autocomplete>
      <mat-spinner class="email-spinner" *ngIf="areMailsLoading" [diameter]="16"></mat-spinner>
      <mat-error *ngIf="mails.hasError('emailInvalid')">
        {{'mail.mailInput.wrongMailError' | translate}}
      </mat-error>
      <mat-error *ngIf="mails.hasError('required')">
        {{'mail.mailInput.emailRequiredError' | translate}}
      </mat-error>
    </mat-form-field>
  </form>
</div>
