<ng-template #informationWidget></ng-template>
<div *ngIf="edited" class="action-menu">
  <button mat-fab color="primary" (click)="removeWidget($event)">
    <app-icon class="icon" svgIcon="trash" [hover]="false"></app-icon>
  </button>
</div>
