@import "~src/styles/colors";
@import "~src/styles/font-weights";
@import "~src/styles/icons";

.action-menu {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba($bg-primary-rgb, 0.5);
  &::ng-deep.mat-button-wrapper {
    line-height: 20px;
  };
  &::ng-deep.icon {
    fill: #fff;
  }
}
