<div class="acton-icons">
  <div class="icon-group">

    <app-icon svgIcon="add" size="18px" mat-icon-button
              [matMenuTriggerFor]="addActivityMenu"></app-icon>
    <app-icon svgIcon="copy" size="18px" (click)="onCopy($event)"></app-icon>
    <app-icon *ngIf="!opportunity.finishResult" svgIcon="close" size="18px" mat-icon-button
              [matMenuTriggerFor]="closeMenu"
              (click)="$event.stopPropagation()"></app-icon>
    <app-icon
      *ngIf="'OpportunityShared.delete' | auth: 'w'"
      svgIcon="trash"
      size="18px"
      (click)="onRemove($event)"
    ></app-icon>
  </div>
</div>

<mat-menu #addActivityMenu="matMenu" xPosition="before" yPosition="above">
  <div class="activity-buttons">

    <app-icon svgIcon="notes" size="26px" (click)="openAddNotesDialog()"></app-icon>
    <app-icon svgIcon="file" size="26px" (click)="addFiles()"></app-icon>
    <div style="width: 5px"></div>
    <app-icon
      *ngFor="let activity of activities"
      [svgIcon]="activity"
      [hover]="false"
      (click)="openAddSlider(activity)"
      size="20px"
    ></app-icon>
  </div>
</mat-menu>

<mat-menu #closeMenu="matMenu" xPosition="before" yPosition="above">
  <div class="close-menu">
    <button
      mat-menu-item
      class="win-color"
      (click)="onClose($event, finishTypes.SUCCESS)">
      <span>{{ "opportunity.form.dialog.close.win" | translate | titlecase }}</span>
    </button>
    <button
      mat-menu-item
      class="lose-color"
      (click)="onClose($event, finishTypes.ERROR)">
      <span>{{ "opportunity.form.dialog.close.lose" | translate | titlecase }}</span>
    </button>
  </div>
</mat-menu>

<!--<ng-template #tooltipPrevTask>-->
<!--  <mat-card class="stage-tooltip mat-elevation-z4">-->
<!--    <div class="text">-->
<!--      {{ "opportunity.form.dialog.switch.goBack" | translate }}-->
<!--      <span class="primary-text">-->
<!--        {{ "opportunity.form.dialog.switch.stage" | translate }}-->
<!--        {{ opportunity.status }}-->
<!--        {{ "opportunity.form.dialog.switch.of" | translate }}-->
<!--        {{ opportunity.maxStatus }}-->
<!--      </span>-->
<!--    </div>-->
<!--    <div class="stage-name">{{ opportunity.previousStepName }}</div>-->
<!--  </mat-card>-->
<!--</ng-template>-->

<!--<ng-template #tooltipNextTask>-->
<!--  <mat-card class="stage-tooltip mat-elevation-z4">-->
<!--    <div class="text">-->
<!--      {{ "opportunity.form.dialog.switch.goNext" | translate }}-->
<!--      <span class="primary-text">-->
<!--        {{ "opportunity.form.dialog.switch.stage" | translate }}-->
<!--        {{ opportunity.status + 2 }}-->
<!--        {{ "opportunity.form.dialog.switch.of" | translate }}-->
<!--        {{ opportunity.maxStatus }}-->
<!--      </span>-->
<!--    </div>-->
<!--    <div class="stage-name">{{ opportunity.followingStepName }}</div>-->
<!--  </mat-card>-->
<!--</ng-template>-->

<!--<ng-template #acceptanceTask>-->
<!--  <mat-card class="acceptance-tooltip mat-elevation-z4">-->
<!--    <div class="text">-->
<!--      <span class="primary-text">-->
<!--        {{ "opportunity.form.dialog.switch.stage" | translate | titlecase }}-->
<!--        {{ opportunity.status + 2 }}-->
<!--        {{ "opportunity.form.dialog.switch.of" | translate }}-->
<!--        {{ opportunity.maxStatus }}-->
<!--      </span>-->
<!--    </div>-->
<!--    <div class="stage-name">-->
<!--      {{ "opportunity.form.dialog.switch.acceptance" | translate }}:-->
<!--      <span class="acceptance-name">-->
<!--        {{ acceptanceUser }}-->
<!--      </span>-->
<!--    </div>-->
<!--  </mat-card>-->
<!--</ng-template>-->


<input
  #fileInput
  [uploader]="uploader"
  hidden
  multiple
  ng2FileSelect
  type="file"
/>
