@import "~src/styles/colors";
@import "~src/styles/font-weights";

.acton-icons {
  display: flex;
  justify-content: flex-end;
  width: 80px;

  .icon-group {
    & > * {
      margin-right: 2px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .action-spacer {
    width: 16px;
  }
}

.close-menu {
  padding: 0 4px;
  button {
    height: 24px;
    line-height: 24px;
    padding: 0 8px;
    border-radius: 4px;
    text-align: center;
    font-size: 13px;
  }
  .win-color {
    color: $green-color;
  }
  .lose-color {
    color: $confirm-color;
  }
}

.stage-tooltip {
  padding: 12px;
  .text {
    font-weight: $Regular;
    color: $text-secondary;
    font-size: 11px;
    margin-bottom: 4px;
  }
  .primary-text {
    color: $primary;
  }
  .stage-name {
    color: $text-title;
    font-size: 13px;
  }
}

.acceptance-tooltip {
  padding: 12px;
  .text {
    font-weight: $Regular;
    color: $yellow-acceptance;
    font-size: 11px;
    margin-bottom: 4px;
  }

  .stage-name {
    color: $yellow-acceptance;
    font-size: 13px;
    .acceptance-name {
      color: $text-title;
    }
  }
}

.activity-buttons {
  display: flex;
  padding: 0 8px;
  & > * {
    margin-right: 8px;
    &:last-child {
      margin-right: 0;
    }
  }
}
