<div class="w-100 h-100 card-padding">

  <mat-card class="mat-elevation-z0 main-mat-card mat-card card-border-radius no-bottom-border-radius">
    <div class="row m-0">
      <div class="col-md-12">
        <div class="row title ml-1 mb-1 mt-3" *ngIf="myAccount">{{'goal.form.addUser.i' | translate}}</div>
        <div class="row" *ngIf="myAccount">
          <div class="col-md-12 user-row">
            <div class="checkbox">
              <mat-checkbox [(ngModel)]="myAccount.checked" color="primary"></mat-checkbox>
            </div>
            <div class="avatar">
              <app-avatar-preview [imageSrc]="myAccount?.avatar" [widthPx]="48"
                                  defaultImg="assets/icons/user-logo.svg"></app-avatar-preview>
            </div>
            <div class="content">
              <div class="content-detail-title">{{myAccount.name}} {{myAccount.surname}}</div>
              <div class="content-detail-description">{{myAccount.roleName}}</div>
            </div>
          </div>
        </div>
        <div class="row title ml-1 mb-1 mt-3">{{'goal.form.addUser.users' | translate}}</div>
        <div class="row">
          <div class="col-md-12 user-row" *ngFor="let account of accountInfoList">
            <div class="checkbox">
              <mat-checkbox [(ngModel)]="account.checked" color="primary"></mat-checkbox>
            </div>
            <div class="avatar">
              <app-avatar-preview [imageSrc]="account?.avatar" [widthPx]="48"
                                  defaultImg="assets/icons/user-logo.svg"></app-avatar-preview>
            </div>
            <div class="content">
              <div class="content-detail-title">{{account.name}} {{account.surname}}</div>
              <div class="content-detail-description">{{account.roleName}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card>

  <div class="button-container">
    <mat-card class="mat-elevation-z0 card-border-radius no-top-border-radius">
      <div class="row">
        <div class="col-md-12">
          <div class="pull-right">
            <button (click)="closeSlider()" class="button-medium" color="primary"
                    mat-stroked-button>{{'goal.form.addUser.cancel' | translate}}
            </button>
            <button (click)="submit()" class="button-medium ml-2" color="primary"
                    mat-raised-button>{{'goal.form.addUser.add' | translate}}
            </button>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
