@import '~src/styles/colors';
@import "~src/styles/form";
@import "~src/styles/slider";

.title {
  color: $text-title;
  font-size: 10px;
  letter-spacing: 1.2px;
  font-weight: $Medium;
  text-transform: uppercase;
}

.user-row {
  display: flex;
  margin-top: 1em;

  .checkbox {
    margin-top: 18px;
    margin-right: 10px;
  }

  .avatar,
  .avatar > img {
    width: 48px;
    height: 48px;
    margin-right: 10px;
  }

  .content {
    font-weight: $Medium;
    margin-top: 4px;

    .content-detail-title {
      color: $primary;
      font-size: 13px;
    }

    .content-detail-description {
      color: $action-color;
      font-size: 12px;
    }
  }
}
