<div class="card-container">
  <mat-card class="main-card card-border-radius">
    <div class="activity-tab h-100">
      <ng-container [ngTemplateOutlet]="list" [ngTemplateOutletContext]="{preview : false}"></ng-container>
    </div>
  </mat-card>
</div>


<ng-template #list let-preview="preview">

  <div class="activities-all h-100" (scroll)="onScroll($event)">
    <div>
      <mat-accordion [multi]="true" class="category-content" >
        <ng-container *ngFor="let activity of activitiesPage?.content; let i = index;">
          <div
            *ngIf="(i === 0 || (activity.taskTimeCategoryEnum !== (activitiesPage?.content)[i - 1].taskTimeCategoryEnum))">
            <div class="category-title" *ngIf="activity.taskTimeCategoryEnum === taskTimeCategoryEnum.PLANNED">
              {{'tabs.activity.planned' | translate}}
            </div>
            <div class="category-title" *ngIf="activity.taskTimeCategoryEnum === taskTimeCategoryEnum.LATEST">
              {{'tabs.activity.latestActivity' | translate}}
            </div>
            <div class="category-title" *ngIf="activity.taskTimeCategoryEnum === taskTimeCategoryEnum.OLD">
              {{'tabs.activity.oldActivity' | translate}}
            </div>
          </div>
          <mat-expansion-panel expanded="false" #expandedPanel>
            <mat-expansion-panel-header >
              <mat-panel-title (click)="selectActivity(activity); $event.stopPropagation()">
                <div class="form-inline">
                  <div class="category-element">
                    <span class="activity-time gray-text">{{getCalendarTime(activity.dateTimeFrom)}}</span>
                    <img class="new-activity-icon"
                         src="assets/icons/calendar/{{activity.activityType | lowercase}}-activity.svg"/>
                  </div>
                  <div class="category-text">
                    <div class="header-text">{{activity.subject}}</div>
                    <div class="gray-text">{{activity.description}}</div>
                  </div>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="activity-body" [ngClass]="('border-' + activity.activityType) | lowercase">
              <div class="body-content">
                <div class="form-inline mb-3">
                  <div class="mr-3" *ngIf="activity.place || (activity.latitude && activity.longitude)">
                    <div class="title-text">{{'tabs.activity.location' | translate}}</div>
                    <div class="blue-text">{{activity.place}}</div>
                  </div>
                  <div class="mr-3">
                    <div class="title-text">{{'tabs.activity.beginning' | translate}}</div>
                    <div class="blue-text">{{getTime(activity.dateTimeFrom)}}</div>
                  </div>
                  <div class="mr-3">
                    <div class="title-text">{{'tabs.activity.finish' | translate}}</div>
                    <div class="blue-text">{{getEndTime(activity.dateTimeFrom, activity.dateTimeTo)}}</div>
                  </div>
                </div>
                <div class="activity-description">{{activity.description}}</div>
              </div>
            </div>
          </mat-expansion-panel>
          <span class="category-img-line"
                [ngClass]="{'expanded': expandedPanel.expanded,
                        'color-meeting': activity.activityType === 'MEETING',
                        'color-mail': activity.activityType === 'MAIL',
                        'color-task': activity.activityType === 'TASK',
                        'color-phone': activity.activityType === 'PHONE'}">
          </span>
        </ng-container>
      </mat-accordion>
    </div>
  </div>
</ng-template>
