@import "~src/styles/colors";
@import "~src/styles/slider-card";
@import "~src/styles/font-weights.scss";
@import "~src/styles/common.scss";


.activity-tab {
  ::ng-deep .mat-expansion-panel-header-title {
    position: relative;
  }
  .activity-dots {
    position: absolute;
    right: 8px;
    top: 8px;
  }

  .new-activity-icon {
    width: 36px;
  }

  .separator {
    background: $bg-secondary;
    height: 4px;
    margin-top: 15px;
    border-radius: 16px;
  }

  .category-title {
    font-size: 10px;
    font-weight: $Medium;
    letter-spacing: 1.2px;
    color: $text-title;
    width: 200px;
    text-align: right;
    text-transform: uppercase;
    margin-top: 20px;
  }

  .category-title.blue {
    color: $primary !important;
  }


  .category-content {
    .category-element {
      width: 190px;
      text-align: right;

      .activity-time {
        margin-right: 15px;
      }
    }

    .category-text {
      margin-left: 25px;
    }

    .mat-expansion-panel {
      box-shadow: none;
      min-height: 55px !important;
    }

    .activity-body {
      margin-left: 196px;
      padding-left: 40px;
      padding-top: 10px;

      .body-content {
        background-color: $bg-secondary;
        margin-right: 18px;
        padding: 15px;
        border-radius: 8px;
        font-weight: $Regular;

        .title-text {
          font-size: 10px;
          font-weight: $Medium;
          letter-spacing: 1.2px;
          color: $text-title;
          text-transform: uppercase;
          height: 18px;
        }

        .blue-text {
          color: $primary;
          font-weight: $SemiBold;
          height: 18px;
        }
      }
    }
  }
}

::ng-deep.activity-tab .category-content .mat-expansion-panel-body {
  padding: 0px;
  margin-top: -10px;
}

.category-img-line.expanded {
  margin-top: -16px !important;
  height: 20px !important;
}

.category-img-line {
  width: 2px;
  height: 15px;
  margin-left: 196px;
  margin-top: -11px;
  position: absolute;
}

.color-meeting {
  background-color: $meeting-color;
}

.color-mail {
  background-color: $mail-color;;
}

.color-task {
  background-color: $task-color;
}

.color-phone {
  background-color: $phone-color;
}

.border-meeting {
  border-left: 2px solid $meeting-color;
}

.border-mail {
  border-left: 2px solid $mail-color;
}

.border-task {
  border-left: 2px solid $task-color;
}

.border-phone {
  border-left: 2px solid $phone-color;
}

.gray-text {
  font-size: 12px;
  font-weight: $Medium;
  color: $text-secondary;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
}

.no-activities.big-size:not(.add-activity-visible),
.activities-all.big-size:not(.add-activity-visible) {
  height: calc(100vh - 425px) !important;
}
.no-activities:not(.add-activity-visible),
.activities-all:not(.add-activity-visible) {
  height: calc(100vh - 650px);
  overflow-y: auto;
}
.no-activities.big-size.add-activity-visible,
.activities-all.big-size.add-activity-visible {
  height: calc(100vh - 495px) !important;
}
.no-activities.add-activity-visible,
.activities-all.add-activity-visible {
  height: calc(100vh - 720px);
  overflow-y: auto;
}

.activities-all > div {
  position: relative;
}
.location-button {
  width: 20px;
  margin-left: 10px;
  cursor: pointer;
}
.no-activities {
  .content {
    top: 55%;
    left: 50%;
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    .sad-face {
      width: 65px !important;
    }
    .big-text {
      font-size: 20px;
      font-weight: $Medium;
      color: $action-color;
      margin-top: 20px;
    }
    .small-text {
      font-size: 14px;
      font-weight: $Medium;
      color: $text-secondary;
      text-align: center;
    }
    img {
      width: 24px;
    }
  }
}

.activity-description {
  word-break: break-word;
}

.header-text {
  width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
}
