@import "~src/styles/table";
@import "~src/styles/font-weights";

.header {
  background-color: $primary;
  height: 105px;
}

.additional-header {
  position: fixed;
  background-color: $primary;
  height: 105px;
  width: 3px;
  margin-left: -3px;
}

.field-text {
  font-weight: $Regular;
  font-size: 13px;
  color: $action-color;
}

.font-size-12 {
  font-size: 12px !important;
}

.after-finish-placeholder {
  font-weight: $Medium;
  margin: 15px 0;
}

.title-image {
  width: 46px;
  margin-top: -10px;
}

.title-input {
  width: calc(100% - 70px);
  margin-left: 16px;
  margin-top: 10px;
}

::ng-deep .title-input * .mat-input-element {
  color:  $primary-contrast !important;
  font-weight: $Medium !important;
}

// placeholder
::ng-deep .title-input * .placeholder {
  color: rgba($primary-contrast-rgb, 0.5);;
}
::ng-deep .title-input * .mat-form-field-required-marker {
  color: rgba($primary-contrast-rgb, 0.5);;
}

::ng-deep .title-input * .mat-form-field-underline {
  background-color: rgba($bg-primary-rgb, 0.5) !important;
}

::ng-deep .title-input * .mat-form-field-empty.mat-form-field-label {
  color: rgba($primary-contrast-rgb, 0.5) !important;
  font-weight: $Medium !important;
}

::ng-deep .user-list-dropdown > mat-option.mat-active,
::ng-deep .acceptance-type-dropdown > mat-option.mat-active {
  color: $text-title !important;
  font-weight: $Medium !important;
}

::ng-deep .user-list-dropdown > mat-option:not(.mat-active),
::ng-deep .acceptance-type-dropdown > mat-option:not(.mat-active) {
  color: $action-color !important;
  font-weight: $Medium !important;
}

::ng-deep .user-list-dropdown * .mat-select-value-text,
::ng-deep .acceptance-type-dropdown * .mat-select-value-text {
  color: $text-title !important;
  font-weight: $SemiBold !important;
}

::ng-deep .acceptance-checkbox * .mat-checkbox-inner-container {
  width: 20px;
  height: 20px;
}
.text-area-field:focus {
  background-color: $bg-primary;
  border-color: $border-primary;
  color: $text-title;
}
.text-area-field {
  background-color: $bg-primary;
  border-color: $border-secondary;
}

.display-content {
  display: contents;
}
.display-flex {
  display: flex;
}

.content {
  overflow-y: auto;
  height: calc(100% - 115px);
}

::ng-deep .task-list-menu > .mat-menu-content {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  font-weight: $Bold;
  button {
    font-weight: $SemiBold;
    img {
      margin-bottom: .2em;
    }
  }
}

.task-dots-button {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
  color:  $primary-contrast;
}

.task-days-to-complete {
  .input {
    display: flex;
    align-items: center;
    .title {
      color: rgb(49, 157, 248);
      font-weight: 300;
    }
    .spacer {
      flex: 1
    }
    .field {
      width: 60px !important;
    }
  }
  .error {
    position: relative;
    top: -15px;
  }
}

.disable-background {
  background-color: $bg-secondary !important;
  height: calc(100% - 105px) !important;
}
.name-invalid-message {
  display: block;
  text-align: center;
  color: $text-secondary;
  font-size: 13px;
  font-weight: $Medium;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  .message-row {
    max-width: 180px;
    text-align: center;
    img {
      width: 20px;
      height: 20px;
    }
  }
}

@each $color in 'EAECEF' '319DF8' 'AF7EFF' 'FF718C' '3ACB9C' '837575' {
  .checkbox-color-#{$color}.mat-checkbox-checked ::ng-deep.mat-checkbox-background {
    background-color: unquote('#' + $color);
  }
}

.task-name,
.task-name mat-error {
  color:  $primary-contrast !important;
}

.task-name ::ng-deep.mat-form-field-ripple {
  background-color: $bg-primary !important;
}

.task-name ::ng-deep.mat-input-element {
  caret-color:  $primary-contrast !important;
}

.task-name ::ng-deep.mat-form-field-required-marker {
  color:  $primary-contrast !important;
}
