<form [formGroup]="taskTitleForm" class="display-content">
  <div
    class="additional-header"
    [ngStyle]="{
      'background-color': storedProcess.bgColor,
      color: storedProcess.textColor
    }"
  ></div>
  <div
    class="header p-3 form-inline"
    [ngStyle]="{
      'background-color': storedProcess.bgColor,
      color: storedProcess.textColor
    }"
  >
    <img
      class="title-image"
      src="{{
        'assets/icons/task/task_' +
          bpmnUtil.getColorNameByBgColorHex(storedProcess.bgColor) +
          '_short.svg'
      }}"
    />
    <div class="title-input">
      <mat-form-field class="w-100 task-name">
        <input
          matInput
          (ngModelChange)="nameChanged($event)"
          formControlName="name"
          [readonly]="selectedTaskPanel?.task?.isInformationTask"
          required
        />
        <mat-placeholder class="placeholder">{{
          "bpmn.panel.task.namePlaceholder" | translate
        }}</mat-placeholder>
        <mat-error *ngIf="taskTitleForm.get('name').hasError('required')">
          {{ "bpmn.panel.task.nameRequiredError" | translate }}
        </mat-error>
        <mat-error
          *ngIf="
            taskTitleForm.get('name').hasError('whitespace') &&
            !taskTitleForm.get('name').hasError('required')
          "
        >
          {{ "sharedValidators.whitespace" | translate }}
        </mat-error>
        <mat-error *ngIf="taskTitleForm.get('name').hasError('taskNameExist')">
          {{ "bpmn.panel.task.nameExistError" | translate }}
        </mat-error>
        <mat-error *ngIf="taskTitleForm.get('name').hasError('maxlength')">
          {{ "bpmn.panel.task.nameMaxLengthError" | translate }}
        </mat-error>
      </mat-form-field>
    </div>
    <button
      *ngIf="!selectedTaskPanel?.task?.isInformationTask"
      [matMenuTriggerFor]="propertyList"
      (click)="$event.stopPropagation()"
      type="button"
      class="dots-icon-white task-dots-button"
    ></button>
    <mat-menu #propertyList="matMenu" xPosition="before" class="task-list-menu">
      <button
        class="dropdown-select-item"
        mat-menu-item
        (click)="tryRemoveTask()"
      >
        <app-icon svgIcon="trash" [hover]="false" size="16px"></app-icon>

        {{ "bpmn.panel.task.deleteTask" | translate }}
      </button>
    </mat-menu>
  </div>
  <div
    *ngIf="
      storedProcess &&
      isNameValid() &&
      !selectedTaskPanel?.task?.isInformationTask
    "
    class="pl-4 pt-4 pr-4 content"
  >
    <div class="field-text">
      {{ "bpmn.panel.task.taskTip" | translate }}
    </div>

    <app-bpmn-text-editor
      #documentationTextArea
      [htmlContent]="documentation"
      (valueChanged)="documentationChanged($event)"
      [textAreaPlaceholder]="
        'bpmn.panel.task.documentationPlaceholder' | translate
      "
    >
    </app-bpmn-text-editor>

    <div *ngIf="storedProcess.objectType === bpmnObjectTypeEnum.OPPORTUNITY">
      <mat-form-field>
        <mat-select
          formControlName="salesOpportunity"
          (selectionChange)="salesOpportunityChanged($event.value)"
        >
          <mat-option
            *ngFor="
              let percentage of [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
            "
            [value]="percentage"
          >
            {{ percentage }}%
          </mat-option>
        </mat-select>
        <mat-placeholder class="placeholder">{{
          "bpmn.panel.task.salesOpportunity" | translate
        }}</mat-placeholder>
        <mat-error
          *ngIf="
            taskTitleForm.get('salesOpportunity').hasError('max') ||
            taskTitleForm.get('salesOpportunity').hasError('min')
          "
        >
          {{ "bpmn.panel.task.salesOpportunityMinMaxValue" | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="task-days-to-complete">
      <div class="input">
        <div class="title">
          {{ "bpmn.panel.task.daysToComplete" | translate }}*
        </div>
        <div class="spacer"></div>
        <mat-form-field class="field">
          <input
            matInput
            type="number"
            (ngModelChange)="daysToCompleteChanged($event)"
            formControlName="daysToComplete"
            required
          />
        </mat-form-field>
        <div>{{ "bpmn.panel.task.days" | translate }}</div>
      </div>
      <div class="error">
        <mat-error
          *ngIf="taskTitleForm.get('daysToComplete').hasError('required')"
        >
          {{ "bpmn.panel.task.daysToCompleteRequiredError" | translate }}
        </mat-error>
        <mat-error
          *ngIf="
            taskTitleForm.get('daysToComplete').hasError('min') ||
            taskTitleForm.get('daysToComplete').hasError('pattern')
          "
        >
          {{ "bpmn.panel.task.daysToCompleteValueError" | translate }}
        </mat-error>
      </div>
    </div>

    <div class="field-text after-finish-placeholder">
      {{ "bpmn.panel.task.afterTaskFinish" | translate }}
    </div>

    <div
      class="field-text display-flex mt-1"
      [ngStyle]="{ color: storedProcess.bgColor }"
    >
      <mat-checkbox
        #notificationCheckbox
        (ngModelChange)="updateNotification()"
        class="acceptance-checkbox mr-2"
        [ngClass]="
          storedProcess.bgColor
            ? 'checkbox-color-' + storedProcess.bgColor.substring(1)
            : ''
        "
        formControlName="notificationRequired"
        color="primary"
      ></mat-checkbox>
      <span>{{ "bpmn.panel.task.sendNotification" | translate }}</span>
    </div>

    <div *ngIf="notificationCheckbox.checked">
      <mat-form-field
        [floatLabel]="'never'"
        class="w-100 pl-4 acceptance-type-dropdown"
      >
        <mat-select
          panelClass="acceptance-type-dropdown"
          class="acceptance-type-dropdown"
          formControlName="notificationType"
          (ngModelChange)="updateNotification()"
          placeholder="{{ 'bpmn.panel.task.chooseFromList' | translate }}"
        >
          <mat-option value="users">{{
            "bpmn.panel.task.notificationTypes.users" | translate
          }}</mat-option>
          <mat-option value="superior">{{
            "bpmn.panel.task.notificationTypes.superior" | translate
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div *ngIf="showNotificationUserForm()">
      <mat-form-field
        [floatLabel]="'never'"
        class="w-100 pl-4 user-list-dropdown"
      >
        <mat-select
          panelClass="user-list-dropdown"
          class="user-list-dropdown"
          multiple
          formControlName="notificationUser"
          (ngModelChange)="updateNotification()"
          placeholder="{{ 'bpmn.panel.task.chooseFromList' | translate }}"
        >
          <mat-option
            *ngFor="let account of accountEmailList"
            [value]="account.id"
            >{{ account.name }} {{ account.surname }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>

    <div
      class="field-text display-flex mt-1"
      [ngStyle]="{ color: storedProcess.bgColor }"
    >
      <mat-checkbox
        #acceptanceCheckbox
        (ngModelChange)="updateAcceptance()"
        class="acceptance-checkbox mr-2"
        [ngClass]="
          storedProcess.bgColor
            ? 'checkbox-color-' + storedProcess.bgColor.substring(1)
            : ''
        "
        formControlName="acceptanceRequired"
        color="primary"
      ></mat-checkbox>
      <span>{{ "bpmn.panel.task.acceptanceRequired" | translate }}</span>
    </div>

    <div *ngIf="acceptanceCheckbox.checked">
      <mat-form-field
        [floatLabel]="'never'"
        class="w-100 pl-4 acceptance-type-dropdown"
      >
        <mat-select
          panelClass="acceptance-type-dropdown"
          class="acceptance-type-dropdown"
          formControlName="acceptanceType"
          (ngModelChange)="updateAcceptance()"
          placeholder="{{
            'bpmn.panel.task.acceptanceTypePlaceholder' | translate
          }}"
        >
          <mat-option value="users">{{
            "bpmn.panel.task.acceptanceTypes.users" | translate
          }}</mat-option>
          <mat-option value="superior">{{
            "bpmn.panel.task.acceptanceTypes.superior" | translate
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div *ngIf="showAcceptanceUserForm()">
      <mat-form-field
        [floatLabel]="'never'"
        class="w-100 pl-4 user-list-dropdown"
      >
        <mat-select
          panelClass="user-list-dropdown"
          class="user-list-dropdown"
          formControlName="acceptanceUser"
          (ngModelChange)="updateAcceptance()"
          placeholder="{{
            'bpmn.panel.task.acceptanceUserPlaceholder' | translate
          }}"
        >
          <mat-option
            *ngFor="let account of accountEmailList"
            [value]="account.id"
            >{{ account.name }} {{ account.surname }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div
    class="pl-4 pt-4 pr-4 content position-relative disable-background"
    *ngIf="!isNameValid()"
  >
    <div class="name-invalid-message">
      <div class="message-row">
        <app-icon svgIcon="info" [primary]="true" [pointer]="false" size="20px"></app-icon>
      </div>
      <div class="message-row">
        {{ "bpmn.panel.task.setNameToShowOptions" | translate }}
      </div>
    </div>
  </div>
</form>
