@import '~src/styles/colors';
@import "~src/styles/font-weights";

.no-outline-button {
  outline: none !important;
}

.title {
  color: $action-color;
  font-weight: $Medium;
  font-size: 18px;
}
.header {
  color: $text-primary;
  font-weight: $Medium;
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cross-icon {
  background-image: url('../../../../../assets/icons/crossicon.svg');
  content: ' ';
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
  margin-bottom: -4px;
  display: inline-block;
}

.content {
  display: flex;
  min-height: 100px;
}

.content > * {
  margin-left: 10px;
}

.short-input {
  width: 60px;
}

.medium-input {
  width: 100px;
}

.button-medium {
  width: 105px;
}
