<div mat-dialog-title>
  <div class="header">
    <div class="title">{{'opportunity.details.products.manualAdd.edit.title' | translate}}</div>
    <button class="no-outline-button btn-transparent" (click)="close()">
      <span class="cross-icon"></span>
    </button>
  </div>
</div>
<div mat-dialog-content class="content" *ngIf="opportunityProductEditDTO">
  <mat-form-field>
    <input matInput disabled [value]="opportunityProductEditDTO.name">
    <mat-placeholder
      class="placeholder">{{'opportunity.details.products.manualAdd.edit.name' | translate}}</mat-placeholder>
  </mat-form-field>
  <mat-form-field class="short-input">
    <input matInput required [(ngModel)]="opportunityProductEditDTO.sellPrice"
           mask="separator.2" [validation]="false">
    <mat-placeholder
      class="placeholder">{{'opportunity.details.products.manualAdd.edit.price' | translate}}</mat-placeholder>
    <mat-error *ngIf="!opportunityProductEditDTO.sellPrice">
      {{'opportunity.details.products.manualAdd.fieldRequired' | translate}}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="short-input">
    <input matInput required [(ngModel)]="opportunityProductEditDTO.quantity" type="number">
    <mat-placeholder
      class="placeholder">{{'opportunity.details.products.manualAdd.edit.quantity' | translate}}</mat-placeholder>
    <mat-error *ngIf="!opportunityProductEditDTO.quantity">
      {{'opportunity.details.products.manualAdd.fieldRequired' | translate}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-select [disabled]="!opportunityProductEditDTO.opportunityProduct" required [(ngModel)]="opportunityProductEditDTO.unit">
      <mat-option *ngFor="let unit of units" [value]="unit.id">{{unit.name}}</mat-option>
    </mat-select>
    <mat-placeholder class="placeholder">{{'opportunity.details.products.manualAdd.unit' | translate}}</mat-placeholder>
  </mat-form-field>
  <mat-form-field class="medium-input">
    <input matInput disabled class="text-right pr-3"
           [value]="((opportunityProductEditDTO.sellPrice * opportunityProductEditDTO.quantity) | formatCurrency:this.data.currency)">
    <mat-placeholder
      class="placeholder">{{'opportunity.details.products.manualAdd.edit.priceSummed' | translate}}</mat-placeholder>
  </mat-form-field>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <button (click)="close()" class="button-medium" color="primary" mat-stroked-button>
        {{'opportunity.details.products.manualAdd.edit.cancel' | translate}}
      </button>
      <button (click)="submit()" class="button-medium ml-2" color="primary" mat-raised-button>
        {{'opportunity.details.products.manualAdd.edit.submit' | translate}}
      </button>
    </div>
  </div>
</div>
