<div class="w-100 h-100 card-padding">
  <mat-card class="mat-elevation-z0 main-mat-card mat-card card-border-radius no-bottom-border-radius">
    <app-profile-form #profileFormComponent [profileSave]="profileSave"></app-profile-form>
  </mat-card>

  <div class="button-container">
    <mat-card class="mat-elevation-z0 card-border-radius no-top-border-radius">
      <div class="row">
        <div class="col-md-12">
          <div class="pull-right">
            <button class="ml-2" mat-raised-button (click)="closeSlider()"><span
              class="fa fa-long-arrow-left"></span> {{'permissions.profile.add.back' | translate}}</button>
            <button class="ml-2" mat-raised-button (click)="saveForm()" color="primary"><span
              class="fa fa-floppy-o"></span> {{'permissions.profile.add.save' | translate}}</button>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
