<div class="w-100 h-100 card-padding">

  <mat-card class="mat-elevation-z0 main-mat-card mat-card card-border-radius no-bottom-border-radius">
    <form class="h-100">
      <div [formGroup]="inputForm" class="form-container slider-separator">
        <div class="col-md-12">
          <div class="card-padding">
            <div class="row" *ngIf="showTitleField">
              <mat-form-field class="pl-3 pr-3 mt-4 w-100">
                <input formControlName="name" matInput>
                <mat-placeholder
                  class="placeholder">{{'administration.gdpr.' + prefix + '.name' | translate}}</mat-placeholder>
                <mat-error *ngIf="name.hasError('required')">
                  {{'administration.gdpr.formComponent.fieldRequired' | translate}}
                </mat-error>
                <mat-error *ngIf="name.hasError('whitespace')">
                  {{'sharedValidators.whitespace' | translate}}
                </mat-error>
                <mat-error *ngIf="name.hasError('nameExists')">
                  {{'administration.gdpr.formComponent.nameExists' | translate}}
                </mat-error>
                <mat-error *ngIf="name.hasError('maxlength')">
                  {{'sharedValidators.valueTooLong' | translate}}
                </mat-error>
              </mat-form-field>
            </div>
            <div *ngIf="showDefaultStatusOptionField">
              <mat-select formControlName="defaultStatus">
                <mat-option *ngFor="let status of defStatus" [value]="status.key">
                  {{status.value | translate}}
                </mat-option>
              </mat-select>
            </div>
            <div *ngIf="showDescriptionField" class="row">
              <div class="col-md-12 card-padding">
              <textarea formControlName="description"
                        placeholder="{{'administration.gdpr.agree.description' | translate}}"
                        class="pl-3 pr-3 mt-4 w-100 form-control mt-2 mb-4 text-area-field" rows="6"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </mat-card>

  <div class="button-container">
    <mat-card class="mat-elevation-z0 card-border-radius no-top-border-radius">
      <div class="row">
        <div class="col-md-12">
          <div class="pull-right">
            <button (click)="closeSlider()" class="button-medium" color="primary"
                    mat-stroked-button>{{'administration.gdpr.formComponent.cancel' | translate}}</button>
            <button (click)="save()" class="button-medium ml-2 form-inline" color="primary"
                    mat-raised-button
                    *ngIf="'OpportunityCreateComponent.save' | auth:'w'">
              <span class="button-with-progress-bar">
                {{'administration.gdpr.formComponent.save' | translate}}
              </span>
            </button>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
