<div mat-dialog-title>
  <div class="header">
    <div class="title" *ngIf="data.activityType">
      <div class="activity-title form-inline">
        <img
          src="{{
            'assets/icons/calendar/' +
              data.activityType.toString().toLowerCase() +
              '-activity.svg'
          }}"
          class="cursor-pointer"
        />
        <span
          class="text"
          [ngClass]="data.activityType.toString().toLowerCase()"
        >
          {{
            "calendar.form.activityTitle." +
              data.activityType.toString().toLowerCase() | translate
          }}
        </span>
      </div>
    </div>
    <div class="title" *ngIf="!data.activityType">{{ data.subject }}</div>
    <div>
      <button
        [matMenuTriggerFor]="menu"
        *ngIf="isItMyTask()"
        class="no-outline-button btn-transparent"
        appTooltip="MORE"
      >
        <app-icon svgIcon="option-dots" [hover]="false"></app-icon>
      </button>
      <button
        class="no-outline-button btn-transparent"
        (click)="close()"
        appTooltip="CLOSE"
      >
        <app-icon svgIcon="cross" [hover]="false"></app-icon>
      </button>
    </div>
  </div>
</div>

<mat-menu #menu="matMenu" xPosition="before">
  <button
    (click)="editEvent(data.id)"
    mat-menu-item
    class="dropdown-select-item"
    *ngIf="'CalendarComponent.editTask' | auth: 'w'"
  >
    <app-icon svgIcon="edit" [hover]="false" size="17px"></app-icon>
    {{ "calendar.event.actions.edit" | translate }}
  </button>
  <button
    (click)="openDeleteDialog(data.id)"
    mat-menu-item
    class="dropdown-select-item"
    *ngIf="'CalendarComponent.removeTask' | auth: 'w'"
  >
    <app-icon svgIcon="trash" [hover]="false" size="17px"></app-icon>
    {{ "calendar.event.actions.delete" | translate }}
  </button>
</mat-menu>

<div mat-dialog-content>
  <div class="dialog-info">
    <div>
      <div class="row">
        <div class="col-md-4 event-data-label">
          {{ "calendar.event.start" | translate }}
        </div>
        <div class="col-md-8 event-data-value">
          {{ data.dateTimeFrom | formatDate: !data.allDayEvent }}
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 event-data-label">
          {{ "calendar.event.end" | translate }}
        </div>
        <div class="col-md-8 event-data-value">
          {{ data.dateTimeTo | formatDate: !data.allDayEvent }}
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 event-data-label">
          {{ "calendar.event.place" | translate }}
        </div>
        <div class="col-md-6 event-data-value">
          {{ data.place }}
        </div>
        <div class="col-md-2 event-data-value">
          <app-icon
            *ngIf="data && data.latitude && data.longitude"
            appTooltip="OPEN_IN_MAP"
            svgIcon="gps-line"
            [primary]="true"
            (click)="openMap()"
          ></app-icon>
        </div>
      </div>

      <div class="row" *ngIf="data.activityType">
        <div class="col-md-4 event-data-label">
          {{ "calendar.event.state" | translate }}
        </div>
        <div class="col-md-8 event-data-value">
          {{ "calendar.event.states." + data.state | lowercase | translate }}
        </div>
      </div>

      <div class="row" *ngIf="data.activityType">
        <div class="col-md-4 event-data-label">
          {{ "calendar.event.priority" | translate }}
        </div>
        <div class="col-md-8 event-data-value">
          {{
            "calendar.event.priorities." + data.priority | lowercase | translate
          }}
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 event-data-label">
          {{ "calendar.event.creator" | translate }}
        </div>
        <div class="col-md-8 event-data-value link-text">
          {{ creator?.email }}
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 event-data-label">
          {{ "calendar.event.owner" | translate }}
        </div>
        <div class="col-md-8 event-data-value link-text">
          {{ owner?.email }}
        </div>
      </div>
    </div>
    <ng-container *ngTemplateOutlet="association"></ng-container>
  </div>
</div>

<div class="position-fixed" style="width: 40vw">
  <app-slider
    #mapSlider
    width="40vw"
    [title]="'calendar.event.location' | translate"
    key="SingleEvent.MapSlider"
  >
    <div class="p-2 w-100 h-100">
      <app-map-view
        #mapView
        class="w-100 h-100"
        [mapCenter]="mapCenter"
        [markers]="markers"
        [showMap]="showMap"
        [selectable]="false"
        [zoom]="12"
      ></app-map-view>
    </div>
  </app-slider>
</div>

<ng-template #association>
  <div *ngIf="associations" class="event-relations">
    <div class="event-relations-label">
      {{ "calendar.event.relations" | translate }}
    </div>
    <div class="task-association">
      <div *ngFor="let association of associations">
        <mat-form-field class="event-relations-input">
          <div (click)="handleClickRelations(association)">
            <img
              *ngIf="association.objectType === 'file'"
              src="{{ association.label | fileFormatToIcon }}"
              class="icon"
            />
            <input
              matInput
              [placeholder]="
                'assignToGroup.placeholder.' + association.objectType
                  | translate
              "
              disabled
              [value]="association.label"
              [class.start-icon]="association.objectType === 'file'"
            />
          </div>
        </mat-form-field>
      </div>
    </div>
  </div>
</ng-template>
