@import "~src/styles/slider";
@import "~src/styles/form";
@import "~src/styles/font-weights";

.header {
  color: $text-primary;
  font-weight: $Medium;

  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid rgba($border-color-rgb, 0.5);

  margin-left: -24px;
  margin-right: -24px;
  padding-left: 24px;
  padding-right: 24px;

  padding-bottom: 10px;
  margin-top: -5px;
}

.container {
  color: $text-primary;
}

.event-data-label {
  font-size: 12px;
  color: $text-secondary;
  font-weight: $Medium;
}

.event-data-value {
  font-size: 13px;
  color: $text-tertiary;
  font-weight: $Medium;
}
.title {
  color: $action-color;
  font-weight: $Medium;
  font-size: 18px;
}
.row {
  margin-top: 15px;
}

.no-outline-button {
  outline: none !important;
}

.cross-icon {
  background-image: url("../../../../assets/icons/crossicon.svg");
  content: " ";
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
  margin-bottom: -4px;
  display: inline-block;
}

.simple-icon {
  display: inline-block;
  content: " ";
  background-size: 18px 18px;
  width: 18px;
  height: 18px;
  margin-bottom: -2px;
}

.expand-icon {
  color: $text-secondary;
  font-size: 18px;
  padding-right: 5px;
}

::ng-deep.mat-dialog-title {
  margin: 0;
}

.activity-title {
  img {
    width: 36px;
    height: 36px;
    margin-left: -5px;
  }
  .text {
    font-size: 20px;
    font-weight: $Medium;
    padding-left: 15px;
    position: initial;
  }
  .text.meeting {
    color: $meeting-color;
  }
  .text.phone {
    color: $phone-color;
  }
  .text.task {
    color: $task-color;
  }
  .text.mail {
    color: $mail-color;
  }
}

.link-text {
  color: $primary;
}
.dialog-info {
  display: flex;
}

::ng-deep .event-relations {
  margin-top: 15px;
  margin-left: 45px;
  &-label {
    margin-bottom: 15px;
    font-size: 12px;
    color: $text-secondary;
    font-weight: $Medium;
  }
  &-input {
    &.mat-form-field {
      .mat-form-field-label {
        color: $text-secondary;
      }
      .mat-form-field-wrapper {
        padding-bottom: 15px;
      }
      .mat-input-element:disabled {
        color: $primary !important;
        cursor: pointer;

        &.start-icon {
          padding-left: 25px;
        }
      }
    }

    .icon {
      position: absolute;
      left: -2px;
      bottom: 5px;
      cursor: pointer;
      transform: scale(0.75);
    }
  }
}
