<div class="login-container">
  <img src="assets/icons/shared/crm-logo.svg" class="login-logo-image"/>

  <div class="login-values">
    <div class="login-title">{{'register.successful.title' | translate}}</div>
    <div class="login-description mt-4">{{'register.successful.description1' | translate}}</div>
    <div class="login-description mt-2">{{'register.successful.description2' | translate}}</div>
  </div>
  <img src="assets/icons/login/background-login.png" class="login-background-image"/>
</div>
