@import "~src/styles/colors";

.goal-user-list {
  .title {
    font-weight: $Medium;
    font-size: 16px;
    color: $action-color;

    .plus-icon {
      cursor: pointer;
    }
  }

  .row-height {
    height: 50px !important;
  }

  .row-border {
    border-left: 1px solid rgba($contrast-rgb, 0.12);
  }
}

.hide-table {
  display: none;
}

.user-table {
  overflow: auto;

  table {
    margin-bottom: 10px;
  }

  ::ng-deep {

    .mat-input-element {
      font: $Medium 16px Poppins !important;
      letter-spacing: 0;
      color: $action-color !important;
      opacity: 1;
      cursor: pointer;
    }

    .mat-form-field-underline {
      background: unset;
      background-image: unset !important;
      height: 0 !important;
    }

    .center-text {
      text-align: center;
      padding: 0 !important;
    }

    .cell-border {
      border-right: 1px solid rgba($contrast-rgb, 0.12);
    }

    .mat-column-userName {
      text-align: left !important;
    }

    .mat-header-cell.not-year-title {
      padding-bottom: 18px;
    }

    .mat-header-cell {
      font-size: 13px;
      color: $action-color;
      font-weight: $Medium;
      padding-bottom: 8px;
      text-align: center;

      .dark {
        color: $text-title !important;
      }

      .dark-light {
        color: rgba($text-title-rgb, .2) !important;
      }

      .description {
        color: $text-secondary;
        font-size: 10px;
        min-width: 70px;
      }
    }

    .header-background {
      background-color: $bg-primary;
    }

    .blue-cell {
      font-size: 16px !important;
      color: $primary;
      font-weight: $SemiBold;
      text-align: center;
      padding-top: 15px;
    }

    .sum-cell {
      padding-left: 30px;
    }

    .checkbox-cell {
      border: 0;
      background-color: $bg-primary !important;

      .content {
        padding-top: 15px;
        text-align: right;
        display: flex;
        padding-left: 10px;

        height: 57px;
        background-color: $bg-primary !important;
      }

      .mat-checkbox-layout {
        margin-top: 6px;
      }
    }

    .action-column {
      width: 150px;
      border: 0;
    }
  }
}

.max-content-width {
  width: max-content;
}

.user-name-column {
  margin-top: 5px;

  .cross-icon {
    cursor: pointer;
  }

  .name {
    font-size: 13px;
    color: $primary;
    font-weight: $Medium;
  }

  .role {
    margin-top: -5px;
    font-size: 12px;
    color: $action-color;
    font-weight: $Medium;
  }
}

.input-amount-suffix {
  position: relative;
  top: -4px;

  font: $Medium 16px Poppins !important;
  letter-spacing: 0;
  color: $action-color !important;
  opacity: 1;

  margin-left: 3px;
}
