@import "~src/styles/slider";
@import "~src/styles/font-weights";
@import "~src/styles/colors";
@import "~src/styles/form";

.payment-form {
  padding-top: 16px;
}

$card-padding: 30px;
$inner-padding: $card-padding * 0.66;
$outer-padding: $card-padding * 0.33;

mat-card {
  padding: 0;
}

.card-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  height: calc(100vh - 100px)
}

.fill-space {
  flex-grow: 1;
}

.buttons-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: $card-padding;
  height: 86px;
}

.main-card {
  flex-grow: 1;
  height: 100%;
  padding: $outer-padding;

}

.inner-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
  position: relative;
  padding: $inner-padding;
}

.dictionary-header > mat-form-field {
  width: 100%;
}


:ng-deep .dictionary-option .mat-option-pseudo-checkbox {
  order: 2;
}

::ng-deep .dictionary-option.mat-selected {
  @extend .dictionary-option-selected-text
}

.dictionary-option-text {
  text-align: left;
  font: $Medium 13px/20px Poppins;
  letter-spacing: 0;
  color: #4e5d77;
  opacity: 1;
}

.dictionary-option-selected-text {
  font: $Medium 13px/20px Poppins !important;
  color: #0a1e44 !important;;
}

.placeholder {
  color: #8a94a6;
  font-size: 13px;
  font-weight: $Medium;
}
.button-with-progress-bar {
  display: flex;
  width: fit-content;
  margin: auto;
}
