<div class="card-container">
  <mat-card class="main-card card-border-radius no-bottom-left-border-radius no-bottom-right-border-radius">
    <div class="inner-container">
  <form [formGroup]="paymentForm" class="payment-form">
    <mat-form-field class="w-100">
      <input matInput [matDatepicker]="paymentDatePicker"
             [placeholder]="'license.form.paymentForm.paymentDate' | translate"
             formControlName="paymentDate">
      <mat-datepicker-toggle matSuffix [for]="paymentDatePicker"
                             class="custom-calendar-icon"></mat-datepicker-toggle>
      <mat-datepicker #paymentDatePicker></mat-datepicker>
      <mat-error *ngIf="paymentDate.hasError('required')">
        {{'license.form.paymentForm.fieldRequired' | translate}}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-select formControlName="licenseType" required>
        <mat-option [value]="licenseTypeEnum.FULL">{{'license.list.type.full' | translate}}</mat-option>
        <mat-option [value]="licenseTypeEnum.TRIAL">{{'license.list.type.trial' | translate}}</mat-option>
      </mat-select>
      <mat-placeholder class="placeholder">{{'license.form.paymentForm.licenseType' | translate}}</mat-placeholder>
      <mat-error *ngIf="licenseType.hasError('required')">
        {{'license.form.paymentForm.fieldRequired' | translate}}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-100">
      <input matInput required
             type="number"
             [placeholder]="'license.form.paymentForm.numberOfDays' | translate"
             formControlName="numberOfDays">
      <mat-error *ngIf="numberOfDays.hasError('required')">
        {{'license.form.paymentForm.fieldRequired' | translate}}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-100">
      <input matInput required
             type="number"
             [placeholder]="'license.form.paymentForm.numberOfUsers' | translate"
             formControlName="numberOfUsers">
      <mat-error *ngIf="numberOfUsers.hasError('required')">
        {{'license.form.paymentForm.fieldRequired' | translate}}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-100" *ngIf="payment">
      <input matInput [matDatepicker]="expiredDatePicker"
             [placeholder]="'license.form.paymentForm.expiredDate' | translate"
             formControlName="expiredDate">
      <mat-datepicker-toggle matSuffix [for]="expiredDatePicker"
                             class="custom-calendar-icon"></mat-datepicker-toggle>
      <mat-datepicker #expiredDatePicker></mat-datepicker>
    </mat-form-field>
  </form>

    </div>
  </mat-card>
  <mat-card class="buttons-bar card-border-radius no-top-left-border-radius no-top-right-border-radius">
  <div class="w-100">
          <span class="pull-right">
            <button mat-stroked-button class="button-medium" color="primary" type="button"
                    (click)="cancel()">{{'license.form.paymentForm.cancel' | translate}}</button>
            <button type="button"
                    mat-raised-button class="button-medium ml-2" color="primary"
                    (click)="save()">{{'license.form.paymentForm.save' | translate}}</button>
          </span>
  </div>
  </mat-card>
</div>
