@import '~src/styles/colors';
@import "~src/styles/font-weights";

.bcc-header-container,
.cc-header-container,
.to-header-container {
  padding-top: 20px;
  font: $Bold 13px/20px Poppins;
  width: 100px;
}
.to-address-container {
  position: relative;
  .address-buttons {
    position: absolute;
    right: 10px;
    z-index: 9998;
    margin-top: -5px;
  }
}

.mt-minus-15px {
  margin-top: -15px;
}

.cc-input-container,
.bcc-input-container,
.to-address-container {
  display: flex;
  .to-address-input-container,
  .bcc-mail-input-container,
  .cc-mail-input-container {
    width: calc(100% - 110px);
  }
}
.bcc-container,
.cc-container {
  font: $Medium 16px/25px Poppins;
  color: $primary;
}

.bcc-input-container,
.cc-input-container,
.to-address-container {
  width: 100%;
}

.sending-spinner {
  display: inline;
  margin-right: 10px;
}

.spinner-container {
  font-size: 16px;
  display: inline-flex;
  color: $primary;
  margin: 10px;
  font-weight: $Regular;
}

.attachment-icon {
  position: absolute;
  bottom: 4px;
  right: 0;
  cursor: pointer;
}

.editor-content {
  position: relative;
  padding: 0;
  margin: 0;
}

::ng-deep .mail-editor-text .mail-text-editor .ngx-editor {
  border-top: 1px solid $border-tertiary;
  padding-top: 10px;
  border-bottom: 1px solid $border-tertiary;
  padding-bottom: 25px;
}

::ng-deep .mail-editor-text .mail-text-editor .ngx-toolbar {
  bottom: 4px;
}

::ng-deep .mail-action-buttons {
  width: 100%;
  background-color: $bg-primary;
  bottom: 3px;
  right: 40px;
  z-index: 100;
  padding-bottom: 10px;
  padding-top: 10px;
}
