@import '~src/styles/colors';
@import "~src/styles/table";

.manufacturers-and-suppliers-header {
  font-weight: 400;
  font-size: 24px;
  color: $text-primary;
  letter-spacing: 0;
  line-height: 36px;
  height: 36px;
}

.manufacturers-and-suppliers-container {
  margin-top: 30px;
  display: flex;
}

.group-container {
  width: 50%;
}
