<mat-card class="mat-elevation-z8 fill-screen table-container">
  <div class="manufacturers-and-suppliers-header">{{'manufacturersAndSuppliers.list.title' | translate}}</div>
  <div class="manufacturers-and-suppliers-container">
    <div class="group-container">
      <app-manufacturers-list></app-manufacturers-list>
    </div>
    <div class="group-container">
      <app-suppliers-list></app-suppliers-list>
    </div>
  </div>
</mat-card>
