<div class="sidenav-parent">
  <div
    cdkDropList
    (cdkDropListDropped)="drop($event)"
    [cdkDropListDisabled]="!reordering || sidenavHidden"
  >
    <!--*ngIf="('NavigationMenu.' + element['name'] | auth:'w')"-->
    
    <div
      *ngFor="let element of elementsToShow; let index = index"
      cdkDrag
      cdkDragLockAxis="y"
      class="row sidenav-element position-relative m-0 primary-color"
      [class.sidenav-element-main]="index===0"
      [routerLink]="reordering && !sidenavHidden ? null : element['name']"
      [routerLinkActive]="reordering && !sidenavHidden ? '' : 'selected'"
      [ngClass]="{ opened: !sidenavHidden }"
    >
      <div class="w-100 sidenav-icon text-center">
        <app-icon [svgIcon]="element['icon']" [hover]="false" ></app-icon>
      </div>
      <div class="w-100 sidenav-text text-center" *ngIf="!sidenavHidden">
        {{ "sidenav." + element["name"] | translate }}
      </div>
      <button
        *ngIf="reordering && !sidenavHidden"
        mat-icon-button
        (click)="toggleVisible($event, element['name'])"
        class="visibility-button icon-button"
      >
        <mat-icon *ngIf="element['visible']">visibility</mat-icon>
        <mat-icon *ngIf="!element['visible']">visibility_off</mat-icon>
      </button>
    </div>
  </div>
</div>

<div
  (click)="reordering ? null : sidenavChanged.emit(!sidenavHidden)"
  [ngClass]="reordering ? '' : 'cursor-pointer'"
>
  <div class="sidemenu-bottom">
    <button
      *ngIf="!sidenavHidden && elements.length"
      class="btn-transparent"
      (click)="toggleReordering($event)"
    >
      <app-icon *ngIf="!reordering" svgIcon="edit" class="icon-button" [hover]="false"></app-icon>
      <mat-icon *ngIf="reordering" class="edit-button icon-button"> save </mat-icon>
    </button>
    <div *ngIf="!reordering" class="expand-button show-hide-button icon-button">
      <span *ngIf="sidenavHidden" class="fa fa-angle-right ml-2"></span>
      <span *ngIf="!sidenavHidden" class="fa fa-angle-left ml-2"></span>
    </div>
  </div>
</div>
