@import "~src/styles/colors";
@import "~src/styles/font-weights";
@import "~src/styles/icons";

.sidenav-text {
  font-size: 12px;
  letter-spacing: 0;
  line-height: 20px;
  font-weight: $SemiBold;
}

.sidenav-icon {
  color: $action-color;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  &::ng-deep.icon {
    fill: $color-navbar;
    stroke: $color-navbar;
    stroke-width: 0.5px;
  }
}

.sidenav-element-main {
  background-color: $bg-navbar-main !important;
  color: $color-navbar-active !important;
  height: 88px !important;
  &::ng-deep.icon {
    fill: $color-navbar-active;
    stroke: $color-navbar-active;
  }
}

.sidenav-parent {
  height: calc(100vh - 88px);
  overflow-y: auto;
}

.selected,
.selected > div {
  background-color: $bg-navbar-active !important;
  color: $color-navbar-active !important;
  &::ng-deep.icon {
    fill: $color-navbar-active;
    stroke: $color-navbar-active;
  }
}

.sidenav-element {
  cursor: pointer;
  height: 56px;
  align-items: center;
  background-color: $bg-navbar;
  color: $color-navbar;
  outline: 1px solid $bg-navbar;
}

.position-relative {
  position: relative;
}

.opened {
  .sidenav-icon {
    width: 50% !important;
  }

  .sidenav-text {
    font-weight: $SemiBold;
    font-size: 12px;
    margin-left: -10px;
    letter-spacing: 0;
    line-height: 20px;
    text-align: start !important;
    display: flex;
    align-items: center;
  }

  flex-wrap: inherit;
  height: 56px;
}

::ng-deep .cdk-drag-placeholder {
  opacity: 0;
}

::ng-deep .cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

::ng-deep .cdk-drop-list-dragging div:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

::ng-deep .cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba($contrast-rgb, 0.2),
    0 8px 10px 1px rgba($contrast-rgb, 0.14),
    0 3px 14px 2px rgba($contrast-rgb, 0.12);
  background-color: $bg-primary;
}

.visibility-button {
  position: relative;
  right: 0px;
  color: $color-navbar;
}

.icon-button {
  color: $color-navbar !important;
  &::ng-deep.icon {
    fill: $color-navbar !important;
  }
}

.edit-button {
  @extend .button-icon;
  color: $action-color;
}

.sidemenu-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 88px;
}

.cursor-pointer {
  cursor: pointer;
}

.show-hide-button {
  color: $action-color;
  font-size: 24px;
  cursor: pointer;
}
