<mat-card class="mat-elevation-z8 fill-screen table-container calendar-padding width-transition calendar-view"
          [ngClass]="{'calendar-container-with-mini-calendar': miniCalendarOpened}">
  <div class="calendar-header" [ngClass]="{'calendar-header-right-panel-opened': miniCalendarOpened}">
    <div class="calendar-title-container">
      <h3 class="calendar-title">
        <app-icon
          svgIcon="Calendar"
          class="mr-2"
          [hover]="false"
          [stroke]="true"
          [pointer]="false"
        ></app-icon>
        {{ viewDate | calendarDate:(calendarType + 'ViewTitle'):locale }}
      </h3>
    </div>

    <div class="calendar-buttons-container">
      <div class="calendar-buttons">
        <div class="btn-group">
          <div
            class="btn btn-outline-secondary clickable"
            mwlCalendarPreviousView
            [view]="calendarType"
            [(viewDate)]="viewDate">
            <app-icon
              svgIcon="left-arrow-w"
              [primary]="true"
            ></app-icon>
          </div>
          <div
            class="btn btn-outline-secondary clickable"
            mwlCalendarNextView
            [view]="calendarType"
            [(viewDate)]="viewDate">
            <app-icon
              svgIcon="right-arrow-w"
              [primary]="true"
            ></app-icon>
          </div>

        </div>
        <div class="btn-group">
          <div
            class="btn btn-outline-secondary ml-2 mr-4 clickable"
            mwlCalendarToday
            [(viewDate)]="viewDate">
            {{'calendar.header.today' | translate}}
          </div>
        </div>

        <div class="btn-group ml-3">
          <div
            class="btn btn-outline-secondary clickable"
            (click)="setView(CalendarType.Month)"
            [class.active]="calendarType === CalendarType.Month">
            {{'calendar.header.month' | translate}}
          </div>
          <div
            class="btn btn-outline-secondary clickable"
            (click)="setView(CalendarType.Week)"
            [class.active]="calendarType === CalendarType.Week">
            {{'calendar.header.week' | translate}}
          </div>
          <div
            class="btn btn-outline-secondary clickable"
            (click)="setView(CalendarType.Day)"
            [class.active]="calendarType === CalendarType.Day">
            {{'calendar.header.day' | translate}}
          </div>
        </div>

        <div class="btn-group ml-4 activity-img" *ngIf="'CalendarComponent.addTask' | auth:'w'">
          <div class="ml-2 clickable" appTooltip="ADD_PHONE_ACTIVITY">
            <img (click)="openAddSlider($event, activityTypeEnum.PHONE)" src="assets/icons/calendar/phone-activity.svg"/>
          </div>
          <div class="ml-2 clickable" appTooltip="ADD_TASK_ACTIVITY">
            <img (click)="openAddSlider($event, activityTypeEnum.TASK)" src="assets/icons/calendar/task-activity.svg"/>
          </div>
          <div class="ml-2 clickable" appTooltip="ADD_MEETING_ACTIVITY">
            <img (click)="openAddSlider($event, activityTypeEnum.MEETING)"
                 src="assets/icons/calendar/meeting-activity.svg"/>
          </div>
          <div class="ml-2 clickable" appTooltip="ADD_MAIL_ACTIVITY">
            <img (click)="openAddSlider($event, activityTypeEnum.MAIL)" src="assets/icons/calendar/mail-activity.svg"/>
          </div>
        </div>
      </div>
    </div>
    <div class="calendar-share-buttons-container pull-right">
      <div class="calendar-buttons pull-right">
        <div class="btn-group icon-group ml-4">
          <div class="ml-3 clickable" (click)="openShareSlider()" appTooltip="SHARE_CALENDAR">
            <app-icon
              svgIcon="share"
              size="14px"
            ></app-icon>
          </div>

          <div *ngIf="'CalendarComponent.tasks' | auth:'i':true" appTooltip="MORE" class="ml-3 clickable"
               (click)="miniCalendarOpened = !miniCalendarOpened">
              <app-icon
                svgIcon="menu"
                size="22px"
              ></app-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div #calendarContainer class="calendar-container">
    <br/>
    <div>
      <div [ngSwitch]="calendarType">
        <mwl-calendar-month-view
          *ngSwitchCase="CalendarType.Month"
          [viewDate]="viewDate"
          [events]="events"
          [weekStartsOn]="firstDayOfWeek"
          [locale]="locale"
          [cellTemplate]="monthCellTemplate"
          [refresh]="refresh"
          (dayClicked)="openAddSlider($event)"
          (eventTimesChanged)="onDragTimesChanged($event)">
        </mwl-calendar-month-view>
        <mwl-calendar-week-view
          class="week-view"
          *ngSwitchCase="CalendarType.Week"
          [viewDate]="viewDate"
          [events]="events"
          [weekStartsOn]="firstDayOfWeek"
          [locale]="locale"
          [refresh]="refresh"
          (eventTimesChanged)="onDragTimesChanged($event)"
          [snapDraggedEvents]="false"
          (hourSegmentClicked)="openAddSlider($event)"
          (eventClicked)="openSingleEventDialog($event)"
          [hourSegments]="HOUR_SEGMENTS"
          [hourSegmentHeight]="HOUR_SEGMENTS_HEIGHT">
        </mwl-calendar-week-view>
        <mwl-calendar-day-view
          *ngSwitchCase="CalendarType.Day"
          [viewDate]="viewDate"
          [events]="events"
          [locale]="locale"
          [refresh]="refresh"
          [snapDraggedEvents]="false"
          (hourSegmentClicked)="openAddSlider($event)"
          (eventTimesChanged)="onDragTimesChanged($event)"
          (eventClicked)="openSingleEventDialog($event)"
          [hourSegments]="HOUR_SEGMENTS"
          [hourSegmentHeight]="HOUR_SEGMENTS_HEIGHT">
        </mwl-calendar-day-view>
      </div>
    </div>

    <ng-template #monthCellTemplate let-day="day" let-locale="locale">
      <div class="cal-cell-top">
        <div class="day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</div>
        <div class="events-container">
          <div *ngIf="day.events.length > 0 && day.events.length < 4">
            <div class="event"
                 *ngFor="let event of day.events"
                 [style.backgroundColor]="event.color?.secondary"
                 [style.borderColor]="event.color?.primary"
                 [style.color]="event.color?.primary"
                 [class.cal-draggable]="event.draggable"
                 [dropData]="{event: event, draggedFrom: day}"
                 [dragAxis]="{x: event.draggable, y: event.draggable}"
                 (click)="openSingleEventDialogCustom(event, $event)"
                 mwlDraggable
                 dragActiveClass="cal-drag-active">
              <b class="mr-2">{{event?.meta.ownerInitials}}</b>
              <b class=" mr-2" *ngIf="!event.allDay">{{getTime(event.start)}}</b>
              <span class="mr-2">{{event.title}}</span>
            </div>
          </div>

          <div *ngIf="day.events.length > 3">
            <div class="event"
                 *ngFor="let event of day.events.slice(0,2)"
                 [style.backgroundColor]="event.color?.secondary"
                 [style.borderColor]="event.color?.primary"
                 [style.color]="event.color?.primary"
                 [class.cal-draggable]="event.draggable"
                 [dropData]="{event: event, draggedFrom: day}"
                 [dragAxis]="{x: event.draggable, y: event.draggable}"
                 (click)="openSingleEventDialogCustom(event, $event)"
                 mwlDraggable
                 dragActiveClass="cal-drag-active">
              <b class="mr-2">{{event?.meta.ownerInitials}}</b>
              <b class=" mr-2" *ngIf="!event.allDay">{{getTime(event.start)}}</b>
              <span class="mr-2">{{event.title}}</span>
            </div>
            <div class="clickable more-events" (click)="openAllEventsDialog(day.events, $event)">
              +{{day.events.length - 2}} {{'calendar.cell.more' | translate}}
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</mat-card>
<mat-card class="mat-elevation-z8 fill-screen table-container calendar-padding mini-calendar"
          *ngIf="'CalendarComponent.tasks' | auth:'i':true"
          [ngClass]="{'mini-calendar-opened': miniCalendarOpened, 'mini-calendar-closed': !miniCalendarOpened}">

  <div>
    <app-calendar-mini [viewDate]="viewDate" (viewDateChanged)="refreshMainCalendar($event)"
                       [refresh]="refresh" (tasksUsersChanged)="refreshTasks($event)"></app-calendar-mini>
  </div>
</mat-card>

<app-slider #addSlider width="35vw" [title]="'calendar.task.form.addTitle' | translate" key="Calendar.AddSlider" [group]="'taskFormGroup'">
  <app-task-add (eventAdded)="refreshAddedEvent($event)" [slider]="addSlider" [eventInfo]="updatedEventInfo" [activityType]="selectedActivityType"></app-task-add>
</app-slider>

<app-slider #editSlider width="35vw" [title]="'calendar.task.form.editTitle' | translate" key="Calendar.EditSlider" [group]="'taskFormGroup'">
  <app-task-edit (eventDeleted)="deleteFromCalendar($event)" (eventAdded)="refreshEditedEvent($event)" [slider]="editSlider"></app-task-edit>
</app-slider>

<app-slider #shareSlider width="35vw" [title]="'calendar.form.shareTitle' | translate" key="Calendar.ShareSlider">
  <app-calendar-sharing></app-calendar-sharing>
</app-slider>
