@import '~src/styles/colors';
@import "~src/styles/slider";
@import "~src/styles/table";
@import "~src/styles/form";
@import "~src/styles/font-weights";

.calendar-container {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: calc(100vh - 210px);
  position: relative;
  float: left;
  width: 100%;
  transition: width 0.5s ease-in-out;
}

.icon-group {
  display: flex;
  align-items: center;
}

.calendar-container-with-mini-calendar {
  width: calc(100% - 360px);
}

.calendar-icon {
  background-image: url('../../../assets/icons/menu/CalendarBlack.svg');
}

.simple-icon {
  display: inline-block;
  content: ' ';
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
  margin-bottom: -2px;
}

.event {
  font-size: 12px;
  padding-top: 2px;
  padding-bottom: 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 98%;
  margin: 2px auto auto;
  border-radius: 5px;
  padding-left: 5px;
  border: 1px solid;
}

.day-number {
  margin-left: 5px;
  margin-top: 2px;
}

.events-container {
  margin: 0;
  padding: 0;
}

.clickable {
  cursor: pointer;
}

.more-events {
  margin-left: 5px;
  margin-top: 2px;
  font-size: 15px;
}

.mini-calendar {
  width: 320px !important;
  transition: width 0.5s ease-in-out, visibility 0.5s ease-in-out;
  overflow-x: hidden;
  max-height: 100%;
  right: 16px;
}

::ng-deep.mini-calendar * .cal-cell-row {
  height: 35px;
}

::ng-deep.mini-calendar * mwl-calendar-month-cell {
  min-height: 35px !important;
}

::ng-deep.mini-calendar * .cal-day-number {
  margin: 0;
  float: none;
}

::ng-deep.mini-calendar * .cal-month-view .cal-cell-top {
  min-height: 35px !important;
  text-align: center;
}

::ng-deep.mini-calendar * .cal-month-view .cal-day-cell.cal-today .cal-day-number {
  font-size: 1.2em;
}

::ng-deep.mini-calendar * .cal-header {
  display: none;
}

::ng-deep.cal-cell {
  cursor: pointer;
}

::ng-deep.mini-calendar h6 {
  text-align: center;
}

::ng-deep.cal-header {
  font-weight: $Medium !important;
}

::ng-deep.cal-header > b {
  font-weight: $Medium !important;
}

::ng-deep.cal-week-view .cal-time {
  font-weight: $Medium;
}

::ng-deep.cal-week-view .cal-header.cal-today,
::ng-deep.cal-month-view .cal-day-cell.cal-today {
  background-color: $primary;
  color:  $primary-contrast;
}

::ng-deep.cal-week-view .cal-header.cal-today:hover,
::ng-deep.cal-month-view .cal-day-cell.cal-today:hover {
  background-color: $primary;
}

::ng-deep.cal-month-view .cal-cell {
  width: 0;
}

::ng-deep.cal-draggable {
  cursor: pointer !important;
}

::ng-deep.cal-month-view .cal-day-cell.cal-in-month,
::ng-deep.cal-month-view .cal-day-cell.cal-in-month.cal-has-events,
::ng-deep.cal-month-view .cal-cell.cal-day-cell.cal-past.cal-out-month {
  cursor: default;
}

.mini-calendar-opened {
  visibility: inherit;
  width: 20%;
  padding-right: 15px;
  padding-left: 15px;
}


.mini-calendar-closed {
  visibility: hidden;
  width: 0;
}

::ng-deep.not-my-task .cal-event .cal-event-title {
  color: $event-title !important;
}

mwl-calendar-week-view.week-view ::ng-deep.cal-day-headers {
  position: sticky;
  top: 0;
  z-index: 5;
  background-clip: content-box;
  box-shadow: inset 70px 0 $bg-primary;
}

mwl-calendar-week-view.week-view ::ng-deep.cal-header:not(.cal-today) {
  background-color: $bg-primary;
}

.calendar-buttons {
  .btn:hover,
  .btn.active {
    background-color: $primary;
    color:  $primary-contrast !important;

    &::ng-deep.icon {
      fill: #fff;
    }
    
  }

  .btn {
    height: 24px;
    font-size: 10px;
    border-color: $primary;
    color: $primary;
    display: flex;
    align-items: center;

    img {
      margin-top: -2px;
    }
  }
}

.width-transition {
  transition: width 0.5s ease-in-out;
  z-index: 8;
}

.calendar-padding {
  padding: 16px 16px !important;
}

.calendar-title {
  font-size: 24px;

  span {
    margin-right: 10px;
  }
}

::ng-deep .cal-hour {
  margin-right: 1px !important;
  margin-left: 1px !important;
}

.activity-img img {
  height: 18px;
  width: 18px;
}

::ng-deep.calendar-view .cal-week-view .cal-time-events .cal-event {
  min-height: 25px;
}

.calendar-header {
  display: flex;
}

.calendar-buttons-container {
  flex: 1;
  padding-left: 1.5rem;

  .calendar-buttons {
    float: right;
  }
}

.calendar-title-container {
  padding-left: 1.5rem;
}

@mixin small-calendar-title {
  padding-top: 12px;
  padding-bottom: 10px;

  .calendar-title-container {
    position: absolute;
    top: 10px;

    .calendar-title {
      font-size: 12px !important;
    }

    .calendar-icon {
      margin-right: 10px;
      background-size: 12px 12px;
      width: 12px;
      height: 12px;
    }
  }
  .calendar-buttons-container .calendar-buttons {
    float: left !important;
  }
}

@media only screen and (max-width: 1400px) {
  .calendar-header.calendar-header-right-panel-opened {
    @include small-calendar-title;
  }
}

@media only screen and (max-width: 1100px) {
  .calendar-header:not(.calendar-header-right-panel-opened) {
    @include small-calendar-title;
  }
}
