<form [formGroup]="relatedCustomersForm" class="h-100">
  <div class="related-contacts-container">
    <div class="header-container">
      <div class="title-text">
        {{ "customer.relatedContacts.title" | translate }}
      </div>
      <button class="btn-transparent" [matMenuTriggerFor]="menu">
        <app-icon svgIcon="plus" [primary]="true"></app-icon>
      </button>
      <mat-menu
        #menu="matMenu"
        xPosition="before"
        class="customer-related-contact-mat-panel"
      >
        <button
          *ngIf="'RelatedContactsInCustomerDetail.addDirect' | auth: 'w'"
          (click)="addDirectContact()"
          mat-menu-item
          class="dropdown-select-item"
        >
          {{ "customer.relatedContacts.directContact" | translate }}
        </button>
        <button
          *ngIf="'RelatedContactsInCustomerDetail.addIndirect' | auth: 'w'"
          (click)="addIndirectContact()"
          mat-menu-item
          class="dropdown-select-item"
        >
          {{ "customer.relatedContacts.indirectContact" | translate }}
        </button>
      </mat-menu>
    </div>

    <div class="content-container">
      <div
        formArrayName="customers"
        *ngFor="let relation of relatedCustomers; let i = index"
      >
        <div class="customer-grid" [formGroupName]="i">
          <div class="position-relative">
            <mat-form-field>
              <span class="inline">
                <input
                  class="primary-input-text"
                  matInput
                  formControlName="contact"
                />
                <img
                  *ngIf="relation.firstToContact"
                  src="assets/icons/yellow-star.svg"
                />
              </span>
              <mat-placeholder>{{
                "customer.relatedContacts.contact" | translate
              }}</mat-placeholder>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input class="input-text" matInput formControlName="position" />
              <mat-placeholder>{{
                "customer.relatedContacts.position" | translate
              }}</mat-placeholder>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input
                class="input-text"
                matInput
                formControlName="relationType"
              />
              <mat-placeholder>{{
                "customer.relatedContacts.relationType" | translate
              }}</mat-placeholder>
            </mat-form-field>
          </div>
          <div>
            <div class="relation-time-container">
              <div class="date-container">
                <div class="date-container-label">
                  {{ "customer.relatedContacts.start" | translate }}
                </div>
                <mat-form-field>
                  <mat-placeholder>{{
                    "customer.relatedContacts.month" | translate
                  }}</mat-placeholder>
                  <mat-select formControlName="startDateMonth">
                    <mat-option [value]="null" [id]="null">
                      <div class="placeholder-text">
                        {{ "customer.relatedContacts.month" | translate }}
                      </div>
                    </mat-option>
                    <mat-option
                      class="primary-input-text"
                      *ngFor="let month of monthList"
                      [value]="month?.number"
                      [id]="month.number"
                      >{{ month?.name }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>

                <mat-form-field>
                  <mat-placeholder>{{
                    "customer.relatedContacts.year" | translate
                  }}</mat-placeholder>
                  <mat-select formControlName="startDateYear">
                    <mat-option [value]="null">
                      <div class="placeholder-text">
                        {{ "customer.relatedContacts.year" | translate }}
                      </div>
                    </mat-option>
                    <mat-option
                      class="primary-input-text"
                      *ngFor="let year of dateUtil.getYearsListFromNow(-50, -1)"
                      [value]="year"
                      [id]="year"
                      >{{ year }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>

              <div
                class="date-container"
                [ngClass]="{ hidden: !isClosedRelation(i) }"
              >
                <div class="date-container-label">
                  {{ "customer.relatedContacts.end" | translate }}
                </div>
                <mat-form-field>
                  <mat-placeholder>{{
                    "customer.relatedContacts.month" | translate
                  }}</mat-placeholder>
                  <mat-select formControlName="endDateMonth">
                    <mat-option [value]="null">
                      <div class="placeholder-text">
                        {{ "customer.relatedContacts.month" | translate }}
                      </div>
                    </mat-option>
                    <mat-option
                      class="primary-input-text"
                      *ngFor="let month of monthList"
                      [value]="month?.number"
                      >{{ month?.name }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>

                <mat-form-field>
                  <mat-placeholder>{{
                    "customer.relatedContacts.year" | translate
                  }}</mat-placeholder>
                  <mat-select formControlName="endDateYear">
                    <mat-option [value]="null" [id]="null">
                      <div class="placeholder-text">
                        {{ "customer.relatedContacts.year" | translate }}
                      </div>
                    </mat-option>
                    <mat-option
                      class="primary-input-text"
                      *ngFor="let year of dateUtil.getYearsListFromNow(-50, -1)"
                      [value]="year"
                      >{{ year }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <div *ngIf="isOpenCloseDisabled(i); else openCloseDropdown">
                <div *ngIf="!isClosedRelation(i)" class="ongoing-text">
                  {{ "customer.relatedContacts.ongoing" | translate }}
                </div>
                <div *ngIf="isClosedRelation(i)" class="closed-text">
                  {{ "customer.relatedContacts.closed" | translate }}
                </div>
              </div>
              <ng-template #openCloseDropdown>
                <mat-form-field>
                  <mat-select
                    formControlName="isClosed"
                    [className]="
                      isClosedRelation(i) ? 'closed-text' : 'ongoing-text'
                    "
                  >
                    <mat-option [value]="false">
                      <div class="primary-input-text">
                        {{ "customer.relatedContacts.ongoing" | translate }}
                      </div>
                    </mat-option>
                    <mat-option [value]="true">
                      <div class="primary-input-text">
                        {{ "customer.relatedContacts.closed" | translate }}
                      </div>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </ng-template>
            </div>
            <mat-error
              *ngIf="customersFormArray.at(i).hasError('chronologyDateError')"
            >
              {{
                "contacts.details.newRelatedCustomer.dateChronologyError"
                  | translate
              }}
            </mat-error>
            <mat-error
              *ngIf="customersFormArray.at(i).hasError('dependentFieldError')"
            >
              {{
                "contacts.details.newRelatedCustomer.dependentFieldError"
                  | translate
              }}
            </mat-error>
          </div>
          <div class="note-box">
            <div class="notes-header">
              {{ "contacts.details.tabs.notes" | translate }}
            </div>
            <textarea
              formControlName="note"
              class="form-control text-area text-area-size"
            >
            </textarea>
          </div>
          <div *ngIf="!relation?.active">
            <app-icon
              svgIcon="option-dots"
              [hover]="false"
              [matMenuTriggerFor]="menu"
              (click)="$event.stopPropagation()"
              appTooltip="MORE"
            ></app-icon>
            <mat-menu #menu="matMenu" xPosition="before">
              <button
                *ngIf="'RelatedContactsInCustomerDetail.delete' | auth: 'w'"
                (click)="tryDelete(relation?.id)"
                mat-menu-item
              >
                <app-icon
                  svgIcon="trash"
                  [hover]="false"
                  size="16px"
                ></app-icon>
                {{ "customer.relatedContacts.delete" | translate }}
              </button>
            </mat-menu>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<app-slider
  #addDirectContactLinkSlider
  width="33vw"
  group="sharedCustomerForm"
  [title]="'customer.relatedContacts.addDirectContact.title' | translate"
>
  <app-add-direct-contact
    [customerId]="_customerId"
    [slider]="addDirectContactLinkSlider"
    (newContactAdded)="getRelatedContacts()"
  ></app-add-direct-contact>
</app-slider>

<app-slider
  #addIndirectContactLinkSlider
  width="33vw"
  group="sharedCustomerForm"
  [title]="'customer.relatedContacts.addIndirectContact.title' | translate"
>
  <app-add-indirect-contact
    [customerId]="_customerId"
    [slider]="addIndirectContactLinkSlider"
    (newRelationAdded)="getRelatedContacts()"
  ></app-add-indirect-contact>
</app-slider>
