@import "~src/styles/colors";

::ng-deep .dx-list-item-content {
  padding-right: 0px !important;
}

.module-item {
  border-bottom: .5px solid $border-primary;
}

.detail-title {
  font-weight: bold;
  border-bottom: .5px solid $border-primary;
}


.selected-info {
  background-color: $primary;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  padding: 8px;
}

.expansion-panel {
  max-height: calc(100vh - 420px);
  overflow-y: auto;
}
