<div class="list-container pb-3 pl-1" *ngIf="categories">
  <div class="p-2">

    <form [formGroup]="profileForm">
      <mat-form-field class="w-100">
        <input matInput
               [placeholder]="'permissions.profile.form.profileId' | translate"
               formControlName="id"
               (ngModelChange)="profileSaveToEmit.id = $event">
      </mat-form-field>
      <mat-form-field class="w-100">
        <input matInput
               [placeholder]="'permissions.profile.form.profileName' | translate"
               (ngModelChange)="profileSaveToEmit.name = $event"
               formControlName="name"
               required>
        <mat-error
          *ngIf="profileForm.get('name').hasError('required')">{{'permissions.profile.form.profileNameRequired' | translate}}</mat-error>
        <mat-error *ngIf="profileForm.get('name').hasError('whitespace')">
          {{'sharedValidators.whitespace' | translate}}
        </mat-error>
        <mat-error *ngIf="profileForm.get('name').hasError('maxlength')">
          {{'sharedValidators.valueTooLong' | translate}}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="w-100">
        <input matInput
               [placeholder]="'permissions.profile.form.profileDescription' | translate"
               (ngModelChange)="profileSaveToEmit.description = $event"
               formControlName="description">
        <mat-error *ngIf="profileForm.get('description').hasError('maxlength')">
          {{'sharedValidators.valueTooLong' | translate}}
        </mat-error>
      </mat-form-field>
    </form>

  </div>

  <div class="row overflow-y with-title">
    <mat-accordion class="w-100  expansion-panel">

      <mat-expansion-panel *ngFor="let category of (categories | sortProperty:'id':true)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{category.name | translate}}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-accordion class="w-100">

          <mat-expansion-panel
            *ngFor="let modulePermission of (groupedList.get(category.id) | sortProperty:'module.id':true | consoleLog:'Module Permission')"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{modulePermission.module.name | translate}}
              </mat-panel-title>
              <mat-panel-description>
                <mat-checkbox color="primary" [checked]="modulePermission.all" (change)="checkCheckboxInModule('all', modulePermission, $event)" (click)="$event.stopPropagation()">{{'permissions.profile.form.moduleAll' | translate}}</mat-checkbox>
                <mat-checkbox color="primary" class="ml-2" [checked]="modulePermission.view" (change)="checkCheckboxInModule('view', modulePermission, $event)" (click)="$event.stopPropagation()">{{'permissions.profile.form.moduleView' | translate}}</mat-checkbox>
                <mat-checkbox color="primary" class="ml-2" [checked]="modulePermission.create" (change)="checkCheckboxInModule('create', modulePermission, $event)" (click)="$event.stopPropagation()">{{'permissions.profile.form.moduleCreate' | translate}}</mat-checkbox>
                <mat-checkbox color="primary" class="ml-2" [checked]="modulePermission.edit" (change)="checkCheckboxInModule('edit', modulePermission, $event)" (click)="$event.stopPropagation()">{{'permissions.profile.form.moduleEdit' | translate}}</mat-checkbox>
                <mat-checkbox color="primary" class="ml-2" [checked]="modulePermission.delete" (change)="checkCheckboxInModule('delete', modulePermission, $event)" (click)="$event.stopPropagation()">{{'permissions.profile.form.moduleDelete' | translate}}</mat-checkbox>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div *ngIf="modulePermissionsContain(modulePermission, true)">
              <p class="detail-title ml-1">{{'permissions.profile.form.fields' | translate}}</p>
              <div class="row ml-4 mb-3">
                <span
                  class="selected-info"
                  [ngStyle]="{backgroundColor: '#000'}"
                ></span>
                <span class="ml-2">{{'permissions.profile.form.permissionInvisibleInfo' | translate}}</span>
                <span
                  class="selected-info ml-2"
                  [ngStyle]="{backgroundColor: '#F0443E'}"
                ></span>
                <span class="ml-2">{{'permissions.profile.form.permissionReadonlyInfo' | translate}}</span>
                <span
                  class="selected-info ml-2"
                  [ngStyle]="{backgroundColor: '#2977FF'}"
                ></span>
                <span class="ml-2">{{'permissions.profile.form.permissionWriteInfo' | translate}}</span>
              </div>
              <div class="row">
                <div
                  class="col-md-4"
                  *ngFor="let permission of ((modulePermission.permissions | filterProperty:'webControl.type':'FIELD':true) | sortProperty:'webControl.id':true)"
                >
                  <app-permission-switch
                    [conf]="conf"
                    [value]="permission.state"
                    (valueChange)="permissionChange(permission, $event)"
                    [title]="permission.webControl.name | translate"
                    [readonly]="readonly || permission.webControl.required"
                  ></app-permission-switch>
                </div>
              </div>
            </div>

            <div *ngIf="modulePermissionsContain(modulePermission, false)">
              <p class="detail-title ml-1 mt-2">{{'permissions.profile.form.tools' | translate}}</p>
              <div class="row ml-4 mb-3">
                <span
                  class="selected-info"
                  [ngStyle]="{backgroundColor: '#000'}"
                ></span><span class="ml-2">{{'permissions.profile.form.permissionInactiveInfo' | translate}}</span>
                <span
                  class="selected-info ml-2"
                  [ngStyle]="{backgroundColor: '#2977FF'}"
                ></span><span class="ml-2">{{'permissions.profile.form.permissionActiveInfo' | translate}}</span>
              </div>
              <div class="row">
                <div
                  class="col-md-4"
                  *ngFor="let permission of ((modulePermission.permissions | filterProperty:'webControl.type':'TOOL':true) | sortProperty:'webControl.id':true)"
                >
                  <app-permission-switch
                    [conf]="actionConf"
                    [value]="permission.state"
                    (valueChange)="permissionChange(permission, $event)"
                    [title]="permission.webControl.name | translate"
                    [readonly]="readonly || permission.webControl.required"
                  ></app-permission-switch>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-expansion-panel>


    </mat-accordion>
  </div>
</div>
