<div class="activity-description" [class.margin-top]="isMarginTop">
  <div *ngIf="!loading; else spinner">
    <ng-container
      *ngTemplateOutlet="activityDescription; context: { data: data, margin: !!associations.length }"
    ></ng-container>

    <ng-container
      class="associations"
      *ngTemplateOutlet="activityDescription; context: { data: associations }"
    ></ng-container>
  </div>
</div>

<ng-template #spinner>
  <div class="loading">
    <mat-spinner diameter="64"></mat-spinner>
  </div>
</ng-template>

<ng-template #activityDescription let-data="data" let-margin="margin">
  <div class="description" [class.margin]="margin" *ngIf="data.length">
    <div class="field" *ngFor="let item of data">
      <div class="label">
        {{
          "dashboard.widgets.calendar.descriptionFields." + item.field
            | translate
        }}:
      </div>
      <div class="text">{{ item.value }}</div>
    </div>
  </div>
</ng-template>
