@import "~src/styles/colors";
@import "~src/styles/font-weights";
@import "~src/styles/icons";

.activity-description {
  &.margin-top {
    margin-top: 12px;
  }
  .description {
    display: flex;
    flex-direction: column;
    &.margin {
      margin-bottom: 16px;
    }
    .field {
      display: flex;
      font-size: 12px;
      .label {
        word-break: break-word;
        margin-right: 4px;
        color: $text-secondary;
        font-weight: $SemiBold;
      }
      .text {
        flex: 1;
        word-break: break-word;
        color: $text-title;
      }
    }
  }
}

.loading {
  min-height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
