<div class="contact-gdpr" *ngIf="!loading">
  <mat-accordion *ngIf="'ContactGdprComponent.shareGdpr' | auth:'i':true">
    <mat-expansion-panel class="share-gdpr">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="title">{{'contacts.details.gdpr.shareForm' | translate}}</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="share-gdpr-content">
        <div class="share-gdpr-title">
          {{'contacts.details.gdpr.shareGdprTitle' | translate}}
        </div>

        <mat-accordion class="share-gdpr-list">
          <mat-expansion-panel *ngFor="let gdprShareDto of gdprShareDtoList" class="share-gdpr-item" #expansionPanel>
            <mat-expansion-panel-header>
              <mat-panel-title>
              <span class="gdpr-slider-toggle">
                <mat-slide-toggle [(ngModel)]="gdprShareDto.checked" color="primary"
                                  [disabled]="'ContactGdprComponent.shareGdpr' | auth:'w':true"
                                  (click)="$event.stopPropagation()"></mat-slide-toggle>
              </span>
                <span class="panel-title">
                  {{gdprShareDto.type.name}}
                  <div class="title-second-line" *ngIf="!gdprShareDto.approve">-</div>
                  <div class="title-second-line" *ngIf="gdprShareDto.approve">
                    {{gdprShareDto.approve.gdprStatus.name}} |
                    {{gdprShareDto.approve.gdprApproveWay.name}} |
                    {{getUserFullNameById(gdprShareDto.approve.changedBy)}} |
                    {{gdprShareDto.approve.modified | formatDate}}
                  </div>
                </span>
              </mat-panel-title>
              <span class="show-more"
                    *ngIf="!expansionPanel.expanded">{{'contacts.details.gdpr.expand' | translate}}</span>
              <span class="show-more"
                    *ngIf="expansionPanel.expanded">{{'contacts.details.gdpr.collapse' | translate}}</span>
            </mat-expansion-panel-header>
            <div class="panel-description">
              {{gdprShareDto.type.description}}
            </div>
          </mat-expansion-panel>
        </mat-accordion>

        <div class="share-gdpr-footer">
          {{'contacts.details.gdpr.shareGdprFooter' | translate}}

          <button class="button-medium float-right small-button" color="primary" mat-raised-button  *ngIf="'ContactGdprComponent.shareGdpr' | auth:'w'"
                  (click)="saveGdprTypesSentToContact()">{{'contacts.details.gdpr.saveChanges' | translate}}</button>
        </div>

      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <div class="obtain-token" *ngIf="tokenInfo && 'ContactGdprComponent.viewGdprLink' | auth:'i':true">
    <div
      class="part-1">{{'contacts.details.gdpr.obtainFormToken1' | translate:{date: (tokenInfo.tokenExpirationDate | formatDate)} }}</div>
    <div class="part-2">{{'contacts.details.gdpr.obtainFormToken2' | translate}}</div>
    <span class="copy-link" ngxClipboard [cbContent]="gdprFormLink" (cbOnSuccess)="showCopyTooltip()">
      <img src="assets/icons/link.svg"/>{{'contacts.details.gdpr.copyLink' | translate}}
      <span class="placeholder-for-tooltip ml-2" [tooltip]="'contacts.details.gdpr.copied' | translate"
            #copyTooltip="bs-tooltip" placement="right"></span>
    </span>
    <span class="send-by-mail" *ngIf="mailConfig" (click)="sendByMail()">
      {{'contacts.details.gdpr.sendByMail' | translate}}
    </span>
  </div>
  <div class="obtain-token" *ngIf="!tokenInfo && 'ContactGdprComponent.createGdprLink' | auth:'w'">
    <div class="part-1">{{'contacts.details.gdpr.tokenNotExist' | translate}}</div>
    <div class="copy-link" (click)="createLink()">{{'contacts.details.gdpr.createToken' | translate}}</div>
  </div>


  <mat-accordion *ngIf="'ContactGdprComponent.manualChangeGdpr' | auth:'i':true">
    <mat-expansion-panel class="gdpr-type-item" *ngFor="let approve of approvals">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="title">{{approve.gdprType.name}}</span>
          <span class="gdpr-trash-icon" (click)="$event.stopPropagation(); tryRemoveApprove(approve)"><img
            src="assets/icons/trash_icon-blue.svg" *ngIf="'ContactGdprComponent.shareGdpr' | auth:'w'" appTooltip="DELETE"/></span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="gdpr-type-content">
        <mat-form-field class="gdpr-type-form no-underline">
          <mat-select [(ngModel)]="approve.gdprStatusId" (ngModelChange)="saveChanges(approve)"
                      [disabled]="'ContactGdprComponent.manualChangeGdpr' | auth:'w':true"
                      [placeholder]="'contacts.details.gdpr.placeholder.status' | translate">
            <mat-option *ngFor="let status of gdprStatuses" [value]="status.id">{{status.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="gdpr-type-form no-underline calendar-form">
          <input class="no-underline" matInput [ngModel]="approve.modified | formatDate" disabled [placeholder]="'contacts.details.gdpr.placeholder.modified' | translate"/>
          <mat-datepicker-toggle matSuffix class="custom-calendar-icon"></mat-datepicker-toggle>
        </mat-form-field>
        <mat-form-field class="gdpr-type-form no-underline">
          <mat-select [(ngModel)]="approve.gdprApproveWayId" (ngModelChange)="saveChanges(approve)"
                      [disabled]="'ContactGdprComponent.manualChangeGdpr' | auth:'w':true"
                      [placeholder]="'contacts.details.gdpr.placeholder.agreeWay' | translate">
            <mat-option *ngFor="let agreeWay of gdprAgreeWays" [value]="agreeWay.id">{{agreeWay.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="gdpr-type-form no-underline">
          <input class="no-underline" matInput [ngModel]="getUserFullNameById(approve.changedBy)" disabled [placeholder]="'contacts.details.gdpr.placeholder.changedBy' | translate"/>
        </mat-form-field>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

</div>

<mat-spinner *ngIf="loading" class="token-spinner" color="primary"></mat-spinner>

<app-slider #newMailSlider [title]="'contacts.details.gdpr.mailSliderTitle' | translate" key="GdprComponent" width="35vw">
  <app-new-mail-slider [ignoreGdpr]="true" [email]="contactEmail" [content]="mailConfig?.emailContent" [subject]="mailConfig?.emailSubject" [slider]="newMailSlider"></app-new-mail-slider>
</app-slider>
