@import "~src/styles/font-weights";
@import "~src/styles/colors";

.contact-gdpr {
  padding-top: 15px;
}

.share-gdpr {
  box-shadow: none !important;

  .title {
    text-align: left;
    font: $Medium 10px/16px Poppins;
    letter-spacing: 1.2px;
    color: $primary;
    text-transform: uppercase;
  }

  ::ng-deep .mat-expansion-indicator {
    height: 26px;
    margin-top: -2px;
  }

  ::ng-deep .mat-expansion-indicator::after {
    color: $primary !important;
  }

  ::ng-deep .mat-expansion-panel-body {
    font-size: 13px;
  }
}


@media only screen and (max-width: 1400px) {
  .share-gdpr-content {
    width: 100% !important;
  }
  .gdpr-type-item .gdpr-type-content {
    width: 100% !important;
  }
}

.share-gdpr-content {
  margin-top: -12px;
  width: 70%;

  .share-gdpr-title {
    color: $text-title;
    font-size: 13px;
    font-weight: $Regular;
    margin-bottom: 20px;
  }

  .share-gdpr-footer {
    color: $text-secondary;
    font-size: 13px;
    font-weight: $Medium;
    margin-top: 14px;
    line-height: 32px;
  }
}

.small-button {
  height: 32px;
  line-height: 32px;
}

.obtain-token {
  color: $text-title;
  font-size: 13px;
  font-weight: $Regular;
  padding-top: 14px;
  border-top: 1px solid $border-secondary;
  margin: 6px 24px 12px;

  .send-by-mail {
    color: $primary;
    font-weight: $Medium;
    margin-top: 4px;
    cursor: pointer;
    margin-left: 40px;
  }
  .copy-link {
    color: $primary;
    font-weight: $Medium;
    margin-top: 4px;
    cursor: pointer;

    img {
      margin-right: 8px;
    }
  }
}


@media only screen and (max-width: 760px) {
  .share-gdpr-item .show-more {
    display: none;
  }
}

.share-gdpr-item {
  box-shadow: none !important;

  .panel-title {
    color: $text-title;
    margin-left: 1em;
    font-size: 13px;

    .title-second-line {
      color: $text-secondary;
      font-size: 11px;
      font-weight: $Medium;
      line-height: 12px;
    }
  }

  .panel-description {
    color: $text-title;
    margin-left: 1em;
    font-size: 13px;
    font-weight: $Regular;
  }

  .show-more {
    float: right;
    color: $primary;
    cursor: pointer;
    margin-right: 1em;
    font-size: 13px;
    line-height: 25px;
  }

  ::ng-deep .mat-checkbox-layout {
    margin-top: 2px;
  }

  ::ng-deep .mat-expansion-indicator {
    height: 26px;
    margin-top: -6px;
    margin-right: 10px;
  }

  ::ng-deep .mat-expansion-panel-body {
    font-size: 13px;
  }

  ::ng-deep .mat-expansion-panel-header {
    padding: 0 !important;
  }

  ::ng-deep.gdpr-slider-toggle {
    .mat-slide-toggle-bar {
      height: 18px;
      width: 34px;
    }

    .mat-slide-toggle-thumb {
      width: 12px;
      height: 12px;
      margin-top: 6px;
      margin-left: 2px;
      background-color: $bg-primary !important;
    }

    .mat-slide-toggle-ripple {
      display: none;
    }

    .mat-slide-toggle.mat-primary .mat-slide-toggle-bar {
      background-color: $border-secondary !important;
    }

    .mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-bar {
      background-color: #3ed3a3 !important;
    }
  }
}

.token-spinner {
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  position: absolute;
}

.gdpr-type-item {
  box-shadow: none !important;

  .title {
    text-align: left;
    font: $Medium 10px/16px Poppins;
    letter-spacing: 1.2px;
    color: $primary;
    text-transform: uppercase;
  }

  ::ng-deep.mat-content {
    flex: inherit !important;
  }

  ::ng-deep .mat-expansion-indicator {
    height: 26px;
    margin-top: -2px;
  }

  ::ng-deep .mat-expansion-indicator::after {
    color: $primary !important;
  }

  ::ng-deep .mat-expansion-panel-body {
    font-size: 13px;
  }

  .gdpr-trash-icon {
    position: absolute;
    right: 18px;
    margin-top: -4px;

    img {
      width: 22px;
    }
  }

  ::ng-deep .no-underline .mat-form-field-underline {
    background: no-repeat;
  }

  .calendar-form {
    margin-top: -4px;
  }

  .gdpr-type-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 70%;

    .gdpr-type-form {
      padding-right: 3em;
      flex-basis: 50%;
      width: 100%;
    }
  }
}

::ng-deep .custom-calendar-icon .mat-button-wrapper > svg {
  display: none;
}

::ng-deep .custom-calendar-icon .mat-button-wrapper::after {
  content: url("~src/assets/icons/common/colors/dark/calendar-dark.svg");
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  right: 0;
}

::ng-deep[theme="dark"] .custom-calendar-icon .mat-button-wrapper::after {
  content: url("~src/assets/icons/common/colors/light/calendar-light.svg");
}
