<div class="table-header-container">
      <span>
        <span class="table-header-primary">{{'license.form.paymentList.title' | translate}}</span>
        <span class="table-header-note">({{license?.payments?.length}})</span>
      </span>
  <div>
    <button class="add-icon" (click)="newPayment()"></button>
  </div>
</div>
<div class="row overflow-y with-title">
  <table [dataSource]="paymentSubject" class="col-md-12 row-collapsed" mat-table>
    <ng-container matColumnDef="paymentDate">
      <th *matHeaderCellDef mat-header-cell>{{'license.form.paymentList.paymentDate' | translate}}</th>
      <td *matCellDef="let payment" mat-cell>{{payment.paymentDate | formatDate}}</td>
    </ng-container>
    <ng-container matColumnDef="licenseType">
      <th *matHeaderCellDef mat-header-cell>{{'license.form.paymentList.licenseType' | translate}}</th>
      <td *matCellDef="let payment" mat-cell>{{('license.list.type.' + (payment.licenseType | lowercase)) | translate}}</td>
    </ng-container>
    <ng-container matColumnDef="numberOfDays">
      <th *matHeaderCellDef mat-header-cell>{{'license.form.paymentList.numberOfDays' | translate}}</th>
      <td *matCellDef="let payment" mat-cell>{{payment.numberOfDays}} {{'license.form.paymentList.days' | translate}}</td>
    </ng-container>
    <ng-container matColumnDef="numberOfUsers">
      <th *matHeaderCellDef mat-header-cell>{{'license.form.paymentList.numberOfUsers' | translate}}</th>
      <td *matCellDef="let payment" mat-cell>{{payment.numberOfUsers}}</td>
    </ng-container>
    <ng-container matColumnDef="expiredDate">
      <th *matHeaderCellDef mat-header-cell>{{'license.form.paymentList.expiredDate' | translate}}</th>
      <td *matCellDef="let payment" mat-cell>{{payment.expiredDate | formatDate}}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th *matHeaderCellDef mat-header-cell></th>
      <td *matCellDef="let payment" mat-cell>
        <button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()" class="dots-icon-light"></button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button class="dropdown-select-item" mat-menu-item (click)="editPayment(payment.id)">
            <img class="action-icon"
                 src="assets/icons/icons/edit_icon.svg"/>{{'license.list.edit' | translate}}
          </button>
          <button class="dropdown-select-item" mat-menu-item (click)="deletePayment(payment.id)">
            <img class="action-icon"
                 src="assets/icons/icons/trash_icon.svg"/>{{'license.list.delete' | translate}}
          </button>
        </mat-menu>
      </td>
    </ng-container>
    <tr *matHeaderRowDef="columns; sticky: true" mat-header-row></tr>
    <tr *matRowDef="let myRowData; columns: columns" mat-row
        (click)="editPayment(myRowData.id)"
        class="clickable"></tr>
  </table>
</div>
